[2018-10-22 03:07] LiangZugeng commented on #194
@danielpalme please see the analysis result file at the bottom. I also attached the refreshed screenshots.

In Update method:
<img width="1023" alt="image" src="https://user-images.githubusercontent.com/20870130/47276523-19665300-d5ea-11e8-8617-fc9a9c29ad67.png">

EF Core async queries were reported to be covered for only 1 branch:
<img width="1018" alt="image" src="https://user-images.githubuserc

[2018-10-22 18:29] danielpalme commented on #194
@LiangZugeng
The coverage report is handled correctly handled by ReportGenerator.
Here are the corresponding branches for the line 818, 828, 885, 892, 894 and 895:
![coverage](https://user-images.githubusercontent.com/859606/47311036-075fd100-d639-11e8-8481-29d432e3c775.png)

[2018-10-22 18:49] Looking-at-the-ballpark opened #222 "Different behavior on OS X from Windows/Linux in ModuleTrackerTemplate.cs->UnloadModule()"
After fighting the differences between OS X and Windows, I have found why the hits file is never generated on Windows. The AppDomain's DomainUnload event or the ProcesExit event are not triggered.

By simply adding a division by zero inside this method, I can cause the Process instance created in line 51 of Program.cs (coverlet.console) to return ExitCode = 1 on OS X. But in Windows it returns Exi

[2018-10-22 19:11] Looking-at-the-ballpark commented on #222
I am using commit 34c4e505d31570ba523d6209514a62b7c9806ee8 (head on friday)

[2018-10-23 08:33] pape77 opened #223 "Instrumenting non used assemblies produces non existing branches (whith hits =0) in branch coverage. Lowering coverage when using /p:MergeWith"
@tonerdo When calculating the coverage from an assembly that's referenced in another test project, I get some differences on branch coverage than when i run the tests for the actual test project that is ment to test that assembly

[code]

But separately:

[code]

[code]

[code]

So my idea was to get:

[code]

Just noticed ```ProjectName.Application``` detects some branches of the ```ProjectName.D

[2018-10-23 10:57] pape77 commented on #223
Just noticed ProjectName.Application detects some branches of the ProjectName.Data that ProjectName.Data does not detect when running the coverage for itself alone.

Is this normal?

[2018-10-23 12:29] avivka commented on #33
Confirmed, I've got Failed to resolve assembly: 'Microsoft.Extensions.Logging.Abstractions error and running dotnet test like
dotnet test /p:CollectCoverage=true /p:CopyLocalLockFileAssemblies=true solved my issue, too.

[2018-10-23 12:51] ppumkin commented on #110
Hello everyone on the thread.
A user of PrestoCoverage which uses Coverlet reported that he has issues while running the tests with Moq.

This error message appears.
`Could not load file or assembly "Moq" Strong name signature could not be verified. The assembly may have been tampered with, or it was delay signed but not fully signed with the correct private key`

Now all I did was a search on the

[2018-10-23 14:14] pape77 commented on #223
I think it may have to do with this:
https://github.com/danielpalme/ReportGenerator/issues/9

[2018-10-23 15:13] pape77 commented on #223
if the answer to my previous comment is yes, it's possible for that to happen.
Then I think I need something like this change in the ```Coverage.cs``` but to be configurable:

[code]
notice the ```isFirst``` variable, to only instrument the main dll of each test project without it's references

[2018-10-23 15:28] Looking-at-the-ballpark commented on #222
Instrumenter -> ReplaceInstructionTarget(Instruction instruction, Instruction oldTarget, Instruction newTarget) -> In this method the old instruction target are never replaced. I can't hit the break points set in line 363 or 372 under Windows/Linux. In OS X works no problem.

This means the instrumented code is never injected.

dotnet --version = 2.1.402 in Windows, 2.1.400 in Linux, 2.1.03 in OS

[2018-10-23 16:41] jchesshir opened #224 "MSBuild coveragexml format"
I would like to be able to import the Coverlet output into Visual Studio Enterprise (VSE) to get the same view of coverage.  I'm finding differences in the percentages in Coverlet and VSE, so it would be nice to have a VSE view of what Coverlet is actually seeing.

VSE can export its coverage in the form of a coveragexml, which I hope (fingers-crossed) would be fairly easy to replicate so that Cov

[2018-10-23 17:36] Looking-at-the-ballpark commented on #222
By cleaning the temp folder of previous dlls I managed to get code instrumented. But I am back at the point 1: From OS X the writes to console from RecordHit(...)  succeed. From Windows it hoses the whole test run

[2018-10-23 21:18] pape77 commented on #203
Released

[2018-10-23 21:18] #203 closed

[2018-10-24 16:15] pedrofmanuel-sky commented on #210
I'm also facing this, but **consistently**, when dealing with a huge number of testcases (~17k), i.e. in our nightly builds (where more complete testing is done).

In regular use cases, I don't see this happening.

My use case:
I'm calling coverlet, in **dotnet test** (via cake's DotNetCoreTest)

Error Line:
[code]

More Detailed:
[code]

[2018-10-24 22:29] obtuse-whoosh commented on #203
Where was this released? I'm not seeing a new version on [the NuGet feed](https://www.nuget.org/packages/coverlet.msbuild/). Last version is `2.3.1`, 5 days before this was merged. Can we get an updated package please?

[2018-10-25 05:58] pape77 commented on #203
I use the last pkg and it merges correctly now. Still i made a pr for correcting some bad branch coverage output (see #225) and it was merged but not released, the feature for not failing when merging and file doesn't exist (see #220)

[2018-10-25 08:57] ppumkin commented on #210
Yea it looks like coverlet is trying to open the file.. and its not there any more.
Again the common thing here is a CI pipeline.
Can you run this locally on your machine using dotnet test iwth coverlet?

[2018-10-25 17:02] obtuse-whoosh commented on #203
I'm waiting on #220 to be released

[2018-10-25 17:04] pape77 commented on #203
@obtuse-whoosh and then you probably have the issue at #225 xD

[2018-10-25 17:11] obtuse-whoosh commented on #203
🤔 I'm not sure about that. The issue I'm having is the error that crops up while running a test with the `MergeWith` parameter when the output file doesn't exist yet. Specifically the issue solved by #220. #225 doesn't affect my use case 🤷

[2018-10-25 17:14] pape77 commented on #203
@obtuse-whoosh had you check that your merge is not decreasing your branch coverage as stated in the issue i opened and referenced in #225?
If you use different test projects that test projects that reference each other, there's a chance that happens to you too.
Merging is properly done, but branch coverage percentage won't be accurate and different than when testing each project separately.

[2018-10-25 17:15] obtuse-whoosh commented on #203
Wow  that's something I missed, thanks for the info @pape77 . Do you know when @tonerdo will release these changes?

[2018-10-25 17:33] pape77 commented on #203
@obtuse-whoosh no idea. Hopefully my pr will get merged first.
Then we have to wait for a release 😅

[2018-10-25 23:19] obtuse-whoosh opened #226 "Add support for TeamCity using service messages"
I've noticed that TeamCity does not support any of the output formats currently offered by this tool and the [ReportGenerator](https://github.com/danielpalme/ReportGenerator) tool. It would be a simple thing to add some support for writing TeamCity service messages out to the console, since we already print some statistics.

**Some Statistics that are easily supported:**

| TeamCity Statistic Key

[2018-10-26 02:52] obtuse-whoosh commented on #226
BTW Reptarsrage is my other account, and the PR for this is #227

[2018-10-26 03:17] tonerdo commented on #222
@Looking-at-the-ballpark, what runtimes (and versions) are you running Coverlet on?

[2018-10-26 04:49] JeremyTCD opened #228 "Process Cannot Access File"
## System
Windows 10

## Coverlet.MSBuild Versions
2.3.1, 2.3.0 (the issue does not occur if I use version 2.2.1).

## Test Framework
xUnit 2.4.0.

## Issue Description
Upon running `dotnet test /p:CollectCoverage=true` for any test project, I get the following output:
[code]

I've created a [minimal reproduction](https://github.com/JeremyTCD/IssueReproduction.Coverlet.ProcessCannotAccessFile) wit

[2018-10-26 07:40] ppumkin commented on #210
So as I thought it is a CI related issue. Its not the build or coverlet problem it is that CI starts to cleanup too quickly.
Please tell us more about how your CI is setup, which platform etc.

The next step of problem elimination is to manually run it on the CI Agent.

If it is AzureDevops can you should be able to get console access to your build agent and try and run the pipeline commands manua

[2018-10-26 08:56] pape77 commented on #223
@tonerdo I'll try to explain better:

```ProjectName.Api``` references ```ProjectName.Application``` and ```ProjectName.Data```

```ProjectName.Application``` references ```ProjectName.Data```

```ProjectName.Data``` doesn't reference any of the other two projects

I named my projects ```ProjectName.X.Tests``` where X is the corresponding project that I want to test.
In these test projects I only

[2018-10-26 09:33] JeremyTCD commented on #228
Updated .Net Core SDK to 2.1.403. Coverlet works fine now. Great tool!

[2018-10-26 09:33] #228 closed

[2018-10-26 09:39] pape77 commented on #223
In when trying to solve this (pr #225) i found a comment in the code that called my attention

In ```Coverage.cs``` line 169 :
``` // File not instrumented, or nothing in it called.  Warn about this?```
So when nothing in it is called, it's still instrumented and included in coverage.json, this is what i want to avoid, because if would be ok if it didn't pollute coverage, but since it does and we

[2018-10-26 09:45] tsleegers opened #229 "ExcludeFromCodeCoverage ignore above properties"
### Description

When excluding a propety from code coverage using de ExcludeFromCodeCoverage attribute this is ignored in the coverage result.

### Repro steps

Example code:
[code]

All the above situations are marked as missing test coverage.

### Expected behavior

The properties are marked as covered.

### Actual behavior

The properties are not marked as missing code coverage.

### Known wor

[2018-10-26 18:55] Looking-at-the-ballpark commented on #222
@tonerdo:

Thanks a lot! This is what "dotnet --info" throws on OS X:

 Version:   2.1.302
 Commit:    9048955601

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.13-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.302/

Host (useful for support):
  Version: 2.1.2
  Commit:  811c3ce6c0

.NET Core SDKs installed:
  2.1.4 [/usr/local/share/d

[2018-10-27 18:08] Cyberboss commented on #210
A potential workaround is to invoke bash and `sync` after

i.e.
[code]

[2018-10-27 20:22] andrewtyped opened #230 "Coverlet fails with "Index was out of range" when assembly under test has no public methods"
This is related to @csharpsi 's and @vikasillumina 's comments in #179 . Coverlet fails with the index out of range error when the assembly under test (not the test assembly itself) has no public methods. Adding a single public method to the assembly under test allows coverlet's report generation to succeed.

I have a minimal repository at https://github.com/andrewtyped/Coverlet.EmptyProjectIssue

[2018-10-29 15:13] tliebl opened #231 "coverlet fails when using Moq"
I have a couple projects that use coverlet. The ones that do not use Moq work fine, but the one I have using Moq throws errors when running the code coverage. Is there a problem with coverlet and Moq?

Error Message:
 System.IO.FileLoadException : Could not load file or assembly 'Moq, Version=4.8.0.0, Culture=neutral, PublicKeyToken=69f491c39445e920' or one of its dependencies. Strong name signatu

[2018-10-29 16:01] Cyberboss commented on #210
Disregard, it still errored out

[2018-10-29 16:23] pedrofmanuel-sky commented on #210
I have the "feeling" that this has to do with some async (write) operation of some results, and when coverlet tries to read the output of it (it has not finished yet).

but this is just a guess...

[2018-10-29 21:45] obtuse-whoosh commented on #231
I'm not seeing this issue. Are you using .Net Core? What version? If you could copy+paste the csproj file for the failing project that would be extremely helpful.

[2018-10-30 13:04] leppie commented on #210
Getting this too on AppVeyor lately (last 2 days). Nothing has changed on our side.

[2018-10-31 02:41] tonerdo commented on #210
Out of curiosity is everyone having this problem using `coverlet.console`?

[2018-10-31 03:48] Cyberboss commented on #210
That is what I'm using

On Tue, Oct 30, 2018, 10:41 PM Toni Solarin-Sodara <notifications@github.com>
wrote:

[2018-10-31 04:50] fiuzaB commented on #231
I work with .NET Core 2.0 with Moq and it works fine. For some reason, you seem to suspect the cause is the combo coverlet + Moq. Did you try to remove Moq to check if this is true ?

[2018-10-31 06:37] leppie commented on #210
I am using `coverlet.msbuild` and just calling `dotnet test /p:CollectCoverage=true` on a per project basis in AppVeyor.

[2018-10-31 10:17] pedrofmanuel-sky commented on #210
" just calling dotnet test /p:CollectCoverage=true on a per project basis"

Same here. Env: Windows + Teamcity + cake build script (which calls that, then).

[2018-10-31 16:09] tliebl commented on #231
The XUnit project is .Net Framework 4.6.2 class library. I removed Moq from the XUnit project and coverlet ran perfect. I had to comment out all tests using Moq, but after I did it worked fine. So, my initial assumption is still valid. Something with .Net Framework 4.6.2 class library XUnit project and Moq is causing coverlet to error while running tests that use Moq.

[2018-11-01 05:54] nordinrahman opened #232 "Add support for exclude by attribute"
As of now, _coverlet_ could exclude any classes/methods/properties decorated with _ExcludeFromCodeCoverage_ attribute. However, it does not applicable for code annotated by other attributes like _GeneratedCodeAttribute_ nor _CompilerGeneratedAttribute_. In short, it does not allow user to exclude with arbitrary attribute. This is one of most common feature for other coverage tool (e.g. _dotcover_)

[2018-11-01 09:02] pape77 commented on #223
@tonerdo have you had the chance to take a second look at this? Hope it's clear now

[2018-11-01 20:43] obtuse-whoosh commented on #231
It's for sure something on your end. I would look into re-installing the .Net framework SDK and see if that helps.

Here's my csproj for reference:
[code]

And the command I'm using to run tests:
`dotnet test .\XUnitTestProject1.csproj -c Release --logger:"console;verbosity=normal" /p:CollectCoverage=true`

Notice that I'm using .Net Framework 4.6.2, Moq 4.10.0 and coverlet 2.3.1.

[2018-11-04 02:30] tonerdo commented on #223
@pape77 I think I get it now. I've noticed branch coverage reporting defaults to 0 when there are no branches, which shouldn't be the case. In terms of nothing being called I think I want to keep that default behaviour and I suggest you simply exclude the offending assembly

[2018-11-04 02:33] tonerdo commented on #232
Hi @nordinrahman, I'm inclined to agree with you on this. Will add it to my personal backlog but I'm open to PRs on this

[2018-11-04 02:34] tonerdo commented on #210
Quick follow up question, does this only happen on a CI server? Anyone experienced it locally?

[2018-11-04 02:37] pape77 commented on #223
@tonerdo I cannot exclude the assembly since it's being used by the class. If you ment by command line param, again i can't since i run this for the whole solution in one line.

But most importantly, the problem is not branch coverage defaulting to 0 if not covered. The problem is that the non used assembly is generating NON EXISTING branches, with coverage 0 which will never be covered by the act

[2018-11-04 02:39] Cyberboss commented on #210
I ran my tests with coverlet in a socket container for a few hours but
never got the error

On Sat., Nov. 3, 2018, 10:34 p.m. Toni Solarin-Sodara <
notifications@github.com wrote:

[2018-11-04 02:40] Cyberboss commented on #210
Docker*

On Sat., Nov. 3, 2018, 10:39 p.m. Jordan Brown <jordanhcbrown@gmail.com
wrote:

[2018-11-04 02:44] tonerdo commented on #222
This is definitely a weird one. Sounds like a bug in the copy of the CLR you have or something, all my tests have been successful. Can you try re-installing .NET Core on your machine? Also, try to test it on another OSX machine, possibly one in a CI server

[2018-11-04 02:46] tonerdo commented on #223
@pape77 I meant exclude the assembly from instrumentation. It won't affect the dependencies

[2018-11-04 02:53] pape77 commented on #223
@tonerdo you mean the /p:Exclude param then. I have to specify what to exclude and i cannot make a generic test run for all my projects then, which is my final goal (probably not the only one).
Moreover, I would have to make one command line per test proj to exclude what i need, instead of one for the solution doing all the job.
Why should we keep this if it's polluting the coverage? :/ I doubt if

[2018-11-04 03:06] pape77 commented on #223
One option could be adding a command line option param to exclude non used assemblies, if you really want to keep current behaviour as default. Wouldn't mind modifying my pr to do so.
But I really think the default bahaviour should be outputing the correct coverage when merging 😅

[2018-11-04 04:06] kellystuard commented on #206
Note for those who find this and are also using the bash terminal... The following works:
`dotnet test -p:CollectCoverage=true`

[2018-11-04 13:04] amweiss commented on #232
I can start taking a stab at this if no one else is since it also can cover my desire to see `ObsoleteAttribute` excluded.

[2018-11-05 09:39] ppumkin commented on #110
That is interesting. Coverlet needs to rewrite parts of the DLL and I have noticed if it fails to do so it wont crash and burn it will just return 0% coverage.

(I need to double check this but that is what I remember happening when I was messing around with my extension using coverlet - Probably need a message to say that the DLL's was not attached instead of returning 0%)

I wonder if there is a

[2018-11-05 10:03] pape77 commented on #203
@obtuse-whoosh Seems like he won't release it :/

See #223

Still no reason why though

[2018-11-05 12:13] asbjornu commented on #72
Just as a FYI, [my test project](https://github.com/linked-data-dotnet/json-ld.net/blob/feature/travis/test/json-ld.net.tests/json-ld.net.tests.csproj#L9) is `netcoreapp2.1` and has `CopyLocalLockFileAssemblies` set to `true`, but `dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover` still produces no code coverage file on disk.

[2018-11-05 15:39] Looking-at-the-ballpark commented on #222
Yes, I will try reinstalling .Net Core on the Windows/Linux boxes. The OS X + CI server have to wait. I need to install gitlab in my laptop. I will post any new findings as soon as I get them

[2018-11-06 14:14] nordinrahman commented on #232
@amweiss , yes I reviewed the code, and it looks good to me.

Initially, I intend to add more unit test to cover the business logic introduced, but it's kinda of a challenge (eg changes on console app).

I'm yet to run the build against sample project, for manual testing - I will update here once I'm done.

Thanks, @amweiss . I wonder what @tonerdo 's opinion on this?

[2018-11-06 14:18] amweiss commented on #232
@nordinrahman I agree, I did the minimum unit test to make sure the attribute excluded the code from coverage. I do have a few stylistic and coverage changes I'll send over on a subsequent PR if this one is getting merged.

[2018-11-06 20:44] lurumad opened #235 "Different results between local and Azure DevOps"
Hi folks,

I run into something strange. When I run my tests in my local machine I received these results:

<img width="480" alt="local" src="https://user-images.githubusercontent.com/1729519/48092352-b6d99d80-e20c-11e8-8cbf-0ac6296407c3.png">

When I run in Azure DevOps I received these results:

<img width="505" alt="vsts" src="https://user-images.githubusercontent.com/1729519/48092372-c658e680-

[2018-11-06 20:55] WiredUK commented on #235
How many test projects do you have? What commands do you run locally and on AD?

[2018-11-08 21:21] Structed commented on #33
Perhaps this can be added to the `README.md`, @tonerdo?

[2018-11-08 21:22] Structed commented on #21
If still running into this issue though you consume a package which has the fix included, this fixed it for me: https://github.com/tonerdo/coverlet/issues/33#issuecomment-412489223

[2018-11-08 21:43] WiredUK commented on #210
Just wanted to add my support to this issue. We also have intermittent failures on our Azure DevOps pipeline. Here's a snippet from the last failure:

[code]

[2018-11-08 23:15] amweiss commented on #232
Perhaps apparent to other people, but not me, I think it's only going to work as part of a build the way I did it, not in the CLI afterward since it runs at the instrumenter level. So technically it won't meet the needs of this.

[2018-11-09 14:52] qmfrederik opened #237 "dotnet test fails with "Path cannot be the empty string or all whitespace.""
`dotnet test` fails when you run `dotnet test` from a directory which is not the project directory.

For example:

[code]

results in
[code]

[2018-11-09 16:56] pape77 commented on #223
@tonerdo i updated my pr to add this as an option so default behaviour remains the same and fixes the issues for those who need to exclude non used files from coverage (#225)

I got an error when doing some http post call for a vs 2015 test on app veyor. Probably if you re run it, it will work.
Would you consider this for merging with this as an option? :)

[2018-11-09 17:08] pape77 commented on #237
Try removing the extension ".xml" from the coverletouput param. It's not expecting an extension. Just a path with a name.
So : "/some/path" will create "path.xml" file in /some folder
"/some/path/" will create (if i recall correctly) "coverage.xml"file in" some/path" folder

In your case i think you want a file named opencover in default directory so would be "/opencover" alone

[2018-11-09 19:19] seesharper opened #238 "Empty result when debugtype is 'embedded'"
First of all I would like to say that this is an awesome project. We have been waiting a long time for a code coverage story on .Net Core. 👍

I noticed today that if I set the debugtype to 'embedded' the results comes out empty.

[code]

Is this a known issue?

[2018-11-09 20:15] nicksterx commented on #206
@kellystuard Is the format `-p:CollectCoverage=true` preferred over `/p:CollectCoverage=true`  as shown in the documentation?

[2018-11-13 10:33] tonerdo commented on #238
The coverlet logic only works with assemblies that have PDB files. Will need to update it to look for debug information in multiple places

[2018-11-13 10:39] seesharper commented on #238
@tonerdo I think mono.cecil actually supports embedded pdb's 👍

[2018-11-13 20:45] #226 closed

[2018-11-13 21:35] obtuse-whoosh commented on #226
@tonerdo What's the eta for the next release?

[2018-11-14 14:35] WiredUK commented on #210
I've started doing some testing on this one. Have a custom version of coverlet with a bunch of extra logging to hopefully extract exactly where and why this is exploding. It's quite tedious though as a CI build needs to run and the hamsters in our build server are very tired. Will update when I get some more info...

[2018-11-14 14:55] ppumkin commented on #210
I sporadically get wierd things like this in CI on Azure. One thingin particular we still use a legaly FTP upload after the build completes for WbJobs. If I have clean up set on source. The FTP uplaod fails a lot. Dont know why because the cleanup is first and not after build. Very odd behavior.

As I mentioned before.. I know that error from working with files. It basically means the file has bee

[2018-11-14 15:02] WiredUK commented on #210
@ppumkin Yeah, I'm going to dig a little further now I know which part of the app to instrument.

[2018-11-14 15:19] WiredUK commented on #210
@ppumkin Regarding your edit, the error could also be here:

https://github.com/tonerdo/coverlet/blob/7ede9d7cba383fea9709cee4d380c0de27b58b42/src/coverlet.core/Coverage.cs#L190

[2018-11-14 15:23] ppumkin commented on #210
Yes, true. That is why I wrote its difficult to understand the code because is has a few levels of embedded loops and its reading 4 unsigned bytes each time from `result.HitsFilePath,`
What is in that file? Some kind of temporary file. If it it is temporary maybe that is the problem on the CI builds, lack of permissions to access the file? it gets cleaned up after build runs?

What is the file?

[2018-11-14 15:30] pedrofmanuel-sky commented on #210
The thing is, I'm running "dotnet test /p:CollectCoverage=true"  (and the problem existed) and coverlet runs within the test. therefore no "external" clean up should be happening meanwhile

[2018-11-14 15:36] Cyberboss commented on #210
On Windows, there's some ways to change the tempdir location: https://stackoverflow.com/a/2365338/3976486.

I wonder how well mounting /tmp to a temp file would work on Linux

[2018-11-14 15:37] ppumkin commented on #210
If the file exists and there is data inside it... maybe what the assumption of what was supposed to be in there is not always true for some reason.. and its trying to read the file beyond its capacity.

So it probably is a bug caused by assumption but again, this code should probably get patched up with some error trapping. I can fork this and put somethings if any body is interested in somehow us

[2018-11-14 15:42] WiredUK commented on #210
@ppumkin Well that's what my patched version is doing here, I'm spamming the log with all this data so I can understand exactly what is going on.

For reference, we are telling Azure DevOps to use the temp folder, that may be our problem. Our command line looks something like this:

[code]

[2018-11-14 15:50] ppumkin commented on #210
Well we have identified the region of code that is causing the problem.

I would suggest putting a few try catches around there and doing some more Verbose logging.

- Like capturing the size of the file before the first Int32 thing,
- trying to capture data as the loops progress.
- when an exception occurs capture the state of things at that point. Then you may be able to spot a logical problem o

[2018-11-14 15:54] WiredUK commented on #210
I'm definitely going to put in a PR which will show a better error message when the file is missing or empty, but that doesn't solve the base problem itself unfortunately.

[2018-11-14 15:55] ppumkin commented on #210
No it does not solve the problem but it will help identify it correctly.
The solution may be one of these

[2018-11-14 15:56] pedrofmanuel-sky commented on #210
do we know who/what writes that file ?
who/what is responsible for writing it, and for deleting it?

[2018-11-14 15:57] WiredUK commented on #210
You can do this, use the `-r <some-dir>` parameter

Yup, that's what I'll PR

Don't think this is possible. Those files are built by a completely different process.

[2018-11-14 15:59] ppumkin commented on #210
I think it is used during instrumentation.  Probably some events/delegates that write some specific 4 byte wide data that Coverlet is then trying to read out in 4bytes at a time.

Its not pretty... but it seems to have been done out of necessity

[2018-11-14 16:13] Cyberboss commented on #210
Changing the directory from `Path.GetTempPath()` to something localized did not fix it, sadly.

![image](https://user-images.githubusercontent.com/8171642/48495545-3adbe880-e7fe-11e8-9681-b2e1621975e6.png)

https://travis-ci.org/tgstation/tgstation-server/jobs/455055580#L2872

[2018-11-14 16:14] WiredUK commented on #210
OK I have new info. The file exists but is zero bytes. That just confuses me even more :/

[2018-11-14 16:17] ppumkin commented on #210
Cool.
So there is a problem at the point where something is trying to write to the file. It is looking more like a permissions thing. It can create the file... but not write it ??

[2018-11-14 16:19] WiredUK commented on #210
I doubt it's a permission thing:
1. It's the temp folder for the user which won't have peculiar perms
2. It works most of the time

I'm looking to see if I can instrument where the file is created now...

[2018-11-14 16:20] ppumkin commented on #210
The hunt continues ... 🗡

[2018-11-14 16:20] pedrofmanuel-sky commented on #210
Could it be the result file, for some excluded assembly / namespaces, which didn't had any hits ?

[2018-11-14 16:21] ppumkin commented on #210
That is good point... but the fact that it works sometimes without changing the code means, no.

[2018-11-14 16:23] pedrofmanuel-sky commented on #210
if the tests are in fact predictable, and always pass on the same spots I would agree with you :) if not, then there's the possibility ;)

[2018-11-14 16:24] WiredUK commented on #210
The fact they work sometimes means it's almost certainly nothing to do with excluded parts.

[2018-11-14 16:25] pedrofmanuel-sky commented on #210
I'm just saying, if there's some dynamic execution, which stimulates different parts of the code, during the tests, then the situation could happen.

(but I do not know the tests / code behind it).

[2018-11-14 16:29] pedrofmanuel-sky commented on #210
but of course, this is a very wild, wild guess.. :)

[2018-11-14 16:42] Cyberboss commented on #210
I can confirm the file is zero bytes when failing:

https://travis-ci.org/tgstation/tgstation-server/jobs/455073759#L1731

But, what's weird is I added checks for the program to die after it created the backup files if it was zero bytes and they never triggered.

https://github.com/Cyberboss/coverlet/commit/4baaea7709ec7ad1e7e13cf3a774869c98a39e16#diff-8b69d76eab513f470ef1ee9f7d7306daR46

[2018-11-14 16:59] Cyberboss commented on #210
Actually, I didn't notice this before, but, there's a second implementation of `InstrumentationHelper.GetBackupPath()` here: https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Instrumentation/Instrumenter.cs#L45 I'm gonna try messing with that too

[2018-11-14 17:53] Cyberboss commented on #210
OK, so here's some more interesting stuff.

I made some modifications to the ModuleTrackerTemplate: https://github.com/tonerdo/coverlet/compare/master...Cyberboss:Testing#diff-164040e68c2b496a18449c2363998152R96

Now here's a failing build: https://travis-ci.org/tgstation/tgstation-server/jobs/455107315#L2630

It seems the process (or thread that runs that code at least) is being killed while `Unl

[2018-11-14 17:57] Cyberboss commented on #210
Ahh, I think it's a simple timeout the handler is hitting: https://stackoverflow.com/a/12341932/3976486

[code]

[2018-11-15 00:50] Cyberboss commented on #210
Travis CI is constantly under load, so I don't doubt it.

On Wed., Nov. 14, 2018, 7:49 p.m. David Glass <notifications@github.com
wrote:

[2018-11-15 10:45] petli commented on #210
A way to avoid to do a lot of work in ProcessExit might be to use a memory mapped file to keep track of hit counts, which would be pretty easy to implement after #181. Instead of allocating an int[] a memory mapped file the size of HitCandidates.Count * 4 would be allocated, and each hit increment a counter at HitIndex * 4.  This way there's no data to write to disk at the end of the test.

It sho

[2018-11-15 21:40] parekhkb opened #239 "Windows build produces much higher coverage results than macOS."
I am running `dotnet test` on multiple test projects and attempting to merge the output.

[code]

On macOS I get a result of 22.4% line coverage. But the same run on windows produces 72.5% line coverage.

UPDATE:
When I run the same set of runs without the MergeWith, I get drastically lower coverage results, which gives me new information. My final test run in the list is our Integration test suit

[2018-11-15 21:53] parekhkb commented on #239
I have new information. My final test project in the sequence is our Integration test suite. In that suite we setup a background process and then run integration tests that use an in-test TestServer. This is where a bulk of our test coverage comes from.

On windows, instrumentation of these tests seems to work fine. But on macOS these tests result in 0% coverage.

[2018-11-16 10:03] ppumkin commented on #210
Is this a use case for the new Span<T> maybe? I never used it but listening to some conferences it sounds like that is what it could be used for?

Any way, anything other than file system writes is going to be better..

[2018-11-16 17:00] VladislavAntonyuk opened #240 "Support any XML xUnit-compatible test reports"
Bitbucket requires XML xUnit-compatible test reports.
https://confluence.atlassian.com/bitbucket/test-reporting-in-pipelines-939708543.html

[2018-11-16 19:57] MortenChristiansen commented on #179
I get the same error, but only after upgrading to version 2.3.1. If I revert to 2.3.0, it works again. It appears to be related to the fact that 2 of my 3 test projects only have a single placeholder test. I do reference the projects under test, including a class from the projects, so the fix mentioned by @csharpsi does not work.

[2018-11-18 21:37] shibut12 opened #242 "Features listed in Readme doc does not match with latest coverlet.msbuild"
It looks like the features listed in readme like TeamCity output format is not available in the latest Coverlet.msbuild. I'm getting `error : Specified output format 'teamcity' is not supported` when running `dotnet test /p:CollectCoverage=true /P:CoverletOutputformat=teamcity` on command line. I'm using `COverlet.msbuild version 2.3.1`.

[2018-11-19 20:16] jzytnyk-korewireless opened #243 "teamcity service messages have values swapped"
Issue [226](https://github.com/tonerdo/coverlet/issues/226
) added teamcity reporting. (thank you!)

From https://confluence.jetbrains.com/display/TCD18/Custom+Chart#CustomChart-listOfDefaultStatisticValues we can see that TeamCity is expecting a percentage for the "CodeCoverageX" keys, and a total line count for "CodeCoverageAbsXTotal" values.   These were swapped in the original implementation.

[2018-11-19 20:16] InKahootz commented on #167
I've pinned it down to this line:  https://github.com/tonerdo/coverlet/blob/a334be0ac0bb60bd4a157bcac3a077f7a06930ff/src/coverlet.core/Reporters/CoberturaReporter.cs#L34

which segues to the index out of range here:

https://github.com/tonerdo/coverlet/blob/a334be0ac0bb60bd4a157bcac3a077f7a06930ff/src/coverlet.core/Reporters/CoberturaReporter.cs#L147

It happens when the result.Modules array is em

[2018-11-19 20:19] jzytnyk-korewireless commented on #243
PR for this fix - https://github.com/tonerdo/coverlet/pull/244

[2018-11-20 08:06] ElephantsGerald commented on #210
I can also confirm that this starts to become a problem on a CI server under load.

[2018-11-20 10:32] Cryan24 commented on #167
I encountered this issue also while setting up a Skeleton solution & CI pipeline in VSTS for a new project.

Looks like it would be a simple fix with a little defensive code checking the length of the array before referencing its contents.

[2018-11-20 16:31] amweiss commented on #232
I believe this is working as part of the build tasks now, @nordinrahman and @tonerdo is there anything left needed to merge #233 ?

[2018-11-20 21:07] #243 closed

[2018-11-21 09:58] Jeky-v opened #245 "Add option to set threshold only for total coverage"
Add option to set threshold only for total coverage.
So run will be succeeded when total coverage more then specified threshold, even if some of projects have coverage 0, or below specified threshold.
Something like
dotnet test /p:CollectCoverage=true /p:TotalThreshold=80

[2018-11-21 12:56] NorekZ commented on #132
@yuyixg works in 1.2.2, issue can be closed

[2018-11-21 14:16] #132 closed

[2018-11-21 20:46] ViktorHofer opened #246 "Coverlet test assembly path"
Invoking the Coverlet as a global tool and supplying a test assembly seems to not work if the test assemblies is located in the cwd and there is not current directory mark supplied `.\`. In example:

[code]

Seems to be related to the command line parsing library `Microsoft.Extensions.CommandLineUtils`. Unsure if the cwd is not recognized correctly. I would expect the test assembly to be resolvabl

[2018-11-23 10:55] MaartenX opened #249 "Coverlet hangs when using System.Net.HttpStatusCode as a default parameter."
When running ```dotnet test``` from the command line with a project that uses ```System.Net.HttpStatusCode``` as a default parameter, the test hangs using one full CPU core.

I've traced this issue to Mono.Cecil, and when I update to 0.10.1, the issue goes away.

I'll attach an example that shows the problem.

[2018-11-23 10:57] MaartenX commented on #249
Project that uses NUnit with coverlet that contains the error:

[AssemblyToTest.zip](https://github.com/tonerdo/coverlet/files/2610463/AssemblyToTest.zip)

[2018-11-24 02:48] ovargas commented on #245
This could be pretty cool, but what about specifying the threshold you expect by type, something like:

dotnet test /p:CollectCoverage=true /p:Threshold=80-lines,70-branch

From what I saw in the usage, to get the those warnings you have to execute the command twice.

[2018-11-24 14:42] nordinrahman commented on #232
Thanks @amweiss , awesome. Looking forward for new release by @tonerdo

[2018-11-26 22:57] jzytnyk-korewireless commented on #243
@tonerdo What's the eta for the next release?

[2018-11-28 19:42] tonerdo commented on #249
Latest release includes #252

[2018-11-28 19:42] #249 closed

[2018-11-28 19:43] tonerdo commented on #246
Fixed in #253 and available in latest releases

[2018-11-28 19:43] #246 closed

[2018-11-28 19:45] tonerdo commented on #232
@nordinrahman @amweiss fix is available in latest NuGet releases

[2018-11-28 19:45] #232 closed

[2018-11-28 19:45] tonerdo commented on #243
@jzytnyk-korewireless new releases have been published on NuGet

[2018-11-28 20:59] bulldetektor opened #254 "I18N-support when outputing TeamCity status messages"
Our server and buildagents running TeamCity is running with Norwegian localization, but TeamCity itself is running with English/US. So when Coverlet outputs the coverage result we're getting this error message;

Notice the comma in the decimal value, which I'm guessing is the reason why TeamCity is complaining.

I'm guessing a solution for this would be to always output decimal values with period

[2018-11-28 23:58] queen-of-code commented on #110
I can confirm that I have at least one test project using Moq that works fine, but it's true that the one that doesn't work is using Moq.

[2018-11-30 15:12] ViktorHofer opened #255 "Embedded source files"
There is the option in roslyn to embed source files directly into the pdb. Is support plan to handle such scenarios? In corefx we are missing source files from System.Private.CoreLib which is located in another repository (coreclr). If we would embed the sources directly into the pdb we could mitigate this issue but that requires support from both coverlet and ReportGenerator.

https://github.com/

[2018-11-30 17:22] ViktorHofer commented on #255
Closing as it seems not work needs to be done here: https://github.com/dotnet/corefx/issues/30974#issuecomment-443273154

[2018-11-30 17:22] #255 closed

[2018-12-03 04:13] Nonary commented on #110
I also get 0% test coverage on my project at work, also have Moq installed.

[2018-12-03 19:09] ViktorHofer opened #257 "Support Source Link"
If an assembly supports Source Link it generates the following (sample) code in the pdb:

[code]

As we write the source code paths into the report we should add a switch, i.e. -sourcelink (true/false) which replaces the local file paths with the source link ones. A corresponding issue in the ReportGenerator repo was opened to support fetching remote files: https://github.com/danielpalme/ReportGen

[2018-12-06 04:05] amitwats commented on #110
Facing the same issue. Got a feeling it is something on the lines of caching but cant put my figure to the pattern followed. I tried running the test with different options and sometimes it works. But this is not consistent

[2018-12-06 05:06] bednar commented on #110
I can confirm same issue. The coverage have been 0% after we added a dependency to **Reactive Extensions (Rx) for .NET**.

[See Travis CI Log...](https://travis-ci.org/bonitoo-io/flux-csharp/jobs/463857319#L779)

[2018-12-06 09:44] SlowLogicBoy commented on #110
For me coverage doesn't work unless I add references to:
1. XUnit projects:
    1. Microsoft.NET.Test.Sdk
    1. xunit.runner.visualstudio
1. NUnit Projects:
    1. NUnit3TestAdapter
    1. Microsoft.NET.Test.Sdk

And remove `DebugType` property from csproj files. Sometimes it doesnt work with DebugType Full, that includes projects you are testing.

[2018-12-06 21:37] ViktorHofer commented on #257
ping @tonerdo

[2018-12-07 09:07] tonerdo commented on #257
@ViktorHofer looking into this over the weekend. Work's been a bit crazy for me this week

[2018-12-07 11:13] ViktorHofer commented on #257
No prob. Take your time :)

[2018-12-08 08:04] hughbe opened #258 "Don't track branch coverage for Debug.Assert"
E.g. https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/System.Collections_BitArray.htm
![image](https://user-images.githubusercontent.com/1275900/49683621-338bc000-fac8-11e8-9775-c2b4c331ca02.png)

Doesn't seem very useful as we don't expect this to happen

[2018-12-10 13:14] abhurtun commented on #72
the same as @asbjornu no code coverage 👎

[2018-12-10 14:38] FreedCapybara opened #261 "0% branch coverage when code has no branches"
Hi,

Small issue I noticed while playing around with Coverlet is that for code with no branches, 0% branch coverage is reported instead of 100%.

**ConsoleApp1.csproj**
*Program.cs*
[code]

**ConsoleApp1.Tests.csproj**
*UnitTest1.cs*
[code]

**Output**
[code]

Thanks!

[2018-12-10 15:09] ViktorHofer commented on #258
The whole System.Diagnostics.Debug type can be excluded with the `--exclude` switch. We can definitely do that in corefx but I'm not sure if @tonerdo wants that set globally.

[2018-12-10 15:16] ViktorHofer commented on #192
@tonerdo this issue can now be closed.

[2018-12-10 15:49] tiber76 opened #262 "MergeWith cobertura.xml make error"
Hi,

I need to use /p:MergeWith  to merge differents results with dotnet test with coverlet.

I use **coverlet.msbuild : 2.3.2**  ( but i have the same error with the last version 2.4.0 )

My command :
dotnet test "C:\Users\Tiber\source\repos\LH.api\LH.Common\Tests\LH.Common.Repository.UnitTest\LH.Common.Repository.UnitTest.csproj" /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:Cover

[2018-12-10 16:04] vlef commented on #262
The value given to /p:MergeWith must be a path to Coverlet's own json result format.

There hasn't been a release of Coverlet since this feature was added, so for now you'd have to merge all of your results as json, and then convert it to the format you want.

[2018-12-10 16:14] tiber76 commented on #262
Humm ok thank's !   But how to convert immediatly this json to cobertura.xml ? do i must to convert this file manually ?

[2018-12-10 16:33] #192 closed

[2018-12-10 16:43] abhurtun commented on #72
I found out if you run in Release mode is doesn't cover all the dlls but if you do Debug it works

[2018-12-10 17:57] tonerdo commented on #262
Hi @tiber76, like @vlef said, you can only merge with Coverlet's own format. Your first run should generate the regular Coverlet json and your second run should merge with the json output of the previous run and set your output to cobertura

[2018-12-10 20:08] ViktorHofer commented on #110
Same here in corefx. Spinning up a Ubuntu machine now to debug what's going on.

[2018-12-10 21:34] ViktorHofer commented on #110
Ok sorry, it is working for me, I was missing passing the include-directory with the right formatted path to coverlet.

[2018-12-11 02:39] vanthoainguyen commented on #245
I'm running 2 tests assemblies and merge the result for the 2nd. It'd be nice to have the threshold on a particular module or summary threshold

[2018-12-11 08:49] tiber76 commented on #262
Thank you Very much :)    And Thank for your tool  👍

[2018-12-11 08:49] #262 closed

[2018-12-11 21:57] bkaid opened #263 "Use relative paths for lcov format"
It would be helpful if the lcov generated reports could generate relative paths.  My use case is that I am generating coverage reports from a docker image and then using [VS Code Coverage Gutters](https://marketplace.visualstudio.com/items?itemName=ryanluker.vscode-coverage-gutters)  which supports relative paths to view the coverage.  But it doesn't work because the absolute paths on the docker c

[2018-12-12 06:22] amitwats commented on #110
Based on this comment I tried running the console in Admin mode and for atleast one time it gave a accurate coverage. Not sure this would be reproducible though.

[2018-12-12 10:13] pape77 opened #264 "Different outputs when running coverlet.console on windows powershell/macOS terminal"
I'm running coverlet.console on macOS and no coverage is generated for my project which actually does cover the dll it aims to test.

[code]

I tried to see if I got the same on windows powershell, but surprisingly, it does show coverage there for the exact same file and command

[code]

The content of the test and the application proj itself it's super simple:

test:
[code]

project has 2 classes

[2018-12-12 10:37] pape77 commented on #261
this one I already fixed locally, pretty easily @tonerdo

On your ```CoverageDetails``` class:
just return 1 when ```Total``` is ```0```
[code]

[2018-12-13 10:55] #254 closed

[2018-12-13 15:38] maikschoeneich commented on #245
I would also love to see a threshold type total-line or something like this. So I can fail on an overall coverage.

[2018-12-14 21:31] kellystuard commented on #206
The dash (-) format is for use in the bash terminal. The forward-slash (/) format works for PowerShell.
If you're using the bash terminal and the forward-slash, you get this weird MSB1009 error.

[2018-12-16 11:07] maikschoeneich commented on #245
With my change we have the first step into the right direction I think:

@vanthoainguyen: You can either fail on a specific module as well as on the total coverage.
@ovargas: you can specify the total type which should fail

[2018-12-16 22:47] tonerdo commented on #245
@maikschoeneich @Jeky-v @ovargas @vanthoainguyen what do you think about adding a `ThresholdStat` option? It's values could be `Average`|`Minimum`|`Maximum`|`Total`

`Minimum` => The module with the lowest coverage must be greater than or equal to the specified threshold
`Maximum` => The module with the highest coverage must be greater than or equal to the specified threshold
`Average` => The aver

[2018-12-16 23:07] #261 closed

[2018-12-17 03:02] FreedCapybara commented on #261
Thank you!

[2018-12-17 06:06] vanthoainguyen commented on #245
Hi @tonerdo ,
I believe most people will run coverage for test assemblies which somehow are related to each other.
For example the solution with below projects:
Project.Core
Project.Service
Project.Core.Tests
Project.Service.Tests

Assume the Project.Service.dll reference the Project.Core.dll, the coverage for the service test assembly will likely cover some of the part of the Project.Core.dll. Th

[2018-12-17 09:05] tonerdo commented on #245
Thanks for the feedback @vanthoainguyen, the first implementation of this feature can start with just Average and Total and leave room for adding new ones in the future

[2018-12-17 13:50] ViktorHofer commented on #258
Oh you are right but wouldn't/shouldn't a) also imply b)?

[2018-12-17 14:22] hughbe commented on #258
Apparently not!

[2018-12-17 16:16] Blackbaud-ChristiSchneider opened #268 "Running multiple test commands in the same directory overwrites coverage"
This may be more of a feature request than a bug, not sure.

If you run `dotnet test /p:CollectCoverage=true` in a directory with multiple test assemblies in it, the coverage output files generated write to the same file so the last assembly to be tested is the only one with coverage reported.

I know that the `CoverletOutput` property exists, and I was able to have a workaround in this specific c

[2018-12-17 21:44] tonerdo commented on #258
Excluding a class means that non of the methods belonging to that class are instrumented. It's a non-trivial amount of work to have that exclusion rule apply the usages of the class itself

[2018-12-19 09:29] pape77 opened #269 "ExcludeFromCodeCoverage not working for autogen getters and setters"
Noticed that when trying to apply the excludeFromCoverage attribute to getters and setters from a
class property, they are not taken into account

[code]

[code]

This can easily be seen in action in existing tests within coverlet. In ```InstrumenterTests.cs```, in the ```TestInstrument_ClassesWithExcludeAttributeAreExcluded```
Just remove the [ExcludeFromCodeCoverage] attribute from one of the cl

[2018-12-19 09:36] pape77 commented on #269
Similar thing happens with async methods which are read like this:

[code]

and then all attributes are lost when ```Instrumenter.cs``` 's method is evauluating

[2018-12-19 10:35] SlowLogicBoy commented on #269
try:
[code]

[2018-12-19 11:00] consultwithmike commented on #269
@SlowLogicBoy that workaround does work, but I'd say we need to get something in place that iterates the Properties collection in the `Iterator` as well so that we don't have to decorate the `get` and `set`, but rather the property itself.

[2018-12-19 15:47] pape77 commented on #269
Thank's for the hack @SlowLogicBoy
Indeed @consultwithmike that's what I expected to happen.
I'm guessing for the async things, a similar thing happens, cuz they are autogenerated with that name or something.
I looked into the ```Instrumenter.cs``` a bit, but got no clear solution for it

[2018-12-20 05:01] sseyalioglu opened #270 "Change in coverage report"
It is going to be awesome to see the change in the coverage at least from the previous run.

Scenario: All of a sudden after adding more tests, coverage ratio went down and I would really like to know what caused it so I need to see the delta of the coverage change.

[2018-12-20 10:15] richardacre commented on #230
We encountered a similar situation, but this time the test project itself contained a class that had no public methods in it. Adding a simple public property getter-setter fixed it.

[2018-12-20 11:58] #245 closed

[2018-12-20 13:20] tonerdo commented on #245
You should be able to use the newly added `--threshold-stat` op `/p:ThresholdStat` to specify how you'd like the threshold comparison to happen. Valid values are minimum, average, total. Available in the latest release https://www.nuget.org/packages/coverlet.msbuild/2.5.0

[2018-12-20 21:16] jherby2k opened #272 "Version 2.5.0"
I upgraded my projects to v2.5.0, and now CI is failing on my .NET Framework 4.7.1 tests (they still pass under .net Core 2.1).

Could not load file or assembly 'System.Runtime.Extensions, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies.

Going to have to downgrade for now.

[2018-12-21 10:00] tonerdo commented on #272
I updated the core library to use `netcoreapp2.0` instead of `netstandard` because I needed to add support for a particular area. That's probably the problem

[2018-12-21 14:52] ob-stripe opened #273 "coverlet 2.5.0 includes some xUnit code in reports"
I noticed a weird regression when trying to update coverlet for the Stripe.net library.

With coverlet 2.4.0:
[code]

With coverlet 2.5.0:
[code]

For some reason coverlet 2.5.0 includes code from `xunit.runner` in the coverage report.

[2018-12-21 16:41] tonerdo commented on #273
Hi @ob-stripe, 2.5.0 comes with support for PDBs embedded in assemblies. This can easily be solved by adding `/p:Include=[Stripe.*]*` or `/p:Exclude=[xunit.*]*`

[2018-12-21 16:41] StanleyGoldman opened #274 "Error in Coverlet.Console 1.4.0"
I just started getting this on my build server. Seems like you just pushed an update.

[code]

[2018-12-21 16:41] MarcoRossignoli opened #275 "False negative with "/p:MergeWith" async/await branches"
I moved discussion from old PR to new issue.

---------------------
@pape77 issue https://github.com/tonerdo/coverlet/pull/158#issuecomment-448654060

I have a similar issue with this "ghost branches" which are never covered.
My code looks like this

    public class KeyProvider : IKeyProvider
    {
        private readonly IKeyRepository _repository;
        private readonly IMemoryCache _cache;

[2018-12-21 16:43] MarcoRossignoli commented on #275
I was able to repro the issue with @pape77 code, I'll come back ASAP.

[2018-12-21 17:07] ob-stripe commented on #273
Nice! Thanks for the quick reply. Feel free to close the issue if this is expected behavior :)

[2018-12-21 19:21] #273 closed

[2018-12-21 19:23] tonerdo commented on #274
HI @StanleyGoldman, what .NET runtime are you running on?

[2018-12-22 15:05] MarcoRossignoli commented on #275
False positive for now...it was an issue with report generator.

@pape77 I need more info...can you provide "command line" to generate your coverage.json sample(with 4 branch) i.e. from root (Keys.sln place).
I cannot generate 4 branch for that call but only 2.

[2018-12-22 15:08] pape77 commented on #275
I removed the cache part to make it more explicit. That was adding two more branches because there was another await being used. There should be 2 branches now. One of which is never covered

[2018-12-22 15:08] MarcoRossignoli commented on #275
My current test:
[code]
result
[code]

[2018-12-22 15:10] pape77 commented on #275
I use the console version of coverlet. Will provide the script in a sec

[2018-12-22 15:13] MarcoRossignoli commented on #275
Thank's here my playground if you find something strange https://github.com/MarcoRossignoli/marcorossignoli.github.io/tree/coverletbug/src/coverlet/Issue1

[2018-12-22 15:38] MarcoRossignoli commented on #275
Maybe merge issue...I go on...

[2018-12-22 16:10] MarcoRossignoli commented on #275
@pape77 I found the issue...merge is the culprit, the issue is in this line https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/CoverageResult.cs#L94
To merge it uses all field, but different test has got different instrumentation values
[code]
For instance if we compare only "Line" it works...but I think that it's could lead to ambiguity, I'll try to understand if it's safe.

/cc @t

[2018-12-22 16:14] pape77 commented on #275
Nice! Hope it's fixed soon :)

[2018-12-22 16:20] pape77 commented on #275
I don't think only line is enough. I have things like this in my well generated coverage files:

[code]

So it seems to me that the ```EndOffset``` is the problem here. At first sight at least.

Maybe @tonerdo knows a bit more about this

[2018-12-22 16:32] MarcoRossignoli commented on #275
@kevindqc are you using merge?

[2018-12-22 17:31] MarcoRossignoli commented on #275
However if we decide that is correct we can apply same trick(remove uncovered branch for MoveNext() async state machine if one of two branch has been covered) on "merge".
@tonerdo what do you think?

[2018-12-22 18:01] pape77 commented on #275
Well, i think it should be done right? To apply the same accordingly also when merging. Otherwise we always will have this non covered branches when merging now. I wonder how would you do it though

I never completely understood this line

[code]
because it's comparing the full branch object, still the method could have some other branch with hits 0 which you will be removing . How do you know tha

[2018-12-22 18:09] MarcoRossignoli commented on #275
Because "today" async state machine has got only 2 path...sync and async so for now we have only 2 branch.

[2018-12-22 18:12] pape77 commented on #275
I think I just answered my own question. With the MoveNext you make sure it's the async line you are checking and not other part of the Method itself (because the method name includes this MoveNext stuff)
Sorry :P

[2018-12-22 18:14] MarcoRossignoli commented on #275
FYI I stole idea from well know and supported coverage engine https://github.com/OpenCover/opencover/blob/19ebe9c19ba0f8205f28b6923f7c7d5e2730004a/main/OpenCover.Framework/Persistance/BasePersistance.cs#L893

[2018-12-22 18:20] pape77 commented on #275
@MarcoRossignoli is it too much to ask if you create a PR (just whenever you have the time)? If this is not merged here, I will use it for sure in a fork. But hopefully it will be taken into coverlet :)
How would you achieve this? Extracting this part into a method and running it after the Merge run now? Or what was your plan?

[2018-12-22 18:35] pape77 commented on #275
@MarcoRossignoli No rush! I won't jump into this before new year. I wanted to see the pr/ changes so I change my own fork which is already a bit different than actual.

If the pr is not there by then I'll dig into yoir repo for figuring out the changes. But i think you will have it in a pr by then ;)

Thanks again for taking the time for this

[2018-12-22 18:43] MarcoRossignoli commented on #275
@pape77 thank's for support!

[2018-12-22 18:45] kevindqc commented on #275
@MarcoRossignoli I don't use `/p:MergeWith`, but I call reportgenerator with `**/coverage.cobertura.xml`

[2018-12-22 19:00] MarcoRossignoli commented on #275
@kevindqc today here we found possible issue on reports merge. If this isn't your issue can you try to isolate a repro?

[2018-12-23 16:31] hughbe opened #278 "Exception filters appear on the wrong line"
Steps:
[code]

## Expected

- Exception filters coverage is on the right line

## Actual

- Exception filters are on the wrong line

See for example L1349 of the coverage for XamlSchemaContext.cs
![image](https://user-images.githubusercontent.com/1275900/50385591-195cff00-06d0-11e9-84c2-782911393dd1.png)

[2018-12-23 16:56] pape77 commented on #275
I slightly changed the  code in keyProvider , and it's tests, and the same seems to happen, regardless of using code from pr #277

Here the new proj I'm using to generate this branches again:

[keys.zip](https://github.com/tonerdo/coverlet/files/2706138/keys.zip)

Then I end up with:

[code]

[2018-12-23 18:33] MarcoRossignoli commented on #275
@pape77 found the issue...nested async state machine,I'm working on a solution.

[2018-12-23 18:52] hughbe opened #279 "ExcludeFromCodeCoverageAttribute ignored on some types in nested class"
Steps:
[code]

## Expected

- Method is excluded

## Actual

- Method is not excluded

See for example 1495 of the coverage for XamlSchemaContext.cs
![image](https://user-images.githubusercontent.com/1275900/50386684-ca20c980-06e3-11e9-8b16-cfd9574df908.png)

[2018-12-23 19:36] MarcoRossignoli commented on #275
@pape77 I'm trying something more "secure", check if class that contains MoveNext() implements IAsyncStateMachine https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.iasyncstatemachine?view=netframework-4.7.2

[2018-12-23 20:08] pape77 commented on #275
@MarcoRossignoli ah that's even nicer 👍

[2018-12-24 11:44] hughbe commented on #279
I mean the first issue with `IsReadOnly` is probably the same as #269 but not sure about the enumerator?

[2018-12-24 14:16] yhvicey commented on #272
Facing same error here. Workaround it by downgrade to 2.4.0.

[2018-12-24 14:36] yhvicey commented on #272
Maybe `coverlet.msbuild` and `coverlet.msbuild.tasks` can be merged and published using [the new way](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#nuget-metadata-properties), instead of manully specify which dlls should be packed. With `dotnet build` and `<GeneratePackageOnBuild>true</GeneratePackageOnBuild>`, MSBuild will help you to handle the dependencies. I'll try to do a POC.

[2018-12-25 15:47] gfoidl commented on #274
Same issue here:

[code]

[code]

`coverlet.console 1.3.0` works fine.
`coverlet.console 1.4.0` throws the above exception.

[2018-12-29 10:10] Tommo-L commented on #264
I have the same problems.

.NET Core SDK (reflecting any global.json):
 Version:   2.2.101
 Commit:    236713b0b7

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:         ubuntu.18.04-x64
 Base Path:   /usr/share/dotnet/sdk/2.2.101/

[2019-01-02 15:54] turbo opened #280 "Providing standard input to a runner"
I need to collect coverage for a `dotnet run` execution (not `dotnet test`). Right now, the program is called like this:

[code]
Is there a way to pass standard input to a `--target`?

[2019-01-02 17:42] turbo commented on #280
Alright, seems that if I put the above in a script file and use that as a target, it kinda works. Would be nice to have a proper option though.

[2019-01-02 22:40] turbo commented on #145
I too am experiencing a massive performance impact for instrumented runs. One of my test projects is launched like this:

[code]

It runs about 250,000 tests and completes in about 25 to 30 minutes. However, when run with coverlet:

[code]

- it takes many minutes before the test program is even launched
- it takes 100 minutes to complete (though coverlet accurately collects metrics)

The first is

[2019-01-03 02:56] amitwats opened #281 "Steps to make Local build and run coverlets with that"
I am unable to find and documentation to make a local build and use coverlets from that. I could find the section of building the code from git on local but how do we make `dotnet test` from using the local build of coverlet instead of the NuGet server version of coverlet when use something like
`dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=\"opencover\" c:\xxx\xxx.zzz.yyy.Tests\xxx

[2019-01-03 11:53] tonerdo commented on #145
@turbo what version of Coverlet are you using?

[2019-01-03 11:56] tonerdo commented on #281
You need to import the props and targets files of your local build of coverlet in the top and bottom of the unit test project csproj file. See https://github.com/tonerdo/coverlet/blob/master/test/coverlet.core.tests/coverlet.core.tests.csproj for an example

[2019-01-03 12:00] turbo commented on #145
I've used the global tool installer command to install it, this is the version output:

[code]

[2019-01-03 12:05] turbo commented on #145
Running everything in release mode brings the total test execution down to 60 minutes overall. One bottleneck is coverlet not being run in parallel. Right now, I have 5 different tests assemblies and coverlet merged the results of all of them. However, that means I need to run one after the other. If I could run many coverlet instances at once and later *just* merge the results into one result fil

[2019-01-03 15:14] alberto-riggi commented on #274
Hi,
I've got the same problem with coverlet.msbuild, when downgrading to the previous version the problem disappeared. Hope it helps.
Regards

[2019-01-03 22:53] pkspks opened #282 "Coverlet changes order of attributes"
Versions:
dotnet core 2.1
asp.net core 2.1.5
coverlet 2.5.0

Some of our tests that rely on the order of asp.net `ValidationAttribute`s for method parameters fail when run with coverlet. Coverlet instrumentation seems to change the order of attributes.

e.g.

[code]

This passes when run with `\p:CodeCoverage=false`

[2019-01-03 23:38] carusology commented on #282
I didn't think the .NET APIs makes any guarantees on the order in which attributes are returned:

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/attributes#attribute-specification))

[2019-01-03 23:48] pkspks commented on #282
@carusology , yes, the C# language specfication treats them unordered.
And that's why we have tests to ensure/check the attributes are picked up in order and they seem to work on all dotnet core versions (tried 2.0 and above). Instrumentation should not change the order in which they are picked up.

[2019-01-04 00:25] HardySoftware opened #283 "Unable to filter report against certain assemblies"
I have a .net core solution with several projects in it. Here is the steps what I did

- `dotnet add package coverlet.msbuild` to add the reference to my Xunit test project.
- `dotnet test /p:CollectCoverage=true` to execute tests and produce reports

The reports look like

| Module | Line | Branch | Method |
|--------------------------------------------------|-------|--------|--------|
| My.Proje

[2019-01-04 06:20] amitwats commented on #110
I attempted getting the coverlet code and execute it locally while debugging. Here is a pattern I noticed

In the file `Coverage.cs` in the method `CalculateCoverage()` there is a check done for `result.HitsFilePath`. In  could compare results in cases where the results were shown and in the cases the results were not shown. Here is what I found

When results were  shown `File.Exists(result.HitsFi

[2019-01-04 13:31] desmondgc opened #284 "Total coverage no longer easily regexable"
In coverlet.msbuild v2.4.0, the total coverage output looks like this:

[code]

This functionality was added in #180 to support coverage badges in CI systems. In our GitLab config I can easily report on total branch coverage using the following: `coverage: '/^Total Branch: \d+\.\d+/'`

With the changes introduced in #271 / coverlet.msbuild v2.5.0, the output now looks like this:

[code]

This outp

[2019-01-04 15:57] steverichey commented on #110
Currently experiencing the same issue in a project which is otherwise nearly identical to a project with no issue, aside from the inclusion of Moq. Any guidance is helpful, happy to provide more information if it helps!

[2019-01-04 16:22] akshaybheda opened #285 "Coverlet 2.5.0 throws Exception"
I have updated my Coverlet.msbuild Version to 2.5.0. I am getting

Exception.

Project Information:
.net framework 4.6.1.

Also, in Version 2.3.0, It was failing my some tests due to rebuilding the project when enabled code coverage.

[2019-01-07 16:43] tonerdo commented on #283
Hi @HardySoftware, you want to do `dotnet test /p:CollectCoverage=true /p:Exclude="[xunit.*]*"`

[2019-01-07 21:36] abbotware opened #287 "No Coverage Results When Single Test Fails"
Not sure if this is expected behavior, but I have a lot of unit tests, if a single one of them fails, no coverage results are generated.    I think it would be desirable to still get coverage if a single test fails so I dont know if this is a bug or by design.

I am using .Net Core 2.2 + Nunit 3.11 / Nunit3TestAdapter 3.12 and coverlet version 2.5.0

[2019-01-07 21:42] abbotware commented on #287
If this is a bug, it is trivially reproducible - see attached
[NUnitTestProject1.zip](https://github.com/tonerdo/coverlet/files/2734383/NUnitTestProject1.zip)

[2019-01-08 00:48] HardySoftware commented on #283
Unfortunately, the result is the same, xunit is still included.

[2019-01-08 09:20] tonerdo commented on #287
This only happens when using `coverlet.msbuild` package. This is expected behaviour as MSBuild will not move on to the next target if the previous one fails. You can use the `coverlet.console` global tool if you don't want this behaviour

[2019-01-08 09:20] #287 closed

[2019-01-08 09:52] akshaybheda opened #288 "coverlet.msbuild 2.3.0 rebuilds the project with not enough information"
Hi,

I am using coverlet.msbuild 2.3.0 with Shouldly package. It looks like whenever i try to enable codecoverage, some of my test fails as the coverlet rebuilds the project which are referenced from my test project with less than Debug level information. I can see the difference in the sizes of dll.

When i build the project with dotnet build, it builds the project with Debug level information se

[2019-01-08 13:39] mmigala commented on #201
I didn't build the project before running dotnet test /p:CollectCoverage=true. After build everything started working.

[2019-01-08 14:11] tonerdo commented on #288
Hi @akshaybheda, is you debug information embedded or in a separate PDB file?

[2019-01-08 14:33] akshaybheda commented on #288
Its in separate PDB file. the pdb size remains the same but the dll changes. dll of the projects referenced by my test

[2019-01-09 01:11] amitwats commented on #110
Thanks Steve, your post was helpful in a way. I changed the version to 1.2 and have been getting the correct results. The only downside being that the time taken for execution has show up like crazy. Previously  when I got results( even when I got the right results), the coverage would come in about 5 mins. Now with 1.2 it takes about 50 mins. I need to execute this for a solution which has 10+pro

[2019-01-09 05:58] CharlKlein commented on #264
I can confirm the same on Ubuntu 16:04

.NET Core SDK
Version: 2.2.101

Runtime Environment:
OS Name: Ubuntu
OS Version: 16.04
OS Platform: Linux
RID: ubuntu.16.04-x64
Base Path: /usr/share/dotnet/sdk/2.2.101/

[2019-01-09 06:06] neo-dev-op commented on #264
I solved it as the following method:

[code]

I use coverlet + sonarqube as unit test:

[code]

[2019-01-09 06:19] neo-dev-op commented on #264
It's work fine on my Ubuntu18.04 and Windows 10. You can have a try.  Don't use `coverlet test xxx` directly , use `donet test xxx` replacely.

[2019-01-09 06:49] pape77 commented on #264
Still a problem for us who use the console version of the tool, right?

[2019-01-09 06:55] CharlKlein commented on #264
Tested, If I execute the Tests from the Test Folder or from the solution route with the csproj specified the result is the same

[2019-01-09 07:07] neo-dev-op commented on #264
This is my env:

[code]

**First**, you must enter the test folder, and add `coverlet.msbuild` as following:

[code]
And the xxx.UnitTests/xxxx.UnitTests.csproj will have this:

[code]

**At last**, executed the following command in the solution folder.

[code]

My outputs like this:

[code]

[2019-01-09 12:06] Marachkouski commented on #210
We also have such problem in our build environment.

[2019-01-09 13:57] davenewza commented on #33
Had this happening with 2.3.2.  `/p:CopyLocalLockFileAssemblies=true` fixed it.

[2019-01-10 11:05] virasana opened #289 "Coverage not visible on VSTS after publish code coverage using Coverlet to generate Cobertura xml."
## Main Error
Chrome Console shows **"Cannot render contributed pivot ms.vss-build-web.build-results-summary-tab. Code"**

[See Issue 9279 here for full details](https://github.com/Microsoft/azure-pipelines-tasks/issues/9297)

I have pasted the same information, below.

Contact me if needed.

## Logs (Attached, below)

## Agent
- Agent - Hosted or Private:  **Hosted Ubuntu**

## Tech:
**Coverlet**

[2019-01-10 12:20] SefaOray opened #290 "Assembly marked as ExcludeFromCodeCoverage is not excluded"
**Description**
When an assembly decorated with ExcludeFromCodeCoverage attribute, it is not excluded from coverage report.

**Repro steps**
Example code:

[code]

**Expected behavior**
Assembly is excluded from the coverage report

**Actual behavior**
Assembly is included in the coverage report

**Known workarounds**
Passing the assembly with --exclude "[Assembly]*" works

**Related information**

[2019-01-10 14:52] nopara73 commented on #72
@asbjornu @abhurtun Neither the trick works for us anymore.

[2019-01-10 15:47] tonerdo commented on #290
@SefaOray exclusion attributes don't work on assemblies by design. The `--exclude` property is provided for achieving the same.

[2019-01-10 21:21] asbjornu commented on #72
I can't remember exactly what I did, but [I managed to generate a code coverage report and upload it to Codecov](https://codecov.io/gh/linked-data-dotnet/json-ld.net/branch/feature%2Ftravis) in linked-data-dotnet/json-ld.net#38.

[2019-01-10 21:55] nopara73 commented on #72
Also it might be helpful for someone who's looking at this issue for alternative's: @SteveGilham's altcover is still working for .NET Core projects. It's less straightforward to use but at least it works:

Install `altcover` NuGet to the `WalletWasabi.Tests` project and Coverage Glutters extension to vscode.

[code]

Run vscode and click on "Watch":

![](https://i.imgur.com/W4hXXda.png)

[2019-01-11 01:03] codemzs commented on #210
Do people know if using an older nuget resolves this issue?

[2019-01-11 09:32] SteveGilham commented on #72
Just interjecting to remark that doing
[code]
to have the same effect has been supported since early last summer.

[2019-01-11 09:33] Roshek commented on #283
Had the same problem, exclude didn't work, then realized I was missing the second * in the Exclude parameter (/p:Exclude="[xunit.*]\*<-this guy right here"). In your original description you are missing it too.

[2019-01-11 09:56] Roshek commented on #231
I think the problem is that Moq seems to not be compatible directly with net462, only through NET Standard 1.3.
I'm not an expert on this but adding this to the `<PropertyGroup>` element might solve your problem:
`<PackageTargetFallback>$(PackageTargetFallback);netstandard1.3</PackageTargetFallback>`

[2019-01-11 16:32] queen-of-code commented on #110
I have a weird update. Now the output is claiming that SOME projects have 100% branch coverage, but 0% line coverage. @tonerdo is this any help in figuring out what's going on? Nothing much has changed for any versions, except that we're using the latest auto-installed version of the coverlet dotnet global tool.

[code]

[2019-01-12 02:17] codemzs commented on #210
@pjanotti With your check-in made at #181 there may be a race condition [here](https://github.com/tonerdo/coverlet/blob/54108b6f1e6fdf2afb51b80d6da55f610ee99456/src/coverlet.core/Coverage.cs#L206) where HitsFilePath exists but its contents are empty. Can you think of something? I'm hitting this issue intermittently and did very brief analysis to narrow the issue down.

[2019-01-12 05:17] sharwell commented on #210
I narrowed this down with @codemzs today. The failure occurs when the hit file is truncated due to process termination while writing the file. After that point, subsequent loads of the file for coverage gathering fail because the file is either empty or contains fewer entries than claimed. I'm planning to address two parts of this and send a pull request:

1. Improve write performance using memory

[2019-01-12 15:10] HardySoftware commented on #283
Thanks guys for pointing out that I missed the last *. It all works now.

[2019-01-14 03:06] codemzs commented on #210
Can we please get #276 in to address the issue and have a new nuget? @Cyberboss @tonerdo @petli

[2019-01-15 08:14] SlowLogicBoy commented on #285
I'm having the same problem after upgrading to `2.5.0`
If I run on netcoreapp2.2 it works fine, however if I run on net462 it fails:
[code]

[2019-01-15 09:11] rwasala opened #293 "System modules in coverage report"
### Issue description
After upgrading coverlet.msbuild package from 2.3.2 to **2.5.0** I have noticed that in coverage report System modules are present e.g.
[code]

It only happens when dotnet test is executed with `/p:CopyLocalLockFileAssemblies=true` option e.g.:
[code]
It work as expected when option `/p:CopyLocalLockFileAssemblies=true` is not present

For easy issue reproduction I created re

[2019-01-15 09:35] tonerdo commented on #293
@rwasala this is as a result of adding support for assemblies with embedded PDBs. You can workaround this by excluding the `System.*` assemblies

[2019-01-15 09:40] #272 closed

[2019-01-15 09:40] #274 closed

[2019-01-15 09:40] #285 closed

[2019-01-15 09:59] tonerdo commented on #152
@alexanderkozlenko I definitely see the sense in what you're proposing. My reasoning around the default location of the results is simply because it becomes much easier to find especially since Visual Studio (and possibly other IDEs) doesn't show the contents of the output folders in the Solution Explorer

[2019-01-15 10:02] rwasala commented on #293
This is not a solution as those Modules will still be present in report with 100% coverage. This causes that code coverage report uploaded using cobertura plugin on Jenkins does not work correctly as I guess it tries to copy sources to proper directory to be able to present to user what is covered and what is not.

[2019-01-15 10:07] tonerdo commented on #110
@queen-of-code this is still being worked on, especially now that I'm starting to intermittently experience this issue when Coverlet is being run against itself. I believe this might be a problem with the temporary hits file that Coverlet creates. PR #276 will possibly fix this issue

[2019-01-15 12:11] tonerdo commented on #293
If you exclude the modules they will not be included in the coverage result

[2019-01-15 12:38] rwasala commented on #293
If I run
[code]
the output is
[code]
In xml file I can see
[code]
And I guess this is a reason why cobertura Jenkins plugin is not working as expected. Is there any possibility of disabling this support for embedded PDBs using some parameter? Or maybe your suggestion would be to contact cobertura Jenkins plugin team?

[2019-01-15 12:45] akshaybheda commented on #288
@tonerdo I also tried to change my application to .netcore2.2 with all updated packages, i face the same issue that the coverlet modifies the source dll which doesnt match with pdb's

[2019-01-15 12:50] akshaybheda commented on #229
I don't think Coverlet supports this. You can see similar item #290 was closed as Won't fix

[2019-01-15 13:01] SlowLogicBoy commented on #229
@akshaybheda #290 issue is for assembly attributes.
@tsleegers [Dupe of #269 also this link contains a workaround](https://github.com/tonerdo/coverlet/issues/269#issuecomment-448548109)

[2019-01-15 13:05] SlowLogicBoy commented on #293
Should be: `[System*]*`

[2019-01-15 13:24] rwasala commented on #293
@SlowLogicBoy Thanks for your help. We can close that

[2019-01-15 13:24] #293 closed

[2019-01-15 13:41] eerhardt commented on #152
@tonerdo - you could follow that same reasoning for any output file. The build `.dll` and `.pdb`. The documentation `.xml` file. The test results file `.trx`.etc. They would be easier to find in VS if they weren't in the "output" directory. However, most users know to look in the output directory for the outputs. So putting output files in a different directory actually makes it confusing.

Writin

[2019-01-15 13:46] rwasala opened #295 "Difference in cobertura report between coverlet 2.4.0 and 2.5.0"
### Issue description
When I run tests using command:
[code]

in my sample project https://github.com/rwasala/CodeCoverage I get different output in reports.
For version 2.4.0 it looks like:
[code]
For version 2.5.0 it looks like:
[code]

Basically the difference is that in version 2.5.0 node source is empty which causes problems with cobertura Jenkins plugin - it is not showing the source code wi

[2019-01-15 15:47] sharwell opened #296 "Viewing instrumented assemblies"
I would like to inspect the instrumented assembly for a project, e.g. with ILSpy. Is there an easy way to create the instrumented assembly for this purpose?

[2019-01-15 16:31] ViktorHofer commented on #296
If you add a reference to coverlet.msbuild you can just the required properties to invoke this target: https://github.com/tonerdo/coverlet/blob/master/src/coverlet.msbuild/coverlet.msbuild.targets#L20

[2019-01-15 18:12] sshukurov commented on #290
@tonerdo could you please clarify? I have the same issue here, and ExcludeFromCodeCoverage must work on assemblies https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.codeanalysis.excludefromcodecoverageattribute.

[2019-01-15 19:44] tonerdo commented on #290
@sshukurov by this I mean that Coverlet doesn't check for attributes on assemblies. It does however, have an `exclude` option that supports specifying assemblies

[2019-01-15 19:55] sshukurov commented on #290
It's a pity. I want to define all my exclusions in code, so as different code coverage tools can reuse them.

[2019-01-16 11:17] sfmskywalker commented on #217
I was running into the exact same problem. Adding `<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>` to my project files resolved it.

[2019-01-16 21:22] #217 closed

[2019-01-16 22:39] #275 closed

[2019-01-17 10:10] tonerdo commented on #210
@Cyberboss @codemzs New NuGet releases with the proposed fixed have been released

[2019-01-17 10:12] tonerdo commented on #110
@queen-of-code @robvanpamel @amitwats the latest coverlet releases contain a proposed fix in #276. Let me know if you're still running into trouble

[2019-01-17 13:13] mihasic commented on #202
I think now it's even more fun:

| component | version |
| --- | --- |
| coverlet.msbuild | 2.5.1 |
| coverlet.console | 1.4.1 |
| GitHub Release | v4.1.1 |

@tonerdo , can you please align the versions?
It's a little bit difficult to match the package with the changeset.
I've heard of one tool to help with that: https://github.com/adamralph/minver

[2019-01-17 13:31] tonerdo commented on #202
@Nysosis @mihasic `coverlet.console` had its first release several months after `coverlet.msbuild` so it couldn't miraculously start at v2.1.0. The Github releases are for the core library `coverlet.core` which both packages simply wrap. I know it might be confusing but be rest assured that the latest release of each contains the same functionality

[2019-01-17 14:14] CodeSteele commented on #110
I too have this problem, though reverting to 1.2.0 gets me _incorrect_ coverage information (one lib has coverage, the one without Moq). Upgrading to 2.5.1 for #276 does not appear to help.

[2019-01-17 16:05] JDeuce commented on #149
I tried to do something like:

    coverlet  path/to/assembly.dll --target "dotnet" --targetargs "run --project X --no-build"

With some trickery to shutdown the server after doing a run. I tried just killing dotnet, and also a dummy request to gracefully shut down the server in case the kill was preventing coverage from collecting.

But the coverage would never show meaningful output.

[2019-01-17 16:07] alexl0gan commented on #149
Why would it not show meaningful output? We do something similar in javascript where we use Istambul to instrument the source before starting a web server, and collect coverage on shutdown.

I tried something similar to no avail

[2019-01-17 16:35] JDeuce commented on #149
I just mean it would be like all zeroes or something, not showing me the actual expected code coverage for the run.

This pull mentions similar functionality https://github.com/tonerdo/coverlet/pull/174

[2019-01-17 16:45] sharwell opened #304 "Use ConsoleTables package once it has a strong name"
The ConsoleTables dependency was eliminated in #303 (specifically 5ba3f6007113240bbd172b9657c0a527a91d04d6) due to a bug in the source package. Once the source package has a strong name, it can be include via a `<PackageReference>` again (i.e. the previous commit can be reverted).

See khalidabuhakmeh/ConsoleTables#30

[2019-01-17 21:24] jherby2k commented on #272
Confirmed fixed with 2.5.1. Thanks!

[2019-01-17 21:55] sharwell opened #305 "Avoid null check for RecordHit"
The null check in `RecordHit` is only required for corelib instrumentation. Other libraries do not need this check, and it can be omitted to improve performance.

[2019-01-17 21:56] sharwell opened #306 "Special case hit threshold=1"
For projects that do not care about the number of times a hit is recorded, the `RecordHit` method can be modified to avoid the read/write dependency for performance, and simply use this:

[code]

[2019-01-17 21:58] sharwell opened #307 "Combine sequence point hits with adjacent branch hits"
Instrumented assemblies sometimes contain a sequence point hit immediately followed by a branch hit (or vice versa). These locations could be coalesced to avoid calling `RecordHit` twice.

[2019-01-18 08:29] SlowLogicBoy opened #310 "OpenCover report contains ignored files"
When ignoring files with `ExcludeByFile` property OpenCover report contains reference to ignored files anyway, just the coverage is not included, I would expect reference to file should be ignored too (at least that's how opencover worked).

**coverage.opencover.xml**:
CoverageSession/Modules/Module/Files/File:
[code]
**MyProject.csproj**:
Project/PropertyGroup:
[code]

If I remove `ExcludeByFile`

[2019-01-18 17:16] joeharrison714 opened #311 "coverage for assembly disappeared after some change"
I made some minor changes to an assembly and now coverage is no longer reported for that assembly by coverlet. Coverage still is reported correctly if i try dotcover. If I revert my changes, coverlet goes back to reporting correctly. I am systematically going though each change to see if I can pinpoint what it was that broke it. All changes were very minor, standard c# changes, no project file cha

[2019-01-18 18:09] tonerdo commented on #311
@joeharrison714 not at all, but helping to pinpoint those changes will go a very long way to figure out similar issues others are having

[2019-01-18 18:31] joeharrison714 commented on #311
Thanks for the reply. One interesting thing is that if I downgrade to coverlet 2.3, it actually gives me an error about not being able to find a referenced assembly when trying to run tests, and the coverage report fails. Could this still be the underlying issue but in the newer version it is ignored?

[2019-01-18 20:01] joeharrison714 commented on #311
I was able to work around the problem by adding steps to the Build script to copy the DLL it was complaining about into the folders it was looking for it in.

[2019-01-18 21:43] queen-of-code commented on #110
@tonerdo I've just had a build agent download and install `version 1.4.1` of the Coverlet dotnet tool, and I'm still getting the exact same output as mentioned above (including spurious 100% branch coverage reported with 0% line coverage)
.

[2019-01-18 21:46] xcellsoft commented on #110
@tonerdo

FYI, I've been monitoring this thread for potential solutions. I have large solution with 10 test projects, the small test projects are successful but the 2 large integration tests always show 0%.

I did install the 2.5.1 but the problem still exists.

[2019-01-19 11:18] ECrownofFire commented on #110
I found in our case the cause is a `ProcessExit` event handler that's taking too long (CLR runtime cuts them off if they take more than 2-3 seconds), so coverlet's `ProcessExit` never gets fired and the results never get reported.

[2019-01-19 15:01] ViktorHofer commented on #110
That only applies to .NET Framework. That limitation was lifted with .NET Core.

[2019-01-19 17:07] ViktorHofer opened #312 "Sourcelink filter"
We need a filter to not use the source link argument for all assemblies, i.e. ones that we build ourselves (i.e. corefx assemblies) vs. ones that we not build but consume and still need coverage (i.e. System.Private.CoreLib). There are two options:

- Rename the existing argument `--use-source-link` to `--source-link-filter` which accepts a list of assembly names or `all`.
- Add an additional argu

[2019-01-19 17:09] ViktorHofer commented on #310
IMO seems reasonable. You wanna send a contribution to fix this?

[2019-01-19 22:59] tonerdo commented on #110
@queen-of-code this is probably an effect of #267 which defaults to 100% when the code contains no branches

[2019-01-20 08:51] m4cx commented on #284
With this regex `/\|\sTotal\s{1,}\|\s[^|]*\|\s\d+.\d+%` I can find the string needed. But how exactly does gitlab handle the multiple numeric values? Does anyone know that?

I am not that used to regex. Is it possible with regex to remove the Line value from the string?

[2019-01-20 09:36] CodeSteele commented on #110
Confirmed what @ECrownofFire pointed out -- we removed this block of code:

`AppDomain.CurrentDomain.ProcessExit += (s, e) => Dispose();`

Which just calls `EnsureDeleted` on all of our databases that we stood up for the test, coverage works now.

For now this is okay because we're running our tests against docker containers and we can just toss the entire container.

[2019-01-20 12:35] desmondgc commented on #284
GitLab's coverage regex will use a capture group, if present. So in this case, I can capture total branch coverage with the following regex: `/^\|\s*Total\s*\|[^|]*\|\s*(\d+\.\d+)/`

The point is, the output was originally added with an implicit requirement to be easily parsable. What used to be a simple and straightforward regex has become an ugly mess. Maybe we can add a switch for output format

[2019-01-21 09:24] #310 closed, assigned to nobody

[2019-01-21 10:35] petli commented on #210
@ViktorHofer Do you think named pipes be as fast as stdout?  The pipe name could be passed into the instrumented code via ModuleTrackerTemplate much like the mmap name.

[2019-01-21 17:01] sharwell commented on #210
I'm starting to think the cause of this issue lies in the test runner itself, as opposed to the CLR. However, I haven't been able to pinpoint the sequence in the vstest runner that leads to the forced termination of the test process.

[2019-01-22 17:31] pape77 opened #314 "Invalid branch generated when using c# new exception features"
I have a method like the following for which i get a branch at line `return something` which is obviously never covered, because there's no branch there to be found

[code]

[code]

[2019-01-22 17:52] pape77 commented on #278
I have the exact same issue
@tonerdo any ideas?

[2019-01-22 17:53] pape77 commented on #314
Same issue is referenced in
https://github.com/tonerdo/coverlet/issues/278

I'll close this one which is less detailed

[2019-01-22 17:53] #314 closed

[2019-01-22 18:05] charlieschmidt opened #315 "Opencover sequence & branch coverage numbers are reported incorrectly"
Regardless of actual line or branch coverage, the xml output for opencover format is incorrect in two ways:

1. the sequence/branch/coverage numbers should be 0-100, not 0-1 measurements.
2. in the toplevel summary, the sequenceCoverage and branchCoverage properties are the same, when they should be different as reported by the text output

text output:
[code]

first lines of coverage.xml:
[code]

[2019-01-22 18:05] pape77 commented on #278
Actually in my case i get branches in both lines

[2019-01-23 13:05] pape77 commented on #278
![image](https://user-images.githubusercontent.com/7718578/51608500-efd60400-1f17-11e9-824d-3066976666f8.png)

In my case it looks like this

[2019-01-23 16:52] ob-stripe opened #316 "Feature request: configuration option to ignore trivial code"
Hi,

Would it be possible to have a global configuration option to ignore trivial code, similar to Cobertura's [`IgnoreTrivial`](https://github.com/cobertura/cobertura/wiki/Ant-Task-Reference#ignore-trivial)?

In particular, I'd like to ignore properties with standard getters/setters without having to annotate each of them with `ExcludeFromCodeCoverage` or another attribute.

[2019-01-24 07:58] ViceIce commented on #177
Our workaround is to use merging and two output formats:

`/p:CollectCoverage=true /p:CoverletOutput=./TestResults/ /p:CoverletOutputFormat=\"json,cobertura\" /p:MergeWith=./TestResults/coverage.json`

[2019-01-24 09:21] viceice opened #319 "Settings file"
It would be helpful to have coverlet settings file to pass complex excludes.
This would reduce the comandline length.

This would solve any shell escaping errors too.

Regards
Michael

[2019-01-24 09:56] ViceIce commented on #319
Currently not, but have had issues with escaping the arguments.
Now i'm using a [response file](https://github.com/tonerdo/coverlet/issues/30#issuecomment-383623772)

[2019-01-24 10:51] ViceIce opened #320 "FEAT: net45"
I would like to run coverage for net45 tests.

[2019-01-24 11:19] tonerdo commented on #316
The reservation I have with this request is that what constitutes trivial code is often subjective. There's no one size fits all and that opens the door to lots of over-specific requests which will lead to adding yet more options that the user has to wade through

[2019-01-24 11:34] ob-stripe commented on #316
That makes sense, I do agree that "trivial code" is too general and subjective.

I think that a more specific option to ignore [auto-implemented properties](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/auto-implemented-properties) would be useful for code with lots of model classes (value objects / DTOs), and fairly uncontroversial in that auto-implemented p

[2019-01-24 11:47] MarcoRossignoli commented on #316
@ob-stripe I usually exclude classes or modules, I'd like to understand the reason to remove getter/setter/ctor, maybe performance or noise on reports?

[2019-01-24 13:18] ob-stripe commented on #316
@MarcoRossignoli Noise on reports would be the main motivation. Our tests don't cover every single auto-implemented property, and it makes it more difficult to go through coverage reports to identify code that _should_ be covered.

Excluding entire classes is not a good fit for us because some properties have custom accessors and we do want to ensure those are tested.

[2019-01-24 13:55] #305 closed

[2019-01-24 14:04] MarcoRossignoli commented on #316
I don't know Cobertura so well(sorry) https://github.com/cobertura/cobertura/blob/9de3fb15edd73141c8b6887f07840ec3250a62d1/CHANGELOG.md#version-200 `--ignoreTrivial` do the same things of global config you pointed out or not?Should be better if report tool excludes noise on generation, I'm close to @tonerdo(and yours) feeling, it's difficult find a generic definition of trivial code, you said auto

[2019-01-24 14:15] ob-stripe commented on #316
To clarify, what I meant is that I'd prefer something like `--exclude-auto-properties` over `--exclude-trivial-code`: the latter is ambiguous about what it does, while the former seems pretty clear to me.

It would be even stricter than Cobertura's `ignoreTrivial` option in that it would only exclude `get`s and `set`s without a body. Constructors would be entirely out of scope.

Ultimately though,

[2019-01-24 14:19] sharwell commented on #320
This is likely covered by #299

[2019-01-24 14:22] MarcoRossignoli commented on #316
I agree with you "this great tool" and @tonerdo has the final say!

[2019-01-24 14:25] ViceIce commented on #320
Maybe.

The current problem is that the package props and targets will not be added to a net452 target framework. if i add them manually it will work.

A second problem is a `BadImageFormatException` thrown here:
https://github.com/tonerdo/coverlet/blob/8e618c35ec60bd8dac9410bb28551bf6798490db/src/coverlet.core/Helpers/InstrumentationHelper.cs#L67

There should be a try catch and return false.

Th

[2019-01-24 14:30] sharwell commented on #320
The exception sounds like a very different bug (related to a specific assembly referenced by a project, and not characteristic of .NET Framework projects in general).

[2019-01-24 14:45] ViceIce commented on #320
The exception can be easily catched by a try catch here:

https://github.com/tonerdo/coverlet/blob/8e618c35ec60bd8dac9410bb28551bf6798490db/src/coverlet.core/Helpers/InstrumentationHelper.cs#L62-L84

[2019-01-24 16:45] ViktorHofer commented on #210
Correct the shutdown is triggered by vstest. This can be easily tested with the following code. Happens with both mstest and xunit which proves that its not the runner itself but the testing framework (vstest) who is responsible for stopping the execution early.

[code]

Related code paths in vstest:
https://github.com/Microsoft/vstest/blob/7b6248203164f8ea821f6795632bd22e0b69afb0/src/Microsoft.Te

[2019-01-24 18:22] akprof2000 opened #321 "not work coverlet.console core 2.2"
If version .net testing application is 2.1 coverlet.console generate result data
If version .net testing application is 2.2 coverlet.console generate result data always zero

if coverlet.console compiled with version .net 2.2 all data return back
please compile coverlet.console.1.4.X.nupkg in .net 2.2 version

[2019-01-25 11:40] LordMike opened #324 "Possibility to exclude console table in Global tool / MSBuild?"
I'm looking to embed Coverlet as part of a pipeline. In it, we run multiple test projects one by one (multiple `dotnet test` invocations). Adding coverlet would mean that we would get multiple tables in our build log (where I'd prefer to merge the coverlet results and then do one table at the end).

Is there an option I'm missing?

From what I gather, [this code](https://github.com/tonerdo/coverle

[2019-01-25 11:45] LordMike opened #325 "MergeWith should create the file, or fail if its missing"
Currently testing out the MergeWith option. It seems that it neither fails the test, logs a warning or creates the target file - if it's missing. This seems like a bug to me. It simply silently ignores writing any output.

Workarounds:

* Place an empty JSON Object in the target file (`{}` in the target file)
* Run first test without Merge, then the remaining ones with Merge

[2019-01-25 11:52] LordMike commented on #325
I might have messed up my commands (used `/p:CoverletOutput` in place of MergeWith). I'm currently unable to get MergeWith to work :|

[2019-01-25 11:57] LordMike commented on #325
I've messed up the order it seems. MergeWith includes some other result in the new/current output.. it doesn't write to the MergeWith path..

I recommend adding to the docs, and writing that MergeWith is something to _be read_.

[2019-01-25 12:01] LordMike commented on #325
I've also found that I can put `MergeWith` and `CoverletOutput` to the same path, to achieve my goal. It seems like MergeWith is being read first (makes sense), rather than a simultaneous read/write.

[2019-01-25 12:02] LordMike commented on #324
I'm looking into the msbuild task as well, it also does the table by default.

[2019-01-25 12:02] LordMike commented on #324
Ideally, for my use case, I would run a lot of coverage operations, get a resulting file, and then presenting a result given the resulting file.

[2019-01-25 14:21] MarcoRossignoli commented on #325
Can you provide your "command line"?It's not clear to me `It seems that it neither fails the test, logs a warning or creates the target file - if it's missing`

[2019-01-25 14:23] LordMike commented on #325
The initial issue was based on my misunderstanding of how MergeWith was meant to work. I expected MergeWith to override the output, and write to the MergeWith path, while keeping what was in it to begin with.

[2019-01-25 14:58] MarcoRossignoli commented on #325
FYI I'm not sure I understood you doubt about guide, it read a file if exists and **merge** results.
https://github.com/tonerdo/coverlet/blob/226455ece9760c72d3d09ca6c377efb8cb61d686/src/coverlet.core/Coverage.cs#L198

[2019-01-25 20:17] sugarjig commented on #113
I'm seeing this issue still in version 2.5.1 (that's the version number in Nuget).

[2019-01-26 08:06] MarcoRossignoli commented on #113
@sugarjig can you provide a repro?

[2019-01-29 17:59] SamerAdra commented on #273
Would you consider adding a flag to make this an option, so we could run without including embedded PDBs?
Reason is I am building a generic builder that should be able to build any solution with coverage, and it would be needlessly messy for me to have to parse all the projects to figure out what assemblies to include.
But for now I think I will just use the latest 2.4.x.

[2019-01-29 21:22] rickardp opened #328 "Option to ignore field/property initializers and auto-implemented properties"
Consider a class, e.g.

    class MyClass
    {
        public int MyValue { get; set; }
    }

The property would be excluded because it's getter/setter has the CompilerGeneratedAttribute set. Now consider this class:

    class MyClass
    {
        public int MyValue { get; set; } = 42;
    }

The line is included in coverage. I think this is because in the IL code, the initializers are actuall

[2019-01-31 12:25] jamir-araujo opened #332 "How to include test code in coverage result?"
I've notice that Coverlet does not include test code in the coverage result by default. Which is good, I guess.

In my situation I need the test code to be include in the result, but I can't find a way to include manually. I've tried to use the `/p:Include` parameter, but doesn't work.

Is there a way to include the test code in the coverage result or it's something the library will not/can not do

[2019-01-31 15:10] tonerdo commented on #332
Hi @jamir-araujo #318 fixes just that

[2019-01-31 15:10] MarcoRossignoli commented on #332
This behaviour will change soon https://github.com/tonerdo/coverlet/pull/318

[2019-01-31 15:11] MarcoRossignoli commented on #332
Oops too late 😄

[2019-01-31 16:07] jamir-araujo commented on #332
Awesome!!

[2019-02-01 13:38] tpetrina opened #333 "0 coverage when running integration tests in ASP.NET Core"
When running integration tests as described on [Integration tests in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.2)
) we get 0% for all assemblies.

When those tests are disabled, the code coverage is calculated correctly.

[2019-02-01 21:32] pape77 commented on #223
@vlef i already gave up and forked away. If you use current coverlet, even more things that I don't care about (and maybe you don't either) gets into the report. Like certain external dlls i use.
So decided to implement this in my own fork, sadly

[2019-02-01 21:43] vlef commented on #196
Since #220 has been released, this issue should be closed. It is now possible to merge in other formats than json. Exlained in more details in issue #220

[2019-02-01 21:50] vlef commented on #223
Thanks for the heads up! That is quite unfortunate, especially since even the official Microsoft docs link to Coverlet.

[2019-02-01 21:52] pape77 commented on #223
Yep. I first wanted to exclude them by default. Then came with this option variable to keep the original behavior for whoever uses it. But no luck it seems 😢

[2019-02-01 22:05] pape77 commented on #223
@vlef if you olan to fork, you can copy the code from my original pr (so not the last commit but the first one). That will instrument only the dlls that you are touching with your tests. Although, i believe (as i mentioned) that now more things get instrumented even, not only the dlls with pdb files, but all. So you may have to remove a couple more things to make it look like the version i changed

[2019-02-02 08:46] MarcoRossignoli commented on #328
For reference OpenCover has got [`-skipautoprops`](https://github.com/OpenCover/opencover/wiki/Usage)
/cc @tonerdo

[2019-02-02 12:34] rickardp commented on #328
@MarcoRossignoli Auto properties without initializers are already handled. Does OpenCover handle initializers?

[2019-02-02 12:52] tpetrina commented on #333
I am using NUnit and if I remove `[Test]` attribute then the code coverage is calculated normally. If I return it back i.e. the tests are run, code coverage is 0.

[2019-02-02 17:11] m4cx commented on #284
Then I think the switch would be the appropriate solution. For humans this table view might quite appealing. But for parsing the simpe text output is perfekt

[2019-02-03 22:37] PeterKnealeBizCover opened #334 "Merging test coverage results when performing `dotnet test solution.sln -p:CollectCoverage=true`"
Is it possible to merge the coverage results of all test projects in a solution
ie: `Solution.sln` contains multiple xunit test projects
[code]

The ` --merge-with` parameter is mentioned in the below context but i dont know whether or if this can be applied to the above scenario
[code]

[2019-02-04 10:41] tonerdo commented on #334
Coverlet doesn't currently support Solution wide executions. You'll need to run it for each project in the solution

[2019-02-04 11:18] #315 closed

[2019-02-04 14:24] MarcoRossignoli commented on #333
Weird, can you isolate a small repro?Simila to https://github.com/abe545/CoverletAwaitBranchCoverage

[2019-02-04 14:34] MarcoRossignoli opened #335 "Update Issue template/Readme.md with repro sample"
I think that could be very useful setup issue template to refer to @abe545 sample and/or add sample to readme.
And ask to @abe545 to not remove the sample https://github.com/abe545/CoverletAwaitBranchCoverage or move sample on @tonerdo repo if Abraham agrees.
It's very hard found bug without real sample on instrumentation.

/cc @tonerdo @petli

[2019-02-04 16:25] tpetrina commented on #333
Weird, I cannot reproduce it in a smaller repo. Need to spend more time on it before calling it a day since it is an issue in our production project.

[2019-02-05 16:14] nbaztec opened #336 "Invalid paths in coverage report on Linux"
`w/ dotnetcore 2.2 on Ubuntu 18.04`

Hi just did a blanket run with a dotnetcore 2.2 project and v2.5 of coverlet.

The coverage report generation works okay but the resulting output contains references to some non-existing files like: `C:\Dev\xunit\xunit\src\xunit.runner.visualstudio\Utility\ExceptionExtensions.cs`, `C:\Dev\xunit\xunit\src\xunit.runner.visualstudio\Utility\LoggerHelper.cs`, etc.

[2019-02-05 21:05] tonerdo commented on #336
That's due to the embedded pdb support. You can try excluding the xunit assemblies

[2019-02-07 11:01] #306 closed

[2019-02-07 20:20] tasadar2 opened #338 "Incompatibility with xunit and netfx"
# Problem
When working with a netfx project that uses `xunit`, `dotnet test` with coverlet fails with the following error:
[code]
[code]

# Environment
- `winver`: `Windows 10 Version 1607 (OS Build 14393.2724)`
- `dotnet --version`: `2.1.503`

# Troubleshooting
- I initially encountered this with `net471`, but seems to be consistent with `net461` and up.
- This started happening when updating `co

[2019-02-09 01:48] xiaofma opened #339 ""MergeWith" option doesn't seem to be working for me"
I'm testing coverlet and it seems the "MergeWith" option does not work for me. Here's my setup:

I created a sample solution which contains 4 .Net Core projects: Module1, Module2, Test1, Test2. Test1 tests some method in module1 and test2 tests some method in module2. Then I run command:
`dotnet test Test1.csproj /p:CollectCoverage=true`
it builds the test, run it, and generate a coverage.json fil

[2019-02-09 08:06] MarcoRossignoli commented on #339
Can you provide repro similar to https://github.com/abe545/CoverletAwaitBranchCoverage?

[2019-02-09 17:21] xiaofma commented on #339
Sure. Please see the repo here: https://github.com/xiaofma/TestCoverletMergeWith
Thanks!

[2019-02-09 17:24] MarcoRossignoli commented on #339
Thank's I'll take a look ASAP!

[2019-02-11 16:18] eMarkM commented on #338
Just ran into this myself.  I have .Net Core project using net462 with xunit 2.4.1 as my test framework.  I tried both workarounds, but still get the same exact error.  If I take out ref to xunit.runner.visualstudio, it will produce a coverage file, but then says there are no test in the project and the code coverage file is all zeros.

[2019-02-11 17:03] tasadar2 commented on #338
@eMarkM Not sure if it helps, but when I first downgraded, I ran into the issue, but something was still cached. I had to removed the `obj` and `bin` directories from my projects to force a completely fresh run.

[2019-02-11 18:05] eMarkM commented on #338
yeah, I got it to work finally with **/p:Exclude="[xunit.*]*"** flag.  Thanks.

[2019-02-12 10:14] pape77 commented on #339
works for me

[2019-02-12 10:17] pape77 commented on #339
I use the output param. Like this

[code]

[code]

[2019-02-12 10:18] pape77 commented on #278
Any ideas on this? :/

[2019-02-12 10:27] MarcoRossignoli commented on #278
Sorry @pape77 it's been a busy period for me, but I didn't forget!I'll try to tackle it next weeks!

[2019-02-12 10:40] tomap commented on #110
I have the same issue with coverlet.msbuild 2.5.1.
and .Net Core 2.2
[code]
(inside docker microsoft/dotnet:sdk )

[2019-02-12 10:43] pape77 commented on #278
Thanks @MarcoRossignoli ;)

[2019-02-12 15:47] MaxBolduc commented on #110
Hi,
We are having the same kind of problem with coverlet.msbuild 2.0.0 and 2.5.1, with .Net Core 2.1

We upgraded the librairy to try to solve the issue, but it didn't work.

We sometimes have 0% coverage, somtimes we have the correct number, other times we have varying numbers... It's like the module is not able to get the coverage on some functions. For the test run, we have running time between

[2019-02-12 16:14] eMarkM opened #340 "InstrumentationTask hangs on run"
I have setup Covelet in several solutions gathering up code coverage and reporting them to SonarQube.  I'm having trouble with one particular solution and I'm not sure where to begin debugging.  I have this simple command:

`dotnet test mysolution.tests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Exclude="[xunit.*]*"`

For most solutions, this runs just fine in PowerShell a

[2019-02-12 17:46] xiaofma commented on #339
Thanks @pape77 @MarcoRossignoli . I see you're using Linux so I tried on my Ubuntu 18.04, and it does work, even without the output param, so I don't think that param makes any difference. However when I go back to Windows it still doesn't work, even with the Output param. My windows and Ubuntu have same dotnet core version (2.1.503). Windows version 10.0.17763 Build 17763. Is it possible for you

[2019-02-13 08:47] tomap commented on #110
I narrowed it down, in our case, I just updated some nugets (both private and public), and it broke.
So, the execution environment was stable, same SDK, same runtime, the only change was some nugets, and it broke.

My assumption is that it it related to code/assembly, not to environment.

I believe my next step is to do some step by step, if I can reproduce the issue outside docker.

[2019-02-13 08:59] MarcoRossignoli commented on #340
Have you tried on different machine?
Are you on win?If so you could try to dump follow this guide https://blogs.msdn.microsoft.com/debugger/2009/12/30/what-is-a-dump-and-how-do-i-create-one/ and attach here if not so big and you don't have secrets in your code(or share on onedrive), maybe it's not related to coverlet.
If you want to debug by yourself you can clone coverlet repo and rebuild in debu

[2019-02-13 12:47] pape77 commented on #339
@xiaofma Works like a charm to me in windows powershell

[code]

[code]

[2019-02-13 16:32] ViktorHofer commented on #110
Guys you don't have to narrow it down any further. A PR by @sharwell was submitted to fix that issue: https://github.com/tonerdo/coverlet/pull/329. He is still working on it. Reason is that VSTest shuts down the test process after 100ms - somtimes before the coverage data is written to disk.

[2019-02-13 19:53] xiaofma commented on #339
Thanks @pape77  it's really weird that it starts working for me as well... maybe the path was wrong before. I'm sorry that you had to spend time looking into this. Thanks for your help!

[2019-02-13 19:53] #339 closed

[2019-02-13 20:02] pape77 commented on #339
@xiaofma No problem :)

[2019-02-13 21:09] MarcoRossignoli commented on #278
@pape77 @hughbe I found the issue, symbol helper doesn't work well with branch inside filter block, [`FindClosestInstructionWithSequencePoint`](https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Symbols/CecilSymbolHelper.cs#L251) tries to find right sequence point line but fails.
My idea is to skip branch inside filter like finally, because filter could be and/or of conditions and f

[2019-02-14 15:31] tomap commented on #110
Hi, thank you for the update!
So I figured if the issue is related to dotnet test (and vstest inside it), why not bypass it ? :)

Guess what? It works !

I was using
[code]
See https://github.com/tomap/dep-check/blob/adbf0af072828803c7fb8d46e7c430fa97e3f84f/.travis.yml#L7

I figured that I could run tests myself!
Add this program.cs to your test project:
https://github.com/xunit/samples.xunit/blob

[2019-02-14 15:34] tomap commented on #336
`--exclude "[xunit*]*"`

[2019-02-14 16:12] nbaztec commented on #336
Thanks guys.

[2019-02-14 16:12] #336 closed

[2019-02-14 23:13] pape77 commented on #278
@MarcoRossignoli first, thanks! Great that you once more found the issue and are attempting to fix it 💃

I think I agree with skipping branches in filter, since sometimes you just cannot force each type of exception that you may have as an `or` in your filter , while testing, i think.
I'll discuss this with some colleagues to see what they think also. But is it possible to still take it into accou

[2019-02-15 09:07] SteveGilham commented on #282
Prior to release 0.10.3, Mono.Cecil was using an unstable sort when rewriting metadata (raised as https://github.com/jbevain/cecil/issues/558 and resolved).

[2019-02-15 09:11] SteveGilham commented on #316
See also issue #81

[2019-02-15 09:11] SteveGilham commented on #279
See also issue #129

[2019-02-16 17:26] jmezach opened #342 "No coverage reported when using RavenDb.TestDriver package"
I'm having an issue using Coverlet when I use RavenDb.TestDriver in my tests. As soon as I add a call to its GetDocumentStore() function I'm getting zero coverage. Here are the steps to reproduce the issue:

* dotnet new xunit
* dotnet add package coverlet.msbuild
* dotnet add package RavenDb.TestDriver
* Edit UnitTest1.cs and let the UnitTest1 class inherit from RavenTestDriver
* Add a call to Ge

[2019-02-17 07:08] iamwyza commented on #316
I assume that simply ignoring CompilerGeneratedAttribute is too broad?  I'm thinking the answer is yes, but I haven't dug into all the various permutations in the IL.

[2019-02-18 10:12] pape77 commented on #278
@MarcoRossignoli I stole your code and used it on the one project that I have using this so far. Works :)

[2019-02-18 10:13] driseley opened #343 "Incorrect coverage for statement lambda function"
Coverlet appears to report incorrect coverage for anonymous statement lambda functions.

For the following class:

[code]
The following tests:

[code]

Report the following results:
![image](https://user-images.githubusercontent.com/6659301/52945061-cb2f4980-3368-11e9-9af9-69ff3e5b39a3.png)

Notice that the coverage for the InvokeAnonymous function shows all lines and all branches covered ( which

[2019-02-18 10:17] MarcoRossignoli commented on #278
Can you attach sample image?I'll open a draft PR maybe we'll meet there for "tests".

[2019-02-18 10:22] driseley commented on #343
I have created and example project that demonstrates the issue:
https://github.com/driseley/coverlet-issue-343

[2019-02-18 10:37] driseley commented on #343
Coverlet version 2.5.1, Project .Net Core 2.1

[2019-02-18 11:12] pape77 commented on #278
@MarcoRossignoli You mean like this? (It's the same code of my previous image, now fixed)
![screen shot 2019-02-18 at 12 09 09](https://user-images.githubusercontent.com/7718578/52947144-2f0c3f00-3376-11e9-851b-d46195c0a895.png)

What I ment for tests was this (this is how i have it in my fork):
[code]

So using `Single` istead of `First` for `_module.Types/Methods`

Cheers!

[2019-02-18 18:00] ViktorHofer opened #345 "ExitCode of the underlying test process is ignored"
I believe there should be an option to check the ExitCode of the underlying test process. Creating reports from test runs that didn't succeed could mean the execution stopped prematurely and results are spoiled. Thoughts?

[2019-02-18 18:50] tonerdo commented on #345
This is exactly what happens by default with the MSBuild package, I got a lot of feedback that they'd still want to generate results even for a test failure so that's why the console package does that

[2019-02-18 19:38] ViktorHofer commented on #345
I see. Just looking at coverlet.console itself as a separate product it would still be nice to make that configurable.

[2019-02-18 19:40] MarcoRossignoli commented on #345
After merge new logging capabilities we should at least log a warning

[2019-02-18 22:17] tonerdo commented on #342
#341 is currently adding support for diagnostic output in Coverlet which should give us more insight into the problem. We have a couple of suspicions for this problem and efforts like #329 are underway to figure out how best to fix it

[2019-02-18 22:20] tonerdo commented on #343
@driseley thanks for providing the repro project. @MarcoRossignoli when you do get some time can you take a look at this. You've got more experience with compiler generated code

[2019-02-18 22:21] tonerdo commented on #282
Thanks @SteveGilham, will update to the latest Mono.Cecil version then

[2019-02-18 22:55] bmccord opened #346 "Suspicious Average"
We have an application with 5 projects.  I installed coverlet and ran the coverage.  We currently have 100% coverage (project is just starting).  Here are the results:

+------------------------------------------------+--------+--------+--------+
| Module                                         | Line   | Branch | Method |
+------------------------------------------------+--------+--------+-------

[2019-02-19 01:48] clairernovotny opened #347 "Tests fail if assembly is strong named"
I'm trying to use Coverlet against an assembly that is strong named. When running those tests on the .NET 4.6.1 target, I get many errors similar to this:

[code]

Is there a way to make this work?

[2019-02-19 02:06] onovotny commented on #177
I would suggest that the tfm be added to the output file name in this scenario, yielding multiple output files. ReportGenerator or something else can merge them then.

[2019-02-19 02:40] onovotny commented on #177
Here's another workaround --

In my `Directory.Build.targets` file, I have this:

[code]
It then creates a subdirectory for each assembly and target framework, enabling me to run dotnet test with a wildcard.

[2019-02-19 03:38] onovotny commented on #334
The approach I describe in #177 should work. You'll need to use a tool like ReportGenerator to merge the xml files.

In my `Directory.Build.targets` file, I have this:

[code]
It then creates a subdirectory for each assembly and target framework, enabling me to run dotnet test with a wildcard.

[2019-02-19 08:14] nzain opened #348 "Absolute Path in /p:CoverletOutput fails"
I don't want to see results inside my project directories but gather all results into something like `solutionDir\TestResults\`. Therefore, I've set an absolute path via `/p:CoverletOutput='D:\Foo\Bar\TestResults\'` but coverlet then fails:

[code]

It seems the property is converted to an absolute path again.

[2019-02-19 08:31] nzain commented on #348
This is actually a documentation vs batch file problem. Absolute and relative paths work as intended, but not when use single quotes in a windows batch file as the readme.md suggests:

Removing the single quotes made it work for my scenario. Feel free to close this (or investigate further).

[2019-02-19 10:35] jmezach commented on #342
Okay, looking forward to #341 getting merged ;). If there's anything to try out already, let me know, I would be willing to test drive.

[2019-02-19 13:49] onovotny commented on #347
Looks like this is caused by xUnit's app domains. For `dotnet test`, it can be disabled with the following argument and it works: `-- RunConfiguration.DisableAppDomain=true`

[2019-02-19 13:50] onovotny commented on #348
Easiest thing is to set CoverletOutput in your csproj or a Directory.Build.targets. Then you can make it dynamic too.

https://github.com/dotnet/reactive/blob/350b62266a3a6998f2291f66d3852a24876efedb/Ix.NET/Source/Directory.build.targets#L26-L32

[2019-02-19 18:13] MarcoRossignoli commented on #347
@tonerdo maybe we should document?

[2019-02-20 21:41] abbotware opened #349 "Missing Coverage from 1 module, not others"
I seem to have a strange issue - I get coverage data for 5/6 projects.

I have unit tests that run code in the 6th project and I don't see any coverage data.   I see no errors on the console and no failed unit tests.

I made sure the project generates a pdb and the settings are for all 6 projects identical as I am using directory.build.props to make the settings consistent.   Is there any diagnost

[2019-02-20 21:52] jmezach commented on #342
FYI, I checked out the code from #341 and ran it on my project using coverlet.console and while I am seeing some more messages, I still don't see any reason for the coverage being zero.

[2019-02-21 04:25] Vassi opened #350 "Error code on merged results despite aggregate being fine"
I couldn't quite find an issue of this, but I apologize if I just missed it.

I run coverlet across three different test projects using the Merge option to get a total code coverage report at the end. My issue is that on each test project the coverage on the assemblies varies so, individually, some may fail my code coverage threshold but in the aggregate it's fine. Still, coverlet errors on the in

[2019-02-22 09:20] nzain commented on #348
Nice idea @onovotny but `$(AssemblyName)` is empty in my case and all coverage reports would go to the same file overwriting each other. I guess, this is because our `Directory.build.props` lives in solution root and is evaluated before anything else. In fact your structure looks similar, so how did you get this variable filled?

[2019-02-22 09:52] MarcoRossignoli commented on #342
@jmezach your issue could not be logged yet, you should try to add logging [here](https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Coverage.cs#L191) and understand if hits file is missing(related to #329)

[2019-02-22 10:10] MarcoRossignoli commented on #349
Have you tried to run only for that project with include filter?We've an open issue on similar issue.

[2019-02-22 10:20] MarcoRossignoli commented on #350
Can you check threshold only for last run?(If I understood well you run three time for three test projects)
IIRW run coverlet solution wide is not supported yet, right @tonerdo?

[2019-02-23 17:21] tonerdo commented on #350
That's right @MarcoRossignoli. @Vassi I suggest not trying to run Coverlet solution-wide as that is not a supported scenario and is bound to give you problems. In regards to Coverlet failing on your thresholds, you should consider setting the [ThresholdStat](https://github.com/tonerdo/coverlet#threshold-1) property

[2019-02-23 17:22] tonerdo commented on #349
@abbotware can you please paste the terminal output from your test run

[2019-02-23 17:25] Vassi commented on #350
I see. That's a shame on the solution coverage. Thanks for the attention.

[2019-02-23 17:25] #350 closed

[2019-02-23 17:39] tonerdo commented on #346
@bmccord I think this might be a side effect of how Coverlet displays results. For example, if the code contains no branches, Coverlet will display 100% instead of 0%. However, when calculating the total and average it'll use the `0` value.

[2019-02-23 17:46] #348 closed

[2019-02-23 17:46] #278 closed

[2019-02-23 18:45] #196 closed

[2019-02-23 19:04] tonerdo commented on #110
@queen-of-code if you're using `coverlet.console` and `xunit` can you try what @tomap suggested? https://github.com/tonerdo/coverlet/issues/110#issuecomment-463670592. #329 is still WIP at the moment

[2019-02-24 12:32] jmezach commented on #342
@MarcoRossignoli I added the logging in my local build and I now get the following output:

[code]

I'm pretty sure my code is being called, so either the assemblies aren't being properly instrumented or something else is going on. I'll see if I can get a handle on this ;).

[2019-02-24 12:37] MarcoRossignoli commented on #342
@tonerdo could be related to https://github.com/tonerdo/coverlet/pull/329 also for Linux?

[2019-02-24 13:08] tonerdo commented on #342
Can say for sure. Possibly the assembly wasn't instrumented or it was instrumented and the temp file couldn't be created. @jmezach what version of Coverlet are you using?

[2019-02-24 13:15] jmezach commented on #342
@tonerdo I'm currently using locally build bits based on the sources from #341 in order to figure out what's going on, but I was using 2.5.1 when I initially reported this issue.

I've managed to add some additional logging inside of the instrumented assembly by tweaking the ModuleTrackerTemplate. I can see that the RecordHit method there is being called while the tests are executing. But I also a

[2019-02-25 03:29] leleSahil commented on #245
I am trying to use the /p:ThresholdStat option to specify that the total coverage not dip below a certain number and I am seeing weird results

+----------------------------------------+--------+--------+--------+
| Module                                                        | Line   | Branch | Method |
+----------------------------------------+--------+--------+--------+
| Module 1

[2019-02-25 03:30] leleSahil opened #352 "Unexpected Results for ThresholdStat=total"
I am trying to use the /p:ThresholdStat option to specify that the total coverage not dip below a certain number and I am seeing weird results

+----------------------------------------+--------+--------+--------+
| Module | Line | Branch | Method |
+----------------------------------------+--------+--------+--------+
| Module 1 | 26.1% | 21.6% | 46.6% |
+----------------------------------------+-

[2019-02-25 03:30] leleSahil commented on #352
Additionally is there an option to exclude a module from coverage results and thresholding?

[2019-02-25 08:56] MarcoRossignoli commented on #352
Not sure to understand well, but you can filter out module with filter https://github.com/tonerdo/coverlet#filters-1 with `/p:Exclude`

[2019-02-26 03:03] leleSahil commented on #352
I am referring to this option from the documentation:

By default, Coverlet will validate the threshold value against the coverage result of each module. The /p:ThresholdStat option allows you to change this behaviour and can have any of the following values:

Minimum (Default): Ensures the coverage result of each module isn't less than the threshold
Total: Ensures the total combined coverage resu

[2019-02-26 06:56] orkenstein commented on #122
` /p:ExcludeByFile` definitely doesn't work in shell.

[2019-02-27 14:52] MarcoRossignoli commented on #296
@sharwell can we close this?Does @ViktorHofer's idea works?
Usually similar to @ViktorHofer's idea I copy targets on "tests" and point `<UsingTask>` to debug build path, after with Debug.Launch() I attach to VS inside coverlet(and rebuild), in this way I stop code before "restore" dll and I can analyze instrumented dll.

[2019-02-27 15:11] sharwell commented on #296
@MarcoRossignoli There isn't a good approach today but I'm hoping we can implement it after the project PRs are merged.

[2019-03-01 08:16] MarcoK80 commented on #333
We have the same issues when running  .net Core 2.2 and testing asychronous web requests with the aspnet core test server approach. It was running with .net Core 2.1.

[2019-03-01 08:17] MarcoK80 commented on #321
We have the same issues when running  .net Core 2.2 and testing asychronous web requests with the aspnet core test server approach. It was running with .net Core 2.1.

[2019-03-01 11:26] tpetrina commented on #333
That is exactly what I am doing!

[2019-03-01 15:26] Frankwayne commented on #340
@MarcoRossignoli     the link
https://github.com/tonerdo/coverlet/tree/master/src/coverlet.msbuild   404 on me.

I'm having the same issue as well  with a   net47  target framework.     I'm going to try and debug locally and if I can find something I will post it

[2019-03-01 15:33] MarcoRossignoli commented on #340
The files are moved sorry https://github.com/tonerdo/coverlet/tree/master/src/coverlet.msbuild.tasks coverlet.msbuild.props and coverlet.msbuild.targets

[2019-03-01 20:15] bmccord commented on #346
@tonerdo Is that the way it should function or is this considered a bug?

[2019-03-02 15:55] fatguyclimbs commented on #176
somewhat similar issue when I attempt to build from the Mac Mojave 10.14.3 running NetCore 2.2.104
error MSB3644. the Readme is extensive with respect to running the tool, but I'm scratching my head at the build environment requirements.  Guidance?

![screen shot 2019-03-02 at 10 52 50 am](https://user-images.githubusercontent.com/1267861/53684282-57326100-3cd9-11e9-9d83-e1722f6dd931.png)

[2019-03-03 09:59] #320 closed

[2019-03-03 09:59] #321 closed

[2019-03-03 09:59] #338 closed

[2019-03-03 10:04] tonerdo commented on #288
#318 updates the Instrumenter to write new symbol information after instrumentation. New NuGet bits with this change will drop in 24 hours

[2019-03-03 10:04] #288 closed

[2019-03-03 10:57] tonerdo commented on #295
This happens because I switched to using absolute paths. #356 re-includes the `source` element

[2019-03-03 11:08] #295 closed

[2019-03-03 15:03] #345 closed

[2019-03-03 15:06] tonerdo commented on #324
I believe the best solution to this will be adding solution-wide coverage capabilities to Coverlet

[2019-03-03 15:07] tonerdo opened #357 "Solution wide coverage"
Coverlet should be able to get coverage for all test projects in a specified solution file

related issues
https://github.com/tonerdo/coverlet/issues/165

[2019-03-03 15:08] tonerdo commented on #324
#357 will track the work need for this scenario

[2019-03-03 15:08] #324 closed

[2019-03-03 15:09] #283 closed

[2019-03-03 15:11] tonerdo commented on #280
Thanks for the suggestion but I don't think your scenario is something we plan to support in Coverlet. Your workaround should be sufficient

[2019-03-03 15:11] #280 closed

[2019-03-03 17:45] ViktorHofer commented on #345
Assuming we added logs or a switch now that this is closed?

[2019-03-03 18:36] MarcoRossignoli commented on #345
Mmm we added log infrastructure but nothing related to this specific case afaik /cc @tonerdo

[2019-03-03 18:56] tonerdo commented on #345
@ViktorHofer yeah, we added logging. Efforts (like #329) to overhaul Coverlet's underlying approach will render a switch redundant in the long run. Also, adding a switch to `coverlet.console` will lead to requests for similar in `coverlet.msbuild` which is not possible at the current time.

[2019-03-04 21:47] Frankwayne commented on #340
So im not sure how this is suppose to work but when  coming across the dll   net47/win10-x64/Dapper.StrongName.dll

in the Coverage.cs  file     foreach loop  line 90
`                        var result = instrumenter.Instrument();
`
is where i get into a non responding task.

I have tried to only include my .dll  only  with /p:Include="[CompanyName.*]*      but then I loose all code coverage  in

[2019-03-05 02:47] sharwell opened #358 "coverlet.msbuild does not work for projects targeting .NET Framework 4.6"
This regression was introduced in #355.

_Originally posted by @sharwell in https://github.com/tonerdo/coverlet/pull/355#discussion_r262329107_

[2019-03-05 05:01] ThinkAboutGitHub opened #359 "Latest NuGet package no longer works"
Hi there
we upgraded our coverlet NuGet package from 2.5.1 to 2.6, and now when we collect code coverage we face the following error on our previously working build:
2019-03-05T03:32:00.3145123Z /root/.nuget/packages/coverlet.msbuild/2.6.0/build/netstandard2.0/coverlet.msbuild.targets(35,5): error : One or more errors occurred. (Could not find file '/tmp/xunit.runner.visualstudio.dotnetcore.testad

[2019-03-05 07:57] tomap commented on #359
I had the same issue.
I solved it using  `/p:Exclude="[xunit*]*"`

[2019-03-05 09:05] tonerdo commented on #358
Hmm..I see. Will update and include in the next release. Thanks

[2019-03-05 11:12] MarcoRossignoli commented on #340
when task hand and if you're in debug(attached) you can click on VS pause button and check all stacks to understand where app hanging https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/viewing-the-call-stack-in-visual-studio you'll see one stack for every thread running.

[2019-03-05 16:19] Frankwayne commented on #340
Thanks Marco  for the information.

So I have looked at the Call Stack window after pausing when the task appears to hang, I only  see one call stack.

I looked in the Parallel Stack Window as well, and I can only see one thread  that is calling the attached code, and it displays the same information  as the call stack window

I will first display the call stack that I think will interest you that

[2019-03-05 16:20] Frankwayne commented on #340
I forgot to add. My code is hanged    on line 157  of Instrumenter.cs

`                    module.Write(stream, new WriterParameters { WriteSymbols = true });
`

[2019-03-05 16:26] Frankwayne commented on #340
Dont spin your wheels too much on this information.   I tried to pause again  and visual studio is throwing an exception.   I'm going to try and replicate the issue after lunch and see if I can pull the module path out when  I get exception pausing

[2019-03-05 16:31] MarcoRossignoli commented on #340
Could you also enable logging(new capabilities) to understand where code hang(before/after instrumentation for instance)

Run `dotnet test`
[code]
and add some logging inside your clone similar to https://github.com/tonerdo/coverlet/blob/f4aa25948df26408e8c1261d6bf93ae08c0d7a9c/src/coverlet.core/Coverage.cs#L78

[2019-03-05 19:25] Frankwayne commented on #340
I keep getting  the following

Unable to instrument module  {name of  project referenced in  test project }  because No `name` stream   {name of test project }

Writting Module  {name of test project }    <--- this is my custom log to get the module that is attempting to be written out in Instrumenter.cs  line 157

[code]
Instrumented module  {name of test project .dll }
Writting module 'Dapper.St

[2019-03-05 19:59] Frankwayne commented on #340
Alright  this may be more useful.   I delete  my bin and object folder in the test project that was giving me issue and rebuilt  my  project.

Now pausing  the coverlet  to the the dialog pop up of

The target process exited with code -2146233082 while evaluating the functions 'Mono.Cecil.ModuleReference.ToString'

will now output the error in powershell  for dotnet test
[code]

[2019-03-05 20:06] Frankwayne commented on #340
For some reason

 dotnet test --no-build {solution path}  -l trx -r {test result folder path}  --filter Category!=Integration /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /v:n

is causing my   .sqlproj   to be built.

I think I'm getting closer to the root issue at hand

[2019-03-05 20:15] MarcoRossignoli commented on #340
At the moment run Coverlet on sln is not supported, could you try to run test for every csproj?

[2019-03-05 22:22] hack2root commented on #359
If you assembly requres and references NuGet packages, it is still not recoverable, @tomap @tonerdo @ThinkAboutGitHub

see my logs

switched to 2.5.1: [log1.txt](https://github.com/tonerdo/coverlet/files/2933364/log1.txt)
[switched to 2.6.0](https://ci.appveyor.com/project/hack2root/build/builds/22849777): [log2.txt](https://github.com/tonerdo/coverlet/files/2933365/log2.txt)
[switched to 2.5.1](h

[2019-03-05 22:50] hack2root commented on #359
or you can `/p:Include`, everything else will automatically be excluded!

[2019-03-06 00:57] hlubovac opened #360 "Error "Could not find file ""
Could you please take a look at this and see if it falls within your realm: https://github.com/xunit/xunit/issues/1909

What the xunit guys are suggesting is definitely not within the realm of my project. Something changed within the host environment that perhaps now requires a different set of arguments for `dotnet test`. Thank you.

[2019-03-06 08:47] tonerdo commented on #360
You should ignore all `xunit` assemblies

[2019-03-06 09:50] LeonidEfremov opened #361 "Crash xUnit test"
Version `2.6.0` crash tests
[code]
[code]
with this exception
[code]

[2019-03-06 09:58] MarcoRossignoli commented on #361
dup https://github.com/tonerdo/coverlet/issues/359#issuecomment-469577948

you have to exclude xunit or include only specific lib i.e.  `/p:Exclude="[xunit*]*"` or  `/p:Include="[Build]*"` you can verify instrumented lib appending `-v:n` at the end of `dotnet test` command.

[2019-03-06 09:58] MarcoRossignoli commented on #360
dup https://github.com/tonerdo/coverlet/issues/359#issuecomment-469577948

you have to exclude xunit or include only specific lib i.e.  `/p:Exclude="[xunit*]*"` or  `/p:Include="[Build]*"` you can verify instrumented lib appending `-v:n` at the end of `dotnet test` command.

[2019-03-06 10:01] LeonidEfremov commented on #361
Thank you, now is workink well.

[2019-03-06 10:01] #361 closed

[2019-03-06 19:05] Frankwayne commented on #340
Sure.  I start hitting the test project in question and I was getting the same hanging issue.

So I decided to  clone the Mono.Cecil repo  and add in the references to the coverlet solution .

I have been trying to get the output to be the same  without injecting  my clone of the coverlet repo but using the clone repo of coverlet, my dotnet test command wants to include my test project. Not sure w

[2019-03-06 19:40] MarcoRossignoli commented on #340
Hits file not found is related to another open issue...but I wonder why it hang(seem unrelated to hit file issue)...have you tried to run on different machine?Maybe process dump during hang could be useful also.

[2019-03-07 07:51] MarcoRossignoli commented on #360
@hlubovac have you tried?can be close issue?

[2019-03-07 13:35] MarcoRossignoli commented on #296
@sharwell I found a way:
[code]

[2019-03-07 18:35] Frankwayne commented on #340
sure ill give that a try as well.

I also attempted the test run on my build server and its currently hanging.  Perhaps I will try and repo the issue without company code in a little bit, I dont seem to  be making much headway.

[2019-03-07 19:44] hlubovac commented on #360
Hi - yes, I tried few variations of those: excluding "xunit" worked - thank you!

However, I still find it weird that this started happening with no actual changes within compiled/tested source files or the script-file that actually executes `dotnet test` or any of the involved file-locations. Perhaps I'm overlooking a forced nuget-package version change or something. I'll watch for this. Thank yo

[2019-03-07 19:44] #360 closed

[2019-03-07 19:45] MarcoRossignoli commented on #360
Let us know if you need further help!Happy coding!

[2019-03-08 08:28] singhsarab commented on #212
Even I feel first class package for Coverlet.Core make a lot of sense and would make our life easier.

[2019-03-08 13:34] sharwell opened #362 "Embedded PDB files break RestoreOriginalFile"
This code assumes the PDB file is separate from the assembly. It results in an MSBuild error when the PDB is embedded within the assembly (`<DebugType>embedded</DebugType>`).

https://github.com/tonerdo/coverlet/blob/062b907735901bdf3ad9d4d40953f53a4fe3f364/src/coverlet.core/Helpers/InstrumentationHelper.cs#L110-L114

[2019-03-08 14:56] sharwell opened #363 "InstrumentationHelper.HasPdb always returns false for deterministic source paths"
When `/p:DeterministicSourcePaths=true` is set, `InstrumentationHelper.HasPdb` looks for PDB files in the wrong location. These files are never found, so instrumentation is not performed.

https://github.com/tonerdo/coverlet/blob/062b907735901bdf3ad9d4d40953f53a4fe3f364/src/coverlet.core/Helpers/InstrumentationHelper.cs#L74

[2019-03-08 15:17] Frankwayne commented on #340
I have isolated the issue  and created a Repo  that you should be able to  copy on your machine.   I'm running windows 10  and have not tested on other machines besides window 10 machines

https://github.com/Frankwayne/BreakCoverletMono

here is the command I'm using to cause the hanging issue.

dotnet test --no-build  -l trx --filter Category!=Integration /p:CollectCoverage=true /p:CoverletOutput

[2019-03-08 15:24] sharwell opened #364 "MSBuild data should not be passed between tasks via static fields"
The following static field access should be rewritten using MSBuild inputs and outputs:

https://github.com/tonerdo/coverlet/blob/062b907735901bdf3ad9d4d40953f53a4fe3f364/src/coverlet.msbuild.tasks/CoverageResultTask.cs#L69

https://github.com/tonerdo/coverlet/blob/062b907735901bdf3ad9d4d40953f53a4fe3f364/src/coverlet.msbuild.tasks/InstrumentationTask.cs#L10

I believe the most straightforward and

[2019-03-08 15:26] Frankwayne commented on #340
To fix my issue I had to remove the default storeName  in the method call

`        public static X509Certificate2 DoSomething(StoreName storeName = StoreName.My)
`

to

`        public static X509Certificate2 DoSomething(StoreName storeName)
`

[2019-03-08 16:11] MarcoRossignoli commented on #340
Thank's for throubleshooting, I'll take a look!

[2019-03-09 05:25] MagicTrevor commented on #110
I have followed @tomap workaround and while I do get some coverage %, it only appears for the test project and not the actual class lib being tested.
<img width="401" alt="Screen Shot 2019-03-08 at 10 25 16 PM" src="https://user-images.githubusercontent.com/27883110/54066658-182c7000-41f1-11e9-8d3a-96a5393e05c2.png">

[2019-03-12 10:22] ViceIce commented on #363
Additionally, it should have a `try ... catch` block, because `peReader.ReadDebugDirectory()` can fail.

Eg [Oracle.ManagedDataAccess 18.3.0](https://www.nuget.org/packages/Oracle.ManagedDataAccess/18.3.0) is failing.

[2019-03-12 10:56] ViceIce commented on #358
The files can be simply put in the build folder, then it is working fine

[2019-03-12 20:07] jherby2k commented on #359
Yeah, this is the second minor version release that has blown up my CI. I'm already excluding xunit, but mine is reporting errors and returning a 1 exit code because it can't find a PDB file for System.Threading.Tasks.Dataflow.dll. No effing kidding! That's because its not my code.

[2019-03-12 21:00] xolott commented on #110
I'm using coverlet for 2 weeks now and everything was working fine. But today I'm getting 0% coverage report in some runs, other times it shows the right data. No package was updated nor installed.

[2019-03-12 22:22] tonerdo commented on #110
@xolott do you see any stdout logging from Coverlet?

[2019-03-12 22:27] xolott commented on #110
I don't @tornedo Just the usual output. It happened only 2 times today.

![Screenshot from 2019-03-12 19-24-51](https://user-images.githubusercontent.com/5204776/54240369-a1e38280-44fc-11e9-9c03-e00f503cea97.png)

It usually takes 10s to run the test, but when coverlet report 0% it takes 20+ seconds.

[2019-03-14 18:39] royshea commented on #110
Ran into this problem myself using coverlet.msbuild 2.6.0.  I was able to generate test coverage reports using @tomap's workaround.

[2019-03-15 11:22] sharwell commented on #359
I'm starting to think this is caused by #362

[2019-03-15 11:40] MarcoRossignoli commented on #359
@jherby2k do you have a stack trace to show?

[2019-03-15 19:29] jpaskhay commented on #295
We're using 2.6.0 and it appears there are still issues with this. Jenkins can't render the source and shows the `Source code is unavailable....` message. The filename it attempts to render is `var/lib/jenkins/workspace/....` (note missing leading slash).

It appears the cobertura Jenkins plugin strips the leading slash character and expects a relative path: https://github.com/jenkinsci/cobertura-

[2019-03-17 01:33] #358 closed

[2019-03-18 06:13] loning opened #371 "The process cannot access the file '/tmp/***' because it is being used by another process"
it sometimes appears

https://travis-ci.org/AElfProject/AElf/builds/507692055?utm_source=github_status&utm_medium=notification

[code]

[2019-03-18 15:26] danielloganking commented on #218
I had the same issue and thus switched to the `-p:` syntax so they could all be the same. Fair warning, I found that `--logger:` had to go at the end if you use some values other than `trx` (for instance, `console;verbosity=normal`

[2019-03-18 15:27] danielloganking commented on #346
I was also wondering if excluded projects had something to do with this?

[2019-03-20 16:04] psfinaki commented on #122
So what am I supposed to do if I want to exclude some Migrations folder?

Something like
`dotnet test Code /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:Exclude="**/Migrations/**"`

[2019-03-20 21:17] tonerdo commented on #371
This seems like a transient file access error. Can you try it again?

[2019-03-20 21:19] tonerdo commented on #352
What does the `Total` in the terminal summary output read?

[2019-03-21 00:40] loning commented on #371
yes it was transient，but very often

bash scripts/test.sh

not only in CI，but also in local dev machine

we use osx to dev，and CI was in unbuntu

发自我的 iPhone

[2019-03-21 15:20] kwentinn commented on #148
Have you tried removing the forward slashes in the regex in gitlab ? Try `ProjectName.*?(\d+(?:\.\d+)?)%`. It should work!

[2019-03-25 22:10] lucasbflopes commented on #81
Any updates on this feature?

[2019-03-25 22:23] ppumkin commented on #212
I have been getting requests for the NuGet package and will publish an unofficial one onto NuGet in the coming days to help contributors. As you can see people here are also waiting. If you have any reservations about this please let me know.

[2019-03-26 10:17] tonerdo commented on #212
@ppumkin and what about when people have problems with your NuGet package? The whole reason `coverlet.console` and `coverlet.msbuild` remain the only public interfaces is because it allows me to evolve `coverlet.core` at will and without limitations.

As users start to build tools around your NuGet package, they will begin to _expect_ certain things from the core library that should generally be o

[2019-03-26 16:30] ppumkin commented on #212
Looking at the flip side it also allows users to create and maintain other cool things using your library. For example, the Extension I built solely exists because of your library and MsBuild and Console just cant be used to leverage this functionality. I had to download the source, make my own package and bundle it privately with the final build.

Looking at SOLID principles. Your code should be

[2019-03-26 20:35] scovel opened #372 "1.5.0 instruments and reports on the unit test project in addition to the assembly under test."
With the exact same command-line, coverlet console 1.5.0 is instrumenting and reporting coverage for the unit test project itself, where in 1.4.1 it only instrumented the project under test as expected.

[code]

coverlet console 1.4.1

[code]

coverlet console 1.5.0

[code]

[2019-03-27 01:32] jnovick commented on #212
I think @ppumkin is right to publish it for others to use but I think it should be forked from this repo and given a name that indicates it is the forked version that way people who consume it don't get confused. If you, @tonerdo, don't like someone else publishing a forked version of your code, then publish it yourself. If you aren't willing to do that then people like myself will consume and enj

[2019-03-27 08:55] tonerdo commented on #212
@jnovick I don't think I like your tone. This project is open source and anyone is free to fork or publish whatever they want. I was simply stating my concerns on what having a `coverlet.core` NuGet package in the wild could look like for this project and its maintainers.

[2019-03-27 11:49] jnovick commented on #212
@tonerdo And that is why I suggest it be a fork with a different name. I am sorry if my tone comes across as harsh. It is not intended that way. It is intended to be more a matter of fact than any emotional tone. This is one of the many reasons I prefer spoken language over written language. Emotions can't be expressed over writing. So if I offended you, I sincerely apologize. While I appreciate y

[2019-03-27 13:25] MarcoRossignoli commented on #372
https://github.com/tonerdo/coverlet/pull/318 we don'ts skip test project anymore, if you don't want cover test project you can use `/exclude` switch.

[2019-03-27 13:41] tonerdo commented on #212
@ppumkin @jnovick I'm inclined to put this under more consideration. Re-opening this issue and inviting the thoughts of @MarcoRossignoli @petli as core contributors and @ViktorHofer and @sharwell as users who've had to adapt Coverlet to edge cases.

Thoughts?

[2019-03-27 14:26] sharwell commented on #212
I don't see any reason why you couldn't publish the package to NuGet. The API compatibility policy can be as relaxed or strict as you like.

[2019-03-27 14:55] MarcoRossignoli commented on #212
Before express final thoughts I would like to have the "scenarios" list to understand risk-benefit, for risk I mean slow down the freedom to do whatever we want with internals, Coverlet changes very quickly, we added logging and maybe we will change the way we integrate with test framework(collectors), there are some issue with current "static model"(instrumentation/coverageresult in same process)

[2019-03-27 15:23] tonerdo commented on #212
@MarcoRossignoli my thoughts exactly. I'm not against opening up the core package, I'm just concerned that it's a bit too early. I've also been thinking of creating a separate `coverlet.reporters` assembly so the core library is only concerned with instrumentation and coverage calculation.

I'm happy to put a disclaimer about breaking changes but I'll feel more inclined to keep compat when a packa

[2019-03-28 13:34] scovel commented on #372
I had to add the following to get the "old" behavior.  Otherwise it was trying to instrument some System.* classes.

[code]

You'd think a breaking change would be mentioned in some release notes somewhere.

[2019-03-28 13:36] derhally commented on #372
I think this is a bug.  Most developers will not want this behavior.   The fact that everyone has to go do this by default is wrong.

[2019-03-28 13:41] scovel commented on #372
I totally agree.

I think instrumenting your unit test code is a bug as well, but I guess one guy asked for that as a "feature" and here we are.

[2019-03-28 13:47] MarcoRossignoli commented on #372
/cc @tonerdo we should think to add a notes doc somewhere with "behavioural changes"

@scovel @derhally read all thread of PR https://github.com/tonerdo/coverlet/pull/318 there is an important point that drove us to accept the update, the key part is https://github.com/tonerdo/coverlet/pull/318#issuecomment-457223596

How can you understand if some code is not covered due to issue with some "non r

[2019-03-28 13:52] derhally commented on #372
I don't agree.  I personally never want to instrument my unit tests.   My unit test runner tells me which tests are run, skipped or failed.   That should not be the default behavior of coverlet.   I expect that most people care only about the SUT not what is testing the SUT.

At this point I cannot use coverlet 2.5. or later.   I'm having to exclude 5 or 6 external assemblies from one project.   I

[2019-03-28 13:55] derhally commented on #372
The right thing to do was to have a flag that enabled this behavior change.   This behavior should not be the default.

[2019-03-28 13:55] scovel commented on #372
I read all of that PR, didn't necessarily agree with it.  I saw you debated adding a flag and then decided to change the default behavior instead.  That's fine, but some release notes for 1.5.0 would have been good.

I think derhally is referring to some system assemblies getting instrumented as being a bug.  Without excluding [System*]* . I get the following:

[code]

And then get errors about th

[2019-03-28 13:59] derhally commented on #372
With v 2.6.0 coverlet  I see errors like this

[code]

[2019-03-28 14:19] ppumkin commented on #212
OK reading @MarcoRossignoli points it actually makes some sense to why you have not done it yet. OK.

In terms of segregation I have been reading the NuGet MS Docs and they suggest to package every useful thing into a separate package.  So I get that the Core API is volatile so splitting out all the MsBuild, Console and Core things just creates unnecessary overhead.

So ...

As for providing a Cov

[2019-03-28 14:32] MarcoRossignoli commented on #372
@derhally can you provide a simple repro?

[2019-03-28 14:46] tonerdo commented on #372
@derhally @MarcoRossignoli That error is because Coverlet is unconditionally trying to restore the pdb file for an assembly that has it embedded. I'm also in agreement with @derhally and I'll work on putting this feature behind a flag that will be turned off by default. Will address this weekend

[2019-03-28 15:00] MarcoRossignoli commented on #372
thank's for info!

[2019-03-29 00:31] marcusturewicz opened #373 "Could not find file xunit.runner.reporters.netcoreapp10_.pdb"
When running the following command:
`dotnet test /p:CollectCoverage=true`

I am getting the following error:
[code]
**Versions**
.NET Core SDK 2.2.104
coverlet.msbuild 2.6.0

**Sample project**
[coverlet-error.zip](https://github.com/tonerdo/coverlet/files/3020615/coverlet-error.zip)
Go into test folder and run `dotnet test /p:CollectCoverage=true`.

[2019-03-29 04:59] tylerohlsen opened #374 "Incorrect TargetPath with combination of PLATFORM envvar and --no-build"
I'm using coverlet.msbuild version 2.6.0 and my build pipeline sets the environment variable `PLATFORM` to `x64`.  That environment variable in combination with `--no-build` causes the calculated target path to be incorrect.

Here's the error I get when that combination is in play after I've built the solution.

[code]

The calculated target path is
`bin\X64\Debug\netcoreapp2.2`
but the actual tar

[2019-03-29 06:23] TLaborde commented on #110
I'm having the same issue on the latest version. WebAPI project dotnet core 2.1, using vscode and the msbuild way.

It seems it cannot read/write some file in temp folder?

full logs:

[code]

[2019-03-29 14:27] MarcoRossignoli commented on #373
It's a know issue https://github.com/tonerdo/coverlet/issues/372#issuecomment-477626872 for now you can skip to instrument xunit with `/p:Exclude="[xunit*]*"`

[2019-03-29 15:48] richlander commented on #359
Just added coverlet to a new project. Running into the same problem. Downgraded to v2.5.1 and everything works.

What I see:

[code]

[2019-03-29 16:26] MarcoRossignoli commented on #359
@richlander your issue seems related to https://github.com/tonerdo/coverlet/issues/210 there is a pending PR https://github.com/tonerdo/coverlet/pull/329

[2019-03-29 23:06] marcusturewicz commented on #373
Ah ok; I also see this is a duplicate of #359, so I'll close this.

[2019-03-29 23:06] #373 closed

[2019-04-01 10:21] #359 closed

[2019-04-01 11:26] tonerdo commented on #374
@tylerohlsen Coverlet only uses the value of the `TargetPath` provided to it by MSBuild and does not itself deduce where the assembly is located

[2019-04-01 11:27] #372 closed

[2019-04-01 14:25] totollygeek commented on #167
Any progress with that issue. I am forced to exclude more and more proj files from coverage generation because of this problem. @InKahootz, is the PR already submitted?

[2019-04-01 14:42] tonerdo commented on #167
@totollygeek have you tried the latest NuGet package? The offending code is no longer present

[2019-04-01 14:50] totollygeek commented on #167
Yeap, still the same:
 error : Index was outside the bounds of the array.
error :    at Coverlet.Core.Reporters.CoberturaReporter.Report(CoverageResult result)

[2019-04-01 14:53] totollygeek commented on #167
I am guessing the problem is somewhere here:
[code]

[2019-04-01 17:57] tylerohlsen commented on #374
Understood.  I discovered new information on why this is happening and created a new issue in the dotnet/cli project here: https://github.com/dotnet/cli/issues/11051.

This issue in coverlet can be closed.

[2019-04-01 17:57] #374 closed

[2019-04-02 17:36] paratroid commented on #138
Apologises to revive this old thread but I appear to be getting the same thing happening, and this thread is the best match for what I've found vs anything else available online. I'm hoping it's just me missing something really simple in the set-up:

**Reproduction steps:**

- Install coverlet 2.6.0 (latest version as of 02/04/19) using `dotnet add package coverlet.msbuild`
- In the root of the so

[2019-04-05 15:01] HulinCedric commented on #371
I have pretty the same issue but with a .pdb file hard to find.

The code run like @loning on a macOS machine.

[code]

[2019-04-09 10:05] b3b00 opened #377 "coverage dropped to 0%"
hello,
I am  facing a strange issue. I use coverlet to get coverage info for my project (https://github.com/b3b00/csly)
Coverage recently dropped to 0% although it was around 90%.

here is my command line :
`C:\Program Files\dotnet\dotnet.exe test /p:CollectCoverage=true /p:CoverletOutputFormat=lcov /p:CoverletOutput=./lcov.info /p:exclude="[while]*,[jsonparser]*,[expressionParser]*,[SimpleExpress

[2019-04-09 10:17] MarcoRossignoli commented on #377
could be dup of https://github.com/tonerdo/coverlet/issues/110

[2019-04-09 12:00] andreacassioli opened #378 "Coverage output file name"
Is there a way to set the output file name so that it will include the project name and a timestamp, pretty much as standard unit test trx files? I cannot find any mention of this.

[2019-04-09 12:41] MarcoRossignoli commented on #378
At the moment no
https://github.com/tonerdo/coverlet/blob/0956d1e8da6b7265b0b5e4f93af3499c4be99cc8/src/coverlet.msbuild.tasks/CoverageResultTask.cs#L99-L106

but the idea is not bad /cc @tonerdo

[2019-04-10 03:55] arun-subramanian-1 opened #379 "Specifying threshold level for each threshold type."
Threshold command-line option `/P:Threshold` seems to use a single value for all threshold type.
I would like to specify different threshold level for each threshold types.

like 100% method but give like 50% branch for ex.

`/p:Threshold=\"50,100\" /p:ThresholdType=\"branch,method\"`

But this doesnt  work, it throws error

[code]

[code]

[2019-04-10 09:20] b3b00 commented on #377
I solved the problem rollbacking to coverlet 2.0.0 (later version are not working).
For more info :
`dotnet --info
SDK .NET Core (refl▒tant tous les global.json)▒:
 Version:   2.2.105
 Commit:    7cecb35b92

Environnement d'ex▒cution▒:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.105\

Host (useful for su

[2019-04-10 11:57] MarcoRossignoli commented on #379
Confirm at the moment we use only single value https://github.com/tonerdo/coverlet/blob/226455ece9760c72d3d09ca6c377efb8cb61d686/src/coverlet.core/CoverageResult.cs#L164

[2019-04-10 23:34] mbenua-mparticle commented on #110
@tonerdo I can't easily replicate that workaround given how our build system is configured (and what's where things usually fail, of course). However, I can confirm that it's the same /tmp file problem. My build log is filled with  `Hits file:'/opt/teamcity/temp/buildTmp/Security_7e5983e3-8478-4fed-ab9a-86056fa2452b' not found for module: 'Security'` messages where it's reporting 0% coverage.

I t

[2019-04-10 23:36] queen-of-code commented on #110
@tonerdo I can't easily replicate that workaround given how our build system is configured (and what's where things usually fail, of course). However, I can confirm that it's the same /tmp file problem. My build log is filled with Hits file:'/opt/teamcity/temp/buildTmp/Security_7e5983e3-8478-4fed-ab9a-86056fa2452b' not found for module: 'Security' messages where it's reporting 0% coverage.

I thin

[2019-04-12 12:56] cRUSHER-HLG commented on #148
Guys are you sure? Im also using gitlab. I use these command for my (xUnit) unit tests:
dotnet test /p:CollectCoverage=true /p:Exclude='[xunit*]*'

This is my full output of the command above:
Microsoft (R) Test Execution Command Line Tool Version 16.0.1
Copyright (c) Microsoft Corporation.  All rights reserved.

Starting test execution, please wait...

Total tests: 7. Passed: 7. Failed: 0. Skippe

[2019-04-12 13:16] cRUSHER-HLG commented on #29
Is this still working for you?

[2019-04-12 14:18] cRUSHER-HLG commented on #284
The problem on your solution is that it dont works if you have full percent values.

This works:
18.00%
18.0%

This dont works:
18%

[2019-04-12 14:32] cRUSHER-HLG commented on #284
@desmondgc
My version works and fixes your bug (now it works also with integer values):
^\|\s*Total\s*\|[^|]*\|\s*(\d+\.\d+ | [\d.]+)

If you want to use it, test it here:
https://rubular.com/

Sample Values:
+----------------------+-------+--------+--------+
| Module               | Line  | Branch | Method |
+----------------------+-------+--------+--------+
| Project | 6.3%  | 18%    | 11.6%  |

[2019-04-13 02:48] hjkl950217 commented on #166
@SteveGilham I have encountered a similar problem, after add `/p:CopyLocalLockFileAssemblies=true` work.  thanks.

I watched #72 ,I hope this issue will be resolved soon. `/p:CopyLocalLockFileAssemblies=true`  is only a temporary solution and does not solve the fundamental problem.

[2019-04-14 18:26] MarcoRossignoli commented on #377
@b3b00 could we close this for now?

[2019-04-17 14:59] sharwell commented on #362
This was fixed by #375

[2019-04-17 14:59] #362 closed

[2019-04-17 19:08] pantosha commented on #357
FYI,
We use coverlet msbuild tool to run tests for all tests projects in a solution file with the next command:
[code]

The `/maxcpucount:1` argument is necessary to prevent parallelizable code instrumentation. Parallelizable instrumentation lock files and block other instance of coverlet

[2019-04-17 19:17] IGx89 commented on #357
That'll produce individual test reports, but won't produce a single test report (my impression of what this enhancement is for).

[2019-04-18 21:03] sbansal-mdsol commented on #232
Can we exclude Startup.cs or Program.cs using ExcludeFromCodeCoverage attribute?

[2019-04-19 08:42] MarcoRossignoli commented on #232
@sbansal-mdsol you could try with https://github.com/tonerdo/coverlet#source-files-1

[2019-04-19 10:45] yb199478 commented on #110
I also encountered the same problem, my project also used moq.

[2019-04-19 10:58] amweiss commented on #232
ExcludeFromCodeCoverage is also separate from this, that part worked fine already. This pull request allows for defining arbitrary attributes to ignore as well as ExcludeFromCodeCoverage.

[2019-04-21 20:52] AraHaan commented on #349
I have a issue on my project where in appveyor and Azure pipelines the coverage document is not generated because it cannot find symbols for a xunit package for some odd reason. I even filed a issue in opencover thinking it was related to opencover.

https://github.com/AraHaan/XmlAbstraction/

[2019-04-23 11:05] #377 closed

[2019-04-23 11:05] b3b00 commented on #377
closed

[2019-04-23 15:24] jburnett opened #380 "Make app / assembly version match releases"
Why do version numbers mismatch? The most recent version of coverlet is [v5.0.0](https://github.com/tonerdo/coverlet/releases/tag/v5.0.0), but the app reports version 1.5.0.0.  This seems confusing to new-comers, particularly since semantic versioning has been the norm for years.

[2019-04-24 12:57] yowl commented on #122
I'm a bit confused with the state of this. Does this also affect coverlet.exe and is the workaround to use absolute paths?

[2019-04-24 14:58] yowl commented on #122
I aslo note I think, that with absolute paths on windows its funny about the case of the drive letter and I need to exclude both d:\ and D:\

[2019-04-24 17:41] tonerdo commented on #380
@jburnett coverlet is made up of three separate components; the core library `coverlet.core`, the msbuild library `coverlet.msbuild` and the global tool `coverlet.console`. Each of these are versioned separately and follow the rules of semver. The releases in this repo represent the core library, the other components are represented through their respective NuGet packages

[2019-04-24 17:41] #380 closed

[2019-04-24 17:55] leelaprasadv commented on #138
@paratroid

Faced the same issue while using coverlet version 2.6.0 with .net core 2.0.

Just use the previous version of coverlet 2.5.1 with an additional parameter

[code]

Hope this helps!

[2019-04-25 15:16] ViktorHofer opened #381 "Adjust log level when using coverlet.console (global tool)"
How can I adjust the log level when using coverlet.console - the global tool - and not coverlet.msbuild?

cc @MarcoRossignoli @tonerdo

[2019-04-25 15:23] ViktorHofer opened #382 "Line coverage output should be rounded"
+------------------------+---------------------+--------+--------+
  | Module                 | Line                | Branch | Method |
  +------------------------+---------------------+--------+--------+
  | System.AppContext      | 100%                | 100%   | 100%   |
  +------------------------+---------------------+--------+--------+
  | System.Private.CoreLib | 14.000000000000002% | 9.5%

[2019-04-25 16:08] MarcoRossignoli commented on #381
AFAIK at the moment is not possible avoid [`PrepareModules`](https://github.com/tonerdo/coverlet/blob/master/src/coverlet.console/Program.cs#L64) logs, coverlet.console use a simple `ConsoleLogger` implementation.
We should add control switch similar to `TaskLoggingHelper` https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-command-line-reference?view=vs-2019
[code]
At the moment we use

[2019-04-27 17:08] thetoxicsoul commented on #379
Created a pull request for this option

https://github.com/tonerdo/coverlet/pull/385

[2019-04-27 17:33] alexanderkozlenko commented on #152
I assume another possible option for the output path might be the usage of `VSTestResultsDirectory` property.

[2019-04-29 09:21] soljarka commented on #113
Same with 2.6.0

[2019-04-29 09:32] MarcoRossignoli commented on #113
@soljarka can you provide a repro?

[2019-04-29 12:04] tonerdo opened #386 "On-Board project to the .NET Foundation"
We're getting ready to bring the project into the .NET Foundation, but before we
do we need to do the following:

## Getting into the .NET Foundation
- [x] Make sure the project has a good name that is easy to remember and
 spell. Check that it doesn't [conflict with another existing project](http://ivantomic.com/projects/ospnc/)
- [x] Make sure the people involved in the project want to join the

[2019-04-29 12:12] tonerdo commented on #386
cc @petli @MarcoRossignoli

[2019-04-29 14:21] alexanderkozlenko commented on #378
[code]

[2019-04-29 16:17] Dragon160 commented on #203
Any update here? I think it is quite a common use case to have more than one test project within the solution.
A way to aggregate it so a single output would be really nice.

[2019-04-29 16:38] p4p3 commented on #203
@dragon160 actually as I've seen it went worse because it's now adding coverage for dlls that are not even part of your project, but some other libraries (at least last time i checked).
As mentioned. I forked away long time ago with my own coverlet version. On the issue above was the change i did for this back then

[2019-04-30 14:53] MarcoRossignoli opened #387 "Improve instrumentation testability"
Check/debug code coverage is not so simple; languages and compilers abstracts IL.

Working on some issues https://github.com/tonerdo/coverlet/pull/369 https://github.com/tonerdo/coverlet/pull/344 https://github.com/tonerdo/coverlet/pull/158 I found that could be very useful to have a way to "test" entire process to verify the lines we expect to cover, this is the core goal of coverlet.

My proposa

[2019-04-30 15:19] MarcoRossignoli commented on #387
If we agree on the plan, I could start to work on it.

[2019-05-01 00:01] tonerdo commented on #387
@MarcoRossignoli I'm in agreement. Especially the first item. Let me know if you need any help

[2019-05-01 00:10] tonerdo commented on #378
I like this idea, but I'm afraid it'll break existing build scripts that expect a predictable output file name

[2019-05-01 00:15] tonerdo commented on #152
@alexanderkozlenko what path does `VSTestResultsDirectory` resolve to?

[2019-05-01 00:19] tonerdo commented on #151
This is massively backward incompatible. How do you propose we transition users?

[2019-05-01 00:22] tonerdo commented on #382
@ViktorHofer do you propose a floor or a ceiling?

[2019-05-01 00:27] tonerdo commented on #110
@queen-of-code thanks for offering to help. Our current blocker is finding the best way to integrate the data collector with the pipeline without drastically altering the user experience

[2019-05-01 05:10] alexanderkozlenko commented on #152
@tonerdo, AFAIK the default path depends on the exact test framework used and is provided by `--results-directory` option of `dotnet test` command. For MSTest v2 it is `$(MSBuildProjectDirectory)\TestResults`. Usage of this property can consolidate the output path for all unit test outcomes (e.g., unit test log, code coverage report).

[2019-05-01 05:49] alexanderkozlenko commented on #151
I would suggest considering this not as a backward incompatible enhancement, but as a fix for initial design issue, which should be addressed ASAP. The transition could be done in the following way:

1. In 5.1.0 release add new properties with the same default values, redirect the previous properties to new in `InstrumentationTask` and `CoverageResultTask` tasks.
2. In 5.2.0 release start logging

[2019-05-01 11:01] ViktorHofer commented on #382
Probably floor but I don't have a strong opinion here.

[2019-05-01 16:55] ardove opened #388 "Exit code for coverlet should communicate different failures"
Today, when a test fails or code coverage fails, a non-zero exit code is returned. This is desirable because it allows build automation systems to fail when the coverlet command fails. Unfortunately, the return code is always 1 so it doesn't provide detail about what went wrong. One could, theoretically, grep the output of coverlet for things like "the minimum line coverage is below specified 95",

[2019-05-01 17:30] MarcoRossignoli commented on #388
I think it's not possible...we rely on `dotnet test` command and by design we cannot change return value https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test?tabs=netcore21#description, I found some discussion on test repo https://github.com/Microsoft/vstest/issues/1624
Also as regards msbuild task(internally used by test verb), we cannot return only `true` or `false` https://docs.micros

[2019-05-01 17:40] MarcoRossignoli opened #389 "Switch symbol tests fail in "release mode""
It's been a while that cecil symbol tests on switch fails in release mode.
I did some investigation and seem that the issue is the way that compiler compile pdb for debug/release.
Debug:
[code]
Release
[code]
As we can see the  main difference is that release version first "valid" branch point is on line 49 because above load is "hidden". In the debug version closed valid sequencepoint start at 46

[2019-05-01 17:46] ardove commented on #388
Right, but `dotnet test` is just used for the test portion, right? So you should know whether or not tests fail at the point that you invoke that command. And then, when you calculate coverage, you should know whether or not it passed. At that point, you should have enough to determine what passed and what failed.

[2019-05-01 18:04] MarcoRossignoli commented on #388
I think we could do something for dotnet tool version because we "host" the process of instrumentation and coverage calculation https://github.com/tonerdo/coverlet/blob/master/src/coverlet.console/Program.cs#L205
But I don't know if we can do the same for msbuild version because we inject coverage calculation throught a task after VSTest https://github.com/tonerdo/coverlet/blob/master/src/coverlet

[2019-05-01 18:35] MarcoRossignoli commented on #382
I'm for floor

[2019-05-02 05:00] iainb123 commented on #110
I was having a similar same issue - 0% coverage under MacOSX - but an upgrade of the xunit package from 2.3.1 to 2.4.1 fixed the problem (so using xunit 2.4.1, xunit.runner.visualstudio 2.4.1 and coverlet.msbuild 2.6.0), then running with:
`dotnet test /p:CollectCoverage=true /p:Exclude="[xunit*]*"`

[2019-05-02 08:18] vagisha-nidhi opened #391 "System.Reflection.Metadata version mismatch unable to find file System.Reflection.Metadata,Version=1.4.3.0"
I am trying to load coverlet into a [datacollector ](https://github.com/Microsoft/vstest-docs/blob/master/docs/extensions/datacollector.md)which would collect coverage and report back the results to [TestPlatform](https://github.com/Microsoft/vstest). The issue with loading coverlet APIs is that coverlet.core depends on [System.Reflection.Metadata, AssemblyVersion : 1.4.3.0](https://github.com/ton

[2019-05-02 10:59] MarcoRossignoli commented on #391
Can you elaborate the scenario?We have some work in place to use coverlet with data collector to fix issue where test plat kill process before we can save instrumentation report file to disk https://github.com/tonerdo/coverlet/pull/329

[2019-05-02 11:35] vagisha-nidhi commented on #391
@MarcoRossignoli
We have written an [outproc datacollector](https://github.com/Microsoft/vstest-docs/blob/master/docs/extensions/datacollector.md) that references coverlet.core.dll. This calls into coverlet APIs such as coverage.PrepareModules(), coverage.GetCoverageResult(). We get coverage results thus and send these back to testplatform using [DataCollectionSink](https://github.com/Microsoft/vs

[2019-05-02 12:02] MarcoRossignoli commented on #391
Understood, apart from this issue I'm warning you that we're working on internals to allow [better testability](https://github.com/tonerdo/coverlet/issues/387) and I don't guarantee that "internal api" like `coverage.PrepareModules()` `coverage.GetCoverageResult()` will be untouched, to achieve [this](https://github.com/tonerdo/coverlet/issues/212) cc @tonerdo

[2019-05-02 13:34] tonerdo commented on #391
@vagisha-nidhi like @MarcoRossignoli mentioned the `coverlet.core` API is subject to change on a whim. Out of curiosity, are you using an unofficial NuGet or a local build of `coverlet.core`?

[2019-05-02 13:39] tonerdo commented on #388
Exit codes do sound like a good idea. I'm not big on maintaining UX parity between tool and msbuild as they're already being used in different scenarios

[2019-05-02 13:43] tonerdo commented on #382
The floors have it then. I think method and branch coverage could also benefit from this

[2019-05-02 13:52] vagisha-nidhi commented on #391
@tonerdo Yeah. Noted the warning. I have been using a local build of coverlet.core (setting hintpath to coverlet.core dll).

[2019-05-02 13:53] MarcoRossignoli commented on #388
We could use:
 1 for test fail(like `dotnet test`)
 2 when "any" coverage is below the configured threshold
 3 when both a test fails AND coverage is below the configured threshold

the alg could be a simple sum.

@ardove is there a specific meaning for your "exit code"?

[2019-05-02 13:55] #389 closed

[2019-05-02 17:33] ardove commented on #388
Yeah, the actual number doesn't matter to me. Just that they are disambiguated. We need it to have correct and specific messages when run from a Jenkinsfile using a scripted pipeline. We'd like to fail with an error that says "code coverage was below threshold" OR "tests failed" OR "code coverage was low AND unit tests failed".

Right now, we can only say "code coverage was below threshold and/or

[2019-05-02 18:04] MarcoRossignoli commented on #388
@ardove can you confirm you're using Coverlet dotnet tool?

[2019-05-02 18:08] ardove commented on #388
Yes, that's correct. I'm not using the msbuild integration.

[2019-05-02 18:10] MarcoRossignoli commented on #388
Can we agree with https://github.com/tonerdo/coverlet/issues/388#issuecomment-488682044?

[2019-05-02 18:44] ardove commented on #388
Works for me.

[2019-05-03 12:42] PBoraMSFT opened #395 "Integrate coverlet with VSTest (Microsoft Test Platform)"
What would integrating Coverlet with Microsoft Test Platform mean:
1.	Coverlet based coverage solution is available as a data collector that does the instrumentation of the necessary modules before test execution and appropriate restore after.
2.	**Authoring** – When new test projects are created (dotnet mstest), references to the data collector package are added by default. This reduces adoption

[2019-05-03 13:12] Jkitche commented on #263
+1 to this! Would love to use coverlet as it's one of the few tools I've found that works in a way I expect, but trying to export results to Codacy, there are only a few formats I can use; one of them being lcov. Being able to aggregate in something other than the default result.json would be super helpful

[2019-05-03 13:54] MarcoRossignoli commented on #395
Can we see the implementation?
Could this integration help with this issue https://github.com/tonerdo/coverlet/pull/329 ?We're trying to find a way to integrate with VSTest but with a good user experience(`RunSettings` file is not the best maybe)

We have also dotnet tool, btw integration with `dotnet vstest` should be great.

We're working on [improving/reorganize "internals"](https://github.com/

[2019-05-03 15:45] vagisha-nidhi commented on #395
@MarcoRossignoli Adding implementation details.

Scenario Explanation :

1. Integration of coverlet such that it works with dotnet test.
    a. Command line invocation will be : **dotnet test --collect:"Xplat Code Coverage"**
2. There will be an outproc [datacollector](https://github.com/Microsoft/vstest-docs/blob/master/docs/extensions/datacollector.md)[**CoverletDataCollector**] with friendly na

[2019-05-03 18:08] MarcoRossignoli commented on #395
Some questions(so you can save me/us some time on docs):

What "results" should send?Coverage output file i.e. cobertura file etc...?

How versioning works?I mean if we publish collector package and we need to update(collector self or some transient dependencies) due to bug fix new features, is unit test projects template versionable?

inprocdatacollector as part of CoverletDataCollector Nuget pac

[2019-05-03 18:09] sasivishnu commented on #382
Hi,
If no one is working on the issue, can I take a look into it?
Also, I think we use floor & keep it to maximum of 2 decimal places. What you think?Especially in bigger projects, It will be better to have 82.23% then 82%

[2019-05-03 18:17] MarcoRossignoli commented on #382
@sasivishnu sure give it a try!
I'm ok with 2 decimal places, but we can delay the choice at review time!
Let me know if you'll be in trouble with something.

[2019-05-03 18:51] sasivishnu commented on #382
Thanks, I will work on this weekend.

I was able to build the project and will spend time understanding the flow. If there is any document/guide/tips on how to run & debug project locally will be helpful.

[2019-05-03 21:57] tonerdo commented on #395
Thanks for elaborating @vagisha-nidhi. I'm happy you're looking to make Coverlet part of the out of the box experience, we definitely intend to work through this with you. Your implementation details seem fine to me. However, I have a few of questions:

How will users pass extra arguments like coverage format, threshold etc.

Can this be called `coverlet.collector` instead? Just to keep it consist

[2019-05-03 22:00] tonerdo commented on #395
@MarcoRossignoli

I believe it'll be the coverage output file. See here: https://github.com/Microsoft/vstest-docs/blob/master/docs/extensions/datacollector.md#datacollectionsink

[2019-05-04 01:05] cltshivash commented on #395
It will be the coverage output file.

There's no versioning for the test template. If a new collector package is pushed, the template will be updated with the newer version. The existing users can update the nuget package to get the latest changes.

We will need both the collectors. The inproc collector (which runs in the testhost process) is needed for the flushing of the hit files to be reliable

[2019-05-04 01:29] cltshivash commented on #395
Thanks @tonerdo  and @MarcoRossignoli  for reviewing the enhancement and the comments. We are excited to work with you to enable this integration as it would address the code coverage ask in a seamless way with dotnet test/vstest.

There are options to pass runsettings information through cmdline. https://github.com/Microsoft/vstest-docs/blob/master/docs/configure.md. This doesn't work well for da

[2019-05-04 07:39] MarcoRossignoli commented on #395
To start to work on it could be good if some of you(MS guys) write a documentation guide under `Documentation/VSTestIntegration.md` where we(coverlet guys) can see how is the user experience with `dotnet test/vstest` and setting files for all types of parameters coverlet uses.
This would be useful for two reason, first we'll have some user documentation ready and we can understand how good/bad is,

[2019-05-04 08:04] MarcoRossignoli commented on #382
You can use some of summary unit test https://github.com/tonerdo/coverlet/blob/master/test/coverlet.core.tests/CoverageSummaryTests.cs
Open `coverlet.sln` in VS and debug some test:
![image](https://user-images.githubusercontent.com/7894084/57176095-e7189680-6e53-11e9-8038-5bcfd7af3e06.png)

[2019-05-05 22:48] #381 closed

[2019-05-06 05:18] sasivishnu commented on #378
By default, we generate output file name as it is now. May be add a new command line option? An option like "--output -uf" means we generate unique file name (CodeCoverage_timestamp).

[2019-05-06 08:40] ftaran opened #400 "How to generate report from visual studio project post build event"
Hello

Is it possible to generate a report using the nuget package everytime the test project is built?

I'm talking about maybe using a command in the project post build events. Can you provide an example please?

Also is it possible to only have a text reporting that only contains the stats table?

[2019-05-06 09:18] MarcoRossignoli commented on #400
I'm talking about maybe using a command in the project post build events. Can you provide an example please?

I think it's possible if you add to "post build" events(using VS studio) and something like https://github.com/tonerdo/coverlet#coverage-output-1 with correct VS environment vars.
BTW I've got a doubt...can you explain better your scenario?Instrumenting/Testing/Reporting is a bit "heavy" p

[2019-05-06 09:38] ftaran commented on #400
@MarcoRossignoli

I would like to include the report as part of every pull request so that we can keep track of the changes and see any significant changes as soon as possible and fix any issues immediately.

If it would hinder dev process then it might not be a good idea. Do you have any alternative way of doing this?

[2019-05-06 09:40] MarcoRossignoli commented on #400
We use codecov is a possible alternative? https://docs.codecov.io/docs/pull-request-comments

[2019-05-06 10:48] MarcoRossignoli commented on #363
Fixed in https://github.com/tonerdo/coverlet/pull/367/files

[2019-05-06 10:55] MarcoRossignoli commented on #363
@sharwell is there a "simple" way to repro this(maybe some simple example on some project ie winform etc...)?

[2019-05-06 11:03] seesharper opened #401 "Branch coverage mismatch between Coverlet and generated OpenCover report"
Hi!

I have a situation where Coverlet reports the following.

[code]

Then if I convert the `coverage.opencover.xml` to an HTML report using ReportGenerator I get a branch coverage of 100%

![image](https://user-images.githubusercontent.com/1034073/57221333-20413a00-6fff-11e9-8b7e-ca34238ba597.png)

Where should I start to look here? Is there some way to make Coverlet output exactly where the bra

[2019-05-06 11:44] MarcoRossignoli commented on #401
Instinctively seems some round issue, if project is not private can you share your `coverage.opencover.xml` or better a json format(`native` coverlet format, easier to debug)?

[2019-05-06 11:56] seesharper commented on #401
Hi @MarcoRossignoli  and thanks for your quick reply.

Here is my coverage file 👍

[coverage.json.zip](https://github.com/tonerdo/coverlet/files/3147762/coverage.json.zip)

[2019-05-06 11:57] MarcoRossignoli commented on #401
Ok I'll take a look ASAP.

[2019-05-06 12:08] MarcoRossignoli commented on #333
Could be a dup of https://github.com/tonerdo/coverlet/issues/110

[2019-05-06 12:09] MarcoRossignoli commented on #334
Tracked by https://github.com/tonerdo/coverlet/issues/357

[2019-05-06 12:09] #334 closed

[2019-05-06 12:11] #332 closed

[2019-05-06 12:42] MarcoRossignoli commented on #378
Maybe `--output-includetimestamp`(with a default) and `--output-timestampformat` for custom format
[code]
To produce
`result.json_2019-05-06_14_42_22_222.json`

[2019-05-06 12:58] vagisha-nidhi commented on #395
@MarcoRossignoli That would be a great start. I'll shortly raise a PR on the repo with the documentation. We can discuss the next steps further.

[2019-05-06 13:22] MarcoRossignoli commented on #401
I did a check and seems that report you linked is "rounded"(maybe by parser) because generated xml report correct `branchCoverage="99.7"`
[code]
Calculation seem ok 1 branch not covered.

![image](https://user-images.githubusercontent.com/7894084/57227824-9ac78500-7012-11e9-88a9-19d2c78a565e.png)

[2019-05-06 13:33] seesharper commented on #401
Ah, thanks. So the xml file is correct. This issue may belong in the `ReportGenerator` repo then? 😀

[2019-05-06 13:36] MarcoRossignoli commented on #401
Calculated value in xml file are ok to me, maybe report generator do some rounding.
Close this for the moment, we'll re-open if necessary.

[2019-05-06 13:36] #401 closed

[2019-05-06 14:05] #340 closed

[2019-05-06 14:48] MarcoRossignoli commented on #81
@tonerdo do you agree on adding `-skipautoprops`(opencover name)?
I don't have a strong opinion on "exclude always" vs "switch"

[2019-05-06 14:50] MarcoRossignoli commented on #316
@iamwyza `CompilerGeneratedAttribute` is not correct...async/await state machine has got this attribute and inside there is "user code" to instrument.

[2019-05-06 14:52] MarcoRossignoli commented on #316
@tonerdo we could close this in favour of #81

[2019-05-06 16:57] sharwell commented on #363
@MarcoRossignoli If you have WinForms, you should be able to simply set an environment variable `DeterministicSourcePaths=true` and the build will pick it up.

[2019-05-06 17:10] MarcoRossignoli commented on #363
.net 3.0?

[2019-05-06 19:15] jessekingf commented on #115
@tonerdo - I assume it is still the case that .net framework is still not supported?

[2019-05-06 20:13] nlowe commented on #295
We're seeing this as well. I reverted back to `coverlet.msbuild` 2.4.0 as a workaround.

[2019-05-07 09:47] MarcoRossignoli opened #403 "Provide private feed with official nightly build"
We should provide official nightly build to allow users to consume fix/features ASAP and avoid to release official nuget packages, this help for some reason to me:

* New features fix could be "tested" in real project, for instance corefx codebase could pickup nuget package from private feed and do feedback very quick, corefx is used every day by a lot of dev(@ViktorHofer).

* https://github.com/t

[2019-05-07 14:55] MarcoRossignoli commented on #363
@sharwell can you share a command to repro? I cloned windowsform and printed which modules is skipped
[code]
But with or without `set DeterministicSourcePaths=true` I get same list

[2019-05-07 15:27] joemey commented on #110
I also encountered the problem with missing Hits files and reporting 0% coverage and after cloning and poking around a bit i found 2 things which generated these warning.

1. If a test project is referencing a project which is not used (no type/method is ever called in any test) the  project is never loaded and the injected `UnloadModule` is never executed and no hits file is generated and `Calcul

[2019-05-07 15:34] MarcoRossignoli commented on #110
@joemey  can you open a separate issue for this?

Addressed by https://github.com/tonerdo/coverlet/pull/383 can you try with current master repo clone? Build in release and use generated packages(adding packages folder as private feed for your project), let me know if need support.

[2019-05-07 18:03] sasivishnu commented on #382
Since it is fixed, should we close this issue now?

[2019-05-07 18:06] MarcoRossignoli commented on #382
Yes thank's again!

[2019-05-07 18:06] #382 closed

[2019-05-07 19:35] sasivishnu commented on #388
I can pick this but I am out for weekend and can start working from next week.

[2019-05-08 06:59] joemey opened #404 "CalculateCoverage warns about the missing file for not used instrumented modules"
@joemey  can you open a separate issue for this?

_Originally posted by @MarcoRossignoli in https://github.com/tonerdo/coverlet/issues/110#issuecomment-490131810_

[2019-05-08 07:27] joemey commented on #110
created issue #404

this does indeed fix the issue and restores the original xunit files.

It's probably worth reworking/removing [this block](https://github.com/tonerdo/coverlet/blob/d1a30cce46b42f8da49e762074cf6857b369b7d6/src/coverlet.core/Instrumentation/ModuleTrackerTemplate.cs#L103) because rewriting the file like this is so slow.
At least there should be a check if the file exists because e

[2019-05-08 07:29] samajs commented on #261
Hello Folks,

It seems this commit(https://github.com/tonerdo/coverlet/commit/85fa0f35ebb9f5f80e3f952ebed7cdfff82fe574) re-introduced the branch coverage issue.

Can we re-open this and fix it ?

Thanks

[2019-05-08 07:31] p4p3 commented on #261
@FreedCapybara

[2019-05-08 07:47] MarcoRossignoli commented on #261
@samajs which version are you using?

[2019-05-08 07:50] MarcoRossignoli commented on #261
This PR fix the issue https://github.com/tonerdo/coverlet/pull/267 and last days we simplify more with rounding https://github.com/tonerdo/coverlet/pull/397

[2019-05-08 07:59] MarcoRossignoli opened #405 "Use File.Exists instead of rely on exception in ModuleTrackerTemplate"
When `UnloadModule` is called to persist hits result we rely on exception handling to understand if create file or update.
Files are protected by global mutex so should be safe avoid slow exception handling and use File.Exists

https://github.com/tonerdo/coverlet/blob/d1a30cce46b42f8da49e762074cf6857b369b7d6/src/coverlet.core/Instrumentation/ModuleTrackerTemplate.cs#L79-L103

I think that perf cos

[2019-05-08 08:50] joemey commented on #357
@IGx89 if you run
[code]
it will create a single coverage file and will report the complete coverage after each test.

some things to consider with this approach:
- You have to make sure to delete the `coverage.json` file after the run or the next run will re-use it
- the path in `CoverletOutput` and `MergeWith` are relative to the test project being run

[2019-05-08 11:18] MarcoRossignoli commented on #391
fixed in #392

[2019-05-08 11:18] #391 closed

[2019-05-08 21:36] seesharper commented on #110
FWIW I had the same issue

[code]

Deleting the `bin` folder of the test project solved it. 😀

[2019-05-08 22:04] emonhaider commented on #110
I can confirm this fixed the issue! Good find @seesharper!

[2019-05-09 00:51] vikasillumina commented on #295
@tonerdo I noticed this same issue too with 2.6.0
`[Pipeline] cobertura
[Cobertura] Publishing Cobertura coverage report...

[Cobertura] No coverage results were found using the pattern '**/TestResults/coverage.*.xml' relative to '/home/ec2-user/workspace/'.  Did you enter a pattern relative to the correct directory?  Did you generate the XML report(s) for Cobertura?
`
This is our jenkin pipeline

[2019-05-09 03:42] samajs commented on #261
@MarcoRossignoli my bad, just realised I am using `coverlet.msbuild 2.0.1` but latest is 2.6.1`, this one is fixed there.
Thanks for pointing out :)

[2019-05-09 14:07] LosDavidos commented on #167
It happens when last assembly in test assemblies has no tests.
Working example:
[code]

Not working example:
[code]
The question is why should I test assemblies without tests.
The workaround it to create test with Assert.IsTrue(true) for empty project.

[2019-05-09 15:12] MarcoRossignoli commented on #167
@totollygeek @LosDavidos can you provide a repro?I cannot repro on my local.

[2019-05-09 15:32] breigo commented on #182
I stumbled upon the same issue when executing in an docker environment (microsoft/dotnet:latest) with .NET core.
%2C works as a workaround.

[2019-05-09 15:35] MarcoRossignoli commented on #182
@tonerdo can we close this?Seems resolved by https://github.com/tonerdo/coverlet/pull/191

[2019-05-09 18:11] vikasillumina opened #408 "Cobertura reporter breaks on 2.6.0"
@tonerdo I noticed similar issue reported in https://github.com/tonerdo/coverlet/issues/295
I recently upgraded coverlet version from 2.3.1 to 2.6.0 (some of my team members upgraded from 2.5.0 to 2.6.0) and our Cobertura reporter started failing.

Below is the log:
[code]
This is our jenkin pipeline step that is failing right now with 2.6.0:
[code]
Same reporter works fine with 2.3.1 and my team

[2019-05-10 00:48] jpaskhay commented on #408
details of current failure specifically covered in https://github.com/tonerdo/coverlet/issues/295#issuecomment-473414110

[2019-05-10 17:50] #400 closed

[2019-05-11 07:20] MarcoRossignoli commented on #408
@tonerdo you've already worked on it, do you have fast answer?I'm not so fluent on cobertura/jenkins

[2019-05-11 11:15] tonerdo commented on #408
I believe it's because of the absence of the `source` tag. Will have to add it back

[2019-05-12 22:25] tonerdo commented on #115
@jessekingf the latest release now does

[2019-05-12 22:35] tonerdo commented on #151
I'm not quite sure I wanna change this for the sake of changing it. It doesn't seem to be causing any troubles and I don't want people to have to upgrade when they absolutely don't have to. I'll mark this as `as-designed` until enough people ask for it.

[2019-05-12 22:42] #182 closed

[2019-05-12 22:50] #404 closed

[2019-05-12 23:20] tonerdo commented on #316
Tracked in #81

[2019-05-12 23:20] #316 closed

[2019-05-13 21:00] MarcoRossignoli commented on #364
Fixed in #409

[2019-05-13 21:00] #364 closed

[2019-05-15 03:24] sasivishnu commented on #388
I am back now. Just for confirmation, we are going with this error code level only? What error code to return for invalid commands? Currently for CommandParsingException, we return 1.

Btw, I agree with @ardove that we should consider reserving 1 for common errors and then go with 2, 3 and 5 for specific errors.

[2019-05-15 07:39] MarcoRossignoli commented on #388
My idea of 1 for test error comes from fact that `dotnet test` return 1 if some test fail per guide https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test?tabs=netcore21 and we could be in line with that.
[code]
Maybe for parsing and exception we could return -1 to keep alg simple sum.
BTW I won't oppose on other ideas, wait @tonerdo thoughts, for now you can work on it will be a simple nu

[2019-05-15 17:14] mocsharp commented on #167
Getting the same error with `cobertura` but works with `opencover`

Total tests: 14. Passed: 14. Failed: 0. Skipped: 0.
Test Run Successful.
Test execution time: 1.9901 Seconds
[code]

[2019-05-15 18:47] sasivishnu commented on #388
@MarcoRossignoli okay. Yeah, keeping "1" reserved to be in-line with dotnet test output seems valid.

I pushed my changes now. I went with higher exit code values for exception and parsing.

[2019-05-16 00:03] diegofox2 commented on #346
Hi guys. I see this bug still opened, is this right?

[2019-05-16 20:26] zmhh commented on #290
Agree that ExcludeFromCodeCoverage should work for assemblies unless there is a reason not to.

[2019-05-17 17:55] zmhh commented on #349
For me missing coverage for one project but not others was solved by adding this parameter to the dotnet test command: /p:CopyLocalLockFileAssemblies=true

[2019-05-17 19:47] EricStG opened #413 "Unable to change paths in cobertura report"
Getting an issue where our application is compiled within docker and we're trying to export the cobertura xml file from it.

Since the `filename` attribute is the full path to the file, we need to do a search a replace.

Adding the root of the project to `sources/source` and using relative paths for `filename`, it would be a lot easier to manager.

[2019-05-18 12:20] sasivishnu commented on #405
Hi @MarcoRossignoli

I can do it but it seems simple and also not an urgent issue to fix, may be can we mark this as good-first-issue? Just a thought. Otherwise, I can submit PR for this.

[2019-05-18 12:33] MarcoRossignoli commented on #405
Yes it's an enhancement, feel free to submit a PR

[2019-05-18 12:44] sasivishnu commented on #413
I agree, this will be nice enhancement. Instead of doing only for cobertura format, It will be good to do for all other format's except Team City. We can add one more options, `--format --relative-code-path`

[2019-05-19 15:08] MarcoRossignoli commented on #413
could be similar to https://github.com/tonerdo/coverlet/issues/408?
and https://github.com/tonerdo/coverlet/issues/408#issuecomment-491502234 could fix?

[2019-05-19 15:10] MarcoRossignoli commented on #405
fixed in https://github.com/tonerdo/coverlet/pull/415

[2019-05-19 15:10] #405 closed

[2019-05-20 04:08] sasivishnu commented on #413
Seems like Coverlet was using relative path earlier but @tonerdo changed it.

[#295 (Comment)](https://github.com/tonerdo/coverlet/issues/295#issuecomment-469011441)

I think, change was done as part of  #260
https://github.com/tonerdo/coverlet/commit/de558c5f62b46d30fb2ba15231e50fc7f41877f7?diff=unified

There is an open issue for similar request in Icov Format, #263

[2019-05-20 13:08] MarcoRossignoli opened #416 "Update build badge AZP"
@tonerdo we need to update build badge on `README.md` I cannot access to "copy link" here I found some guide https://gregorsuttie.com/2019/03/20/azure-devops-add-your-build-status-badges-to-your-wiki/

[2019-05-21 09:38] david-77 opened #417 "Coverlet.msbuild not working"
Hi,

I have a xunit 2.4.1 test project  (.net core 2.2) and able to get coverage report when i use coverlet console command. But I want to make it work with "dotnet test" command, and I fail at it.
Before testing, I typed the "dotnet add package coverlet.msbuild" in the unit tests project's root directory, I think i have a correct log (csproj is updated correctly as followed) :

[code]

Then I sim

[2019-05-21 11:59] MarcoRossignoli commented on #417
If you don't get error(I'm not french but I see only info and seems ok) maybe commandline is not correct, I see `/p:CollectCoveragessdf=true` and should be `/p:CollectCoverage=true`
Tell if it help!

[2019-05-21 16:44] ViceIce commented on #413
jenkins don't like absolute path, I would like to see a switch to change to relative path.

[2019-05-21 17:03] david-77 commented on #417
Thanks for the message. It was just one last test to check if the dotnet test command would verify if the parameter was correct. But the command didn't care of this parameter, either wrong or right, confirming coverlet is not called by the command.

[2019-05-21 19:51] ViktorHofer commented on #395
@vagisha-nidhi What is missing here and when will we be able to try this out with dotnet test?

[2019-05-21 20:16] MarcoRossignoli commented on #395
FYI @ViktorHofer https://github.com/tonerdo/coverlet/pull/410#issuecomment-493021996

[2019-05-21 20:57] dbolin opened #418 "coverlet.msbuild /p:UseSourceLink=true causes exception"
On windows 10, dotnet core 3 preview 5.
[Using this repo](https://github.com/dbolin/Apex.Serialization), running the following command:

dotnet test Tests/Apex.Serialization.Tests/Apex.Serialization.Tests.csproj -f netcoreapp2.2 -c Debug --logger "trx;LogFileName=results.trx" /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:Include="[Apex.*]*" /p:UseSourceLink=true

Fails after printin