[2020-12-22 10:00] catnip-se commented on #996
The suggested solution with VSTest still does not support report merging. "We're working to fill the gaps." it says. When will this be available?

[2020-12-22 16:13] petli commented on #996
@catnip-se See discussion in #1015 about that.

[2020-12-22 16:45] MarcoRossignoli commented on #996
there is also a "complex" workaround https://github.com/coverlet-coverage/coverlet/pull/225#issuecomment-573896446 but better for now to use tools like report generator to merge.

[2020-12-22 23:36] daveMueller commented on #775
Today I set up an MVC project with 4.7.2 framework and XUnit 2.4.1 unit tests. Unfortunately everything worked without a problem and I couldn't reproduce the issue described above. A small sample project that has the same error would help a lot.

[2020-12-23 00:45] daveMueller commented on #1021
Sorry just to make it more clear. Your output ```UISDKStyle.opencover.xml``` doesn't have any coverage data or is it only teamcity that doesn't display the coverage?

[2020-12-23 20:16] Serg046 opened #1025 "Empty-body methods reduce code coverage"
I know that empty methods which exist just because of some inherited interface actually break Interface Segregation Principle. But the thing is that I have it intentionally. I have the methods like BeforeProcessing() and AfterProcessing() which are kind of hooks. Many implementations use them but some of them don't need them. Eventually, I have some empty methods which reduce code coverage that's

[2020-12-25 10:37] MarcoRossignoli commented on #1024
What benefit can you use when you install Coverlet?

The purpose of coverlet is to provide code coverage metrics for .NET applications

You can take a look at our guides and sample https://github.com/coverlet-coverage/coverlet#how-it-works

[2020-12-25 12:14] MarcoRossignoli commented on #1025
Hi @Serg046,

it's not clear to me, if the method is empty is accounted correctly, what do you mean for "reduce code coverage"?

![image](https://user-images.githubusercontent.com/7894084/103134640-f5fc2e80-46b2-11eb-9f73-7f18b2dde8ca.png)

Are you meaning that there are no test that pass through that empty method?

[2020-12-25 12:30] Serg046 commented on #1025
Yes, I don’t write such tests because I find them useless.

[2020-12-25 12:38] MarcoRossignoli commented on #1025
In that case my personal opinion is that the behavior as-is is correct and also you usage of attribute. If we add a new feat(new switch)  to skip all empty method could be too invasive and a dev could miss something.
What do you think @tonerdo @petli?

[2020-12-25 17:41] jt4000 commented on #1024
I have a foundation of this tool and my followup question is:

*Is this tool Coverlet has as a unique skills that Microsoft's Test explorer from Visual Studio 2019 don't have it?
*Should I use Microsoft's Test explorer or Coverlett and why?
*Any Cons and Pros of using  Coverlett?

Thank you!

I have a foundation of this tool and my followup question is:

*Is this tool Coverlet has as a unique skil

[2020-12-25 18:41] MarcoRossignoli commented on #1024
The main plus of coverlet is that is open source and is cross platform https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-code-coverage?tabs=windows

AFAIK today is the only cross platform open source coverage tool, is used also by https://github.com/dotnet the .NET Core runtime repo https://github.com/dotnet/runtime/blob/master/docs/workflow/building/libraries/code-coverage.md

[2020-12-27 13:56] MarcoRossignoli commented on #992
@rubberduck203 seem that the bug is solved in master(next 3.0.0 version), I did some test with our updated nightly

![image](https://user-images.githubusercontent.com/7894084/103172427-a5700700-4853-11eb-83ba-f2f52c9ebdc4.png)

Can you try by yourself with nightly and confirm?

https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md#consume-nightly-build vers

[2020-12-27 14:24] MarcoRossignoli commented on #930
@ming-tsai I did some test with nightly and 100% comes back
[code]
Can you try with nightly and confirm? https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md version
[code]

[2020-12-27 14:31] subramaniamb commented on #1007
I haven't. Could you please elaborate on collectors driver?

[2020-12-27 14:31] ming-tsai commented on #930
Hi @MarcoRossignoli,
So should I wait for 3.0.0?

[2020-12-27 14:32] MarcoRossignoli commented on #930
Yep, btw a double check could help to be sure of it and close this, release is very close.

[2020-12-27 14:36] rubberduck203 commented on #992
@MarcoRossignoli I think I’ll have some time tomorrow to test it out. I’ll get back to you.

[2020-12-27 15:15] MarcoRossignoli commented on #1007
Collectors driver is a way where we use VSTest platform as orchestrator of coverage workflow. Today is the most reliable way to use coverlet due to default behavior of test platform.
Take a look at guide https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md
And known issue of other driver(.NET Tool and msbuild) https://github.com/coverlet-coverage/coverlet/bl

[2020-12-27 20:08] nedgrady opened #1027 "Merge Coverage Files generated using collectors integration"
We're suffering from the first issue mentioned [here](https://github.com/coverlet-coverage/coverlet/blob/a1d47d37753460911853cc3f1e6ee41775f910fc/Documentation/KnownIssues.md), we see 0% code coverage when running integration tests (The tests use the asp.net core WebApplicationFactory/testhost method for spinning up an in-memory web hostserver)

Example:
`dotnet test src\Project.IntegrationTests -

[2020-12-28 13:48] AbedhBabu commented on #1021
Hi Dave, after the test execution, the UISDKStyle.opencover.xml is not having any coverage data.

[2020-12-28 14:11] ming-tsai commented on #930
Thanks guys, it is work

[2020-12-28 14:11] #930 closed

[2020-12-28 14:57] tonyhallett opened #1028 "branch coverage unexpected with if statement and no else"
Given

[code]

I woul expect the branch rate to differ for the two methods, this is the case for OpenCover.

[code]

Am I missing something ?

[2020-12-28 15:17] rubberduck203 commented on #992
Works like a charm @MarcoRossignoli. Thanks.

[2020-12-28 15:33] MarcoRossignoli commented on #992
Great feel free to close this if solved!

[2020-12-28 15:46] rubberduck203 commented on #992
Done!
I wasn't sure if you wanted to leave it open until it was released or not.
Thanks for the great tools!

[2020-12-28 15:46] #992 closed

[2020-12-29 01:03] daveMueller commented on #1021
OK so you basically want to know how much of your UI Code is covered by the Rapise tests? Can I ask what kind of UI it is, WPF, Forms, Web or some mobile?
I personally never tried to use coverlet on UI code thus I really  don't know if those assemblies are instrumented and I have to give it a try.

[2020-12-29 06:10] AbedhBabu commented on #1021
We are using Win Forms.

[2020-12-30 08:24] subramaniamb opened #1029 "Lower coverage reported than Visual Studio"
I have a query on the coverage reported by coverlet. In my Xamarin project, the coverage reported by Visual Studio with the runsettings is 80% where as the coverage reported by coverlet with the same runsettings is 44%. I am unable to figure out the root cause. @MarcoRossignoli : Could you please help?

[2020-12-30 19:39] MarcoRossignoli commented on #1027
For now there are only workaround like https://github.com/coverlet-coverage/coverlet/pull/225#issuecomment-573896446
In future we'll support it by design https://github.com/coverlet-coverage/coverlet/issues/1015#issuecomment-746174446

There is an open issue for it https://github.com/coverlet-coverage/coverlet/issues/681 and also here we need to talk to VSTest guys cc: @jakubch1

[2020-12-30 19:42] MarcoRossignoli commented on #1029
Can you try to compare the report generated by visual studio and for instance https://github.com/danielpalme/ReportGenerator

I mean to understand which pieces of code are different.

[2020-12-30 20:03] nedgrady commented on #1027
Thanks I'll give that a real go, couldn't seem to get the code coverage happening in proc the last time but will try with confidence this time.

Will close if no further issues

[2020-12-30 21:22] nedgrady commented on #1027
Forgive me still can't seem to get any reported coverage using the runsettings file.

Example:

With runsettings file:

`<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
		<DataCollectionRunSettings>
				<DataCollectors>
						<DataCollector friendlyName="XPlat code coverage">
								<Configuration>
										<Format>opencover,json,cobertura</Format>
										<ExcludeByAttribute>Obsolete,Ge

[2020-12-31 01:53] daveMueller commented on #1021
Sorry for the late response but it took some time to set a project up that is comparable to your scenario. Instead of Rapise I used Appium with the WinAppDriver. You can find my project here (https://github.com/daveMueller/CoverletWinFormsUiAutomationTests).

While setting this up i stumbled across a recent change in coverlet which is documented here (https://github.com/coverlet-coverage/coverlet/

[2020-12-31 15:52] subramaniamb commented on #1029
Really appreciate your quick response.

On comparing the report with VS, I could see that the folders/files excluded in runsettings is not being considered. Also, noticed that the coverage is same with/without runsettings. Any thoughts?

[2021-01-03 09:51] MarcoRossignoli commented on #1021
No will be release on `3.0.0`  https://github.com/coverlet-coverage/coverlet/pull/1030 for now we can use the nightly build https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2021-01-03 09:57] MarcoRossignoli commented on #1027
You not need to add `InProcDataCollectors` collection section inside runsettings, it's inject automatically(we're embedded in VSTest platform).
Take a look at runsettings sample https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md#advanced-options-supported-via-runsettings
Try also our hello world sample https://github.com/coverlet-coverage/coverlet/tree/mas

[2021-01-03 10:06] MarcoRossignoli commented on #880
close for stale conversation, feel free to reopen if needed.

[2021-01-03 10:06] #880 closed

[2021-01-03 10:07] MarcoRossignoli commented on #894
Closed for stale conversation

[2021-01-03 10:07] #894 closed

[2021-01-03 10:11] MarcoRossignoli commented on #916
Closed for stale discussion

[2021-01-03 10:11] #916 closed

[2021-01-03 10:12] #917 closed

[2021-01-03 10:15] MarcoRossignoli commented on #922
Closed for stale conversation, feel free to re-open if needed.

[2021-01-03 10:15] #922 closed

[2021-01-03 10:16] MarcoRossignoli commented on #944
Closed for stale conversation, feel free to re-open if needed.

[2021-01-03 10:16] #944 closed

[2021-01-03 10:17] MarcoRossignoli commented on #947
Closed for stale coversation.

[2021-01-03 10:17] #947 closed

[2021-01-03 10:18] MarcoRossignoli commented on #958
Closed for stale conversation

[2021-01-03 10:18] #958 closed

[2021-01-03 10:29] MarcoRossignoli commented on #996
I'm going to close this, because answered. Feel free to reopen if needed.

[2021-01-03 10:29] #996 closed

[2021-01-03 14:35] kblok commented on #944
Sorry for the lack of feedback @MarcoRossignoli. I'll leave this in my To-Do

[2021-01-04 10:56] mikes-gh opened #1033 "Version 3.0.0 Release Date"
- I am consuming nightly as I need 2 features in it.
- Any news on 3.0.0.  The nuget configuration is making it hard for my CI and clone builds.
- Great project thankyou

[2021-01-04 12:09] tonerdo commented on #1025
I agree with @MarcoRossignoli, if you have an empty method that absolutely must be there and won't have corresponding tests, it's best to exclude it from coverage using the supported attributes

[2021-01-06 21:10] NerdBrez commented on #775
Hello,
My MVC application (C#) have a project reference to a library coded in VB in the same solution.
When I remove it from te coverage with the Exclude parameter, it works fine. No idea why...

[2021-01-06 23:42] jeoffm commented on #865
i tried the fix & it worked once, but has continued to fail since

[2021-01-07 01:27] daveMueller commented on #775
Cool thanks for the info. I will give it a try with a additional VB class library in the solution. I'm currently really busy so it could take a couple of days to test this :pray:.

[2021-01-07 07:36] MarcoRossignoli commented on #865
What do you mean?Can you post command line?

[2021-01-07 08:33] schrufygroovy opened #1034 "Coverage 0% for implicit used netstandard project"
I have a .NET core web API solution, that is covered by .NET integration tests (https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests).

The web API solution is using some own library projects, that are netstandard projects and part of the solution. PDB file for the library does exist.

When I try to figure out the coverage then:
- the coverage for the controllers of the API and whol

[2021-01-07 16:51] jeoffm commented on #865
in my azure devops pipeline, i had a task to ensure coverlet.msbuild was included/updated:
dotnet add package coverlet.msbuild

and then my next step was to run the dotnet test command
so i inserted a task between the 2 to ensure the coverlet.collector was included/update:
dotnet add package coverlet.collector

so the order was:
1. update msbuild
2. update collector
3. run tests

this worked on th

[2021-01-08 06:52] hello-ccchen commented on #1007
@MarcoRossignoli

Tried but not working. No code coverage at all
![image](https://user-images.githubusercontent.com/34128411/103983842-f6bbb700-51c0-11eb-8cf5-501a562c0c49.png)

Report:
[code]

[2021-01-08 07:24] MarcoRossignoli commented on #1007
@hello-ccchen are you using last version of coverlet lib?

[2021-01-08 08:08] hello-ccchen commented on #1007
@MarcoRossignoli Yes. is the latest coverlet lib. My dotnet is the latest as well net5.0

[2021-01-08 13:43] MarcoRossignoli commented on #1007
Can yoy try to enable logs?Pay attention in logs could be present sensitive data

https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-integration

[2021-01-08 20:51] #1025 closed

[2021-01-09 18:04] MarcoRossignoli commented on #1033
Just released, we apologize the delay, it was a crazy year not only for covid for me.
Anyway we're trying to expand our maintainer team to be more "productive", the eternal OSS issue of small project.

Mmm sorry I don't understand what you mean

THANKS A LOT FOR THESE FEW WORDS THAT MAKES THE DIFFERENCE.

[2021-01-09 18:05] MarcoRossignoli commented on #1034
Thanks for reporting this.

[2021-01-09 18:13] mikes-gh commented on #1033
Thanks I just updated my project all working great and I can no do conditional reporting with the new MSBuild variable.
The problem was having a nuget outside the default source made the CI build fail

[2021-01-09 18:21] MarcoRossignoli commented on #1033
Cool, feel free to close this if solved!

[2021-01-09 18:29] #1033 closed

[2021-01-11 08:47] martincostello opened #1037 "Double-digit losses of coverage using coverlet.msbuild 3.0.0"
In multiple projects' dependabot updates to coverlet.msbuild from 2.9.0 to 3.0.0, there is a double-digit loss of apparent code coverage with zero other changes.

This _seems_ to me like a bug of some kind, rather than a bug fix of aberrant data in a previous release, but if it genuinely is a reflection of true metric misreporting in v2 then fair enough.

Here are links to the generated pull reque

[2021-01-11 09:19] vladislavzl opened #1038 "Package coverlet.console 3.0.0 is not compatible with netcoreapp3.1"
I can't install coverlet.console 3.0.0 for mcr.microsoft.com/dotnet/core/sdk:3.1 image:

`error NU1202: Package coverlet.console 3.0.0 is not compatible with netcoreapp3.1 (.NETCoreApp,Version=v3.1) / any. Package coverlet.console 3.0.0 supports: net5.0 (.NETCoreApp,Version=v5.0) / any`

Is it expected behavior for a new release?

[2021-01-11 09:38] Dave-EMIS commented on #1037
Just tested V3 on my repo and seeing the **line** coverage drop from 4027 to 2100 (of 4085) using `coverlet.collector`.

**Branch** coverage remains the same.

This is a private repo, so I cannot share details.

I'm looking at the HTML in `dotnet-reportgenerator-globaltool` 4.8.1 using the OpenCover format (set via a runsettings file).

Some of the methods have "random" missing blocks - I cannot d

[2021-01-11 10:20] martincostello commented on #1037
Looks like line coverage has been affected where the "logical code line" spans over more than one line in the source file.

[2021-01-11 10:23] MarcoRossignoli commented on #1038
Yep we moved .NET Tool to last version. We'll move .NET tool to last version every time we can.
.NET 5.0 is not a LTS but we'll move to next one on next releases https://github.com/dotnet/core/blob/master/releases.md

[2021-01-11 10:26] MarcoRossignoli commented on #1037
Thanks for reporting this. We'll take a look asap.

[2021-01-11 10:27] Dave-EMIS commented on #1037
Yeah, that seems to be the case now you mention it, it is obvious :D

[2021-01-11 10:29] MarcoRossignoli commented on #1037
Weird, we had some guys using nightly and this issue wasn't reported.

[2021-01-11 10:35] MarcoRossignoli commented on #1037
cc: @daveMueller is you have some fast idea.

[2021-01-11 11:06] JSkimming commented on #1037
I've found the same issue in several of my projects, for example, JSkimming/Castle.Core.AsyncInterceptor#119

Here's the coverage report for reference:

https://2024-60778941-gh.circle-artifacts.com/0/Report/index.html

[2021-01-11 11:40] MarcoRossignoli commented on #1037
If you can confirm the issue with a small repro could be great(like the above done by Martin)

[2021-01-11 11:52] JSkimming commented on #1037
@MarcoRossignoli I may have time to create something small later today, though JSkimming/Castle.Core.AsyncInterceptor#119 could be exactly what you're looking for.

It's only 5 classes, and it had 100% coverage until this update, so every instance where it's missing coverage is an instance of this issue. There's also a simple [bash script (coverage.sh)](https://github.com/JSkimming/Castle.Core.Asy

[2021-01-11 12:43] daveMueller commented on #1037
I couldn't reproduce this with the multiple-line constructor initializer. I also tested the multi-line initializer within generated IL methods but this also worked.

![grafik](https://user-images.githubusercontent.com/19378678/104183130-c61e8c00-5411-11eb-9af9-912aee14992b.png)

I will try to look into the repo @JSkimming mentioned later that day. Sorry for not find a fast solution.

[2021-01-11 13:48] MarcoRossignoli commented on #1037
np at all, thx for your invaluable help!

[2021-01-11 14:06] Malivil commented on #1037
I created a repo with three reproduction cases using coverlet.msbuild 3.0.0

https://github.com/Malivil/Coverlet300Repro

Run the GenerateCoverageReport.bat in Coverlet300ReproTests

[2021-01-11 14:22] Malivil commented on #1037
I did also verify it is unrelated to the SkipAutoProps flag and also unrelated to my recent upgrade to .Net 5

[2021-01-11 14:24] MarcoRossignoli commented on #1037
@daveMueller pretty sure the regression was introduced with this one https://github.com/coverlet-coverage/coverlet/pull/1006 we should try to revert for fast check.

[2021-01-11 14:24] Dave-EMIS commented on #1037
If it matters, I'm using .NET 5.0.101 SDK and building netcoreapp3.1...

[2021-01-11 14:26] Malivil commented on #1037
I tried .Net 5.0.101 SDK and building netcoreapp3.1 as well as net5.0

I did not try with the .Net 3.1.x SDK though

[2021-01-11 15:40] bkaid commented on #1037
I actually did run into this with the nightly and meant to report it but was going to try to put a repro sample together first. Sorry about that.

[2021-01-11 16:04] MarcoRossignoli commented on #1037
Oh no problem at all...I'm curious to know, we have some UT's with multiline and lambda etc(like David sample above) so it's weird we didn't catch before. Anyway np we'll fix it.

[2021-01-12 03:09] daveMueller commented on #1037
@MarcoRossignoli I guess i found the issue and as you assumed it is related to #1006. Here https://github.com/coverlet-coverage/coverlet/blob/d43f83d8240bb7e9efa8aed5841329a30f6da7c6/src/coverlet.core/Coverage.cs#L397-L404

we don't consider the ```docIndex``` of the ```HitCandidates``` which means we are comparing lines of different classes. For a quick test I just added
[code]
and it seemed to w

[2021-01-12 03:20] Malivil commented on #1037
Glad to be of assistance, more glad that you found the cause =)

[2021-01-12 06:53] MarcoRossignoli commented on #1037
Good catch @daveMueller!
Can you try to fix and build package from your branch using

`dotnet pack -c release /p:TF_BUILD=true /p:PublicRelease=true`

And attach the three packages to this issue?
So our kind/patiences friend here can try on their projects and confirm the fix?

I expect a package with "preview" tag on version.

[2021-01-12 12:49] HughPH opened #1040 "Package coverlet.console 3.0.0 is not compatible with netcoreapp3.1"
We're receiving the above message, but I didn't notice anything in README.MD or in the ChangeLog to suggest support for netcoreapp3.1 had been dropped. Is this intentional, is it a bug, or is there something else going on?

Many thanks

[2021-01-12 12:52] talenor opened #1041 "Coverlet.console doesn't support .Net Core 3.1"
[code]

Checked the changelog and didn't find anything related to such a change.
Is it expected behavior?

[2021-01-12 14:05] skovalyova commented on #1037
The same issue for .NET 5 after updating coverlet to 3.0.0 - coverage is 20% less than for 2.9.0.

[2021-01-12 14:14] Malivil commented on #1037
FineCodeCoverage installs an old version by default but will use a newer version if you update the coverlet tool yourself. If you were to update the tool it would show the same coverage problem.

[2021-01-12 15:50] petli commented on #1041
Please see #1038 for discussion about this.

[2021-01-12 15:50] petli commented on #1040
Please see #1038 for discussion about this.

[2021-01-12 15:51] #1040 closed

[2021-01-12 16:09] kreghek commented on #357
https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Examples/MSBuild/MergeWith/HowTo.md

It was helpfull for me. I use coverall and special solutions for unit and functional tests.
https://github.com/kreghek/Zilon_Roguelike/blob/362997fa7216e1ba77c18ea120580e29b4ada16e/.github/workflows/coverall.yml

[2021-01-12 18:53] HughPH commented on #1038
OK, but .Net Core 3.1.10 _is_ LTS and expires December 2022
https://dotnet.microsoft.com/platform/support/policy/dotnet-core

[2021-01-12 19:16] MarcoRossignoli commented on #1038
Yep I know, the idea was move to 6 next year and release with 5 because is the first "unified version".

Do you have a problem with 5.0, some restrictions?

[2021-01-12 20:12] HughPH commented on #1038
We have a good number of services that were created targeting .net core 3.1.10, and we wouldn't want to update them all in bulk. This just means, really, that we are restricted to Coverlet 1.7.2 until we make a coordinated effort to migrate to .Net 5.0 - which is not an ideal situation.

The converse question is whether there are certain new Coverlet features that are incompatible with .net core 3

[2021-01-12 21:43] abatishchev opened #1042 "Upgrading to 3.0.0 causes System.MissingMethodException: Method not found: 'Boolean Microsoft.VisualStudio.TestPlatform.CoreUtilities.Helpers.CommandLineArgumentsHelper.TryGetIntArgFromDict"
My service is built using Azure DevOps:

[code]

If I upgrade to version `3.0.0` my tests fail with error:

[code]

Rolling back to `1.3.0` makes the issue to disappear.

Other installed packages:

[code]

[2021-01-12 21:48] MarcoRossignoli commented on #1038
It's not clear why it's a problem, coverlet console is a .NET tool that instrument and after that run you command+args you don't need to upgrade you project to .NET 5 only install on machine/ci

[2021-01-13 02:45] HughPH commented on #1038
OK, let me dig into it and get a clear answer for you. It might be that we have a reference to coverlet.console where we actually need the other coverlet packages.

Several people have come up against this now because it's been installed as a package in projects that target netcoreapp31, so it would benefit us all if there's a better answer than "use 1.7.2 or upgrade"

[2021-01-13 06:17] daveMueller commented on #1037
Sorry for the late response but now here I have attached the packages with the potential fix. Would be cool if someone could test this and give some feedback. :smirk:
[coverlet.3.0.1-preview.4.zip](https://github.com/coverlet-coverage/coverlet/files/5806712/coverlet.3.0.1-preview.4.zip)

[2021-01-13 07:15] JSkimming commented on #1037
@daveMueller I've just tried it on [Castle.Core.AsyncInterceptor](https://github.com/JSkimming/Castle.Core.AsyncInterceptor) and it looks like you've fixed the issue: **100% (328 of 328)**, whereas 3.0.0 counted **[89% (196 of 220)](https://2024-60778941-gh.circle-artifacts.com/0/Report/index.html)**.

Here's the output.

[code]

Interestingly, the numbers are now much closer to [OpenCover](https:

[2021-01-13 08:06] MarcoRossignoli commented on #1038
Got it, take a look at guide https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/GlobalTool.md

You don't need to reference the tool in your project it runs standalone.

[2021-01-13 08:10] MarcoRossignoli commented on #1037
Thanks @JSkimming for the fast test
@Dave-EMIS @martincostello can you try to double check 🙇 ?

[2021-01-13 10:16] Kampfmoehre commented on #1042
Discovering the same problem with Net 5. I have an integration test project that looks similar to the one from the [MS docs](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-5.0). Is there anything I can provide for further investigation of the issue?

[code]

[2021-01-13 10:44] martincostello commented on #1037
Using the `3.0.1-preview.4` package with https://github.com/martincostello/api/pull/539 gives the following results:

[code]

So that actually improves on the previous coverage in the `main` branch of `84.20%`. 🥳

[2021-01-13 12:44] Malivil commented on #1037
I'm seeing good results with the 3.0.1 preview as well

2.9.0 - 92.2% (1726 of 1871)
3.0.0 - 85.9% (1559 of 1813)
3.0.1 - 96% (1742 of 1813)

[2021-01-13 13:46] HughPH commented on #1038
Thanks Marco, that's a big help.

[2021-01-13 15:11] meziantou opened #1044 "Reachability helper feature hangs tests in some scenario"
After updating to Coverlet 3.0.0, one of the test projects doesn't run anymore. The process is stuck at:

[code]

The CPU usage is 25% for the .NET process (I have a 4 cores CPU).

I've generated a dump file, and it seems to be stuck somewhere in `Mono.Cecil`:

[code]

Environment:
- Windows 10
- .NET SDK 5.0.102

Repro steps:
- git clone https://github.com/meziantou/Meziantou.Framework.git
- cd M

[2021-01-13 16:50] MarcoRossignoli commented on #1038
I'm going to close for now, feel free to reopen if needed.

[2021-01-13 16:50] #1038 closed

[2021-01-13 18:14] mdrgeniebelt opened #1045 "Upgrade to version 3.0.0/3.1.0 causes FileNotFoundException (Newtonsoft assembly)"
Hi,

At first I thought this is APM package that is causing this issue but after upgrading/downgrading different packages for a day I found out that it is coverlet.collector that is causing it. The issue only shows up in docker container though, we're using `mcr.microsoft.com/dotnet/sdk:5.0-alpine` image.

[code]

More details here:

https://github.com/elastic/apm-agent-dotnet/issues/1117

[2021-01-13 18:16] mdrgeniebelt commented on #1045
Just to make it clear, downgrading `coverlet.collector` to 1.3.0 makes this exception disappear so it is _not_ APMs fault (the exception message is misleading...).

[2021-01-13 20:58] tdg5 commented on #1045
I am hitting this too! In my case it manifests like a YamlDotNet problem, but working through all the dependencies I found that it was `coverlet.collector v3.0.0` that was forcing Newtonsoft.Json 9x into the build

https://github.com/aaubry/YamlDotNet/issues/559

[2021-01-13 21:54] StingyJack commented on #269
@SlowLogicBoy @MarcoRossignoli  - this is still a problem for properties

![image](https://user-images.githubusercontent.com/15381181/104514712-b17ff680-55bf-11eb-92bb-fa824492e493.png)
![image](https://user-images.githubusercontent.com/15381181/104514736-bd6bb880-55bf-11eb-9ce5-e22ce4df9857.png)

Should this issue really be closed?

[2021-01-14 07:31] MarcoRossignoli commented on #269
This issue is old can you open new one?
Which version are you using?

[2021-01-14 07:35] #1041 closed

[2021-01-14 07:46] IgorBuchelnikov opened #1046 "Getting intermediate (current) coverage percent during tests execution"
Is there a way? I need it for generating code of tests

[2021-01-14 07:53] #1037 closed

[2021-01-14 07:56] MarcoRossignoli commented on #1045
Are you all using collectors?

[2021-01-14 07:59] MarcoRossignoli commented on #1042
Can someone create a small repro?

[2021-01-14 08:04] MarcoRossignoli commented on #1044
Thanks for reporting this, we moved collector to netstandard support netfx, that could be the reason. I had similar issue in past with loop resolution inside cecil related to different platform type forwarding.

[2021-01-14 08:05] MarcoRossignoli commented on #1037
Thanks to super @daveMueller this tomorrow fix will be on nightly https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md
Asap I'll push on nuget(bit busy atm).

[2021-01-14 08:16] mdrgeniebelt commented on #1045
Sorry maybe a stupid question but what do you mean by that?

I have two nuget packages:
- `coverlet.collector` v1.3.0
- `coverlet.msbuild` v3.0.0

[2021-01-14 08:32] MarcoRossignoli commented on #1045
can you write your command line?

[2021-01-14 08:38] mdrgeniebelt commented on #1045
So we're using github actions to run unit tests and generate coverage report, this is the part of yaml for pull request checks:

[code]

[2021-01-14 08:40] MarcoRossignoli commented on #1045
ok you're using msbuild integration.
Can you try to test with collectors please? https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md

Only to understand if it's an issue related to msbuild integration or not.

[2021-01-14 10:18] fredrikcarlbom opened #1047 "System.MissingMethodException with collectors on .NET 5"
This is the first time trying coverlet but I cannot get it to work with either version 3.0.0 nor 1.3.0

This is my minimal test repository: https://github.com/fredrikcarlbom/coverlet/tree/main

This is the test project file from the repo - lib1.tests.csproj:
[code]

I build using build.sh:
[code]

And this is the complete output:

[code]

I have the same behavior when running in powershell and WSL

[2021-01-14 11:45] edenjp opened #1048 "Coverage went down after Upgrade to version 3.0.0"
I was very happy when I saw a new version with an update I needed. But after Upgrade to version 3.0.0, the code coverage percent went down and a lot of lines that before was been read, are not anymore.

I am downgrading the version until I figure it out what happened. Does anybody had the same problem or have ideas of what happened and how can I fixed?

[2021-01-14 11:48] marceloodiniz opened #1049 "Lower covered lines after using coverlet 3.0.0"
Hi, I was using "coverlet.collector" version 1.3.0 and changed to 3.0.0. My coverage changed from 70% to 50%. Comparing the results, it seams that this new version have some problem detecting that a line was visited. My "uncovered lines" was 651 and changed to 1239 on this new version.

Analyzing one of the files that increased de uncovered lines, I saw many lines that my unit test covers but the

[2021-01-14 12:30] Malivil commented on #1049
Duplicate of #1043, fixed in nightly and next release

[2021-01-14 12:30] Malivil commented on #1048
Duplicate of #1043, fixed in nightly and next release

[2021-01-14 12:33] Malivil commented on #1046
If you mean showing coverage while in Visual Studio, there are a couple 3rd-party add-ins you can read about here: https://github.com/coverlet-coverage/coverlet#Visual-Studio-Add-In

[2021-01-14 12:42] IgorBuchelnikov commented on #1046
I mean the opportunity to get a coverage percent within the test code (C#) during it is executed

[2021-01-14 12:44] Malivil commented on #1046
If you look at those Visual Studio add-ins, they will give you line markings and coverage numbers right in VS while you execute your tests.

[2021-01-14 12:49] IgorBuchelnikov commented on #1046
Thanks, I will look at https://github.com/FortuneN/FineCodeCoverage

[2021-01-14 12:51] marceloodiniz commented on #1049
Thanks @Malivil, but I referenced the nightly build version on my project (version 3.0.1-preview.2.gd43f83d824) and it has the same problem!

[2021-01-14 13:02] Malivil commented on #1049
I may have misspoke about it being available on nightly already. @MarcoRossignoli says in #1037 that it will be available in the next nightly which might not build until tonight.

You can try the local preview that @daveMueller did here: https://github.com/coverlet-coverage/coverlet/issues/1037#issuecomment-759232073

[2021-01-14 13:23] marceloodiniz commented on #1049
@Malivil, this local version solved my problem :)
When will version 3.0.1 be released?

3.0.1-preview.4
![image](https://user-images.githubusercontent.com/6569081/104596113-5519e700-5652-11eb-9806-0a8d098988f6.png)

[2021-01-14 13:59] Malivil commented on #1049
In #1037 @MarcoRossignoli says he'll release it ASAP but he's a bit busy so we'll just have to wait it out

[2021-01-14 14:15] #1049 closed

[2021-01-14 14:25] Malivil commented on #1047
Looks to be a duplicate of #1042 where they are looking for a same reproduction project

[2021-01-14 14:28] fredrikcarlbom commented on #1047
@Malivil I get the same error if I downgrade to 1.3.0, therefore I assumed it would be two different issues.

[2021-01-14 15:17] muriloebsantos opened #1050 "Wrong coverage report"
Please follow this thread on Stackoverflow: https://stackoverflow.com/questions/65721281/dotnet-test-coverlet-wrong-coverage

I think this might be an issue with coverlet. I appreciate any help

[2021-01-14 15:26] Malivil commented on #1047
Sorry, I was focusing on that exception message.

[2021-01-14 16:08] StingyJack commented on #269
I was going to but found that a similar issue was opened after this and was closed as a duplicate of this.

[2021-01-14 16:09] petli commented on #1050
Please see #1037, it's a known issue in 3.0.0 that you reference in that project.  Tomorrow the nightly builds of 3.0.1 will contain a fix for this, and there's a patch release coming soon. There is an out-of-band build in https://github.com/coverlet-coverage/coverlet/issues/1037#issuecomment-759232073 that you can try in the meantime, if you don't want to wait.

[2021-01-14 16:10] #1050 closed

[2021-01-14 16:22] petli commented on #1047
These error messages look suspicious:

    '.ta collection : Unable to find a datacollector with friendly name 'XPlat Code Coverage
    'ata collection : Could not find data collector 'XPlat Code Coverage

They should look like this:

    Data collection : Unable to find a datacollector with friendly name 'XPlat Code Coverage'.
    Data collection : Could not find data collector 'XPlat Code Covera

[2021-01-14 16:54] #1048 closed

[2021-01-14 16:56] MarcoRossignoli commented on #1047
Collectors doesn't work with dll with `test` you need to publish first and use `vstest` as explained in the guide https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md#coverlet-integration-with-vstest-aka-visual-studio-test-platform

[code]

[2021-01-14 17:14] IgorBuchelnikov commented on #1046
@Malivil I didn't find what I want. When I run Code Coverage I see results (including line markings) only when all the tests have been executed.
Do you mean Live Unit Testing? I'm assuming Live Unit Testing executes every test method separately and calculate coverage after each test has been executed. This allows Live Unit Testing to show line-markings when you **type code**.
My problem is that my

[2021-01-14 18:22] petli commented on #1047
Try @MarcoRossignoli 's suggestion first, the error messages I saw may not be the root cause.

[2021-01-14 19:02] fredrikcarlbom commented on #1047
I had read that page but the following fooled me, is it supposed to be `dotnet vstest` or what am I missing?

[2021-01-14 19:55] MarcoRossignoli commented on #1047
Of you pass test library you need to publish before and use `vstest` if you run against sln/csproj you can use `test` and void to publish.

[2021-01-14 21:21] mmuecke commented on #1029
I have the same issue.
You can find an example here: https://github.com/mmuecke/RxMQTTnet/pull/18
In VS 100% and  84.21% with coverlet collector (https://codecov.io/gh/mmuecke/RxMQTTnet/compare/dc6b99f4e2024a2a37feb83651c3b4022626e236...cc663c761b2117d3445d4b3ba0aa7d384a6e5bfe/changes)

[2021-01-14 22:10] MarcoRossignoli commented on #1029
@mmuecke I think you issue is different, you're using version 3.0.0 and there is a bug we found and fixed, well release 3.0.1 soon https://github.com/coverlet-coverage/coverlet/issues/1037

[2021-01-15 03:40] harshinipriya opened #1051 "Some .Net core 3.1 projects reporting 0% coverage"
We have a .NET core 3.1 solution which contains an integration test project for a Hosted background service. We are using xunit v2.4.1 as the testing framework and Microsoft.AspNetCore.Mvc.Testing nuget to start the long running IHostedService from our test project. The coverage report is generated by using coverlet.msbuild v2.8.1 and Microsoft.NET.Test.Sdk v16.4.0.

The results show that some of

[2021-01-15 08:40] IgorBuchelnikov commented on #1046
I expect to write something like this:

[code]

[2021-01-15 11:27] fredrikcarlbom commented on #1047
I changed the build to:
[code]

And get the following:
[code]

I can build and test `Documentation/Examples/VSTest/HelloWorld/XUnitTestProject1` but that includes all the files in the root folder, if I copy the HelloWorld folder outside of the coverlet root folder, I can no longer test using the published version, only the project directly.
There are so many global files in the root folder, can yo

[2021-01-15 13:27] MarcoRossignoli commented on #1047
your command `dotnet vstest lib1.tests.dll --collect:"XPlat Code Coverage"` it's correct, now the problem is another one and we need to understand why on 5 it's failing with that missing method.

[2021-01-15 13:34] fredrikcarlbom commented on #1047
Is this good enough or should I edit the original issue?

[2021-01-15 13:37] MarcoRossignoli commented on #1047
I'm going to close this because it's a dup follow this one https://github.com/coverlet-coverage/coverlet/issues/1042

[2021-01-15 13:37] #1047 closed

[2021-01-15 13:38] fredrikcarlbom commented on #1047
Great, thanks for all your help!

[2021-01-15 13:39] fredrikcarlbom commented on #1042
https://github.com/fredrikcarlbom/coverlet

[2021-01-16 07:53] mimam419 opened #1052 "Return FIleResult not covered"
# Description

I have a FileController similar to

[code]

with the test below

[code]

After running coverlet with
[code]

After converting to HTML and visualizing the HTML, I have the screenshot below.

<img width="1069" alt="Screenshot 2021-01-16 at 08 40 51" src="https://user-images.githubusercontent.com/44836329/104806384-5294ca00-57d7-11eb-84d2-757c248595f9.png">

But the coverage works when

[2021-01-16 08:26] skovalyova commented on #1037
Bug is closed, but update is still not available from nuget package manager in VS - when will it be added?

[2021-01-16 09:38] MarcoRossignoli commented on #1037
Just released new version with fix to nuget.org

[2021-01-16 10:20] MarcoRossignoli opened #1055 "Deprecate and unlist package version 3.0.0 and change release habits"
Last week we released new major version `3.0.0`

Unfortunately the version has got an ugly bug has described by our  amazing @daveMueller  https://github.com/coverlet-coverage/coverlet/issues/1037#issuecomment-758365055

We did a great improvement on coverage testing, today we have a way to check if we're able to recognize pattern and verify line numbers and branch numbers.
I'm very happy of the q

[2021-01-16 10:21] ulrichb commented on #1037
Okay, it got way better with 3.0.1, but there are still false negatives.

Example 1:
![image](https://user-images.githubusercontent.com/388796/104809319-c2fa1600-57ec-11eb-960d-fe4471fd9558.png)

Example 2:
![image](https://user-images.githubusercontent.com/388796/104809354-fa68c280-57ec-11eb-8be2-e99689d294f5.png)

[2021-01-16 10:25] MarcoRossignoli commented on #1037
@ulrichb can you open a new issue and provide a small repro?
I think this is a different issue unrelated to this one, as we tested for that specific issue where the bug drop the numbers a lot.

[2021-01-16 10:33] ulrichb opened #1056 "Multi-line lambda false negatives in 3.0.1"
Okay, it got way better with 3.0.1 (after 3.0.0's  #1037 has been fixed), but there are still false negatives (compared to coverlet.collector 1.3.0).

Example 1:
![image](https://user-images.githubusercontent.com/388796/104809319-c2fa1600-57ec-11eb-960d-fe4471fd9558.png)

Example 2:
![image](https://user-images.githubusercontent.com/388796/104809354-fa68c280-57ec-11eb-8be2-e99689d294f5.png)

_Orig

[2021-01-16 10:35] MarcoRossignoli commented on #908
Is this issue still present?
Sorry I completely missed this on the list 🙇

[2021-01-16 10:45] MarcoRossignoli commented on #809
Should be fixed, feel free to reopen if needed.

[2021-01-16 10:45] #809 closed

[2021-01-16 10:53] ulrichb commented on #1056
Okay, it's simply a multi-line lamba:

[code]

![image](https://user-images.githubusercontent.com/388796/104809930-5fbeb280-57f1-11eb-8ee0-c06cb62a2068.png)

[2021-01-16 10:53] MarcoRossignoli commented on #1056
Thanks

[2021-01-16 11:05] MarcoRossignoli commented on #1056
ok I was able to repro

![image](https://user-images.githubusercontent.com/7894084/104810144-1ec79d80-57f3-11eb-8a9b-cec1a99aaaea.png)

[2021-01-16 11:14] ulrichb commented on #1056
Nice. And btw. thanks for this great, great tool!

[2021-01-16 11:19] MarcoRossignoli commented on #1056
We changed a bit the accounting alg because it was a bit a mess, now we need to adjust a bit. Np we'll fix it.

[2021-01-16 14:00] Malivil commented on #1055
You can add me to that list of people willing to test an official preview =)

I can't update to nightly builds but if you tag me in a preview test I can dedicate some time to run it through my solution.

[2021-01-16 14:14] MarcoRossignoli commented on #1055
Sure thx @Malivil
I apologize wasn't my intention exclude nobody I wrote down first names came into my mind related to my past experience on coverlet with bugs/tests etc...that "etc" was not appropriate, I'm going to update immediately.

[2021-01-16 14:18] MarcoRossignoli commented on #1055
+ Another idea could be add an `announcement` label and let coverlet users to subscribe to it when we release preview.

[2021-01-16 14:22] Malivil commented on #1055
No worries at all. I didn't take it that way, I just wanted to put my name forward to help out as well =)

[2021-01-16 14:47] JSkimming commented on #1055
Just adding my 2 cents. I'm not convinced such caution is necessary, though happy to be persuaded otherwise.

This is a test library, so not going to break runtime code. Also, by definition, coverlet's usage is 100% covered by tests. If someone receives a degraded result, like #1037, it's quite likely to be something consumers are monitoring, and therefore have the option to reject the upgrade, wh

[2021-01-16 14:56] MarcoRossignoli commented on #1055
Thanks for your opinion @JSkimming!
Understood your point on "test library" meaning.

[2021-01-16 16:53] MarcoRossignoli commented on #1056
@ulrichb can you try the fix?

[coverlet.console.3.0.2-preview.2.g6741924090.zip](https://github.com/coverlet-coverage/coverlet/files/5824778/coverlet.console.3.0.2-preview.2.g6741924090.zip)

[2021-01-16 19:00] benjaminZale opened #1057 "Opencover nPathComplexity is hardcoded to 0"
When creating an OpenCover report the nPathComplexity attribute is hard coded to 0.

[2021-01-16 20:11] ulrichb commented on #1056
Hmm, do you also have a prerelease .collector nuget package?

[2021-01-16 20:46] bthharper opened #1059 "coverlet hangs since upgrade to 3.0.0"
### Symptoms

Coverlet is hanging running unit tests via `nunit3-console` since upgrading to coverlet 3.0.1.

[code]
Coverlet hangs with this output.

[code]

If I remove the call to coverlet and call nunit3-console directly the tests complete., if I revert to coverlet 1.7.2 it works.

I have grabbed a dump of the process and the main thread shows the following stack:

[code]

### Environment

- W

[2021-01-16 21:14] MarcoRossignoli commented on #1056
It's a zip with all three packages inside

[2021-01-16 21:26] ulrichb commented on #1056
Yipee, just tested your build and my repro and my real code is 100% covered again. Thank you very much!

[2021-01-16 23:21] danielp37 commented on #1044
I'm seeing the same thing in a project that I'm working on.  With my projects, I've narrowed it down to a project that works with objects from System.Data (like DataTable or SqlConnection) AND the project also references one of these 3 nuget packages:

<PackageReference Include="Microsoft.TeamFoundationServer.ExtendedClient" Version="16.153.0" /> 
<PackageReference Include="Microsoft.VisualStudio.

[2021-01-17 09:09] MarcoRossignoli commented on #1059
dup of https://github.com/coverlet-coverage/coverlet/issues/1044

[2021-01-17 09:09] #1059 closed

[2021-01-17 09:11] MarcoRossignoli commented on #1057
Thanks for reporting this and for the fix.
I'll take a look asap.

[2021-01-17 09:25] MarcoRossignoli commented on #1056
@martincostello @JSkimming @Malivil @Dave-EMIS someone of you can try the package on your project and let us know if it's all ok? https://github.com/coverlet-coverage/coverlet/issues/1056#issuecomment-761595855

[2021-01-17 12:45] bthharper commented on #1044
Am using `nunit3-console` with the `coverlet` console command line rather than `dotnet test` but get the same result.  Have reverted back to 1.7.2 for now.

[2021-01-17 13:13] Malivil commented on #1056
Looks good on my solution. The only unexpected change I saw was marking a line as covered that ended a multi-line ternary statement with multi-line lambdas inside. I think it's completely understandable to show that as covered, though, so I don't think it's a problem. For example:

[code]

In terms of the coverage numbers:

MSBuild 2.9.0: ![2 9 0 Coverage](https://user-images.githubusercontent.com

[2021-01-17 13:19] MarcoRossignoli commented on #1044
Can you all try with this packages?

[Packages.zip](https://github.com/coverlet-coverage/coverlet/files/5826139/Packages.zip)

[2021-01-17 13:28] MarcoRossignoli commented on #1056
It's ok...lambda accounting it's a bit complex, coverlet uses sequence points(strong choice sometimes uncomfortable) and sometimes are "nested" i.e.

sequence A
line 1 {
line 2    ...
line 3   ...
line 4 }

sequence B (lambda closure object)
line 2 ...
line 3 ...

When we have an hit for A and not for B we account for covered line 1 and 4 from A but we use sequence B for 2 and 3.

[2021-01-17 13:43] JSkimming commented on #1056
@MarcoRossignoli Results comparing different version of coverlet and OpenCover.

## Summary

All looks good.

## Results

| | coverlet.msbuild 2.9.0 | coverlet.msbuild 3.0.1 | coverlet.msbuild 3.0.2-preview.2.g6741924090 | OpenCover 4.7.922 |
| - | - | - | - | - |
| [Castle.Core.AsyncInterceptor](https://github.com/JSkimming/Castle.Core.AsyncInterceptor) (Debug)   | 100% (328 of 328) | 100% (328 o

[2021-01-17 13:47] JSkimming commented on #1056
I'm, not a big user of lambdas, I tend to use local functions or private methods for anything more complex than `x => x.Property`, which may be why my libraries are unaffected.

[2021-01-17 14:08] MarcoRossignoli commented on #1056
Thx for the test @JSkimming

[2021-01-17 16:25] meziantou commented on #1044
@MarcoRossignoli The CI completes with the preview package :)
https://github.com/meziantou/Meziantou.Framework/runs/1717298953

Thanks for the fix! I'll wait for the official release to update coverlet in my project

[2021-01-17 18:44] #1056 closed

[2021-01-17 18:45] MarcoRossignoli commented on #1056
After midnight will be on nightly.
I'd like need to check another issue before release, if I won't find a solution I'll release in a week.

[2021-01-17 18:47] MarcoRossignoli commented on #1044
Unfortunately I fixed your issue but now I got a lot of noise from reachability helper, I need more time 😢

https://dev.azure.com/tonerdo/coverlet/_build/results?buildId=1324&view=logs&j=f0f0520d-467b-5d1d-a95d-4e3a2581fe8a&t=67725203-aed8-540e-d7ff-b357d1276ce7

[2021-01-17 21:52] bthharper commented on #1044
I've tried the updated coverlet, but it still hangs for me,

[code]

[2021-01-18 07:52] MarcoRossignoli commented on #1044
I think for the moment I'll go for disable ["Methods that do not return"](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/MSBuildIntegration.md#methods-that-do-not-return) by default.
I need more time to understand what's happening, the type resolution part is a bit tricky and at the moment there is no workaround to unblock.
cc: @kevin-montrose

[2021-01-18 22:05] MarcoRossignoli commented on #1052
Which version of coverlet are you using?
We're on 3.0.1

[2021-01-18 22:09] MarcoRossignoli commented on #1051
Can you try with collectors version?
Maybe you're suffering of a known issue related to premature test process kill by test platform https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#vstest-stops-process-execution-early

[2021-01-19 08:44] zplan commented on #1044
Confirm.
I see a lot of these "Unable to resolve..." warnings comming from coverlet.msbuild.targets(39,5)
Installed version: coverlet.msbuild 3.0.1

[2021-01-19 08:50] MarcoRossignoli commented on #1044
thx for test @zplan asap I'll attach a new test lib

[2021-01-19 09:32] schrufygroovy commented on #1034
updated to `3.0.1` -> still 0 % coverage

[2021-01-19 09:35] MarcoRossignoli commented on #1034
I see on test you're using msbuild integration, can you try with collectors one?Maybe you're hitting known issue https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#vstest-stops-process-execution-early

[2021-01-19 09:54] schrufygroovy commented on #1034
thx @MarcoRossignoli
this seems to resolve the problem.

I missunderstood the known issue. I thought I would receive a warning when it occures.

[2021-01-19 09:54] #1034 closed

[2021-01-19 09:56] MarcoRossignoli commented on #1034
Unfortunately not because it's a kill from vstest plat and it's randomic, depends on how much time tests run.

[2021-01-19 11:08] mimam419 commented on #1052
3.0.0

[2021-01-19 11:19] mimam419 commented on #1052
Hey @MarcoRossignoli, I just tried it with 3.0.1 and it worked.
I will close this now.

[2021-01-19 11:19] #1052 closed

[2021-01-19 11:39] MarcoRossignoli commented on #1052
We'll release 3.0.2 soon with a new fix so stay tuned https://github.com/coverlet-coverage/coverlet/issues/1056

[2021-01-19 14:53] billybraga commented on #1045
I believe the issue is coverlet.collector nuget package doesn't specify dependencies, but still includes Newtonsoft.Json.dll

[2021-01-19 15:30] MarcoRossignoli commented on #1045
@billybraga if you don't publish and run `dotnet test` on csproj do you see that line?Also the collectors deps is added as private assets? https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

[code]

[2021-01-19 15:39] Zubastic opened #1062 "Ignore branches pattern"
Hello. We trying to use coverage but having issue.
Used Dependency injections + dependency chains, so this code is common for project:
[code]
So I didn't check IsSuccessful branch because it is not common. How I could ignore some patterns? Or change percentage of coverage, ignoring this checks.

Also another common problem that we use Registrator classes like this:
[code]
They are called every tim

[2021-01-19 16:23] billybraga commented on #1045
I don't have the problem with `dotnet test` (the dll is not copied from coverlet, as expected).

Here is my package reference:

[code]
(it's what dotnet added automatically after installing coverlet.collector

[2021-01-19 17:10] petli commented on #1055
After thinking a bit about this I think I agree with @JSkimming. In general bugs will be found faster if they get pulled into PRs by dependabot across the ecosystem, rather than just by a subset of preview users.  If people automatically also merge those PRs without reviewing them is up to them.

This particular bug, by affecting almost every single user, means that we got a bunch of duplicate iss

[2021-01-19 17:40] MarcoRossignoli commented on #1055
Thanks @petli

[2021-01-19 19:46] rochanuno commented on #908
Yes,  it's reproducable.
The description includes a projeto to reproduce the issue

[2021-01-19 23:39] kevin-montrose commented on #1044
Looks like it's getting stuck trying to resolve a call to `System.Security.Principal.WindowsIdentity System.Security.Principal.WindowsIdentity::GetCurrent()` which then gets stuck in a cycle of looking up `System.Security.Principal.Windows, Version=0.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a` and `mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089` in `Netsta

[2021-01-20 00:00] kevin-montrose commented on #1044
Yeah, it looks like if I make sure the correct .net folder is being search the symbol lookup succeeds:
![image](https://user-images.githubusercontent.com/1219467/105108576-8e09ef80-5a88-11eb-8e5c-2f5e1405f6e9.png)

So we'll need some way to determine that from just `_module`.  I'll keep poking, though I'm running out of personal-hacking-time tonight...

[2021-01-20 00:14] harshinipriya commented on #1051
Just did a test run with coverlet.collector v3.0.1 with Microsoft.NET.Test.Sdk v16.5.0. The results are still 0% for the two projects mentioned previously.

[2021-01-20 02:06] JayDZimmerman opened #1063 "Unable to resolve method reference"
We have an ASP.NET Core 3.1 application being built, tested, and deployed in an Azure DevOps pipeline.  The associated unit test project makes use of xunit, coverlet.collector, and coverlet.msbuild.  The following statement is executed by the pipeline:

`D:\a\_temp\dotnet\dotnet.exe test D:\a\1\s\test\MyService.Api.UnitTests\MyService.Api.UnitTests.csproj --logger trx --results-directory D:\a\_tem

[2021-01-20 08:11] MarcoRossignoli commented on #1044
Yep it's not a bug in reachability for sure I found your same issue (loop on resolution). It's for sure related to resolution and seem only for net461.

Is used for similar reason, as you can see from the comments above that class it loads correct netstandard assembly to allow correct forward type resolution between different runtimes.

[2021-01-20 14:57] KinNeko-De commented on #1063
i have this problem too with .NET 5 and the same setup (xunit, azure pipeline, same coverlet versions)

dotnet test MyProject.csproj --logger trx --results-directory /_temp -c Release --no-build --no-restore /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura

For me there is no negative result from this. code coverage reports are upload  and displayed as normal. So i do not rollback the ver

[2021-01-20 15:20] pkruk2 commented on #1055
I have not seen any mentions about improving automatic tests. "multi-document project" is the normal case, nobody has projects with only one document. Did you consider adding such test?

[2021-01-20 15:49] MarcoRossignoli commented on #1055
We should try to add something on that side. Not super easy btw, at the moment we test all "patterns" not whole projects because every project is different so it's hard find a way to have a complete tests scenario. We'll improve for this specific case for sure.

Thanks for the comment.

[2021-01-20 16:02] MarcoRossignoli commented on #1063
They're warning from new feature, I'll move to info next release to avoid noise.

[2021-01-20 16:42] pkruk2 commented on #1055
Maybe following could work and be easy to implement:

Collect coverage from some third party project. The project should be non trivial, should already have a good number of UT and a good coverage. Collect coverage from the UT before each release (or even after each commit if possible). If coverage numbers change and it was not expected, you would have to manually review why it changed.

This assu

[2021-01-20 16:52] JayDZimmerman commented on #1063
As far as I can tell, coverage information is being generated as expected.  The reason for my filing the issue was to a) ensure there were no difficult-to-detect analysis failures happening under the covers and b) request the possible elimination of the noise so that developers don't spend time investigating.  As long as it has been identified as a non-issue and will be looked into for a future re

[2021-01-20 17:08] harshinipriya commented on #1051
Update: As mentioned earlier, we have an API Integration test project in the same solution where we are using _Microsoft.AspNetCore.TestHost_ package to start a TestServer in-memory instead of _Microsoft.AspNetCore.Mvc.Testing_ and found the coverage reports to be as expected.

I did a quick test and changed the API Integration test project to use _Microsoft.AspNetCore.Mvc.Testing_ instead of _Mic

[2021-01-20 20:30] SebastienPortier opened #1064 "Coverage loss chained lambdas"
Hi !

I have updated "coverlet.collector" Version="3.0.1" with the fix you provided on severe coverage loss in 3.0.0.

Even if the situation is clearly better, I am still missing some coverage with lambda "chained".

I saw on this [commit ](https://github.com/coverlet-coverage/coverlet/commit/070f2b47ef616a62e7fedc89cfec02eac9560ca9) you worked on the lambda coverage, but the tests doesn't take in

[2021-01-21 00:49] kevin-montrose commented on #1044
Writing down my rough understanding, and the probable fix here.

 1. The loop happens because we're looking at the .NET version that's running the `dotnet test` command whenever we can't find an assembly in the test-containing-module's directory.
   a. So, in theory any symbol that's moved between assemblies between 4.6.1 and .NET 5 would trigger this.  This is vanishingly few symbols, but `System

[2021-01-21 02:03] kevin-montrose commented on #1044
Oy, something like this...

[code]

replacing the two existing calls to `AddSearchDirectory` seems to work.  I'm not in a great spot to run the full test suite, but the net461 and net5.0 cases in this issue do seem to work.

Frankly, it stinks (and requires taking a dependency [Microsoft.Windows.Registry](https://www.nuget.org/packages/Microsoft.Win32.Registry/)) but there just isn't a [great way

[2021-01-21 06:19] daveMueller commented on #775
The hint with the VB project that @NerdBrez provided was worth its weight. I set up a solution with an MVC project with XUnit and a VB class library project that let me reproduce this error.  Here is the repo  => [https://github.com/daveMueller/coverlet775](url)

![grafik](https://user-images.githubusercontent.com/19378678/105286972-99a80400-5bb7-11eb-864e-281cf5b0d860.png)

Up to now I didn't fin

[2021-01-21 16:02] stricq opened #1065 "What is "XPlat Code Coverage""
I looked through the documentation and I could not anyplace that explains what "XPlat Code Coverage" is or even why it was needed.

[2021-01-22 10:01] petli commented on #1065
As I understand it it is just how to tell the underlying vstest driver to activate `coverlet.collector` to collect coverage information during test runs.  It is not something that's designed by Coverlet, but by vstest.  There's full documentation on how coverlet interacts with vstest on this page:
https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md

[2021-01-23 08:06] MarcoRossignoli commented on #1065
Yep @petli is correct `"XPlat Code Coverage"` is handled by VSTest plat to inject our collectors.

Take a look here https://github.com/microsoft/vstest/blob/master/src/vstest.console/Processors/CollectArgumentProcessor.cs#L253

[2021-01-23 08:06] #1065 closed

[2021-01-23 08:09] MarcoRossignoli commented on #1064
Yep it's a dup of https://github.com/coverlet-coverage/coverlet/issues/1056
is fixed on master this weekend I'll release the fix officially.
You can try with nightly for now https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2021-01-23 08:09] #1064 closed

[2021-01-23 08:21] MarcoRossignoli commented on #1062
At the moment we can skip instrumentation using [attributes](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/MSBuildIntegration.md#excluding-from-coverage) and files filter.
But we don't have a way to avoid instrumentation/coverage of body part.

To allow that we should provide some trick like parse some fake empty debug only method like `this.DisableCoverletInstrumentation

[2021-01-23 08:23] MarcoRossignoli commented on #1063
The idea is for now to move new reachability helper as opt-in, so that warnings should disappear.

[2021-01-23 08:24] #1063 closed

[2021-01-23 08:26] MarcoRossignoli commented on #1055
Thanks @pkruk2 it's a good idea...we could try with some project like dotnet/roslyn, dotnet/runtime(they're using coverlet)

[2021-01-23 14:41] MarcoRossignoli commented on #1044
@zplan @meziantou can you try with this preview version?

[Preview.zip](https://github.com/coverlet-coverage/coverlet/files/5860348/Preview.zip)

Moved reachability helper opt-in until we properly fix the issue to avoid to block corner cases.

[2021-01-23 14:51] MarcoRossignoli commented on #1055
Thanks for all comments, the outcome is:

*  Preview testers workflow seems overkill for a "test tool" where a user can do not accept an upgrade if it's not happy with that.
*  Anyway we can publish preview "silently"  for who what to avoid nightly build feeds and too much infra but are able to use preview from official nuget feed.
*  We can choose a project that is using coverlet and before relea

[2021-01-23 14:51] #1055 closed

[2021-01-23 15:19] MarcoRossignoli commented on #1042
@fredrikcarlbom for now you can try with `dotnet test --collect:"XPlat Code Coverage"` your sample is working on my test.

[code]
Investigating publish scenario

[2021-01-23 16:09] meziantou commented on #1044
@MarcoRossignoli The tests complete using the 3.0.2-preview.3 version :)

[2021-01-23 16:15] MarcoRossignoli commented on #1042
@fredrikcarlbom @abatishchev can you try with this preview version?

[Preview.zip](https://github.com/coverlet-coverage/coverlet/files/5860499/Preview.zip)

[2021-01-23 16:21] MarcoRossignoli commented on #1051
Mmm nothing come into my mind, but one question can you attach your command line are you using `dotnet test /p:CollectCoverage=true` or `dotnet test --collect:"XPlat Code Coverage"` ?

[2021-01-23 16:40] MarcoRossignoli commented on #1046
This is not supported yet, I did some experiment in past https://github.com/coverlet-coverage/coverlet/pull/628 where you can instrument and read instrumentation level live.

Something like https://twitter.com/MarcoRossignoli/status/1201546945589841922?

[2021-01-23 16:46] MarcoRossignoli commented on #1045
https://github.com/coverlet-coverage/coverlet/issues/1045#issuecomment-760022340

@mdrgeniebelt you're using msbuild integration, can you remove the package reference to `coverlet.collector` and retry?

[2021-01-23 21:01] aling93 commented on #857
I am also running into this and the preview package has fixed it. Any plans to have a stable release for this? Thanks!

[2021-01-24 13:33] MarcoRossignoli commented on #1044
Just released new version https://github.com/coverlet-coverage/coverlet/releases/tag/v5.6.2

[2021-01-24 13:33] MarcoRossignoli commented on #1056
Just released new version https://github.com/coverlet-coverage/coverlet/releases/tag/v5.6.2

[2021-01-24 16:47] meziantou commented on #1044
I've merged the latest version and it seems ok on my side 😊

Thanks for the investigation and the quick fix!

[2021-01-24 19:54] SebastienPortier commented on #1064
Nice ! Thanks for answer regards

[2021-01-25 02:29] FermJacob opened #1068 "Updating to 3.0.x causes hanging test with .Net Framework 4.7.1"
Dependabot pushed a new PR to our project with the version change 3.0.x.  When running the CI PR pipeline we run into an issue where the test hangs then the ADO pipeline times out due to the 60 minute limit.  I am not sure what is causing the issue and the logs don't show much to investigate, so any information would be appreciated.  Here is the link to the project:  [MAQS](https://github.com/Mage

[2021-01-25 09:07] MarcoRossignoli commented on #1068
Can you try with 3.0.2?

[2021-01-25 09:26] mdrgeniebelt commented on #1045
@MarcoRossignoli looks like removing reference to `coverlet.collector` fixes this :) Thank you! (I updated msbuild package to 3.0.2 also).

[2021-01-25 09:41] petli commented on #1062
If 100% code coverage is important to the code in question, a workaround is to move the logic that should be tested into a separate method and tag the entry point with its precondition checks to be excluded from testing:

        [ExcludeFromCodeCoverage]
        public override async Task AfterRequest(IExtensionContext context)
        {
            if (!context.Response.ValidationResult.IsSucces

[2021-01-25 10:36] MarcoRossignoli commented on #1062
I see annotation related only to nullability https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/attributes/nullable-analysis (MaybeNullWhen etc...)

[2021-01-25 11:02] petli commented on #1062
An easier thing to implement is to provide a couple of static wrapper methods that this kind of code can use, and then just check for the top-level usage of those in the if conditions:

[code]

Could also be extended to exception handlers:

[code]

The defintions of these would be something like:

[code]

[2021-01-25 13:04] pkruk2 commented on #507
Not reopening, but just wanted to say that I noticed this issue today. I had a property with getter/setter defined on the same line and noticed on report from ReportGenerator based on cobertura files that it listed on the getter.

Looking at "raw" coverage.json files I see that coverage is reported in hierarchical way: file - class - function. There is only one function (the getter) there.

So may

[2021-01-25 15:36] harshinipriya commented on #1051
Thank you, that solved our issue. Our cake script was using `dotnet test /p:CollectCoverage=true`. Used `dotnet test --collect:"XPlat Code Coverage"`, we're now getting the expected coverage.

[2021-01-25 15:36] #1051 closed

[2021-01-25 20:05] SebastienPortier opened #1069 "Coverage loss multiple lambdas multiple lines"
Hi !

Thanks for release 5.6.2 and bug fixing #1060, the situation is improving on multi lines lambda 👍 . Coverage is ok when having one lambda on multi line, but when chaining multiple lambdas (for example in Fluent synthax way), coverage has still some holes :

One line is OK
![Capture d’écran 2021-01-25 122008](https://user-images.githubusercontent.com/5903868/105699778-30522900-5f08-11eb-86a5-

[2021-01-26 07:39] pkruk2 commented on #223
@MarcoRossignoli why is it marked as feature request? As I understand this is a bug:

That is coverlet might detect fake branches.

[2021-01-26 07:56] MarcoRossignoli commented on #223
Is this issue still present?

I moved to feature because IIRW the idea is to remove module with no coverage to avoid to mess stats and to me is better add a feat like `--exlude...`  I don't think it's a bug, can you provide a repro with the issue just in case?

[2021-01-26 08:07] pkruk2 commented on #223
I don't know if this issue is still present, don't have repro, maybe @pape77 could comment?

[2021-01-26 08:53] pape77 commented on #223
Hi guys, i forked away from this project since as @MarcoRossignoli knows, i made a pr for fixing this and other issues i have when running coverlet and trying to merge coverage when having tests in different projects.
That pr didn't have the blessing of the repo owner, not even adding optional parameters so the original functionality of coverlet is not affected.
I once in a while try the newest ve

[2021-01-26 09:03] pkruk2 commented on #223
Thanks, I hoped you have some small repro that shows the "ghost branches" that you could share, I understand if you don't have it.

[2021-01-26 10:46] zplan commented on #1044
@MarcoRossignoli
Sorry, had no time.

Thanks for fixing, I will check the new version!

[2021-01-26 11:09] MarcoRossignoli commented on #1069
Can you try
[code]

[2021-01-26 12:16] pkruk2 opened #1070 "Question: branch coverage - information which branches were covered?"
Hi,

is it possible to know which branches were covered?

I guess that would matter mainly (only?) for switch statements - to know which switch cases were reached.
For other statements with only 2 branches (if/for) I suppose you'll know based for line coverage information.
But for switch statement there is no line coverage for case labels...

[2021-01-26 14:58] FermJacob commented on #1068
@MarcoRossignoli 3.0.2 resolved the test run issues.  You can close this issue

[2021-01-26 17:08] #1068 closed

[2021-01-26 20:02] pape77 commented on #223
I don't, i tested this with a repo of my company which I can't share
Was long time ago, so I don't even remember which one it was, sorry

[2021-01-26 20:18] pape77 commented on #223
how does it work currently for merging coverage in different test projects? I see no more merge option in the docs, is that done automatically?
In case i run it again with latest version

[2021-01-26 21:05] SebastienPortier commented on #1069
I obtains a sort of mix :
![image](https://user-images.githubusercontent.com/5903868/105905273-87e4b780-6022-11eb-88e8-c6db910ae85d.png)

[2021-01-26 23:56] daveMueller opened #1071 "XMLException when deserializing CoverageResult from TestInstrumentationHelper"
I recently set up a new PC and now I can't execute the CoverageTests anymore (master branch). I feel really stupid for opening this ticket but I can't figure out what the issue is. Most likely it's something really trivial but I'm out of ideas.

![image](https://user-images.githubusercontent.com/19378678/105921357-03e9fa00-6039-11eb-8990-c9a4c934becc.png)

The exception is always the same:

[code]

[2021-01-27 07:28] MarcoRossignoli commented on #1069
ok thanks

[2021-01-27 07:31] MarcoRossignoli commented on #1071
You don't np at all sometimes happened also to me 😄

Can you try to run out of IDE?
[code]

[2021-01-27 07:33] MarcoRossignoli commented on #1070
The question is not clear do you mean a report like this https://github.com/coverlet-coverage/coverlet/pull/1006#issuecomment-739503270?

[2021-01-27 07:38] MarcoRossignoli commented on #223
Hi @pape77 it works like in the past nothing changed on that side we're waiting to use new extension point from vstest plat https://github.com/coverlet-coverage/coverlet/issues/1015#issuecomment-746174446

https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/DriversFeatures.md
https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/MSBuildIntegration.md#merging-r

[2021-01-27 12:18] kinder001 opened #1072 "ExcludeFromCodeCoverage skipped for some lines in excluded method"
Hello!
I use coverlet NuGet version 3.0.2

I have method marked as [ExcludeFromCodeCoverage], It's async method.
Some lines inside method skipped from excluding and are marked as uncovered,  It's on PrintScreen from report below code

``
       [ExcludeFromCodeCoverage]
        public async Task<List<OrganizationStructureModel>> GetOrganizationStructureByPartnerAsync(Guid partnerId)
        {

[2021-01-27 19:53] MarcoRossignoli commented on #1072
@matteoerigozzi, regression?

[2021-01-27 21:35] daveMueller commented on #1071
OK you were right, running it without IDE works fine. So it must be that my current studio installation is missing something.

![grafik](https://user-images.githubusercontent.com/19378678/106057100-c1cfbf80-60ef-11eb-9aef-fe86e853135f.png)

[2021-01-28 00:21] daveMueller commented on #1071
Mhh seems to be the Resharper Test Explorer. I could swear that I saw the same results on the Visual Studio Test Explorer yesterday. And before I set up my new PC it also worked with Resharper. Never mind, I now can execute the tests again without getting these errors so this is fixed.

[2021-01-28 01:30] daveMueller commented on #775
The issue is the ```My``` namespace in Visual Basic ([My](https://docs.microsoft.com/en-us/dotnet/visual-basic/developing-apps/development-with-my/)). Usually a sequence point has a reference to a source file like this.

![grafik](https://user-images.githubusercontent.com/19378678/106076137-3ebe6180-610f-11eb-9370-32cd947c381b.png)

In Visual Basic the compiler injects the ```My``` classes into th

[2021-01-28 01:36] daveMueller commented on #775
By the way I updated the repro to be a lot smaller than the first implementation ([https://github.com/daveMueller/coverlet775](https://github.com/daveMueller/coverlet775)).

[2021-01-28 08:20] MarcoRossignoli commented on #1071
Can you try with Visual Studio to compare?
Honestly I never tried to run with test explorer in VS I debug a single test and after run all on console.

[2021-01-28 09:41] Kampfmoehre commented on #1042
This resolves it for me on my Fedora machine.

I installed it with
`dotnet add test/<ProjectName>.IntegrationTests/ package --source /home/<user>/Downloads/ --prerelease coverlet.collector`
and
`dotnet add test/<ProjectName>.IntegrationTests/ package --source /home/<user>/Downloads/ --prerelease coverlet.msbuild`

[2021-01-28 10:31] MarcoRossignoli commented on #1042
We released `3.0.2` last week should be same of attached preview package.

[2021-01-28 18:54] Yozer opened #1074 "Coverlet completely hangs when covering net48 tests"
Version: 3.0.2
Repro: https://github.com/Yozer/CoverletHangs
[code]

Actual result: coverage hangs completely, the only way to stop it is to kill the process.
If you comment out the const value in ```Core.cs``` everything works.
I did a dump and the stacktrace leads to:

[code]

[2021-01-29 08:55] daveMueller commented on #1071
Yes in the VS test explorer the tests also fail but it throws another exception. Here it points to ```Tmds.ExecFunction```.

![image](https://user-images.githubusercontent.com/19378678/106243359-8e815380-6209-11eb-8920-2a4a18e8d539.png)

In the Resharper test explorer it throws the XmlException.

![image](https://user-images.githubusercontent.com/19378678/106243489-ca1c1d80-6209-11eb-83bd-a91b19eb

[2021-01-29 17:08] MarcoRossignoli commented on #1074
Does it work with 2.9.0?

[2021-01-29 17:44] MarcoRossignoli commented on #1071
Oh visual studio one it's ok...our way to run out of process tests are not supported inside vs...I use only console for testing...and for debugging a move `FuncExecutor.Run` to `FuncExecutor.RunInProcess` and when test works revert back and run all in console. So I don't have any idea of Resharper issue, is it worked in past?

[2021-01-30 16:35] MarcoRossignoli opened #1075 "Support deterministic reports"
Follow up https://github.com/danielpalme/ReportGenerator/issues/405

we could add a flag `--deterministc-report`  and in case we're in a deterministic build use deterministic path instead of reconstruct the actual one.

- [x] Cobertura (https://github.com/coverlet-coverage/coverlet/pull/1113)
- [ ] Lcov
- [ ] OpenCover
- [ ] TeamCity

cc: @clairernovotny @danielpalme

[2021-01-30 16:44] Yozer commented on #1074
I was using 2.7.0 when I first encountered this issue. Then I switched to 3.0.2 but it didn't help.
I just tested this on 2.9.0 but the result is the same.

[2021-01-30 16:51] MarcoRossignoli commented on #1074
Ok so it's not a regression...I think it's related to this https://github.com/coverlet-coverage/coverlet/issues/1044#issuecomment-764180831 sometimes for some lib cecil loop forever and we need to find a way to let it know where search for .NET Framework app.

[2021-01-31 04:47] valadas opened #1076 "Wrong branch coverage on non-ranch code"
I don't know where to start troubleshooting this, but I have this:

![image](https://user-images.githubusercontent.com/6371568/106374924-6999f700-6355-11eb-9534-9c9a21b8a233.png)

And well, there is no if or anything causing this to show up as a branch. Any clue where to begin troubleshooting this issue ?

[2021-01-31 16:14] MarcoRossignoli commented on #1076
Which version are you using?

[2021-01-31 19:58] mikes-gh opened #1077 "Generics are not translated correctly"
It appear generics are not translated correctly in the coverage report.  They contain the backtick which would be what it would be if you just did Type.Name

So for example `Converter<T>` will incorrectly translate to Converter`1 in the report.

See this for an explanation

https://stackoverflow.com/questions/17480990/get-name-of-generic-class-without-tilde

It would make reading the reports easie

[2021-02-01 03:10] daveMueller commented on #1071
Mhh ok I really think that both was working but I also could be wrong. Maybe I also just debugged the test I was working on and let the build job execute the other tests.
But usually I execute all test in a solution before creating a PR and I'm 100% sure that I triggered them via visual studio or resharper ui. But never mind, now I know how to run them all again.
Thanks for the info.

[2021-02-01 03:10] #1071 closed

[2021-02-01 07:20] MarcoRossignoli commented on #1071
I mean I'm sure about out process tests(no `RunInProcess`), others should run with no problem.

[2021-02-01 17:15] petli commented on #1076
There's a branch on row 73, do you know if you have a test for both `page < 1` and `page >= 1`?  That branch might get accounted on row 70 instead of 73, for some reason. Do you test a debug or release build?  A release build might move things around and make results less precise.

[2021-02-01 19:41] valadas commented on #1076
Hmm, yeah, so testing both < 1 and > 1 did fix it, it's odd though that it's indicating that on the wrong line, but I can see how this is kinda really one big statement from line 70-77 since the `;` for line 70 is on line 77.

So I guess it really statement coverage and not line-coverage. Anyway, that solved the issue, just have to think if terms of statements I guess. Thanks for the quick reply o

[2021-02-01 19:41] #1076 closed

[2021-02-02 03:22] PureKrome opened #1078 "What is the bare minimum requirements to run Codecov with a .NET Core 2.2.8 application?"
We have some "legacy" .NET Core 2.2.8/2.2.207 applications. We're trying to add codecov before we can migrate up to 3.1.x or 5.x.

When we try and follow the info set out in the coverlet docs/readme, etc ... we get the following error:

   at Coverlet.Collector.DataCollection.CoverletCoverageCollector.GetPropertyValueWrapper(SessionStartEventArgs sessionStartEventArgs)
   at Coverlet.Collector.Dat

[2021-02-02 13:09] pkruk2 commented on #1070
Hello, sorry for delay.

What I mean: for example if I have following switch (a simplified example):

[code]

[2021-02-02 16:44] pkruk2 opened #1079 "Support for collecting application coverage from Asp.Net Web Application (not UT)"
Hi,

would be great if we could simply collect application coverage from a running Web Application. For example user starts web application and interacts normally with it to collect coverage. Currently this is not possible due to inability to gracefully shut down web application.

### Details

I tried collecting it using example web application but the problem seems to be with closing the web appl

[2021-02-04 13:24] artazar commented on #1042
@MarcoRossignoli tests in our pipelines started failing with precisely the same stack trace today, but the version was bumped to 3.0.2 exactly (from 1.0.1). So could you confirm once again which version will contain the fix?

[2021-02-04 18:17] MarcoRossignoli commented on #1042
Mmm `3.0.2` is the last one, so I think that the issue is not solved.
We need to investigate.

[2021-02-04 20:18] blushingpenguin commented on #1042
I get this on Linux (ubuntu 20.04) but not Windows 10 x64

[2021-02-06 12:50] MarcoRossignoli commented on #1079
For the moment we have only this way https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/GlobalTool.md#code-coverage-for-integration-tests-and-end-to-end-tests

To allow "kill" we need to change the core of coverlet and move from "in-process" collection(array in memory) to "out of process" collection(shared memory or something like that).

There is an open issue for that https:

[2021-02-06 12:53] MarcoRossignoli commented on #1078
This is the minimum requirement for collectors integration https://github.com/coverlet-coverage/coverlet#requirements

[2021-02-06 12:59] MarcoRossignoli commented on #1077
Which report generator are you using?

[2021-02-06 13:25] PureKrome commented on #1078
and

[if you check out the downloads](https://dotnet.microsoft.com/download/dotnet-core/2.2) page, 2.2.207 is the latest, though?

and 401 is 4 months older?

yep, that demo is the most recent

[2021-02-06 16:25] MarcoRossignoli commented on #1078
Oh I didn't noticed that release dates, anyway I did a test and I confirm that with `2.2.207` it fails but with `2.2.401` and `2.2.300` it works. So I confirm that it's strange also to me 🤔 .

I think it's better open an issue here https://github.com/microsoft/vstest/issues we don't own nothing about SDK release and the first collectors version was done by vstest MS guys.
After that we only mainta

[2021-02-07 00:24] mikes-gh commented on #1077
coverage.cobertura.xml
Here the Generic is `MudBaseInput<T>` but it shows as ``MudBaseInput`1``

[code]

[2021-02-07 01:25] PureKrome commented on #1078
Thanks so much @MarcoRossignoli for this! I totally didn't think of trying the other releases ... feels like that was so obvious.

Looking forward to seeing what VSTest team have to say.

[2021-02-07 08:08] MarcoRossignoli commented on #1077
Usually the report is not read "by hand" but using reports generator tool like https://danielpalme.github.io/ReportGenerator/
The name of object/members are simple standard `ToString()` that these tool convert accordingly.

[2021-02-08 08:14] MarcoRossignoli commented on #1070
I think that in this case the issue is the compiler optimization on IL generation, take a look at generated IL

![image](https://user-images.githubusercontent.com/7894084/107192429-e2502180-69ed-11eb-9d49-9d356a270290.png)
![image](https://user-images.githubusercontent.com/7894084/107192492-f85de200-69ed-11eb-995b-366918542adc.png)

The generated branches are:
[code]

[2021-02-08 09:28] petli commented on #1078
The first digit in what looks like the patch version of SDKs is really a feature level: https://docs.microsoft.com/en-us/dotnet/core/versions/

So 2.2.402 means patch version 2 of feature level 4 of .NET Core 2.2, and 2.2.207 is feature level 2 patch version 7. For your restricted update options it may still be possible to go to a higher feature level but still stay on 2.2, and thus use 2.2.402?

[2021-02-08 23:50] PureKrome commented on #1078
Hi @petli - sorry, I don't understand what you're saying.

Are you saying that version 402 is actually 'newer/higher' than 207 ... despite the fact that 207 was released AFTER 402?

Which means what? people should be using the higher _versions_ .. and not the most _recent_ version (which makes things a bit misleading on the .NET downloads page).

[2021-02-09 09:45] petli commented on #1078
Think of it this way: these are version 2.2.4.02 versus 2.2.2.07.  You are currently on 2.2.2.07, so you'd need to upgrade to 2.2.3.xx or 2.2.4.xx to be able to use coverlet, and might then go to the latest patch release of the highest feature level, i.e. 2.2.402.

207 might have been released after 402 to fix some bug that only affects feature level 2.2.2xx, hence being later.

[2021-02-09 10:26] PureKrome commented on #1078
Okay! so if 402 > 207 .. then I wish they would list the releases, as such.

If _feels like_ the most recently release == the most recent/highest version.

but what you are saying is that the highest number (regardless of release date) is the 'highest' version. So it's definitely following semver, then.

For example -> if someone was told to go and download the 'most recent' version of 2.2.* .. or

[2021-02-09 11:02] petli commented on #1078
I don't know what those product versions are, I've only had reason to study the SDK versions. Anyway, can you use 2.2.402 and does that solve your issue?

[2021-02-09 11:03] PureKrome commented on #1078
Yep - that should work if the 402 > 207. :)

[2021-02-09 13:21] pkruk2 commented on #1003
Hmm some additional data. Maybe the problem lies in the coverlet.console and/or the dotnet global tool?

I can collect coverage from Full PDB from UT.

For Application coverage, I have installed coverlet as global tool, as instructed in the Coverlet's Readme.md: `dotnet tool install --global coverlet.console`. It looks like it has old version:

[code]

That version can't collect coverage from Full

[2021-02-09 16:34] pkrukp opened #1082 "Unable to instrument module: [...] because : Failed to resolve assembly: 'System, Version=4.0.0.0, [...]"
Hi,

On https://github.com/ccnet/CruiseControl.NET one module is not instrumented. In log from vstest I can see:

[code]

Indeed, there is no System dll next to the test assembly. I've seen https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#failed-to-resolve-assembly-during-instrumentation but I think System dll is not expected to be copied to the output?

How t

[2021-02-09 21:26] mikes-gh commented on #1077
@MarcoRossignol I use Report generator and the reports show it wrong as well because you have lost the original information.

Please see here how to correctly extract the type parameter names for generic types.
https://stackoverflow.com/questions/2448800/given-a-type-instance-how-to-get-generic-type-name-in-c

[2021-02-09 21:30] mikes-gh commented on #1077
<img width="443" alt="Screenshot 2021-02-09 at 21 28 23" src="https://user-images.githubusercontent.com/16208742/107431063-db283100-6b1d-11eb-932d-80d17b460b63.png">
This is the output from report generator you mentioned.
You can see it is Hard to tell the generic types apart.

[2021-02-09 21:39] mikes-gh commented on #1077
Maybe you would accept a PR for this?

[2021-02-10 07:40] MarcoRossignoli commented on #1077
Oh I see what you mean, I apologize.

Need some help from my friend @danielpalme 😄 , Daniel do you have any concern about generics signature update in reports?
You've more experience than me on reports and maybe you can told us if makes sense update or if it's better keep generic name generation as-is.
Do you think it could break something on reporters side?

[2021-02-10 07:42] MarcoRossignoli commented on #1082
Which version of coverlet are you using?If you're using last one `3.0.2` does it work with past one `1.3.0`?

[2021-02-10 07:58] mikes-gh commented on #1077
@MarcoRossignoli  @danielpalme you will need to encode the angle brackets so they don't break  the xml.

`&lt; &gt;`

[2021-02-10 08:22] danielpalme commented on #1077
Changing the XML should work. As @mikes-gh mentioned, brackets have to be encoded.

But I would suggest, that I change the behavior in ReportGenerator. That way it would work for all report types, not just for Coberatura files.

I could add a mapping that converts class names like this:
[code]

[2021-02-10 08:27] mikes-gh commented on #1077
@danielpalme That would be a great thank you.
@MarcoRossignoli If we could also support the original signature with maybe a optin switch I will happily PR if you like.
It would be based around the function above.
So for example I could have

Converter<T, U>. as in my code.  It just makes it easier to refer to the original method.

[2021-02-10 09:03] pkruk2 commented on #1082
CruiseControl.NET is a .net framework, not .net core/.net project, `dotnet test` does not work.

It targets .net framework 4.5 mainly (the "core" project too).

The VSTestIntegration.md says versions before did not support .net framework fully, does it make sense to test it?

[2021-02-10 10:07] pkruk2 commented on #1082
I tried using collectors `1.3.0` (same command line as previously just point to different collectors) but it does not find the collectors ("Unable to find a datacollector with friendly name 'XPlat Code Coverage'")

[2021-02-10 17:21] martincostello opened #1083 "Code coverage threshold does not fail if no coverage generated"
If coverlet.msbuild is configured with a `Threshold` value for a minimum code coverage required by tests, but then no coverage is output for coverlet for some reason, then rather than fail the build, it instead passes because the total coverage is given as 100%.

[code]

You can also see the average is reported as `NaN%`.

See https://github.com/reactiveui/refit/issues/1073 for a scenario where th

[2021-02-10 17:30] martincostello opened #1084 "Code coverage stops working if assembly contains interfaces from source generators"
_Originally posted as https://github.com/reactiveui/refit/issues/1073_

**Describe the bug**

In a project using Refit 6.0.8 and coverlet.msbuild 3.0.2, upon updating from Refit 5.2.4, code coverage is no longer being collected for the assembly containing Refit interfaces.

Using coverlet's troubleshooting guide [here](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Trouble

[2021-02-10 17:56] MarcoRossignoli commented on #1084
Could be similar to https://github.com/coverlet-coverage/coverlet/issues/482#issuecomment-549881115

Can you try to filter out that files with `ExcludeByFile`?

[2021-02-10 17:59] MarcoRossignoli commented on #1083
Thanks for reporting this.

[2021-02-10 18:08] martincostello commented on #1084
I've tried a few different combinations, but it doesn't seem to work.

[code]

From the `.binlog`:

[code]

[2021-02-10 18:09] MarcoRossignoli commented on #1084
ok thank you, I'll investigate.

[2021-02-10 19:02] MikaelFerland opened #1085 "Code coverage showing 0% and sometimes higher than 0%"
Hi,

I'm trying to have a repeatable code coverage report, but unfortunately it's not working as expected.
As you can see in the title most of the time my coverage is 0%, but sometimes I had higher than 0%.
I expect higher than 0% because I have 14 tests written on that module.
It's only happening on a specific module, because I have another module that has more than 0%

I checked the binlog at Ge

[2021-02-10 19:33] petli commented on #1085
This is a common occurrence in CI environments when using the MSBuild driver: https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md

If you can, switch to using the VSTest integration that does not suffer this issue: https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md

[2021-02-10 19:36] danielpalme commented on #1077
I just made the necessary code changes in ReportGenerator. Next release will contain the change.

[2021-02-10 20:21] MikaelFerland commented on #1085
I saw that but it's rarely more that 0% in local too.
How do you deal with MergeWith and CoverletOutput in that case?

Is it possible to merge all .json at the end and output in Cobertura at the same time?

[2021-02-10 20:52] petli commented on #1085
Even local test runs can hit this issue, if you are unlucky.

Merging is not yet supported, but there is an issue you can track to follow progress on that (though depending on vstest): https://github.com/coverlet-coverage/coverlet/issues/1015#issuecomment-746174446

Meanwhile the recommended way is to use https://github.com/danielpalme/ReportGenerator to merge the reports after running the tests.

[2021-02-10 21:01] Andras-Csanyi opened #1086 "Coverlet.msbuild fails randomly with Unable to read beyond the end of the stream error"
Hi All,

I'd like to ask a little help because my build fails randomly with the following error. I'm not sure what is the root cause. It has been happening since I installed coverlet approximately 3 weeks ago. The examples below from the last a few builds, but in average 1-3 builds fail out of 10. It is a been annoying.

I would appreciate any help, and please let me know if you need further detai

[2021-02-10 21:04] MikaelFerland commented on #1085
Yeah, thank you I just found that as it supports gobbling it's easy to merge from ReportGenerator instead of coverlet.

[2021-02-10 21:04] #1085 closed

[2021-02-11 01:02] agsydney commented on #1042
Same issue for me, I was getting the following in Azure Devops with coverlet 3.0.2:

2021-02-10T22:37:32.8278999Z ##[error]Testhost process exited with error: Unhandled exception. System.MissingMethodException: Method not found: 'Boolean Microsoft.VisualStudio.TestPlatform.CoreUtilities.Helpers.CommandLineArgumentsHelper.TryGetIntArgFromDict(System.Collections.Generic.IDictionary`2<System.String,S

[2021-02-11 09:10] petli commented on #1086
See https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md
The workaround is to switch to the vstest driver, if it's possible for you: https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md

[2021-02-11 14:21] Andras-Csanyi commented on #1086
@petli Thanks for the link. From my side this case can be closed.

[2021-02-11 14:21] #1086 closed

[2021-02-11 17:25] martincostello commented on #1084
I've created a small repo here you can use to try and debug the issue: https://github.com/martincostello/coverlet-refit-repro

If you clone it and run `build.ps1` it will output an `msbuild.binlog` file.

Below is screenshot showing the `[coverlet]` output.

On my laptop the two most relevant lines are:

[code]

![image](https://user-images.githubusercontent.com/1439341/107673507-fade6700-6c8d-11e

[2021-02-11 21:29] MarcoRossignoli commented on #1084
Thanks a Martin!
You're amazing!
This weekend I'll tackle this issue, super busy week ☹️ until now.

[2021-02-11 23:16] mikes-gh commented on #1077
@danielpalme Thank you. 🙏 I presume if @MarcoRossignoli provides the original generic type names in the source with &gt; &lt; your report will be fine with that too?

[2021-02-12 19:39] Andras-Csanyi opened #1087 "The same command against the same code results different coverage values"
I experience that when coverage data is collected on my build server then certain coverage is missing. The same command on my laptop includes all the coverage data. The result is validated by result of dotCover.

On my laptop the same project with the same command results this (only the important snippet):
[code]
On the build server the result is the following (important snippet only)
[code]
I don

[2021-02-13 17:24] MarcoRossignoli commented on #1084
@martincostello  can you try with https://f.feedz.io/marcorossignoli/coverletunofficial/nuget/index.json version `3.0.3-preview.4` ?

[2021-02-13 17:26] martincostello commented on #1084
Sure - I'll take a look a bit later today. Thanks for digging into it 🙂

[2021-02-13 18:23] martincostello commented on #1084
Bingo. That works! 🥳

## Repro Project

### Before

[code]

### After

[code]

## Internal Project

### Before

[code]

### After

[code]

[2021-02-13 18:48] MarcoRossignoli commented on #1084
Cool I'll release the fix asap

[2021-02-14 07:29] MarcoRossignoli commented on #1087
Can you try with https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md

Msbuild integration suffers of a well known issue and could be related to your problem.

https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#vstest-stops-process-execution-early

[2021-02-14 07:33] MarcoRossignoli commented on #1082
Do you mean you're not using new sdk?
Because `dotnet test` works for .NET framework application if the project file using new SDK https://docs.microsoft.com/en-us/dotnet/core/project-sdk/overview

[2021-02-14 20:51] Andras-Csanyi commented on #1087
If I understand correctly the description I use VSTS. Here is the project file:
- `coverlet.collector` package is added
- `Microsoft.NET.Test.Sdk` package is added
-  `dotnet test` command is used and it is pimped a bit

Is there a difference between
`dotnet test --collect:"XPlat Code Coverage"`
and the command I use beside the obvious things? I mean, does `--collect:"XPlat Code Coverage"` enables

[2021-02-15 02:25] markphillips100 commented on #1084
I've been seeing this issue very recently whilst attempting to implement source generators (and make use of them).  I've created a sample demonstrating the issue [here](https://github.com/markphillips100/coverage-sample).

The sample is using coverlet.msbuild 3.0.2 in the test projects however I've also tried the 3.0.3-preview.4 with no success.

[2021-02-15 08:01] martincostello commented on #1084
I'm not sure what the _general case_ fix is/should be, but the fix provided so far checks for files named to show they are generated.

By convention this is by the file's name ending in `.g.cs`. If you changed the name your generated source emits to follow this convention the sample should pick it up in the coverage.

[2021-02-15 08:07] markphillips100 commented on #1084
So I'm not actually concerned whether the generated code is covered.  I'm more concerned that the class/module consuming the generator is no longer covered due to the fact a source generator is being used, i.e. the consuming module doesn't show up in code coverage.

[2021-02-15 08:15] martincostello commented on #1084
Sure, but as in this case you control the generator, so my point was if you rename the emitted code's file name to end in `.g.cs` then the issue will resolve with the preview build of 3.0.3 as coverlet with ignore it and not trip up due to "missing local source files".

It may also be that you're unintentionally emitting the code into more projects that you intended, as happened in Refit which con

[2021-02-15 08:22] markphillips100 commented on #1084
Ah, I see your point now.  Sorry.  It hadn't occurred to me that coverlet was tripping up "because" of the file name.  I'll change the demo and see if 3.0.3-preview.4 fixes it.  Thanks @martincostello .

[2021-02-15 08:51] pkruk2 commented on #1082
(I'm not the owner of the CruiseControl.NET, just tried Coverlet on it)
Yes, it is a traditional project: https://github.com/ccnet/CruiseControl.NET/blob/master/project/core/core.csproj

[2021-02-15 09:22] markphillips100 commented on #1084
Your suggestion to change the source generated to use "<source-filename>.g" (the ".cs" is appended automatically by C# source generators) works using 3.0.3-preview.4 @martincostello .  Thanks for your help.

I know you previously said a release would be made asap, is there a rough ETA.  Not rushing you, just planning is all.

[2021-02-15 09:26] martincostello commented on #1084
Cool, glad that's unblocked you.

Rough ETA will be for Marco to answer.

[2021-02-15 09:27] markphillips100 commented on #1084
Ha sorry @martincostello .  I got confused between you and Marco. :-)

[2021-02-15 10:11] petli commented on #1087
You need to remove the reference to `coverlet.msbuild` and only reference `coverlet.collector`.  `--collect:"XPlat Code Coverage"` is then the flag that enables the coverage collection using the VSTest integration, so you must use that instead of `/p:CollectCoverage=true`.

You also need to create a runsettings file with the remaining options, as they cannot be passed on the command line to the VS

[2021-02-15 11:57] Andras-Csanyi commented on #1087
@petli Ok, I see it. Thanks for your help. I'll take a try later today and I'll let you know.

[2021-02-16 07:11] MarcoRossignoli commented on #1084
Martin is now a coverlet maintainer specialized in "alpha testing" 😄 so it's ok you ask to him(joking)

Coverlet skip by default all dlls doesn't have a corresponding local source files. In this way we don't need to ask to users to filter out not interesting code.

This week end I'll release this fix, I'm trying to add also another update but I don't know if I'll make it.

[2021-02-16 13:37] YairHalberstadt opened #1088 "coverlet.collector producing empty coverage file in CI only"
I'm experimenting with using coverlet for [stronginject](https://github.com/YairHalberstadt/stronginject).
This is fine locally, but in the CI the coverlet file is empty:

[code]

Deterministic build is enabled, but we're using .Net 5, which I think should just automatically work according to your [documentation](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Deterministic

[2021-02-16 22:27] pankti11 commented on #1084
Will this also fix the coverlet.console? @MarcoRossignoli

[2021-02-17 08:47] MarcoRossignoli commented on #1084
Yep the engine in shared between "drivers"

[2021-02-17 13:25] petli commented on #1088
Is it only `StrongInject.Tests.Unit` that produces an empty coverage? The codacy step only logs an error about that one and not the others: https://github.com/YairHalberstadt/stronginject/runs/1910881809#step:10:43

[2021-02-17 13:34] YairHalberstadt commented on #1088
StrongInject.Tests.Unit is empty
StrongInject.Tests.Integration is empty
StrongInject.Extensions.DependencyInjection.Tests has results

Locally they all have results

[2021-02-18 07:31] goolzerg commented on #726
Have the same issue

[2021-02-18 09:15] goolzerg opened #1089 "Docker RUN with coverlet.msbuild 3.0.2 empty report"
How I use it in Dockerfile:
``RUN dotnet nuget add source $nexus_url/repository/sod-nuget/index.json -n nexus && \
dotnet add package coverlet.msbuild && \
dotnet test Domain.UnitTests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=opencover``

and what I get during build:
[code]
I tried to use coverlet.collector, it works fine, but it generates report which is not comatible with sonarqube

[2021-02-18 11:27] petli commented on #1089
You can configure the coverlet.collector output format, see the section on runsettings here: https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md#advanced-options-supported-via-runsettings
Try that and see if it works for you.

[2021-02-18 11:33] petli commented on #1088
That one is weird. Can you try adding diagnostic logging and share the resulting file? Description on how to do that with coverlet.collectors here: https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-integration

[2021-02-18 11:57] YairHalberstadt commented on #1088
Sure will do.

Really appreciate your assistance!

By the way if it's easier for you than going backwards and forwards, feel free to modify the GitHub actions yourself and open a PR to trigger CI.

Obviously happy to do this all myself, so only if you actually prefer doing it yourself

[2021-02-18 12:03] goolzerg commented on #1089
Sorry, my mistake. When I use coverlet.collector I get an empty report too:
[code]

I see this behavior just when I build appliction with `docker build`
But when I just run a container with `docker run` and then start analyse, all works fine:
[code]

[2021-02-18 12:31] petli commented on #1089
So coverlet.collector produces an empty report without any other logging messages in a `docker build`, but not when running a similar command in `docker run`?  Can you share the full Dockerfile and command lines in the two cases?

If you can please also try enabling logging and attach the output to the issue (described here: https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/T

[2021-02-18 12:32] petli commented on #1088
It's easier if you try it in your branch, so please go ahead :)

[2021-02-18 12:52] goolzerg commented on #1089
Absolutely yes
Here is my Dockerfile (docker build way):
[code]

Here is bash commands (docker run way):
[code]

Sure I'll turn on logging and try again to run tests, thanks for your help!

As I see he uses net5.0,  and I'm not sure that he uses Docker

[2021-02-18 12:55] YairHalberstadt commented on #1088
You can see the diag file here: https://github.com/YairHalberstadt/stronginject/runs/1927012701

under "Move Tests Coverage Reports" where I cat it.

Would copy and paste it here, but it's huuuge

[2021-02-18 13:16] goolzerg commented on #1089
I've just tried to start docker build with follow RUN command:
[code]
![image](https://user-images.githubusercontent.com/49819707/108362246-52904b80-7215-11eb-8b1e-86b5b27ab2ae.png)

And it works. But I don't understand why.

[2021-02-18 15:17] petli commented on #1089
Those commands are using `coverlet.msbuild` however, which is sensitive to timeouts (especially pronounced in CI environments, but I also think docker can show that.) Did you say that you run this with coverlet.collector too? If it is just `coverlet.msbuild` that shows the odd behaviour then it's a known issue with limitations in that driver (https://github.com/coverlet-coverage/coverlet/blob/mast

[2021-02-18 15:25] petli commented on #1088
Thanks, not much useful in `log.txt`, alas.  https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md says there might be more files with more coverlet info in them, so maybe a `ls log*.txt` and `cat log*.txt` in the script will help print them.

[2021-02-18 16:22] goolzerg commented on #1089
Coverlet.collector have the same behavior as coverlet.msbuild. When I run this command:
[code]
 during build docker image - I get an empty report.

Attached diag log of coverlet.collector
[log.txt](https://github.com/coverlet-coverage/coverlet/files/6004266/log.txt)

[2021-02-18 17:00] petli commented on #1089
Thanks, that's a good clarification. Did you get additional log files?  https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md mentions additional filenames that may be produced.

[2021-02-19 08:25] YairHalberstadt commented on #1088
Ok, here's a gist with all coverlet logs files just for StrongInject.Tests.Unit: https://gist.github.com/YairHalberstadt/fec5b93708c8d773595a08691ca376a8

I can't tell you where one ends and the next begins, as I just did cat log* I'm afraid.

The test run is here: https://github.com/YairHalberstadt/stronginject/runs/1933761369?check_suite_focus=true

[2021-02-19 16:18] petli commented on #1088
The only issues I see there are related to xunit and the testhost, and I don't think that's something that can cause an issue with the coverage:

[code]

[2021-02-19 16:26] petli commented on #1088
I only have one other thought, at this point: since StrongInject.Extensions.DependencyInjection.Tests is the only one that produces a coverage result, there is a rather interesting difference between that and the other test projects.

The Unit and Integration test projects reference the tested code like this:

		<ProjectReference Include="..\StrongInject\StrongInject.csproj" OutputItemType="Analyz

[2021-02-20 16:47] MarcoRossignoli commented on #726
@goolzerg can you open new issue and give some repro code?

[2021-02-20 20:32] Tylertron1998 opened #1090 "Skipping code coverage for constructors that only set properties/fields."
Currently, it appears coverage is generated for constructors that only set a property or a field - and this could be considered noise. From what I can gather - there is no way to avoid this. This would be a really nice feature as it'll make the coverage report a lot more accurate (are supposed to unit test a constructor that only inits fields?) - adding an attribute to every constructor would not

[2021-02-21 10:48] MarcoRossignoli commented on #1090
If they're auto implemented prop you can try with https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/MSBuildIntegration.md#skip-auto-implemented-properties

[2021-02-21 10:49] MarcoRossignoli commented on #1090
Sorry do you mean the ctor instrumentation?

[2021-02-21 11:16] #1084 closed

[2021-02-21 12:42] Tylertron1998 commented on #1090
https://github.com/skyra-project/skyra/blob/main/services/Skyra.Grpc/Services/MemberService.cs#L16

this is a really good example - this is showing up as 'uncovered' when in reality, this isn't something you'd test.

For the auto props, I actually discovered that flag a few minutes after making the issue!

[2021-02-21 12:53] MarcoRossignoli commented on #1084
Just released `3.0.3`

[2021-02-21 12:55] martincostello commented on #1084
Thanks Marco ❤️

[2021-02-21 13:13] MarcoRossignoli commented on #1090
Ctor is a method so I think should be in the coverage.
If you want to exclude some method from coverage you can use exclude by attribute feature https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/MSBuildIntegration.md#attributes

[2021-02-21 13:20] MarcoRossignoli commented on #605
Close for too few thumbs up/interest from community.

[2021-02-21 13:20] #605 closed

[2021-02-21 13:21] MarcoRossignoli commented on #38
Closed for too few thumbs up/interest from community.

[2021-02-21 13:21] #38 closed

[2021-02-21 13:21] MarcoRossignoli commented on #224
Close for too few thumbs up/interest from community.

[2021-02-21 13:21] #224 closed

[2021-02-21 13:22] MarcoRossignoli commented on #542
Close for too few thumbs up/interest from community.

[2021-02-21 13:22] #542 closed

[2021-02-21 13:23] MarcoRossignoli commented on #319
Close for too few thumbs up/interest from community.

[2021-02-21 13:23] #319 closed

[2021-02-21 13:23] MarcoRossignoli commented on #149
Close for too few thumbs up/interest from community.

[2021-02-21 13:23] #149 closed

[2021-02-21 13:24] MarcoRossignoli commented on #32
We have it https://github.com/coverlet-coverage/coverlet#visual-studio-add-in

[2021-02-21 13:24] #32 closed

[2021-02-21 13:33] #335 closed

[2021-02-21 13:35] MarcoRossignoli commented on #618
Seems that exclude test project by default is the expected behavior for the majority.

[2021-02-21 13:35] #618 closed

[2021-02-21 13:36] MarcoRossignoli commented on #652
Supported since `3.0.0` https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Changelog.md#added

[2021-02-21 13:36] #652 closed

[2021-02-21 13:40] MarcoRossignoli commented on #748
Closed for stale conversation.

[2021-02-21 13:40] #748 closed

[2021-02-21 13:40] MarcoRossignoli commented on #734
Close for too few thumbs up/interest from community.

[2021-02-21 13:40] #734 closed

[2021-02-21 13:43] MarcoRossignoli commented on #386
We added also signature to package I think we can close this.

[2021-02-21 13:43] #386 closed

[2021-02-21 13:45] MarcoRossignoli commented on #976
Close as external issue.

[2021-02-21 13:45] #976 closed

[2021-02-21 13:45] MarcoRossignoli commented on #1024
Closing because answered. Feel free to reopen if needed.

[2021-02-21 13:45] #1024 closed

[2021-02-21 13:47] MarcoRossignoli commented on #865
@jeoffm can you open another issue?This is resolved.

You MUST use collectors only integration if you want to avoid this issue, no msbuild reference. Follow this guide https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md and this sample https://github.com/coverlet-coverage/coverlet/tree/master/Documentation/Examples/VSTest/HelloWorld

[2021-02-21 13:47] #865 closed

[2021-02-21 13:51] Tylertron1998 commented on #1090
The issue with the attribute feature - it would mean that we'd have to add an attribute to every initialization constructor. While I agree this shouldn't be a feature by default - it would be a nice feature. I tried to see if there was a way to filter by name (i.e. if the name is .ctor, then ignore) but that doesn't seem like an option either.

[2021-02-21 13:59] MarcoRossignoli commented on #908
Can you try with collectors integration?Seems that you're hitting known issue(I think related to Optimizely) and with collectors I was able to get coverage

![image](https://user-images.githubusercontent.com/7894084/108627314-31b63900-7455-11eb-9f59-874ea5bcca7c.png)

try with
[code]

Upgrade collectors dep to `3.0.3`
[code]

[2021-02-21 14:04] MarcoRossignoli commented on #1046
Closed for stale conversation, feel free to reopen if needed.

[2021-02-21 14:04] #1046 closed

[2021-02-21 14:05] MarcoRossignoli commented on #1079
Close as duplicate

[2021-02-21 14:05] #1079 closed

[2021-02-21 14:06] MarcoRossignoli commented on #79
@SteveGilham this issue is very old, is this issue still present? Can you give it a try with last version?

[2021-02-21 14:08] MarcoRossignoli commented on #1070
Closed as designed, seems a compiler optimization. Feel free to reopen if needed.

[2021-02-21 14:08] #1070 closed

[2021-02-21 15:52] MarcoRossignoli opened #1095 "Ask for Package ID prefix reservation"
https://docs.microsoft.com/en-us/nuget/nuget-org/id-prefix-reservation

@tonerdo we should open an org on https://docs.microsoft.com/en-us/nuget/nuget-org/organizations-on-nuget-org for coverlet so we can register a "prefix reservation" and avoid "personal" one.
After that we need to upload package with that new org administrator.
We can use same user/account of github organization.

cc: @petli

[2021-02-21 17:05] SteveGilham commented on #79
Between changes in the compiler and the tooling, this issue no longer reproduces.  The example code was like this
[Coverlet79.zip](https://github.com/coverlet-coverage/coverlet/files/6018111/Coverlet79.zip)

Now the decompiled code looks almost the same (default shown last in the decompilation)
[code]
and 8 branches are shown
[code]
2 per if, 3 switch cases and path 0 being the unobtainable "do no

[2021-02-21 17:05] #79 closed

[2021-02-21 17:07] MarcoRossignoli commented on #79
Thx for testing.

[2021-02-22 08:27] pkruk2 commented on #1079
Sorry for responding late

There are alternatives possible, for example add "instrument"/"un-instrument" mode to the coverlet.console.

As I understand the coverlet.console could instrument assemblies and then exit. Web Application would be run by user, not "wrapped" by coverlet.console. After Web Application exits, coverlet would be run again to remove instrumentation and report results.

That wo

[2021-02-22 09:03] Giorgi commented on #823
Any updates on this issue?

[2021-02-22 10:50] IgorBuchelnikov commented on #1046
Are you planning to implement this feature?

[2021-02-23 01:42] daveMueller commented on #823
Isn't this fixed by now? When I look at your most recent build.

https://coveralls.io/builds/37320328/source?filename=C%2Fprojects%2Fentityframework-exceptions%2FEntityFramework.Exceptions.Common%2FExceptionProcessorStateManager.cs#L63

![image](https://user-images.githubusercontent.com/19378678/108791959-899d8e80-7580-11eb-902e-275eb21c8f11.png)

[2021-02-23 07:54] MarcoRossignoli commented on #1046
@IgorBuchelnikov at the moment we don't have a lot of requests for this feature, usually we prioritize issue in this order bugs, feature with high thumb up interest.

You could open an issue with the feature proposal(i.e. code sample/flag to add and behavior) and we can wait for community interest in the idea.

Does it work for you?

[2021-02-23 08:01] MarcoRossignoli commented on #1079
It won't work...it's not possible subscribe to a "kill" we have the same problem as gracefully close.
The main problem of this approach is that atm coverlet save hits "in memory" process of test and we save on process exits event, so every kill/non gracefully close won't allow hits to be persisted on disk for late elaboration.

[2021-02-23 10:17] Giorgi commented on #823
Yes, looks like it has been fixed. Thanks!

[2021-02-23 10:17] #823 closed

[2021-02-23 16:20] EYHN opened #1098 "Coverlet can't instrument module on "net5.0" target"
This seems to be a known issue.
When I run the following command:

[code]

It displays the following warning and the coverage is zero. It seems that it cannot load the dll containing my code.

[code]

I tried add `<PreserveCompilationContext>true</PreserveCompilationContext>` to .csproj file.  I can see that the `Microsoft.Extensions.Logging.Abstractions.dll` is copied to the `refs` folder in the

[2021-02-23 23:45] aalmada opened #1099 "lcov file is empty when using C# source generator"
I've been using Coverlet with Coveralls on my project for a long time. I don't know when it started happening but now the report only includes methods from a dependent project.

I'm using the latest versions of `xunit`, `Microsoft.NET.Test.Sdk`, and `coverlet.collector`.  I'm using `net5. 0`.

In the command line I'm typing:
`dotnet test ./NetFabric.Hyperlinq.UnitTests/NetFabric.Hyperlinq.UnitTest

[2021-02-23 23:56] aalmada commented on #1099
Here's a portion of the host log:

[code]

Do all this "no"s mean there's something wrong?

[2021-02-24 02:10] daveMueller commented on #1042
Could someone do me a favor and test the attached collector nupkg?

[Preview.Packages.zip](https://github.com/coverlet-coverage/coverlet/files/6032836/Preview.Packages.zip)

With the repro @fredrikcarlbom provided this worked for me.
@MarcoRossignoli I could reproduce the issue with @fredrikcarlbom repro and 3.0.3 collector. With the attached preview
it's working for me. But I only tested on Windo

[2021-02-24 07:29] MarcoRossignoli commented on #1042
@daveMueller some spoiler on issue? New object model deps to vs plat?

[2021-02-24 07:44] pkruk2 commented on #1079
The point is that, as far as I know, dotnet web application server recognizes "Ctrl+C" and shutdowns gracefully. It prints the "Application is shutting down..." and takes some time to shutdown. I assume process exit handlers are called and coverage collection would work.

coverlet.console seems to kill processes - there is no "Application is shutting down..." printed.

(I assume instrumentation pr

[2021-02-24 08:12] MarcoRossignoli commented on #1079
Coverlet tool start process and wait for exit...does nothing on child process https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.console/Program.cs#L129

[2021-02-24 08:42] pkruk2 commented on #1079
But I can see other output lines from the dotnet server when it's being run under coverlet (see initial comment with quoted output)... so it does not look like output redirection issue?

Since coverlet.console does not kill process, then I think the whole coverlet.console is killed when I press Ctrl+C.

I'm testing it on windows in the new "Windows Terminal" with "Git Bash" running. I guess after

[2021-02-24 09:17] daveMueller commented on #1042
Yes exactly.

[2021-02-24 09:39] MarcoRossignoli commented on #1042
@daveMueller we need to do some test also for netcoreapp2.x to understand if it works also there

[2021-02-24 10:46] MarcoRossignoli commented on #1079
Try to verify if underneath process is exited using tool like process explorer...when child process exits coverlet should generate reports...if it doesn't to id it means that coverlet is waiting process exits.

[2021-02-24 11:09] pkruk2 commented on #1079
As I wrote in initial comment:
`[coverlet.exe exits, dotnet is still running in background]`

[2021-02-24 11:29] petli commented on #1099
Am I correct in that unit test only references this project file:
https://github.com/NetFabric/NetFabric.Hyperlinq/blob/Coverage/NetFabric.Hyperlinq/NetFabric.Hyperlinq.csproj

It has these two project references in turn:

[code]

For which of the projects are you getting coverage output?

[2021-02-25 00:01] aalmada commented on #1099
@petli Hi!

I'm using GitHub actions to build the solution. Let me point to results that I'm getting.

On the `main` branch, I'm using MSBUILD integration with the following script:

[code]

You can see in [Coveralls](https://coveralls.io/builds/37404351) that it only includes coverage from classes in `NetFabric.Hyperlinq.Abstractions`. That's a dependency project.

Please ignore the `ExcludeByAtt

[2021-02-25 01:30] daveMueller commented on #1042
OK I  will change the target framework on the repro and also do some tests on linux.

[2021-02-25 07:40] MarcoRossignoli commented on #1079
Oh sorry you're right, for the moment we don't have better solution, I mean the only way to let it run is find a way to shutdown the child process gracefully(and fire process exits) with some custom code/workflow(maybe some call to host process at the end of test session that fires a gracefully shutdown of kestrel and close the host), Ctrl+C doesn't work, you're killing coverlet app in fact as you

[2021-02-25 07:43] MarcoRossignoli commented on #1042
I mean if the fix in that case is only upgrade `Microsoft.NET.Test.Sdk` to have a compat object model with new one(new version used by coverlet collectors) of project running tests for netcoreapp2.x it's ok.

[2021-02-25 10:10] petli commented on #1099
This sounds similar to #1088 where there's also project references to `OutputItemType="Analyzer"` that doesn't show up in the coverage, so I suspect this is a bug in coverlet.

[2021-02-25 14:09] petli commented on #1099
I think I found it, have a look at this comment: https://github.com/coverlet-coverage/coverlet/issues/1084#issuecomment-779039711

When I modify https://github.com/NetFabric/NetFabric.Hyperlinq/blob/Coverage/NetFabric.Hyperlinq.SourceGenerator/OverloadsGenerator.cs#L40 to change the file ending to `.g.cs` I get code coverage generated locally. Can you give it a shot and see if it works in your CI

[2021-02-25 15:15] petli commented on #1088
I see that your source generator produces file with the suffix `.generated.cs`, and there was an issue recently about this that concluded that the recommended suffix is `.g.cs`, which is what coverlet checks for from 3.0.3: https://github.com/coverlet-coverage/coverlet/issues/1084#issuecomment-779030934

It seems far-fetched that could cause a problem in CI only and not locally, but maybe worth a

[2021-02-25 15:26] YairHalberstadt commented on #1088
@petli

Sorry I haven't tried your previous suggestion - I've been very busy and haven't got round to it. I'll give both your ideas a spin, hopefully soon.

Thanks for all your help!

[2021-02-25 23:32] aalmada commented on #1099
Oh! So, it was the source generator...
Sorry but I haven't looked in a while into the coverage reports so I could not really say what changed to make this happen. Also, sorry for failing to mention that I'm using a source generator.
Running from the command line, I can see that the `coverage.info` file contains information. I now need to figure out why Coveralls reports no coverage... 🤔

[2021-02-26 05:24] pkruk2 commented on #1079
Yes, I agree that's a good idea in general. Not ideal in this case (won't capture coverage from code executed on shutdown), but useful in other use cases - for example when the application does not have a way to exit at all.

What do you think about the other proposition - adding "-instrument" and "-uninstrument"? It would provide additional flexibility and would be fully working workaround for th

[2021-02-26 05:56] EYHN commented on #1098
I upgrade `Microsoft.Extensions.Logging` dependency to `6.0.0-preview.1.21102.12` and problem disappeared.

[2021-02-26 05:56] #1098 closed

[2021-02-26 10:54] MarcoRossignoli commented on #1079
Could be an idea, there are some things to take into account(atm these comes to my mind)

* Add 2 new switch `-instrumentOnly` `-generateInstrumentOnlyReports` (the target should be the `fixed` var in the workflow)
* understand how to deal with multiple `-instrument`(check if already instrumented, cleanup old instrumentation artifacts, found the correct place where to put this stuff)
* anyway the

[2021-02-26 16:11] mattwildgoose opened #1100 "Code coverage excludes .NET Framework VB projects using portable pdb files"
I've been using coverlet for a while now on a large solution containing many .NET Framework 4.8 projects in both VB and C#. It was all working fine until recently we updated the projects to generate portable pdb files instead of the legacy windows format. Now the coverage data only includes C# projects despite tests being executed for the VB projects.

I've created a repository on github to demons

[2021-02-27 02:31] daveMueller commented on #1042
So I now also did some tests on linux. I could reproduce the issue and using the preview collector package I provided fixed it.
I also changed the target framework to ```netcoreapp2.1``` and didn't have any problems.

@MarcoRossignoli The only change I made was an upgrade of ```Microsoft.TestPlatform.ObjectModel``` to version 16.9.1.

[2021-02-27 07:41] MarcoRossignoli commented on #1042
Does it work also with netcoreapp2.0 and net4xx? What is the minimum version of Microsoft.NET.Test.Sdk that use it?So we can also update the docs.

[2021-02-28 02:05] daveMueller commented on #1042
OK I'm a bit confused now. I can't get it running on ```netcoreapp2.0```. But I also can't get the ```coverlet.collector``` v1.3.0 running on ```netcoreapp2.0``` target framework. In the documentation ([doc](https://github.com/coverlet-coverage/coverlet#requirements)) it says min .NET Core SDK v2.2.401?

As for the ```Microsoft.NET.Test.Sdk``` the min version in our documentation (16.5.0) is worki

[2021-02-28 08:35] MarcoRossignoli commented on #1042
You're right, completely forgot it 😄 we can test only for >= 2.2

[2021-03-01 09:51] daveMueller commented on #1042
OK I now finished all my test and for me this seems to be OK. I also tested for ```net472``` but here the issue doesn't exit whether using ```coverlet.collector``` v1.3.0 or v3.0.0. Seems to be core related.

[2021-03-01 10:50] MarcoRossignoli commented on #1042
Collectors supports netxxx  should be testable https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/DriversFeatures.md

[2021-03-01 11:46] MarcoRossignoli commented on #1042
@abatishchev @Kampfmoehre @fredrikcarlbom @artazar @blushingpenguin @agsydney can someone give it a try and tell us if it works as expected?
Will be on nightly tomorrow https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2021-03-01 21:42] deacoder opened #1102 "Unable to instrument module - due to Microsoft.Extensions.DependencyInjection.Abstractions"
I try to run coverage with a .Net 5 NUnint test project using Coverlet collector 3.0.3. The project is not producing coverage project under test but for referenced class libraries there are coverage.

I'm running the following command:
`dotnet test <MY_TEST_PROJECT> --collect:"XPlat Code Coverage"  --diag:log.txt`

When examining the data collector log it seems to be related to Microsoft.Extension

[2021-03-01 22:16] daveMueller commented on #1102
Looks to me like this [known issue](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#failed-to-resolve-assembly-during-instrumentation). Could you try a ```dotnet  publish``` before because then all references are resolved to the output directory.

[2021-03-01 23:17] aalmada commented on #1099
Hi! Opening this issue again because it's still not fully working.
So, now the `coverage.info` file is not empty but I'm not getting a coverage report as I had with MSBUILD integration.
The log is very long but in the end, there's this:
[code]
Should `Metrics` have something?

[2021-03-02 07:02] Kampfmoehre commented on #1042
Unfortunately the problem appears again with the nightly version:

[code]

The problem was fixed for me with the 3.0.3 packages. I tried both the msbuild and the collector package with the nightly version and both are giving me a lot of messages like the above.

I am running on Fedora with .NET 5.

[2021-03-02 07:17] MarcoRossignoli commented on #1102
Also as workaround you could add direct reference of that lib(same version) to test project.

[2021-03-02 07:21] MarcoRossignoli commented on #1099
That logs looks strange we generate only `coverage.info` that seems pretty easy(list of string https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.core/Reporters/LcovReporter.cs#L17).
Can you "diff" msbuild an new one coverage.info to understand what is missing(classes/methods)?

[2021-03-02 08:45] daveMueller commented on #1042
@Kampfmoehre  Thanks for the test. Unfortunately I can't reproduce it with the nightly anymore which makes this even harder. I tested on Windows and Ubuntu but I will try to analyze this again and set up a Fedora OS.

[2021-03-02 08:54] Kampfmoehre commented on #1042
I am not sure if it has anything to do with Fedora, but to help to further narrow it down, I am using the dotnet-sdk package from microsoft prod repo instead of the ones from Fedoras own repo.
I had some problems with the the packages from the Fedora repo - or more with a mix of packages from both repos:
https://github.com/OmniSharp/omnisharp-vscode/issues/4360#issuecomment-779086868
https://githu

[2021-03-02 09:20] daveMueller commented on #1042
Yes I also don't really think it is the different distro but I can't really figure out what the difference is that causes this issue. Your other package references also lock similar to mine. If you find some time could you try to reproduce it with the repo @fredrikcarlbom provided [https://github.com/fredrikcarlbom/coverlet](https://github.com/fredrikcarlbom/coverlet)?

[2021-03-02 09:32] Kampfmoehre commented on #1042
I cloned the repo and run `build.sh`, this is the output:
[code]

References:
<details>
  <summary>coverage.xml content</summary>
The referenced xml file content is this:

[code]
</details>

<details>
  <summary>csproj content</summary>
For reference this is the content of my current test project csproj file which is working:

[code]
</details>

<details>
  <summary>The `dotnet --info` output:</su

[2021-03-02 09:48] mjeanrichard opened #1103 "Partially covered throw statement (async handler)"
Hi,

In the following code the ``throw`` statement is marked as partially covered (because of the async statemachine), even though I see no way to cover that hidden branch. Could this be detected and marked as covered by coverlet?

[code]

Unit Tests:
[code]

Reported Coverage:
![image](https://user-images.githubusercontent.com/778448/109629829-8ab45a00-7b44-11eb-9058-719a07949de0.png)

Coverlet V

[2021-03-02 09:56] daveMueller commented on #1042
@Kampfmoehre  Sorry to ask this but did you update the repo to use the nightly?

[2021-03-02 10:02] Kampfmoehre commented on #1042
Nope sorry I forgot. But I just did and the message remains the same:
<details>
  <summary>Build error</summary>

[code]
</details>

<details>
  <summary>csproj</summary>

[code]
</details>

[2021-03-02 10:21] Kampfmoehre commented on #1042
Ok my bad - apparently I had the wrong version installed since I copied the command from the docs you posted. I installed the latest nightly package with
`dotnet add package coverlet.collector --prerelease --source https://pkgs.dev.azure.com/tonerdo/coverlet/_packaging/coverlet-nightly/nuget/v3/index.json` and now the warnings are gone. The version is now `3.0.4-preview.4.g5de0ad7d60`. Sorry for t

[2021-03-02 10:35] daveMueller commented on #1042
Cool thanks for the help. :smile: :+1: @MarcoRossignoli We probably should update the docs how to consume the nightly or highlight the note at the end.

[2021-03-02 10:35] #1042 closed

[2021-03-02 10:47] meggima opened #1104 "Partially covered `await foreach` statement"
Hello

In the following code the `await foreach` as well as the `for` and the `yield` statements are marked as partially covered due to the hidden async/await logic of the compiler. Can this be reported as covered by coverlet?

Reproduction class:

[code]

Test Case for it:
[code]

Reported coverage:
![image](https://user-images.githubusercontent.com/22348611/109637331-f3073980-7b4c-11eb-9e22-d79a

[2021-03-02 11:51] YairHalberstadt commented on #1088
@petli

It looks like the problem is that StrongInject multitargets .Net Standard 2.0, and .Net Standard 2.1. The generator part is only included in the .Net Standard 2.0 target, and so my unit tests reference the  .Net Standard 2.0 target.

I have no idea why that should only affect CI build, and not normal build.

[2021-03-02 12:01] meggima commented on #1104
You can find the full reproduction code (and also for some other cases) in this repository: https://github.com/meggima/coverlet-reproductions

[2021-03-02 17:06] msallin commented on #914
Find Repros for #1104 #1103 #914 here: https://github.com/meggima/coverlet-reproductions

[2021-03-02 17:07] msallin commented on #1103
Find Repros for #1104 #1103 #914 here: https://github.com/meggima/coverlet-reproductions

[2021-03-02 17:32] MarcoRossignoli commented on #1042
Yep we should remove the real version and add something like  `xxxx`

[2021-03-02 18:56] laghamn commented on #1102
Running `dotnet <MY_TEST_PROJECT> --collect:"XPlat Code Coverage"  --diag:log.txt` will output to:
`<MY_TEST_PROJECT>/bin/Debug/net5.0/Myapp.dll`

However publish puts it's output in:
<MY_TEST_PROJECT>/bin/Debug/net5.0/publish/Myapp.dll

But publishing to the same folder, with `-o`, as build it works. Not really convenient in a CI-pipeline but works...

@MarcoRossignoli: Unfortunately it didn't wo

[2021-03-02 18:58] dea82 commented on #1102
Running `dotnet <MY_TEST_PROJECT> --collect:"XPlat Code Coverage" --diag:log.txt` will output to:
`<MY_TEST_PROJECT>/bin/Debug/net5.0/Myapp.dll`

However publish puts it's output in:
`<MY_TEST_PROJECT>/bin/Debug/net5.0/publish/Myapp.dll`

But publishing to the same folder, with `-o`, as build it works. Not really convenient in a CI-pipeline but works...

@MarcoRossignoli: Unfortunately it didn't w

[2021-03-03 02:38] daveMueller commented on #1100
I opened a ticket at the roslyn repo for this [https://github.com/dotnet/roslyn/issues/51611](https://github.com/dotnet/roslyn/issues/51611).

What I see is that this entry in the document table still has a language guid. So we could ignore entries that have a empty Name and a VB language guid?

Somewhere in this area:
https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.core/Hel

[2021-03-03 02:46] daveMueller opened #1105 "Make docs for consuming nightly more generic"
The docs for consuming the nightly build have a fixed preview version. This should be more generic to avoid misunderstandings.

[https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md)

_Originally posted by @MarcoRossignoli in https://github.com/coverlet-coverage

[2021-03-03 08:17] MarcoRossignoli commented on #1105
Thx Dave

[2021-03-04 17:14] timmkrause opened #1106 "dotnet publish with test project leads to "Could not load file or assembly 'Microsoft.Extensions.FileSystemGlobbing, Version=3.1.0.0""
Trying to publish a test project and execute tests within Azure Pipelines (at the bottom you can find `dotnet --info`).

Getting the following, when trying to run the tests:

[code]

The problem is, that a wrong version of `Microsoft.Extensions.FileSystemGlobbing.dll` is part of the artifact (2.0.1.18051 and product version 2.0.1-rtm-10011).
It took me some hours to reproduce it and find out what

[2021-03-05 05:09] dickensas opened #1109 "how to get coverlet command line tool"
In this documentation [Coverlet as a Global Tool](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/GlobalTool.md)

a command is givern `coverlet --help`

But, how get this tool ?

[2021-03-05 06:13] daveMueller commented on #1109
You just have to install it as a .NET global tool. Here is the description how to do this.

[https://github.com/coverlet-coverage/coverlet#installation-2](https://github.com/coverlet-coverage/coverlet#installation-2)

[2021-03-05 10:20] dickensas commented on #1109
Thanks

[2021-03-05 10:20] #1109 closed

[2021-03-05 18:38] StingyJack commented on #269
@MarcoRossignoli  As far as I can tell this was never actually fixed so closing this was not legitimate action. There is no PR or commit linked to this, just a comment for what looks like an msbuild property.

Besides like I said, other issues were opened for this same problem and were closed as duplicates of this.

[2021-03-05 20:25] MarcoRossignoli commented on #269
@StingyJack which version are you using?can you provide a repro?

[2021-03-06 00:01] daveMueller commented on #1083
I start to work on this.

[2021-03-06 13:24] MarcoRossignoli commented on #1083
Thx Dave!

[2021-03-06 13:42] MarcoRossignoli commented on #1104
assigned to @alexthornton1

[2021-03-06 16:15] StingyJack commented on #269
Both versions 1.3 and 3.0.3 (I think, will update if different)

I'm not invoking this by command line, another tool is doing the invocation that I don't have immediate control of. The repro is to put a property in a class, run coverage, see that it's uncovered, then apply the excluded attribute on the property and rerun coverage. It still shows up as uncovered.  The workaround of applying the att

[2021-03-06 17:54] StingyJack commented on #269
Also I dont want to skip auto properties in the first place. Any property that is not listed as covered by a unit test is something that may be unused by the code and can be removed (YAGNI), or something I should have an assertion for in a unit test (and thus make covered).   There are just some fields that are handled by an ORM or DB driver that I wouldn't unit test for, or temporary cases where

[2021-03-06 18:16] MarcoRossignoli commented on #269
Ok reopening for further investigation

[2021-03-06 22:08] MarcoRossignoli commented on #1104
Closed in https://github.com/coverlet-coverage/coverlet/pull/1107

[2021-03-06 22:08] #1104 closed

[2021-03-07 07:56] #1105 closed

[2021-03-07 13:21] MarcoRossignoli commented on #1090
At the moment we have filters for types...maybe we could extend it for methods name https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/MSBuildIntegration.md#filters

[2021-03-07 13:23] MarcoRossignoli commented on #1090
@Tylertron1998 if you're interested in that feature please open a new issue I'll tag it as `feature-request` and we'll prioritize it in relation to community interest(thumbs up/comments)

[2021-03-08 07:10] #269 closed

[2021-03-08 07:37] MarcoRossignoli commented on #914
closed in https://github.com/coverlet-coverage/coverlet/pull/1111

[2021-03-08 07:37] #914 closed

[2021-03-08 13:29] captainjono opened #1118 "Could not find data collector 'XPlat Code Coverage' when targetting .dll"
`> dotnet add package coverlet.collector`
`dotnet test my.csproj  --collect:\"XPlat Code Coverage\"` works. great!

`dotnet test bin/debug/netcoreapp3.1/test.dll --collect:\"XPlat Code Coverage\"`

[code]

What am i missing here? Im writing a tool that integrates with coverage so i would like to support both scenarios.

[2021-03-08 20:39] cheesi opened #1119 ".NET Framework/NUnit: The expression "[System.Version]::Parse('')" cannot be evaluated"
When I install the coverlet.msbuild nuget package on a existing NUnit test application, I get the following error:

[code]

It looks like https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.msbuild.tasks/coverlet.msbuild.targets#L11 is the reason for this message.

We are using .NET Framework 4.7.2 for this project.
The testing framework is NUnit 3.12.0

Any idea on how to fix t

[2021-03-08 23:56] aalmada commented on #1099
Hi @MarcoRossignoli

That JSON is from the `log.txt` generated when following the steps in [troubleshooting](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-integration).

Comparing the two outputs, as you suggested:

When I use VSTest integration the result is

[code]
and generates a 2,293  KB `coverage.info` file.

When I use MSBuild integrat

[2021-03-09 07:01] MarcoRossignoli commented on #1099
If you see difference between VSTest integration(collectors) and msbuild integration(less coverage) it's likely you're hitting a known issue related to test engine behavior https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#vstest-stops-process-execution-early

The most reliable way for coverlet is VSTest collectors integration.

[2021-03-09 10:07] aalmada commented on #1099
Hi @MarcoRossignoli

It's good to know that the most reliable is VSTest collectors integration and that's what I'm trying to use but unsuccessfully.

For me, it's not reporting 0% coverage. It's not reporting. The outputs I show above come from the command line, not CI. Note that for VSTest integration there are no tables shown.

I have it working with MSBUILD integration: https://coveralls.io/git

[2021-03-09 10:34] MarcoRossignoli commented on #1099
What do you mean for "non reporting"? it's ok that vstest integration doesn't show nothing on console, is not supported yet.

[2021-03-09 10:36] MarcoRossignoli commented on #1099
Do you have the filename/class/lines details?

[2021-03-09 11:01] bjamdort commented on #1038
We use dotnet core version 3.1 with ASP but now I can't use the coverlet.console tool. I end up with this error when using coverlet with dotnet 5.0:
[code]
Can I still use the tool? It is not possible for us to upgrade to dotnet 5.0

[2021-03-09 14:09] cheesi commented on #1119
That's actually something good, I already thought, I was alone with this problem. Zero hits on Google and StackOverflow.
So this seems like a bug, that's actually reproducible.

[2021-03-09 15:05] danjcosg commented on #857
^^ Still running into this too

[2021-03-09 22:19] pankti11 opened #1121 "Running coverlet.msbuild inside docker with --no-build"
I am trying to run coverlet.msbuild with --no-build flag inside the docker container. And I am never able to generate the code coverage. I cannot run restore in the container. Hence, container does not have an access coverlet.msbuild nuget.

Logs:
Command:
dotnet test $startDir/$testPath/$testFile /p:CollectCoverage=true /p:CoverletOutputFormat=json /p:CoverletOutput=$outputFile /p:MergeWith=$merg

[2021-03-11 07:53] viceice opened #1122 "Sync nuget and github release versions"
Is it possible to sync the github release and the nuget release version?

**Use case**
[renovate](/renovatebot/renovate) is using the github releaes to fetch changelogs for automated dependecy updates.
So currently it can't match a github release to the nuget package version because the version differences.

[2021-03-11 19:10] martincostello commented on #1084
From .NET 6.0 preview 2 the .NET SDK uses source generators for compiling Razor views ([link](https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-2/#razor-compiler-updated-to-use-source-generators)).

Just mentioning it here as it might over time it may cause more people to find this issue if they aren't running at least coverlet.msbuild 3.0.3.

[2021-03-14 16:43] #1057 closed

[2021-03-14 19:45] MarcoRossignoli commented on #1038
You don't need to "upgrade" your app, you only need to add net5.0 to pipeline, .NET coverlet tool run with .NET 5.0 runtime, but it's unrelated to your app runtime

[2021-03-14 19:50] MarcoRossignoli commented on #857
@danjcosg can you open a new issue?

[2021-03-15 07:22] theomnislayer opened #1126 ".Net Framework/MSTest Installing coverlet.collector nuget package breaks project."
Visual Studio Version: 16.9.1 (Latest as of March 15, 2021)
Coverlet.Collector Version: 3.0.3 (From nuget package manager)
Project Details: .NET Framework 4.8

Description:
Installed Coverlet.Collector 3.0.3 to .NET Framework 4.8 Project. Project is unloaded by Visual studio.
Expected:  Should be installed properly.
Actual: C:\CoverletSample\CoverletTests.csproj : error  : The expression "[System.

[2021-03-15 08:36] sdanailova commented on #1119
I think it is because of the Project type - Non SDK, would be nice if there is workaround for those not supported project types.

[2021-03-16 00:29] wdspider opened #1127 "Coverlet Collector 3.0.3 > Azure DevOps Build Pipeline > No coverage information within coverage report."
I am struggling to get the coverage report to be populated in an Azure DevOps build pipeline using the .NET CLI task:
[code]
Project file:
[code]
test.runsettings file:
[code]

Unfortunately, the coverage file turns up blank regardless of whether the InProcDataCollectors section is included or not included within the test.runsettings file:
[code]

I have verified that the trx file is correctly pop

[2021-03-16 02:58] chixuroblox commented on #201
You saved my life bro

[2021-03-16 08:25] MarcoRossignoli commented on #1118
Can you try with

`dotnet vstest bin/debug/netcoreapp3.1/test.dll --collect:\"XPlat Code Coverage\"`

As explained in guide for published project https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md

[2021-03-16 08:27] MarcoRossignoli commented on #1119
Hi guys...coverlet supports only SDK-style project https://github.com/coverlet-coverage/coverlet#quick-start

Can you migrate to it?

[2021-03-16 08:32] sdanailova commented on #1119
Unfortunately we have many .Net Framework repos with non-sdk style projects and we are not able to migrate them as they are in production. We have to select another tool. Do you plan support for such repos?

[2021-03-16 08:33] MarcoRossignoli commented on #1121
hi @pankti11 sorry for the delay, very busy days, outside container does it work?

[2021-03-16 08:36] MarcoRossignoli commented on #1122
Unfortunately we cannot do that, in origin coverlet was released with 3 different version, one version for every driver:

.NET Tool
msbuild integration
collectors integrations

So historically we released 3 different nuget package version with the same "core" engine. For that reason the github version report the "core" engine version.
Since version `3.0.0` we decided to align all versions and docu

[2021-03-16 08:39] MarcoRossignoli commented on #1126
Duplicate of https://github.com/coverlet-coverage/coverlet/issues/1119

Coverlet supports only SDK-style project https://github.com/coverlet-coverage/coverlet#quick-start

are you on old project style?

[2021-03-16 08:40] viceice commented on #1122
Maybe do a major bump on all versions to v6 to match?

[2021-03-16 08:41] MarcoRossignoli commented on #1127
runsettings doesn't need the inproc element, can you try with:
[code]

[2021-03-16 08:43] MarcoRossignoli commented on #1119
No at the moment we don't think to support it.

Why? it's not a change that break or non compat with production, sdk style is supported by msbuild/visual studio/dotnet core, the outcome won't change.

[2021-03-16 12:37] pankti11 commented on #1121
Yes. but the only difference is the outside container I do a build. However, inside the container, I don't do-build. However, the bin folder (dlls are present from the build outside the container) is present in the container. So when I do dotnet test with --nobuild I expect it to generate the code coverage. Maybe I am missing something.

[2021-03-16 15:13] wdspider commented on #1127
Yes, that's what I originally thought; however, when the coverage file came up empty, I thought that [this known issue](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#upgrade-coverletcollector-to-version--100) might be the problem.  Unfortunately, adding the inproc didn't work as the coverage file still came up empty.  Hence my current confusion as to what i

[2021-03-17 12:52] sw-ms-ankitsangani commented on #333
@all

When running integration Test get output 0 in sonar qube. Please Help....

[2021-03-17 13:24] MarcoRossignoli commented on #333
@sw-ms-ankitsangani can you open a new issue and provide command line, scenario and if possible some repro?

[2021-03-17 13:34] sw-ms-ankitsangani opened #1128 "0 coverage when running integration tests in ASP.NET Core #SonarQube"
Hello @All,

Please Help...
We have a  solution with some Integration tests, but no unit tests.
And I was stuck cant generate code coverage. here is my command Line.

dotnet restore "<SolutionName>"

dotnet sonarscanner begin /k:"<Name>" /d:sonar.host.url="<HostUrl>" /d:sonar.login="<token>"

dotnet build "<SolutionName>" -c Release -o /app/build

dotnet test "<UnitTest SourcesPath>" /p:CollectCov

[2021-03-17 13:35] sw-ms-ankitsangani commented on #333
@MarcoRossignoli I have generate new issue. Please help on this.

https://github.com/coverlet-coverage/coverlet/issues/1128

[2021-03-18 19:43] nikita030493 commented on #1128
Same issue. coverage is missing for 3.0.0 <
Rolling back to 2.9.0 solved the issue.

[2021-03-18 19:46] nikita030493 commented on #1127
Same issue here. Had to downgrade to 2.9.0

[2021-03-18 20:12] wdspider commented on #1127
@nikita030493  I don't see a v2.9.0 in the list:
![image](https://user-images.githubusercontent.com/5971649/111689917-d116e380-87e9-11eb-8642-2e2041759566.png)

[2021-03-18 21:59] wdspider commented on #1127
I also attempted to use coverlet.msbuild v3.0.3 to no avail either:
![image](https://user-images.githubusercontent.com/5971649/111703121-720d9a80-87fa-11eb-8f5f-425ea90faf2c.png)

[2021-03-19 04:00] nikita030493 commented on #1127
@wdspider I use [coverlet.msbuild](https://www.nuget.org/packages/coverlet.msbuild/) nuget package, not sure what the difference is but it works for me.

[2021-03-19 04:25] wdspider commented on #1127
Interestingly enough, things started working as expected with the coverlet.collector v3.0.3 package after I rearranged my yml file so that I ran `dotnet test` before `dotnet publish` like so:
[code]

@MarcoRossignoli - It seems worth adding to the wiki that you need to run `dotnet test` before `dotnet publish` to hopefully save others several hours of troubleshooting.

[2021-03-19 06:52] tai-yi commented on #1128
Resolved with command `dotnet test --collect:"XPlat Code Coverage" /p:CollectCoverage=true /p:CoverletOutputFormat=opencover` , only add `--collect:"XPlat Code Coverage"`, I'm using `.net5`

[2021-03-19 16:13] petli commented on #1121
Do you copy the source code into the docker container in addition to the binaries? Coverlet skips projects with PDBs but no local source files as a heuristic to filter out libraries that shouldn't be part of the coverage. (See https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.core/Instrumentation/Instrumenter.cs#L88)

[2021-03-19 16:22] petli commented on #1121
It may also be an issue that the path name of the directory containing the code in the docker image is different to the path name outside it, which means that the source files cannot be found even if they are copied into the image.  You can try to enable verbose logging (see https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md) and see if it logs messages abou

[2021-03-19 16:27] petli commented on #1089
There's a similar issue #1121, and thinking about that one there may be an issue with the source code files if they target binaries have been built outside the docker image, and then the source code files are either not present or not having the same path names inside the image as outside that could cause coverlet to skip instrumenting the binaries.  If you got a `log.datacollector...txt` file it

[2021-03-19 22:35] sudharshan1992 commented on #624
@MarcoRossignoli I'm using coverlet.console (version '3.0.3') to run code coverage for multiple test projects via bitbucket pipeline.

coverlet /opt/atlassian/pipelines/agent/build/Tests.CommandProxy.Shared/bin/Release/netcoreapp3.1/Tests.CommandProxy.Shared.dll --target "dotnet" --targetargs "test /opt/atlassian/pipelines/agent/build/Tests.CommandProxy.Shared --no-build"
coverlet /opt/atlassian/p

[2021-03-20 01:21] daveMueller commented on #624
Thanks for reporting. First of all, can you open a new issue for this?

Somehow I don't think this issue is caused by coverlet because the error appears when executing ```dotnet test```.
Can you try to run the test without coverage ```dotnet test /opt/atlassian/pipelines/agent/build/Tests.CommandProxy.Shared --no-build```? Can you reproduce this locally and if yes could you provide a repro?

[2021-03-20 16:25] sudharshan1992 commented on #624
@daveMueller I got it to work when I don't have the "Release" configuration tag in dotnet build. And when I have the release tag, it fails (See both screenshots below)

![image](https://user-images.githubusercontent.com/38304234/111876553-7baf1380-895c-11eb-94b8-45dce97ef520.png)

![image](https://user-images.githubusercontent.com/38304234/111876658-00019680-895d-11eb-9cfd-aeb561a25258.png)

The d

[2021-03-21 01:16] daveMueller commented on #624
You could try to use vstest instead (```dotnet vstest /opt/at....```). Or you could try to specify the project file (```dotnet test /opt/at.../abc.csproj```).
If it is really only one assembly you could also try to explicitly reference the assembly (```dotnet test /opt/at.../abc.test..dll```).

I don't think you are using it wrong. According to the dotnet test documentation this should work. Maybe

[2021-03-21 10:04] MarcoRossignoli commented on #624
Could be an escape issue?
![image](https://user-images.githubusercontent.com/7894084/111900850-1aa73e80-8a35-11eb-8fa2-6dc193e6aae0.png)

[2021-03-22 06:37] sudharshan1992 commented on #624
@MarcoRossignoli @daveMueller

I was able to fix the issue, I forgot the _--configuration Release_ during _dotnet test_

_**dotnet test /opt/atlassian/pipelines/agent/build/Tests.CommandProxy.Shared/bin/Release/netcoreapp3.1/Tests.CommandProxy.Shared.dll --no-build --configuration Release**_

I'm not opening an another issue. Thanks for all the help :)

[2021-03-22 08:30] pankti11 commented on #1121
So inside the container there is source file as well as the binaries. From the logs I could decipher that the Build Task which is responsible to generate the CodeCoverage is never runs. Hence, I concluded that when I do dotnet test --no-build, dotnet is not aware of the coverlet because I did not run dotnet build. When I do dotnet build inside container and then  do dotnet test --no-build then the

[2021-03-22 16:26] kjczarne opened #1129 "Dotnet --filter flag doesn't work with coverlet global tool"
Hi, I've got a project .NET Framework 4.7.2 project. A number of tests in the project are categorized as benchmarks and I want to skip them from the coverage analysis. Unfortunately running the following command:

[code]

I seem to get all the Benchmarks pulled into the test execution. Am I doing something improperly or is this a bug? Thanks!

[2021-03-22 23:14] daveMueller commented on #1129
I assume you marked the benchmarks somehow like this?
[code]

Could you try to remove the quotes from the filter -> ```--targetargs "test --no-build --filter TestCategory!=Benchmark"```

[2021-03-22 23:24] aalmada commented on #1099
I'm going to close this issue. I'm not sure if the issue is with coverlet or CoverAlls. It works with MSBUILD integration but not with VSTest integration.
Thanks for all the help!

[2021-03-22 23:33] Tyrrrz opened #1130 "Coverage report missing one of the projects"
Hello 👋🏻

I thoroughly scanned open issues but couldn't find an answer to my problem. It feels like I'm missing something obvious but can't figure out what. 😩

I have the following project structure:

[code]

When running `dotnet test`, I get the following report:

[code]

As you can see, for some reason, it only shows coverage for `MiniRazor.Runtime`, but not `MiniRazor.Compiler`. The projects ar

[2021-03-22 23:39] Tyrrrz commented on #1130
Right after I posted it I had an epiphany, decided to remove [`Fody`](https://www.nuget.org/packages/Fody/) from `MiniRazor.Compiler` and the coverage worked.

This is really weird, because I'm using `Fody` in other projects and it works just fine with coverage.

Do you have any ideas on what could be the issue?

[2021-03-23 15:05] danielp37 opened #1131 "When publishing test project "CopyCoverletDataCollectorFiles" overwrites project assemblies"
We have several test projects that we run "dotnet publish" to create an artifact to be run on a different machine from the build machine and when doing this we would get assembly binding errors like:

System.IO.FileLoadException : Could not load file or assembly 'System.Threading.Tasks.Extensions, Version=4.2.0.1, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The lo

[2021-03-23 21:14] kjczarne commented on #1129
Thank you! Without the quotes it works as expected.

[2021-03-24 05:38] captainjono commented on #1118
Can you explain why I cant use `dotnet test`  ?

[None of the examples here use](
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test) `vstest` ?

Like i said, Im writing a tool that is supposed to let users execute any
test written by any test framework. My understanding was `dotnet test`
facilitated this.

https://github.com/dotnet/docs/issues/14786#issuecomment-642280142

On Tue, Mar

[2021-03-24 07:46] daveMueller commented on #1129
Closed as solved, feel free to re-open if needed

[2021-03-24 07:46] #1129 closed

[2021-03-24 07:56] MarcoRossignoli commented on #1127
@wdspider sorry I didn't noticed the publish verb, publish and test does different, the normal workflow is:

dotnet restore
dotnet build --no-restore
dotnet test --no-build ...coverlet options collectors or msbuild integration
dotnet publish

publish is for release to prod(optimized) env, test and publish put files in different folders and use different "profiles".

Anyway...it's weird I don't exp

[2021-03-24 08:26] MarcoRossignoli commented on #1118
It's an implementation detail of test platform, we don't load collectors we implement one, you should open an issue here https://github.com/microsoft/vstest/issues

[2021-03-25 04:38] #1118 closed

[2021-03-25 18:14] #1083 closed

[2021-03-26 13:00] HT2207 opened #1133 "Unable to exclude dependency projects"
I have to test Numbers.cs. It has dependency of TestDependancyProj1. I attached solution and directory structure picture.
CodeCoverageSolutionLevel and CodeCoverageSolutionLevel2 are unit test projects

now I run command being at solution directory to exclude TestDependancyProj1 from coverage report
dotnet test ./CodeCoverageSolutionLevel2/CodeCoverageSolutionLevel2.csproj -l trx -r TestResults /p

[2021-03-26 14:51] daveMueller commented on #1130
So I just took a look into this. Seems that ```Fody``` is somehow changing the embedded pdb. With ```Fody``` we can't read the debug data. ```System.Reflection.PortableExecutable.PEReader``` can't read the path of the pdb.

![image](https://user-images.githubusercontent.com/19378678/112648332-b7107d00-8e49-11eb-8c9b-3d9df75b8e32.png)

Without ```Fody``` it isn't a problem at all.

![image](https:/

[2021-03-26 15:53] Tyrrrz commented on #1130
Thanks for looking int oit @daveMueller!

For curiosity sake, here's another project that uses Fody and Coverlet, but the coverage is collected properly:
https://github.com/Tyrrrz/YoutubeExplode/tree/763d5edc7e0429331840694597b95fab8ebd18d8 (note some tests may be failing as of writing this, just remove them to get the coverage report). It also has `<DebugType>embedded</DebugType>`.

[2021-03-27 23:11] daveMueller commented on #1130
OK thanks I'll look into this again. Maybe coverlet really has an issue detecting embedded .pdb in some edge cases.

[2021-03-28 23:28] daveMueller commented on #1130
Has there really been coverlet coverage with a Fody reference? When I run the test there is the same issue with the assembly (no module detected).

![image](https://user-images.githubusercontent.com/19378678/112771488-6f961680-902c-11eb-9cbd-b24f2c6f8c62.png)

Also when I check the last of your CI builds where all tests passed [https://github.com/Tyrrrz/YoutubeExplode/runs/1811013194?check_suite_f

[2021-03-29 05:56] Tyrrrz commented on #1130
Interesting. I had looked at the report uploaded to Codecov, but after more careful inspection, it seems it has not been updated since 28th of November. I had absolutely no idea that was the case, turns out I had stale coverage statistics for close to half a year lol.

I went back to the last commit that had actual coverage, which is `41123da`. It's using:

- Fody v6.3.0
- ConfigureAwait.Fody v3.3

[2021-03-29 05:56] #1130 closed

[2021-03-29 13:20] petli commented on #1133
Are you running the command in bash or powershell? It could be something with quoting the Exclude parameter.

There is also a backslash just after the Exclude parameter, it may also interfere. Try removing it and see if it helps.

[2021-03-30 08:35] HT2207 commented on #1133
Thank you for your help. Now I used /p:Exclude=[TestDependancyProj1*]* and it works fine . And yes I am using command line

Now could you please guide me if I want to exclude all 3 dependencies.  TestDependancyProj1,TestDependancyProj2 and TestDependancyProj3

I tried /p:Exclude=[TestDependancyProj1*]*,[TestDependancyProj2*]*,[TestDependancyProj3*]* --------------------- It won't work
I tried /p:E

[2021-03-30 08:35] #1133 closed

[2021-03-30 10:44] MarcoRossignoli commented on #1099
Sorry for delay @aalmada super busy period, anyway should work also with vstest, I'll keep this open for future investigation

[2021-03-30 12:15] HT2207 opened #1134 "Unable to merge results in cobertura format"
I have one result file generated using

dotnet test ./CodeCoverageSolutionLevel/CodeCoverageSolutionLevel.csproj -l trx -r TestResults /p:CollectCoverage=true /p:CoverletOutput=../TestResults/coverage1 /p:CoverletOutputFormat=cobertura

now I am running code coverage for other project and want to merge the results by executing

dotnet test ./CodeCoverageSolutionLevel2/CodeCoverageSolutionLevel2.cs

[2021-03-31 00:30] daveMueller commented on #1103
Thanks for reporting and providing a repro. I had a quick peek on this. It seems this is a issue related to IL compiled with ```release``` configuration. At a first view when compiling with ```debug``` configuration the coverage looks as expected.

![image](https://user-images.githubusercontent.com/19378678/113072562-a81e2780-91c7-11eb-81c9-5af9016c96cd.png)

Really suspicious are the additional b

[2021-04-02 03:46] gremlm opened #1135 "No support for collecting coverage from multiple test projects in the same solution together"
_dotnet test_  can be executed in the directory where solution file exists.
In this case each test project will be executed one after another, creating coverage files for each separate project.
Unfortunately, there will be no one combined file for all of them together,

[2021-04-03 18:23] MarcoRossignoli commented on #379
closed in https://github.com/coverlet-coverage/coverlet/actions/new

[2021-04-03 18:23] #379 closed

[2021-04-03 18:30] MarcoRossignoli commented on #1135
For msbuild integration it's possible https://github.com/coverlet-coverage/coverlet/tree/master/Documentation/Examples/MSBuild/MergeWith

For collectors we're waiting for VSTest support https://github.com/coverlet-coverage/coverlet/issues/1015#issuecomment-746174446

[2021-04-03 18:30] #1135 closed

[2021-04-03 18:33] MarcoRossignoli commented on #1134
Please take a look at our working sample to understand where is the problem https://github.com/coverlet-coverage/coverlet/tree/master/Documentation/Examples/MSBuild/MergeWith

[2021-04-03 18:36] MarcoRossignoli commented on #1128
If you've integration it's possible that you're suffering of known problem(related to slow tests shutdown)

https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#vstest-stops-process-execution-early

You should try with collectors integration(like @tai-yi did) https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md

[2021-04-03 18:41] MarcoRossignoli commented on #1131
You're publishing tests project and test on different machine which what command(can you attach command line to understand your workflow). Is it .NET Framework right(not .NET Core)?

[2021-04-08 17:54] wdspider commented on #328
[code]

I'm still experiencing that autoprops like these in records are still counting against coverage even though SkipAutoProps is set to true.  Will the fix mentioned in the thread above fix this issue too?  If so, when will it be released for the coverlet.collector ?

[2021-04-08 18:29] Malivil commented on #328
This change has already been implemented and doesn't cover the case where an auto-prop has an inline assignment like that.
I would file another issue about that so it can be handled separately.

[2021-04-08 18:35] wdspider opened #1139 "Fix SkipAutoProps to work for records as well."
[code]

I'm still experiencing that autoprops like these in records are still counting against coverage even though SkipAutoProps is set to true.

I originally was under the impression that #328  would fix it for both classes and records; however, I was told to open this new issue since it doesn't.  Please fix so that we don't have to keep manually exclude them via the [ExcludedFroCodeCoverage] at

[2021-04-08 18:36] wdspider commented on #328
Opened #1139 as requested.

[2021-04-08 18:50] Malivil commented on #1139
I don't believe it's related to records. I've think I've seen this happen for non-record properties that have inline assignments.

[2021-04-08 19:18] MarcoRossignoli commented on #1139
Thanks for reporting this, maybe it's not related to records but to inline init.

[2021-04-08 21:21] tonerdo commented on #1095
Reserving a package ID sounds good but I'm not sure we meet all the criteria. Specifically these ones:
[code]

[2021-04-09 13:36] StefanOssendorf commented on #1139
The same goes for one-line declarations like `public record Foo(String Prop1, String Prop2)`. These are counted as not covered eventhough SkipAutoProps is enabled.

[2021-04-09 15:12] Malivil commented on #1139
I created a repro for this: https://github.com/Malivil/Coverlet1139Repro
See GenerateCoverageReport.bat in the Tests project folder for settings and to generate coverage.

If you add tests that instantiate the uncovered records and class then it all shows as covered but since SkipAutoProps is enabled those should be ignored, right?

[2021-04-09 15:30] wdspider commented on #1139
The SkioAutoProps should make those tests unnecessary, yes.  I noticed that your repo is using coverlet.msbuild while we use coverlet.collector.  Therefore, it seems like the issue is more internal rather than in just one of the collection methods.

[2021-04-09 16:25] Malivil commented on #1139
Yea, that's generally the case. The interior logic is the same regardless of collector method

[2021-04-10 15:21] martincostello opened #1140 "Code coverage not working with MVC/Razor applications targeting ASP.NET 6 preview 3+"
In .NET 6 preview 3, the Razor compiler was changed to use a Roslyn source generator instead of compiling a separate `.Views` assembly ([announcement](https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-3/#razor-compiler-no-longer-produces-a-separate-views-assembly)).

Similar to #1084, this causes coverlet to be unable to instrument the application's assembly due to seemin

[2021-04-11 20:18] StingyJack commented on #328
@rickardp - If its reporting a class member that is unused or untouched by any of the unit tests it should be reported as not covered. Is this what you mean?

[2021-04-11 20:38] StingyJack opened #1141 "Guidance or suggestions needed for when .proto files are generating classes"
I have projects that have .proto files in them and that are using the Grpc.Tools nuget package. That package will "compile" the contents of the proto file into c# classes whenever the proto is changed and saved or when the project is built.

This generated code does not carry the `[ExcludedFromCodeCoverage]` attribute, nor is it in a `.g.cs` file, but it does have an `//<AutoGenerated>` on the fir

[2021-04-12 06:48] dennismaxjung opened #1142 "Wrong/Different information at the README.md and the VSTestIntegration.md"
The README file says that the vstest integration does not work with .net framework.

https://github.com/coverlet-coverage/coverlet/blob/master/README.md#vstest-integration-preferred-due-to-known-issue-supports-only-net-core-application
![image](https://user-images.githubusercontent.com/29334964/114351314-b6c2f200-9b6a-11eb-9472-9dd2980ce5a9.png)

The documentation of vstest integration instead sho

[2021-04-12 08:56] huangydyn opened #1143 "Coverlet ThresholdType mulitple Value Note Working"
## Enviroment
- Mac Zsh
- coverlet.msbuild 3.0.3
- MsBuild
## Issue
I want to set threhold for different thresholdtype
[code]
then return
[code]

[2021-04-14 11:35] msrinivascharan commented on #474
I have a project with three different modules, two Java and one Python. all three modules generate Cobertura based code coverage reports. I am able to merge all three into one using @danielpalme "ReportGenerator" extension. able to apply gating condition using merged coverage report.

[2021-04-15 17:22] SabriArslan commented on #1038
Hello @MarcoRossignoli

I'm also having same issue that I can not use coverlet.console v3 anymore within .net core 3.1 SDK docker image.

What I understand is I can not install coverlet.console while using `mcr.microsoft.com/dotnet/core/sdk:3.1` docker image in the pipeline, and in order to install I need to install .net 5 runtime while running inside mcr.microsoft.com/dotnet/core/sdk:3.1`, is thi

[2021-04-16 07:21] da9l opened #1145 "Coverlet fails to instrument F# projects that have "unknown" source (inline functions, anonymous records etc)"
I have a F# solution with a web sdk api project, two shared libraries and some windows services.
Coverlet sucessfully instrument and analyze one of the shared libraries and the windows services but fails to instrument the api project and one of the libraries.

I've seen that there are similar issues here in the repo and while this could be a duplicate of one of those I have two detail that I think

[2021-04-16 08:00] petli commented on #1145
Do you use type providers in the F# projects?  There's been issues with the similar concept of source generators in C#, and it might be that the `unknown` directory here have to do with those.

[2021-04-16 08:58] daveMueller commented on #1143
Seems like a bug. Thanks for reporting, I'll take a look.

[2021-04-16 12:11] daveMueller commented on #1143
The feature for multiple thresholds isn't available in version 3.0.3 yet. It will be in the next release ([https://github.com/coverlet-coverage/coverlet/pull/1123#issuecomment-811898370](https://github.com/coverlet-coverage/coverlet/pull/1123#issuecomment-811898370)).

Up to that point you can consume the nightly ([https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNigh

[2021-04-16 14:59] da9l commented on #1145
Yeah, there is a type provider in there. I will try to isolate it and exclude it and see if the problem goes away. Is there perhaps a known workaround for this?

[2021-04-16 15:34] petli commented on #1145
For C# code generators it seems a de facto standard is emerging that generated code should have the suffix `.g.cs`, which Coverlet filters on to ignore those files. If there is a similar standard for F# type providers, we can add a filter on that too. I don't think there is a workaround you can do outside of a coverlet change, however.

[2021-04-17 14:41] MarcoRossignoli commented on #1143
closed in https://github.com/coverlet-coverage/coverlet/issues/1143

[2021-04-17 14:41] #1143 closed

[2021-04-17 19:51] mcm2020 commented on #1131
Experiencing this as well. This is the command we're using:
`    dotnet publish "$csproj" --configuration Release -nodeReuse:false --verbosity normal --output "$output_dir"
`

Coverlet is overwriting *.dll's of dependencies that it shares with "$csproj". For example, our "$csproj" has a dependency on `Microsoft.NET.Test.Sdk 16.6.1`. One of the dll's in the sdk is `Microsoft.VisualStudio.TestPlatfo

[2021-04-17 20:31] da9l commented on #1145
Thanks for the feedback but I don't think f# generate any files when tp are
involved. It's more of an dev time VS runtime types on demand if I've
understood it right.

http://blog.mavnn.co.uk/type-providers-from-the-ground-up/

Now that I understand this I think a workaround might be to just mark all
functions that depend on any type provider type. I'll try it out on Monday.

My semi educated gues

[2021-04-18 13:40] xcellsoft opened #1147 "Unable to instrument module - AssemblyResolutionException - no code coverage for an assembly reported"
To help other users out and possibly to add to the known issues as a resolution, I figured out how to overcome the issue I was having whereas an assembly was not getting code coverage due to the "AssemblyResolutionException" error.

Initial symptom was all my assemblies received code coverage properly except for 1 of them.

I tried the <PreserveCompilationContext>true</PreserveCompilationContext>

[2021-04-19 05:46] #1103 closed

[2021-04-19 05:53] MarcoRossignoli commented on #1145
@da9l that `unknown` comes from pdb https://github.com/coverlet-coverage/coverlet/blob/3ae19761876f2ac809c227ca3563495e28993b59/src/coverlet.core/Helpers/InstrumentationHelper.cs#L129

Coverlet by design instruments only asm for which it has got a source file available. Seems that there is an `unknown` on pdb(generated by compilers during build, not by coverlet). Are you able to provide a repro?

[2021-04-19 05:55] MarcoRossignoli commented on #1147
Yep, this is the last resort to fix this issue. Thx for the record.

[2021-04-19 05:55] #1147 closed

[2021-04-19 05:58] MarcoRossignoli commented on #1141
Have you tried with "type filtering"?

https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/MSBuildIntegration.md#filters

[2021-04-19 07:07] da9l commented on #1145
Not yet but I think I might be able to.

[2021-04-19 09:19] da9l commented on #1145
I've created a sample project that use an XMLType provider and I'm unable to recreate the problem.
I Inspected the assembly using JetBrains free dotPeek and found that the pdb file really think there is a source file named "unknown". Maybe if I add a specific exclusion of "unknown" might do it.

[2021-04-19 09:58] da9l commented on #1145
Ah... I have good reasons to think the TypeProvider was not involved at all here.
Instead it is a function in the library FSharpPlus that we've been using. So this issue can most likely be closed unless any one would like to implement a feature that allows coverlet to ignore specific source files.

For reference:
[code]

So if the unknown file reference occurs whenever one uses a f# inline functio

[2021-04-19 10:19] petli commented on #1145
As I understand the purpose of this heuristic is to filter out dependent libraries, so that the user doesn't have to exclude them manually from the code coverage. But is seems a bit too aggressive to fail if _any_ source file is missing, rather than just failing if _all_ source files are missing. What do you think, @MarcoRossignoli ?

Alternatively, a way to identify and ignore these compiler gene

[2021-04-19 10:45] StingyJack commented on #1141
How does that work for Visual Studio's Test Explorer?

[2021-04-19 11:28] da9l commented on #1145
Ok, I might have stumbled upon a more obvious case. I will post a repo with the problem reproduced if I succeed with that.

When I use an Anonymous Record in F# this problem appears again. The type refers to the "unknown" file again. I will try to create  a repo that reproduce this error and also ask the fsharp ppl if this is by design or not.

[2021-04-19 12:29] da9l commented on #1145
Problem reproduction repo up: https://github.com/da9l/coverletWithAnonymousRecords
In the repo there are two libs and one test project. One of the libs contains an anonymous record and the other one don't.
The one with AR does not show up in the coverlet analysis.

[2021-04-19 15:29] baronfel commented on #1145
The `unknown` file comes from a sort of logical 'zero' range (F# Ranges are a start position/end position/file structure) used by the F# compiler for constructs that have no direct mapping to source code, so it does need to be handled/escaped in some way irrespective of whether or not it should be emitted for anonymous records.

[2021-04-19 18:14] petli commented on #1145
Thanks for the clarification @baronfel! I've updated the issue title to make it more clear to others what the problem is.

[2021-04-20 03:01] yanpitangui commented on #170
Omg, wasted so much time looking for this. Thank you @gforceg!

[2021-04-21 08:22] prasad-1210 opened #1148 "Run tests only for source code changed on CI build server"
Hello,

I've a Dotnet core project with XUnit test cases. Its taking almost 1 hour to run tests. Is it possible to run tests by detecting changes in source code since last test or only source code changes on current branch?

Please point me to right project if this is not right place.

Thanks in advance.

[2021-04-21 10:15] petli commented on #1148
In general, it is difficult to do this with any precision. Even if you have per-test code coverage and thus can see which current lines affect a specific test, you can't say for sure which tests any added lines might affect. (coverlet does not record which unit tests caused what code coverage, currently.)

I think the best you can hope for is to identify which unit test projects you need to re-run

[2021-04-21 15:05] RomanBadiornyi commented on #521
I wanted to share alternative to dotnet publish solution, which in some situations could be preferable, you can provide path to data collector as follows:
`dotnet test "Build\**\*Tests.dll" --collect "XPlat Code Coverage" /testadapterpath:NUGET_PACKAGE_PATH\coverlet.collector\3.0.3\build\netstandard1.0`

[2021-04-22 10:05] jessensam opened #1149 "Function Filter is not working"
Hi Team,
Is there any way, we can filter the functions using coverlet. I need to include only functions that starts with "Search" in Code coverage report . I have tried this --DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.CodeCoverage.Functions.Include.Function=".*\.Search.*" DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Include="[company.namespace.cla

[2021-04-22 11:04] petli commented on #1149
Hi, that configuration is not for coverlet but the code coverage function in VS. You can find the documentation on how to filter when using coverlet.collector here: https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md#advanced-options-supported-via-runsettings

[2021-04-22 14:31] RomanBadiornyi commented on #1044
Hi @MarcoRossignoli, I'm facing same issue. While digging I found out that process gets frozen at
https://github.com/coverlet-coverage/coverlet/blob/3ae19761876f2ac809c227ca3563495e28993b59/src/coverlet.core/Instrumentation/Instrumenter.cs#L306

After I have injected "C:\Windows\Microsoft.NET\Framework64\v4.0.30319" into resolver
`resolver.AddSearchDirectory("C:\Windows\Microsoft.NET\Framework64\v

[2021-04-22 19:04] MarcoRossignoli commented on #1044
@RomanBadiornyi with last version the reachability helper is disabled by default so you shouldn't be stuck here. Try last version and let me know.

[2021-04-22 19:09] RomanBadiornyi commented on #1044
@MarcoRossignoli, I'm running coverlet.collecter 3.0.3. When you say latest, you mean some pre-release version?

[2021-04-23 04:15] jessensam commented on #1149
Thanks, Here am not seeing anything related to filter the function. Can you please help me on this. I need to include only functions that starts with "Search" in Code coverage report .

[2021-04-23 07:00] daveMueller commented on #1149
Currently you can only pass types and assemblies to the coverlet ```Include/Exclude``` properties. The only way you can exclude functions is to add ```ExcludeFromCodeCoverage``` attribute over the functions that should be excluded.
[https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/MSBuildIntegration.md#attributes](https://github.com/coverlet-coverage/coverlet/blob/master/Doc

[2021-04-23 07:38] MarcoRossignoli commented on #1044
@RomanBadiornyi  this PR https://github.com/coverlet-coverage/coverlet/pull/1061 removed temporary the reachability helper(if you're not using `DoesNotReturnAttribute` arg), so I think that your problem is not related to this issue if you're on last version.
As you can see from https://github.com/coverlet-coverage/coverlet/issues/1044#issuecomment-766392552 after patch should work.

Can you open a

[2021-04-23 19:39] RomanBadiornyi commented on #1044
@MarcoRossignoli, so far I have found out that it 's keep switching between resolving path of
System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089
and
System.IO.Compression, Version=0.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089

I will try to create simple repro app on these weekends and will open a new issue.
Thanks for quick response.

[2021-04-26 14:32] NQbbe opened #1151 "No coverage file generated on Linux"
Like the topic says, I'm getting no coverage file no matter what I try :-(

The issue can be reproduced (for me at least) in a new xunit project like so:

[code]
No coverage.json file is generated.

I'm using Linux Mint 20.1 (which currently is based on Ubuntu 20.04 LTS), and I'm running the latest dotnet version from Microsofts APT repositories.

[2021-04-26 14:44] daveMueller commented on #1139
I will work on this.

[2021-04-26 15:25] petli commented on #1151
It seems that the template installs the coverlet.collector driver, which requires a different option (documented under VSTest integration in the README). Try running this instead:

    dotnet test --collect:"XPlat Code Coverage"

The flag you tested with is for the msbuild driver, which is generally not recommended for new projects.

[2021-04-26 17:38] NQbbe commented on #1151
Ah you're right, my bad for misreading the documentation. It properly generates files when using --collect:"XPlat Code Coverage". thanks for the fast reply.

[2021-04-26 17:38] #1151 closed

[2021-04-26 18:00] NQbbe opened #1153 "No coverage for some files defining xUnit tests"
I just got an lcov generated for my test project, however oddly enough 3 of my files containing xUnit tests (marked with[Fact]) aren't included in the lcov file at all.

Is there some filter to what's included in the lcov and what's not?
The odd pattern is the 3 files all contain purely async test methods e.g.

[code]

However I also recently added these 3 files to the project, so I don't know if

[2021-04-26 18:08] petli commented on #1153
Is this the project you created in #1151 ? I took another look at the csproj generated by the template, and it uses a really old version of coverlet (1.3.0).  There's been a lot of fixes around async code, so you can try to update to the latest version of `coverlet.collector` to see if you get better results.

[2021-04-26 18:10] NQbbe commented on #1153
Sorry about the lack of information, I'm running coverlet 3.0.3 in my actual project.
The quick "dotnet new xunit" was just for demonstration purpose (and mostly demonstrated me not reading your documentation :-D )

Here's the relevant parts of my test project's csproj:
[code]

[2021-04-26 18:19] NQbbe commented on #1153
Further testing: I added this method to one of the classes that are properly included in the lcov file:

[code]

The file is still included, however this method isn't. It simply isn't mentioned at all in the lcov file.
Removing async and await causes it to be included right away.

[2021-04-26 18:54] petli commented on #1153
Does this only happen for unit tests? I.e. does the async non-test methods the unit test methods call get included in the coverage?

[2021-04-26 23:43] StingyJack commented on #1141
@MarcoRossignoli  - these c# types are generated at compile time by protoc.exe from a .proto file. Sure I can guess but there wont be a pattern from project to project.

[2021-04-27 04:29] NQbbe commented on #1153
Any code called from within the non-async test methods is included in the coverage.
Any code called from within the async test methods isn't.

It seems like it's entirely ignoring the async test method "entry points" (in lack of better term)
I can however see dotnet is actually running the tests, so it's not because "dotnet test" itself ignores them.

[2021-04-27 09:14] ta264 commented on #1131
I am having the same issue.

The documentation states:

...
  ... -> C:\project\bin\Debug\netcoreapp3.0\testdll.dll
  ... -> C:\project\bin\Debug\netcoreapp3.0\publish\
...
dotnet vstest C:\project\bin\Debug\netcoreapp3.0\publish\testdll.dll --collect:"XPlat Code Coverage"
As you can see in case of vstest verb you must publish project before.

But when you publish a project that references coverle

[2021-04-27 09:51] petli commented on #1153
Do you think you can put together a small solution that reproduces this and share it?  Or if that is difficult, share the whole project file so we see versions of .NET, the test SDK etc.  Thanks!

[2021-04-27 10:08] NQbbe commented on #1153
I can setup a repro solution later today, but you're also welcome to checkout the entire project: https://github.com/NQbbe/Ckode.Dapper.Repository
Note: You'll need to build the Dockerfile included in the project to actually run the IntegrationTests, which is the one containing the async tests. There's a build.sh included, but it probably only works on Linux.
However when I tried to add the Simple

[2021-04-27 10:22] ta264 opened #1155 "Could not write lines to file CoverletSourceRootsMapping - in use by another process"
Our build process with coverlet > 3.0 tends to fail with an error like this:

[code]

I suspect this is because we have a centralized output directory (not one per project).

[code]

Can this be worked around at all?

[2021-04-27 12:18] petli commented on #1153
Thanks, that should be enough!

[2021-04-28 11:31] Svmurvj commented on #1072
We start using version 3.0.3 few days ago and we face same issue. Any news when that will be resolved, or workaround ?

Previously we were using those versions:

[code]

and everything worked well.

[2021-04-29 07:23] daveMueller commented on #1139
I analyzed this and would suggest we make another issue for the one-line declarations record. There are two issues here, ```skipAutoProps``` ignoring the inline init auto properties and ignoring the one-line declaration record.
I can confirm that the issues are related but there is one important difference for records. The constructor of the record creates an instance of ```System.Object``` and I'

[2021-04-29 17:37] petli commented on #1153
I've tried this now, and I think it's just `CompilerGeneratedAttribute` in `ExcludeByAttribute` that causes it. When I remove that the async methods are included.  The async state engines must be decorated with that attribute.

[2021-04-29 18:26] NQbbe commented on #1153
Well spotted @petli, it works like a charm when I remove `CompilerGeneratedAttribute`, all my async tests have coverage now :+1:

Thank you very much for the assistance :-)

[2021-04-29 18:26] #1153 closed

[2021-05-02 19:30] sbambrule opened #1157 "If some test case are failing then code coverage report is not generating"
if some xunit test case are failing then opencover code coverage report is not generating in Linux Docker

coverlet.msbuild version 3.0.3
coverlet.collector version 3.0.3
.Net core 2.2

command:
dotnet test   /p:CollectCoverage=true   /p:CoverletOutputFormat=opencover

dotnet test --collect:"XPlat Code Coverage" -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=json,co

[2021-05-03 12:30] kevingosse opened #1158 "Instrument assemblies shared by multiple processes"
Hi,

I'm trying to add coverlet to our CI but I'm running into some trouble:

[code]

It's easy to understand why it fails if you know our build process:
 - We publish our assemblies into one folder
 - Our integration tests spawn child processes which use the assemblies published above. I'm trying to get the code coverage of those child processes so I spawn them with the coverlet tool
 - Since the

[2021-05-03 14:39] daveMueller commented on #1139
I analyzed this a bit more and did both in one PR [https://github.com/coverlet-coverage/coverlet/pull/1159](https://github.com/coverlet-coverage/coverlet/pull/1159).

[2021-05-04 14:01] bthharper commented on #1044
I have have been getting the same issue again too, coverlet seems to hang whilst instrumenting the assemblies.  Attaching show it stuck in the MetadataResolver.

![image](https://user-images.githubusercontent.com/8340092/117014994-416dbb80-ace9-11eb-9dca-fdb218db60a8.png)

Is there a debug version of coverlet I can debug with?

[2021-05-04 17:45] chlopes opened #1160 "DeterministicReport not working as expected"
Hi guys!

First of all, thank you so much for providing us such an amazing tool!

I'm trying to generate the code coverage reports using the 'DeterministicReport' flag, but the generated reports still map to the full path of the files.

The project used for the test was [this](https://github.com/coverlet-coverage/coverlet/tree/2e2b578fcc7ba1e63d5482938c93b33c4ed638bd/Documentation/Examples/MSBuild

[2021-05-04 19:02] MarcoRossignoli commented on #1139
It's ok...every ref object inherits from `System.Object`

[2021-05-04 19:25] MarcoRossignoli commented on #1160
Deterministic report is not released yet...to try it you should use the nightly build https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

This is the changelog https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Changelog.md#unreleased

[2021-05-04 19:44] MarcoRossignoli commented on #1158
Hi @kevin-montrose,
an honor have you here trying coverlet thanks to give it a try.

Unfortunately at the moment that scenario is not supported, but it's not the first time someone ask for it(https://github.com/coverlet-coverage/coverlet/issues/781).
Today the workflow for .NET tool is:
1) .NET tool start dlls instrumentation and **keeps in memory** instrumentation data(where are hits file, where

[2021-05-04 19:50] MarcoRossignoli commented on #1157
Does it work on your local or it happens only on docker?

[2021-05-04 19:51] MarcoRossignoli commented on #1142
You're right @dennismaxjung we missed to update the Readme.md, do you want to propose a PR for it?

[2021-05-04 19:58] MarcoRossignoli commented on #1148
This is a duplicate of https://github.com/coverlet-coverage/coverlet/issues/973

We did an offline discussion and I've suggested for now to try to fork coverlet core to try to understand if using collectors(they have start/stop test event) and coverage check on the fly(you can understand what that test touched) maybe would be possible have an "incremental" test profile and run only test that will

[2021-05-04 20:05] MarcoRossignoli commented on #1155
At the moment `CoverletSourceRootsMapping` uses `$OutputPath` https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.collector/build/netstandard1.0/coverlet.collector.targets#L46

[2021-05-04 20:19] chlopes commented on #1160
My mistake. I thought it was already released, sorry.
 I'll play with the nightly builds and test how the feature works.

By the way, is there an ETA for this feature to be released?

[2021-05-04 20:30] MarcoRossignoli commented on #1160
No ETA atm...we have some PR to merge...but we should be close.

Anyway not your mistake, it's not the first time, we tried to fix a bit but seems that it's not enough
![image](https://user-images.githubusercontent.com/7894084/117065672-148cc900-ad28-11eb-88b6-e5ed518064b0.png)

When a user struggles is our fault not your one at all, sorry 😞

[2021-05-04 22:45] daveMueller commented on #1139
Yes thanks. I guess whats new for records is that the inheritance from ```System.Object``` can have a own sequence point as you can see in the screenshot above. I still can't really think of a reason for this sequence point but I concluded that we can skip it.

[2021-05-05 00:42] #1160 closed

[2021-05-05 06:32] #1139 closed

[2021-05-05 06:35] MarcoRossignoli commented on #1044
@bthharper are you on .NET Framework? Are you able to provide a repro? If you're on last version shouldn't be related to reachability helper.

[2021-05-05 06:42] MarcoRossignoli commented on #1142
Closed in https://github.com/coverlet-coverage/coverlet/pull/1161

[2021-05-05 06:42] #1142 closed

[2021-05-05 08:39] bthharper commented on #1044
@MarcoRossignoli - thanks for the update I will try and collect some "useful" information, I am running coverlet installed as part of `dotnet tools`

[code]

I'll take a look at the troubleshooting guide and report back.

[2021-05-05 09:33] kevingosse commented on #1158
That would be great 😃

For now I'm trying the following workaround:
 - Launch the test project with the `IncludeDirectory` parameter to also instrument the assemblies from the child processes
 - The test project launches the child processes with the `COVERLET_ENABLETRACKERLOG` so they emit coverage information
 - When the launch project finishes, it will collect those reports

I did a few tests lo

[2021-05-05 16:22] wdspider commented on #1139
I see that the PR got merged.  What's the turn around time for release?

[2021-05-05 17:46] rhewitt316 commented on #1145
Hello, I am experiencing the same problem and I have posted a simple example here in the hope that it will help: [https://github.com/rhewitt316/coverlet-fsharp-anonymous-records-example](url).

I am using coverlet.console 3.0.3. Coverlet fails to instrument my example as-is. If the anonymous record is removed from my example, then instrumentation succeeds.

[2021-05-05 20:53] MarcoRossignoli commented on #1145
Hi @rhewitt316  thank for the repro, we'll look into asap.

[2021-05-05 23:45] daveMueller commented on #1139
AFAIK there is no fixed time. Looking at the changelog I would assume we are close to the next release.

In the meantime you can consume the nightly [https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md)

[2021-05-06 10:43] kevingosse commented on #1158
The workaround worked. Of course it's very hacky, so I'd be very happy to switch to https://github.com/coverlet-coverage/coverlet/issues/781 if it ever gets implemented 😃

Closing this issue since the feature request is tracked in the other issue. Thanks!

[2021-05-06 10:43] #1158 closed

[2021-05-09 22:01] potatopeelings commented on #1099
I ran into a similar issue and was able to replicate it using a simple hello world project and the command line. Repo repository here - https://github.com/potatopeelings/coverlet1099

I have 3 projects
- console with _Program.cs_ printing hello world
- tests just running the `Main` static method
- source generator project generating an additional class (which is not used)

If I do
[code]

[2021-05-09 23:50] daveMueller commented on #1072
Thanks for reporting this. I looked into it today but couldn't reproduce it. Could you provide a small repro?

[2021-05-10 12:50] petli commented on #1099
As I understand it a source generator always emits files, and you say what file name should be when it is generated with the first parameter to `AddSource`:
https://github.com/potatopeelings/coverlet1099/blob/master/coverlet1099Generator/Program.cs#L32
You can try adding `.g.cs` to the end of the name there, and see if that helps.

[2021-05-10 13:00] potatopeelings commented on #1099
Thanks! That worked. I seem to have misunderstood the `<EmitCompilerGeneratedFiles>` setting.

Apologies for the false alarm.

[2021-05-10 13:14] petli commented on #1099
Glad it worked, @potatopeelings! Those files end up in the `obj` directory so they can be inspected to aid in tracking down issues with the generated code.

[2021-05-10 15:00] StingyJack commented on #1141
@MarcoRossignoli  the protoc maintainers are going to add `[GeneratedCode]` to the types they are generating. Will coverlet skip those automatically?

[2021-05-10 18:53] StingyJack commented on #1141
in the case of the proto generated classes, we are getting by with writing a small "code coverage patch" file that has additional parts for all the `partial` classes that protoc generates and adding the Exclude attribute to it. It looks like this...
[code]

Are there any reasons why [GeneratedCode] is not automatically skipped as part of the analysis?
https://github.com/coverlet-coverage/coverlet/

[2021-05-11 07:18] petli commented on #1141
I think it is because there is no `IncludeByAttribute`, so users who would want code coverage on `[GeneratedCode]` would have no way of getting that.  `[ExcludeFromCoverage]`/`[ExcludeFromCodeCoverage]` are the only two attributes that clearly states that code should be excluded.

Adding `[GeneratedCode]` to the list of standard exclusion would be a backward-incompatible change, so it would requir

[2021-05-13 00:28] MrOwen commented on #1155
@LevYas can you expand on your workaround? I'm using `--output` flag with the `dotnet` cli so I don't specify the output at the project level but the solution I'm building contains multiple projects. Does that mean a different build output needs to be specified for each project in the solution and I can't use the `--output` flag? Seems like an arduous workaround that's error prone if you expect to

[2021-05-13 07:24] LevYas commented on #1155
@MrOwen Sure. I have output setup per project for all my projects, and I use CI/CD. Here's how it looks like for test project:
`<OutputPath>..\..\..\Bin\$(Configuration)\Tests\Unit</OutputPath>`

[2021-05-13 22:20] MrOwen commented on #1155
Ah, that's what I was afraid of. I'm working on a project with 60 test projects... I actually ended up upgrading `Microsoft.NET.Test.Sdk`, `MSTest.TestAdapter`, and `MSTest.TestFramework` to their latest versions since we were way behind and all issues seem to have gone away. Tried looking in the changelogs for each of these to see if some sort of race-condition was fixed but didn't spot any speci

[2021-05-13 22:45] daveMueller commented on #1145
There already is an issue at the fsharp repo for this [https://github.com/dotnet/fsharp/issues/11195](https://github.com/dotnet/fsharp/issues/11195). There also is a workaround described even if it isn't pretty.

We could check the document table for entries that end with ```unknown``` and have a F# language guid and then ignore them. There also is a really similar issue where the VB compiler has

[2021-05-14 07:15] g0dm0d3 opened #1163 "Coverage Issue - await using / IAsyncDisposable"
**Code**:

[code]

**Test**:

[code]

**Expected**:
Full branch coverage

**Actual**:
Partially covered (1 visits, 4 of 8 branches are covered)

**Output**:
![myservice_coverage](https://user-images.githubusercontent.com/38039872/118234444-ffd4d180-b49b-11eb-9a0e-33d3b081029f.png)

**Report**:

[code]

Run: dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura

Reproduced in .NET C