[2020-02-14 19:51] zmhh commented on #730
Also, in all cases the linq statement is listed to have been hit an equivalent number of times to the number of objects (or number of objects + 1), and the foreach statement is listed as being hit double that number of times. Not sure if this is correct behavior. But this is not a big deal for us as we don't really care about hit numbers.

[2020-02-15 07:43] MarcoRossignoli commented on #730
Thank's for reporting this, we'll come back asap.

[2020-02-15 07:44] MarcoRossignoli commented on #730
cc @matteoerigozzi

[2020-02-15 07:45] MarcoRossignoli commented on #730
@zmhh before starting with investigation can you try with nightly build?We did some fix on master for async state machines https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2020-02-15 07:53] MarcoRossignoli commented on #572
Close for stale conversation.

Feel free to re-open if needed.

[2020-02-15 07:53] #572 closed

[2020-02-15 07:56] MarcoRossignoli commented on #654
Close for stale conversation, @anaether when you'll have time to repro feel free to re-open or open a new issue.

[2020-02-15 07:56] #654 closed

[2020-02-15 07:57] MarcoRossignoli commented on #575
Close for stale conversation.

Feel free to re-open if needed.

[2020-02-15 07:57] #575 closed

[2020-02-15 07:57] MarcoRossignoli commented on #665
Close for stale conversation.

Feel free to re-open if needed.

[2020-02-15 07:57] #665 closed

[2020-02-16 17:46] MarcoRossignoli commented on #705
I did a test and found the issue, is related to coverlet in-proc load failure, vstest plat try to load netcoreapp2.1 lib inside a netfx process and fails

TL;DR;
msbuild/.net tool suffer a know issue https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#1-vstest-stops-process-execution-earlydotnet-test
So we use collector because in that way in-proc coverlet collector class i

[2020-02-17 13:29] ColBiernot opened #732 "100% coverage but empty result file"
Hi at all,

I am trying to collect coverage data for our UnitTest project. Therefore I added
`<PackageReference Include="coverlet.msbuild Version="2.8.0"`
and used:
`dotnet test project.csproj --configuration Release p:/CollectCoverage=true`

After the successful nunit testrun, coverlet starts to calculate coverage result. The result is always _100%_. The generated json file only contains _{}_ do

[2020-02-17 20:25] tremblaysimon opened #733 "Coverage report file duplicated when using --logger option"
In my test project, when I run the command:
[code]
there are two coverage.opencover.xml file generated. They are identical. Only the path where the file resides are different. There is one in TestResults/a-random-guid/ and another one in TestResults/USERNAME_COMPUTERNAME_generation-date/In/COMPUTERNAME/.

![image](https://user-images.githubusercontent.com/5879940/74684320-9c28ff00-5199-11ea-89f9-5

[2020-02-17 21:11] MarcoRossignoli commented on #732
Are running some tests or are you running the command on empty tests project as a test?

[2020-02-17 21:13] MarcoRossignoli commented on #733
Thank's for reporting this, we'll take a look asap.

[2020-02-18 08:26] ColBiernot commented on #732
I'm executing some tests. Actually I managed to get it work.
My tests are executed in Release configuration. So after my acutal test build

`dotnet test example.csproj --configuration Release`

I need to execute the collection of coverage seperately

`dotnet test exaple.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CopyLocalLockFileAssemblies=true`

This works fine if I execu

[2020-02-18 15:15] Smurf-IV opened #734 ""-v" is used more than once in the command line"
V 1.7.0
Coverlet.Console

This leads to the Command not running

![image](https://user-images.githubusercontent.com/2418812/74748995-58013180-5261-11ea-9479-62c7c7b779bd.png)

![image](https://user-images.githubusercontent.com/2418812/74749057-76ffc380-5261-11ea-9c95-f9f34fd107af.png)

[2020-02-18 16:45] zmhh commented on #730
The output for the example solution was exactly the same for nightly version 1.2.29-gd2f0fd2248.

[2020-02-18 18:31] MarcoRossignoli commented on #730
Ok thank a lot for tests we'll take a look asap

[2020-02-18 19:36] MarcoRossignoli commented on #734
yep we know...for now please use double dash.

[2020-02-18 19:47] MarcoRossignoli commented on #733
@tremblaysimon I did a test and confirm your results, I think you should open an issue on vstest repo and ask if this behaviour is by design https://github.com/microsoft/vstest
On coverlet we simply send artifacts to message sink and we don't have any control on it https://github.com/tonerdo/coverlet/blob/master/src/coverlet.collector/DataCollection/AttachmentManager.cs#L146

Feel free to close an

[2020-02-18 19:49] MarcoRossignoli commented on #729
Confirm the bug. cc: @matteoerigozzi

[2020-02-18 19:57] MarcoRossignoli commented on #732
You should run coverage in debug if possible...release pdb has got less information and the coverage is less precise.

Can you try to do a `git clean -fdx` from root after the second run?That resolve exception doesn't make sense to me, can you share you csproj or is it a private project?

[2020-02-18 20:18] MarcoRossignoli commented on #730
I confirm the strange behaviour, seem a bug.

[2020-02-18 23:21] abe545 opened #736 "Coverlet fails to write coverage with file locked error"
So this is a bit odd, but it only happens during our CI (and it is intermittent). We're using v1.2 of the vstest collector.

The error we get is this:

[code]

What is strange is that *after* this error message, we see the last test case complete (we use the `normal` logging verbosity so we see every test case printed). We're using .net core 3.1, and xunit 2.4.1 if it matters (we use a xunit colle

[2020-02-18 23:53] zmhh commented on #730
The same issue occurs in Debug configuration, just fyi.

[2020-02-19 08:31] MarcoRossignoli commented on #730
yep @zmhh it's unrelated

[2020-02-19 08:44] MarcoRossignoli commented on #736
Hi Andrew, some notes

It's ok and expected, until sdk `16.5.0` there was a bug inside vstest and coverlet collection greater than 1.0.0 weren't loaded  https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#2-upgrade-coverletcollector-to-version--100
So here you're hitting the above issue.

Are you running test on solution file(or repo root) or are you running `dotnet test` o

[2020-02-19 09:53] dozer75 opened #737 "Code coverage stops working with SSL enabled RabbitMQ"
I have a strange situation when using the coverlet in a project together with RabbitMQ, it simply stops working and no code coverage information is returned at all when RabbitMQ is initialized.

I have stripped down my code to what's needed to reproduce the issue, and this is attached as a zip file [here](https://github.com/tonerdo/coverlet/files/4224272/test.zip).

To be able to run this example,

[2020-02-19 12:45] MarcoRossignoli commented on #737
You're probably hitting a know issue you should try to use collectors check here https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#1-vstest-stops-process-execution-earlydotnet-test
vstest integration https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md

[2020-02-19 12:50] MarcoRossignoli commented on #718
any news?

[2020-02-19 14:57] abe545 commented on #736
I'm running it on the csproj file directly with this command:
[code]

I then have various test classes that use xunit traits:
[code]

Also, I forgot to mention, I pass it this runsettings file:
[code]

[2020-02-19 16:30] abe545 commented on #736
I'm currently trying to create a repro case, but am struggling. One thing I'm noticing in my real project is that this is logged *before* the last test's result (whether coverlet fails or not):
[code]

[2020-02-19 19:55] tbeswick96 opened #739 "Incorrectly partially covered method line"
Coverlet is reporting a method line (not first line of method, but the actual method line itself, although it did previously do that) as partially covered.

Versions:
[code]

I'm running my code coverage locally with:
`dotnet test ./UKSF.Api.sln /p:CollectCoverage=true /p:CoverletOutputFormat=lcov /p:CoverletOutput=../coverage/lcov.info /p:Exclude="[UKSF.Api.Signalr]*%2c[UKSF.PostMessage]*"`

And

[2020-02-19 21:11] abe545 commented on #736
And it gets slightly more frustrating: I witnessed a test run fail to generate coverage with the same error on one of my projects that **does not** use filters or xunit fixtures/collections, but otherwise the setup is identical: running in docker, using latest coverlet + .net sdk + xunit.

[2020-02-19 23:16] abe545 commented on #736
So interestingly, I'm now consistently getting the failure for a specific set of filters - If I run this locally within a `docker-compose`, I get the same issue. I thought it might be the parallel containers' volume mounts somehow stepping on each other, but I see the error even when this is the only container executing. I'll continue to try to repro this in a shareable manner.

[2020-02-20 04:24] unrealsoul007 opened #740 "No runsettings property for single code coverage file for multiple test projects"
Using coverlet.collector or coverlet.msbuild, I don't see an option to get the code coverage from multiple dotnet core test projects in a single output file. I know coverlet.console can do that but for our scenario coverlet.console doesn't fit.
Is there already a setting that can be specified so that a single coverlet.cobertura.xml file is generated in the TestResults folder?

[2020-02-20 06:38] MarcoRossignoli commented on #736
Does it happen out of container?

[2020-02-20 06:59] dozer75 commented on #737
Thanks, for the answer and it seems to work.

However, my problem is then that today I use a script that merges several code coverage results for different test project and uses reportgenerator to display the result (Based on this example: https://gist.github.com/lira92/29aca1c01661a8de30890a6538c0ba5c).

So, how can I do anything similar by using `dotnet test --collect:"XPlat Code Coverage"`? Can

[2020-02-20 10:12] dozer75 commented on #737
I found a solution by adjusting the -reports parameter of reportgenerator. Closing this issue since it's known and it has a workaround that is acceptable for me.

[2020-02-20 10:12] #737 closed

[2020-02-20 11:56] MarcoRossignoli commented on #737
Yep sorry for late reply, reportgenerator as you saw can picks up more reports and merge together thanks to @danielpalme!

[2020-02-20 12:01] MarcoRossignoli commented on #739
Can you try with master version?We fixed some coverage issue in these weeks, please try with our nightly build https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2020-02-20 12:07] MarcoRossignoli commented on #740
for msbuild is present take a look at our example https://github.com/tonerdo/coverlet/tree/master/Documentation/Examples/MSBuild/MergeWith

BTW msbuild has got some know issue...https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#know-issues

If you hit these issues you need to use collectors that at the moment doesn't have a way to merge results, because we're constrained

[2020-02-20 12:08] tbeswick96 commented on #739
Thanks that has worked
No longer reporting partially covered in both Debug and Release configurations

[2020-02-20 12:13] MarcoRossignoli commented on #739
Glad to head!Feel free to use nightly, this version will be released and the end of March as planned https://github.com/tonerdo/coverlet/blob/master/Documentation/ReleasePlan.md#release-calendar

Feel free to close this if solved!

[2020-02-20 12:16] MarcoRossignoli commented on #736
Another test we can do, can you generate logs using `--diag:log.txt` https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-integration

[2020-02-20 12:25] tbeswick96 commented on #739
Thanks for your help!

[2020-02-20 12:25] #739 closed

[2020-02-20 16:32] abe545 commented on #736
I haven't witnessed it outside the container. I'll generate the logs and report back.

[2020-02-20 19:02] abe545 commented on #736
@MarcoRossignoli thank you for your help on this! I think I found the culprit:
[code]
So we were using the default asp.net host (and running tests against the test server). This by default adds 2 watched json files for the application configuration. By taking full control of the host being built, I was able to at least intermittently get the coverage working again.

This is seemingly a race condit

[2020-02-20 19:03] MarcoRossignoli commented on #736
Was on logs that message?

[2020-02-20 20:54] abe545 commented on #736
They were... but sadly I hard deleted the logs as I was trying to investigate my issue.
I've updated how we create the config to *not* watch the json files, and I'm still seeing the original hits file error in another filtered project, but not the user limit error.

[2020-02-20 21:42] unrealsoul007 commented on #740
I tried using the coverlet.msbuild with the MergeWith option and the final coverlet.cobertura.xml file only contains results from the last test project it ran. I did not see any intermediate coverage.json left behind. Here is the command that I am running:

`for testproj in $(find . -iname '*Test.csproj' -or -iname '*Tests.csproj')
do
    echo -e "Running test project $testproj"
    #dotnet test -

[2020-02-21 01:33] unrealsoul007 commented on #740
Thanks for pointing me to correct example for coverlet.msbuild. It works and I can finally have one unified coverage file.
Report generator does merge for an html view but it doesn't generate a single coverage file. Maybe that can be a feature ask on ReportGenerator because it anyway analyses all the coverage files to generate the report.

[2020-02-21 01:41] #740 closed

[2020-02-21 09:05] MarcoRossignoli commented on #736
Some other strange infos from logs?

[2020-02-21 15:33] abe545 commented on #736
I didn't see anything obviously wrong, but here is the the collector logs:
[code]

[2020-02-21 16:12] MarcoRossignoli commented on #736
Can you attach also "host" log(where inproc collector is injected)?
And also enable tracker? https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#enable-injected-tracker-log
To undestand if for some reason hit file is read when someone wants to persist-hit on the same.

[2020-02-21 16:52] abe545 commented on #736
@MarcoRossignoli I added them to this gist: https://gist.github.com/abe545/892b1183ec15b22cc5df80cc7d70652d
I didn't spot any other references to that hits file than the exceptions, but maybe I don't know what I'm actually looking for.

[2020-02-21 17:25] abe545 commented on #736
Okay, I updated the gist with the tracker files. Looks like the tracker is trying to unload the module 2 times, and the second time is where it is failing.

[2020-02-22 20:03] MarcoRossignoli commented on #736
@abe545  can you try to generate same log with master version?I added process id to tracker log on master https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Instrumentation/ModuleTrackerTemplate.cs#L186

So we can be sure that there is "another" process that unloads lib and not another thread of same process.
This is the guide for nightly https://github.com/tonerdo/coverlet/blob/mas

[2020-02-24 14:55] abe545 commented on #736
@MarcoRossignoli I'll give it a shot. And thank you for all your help with this! I really did try to create a repro that I could share, but unfortunately was unable to isolate it. I'm sure it is something funky we're doing in some of these tests, as it doesn't happen in some filtered test runs, always happens in others, and occasionally happens in still more.

[2020-02-24 15:54] abe545 commented on #736
@MarcoRossignoli this is the hits file after using the nightly:

[code]

If I understand this correctly, it is 2 different threads in the same process trying to write the file?

[2020-02-24 20:06] MarcoRossignoli commented on #736
@abe545 yep...but that is expected...if for some reason unload is called more than one time that error is a "benign error".
Btw I've got a suspect...could be a timing issue...at the moment we subscribe to 2 event...process exit and app domain unload https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Instrumentation/ModuleTrackerTemplate.cs#L36

Domain unload is for .net framework an

[2020-02-24 23:08] abe545 commented on #736
Okay, so the result is that that the error is still in the hits file (this makes sense), but then it bombs with:
[code]

[2020-02-24 23:15] abe545 commented on #736
I'm going to mess around with coverlet locally to see if I can output better errors, now that I have it setup to use the locally packed nuget.

[2020-02-25 06:17] MarcoRossignoli commented on #736
So seem the issue is not tracker vs getcoverage the mutex is out of finally on purpose, another test to definitely understand if it's a Coverlet issue(coverlet self lock files) is to remove the subscription to appdomain a appexit in tracker, so only collector will call unload

[2020-02-25 15:13] abe545 commented on #736
The other thing I saw was this in the main log file (I updated the logger to output milliseconds):
[code]

Any idea how long it waits? Looks like 100ms?

[2020-02-25 16:51] abe545 commented on #736
@MarcoRossignoli so not registering the `DomainUnload` event handler did not change anything.
However, not registering the `ProcessExit` event handler solved the problem. The coverage file was written successfully, and I *think* it is fully populated (tbh I don't have a way to tell for sure, as I don't really know what I'm looking at).
It is unclear to me if this is a real solution, or not, as I'm

[2020-02-25 17:02] abe545 commented on #736
@MarcoRossignoli so not registering the `DomainUnload` event handler did not change anything.
However, not registering the `ProcessExit` event handler solved the problem. The coverage file was written successfully, and I *think* it is fully populated (tbh I don't have a way to tell for sure, as I don't really know what I'm looking at).
It is unclear to me if this is a real solution, or not, as I'm

[2020-02-25 17:07] MarcoRossignoli commented on #736
Expected...we're on .net core

Expected in part...file is flushed when inproc collector is called and second time when process exit(thank's to subscribe) but it's unexpected that GetCoverare fails if I'm in synch between process/threads(mutex)...my branch test should resolve that

@abe545 if you're using collector timeout it's not an issue...was an issue on msbuild/.net tool, we added collector us

[2020-02-25 17:16] MarcoRossignoli commented on #736
This is correct...I mean if I'm using collector and I'm on .net core process exits is "unuseful" because inproc collector flush data correctly.
BTW if I'm using collector with .net framework(unsupported at the moment but maybe we'll fix...collector is compiled for netcoreapp2.1 and not standard...I'm waiting info from vstest on that, they wrote coverlet collector we only did a review) I could have

[2020-02-25 19:31] MarcoRossignoli commented on #736
@abe545 can you retry with this new version https://github.com/MarcoRossignoli/coverlet/tree/issue_736 (fetch,pull,re-pack)?

[2020-02-25 20:19] abe545 commented on #736
@MarcoRossignoli so I'm still using your branch (with additional logging that I added), so I'm not sure what you'd like me to try. The mutex has not yet been released when we try to acquire it in the `ModuleTrackerTemplate.UnloadModule` - which is called 2x for some reason.

I'm using the collector, so the 100ms timeout is still clearly an issue in my setup, as the code in the `Coverage.CalculateC

[2020-02-25 20:20] abe545 commented on #736
Sorry, ran this/wrote my comment between your two comments. I'll try with the above.

[2020-02-25 20:28] MarcoRossignoli commented on #736
No worries, let me know

[2020-02-25 20:56] abe545 commented on #736
@MarcoRossignoli so the runner exited successfully, and generated the coverage. I do still see this in logs, which is suspicious to me if the in proc collector is supposed to be allowed to finish:
[code]

[2020-02-26 07:28] MarcoRossignoli commented on #736
Actually is a "log bug" inside vstest to me...that log is emitted always...it doesn't check if event was signaled or not

https://github.com/microsoft/vstest/blob/462d3674c29310be0efa8f5db04d5fe058ac0858/src/Microsoft.TestPlatform.CrossPlatEngine/Client/ProxyOperationManager.cs#L201-L233

cc: @nohwnd

[2020-02-26 07:29] MarcoRossignoli commented on #736
@abe545 can you attach tracker logs?

[2020-02-26 12:59] bpaczkowski commented on #85
Is there a way to accomplish this without having to manually include/exclude assemblies? Coverlet should exclude references by default IMO.

[2020-02-26 15:12] abe545 commented on #736
@MarcoRossignoli here you go: https://gist.github.com/abe545/1056bb31a23b550d9d545544f3716639

[2020-02-26 15:38] MarcoRossignoli commented on #736
I mean set `COVERLET_ENABLETRACKERLOG=1`

[2020-02-26 16:19] abe545 commented on #736
These logs were generated with that environment variable set to that value. Is there a specific file you're looking for?

This is the relevant part of my `docker-compose.yml` I used to run the tests, and get the logs out:
[code]

A note about the dockerfile - we build it in release mode in a previous stage, so we can use `--no-build --verbosity Normal` (`-v n` above) so we get more information abo

[2020-02-26 16:23] abe545 commented on #736
Re-reading the documentation for that env var, I'm guessing you're looking for a file in the `TrackerHitsLog` folder. I'll try to get it out of the container.

[2020-02-26 16:45] MarcoRossignoli commented on #736
I'd like to see the log message for tracker to be sure you're using patched version...should see this log https://github.com/tonerdo/coverlet/compare/master...MarcoRossignoli:issue_736#diff-164040e68c2b496a18449c2363998152R112

[2020-02-26 17:05] abe545 commented on #736
Ah, @MarcoRossignoli that was in the gist:
[code]

[2020-02-26 17:07] abe545 commented on #736
Since I built this locally from your branch, I *did* update the logger to output the time in a more verbose manner:
[code]

[2020-02-26 17:48] MarcoRossignoli commented on #736
Ah ok missed that so it seems to work...do you see error or the fix seem a good idea?

[2020-02-26 17:52] abe545 commented on #736
I don't see any errors anymore. As far as I can tell, this fixes the issues I'm having. Thanks again for your help!
If you still would like a repro, I think I could do it by generating a very large file (on the order of 20K lines) of meaningless code that is executed under a test... That *should* result in the same behavior of the file being written 2x, and the second taking > 100ms

[2020-02-26 18:48] MarcoRossignoli commented on #736
If you can generate a repro could be great...I need to understand all the implication of my patches because tracker is a "sensible" component.
For now use my branch patch if you can and I'll do more investigation checks(busy weeks at the moment so I won't merge to master soon).
But I think this is definely a bug.

[2020-02-26 18:52] MarcoRossignoli commented on #85
@bpaczkowski Coverlet at the moment exclude by design assembly for which doesn't have local source code.
What does mean "exlude reference"?
Can you explain better your use case, maybe opening a new issue?This is very old a lot of improvement was done since 2018.

[2020-02-27 11:48] YulerB commented on #456
Would fallback's be available to lower the framework version?

        private static IEnumerable<string> GetPropertyValueWrapper(SessionStartEventArgs sessionStartEventArgs)
        {
            try
            {
                return sessionStartEventArgs.GetPropertyValue<IEnumerable<string>>(CoverletConstants.TestSourcesPropertyName);
            }
            catch (MissingMethodException ex

[2020-02-27 13:52] suadev opened #743 "Question about excluding strategy"
Hi,

It look like coverlet exclude enums, html files, classes that  consist of only const strings(like Constants.cs)   etc..

I wanted to see whole excluded list but could not able to find.

Also, how coverlet exclude .html files from code coverage? I could not find related code.

Thanks.

[2020-02-27 14:13] granadacoder commented on #521
I'll do a mini followup, since I just tackled this (with your suggestions! @marco)

For future readers.

I was getting the error:

Data collection: Could not find data collector 'XPlat Code Coverage"

....

So when you do a regular
dotnet build

you'll get an output like this:

`\src\UnitTests\bin\Release\netcoreapp3.1\win-x64\MyProjectName.UnitTests.dll
`

At this point, if you were to look in th

[2020-02-27 18:51] MarcoRossignoli commented on #521
@granadacoder thank's for your explanation....one more thing you should use last version of test sdk with collector greather than 1.0.0 because there is a bug in vstest repo for old version
[code]
should be
[code]

You don't see any issue because your code doesn't suffer of a particular timing issue https://github.com/tonerdo/coverlet/blob/master/Documentation/KnownIssues.md#2-upgrade-coverletcoll

[2020-02-27 19:29] MarcoRossignoli commented on #743
Coverlet is a code coverage tool only for .NET IL, so for instance for a asp.net project it can only instrument and cover main dll assembly generated

I wanted to see whole excluded list but could not able to find.

Can you provide a repro?As I said above that cs files will be compiled inside a dll(in form of IL, intermediate language) so should be covered if used by tests

[2020-02-27 19:32] MarcoRossignoli commented on #456
@YulerB which versioin of sdk you want to use?Cannot compile with greather version but lower tfm?

[2020-02-27 20:03] abe545 commented on #736
@MarcoRossignoli I've been able to partially reproduce this issue in a dummy repo - ultimately coverlet succeeds in this project, so I'm not sure if it is useful. It produces the following behavior:
1. The hits file is a similar size to my real project
1. The tracker log has the same error that I see with the nightly build in my real project
1. The detailed tracker hits log is only generated once

[2020-02-27 20:11] MarcoRossignoli commented on #736
Put here the link and feel free to stop to invest time you did a lot of test and I don't want to "take" your time more than this...we understood the issue, now I need only to understand if remove process exit for collector is a good idea or not...because today we have again a lot of user that upgrades to for instance collector 1.2.0 but doesn't upgrade test sdk...with the fix this lead to "no hit

[2020-02-28 08:33] Hjortsberg opened #744 "General questions about intended usage in .NET Core projects. Possible doc improvements."
Hi,

I've read practically all guides/issues I can find and tried many different ways of generating coverage reports with coverlet and it has left me somewhat confused.
I'm a newcomer to the whole .NET universe so my questions might be trivial.

**Scenario:**
The codebase is a multi project .NET core 3.1 solution, my intentions are to be able to generate coverage reports both local and in Azure De

[2020-02-28 11:02] prashanth-nani commented on #718
Facing the same issue. It is not consistent though.

![image](https://user-images.githubusercontent.com/8893755/75542986-e4240d80-5a46-11ea-8f7f-237ef5024daa.png)

The screenshot is from our build agent logs. When I just retry without making any changes, it works. Please let me know if you need any further info.

[2020-02-28 11:08] MarcoRossignoli commented on #718
@prashanth-nani  can you show you test project references and the command line you use to run coverage?

[2020-02-28 11:51] rcollina commented on #744
@Hjortsberg I'd chime in, if you don't mind. I've been trying to make coverlet work with our gitlab pipelines but no luck so far.

runsettings.xml
[code]

Powershell script to run dotnet test on an already built solution:
[code]

No coverage, no matter the format used.

[2020-02-28 11:52] MarcoRossignoli commented on #744
@rcollina please open a new issue.

[2020-02-28 11:55] rcollina commented on #744
I'm sorry, how is this not related to original issue?
Documentation is scattered across several files, and the provided guidance yields no results.

[2020-02-28 12:09] MarcoRossignoli commented on #744
.NET global tool suffer of same issue as msbuild https://github.com/tonerdo/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test
.NET global tool simply instruments->run you command-> and check for coverage so it's very similar to msbuild integration(tasks) but orchestrated by console app.

dotnet test path/to/someproject.test.csproj /p:CollectCoverag

[2020-02-28 12:12] MarcoRossignoli commented on #744
@rcollina it's a different issue...you're using collector and maybe your problem is a config problem not a problem related to "understand what driver use" this is our helloworld working example with collector https://github.com/tonerdo/coverlet/tree/master/Documentation/Examples/VSTest/HelloWorld take a look if you can to understand if you're missing something or feel free to open a new issue and

[2020-02-28 12:37] ssztangierski opened #746 "[ExcludeFromCodeCoverage] attribute does not work on methods"
Hi,

I've been struggling with adding `[ExcludeFromCodeCoverage] ` attribute . For some reason, coverlet ignores it when I decorate any method for exclusion. However, it seems to be working fine when I add it to a class. I've created a project on github that reproduces this issue.

https://github.com/ssztangierski/coverlet-exclude-attribute

command when I run test from "WeatherControllerTests" fo

[2020-02-28 13:03] MarcoRossignoli commented on #746
Hi @ssztangierski can you try with nightly build?We fixed some similar bug recently and maybe we've the soluton ready on master https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2020-02-28 13:04] MarcoRossignoli commented on #746
cc: @matteoerigozzi

[2020-02-28 13:23] ssztangierski commented on #746
Hi @MarcoRossignoli, it does work like it should with nightly build. Could you please tell me when can I expect nightlybuild to be officially released?

[2020-02-28 13:39] MarcoRossignoli commented on #746
1 April more or less https://github.com/tonerdo/coverlet/blob/master/Documentation/ReleasePlan.md

[2020-02-28 13:40] MarcoRossignoli commented on #746
Feel free to close this issue.

[2020-02-28 13:40] ssztangierski commented on #746
Thanks a lot!

[2020-02-28 13:40] #746 closed

[2020-02-28 13:40] MarcoRossignoli commented on #746
FYI current changelog https://github.com/tonerdo/coverlet/blob/master/Documentation/Changelog.md

[2020-02-28 17:59] YulerB commented on #456
Our build agents on RHEL 7 only support dotnet core sdk 2.1.400

[2020-02-28 17:59] abe545 commented on #736
I really appreciate your help @MarcoRossignoli! Here is the repository: https://github.com/namely/CoverletErrorRepro

[2020-02-28 18:05] MarcoRossignoli commented on #736
Thanks!

[2020-02-28 19:12] suadev commented on #743
@MarcoRossignoli

Under src/Common folder there is a folder named 'Mail' that include 2 interfaces, 1 enum (EmailType.cs) and 2 classes. (first image)

But in the opencover xml, i see only two .cs files. (second image).

So, interfaces and enum types are excluded by coverlet?

![image](https://user-images.githubusercontent.com/5918811/75579271-7a235c80-5a76-11ea-95d6-76c242643c82.png)

![image](ht

[2020-02-28 19:16] MarcoRossignoli commented on #743
I think it's correct...you cannot cover "interface" but only code that uses interface...interface doesn't have code, or do you have default interface implementation(https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/default-interface-methods-versions(?

[2020-02-28 19:23] suadev commented on #743
Interfaces and enums should be excluded, i am ok with that. I just wanted to know how coverlet do this. I mean, i was expecting to see a 'excluded stuff lists' in the code. But i could not find it in source code of coverlet. How coverlet exclude enums?

[2020-02-28 19:24] MarcoRossignoli commented on #456
@YulerB can you open new issue?
MS team wrote first version of collector, so I'm not sure if your workaround will works, if you open new issue I can cc ms team member and together will understand if makes sense.

[2020-02-28 19:24] suadev commented on #743
Between, i do not have default implementation of theses interfaces.

[2020-02-28 19:30] MarcoRossignoli commented on #743
Coverlet instruments branches and sequence point...enum and interface doesn't have branch/sequence point(that are described inside pdb) so coverlet cannot instrument these members.
After instrumentation and tests run coverlet gather and persist hits to file, hits are "place where your test run is passsed" and we do a match between this point and branches/sequence point.
This is how coverlet works

[2020-02-28 19:49] suadev commented on #743
@MarcoRossignoli thank you for you time!

[2020-02-28 19:59] MarcoRossignoli commented on #743
You're welcome!

Feel free to close this issue if solved.

[2020-02-28 20:18] #743 closed

[2020-02-28 20:51] YulerB opened #748 "MissingMethodException - SessionStartEventArgs.GetPropertyValue"
This new issue is related to https://github.com/tonerdo/coverlet/issues/456, requested by @MarcoRossignoli

The difference is, this issue is to see if a fall-back in the code below would address the issue and allow us to use Coverlet using .net core 2.1.400.

**Exception:**

    Data collector 'XPlat code coverage' message: System.MissingMethodException: Method not
    found: '!!0
    Microsoft.Vi

[2020-02-29 00:05] YulerB commented on #748
From what I can tell, looks like test sources was added only in 2.1.7 in https://github.com/dotnet/cli/pull/11312

[2020-02-29 08:24] MarcoRossignoli commented on #748
@vagisha-nidhi does it make sense?

cc: @nohwnd

[2020-02-29 08:33] MarcoRossignoli commented on #748
Possible related PR https://github.com/microsoft/vstest/pull/1962
Spec https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0026-Passing-TestPlatform-Properties-to-DataCollector.md
Cannot find in release changelog https://github.com/Microsoft/vstest-docs/blob/master/docs/releases.md

[2020-02-29 08:35] MarcoRossignoli commented on #718
@pape77 I cannot find your workaround to use merge with current version of collector...can you paste the link here?

[2020-02-29 08:39] pape77 commented on #718
@MarcoRossignoli it's in a closed pr
https://github.com/tonerdo/coverlet/pull/225#issuecomment-573896446

[2020-02-29 08:44] MarcoRossignoli commented on #718
Thank's @prashanth-nani if you want to use merge with collector(that feat was hidden because is not so easy to use/understand at the moment) you can use Daniel trick!

[2020-02-29 20:08] prashanth-nani commented on #718
Thanks @MarcoRossignoli, I'll take a look at it.

[2020-03-01 14:32] Hjortsberg commented on #744
Thank you for that explanation.
I think that we will stick with the msbuild option for now after reading this.

[2020-03-01 14:40] MarcoRossignoli commented on #744
I think that we will stick with the msbuild option for now after reading this.

Remember if you'll find strange exception or empty coverage take a look at known issue to understand if you're hitting known problem.

Feel free to close this if solved!

[2020-03-02 11:09] #744 closed

[2020-03-02 22:02] chvrl opened #751 "MissingMethodException when collecting with VSTest"
I'm seeing if I can switch to coverlet.collector from coverlet.msbuild, but I'm running into an issue with one of my test projects. It's testing a library that has a reference to a nuget package (specifically Microsoft.ApplicationInsights.AspNetCore) that is interfering with coverlet.core's dependency on Microsoft.Extensions.DependencyInjection.

I was able to reproduce the issue with a stripped-d

[2020-03-02 22:27] abe545 commented on #736
@MarcoRossignoli I was just thinking about this - what if the file *wasn't* generated if it already exists?  Right now, if the file doesn't exist, it will be rewritten one line at a time, and this seems particularly slow. I'm not entirely sure if I'm correct with this assumption, but it seems like that is just re-writing the data that already exists in the file... If it doesn't open the hits file

[2020-03-03 21:19] MarcoRossignoli commented on #751
I think your workaround is the only applicable at the moment...coverlet uses dependency injection libs https://github.com/tonerdo/coverlet/blob/master/Directory.Build.targets#L6-L8 https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/DependencyInjection.cs

But `Microsoft.ApplicationInsights.AspNetCore` reference a very old one

![image](https://user-images.githubusercontent.com/78940

[2020-03-03 21:27] MarcoRossignoli commented on #736
At the moment file is created if doesn't exists under a mutex https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Instrumentation/ModuleTrackerTemplate.cs#L86
But if file exists the new hit is "added" to existing files. This is needed because we could have more than one app domain(on .net framework) so we need to keep this behaviour(if I understood well what you mean).

[2020-03-03 22:22] #751 closed

[2020-03-04 15:05] abe545 commented on #736
If it is only needed for the full framework, we could skip it for .net core? And sorry, I didn't have time to test it yesterday, but will hopefully get a chance today.

[2020-03-04 18:55] MarcoRossignoli commented on #736
We should/could...and this is a concern to me...until today we did't differentiate two run...indeed my path does that if you take a look.

[2020-03-05 01:21] ravinsp commented on #730
Hi, we encountered similar issue after upgrading to coverlet.msbuild 2.8. Coverage being shown as partial for await statements. (similar behaviour with .Net core 2.2 and 3.1). We resolved it by downgrading back to coverlet.msbuild 2.7 which we were previously using without issues.
(Thanks for this great project btw)

[2020-03-05 09:50] Hjortsberg commented on #744
@MarcoRossignoli just a small update.
We quickly struck the bugs and strange behaviour (as you explained), now running with xplat and vstest instead and it now finds all tests (so far).
For anyone finding this issue, just go with Xplat/vstest straight away and save yourself some time. :)

[2020-03-05 09:54] MarcoRossignoli commented on #744
Thank's for reporting this.

[2020-03-05 14:15] agtenr commented on #730
We are also encountering this issue.
2.7 seems to work fine

[2020-03-06 00:32] ldcl289 opened #752 "Coverlet console + vstest runs, but generates cobertura.xml is empty"
Hi,

I'm working on a project that has a mix of c++ and c# projects, hosted on azure devops.
Both types with their own unit test, the C++ with gmock.
Since azure doesn't support vstest.console coverage result's, I'm looking for any workaround.
I have been trying coverlet to get the cobertura.xml that can be published into my pipelines.
But when I do it, it runs everything right, generates the .cov

[2020-03-06 07:10] MarcoRossignoli commented on #752
Hi @ldcl289,

coverlet can only cover .net core/.net framework app, so it doesn't work on c++ code.

At the moment is not supported for .net framework app https://github.com/microsoft/vstest/issues/2278

[2020-03-06 16:10] #752 closed

[2020-03-06 16:11] ldcl289 commented on #752
Thanks for your quick answer.
I will explore this when I have to enable the coverage for the c# projects.

[2020-03-07 14:21] IGx89 opened #755 "Show how to specify format on command line with VSTest integration"
Hello! The documentation appears to indicate that Format can be specified on the command line for the VSTest integration (see https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md#coverlet-options-supported-by-vstest-integration), but it provides no examples on how to do so and I've had zero luck figuring it out myself. Assuming that is indeed possible, would someone b

[2020-03-07 15:20] MarcoRossignoli commented on #755
Maybe the guide is not clear...I'll update removing that confusing section, it's not possible passing format through command line, the intent of guide was tell which is the default format it you don't specify a runsetting file.

[2020-03-07 15:24] IGx89 commented on #755
I was afraid of that, thanks! Our code analysis system (SonarQube) just supports OpenCover and dotCover reports, not cobertura, so that means we'll have to check in a runsettings file for every project. Not a big deal though, just annoying.

[2020-03-07 15:29] MarcoRossignoli commented on #755
I know and I agree, I'm in contact with vstest team to understand how to improve user experience, unfortunately vstest integration is the best one due to strict integration/coordination of workflow, but lacks of user-friendliness, sorry for that.

FYI @nohwnd we could try to improve this in some way(it's a past desire, right from the start of integration) I'm available to help on this side.

[2020-03-07 15:31] MarcoRossignoli commented on #755
@IGx89 you can share one in root test folder and pass it to `dotnet test`

[2020-03-09 16:13] sachithanandhampalaniswamy opened #756 "Code coverage by each file"
Request code coverage by each file name , this will help a lot

[2020-03-09 19:17] MarcoRossignoli commented on #756
Do you mean file filter like `ExcludeByFile` but for inclusion?

[2020-03-09 23:46] LittleCornerDev opened #757 "Mac MsBuild Error MSB3644: The reference assemblies for .NETFramework,Version=v4.x were not found."
I am attempting to use coverlet for a Xamarin.Forms project edited via VisualStudio on Mac.

When running `dotnet test /p:CollectCoverage=true`, I keep getting an error about missing .NETFramework references and a prompt to download.

`error MSB3644: The reference assemblies for .NETFramework,Version=v4.7 were not found. To resolve this, install the Developer Pack (SDK/Targeting Pack) for this fra

[2020-03-10 08:12] #730 closed

[2020-03-10 08:13] MarcoRossignoli commented on #730
Guys we fixed the bug...can someone give it a try using nightly build tomorrow? https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

Thank's a lot to all for the help!Really appreciated.

[2020-03-10 08:17] MarcoRossignoli commented on #757
Do you get same exception also without `/p:CollectCoverage=true`?
Have your tried with collector integration?  https://github.com/tonerdo/coverlet#vstest-integration-preferred-due-to-known-issue

[2020-03-10 16:00] zmhh commented on #730
Does nightly only work for the MSBuild package? The issue appears to remain the same using the example posted in the original post with the nightly "coverlet.collector" Version="1.2.36-g54e576f75d".

[2020-03-10 16:22] MarcoRossignoli commented on #730
Yep will be build at midnight...try tomorrow.

[2020-03-10 23:07] LittleCornerDev commented on #757
I get the same error with collector integration
`dotnet test --collect:"XPlat Code Coverage"`
and with just `dotnet test`.

It is an nunit C# project inside a Xamarin.Forms solution.

[2020-03-11 03:24] LittleCornerDev commented on #757
This issue and other reference errors I was having with my nUnit test project has led me to switching my nUnit project to one using .NET Core.  Dependency packages are now maintained via PackageReference in `*.csproj` instead of via `package.config`.  `dotnet test` is executing successfully now that it is no longer looking for frameworks.

For future reference of anyone else who comes across this.

[2020-03-11 08:50] MarcoRossignoli commented on #757
Ok understood it's not an issue related to coverlet you should open an issue on repo https://github.com/microsoft/vstest/issues

[2020-03-11 08:50] #757 closed

[2020-03-12 21:13] senox13 opened #758 "Code of Conduct is missing email address"
As the title says, the file `CODE_OF_CONDUCT.md` is missing the contact email of the project team in the second to last section, titled Enforcement. The first paragraph still has the placeholder `[INSERT EMAIL ADDRESS]` from the Contributor Covenant template.

[2020-03-13 08:19] MarcoRossignoli commented on #758
Thank's for reporting this.

Hi @senox13 at the moment we don't have a team mail.
Ask to @tonerdo(owner) what he thinks about.

@senox13 if you need to report something important in private mode feel free to contact me with twitter DM or gitter private chat.

[2020-03-13 14:45] #559 closed

[2020-03-16 03:19] captainjono opened #759 "Does not work on full framework projects"
In practice, it seems like coverlet is only compatible with analysing .net core projects? Could someone please confirm the current compatibility of Coverlet with respect to this bug https://github.com/microsoft/vstest/issues/2278

And update the project start page to reflect this would be great. I am trying to implement this on a .net full project, by calling vstest.console.exe directly with

[cod

[2020-03-16 15:29] Shkeeny opened #760 "Coverlet doesn't track coverage of method with a LINQ query in an if statement"
When a method has a LINQ query in an `if` :
[code]
We get a result in the code coverage, that looks something like this:
![image](https://user-images.githubusercontent.com/23721921/76773110-99c2c080-67aa-11ea-9a74-83c368c49e1e.png)

But if we extract the query to a variable, it seems to work fine:
![image](https://user-images.githubusercontent.com/23721921/76772958-641dd780-67aa-11ea-9697-4075896b

[2020-03-16 16:19] zmhh commented on #730
Using nightly version 1.2.38-g34d6dc5ff6 and the example given in the original post, the issue seems unchanged.

[2020-03-16 16:49] NPadrutt commented on #759
I have the same issue on TeamCity.

[2020-03-16 17:22] MarcoRossignoli commented on #730
Glad to hear!

[2020-03-16 21:52] nheath99 opened #761 "Instrumenting ASP.NET Core Views.dll takes >20 minutes"
On both Azure DevOps and GitHub Actions I am coming across the same issue. Since upgrading to ASP.NET Core 3.1, calling the following code takes over 20 minutes to execute, and will often cause the build to fail due to timeout:

````dotnet test --configuration Release /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:Exclude="[ActionsTest.Views.dll]*%2c[xunit.*]*"````

The Solution cont

[2020-03-17 07:38] MasterS4683 commented on #654
I am also using the .net core 3.1, test coverage file is not getting generated please help/guide me for the same.

[2020-03-17 08:08] MarcoRossignoli commented on #654
@MasterS4683 can you open I new issue and attach if possible your csproj test file and your commandline?Until now you can take a look at our hello world guide https://github.com/tonerdo/coverlet/tree/master/Documentation/Examples/VSTest/HelloWorld

[2020-03-17 08:25] anaether commented on #654
@MarcoRossignoli The example is complete different. It uses netstandard2.0 but .net core 3.1 dont supports netstandard2.0

[2020-03-17 08:28] MasterS4683 commented on #654
Yes I understood, needed guidelines for it, but the problem got resolved by adding the package of coverlet.msbuild. Then it got generated.

[2020-03-17 08:43] MarcoRossignoli commented on #654
netstandard2.0 is supported by .net 3.1 https://docs.microsoft.com/en-us/dotnet/standard/net-standard#net-implementation-support

netstandard is not a runtime but only an api signature implemented by runtimes.

[2020-03-17 08:45] MarcoRossignoli commented on #654
You should use coverlet collectors https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md because other way suffer some known issue https://github.com/tonerdo/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test

[2020-03-17 08:58] MarcoRossignoli commented on #759
Yes the collectors version of coverlet at the moment is supported only for .NET Core app and not for .NET Framework, I'm waiting some answer from vstest team to understand if move to netstandard is ok or no(I think it's possible but I need confirmation), because collector was written by vstest team not by us.

[2020-03-17 08:59] MarcoRossignoli commented on #759
dup of https://github.com/tonerdo/coverlet/issues/705

I'll update documentation asap.

[2020-03-17 08:59] #759 closed

[2020-03-17 09:01] MarcoRossignoli commented on #759
@NPadrutt @captainjono for now the unique way to use coverlet for .NET Framework is https://github.com/tonerdo/coverlet#msbuild-integration-suffers-of-possible-known-issue and https://github.com/tonerdo/coverlet#net-global-tool-guide-suffers-of-possible-known-issue that suffer some known issue, but not all users hit the problem.

[2020-03-17 09:06] MarcoRossignoli commented on #760
Possible dup of https://github.com/tonerdo/coverlet/issues/730
Can you try with our nightly build to understand if bug was fixed? https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2020-03-17 09:14] MarcoRossignoli commented on #654
Updated sample to 3.1 https://github.com/tonerdo/coverlet/blob/master/Documentation/Examples/VSTest/HelloWorld/XUnitTestProject1/XUnitTestProject1.csproj

[2020-03-17 09:26] anaether commented on #654
is coverlet also working with NUnit?

[2020-03-17 09:31] NPadrutt commented on #759
@MarcoRossignoli  Thank you! I found a blog post where he integrated it into teamcity via msbuild, so exactly what I was looking for and that worked.
https://medium.com/@justingoldberg_2282/setting-up-code-coverage-with-net-xunit-and-teamcity-for-a-solution-with-multiple-test-projects-5d0986db788b

[2020-03-17 09:31] MarcoRossignoli commented on #761
Some notes/question:

1) If  the app is .net core app you should use https://github.com/tonerdo/coverlet#vstest-integration-preferred-due-to-known-issue
2) Which version are you using?Because test dll should be excluded by design so it's strange that are in instrumented list https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md#coverlet-options-supported-by-vstest-inte

[2020-03-17 09:37] MarcoRossignoli commented on #654
Yep, coverlet simply instrument and gather hit information on code workflow, it's not related to any testing framework, it acts before and after tests.

[2020-03-17 09:42] MarcoRossignoli commented on #759
Glad to hear...and sorry, I think we will support .NET Framework...but I cannot update code without green light from vstest team so I'm blocked for now on it.

[2020-03-17 09:44] MarcoRossignoli commented on #759
TL;DR;

The issue is that we cannot load netcoreapp dll into .net framwork process because resolution fails, so the solution should be compile to netstandard so .net framework host(test host in this case) will load coverlet with no problem.

[2020-03-17 09:46] MarcoRossignoli opened #763 "At the moment coverlet collector integration does not work for .NET Framework app"
At the moment coverlet collector integration does not work for .NET Framework app, update documentation.

[2020-03-17 10:00] NPadrutt commented on #759
thanks @MarcoRossignoli. Your effort is greatly appreciated! :)

[2020-03-17 10:01] MarcoRossignoli commented on #386
@clairernovotny I don't understand if coverlet has officially joined .NET Foundation or if we need to do something else.

[2020-03-17 12:46] Shkeeny commented on #760
Tried on version `2.8.38-g34d6dc5ff6`, still the same issue.

[2020-03-17 14:43] MarcoRossignoli commented on #760
Debug or Release config?

[2020-03-17 14:43] MarcoRossignoli commented on #760
cc: @matteoerigozzi

[2020-03-17 19:55] #763 closed

[2020-03-17 21:13] nheath99 commented on #761
1. Ok I am using coverlet.collector now.
2. v1.2.0 (latest). I was using v2.8.0 (latest) of coverlet.msbuild
3. When I use `/p:Exclude="[ActionsTest.Views.*]*` with coverlet.collector I get a simple error with no explanation. When I use coverlet.collector without the `exclude` then it runs successfully, but hangs for 15 minutes saying `Starting test execution, please wait`. The next line is `A tot

[2020-03-17 22:13] NPadrutt opened #765 "Coverlet freezes test execution"
I have a Testset of around 10'000 Tests which I execute with the following command:

`dotnet test ASK.UnitTests.sln --configuration Debug --no-build --no-build -l "console;verbosity=normal" -a C:\Users\padruttn\Documents\git\ask\packages\xunit.runner.visualstudio.2.4.1\build\_common`

Now I wanted to add code coverage to that so I modified the command to the following:

`dotnet test ASK.UnitTests.

[2020-03-18 01:58] sachithanandhampalaniswamy commented on #756
Can you show code coverage by file like NPM or yarn does please.

[2020-03-18 09:06] MarcoRossignoli commented on #756
Ah ok now I understand what you mean, coverlet goal is to generate a coverage file is not a coverage report tool for that functionality there are better tool for instance:

ReportGenerator(my choice) https://github.com/danielpalme/ReportGenerator
https://coveralls.io/
https://codecov.io/

and other.

[2020-03-18 09:08] NPadrutt commented on #765
I should maybe add: during this time the whole server is spinning on 100% CPU for the whole time. SO not sure if there is a loop or something here?

[2020-03-18 09:14] MarcoRossignoli commented on #761
Can you attach your error?

The run with coverage will be always more slow, because coverlet instruments code injecting a call to register a hit(means I passed here) for every line and every branch, so if your test has got loops every one will run slowly because more code will be executed.
For instance take a look to this similar issue https://github.com/tonerdo/coverlet/issues/511#issuecomment-51

[2020-03-18 09:27] MarcoRossignoli commented on #765
First of all why not simply?
`dotnet test ASK.UnitTests.sln --configuration Debug --no-build -l "console;verbosity=normal"`
Is that adapter path mandatory?

BTW

Interesting...never seen something like that, can you please try to enable only 1 test for every project test once a time I mean run coverage for one csproj test at time, we need to understand if you've some code that lead coverlet instru

[2020-03-18 10:51] NPadrutt commented on #765
Fair question ;) I think I can scrap that one. I saw that in a tutorial and I wasn't sure at one point if xUnit Tests are discovered correctly so I added that one as well. But that should be optional and in that context not needed.

I just tried `/p:SingleHit=true ` and it seems to do the trick! With that it runs through completly :) thank you very much :)

As far as I understand it, that just mea

[2020-03-18 11:07] MarcoRossignoli commented on #765
Yes is counted only one time, it's not a default because by default the number of time you pass through a line or a branch is an index of "good coverage" I mean more test cover that line better was(should clearly this is only a number) the testing.

You could understand which project is so slow and pass single hit only to that to have better number...but it depends on your strategy and on the kind

[2020-03-18 13:32] NPadrutt commented on #765
I see, thanks! I will keep that in mind for some future improvements :)

Thanks again for your support and work!

[2020-03-18 21:35] nheath99 commented on #761
1. My mistake, it was a typo (I missed the final quote `"`)
2. Yes I was aware of this, I was just surprised that the length of time to cover a ASP.Net core 3.1 was significantly higher than before, and other .net core projects - I do not have many loops or particularly slow code, maybe I can have a look at this in the future.
3. Yes you are right, I get the expected coverage file at the end.

PS

[2020-03-18 21:35] #761 closed

[2020-03-19 07:15] idg10 opened #766 "Selecting cobertura output causes coverlet to think there are no modules"
Obviously, this issue doesn't affect all projects, as otherwise you'd have noticed before...

We have exactly one project that exhibits this problem. It's open source, so you can try it yourself. Here are the steps:

1. Clone https://github.com/corvus-dotnet/Corvus.Extensions.Newtonsoft.Json
1. `cd` into the `Solutions` folder
1. If you have .NET Core SDK 3.1.200 installed, you'll need to set an e

[2020-03-19 08:20] idg10 commented on #766
I've now run both these builds with verbose logging enabled, and when the `/p:CoverletOutputFormat=cobertura` option is present I see an extra line of output from the `Coverlet.MSbuild.Tasks.InstrumentationTask`. Here's the output when using the default format:

[code]

And here's what I see when

[code]

The `Nullable` NuGet package enables the use of the attributes associated with C# 8.0's Nulla

[2020-03-19 08:57] idg10 commented on #766
So it looks like this is something you've seen before: https://github.com/tonerdo/coverlet/issues/714#issuecomment-579704498

[2020-03-19 09:01] NPadrutt commented on #765
Unfortunately I have to reopen this.. I actually didn't reactivate coverage in the config (stupid me..).

Can you tell me how you made that performance profile in the comment you linked?

[2020-03-19 09:52] idg10 commented on #766
A weird new discovery: it turns out that if I run this command repeatedly:

[code]

then it alternates between the right and wrong behaviour!

This appears to be an artifact of the way the `IncrementalClean` target in the SDK's `Microsoft.Common.CurrentVersion.targets` file works. It looks for an `obj\<config>\<framework>\<ProjectName>.csproj.FileListAbsolute.txt` file. Apparently this is a list o

[2020-03-19 11:11] idg10 commented on #766
Created https://github.com/dotnet/sdk/issues/10914 to report the alternating behaviour described in the preceding comment.

[2020-03-19 11:40] idg10 commented on #714
This filter:

`/p:ExcludeByFile="../NetFabric.Hyperlinq.Interfaces/*.cs%2c/**/NullableAttributes.cs"`

doesn't seem to work, because before ever inspecting that filter string, `Instrumenter.CanInstrument` will check that every source file for a module is present (with no reference to `ExcludeByFile`). Because of https://github.com/dotnet/sdk/issues/10914 we sometimes get into a situation where the

[2020-03-19 11:43] NPadrutt commented on #765
@MarcoRossignoli Alright, I was able to narrow it down a bit. Funny enough it wasn't a particular test case who was slow, but rather cover a certain project. So for me that is fixed for the moment. If you have any tipps how I could narrow that down in the future more efficently I'm very glad for every tipp :)

[2020-03-19 11:43] #765 closed

[2020-03-19 12:18] MarcoRossignoli commented on #765
Curiosity does that test do loops?

[2020-03-19 12:39] NPadrutt commented on #765
It wasn't a particular test. I had to exclude the DataAccess Project for coverage. Although I do not execute the DataAccess tests, it seems that other tests would try to cover the project. Once I excluded that one the coverage is running properly (although now with the thing in issue #347 ^^)

[2020-03-19 13:08] acgritt commented on #724
@MarcoRossignoli Any idea when a build with this fix will be pushed to NuGet?

[2020-03-19 13:58] MarcoRossignoli commented on #761
Thank's for patience and for using coverlet

Thank's we're fighting, we'll make it!

[2020-03-19 14:00] MarcoRossignoli commented on #765
ok thanks for quick response, have a nice day and stay safe!

[2020-03-19 14:01] MarcoRossignoli commented on #724
We should release at end of month https://github.com/tonerdo/coverlet/blob/master/Documentation/ReleasePlan.md#release-calendar

[2020-03-19 14:07] MarcoRossignoli commented on #714
Thank's @idg10 understood the issue, at the moment I don't have idea how to solve it.
We have to check if use a less aggressive check works well(check if all files are missing not only one).
I don't know if possible but are you able to create a repro?

[2020-03-19 14:13] MarcoRossignoli commented on #766
For now tracked as bug due to external issue, I mean It's unexpected that someone remove build source, it's expected that someone inject new sources that we need to skip.
This is a new scenario for coverlet.
As I've said we need to understand if we can be more relaxed on auto-exclusion.

Issue apart, if possible you should avoid msbuild integration and use collectors one https://github.com/tonerdo

[2020-03-19 20:23] DaleyKD opened #767 "Include Filter not Working when Part of Docker ENTRYPOINT"
When trying to use the `/p:Include` filter as part of a Dockerfile's ENTRYPOINT, it seems to be ignored.  However, when I run the same command directly inside the docker image, it works great.

The command ran directly in the image (working directory is `/app/test`):
[code]

Generates:
[code]

To run the docker image from Windows PowerShell:
[code]

Which in turn has an ENTRYPOINT like:
[code]

Ge

[2020-03-20 10:16] costin-zaharia-sonarsource opened #769 "Branch coverage is not completely exported in OpenCover format"
When using the **OpenCover** format (`--format opencover`) the `bec` (branch exit count) and `bev` (branch exit visits) are not populated and this will prevent other tools to properly read the branch coverage details.

**Current behavior:**

As far as I can tell these are hard-coded to `0`: https://github.com/tonerdo/coverlet/blob/0cc2548b27c6d7f030095d40d81517d4457fcc80/src/coverlet.core/Reporter

[2020-03-20 16:58] ssa3512 opened #770 "MSBuild: async method reports uncovered branch on opening bracket"
I have an async method that I am trying to test, and it is showing an uncovered branch on the opening bracket of the method. Using an async test, or a sync test calling the task's `.Result` property produce the same result.

.NET Core 3.1
Both coverlet.msbuild 2.8.0 and coverlet.collector 1.2.0 report the same missed branches

This seems like it could be related to #623 but that should be fixed wi

[2020-03-20 17:35] MarcoRossignoli commented on #770
Hi Steve,

can you try with our nightly build so we understand if we already fixed? https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2020-03-20 17:45] MarcoRossignoli commented on #769
Hi Costin, I didn't work on open cover report so at the moment I'm not an expert on the format, can you link some guide on these fields, the meaning?
If you already know how to fix feel free to propose a PR!

[2020-03-20 17:49] ssa3512 commented on #770
Yes, it looks like this is fixed in the nightly build. Sorry about that - should have tried that first.

[2020-03-20 17:50] MarcoRossignoli commented on #770
No worries, feel free to close.

[2020-03-20 19:32] #770 closed

[2020-03-21 09:47] MarcoRossignoli commented on #767
If your app is a .NET core app you should use collectors, I also saw that you're using RabbitMQ one of the reason to use collectors because we found cases when rabbit shutdown fires known issue https://github.com/tonerdo/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test

If you use collectors with runsettings file you shouldn't have problem with qu

[2020-03-21 23:03] costin-zaharia commented on #769
Hi @MarcoRossignoli

You can find my PR here: https://github.com/tonerdo/coverlet/pull/772

As far as I can tell OpenCover doesn't have documentation for their format but the code provides a lot of details 😄.

The code for the model which gets serialized can be found here: https://github.com/OpenCover/opencover/blob/94c7e572a907ac1873b8f48324d0cbc0cf1e7456/main/OpenCover.Framework/Model/SequencePo

[2020-03-22 05:18] #756 closed

[2020-03-22 09:29] #769 closed

[2020-03-22 11:23] #465 closed

[2020-03-22 15:40] MarcoRossignoli opened #774 "Change `CecilSymbolHelper` as instance class and inject with DI"
We don't like static stuff, we should avoid it, are not testable and more subject to race condition issues.
We should move `CecilSymbolHelper` to instance class extract an interface with only `GetBranchPoints` and `SkipNotCoverableInstruction` methods  and inject like other services.
We should remove static memebers https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Symbols/CecilSym

[2020-03-22 15:40] MarcoRossignoli commented on #774
cc: @daveMueller if you're interested.

[2020-03-23 18:15] Adam-RapidRTC opened #775 "The path is empty. (Parameter 'path')"
Having an issue generating the report. The project is SDK format but references older projects. When I run'

(actual paths omitted)
`dotnet test "....csproj" --configuration Release --filter Category!=IntegrationTest --logger:trx --results-directory "...\TestResults" --settings "....runsettings" /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:CoverletOutput="....Tests.cobertura.xml"`

[2020-03-24 08:00] MarcoRossignoli commented on #775
Hi Adam,

thank's for reporting this, can you try to generate a repro?

@daveMueller seem an issue here https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Reporters/CoberturaReporter.cs#L166 do you have some idea?

Warnings are ok...we cannot instrument dll without local source so they're expected.

[2020-03-24 11:23] WattsC-90 opened #776 "Coverlet report not generating for dotnet core project"
This appears to be a common ticket, so apologies if you roll your eyes and point me to an existing ticket..

I am running this in TeamCity:

[code]

in the build log, it is clearly generating the correct output (unfortunately have to show a partial screenshot due to this being work code *sigh*..)

![image](https://user-images.githubusercontent.com/10712792/77420258-a013f680-6dc1-11ea-896b-b6d66d84

[2020-03-24 16:05] MarcoRossignoli commented on #776
No probs, welcome to coverlet repo,

out implementation of teamcity is based on service message https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Reporters/TeamCityReporter.cs

https://www.jetbrains.com/help/teamcity/build-script-interaction-with-teamcity.html#BuildScriptInteractionwithTeamCity-Reporting.NETCodeCoverageResults

[2020-03-24 16:13] WattsC-90 commented on #776
ahh ok, so the way to get the full reporting in would be to use multiple formats?

[2020-03-24 16:16] MarcoRossignoli commented on #776
Yep...if you're using .NET core app you should use vstest plat integration https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md because other way suffer of known issues https://github.com/tonerdo/coverlet/blob/master/Documentation/KnownIssues.md

[2020-03-24 16:20] WattsC-90 commented on #776
Ok, thanks for the info.. bit unclear though with regards to:

can that be used in addition to the output format flags/properties above?

[2020-03-24 16:22] MarcoRossignoli commented on #776
No no it's a complete different way to do coverage, coverlet is used through three "drivers"  msbuild(your way), .net tool and vstest integration.
Vstest integration is the most reliable(due to some test plat behaviour), so you should use the new way, take a look at our hello world sample https://github.com/tonerdo/coverlet/tree/master/Documentation/Examples/VSTest/HelloWorld

[2020-03-24 16:25] MarcoRossignoli commented on #776
`runsetting.xml` is the way used by vstest platform to pass parameters in https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md#advanced-options-supported-via-runsettings

[2020-03-24 17:31] katiekloss opened #777 "Slow instrumentation for a large project"
I'm setting up coverage for a project with about 1.2 million lines of VB.NET code, which compiles to a 24 MB assembly and 48 MB PDB in debug mode. It takes the global tool (version 1.7.0) about 75 minutes to instrument the assembly, which is understandable but not ideal for our build process.

Are there any options I can try to improve instrumentation performance, or is this to be expected from tr

[2020-03-25 08:33] MarcoRossignoli commented on #777
How you can get this numbers?Have you run `/pp`?
Are you talking about `instrumentation phase` or all tests run?

[2020-03-25 14:51] katiekloss commented on #777
I used `--verbosity detailed` and checked in periodically to see when it logged that the assembly was instrumented.

Is that an MSBuild flag? I'm using the NUnit test runner as the coverlet target, not `dotnet test`.

Just instrumentation phase. The actual tests only take a few seconds longer to run with coverage, surprisingly enough.

[2020-03-25 15:09] MarcoRossignoli commented on #777
Can you use it and `> out.txt` you'll get Tasks stats and timing from here we can understand how coverlet tasks consume times.

Yes it's strange we had issues with log test runtime due to instumentation of loops and consequent more code to run, but never had issue with `instrumentation` phase.

[2020-03-25 15:10] NPadrutt opened #779 "Data Collector not found when executed over a solution file"
Since my coverage collection via MSBuild crashes from time to time I try to switch my build to collection via the test collector. I use the following command:

When I navigate to the csproj of a test project I can execute the following command and get a coverage result:

`dotnet test --collect:"XPlat Code Coverage" --no-build`

However when I try to execute that over my solution file it seems that

[2020-03-25 15:38] NPadrutt commented on #779
On further investigation it seems that this message is actually not for a test project but probably for a helper project. The coverage is calculate correctly. I'm sorry for the false alert! :)

[2020-03-25 15:38] #779 closed

[2020-03-25 18:13] MarcoRossignoli commented on #779
No probs

[2020-03-25 20:15] katiekloss commented on #777
Here it is: [out.txt](https://github.com/tonerdo/coverlet/files/4383303/out.txt)

It looks like there was an exception while generating the coverage report, but it does show that the run took 98 minutes and only 25 seconds was spent running the tests.

[2020-03-26 15:39] ashleybeshir opened #780 "Object reference not set to instance of a object error"
Hello,
we have multiple projects that are very similar but it seems on some of the projects when trying to run coverlet i get this error in the title. Object reference not set to instance of a object error. The error comes from "\coverlet.msbuild.target(7, 5): warning : [coverlet] unable to instrument module: *non test project name* because: Object reference not set to instance of a object error"

[2020-03-26 16:37] MarcoRossignoli commented on #780
Can you try with vstest integration and upgrade to last version `1.2.0` https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md

[2020-03-26 20:16] tonerdo commented on #386
One final thing we have to do is add coverlet to the .net foundation repo so it'll show up on their website

[2020-03-26 20:17] tonerdo commented on #386
Also looking into setting up CLA license

[2020-03-26 20:29] MarcoRossignoli commented on #386
Could be great add CLA license, I can open a PR to .net foundation

[2020-03-26 21:18] jakubch1 opened #781 "Add possibility to run coverlet in standalone mode"
It would be great to run coverlet without any tests and collect code coverage for application. What I mean here is to for example having console application, instrument it and then start it (without any vstest or anything). When application finishes collect code coverage.

For example:
Let's assume we have app.exe and references of it ref1.dll and ref2.dll
It would be good to be able to
1) instrum

[2020-03-26 21:30] jakubch1 opened #782 "Is existence of sources necessary for coverlet?"
Coverlet instruments only binaries for which sources can be found on disk. Is this hard dependency? In some CI scenarios build is happening on 1 machine but tests execution on another machine where sources are not available. If sources existence is just used to filter not relevant binaries can we have some option to turn off this check?

[2020-03-27 11:37] ashleybeshir commented on #780
Hey Marco,
i did what guide said and tried both dotnet test / vstest . The error is not their anymore but the generated code coverage file is a empty xml ? we have loads of test in the file . so their should be code coverage. the test and normal project target netcore 3.1 only . dont know if that would help

[2020-03-27 12:28] MarcoRossignoli commented on #780
Can you share you test project csproj and the command line you used?Is the project open source?

[2020-03-27 14:21] MarcoRossignoli commented on #782
Yep because when coverlet needs to save the mapping between the "candidate" hits and the sequnce point/branch in code

https://github.com/tonerdo/coverlet/blob/4c1cdf9ee976a869d9a7c426749b600afa8899ea/src/coverlet.core/Instrumentation/Instrumenter.cs#L496-L558

In this scenario the source is needed only on build/instrument phase, after that the instrumented dll can be moved everywhere, but the "in

[2020-03-27 14:24] MarcoRossignoli commented on #782
cc: @tonerdo

[2020-03-27 14:57] DaleyKD commented on #767
Marco,

That does appear to work better.  However, there's one major issue that affects me changing over:

I can't seem to change the output directory of the reports.  It uses the results-directory, but always puts it in a subfolder.  That's not working with my Azure build pipeline.

[2020-03-27 15:08] DaleyKD commented on #767
Yeah... looking at the code, it seems that collector uses `AttachmentManager` without letting me set the `reportDirectoryName`.  Putting it in the Guid.NewGuid() folder doesn't work for me.

[2020-03-27 15:33] MarcoRossignoli commented on #781
Some notes:

To me this is not doable, in past coverlet registered hits on file directly for every call, but it was very slow so we moved to in ram book in a int array and at the end we flush to disk, so I think that send coverage for every hits realtime won't work well, think for example a loop that would send n hits for every cycle, it was slow on file, I think will be worst with network, BTW I

[2020-03-27 15:42] MarcoRossignoli commented on #767
Unfortunately we cannot change that at the moment is a vstest plat behaviour https://github.com/tonerdo/coverlet/issues/500#issuecomment-531732346

[2020-03-27 15:56] MarcoRossignoli commented on #781
@jakubch1 one question, it's not clear to me how do you see "the server side part" that receive the hits:

Is implemented in coverlet like a command that stay up on a port until some signal?
Is a model exposed by coverlet and used by server?

[2020-03-27 20:38] DaleyKD commented on #500
Could you explain why that's not "removable?"  You have a constructor that takes that directory as a parameter, and in your default ctor, you use Guid.NewGuid().ToString().

While I understand you can't perfectly replicate the behavior of the .MSBuild, why not check to see if a property has been set in the .runsettings for the outputSubDirectory, and let it be **something static**.  Not having any

[2020-03-27 20:40] DaleyKD commented on #767
Go ahead and close this, then.  I'm glad you consider this a known issue, but it's not documented very well, if at all.

[2020-03-27 20:45] MarcoRossignoli commented on #500
@DaleyKD I think that the right place to ask for this is  vstest repo https://github.com/microsoft/vstest/issues

[2020-03-27 20:49] MarcoRossignoli commented on #767
The home page report vstest integration the best and preferred way to use coverage, what do you think we can do to better explain that?
Please let me know how we can improve documentation!

[2020-03-27 20:53] DaleyKD commented on #500
@MarcoRossignoli : Please forgive me, I'm not trying to be obtuse.

Why can't you just use the other constructor for `AttachmentManager` here in `CoverletCoverageCollector` and pass in a setting (you'll have to create it) that you get from `RunSettings`?
![image](https://user-images.githubusercontent.com/7206282/77799537-08253f80-7043-11ea-842f-c85fe207843d.png)
My proposed solution has nothing (t

[2020-03-27 20:58] MarcoRossignoli commented on #500
That guid is added by vstest platform, that class is only a wrapper that send file to vstest platform, is vstest platform that write file and log to console file path. We have to follow vstest collector "protocol" otherwise future update on vstest platform could conflict with our custom behavior.

[2020-03-27 21:11] MarcoRossignoli commented on #500
That class doesn't persist file...send only report stream to vstest plat through sink. This is the specs to implement a correct collector. This collector was written as by MS vstest team not by us.

Why not simply update CI and move file where you want at the end of coverage test?

[2020-03-28 08:00] MarcoRossignoli commented on #500
@DaleyKD this is the place inside vstest where that guid is added to final path

https://github.com/microsoft/vstest/blob/master/src/Microsoft.TestPlatform.Common/DataCollection/DataCollectionAttachmentManager.cs#L101-L125

That guid is always added at the end.

[2020-03-28 08:50] MarcoRossignoli commented on #777
Thank's for artifact, I'll take a look asap.

[2020-03-28 08:54] MarcoRossignoli commented on #775
@Adam-RapidRTC  despite bug, can you try with collectors you already use runsettings, vstest integration is the better way to consume coverlet at the moment https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md

[2020-03-29 13:40] MarcoRossignoli commented on #386
@tonerdo project added https://github.com/dotnet/foundation/pull/173

[2020-03-29 13:47] MarcoRossignoli commented on #780
Can you also enable logging https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration and share if possible, here or on a private github repository, because logging could expose sensitive data.

[2020-03-29 13:58] MarcoRossignoli commented on #777
@katiekloss one question, in your sample do you get output report file?Because on you output I see an exception very similar to https://github.com/tonerdo/coverlet/issues/775 that I'm investingation, also I cannot see coverlet expected tasks. I ran same command on our simple project and here I found expected timing tasks
[code]
[out.txt](https://github.com/tonerdo/coverlet/files/4399010/out.txt)

[2020-03-29 16:06] MarcoRossignoli commented on #775
@Adam-RapidRTC can you try to run in debug mode and tell me if the issue is still present?
I found the place of the issue, btw I'd like to understand how it's possible, seem that pdb for some project reports empty path file.
We can fix this particular issue inside report generation, but I'd like to understand why that empty path exists.

Are you able to create a small repro?

[2020-03-30 14:32] Adam-RapidRTC commented on #775
@MarcoRossignoli I will see if I can carve out some time today and create a sample repo that recreates the problem.

[2020-03-30 19:44] MarcoRossignoli commented on #775
Thanks a lot!

[2020-03-30 19:55] clairernovotny commented on #363
Any update on this one? We're trying to push more assemblies to be deterministic and it's breaking coverlet

[2020-03-30 20:00] clairernovotny commented on #363
What if we check to see if the pdb is alongside the DLL and not rely on the path from the pdb file?

[2020-03-30 22:24] clairernovotny commented on #363
Proposal:

1. Short term: Only coverlet.collector or coverlet.msbuild will support DeterministicSourcePaths. It can do so by adding a target that writes the PathMap's to the output directory alongside the target dll's. This target may need to be added at the Directory Props level to work, next to the Source Link reference.
2. Better: SourceLink / the SDK writes this out built-in.

In both cases, b

[2020-03-30 22:56] clairernovotny commented on #363
Bad workaround: Split the build/test into two passes.

1. Build/Pack whatever is needed using deterministic settings
2. In the test invocation run `/t:rebuild /p:ContinuousIntegrationBuild=false` to force a binary rebuild of the test project and its dependencies without the source paths being messed up.

[2020-03-31 07:17] MarcoRossignoli commented on #363
@clairernovotny thank's a lot for the ideas, your first short term idea was one in my mind, I was waiting @tmat opinion on it to understand if there are better choice to avoid to waste time on "suboptimal" implementation.

This should be done at the end.

[2020-03-31 18:20] jakubch1 commented on #782
Sequence point/branch stuff is coming from pdbs through Cecil  if I understand it correctly. We are using path to source file but we are not reading the source file. I can be wrong here. I think we can test it by removing all code from file before instrumentation.
Does Cecil need source files?

[2020-03-31 19:35] MarcoRossignoli commented on #782
Yes correct we read file path and check if present in local https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Helpers/InstrumentationHelper.cs#L122

No Cecil inspect and instrument IL and support portable pdb reading.

Yes, we don't need sources on "test server" but only instrumented dll, if I understood well your question.

[2020-03-31 19:39] MarcoRossignoli commented on #782
Maybe I wasn't clear, we don't need sources on "test server" so this workflow will work

1) Instrument dll
2) Send dll to a server and run `dotnet vstest`(I think we use it if we don't have csproj)
3) Running test send hits to server(thank's to instrumented dll, tracker will connect to server and send hits)
4) Server calculate coverage when it wants

[2020-03-31 20:21] MarcoRossignoli commented on #363
Some notes
https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/MSBuildTask/MapSourceRoots.cs

[2020-03-31 21:51] clairernovotny commented on #363
I’ve put together a sample showing how to get the path mappings per referenced project:

https://github.com/clairernovotny/DeterministicBuilds/tree/retrieve-pathmap

Here’s what to look for:
-	https://github.com/clairernovotny/DeterministicBuilds/blob/retrieve-pathmap/Directory.Build.targets#L12-L22
o	Workaround target that needs to be in a Directory.Build.targets file. This returns the Source Roo

[2020-04-01 14:53] daveMueller commented on #775
Yes seems the ```CoverageResult``` has a ```Document``` with a empty path. I could add a check for this but I'm not sure if the ```CoberturaReporter``` is the right place for this.
I guess the other reporters could also have a problem with such a ```CoverageResult```.
So @Adam-RapidRTC a repro would help a lot to tackle this issue.

[2020-04-01 15:03] MarcoRossignoli opened #785 "Update MacOS tests"
Upgrade lib and enable tests on MacOS https://www.nuget.org/packages/Tmds.ExecFunction/

https://github.com/tonerdo/coverlet/search?q=%5BSkipOnOS%28OS.MacOS%29%5D&unscoped_q=%5BSkipOnOS%28OS.MacOS%29%5D

[2020-04-01 18:45] MarcoRossignoli commented on #363
@clairernovotny something strange on test repo seem that some files are not in git index
[code]
I downloaded zip version, I get error
[code]
What am I missing?

[2020-04-01 19:04] clairernovotny commented on #363
Weird...I just did a fresh clone and checkout the branch and it worked for me?

[2020-04-01 19:24] MarcoRossignoli commented on #363
Thanks solved!

[2020-04-01 21:01] katiekloss commented on #777
Using the MSBuild package instead of the collector, I do get coverage results. The [performance summary](https://github.com/tonerdo/coverlet/files/4417616/out.txt) is attached; it appears that instrumentation and results take 110 minutes and 30 seconds, respectively.

[2020-04-01 22:25] clairernovotny commented on #758
CoC links shoiuld all go to the .NET Foundation conduct@dotnetfoundation.org.

[2020-04-02 07:27] MarcoRossignoli commented on #758
Thanks Claire!

[2020-04-02 15:27] Adam-RapidRTC commented on #775
@daveMueller @MarcoRossignoli - Sorry for the delay but I'll work on getting that demo repo up for you today.

[2020-04-02 15:38] MarcoRossignoli commented on #775
No prob no rush at your pace, thanks.

[2020-04-03 07:02] #758 closed

[2020-04-03 08:20] MarcoRossignoli commented on #777
Ok now we've task numbers, first time we have this kind of issue, I mean a very slow instrumentation time, we had in past issue with slow test run due to instrumentation and with `SingleHit` flag things went well.
To undestand what happen we should profile and understand where time is spent(cpu?GC?alg?).
At the moment we don't have that measure, I'll keep this issue open untile we'll find time to

[2020-04-03 08:32] civspan opened #789 "Cannot exclude tests in runsettings when using VSTest integration driver"
Hi!
We are using the VSTest integration driver (v1.2.0) to successfully generate a coverage.covertura.xml. Integrated it with MS DevOps, everything looks great. Now we want to exclude some files from our test report and we can't seem to get it to work.

We are running as follows:
`dotnet test --collect:"XPlat Code Coverage" --settings .\coverlet.runsettings`
and
`dotnet test --settings .\coverlet.

[2020-04-03 15:37] MarcoRossignoli commented on #789
I did some test on our test sample https://github.com/tonerdo/coverlet/tree/master/Documentation/Examples/VSTest/HelloWorld
[code]
[code]
Log
[code]
Can you enable logging `--diag:log.txt` and take a look at `log.datacollector.xxxxx.txt` file generated in the project folder?Search for `[coverlet]` trace and check if module are excluded or not.

[2020-04-03 21:58] tillig opened #790 "Multiple output formats fails using Linux MSBuild"
This isn't a problem with Coverlet but maybe something to add to the documentation.

If you want to specify multiple output formats, the docs say you need to escape the quotes around the formats

`/p:CoverletOutputFormat=\"json,cobertura\"`

so in MSBuild it'd look like

[code]

Unfortunately, [there's an issue with Linux MSBuild](https://github.com/microsoft/msbuild/issues/3468) that translates e

[2020-04-04 08:15] MarcoRossignoli commented on #790
Thank's Travis to reporting this!

[2020-04-04 16:38] MarcoRossignoli commented on #363
Plan
- [ ] msbuild support(wip https://github.com/tonerdo/coverlet/compare/master...MarcoRossignoli:deterministicbuild)
- [ ] collector support
- [ ] add new integration tests
- [ ] add workaround documentation

[2020-04-05 15:47] MarcoRossignoli opened #792 "Check if dll is already instrumented"
We should add a way to understand if dll is already instrumented checking for tracker presence and show a warning.
We should add a `version` to tracker(maybe core dll version) and show it as a warning when we skip double instrumentation.

[2020-04-05 17:42] qdraw commented on #725
I have the same issue on a Azure Devops pipeline. (vmImage: windows-2019)

Content of test project csproj
[code]
and
[code]

[code]

I'm using the following configuration to execute the test project (Cake)

[code]

I have tried the suggestion to append `-m:1`. This issue doesn't appear always on some builds it fails and on my local machine I don't have this issue.

Does anyone have a suggestion wh

[2020-04-06 11:34] civspan commented on #789
Thank you for your prompt response Marco.
We added the logging flag and the exclusion started working as expected right away. Very strange, but most welcome! I'm sure we did something wrong before but I have no idea what. I'll close this for now and if we detect the issue again I'll post it here.

Thanks again!

[2020-04-06 11:34] #789 closed

[2020-04-06 12:02] jakubch1 commented on #781
@MarcoRossignoli I will try to create something based on this what you said and I will see if this works. Maybe you are right that we don't need to have this inside coverlet. Basically people can develop what they need. Any other user asked for such thing?

During the call you said that sometimes there is issue that report is not generated because testhost process is terminated too fast. Do you ha

[2020-04-06 12:04] MarcoRossignoli commented on #789
Glad to hear!

[2020-04-06 12:21] MarcoRossignoli commented on #781
You(vstest old team) and some other users asked for standalone release of coverlet core features https://github.com/tonerdo/coverlet/issues/212(check thumbs up), this is an explorative PR https://github.com/tonerdo/coverlet/pull/628

Main issue https://github.com/tonerdo/coverlet/issues/210
VSTest issue https://github.com/microsoft/vstest/issues/1900#issuecomment-457488472
Some issues https://gith

[2020-04-06 12:41] Malivil opened #794 "Async methods excluded from coverage after updating to 2.8.1"
Using coverage format "OpenCover" and the coverlet.msbuild package
In version 2.8.0 an async method in my Web API class shows no coverage (because I haven't written tests yet):
![BeforeCoverage](https://user-images.githubusercontent.com/1238511/78559264-16f9b800-77e2-11ea-9809-3064f4fab7f2.png)

In version 2.8.1, the same method is just excluded from coverage entirely:
![AfterCoverage](https://use

[2020-04-06 15:11] #790 closed

[2020-04-06 15:15] MarcoRossignoli commented on #794
Do you have `ExcludeFromCodeCoverage` attribute somewhere?
Do you see missing coverage only for this method in source or for all method of same class?

cc: @matteoerigozzi

[2020-04-06 15:25] Malivil commented on #794
This class does not have `ExcludeFromCodeCoverage`
Only the two methods marked `async` are not showing coverage.

I will try to make a simple reproduction project. I'll comment here with the repo when it's complete.

[2020-04-06 15:36] MarcoRossignoli commented on #794
Ok thanks a lot!

[2020-04-06 15:46] Malivil commented on #794
Here's a repro with the minimum example: https://github.com/Malivil/CoverletAsyncRepro
If you run the .bat file within the .Tests project it will generate a report in the TestResults folder

Changing the version in the .Tests csproj to 2.8.0 and then re-running the .bat will show the function as uncovered as it should.

[2020-04-06 15:57] MarcoRossignoli commented on #794
Great, stay on `2.8.0` for now I'll come back asap.

[2020-04-07 05:46] dannyBies opened #797 "Cyclomatic complexity at method level is missing"
I'm trying to generate a report showing the Cyclomatic complexity of my methods, unfortunately the complexity is always empty:
![image](https://user-images.githubusercontent.com/3967506/78633883-c627b380-78f6-11ea-8cc3-997021b534b2.png)

In my coverage.cobertura.xml I can see that the complexity is calculated on the class level but not a method level:
[code]

I was looking through the source code

[2020-04-07 07:32] MarcoRossignoli commented on #797
Hi @dannyBies than's for reporting this.
I think it's a missing piece right from the start, I don't know why(I started to work on coverlet after that).
Would you like to provide a PR ti fill the gap?No obligated at all.

cc: @tonerdo

[2020-04-07 09:10] bengoymer commented on #794
Hi there,

I've also noticed this issue recently, it appears to be something to do with the `/p:ExcludeByAttribute=CompilerGeneratedAttribute` part, as removing this will cause the coverage to be successfully reported. Thanks for the tip of going back to 2.8.0 as that also solves the issue for now.

[2020-04-07 10:24] MarcoRossignoli commented on #794
@Malivil can you confirm that removing `/p:ExcludeByAttribute=CompilerGeneratedAttribute` solve the issue?

[2020-04-07 10:28] bengoymer commented on #794
@MarcoRossignoli I feel that I need to clarify; athough removing the argument appears to solve this issue, it will cause all our auto-implemented properties in our DTOs to record no coverage without being explictly tested, which we did not have to do prior to 2.8.1.

[2020-04-07 10:32] MarcoRossignoli commented on #794
@bengoymer yes I mean this is a bug but if we know that is related to that parameter we can fix more fast.

[2020-04-07 10:34] bengoymer commented on #794
@MarcoRossignoli perfect, thank you.

[2020-04-07 10:45] MarcoRossignoli commented on #794
@bengoymer can you try to remove that param and filter out DTO using source file filtering(if DTO are in separate files)?
https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md#source-files

[2020-04-07 10:59] bengoymer commented on #794
@MarcoRossignoli yes, just done that. If I filter out the DTOs using the source file filtering, and remove ExcludeByAttribute the coverage of the async functions is as I'd expect.

[2020-04-07 11:14] dannyBies commented on #797
I've opened a PR with the fix + test validation.

[2020-04-07 11:40] Malivil commented on #794
@MarcoRossignoli Removing that exclude does fix this issue. The reason I had that was mostly to exclude generated property Getters and Setters.

[2020-04-07 11:43] MarcoRossignoli commented on #794
@Malivil sorry I wasn't clear, this is only to confirm that the issue disappear if you remove that attribute for those async method, it won't fix the issue it's to have a double confirmation on where issue could be.

[2020-04-07 11:49] Malivil commented on #794
@MarcoRossignoli I understand. I was just adding clarity as to why I had it there in the first place =)

[2020-04-07 12:07] MarcoRossignoli commented on #794
So if you remove that attribute you see async methods uncovered yet?

[2020-04-07 12:08] Malivil commented on #794
Yes, removing the attribute exclude shows the async methods as being uncovered, that's what I meant when I said it "[fixed] the issue". Sorry for not being clear =)

[2020-04-07 12:14] MarcoRossignoli opened #799 "Improve coverage for edge cases"
Take a look at @sharwell comment here https://github.com/dotnet/roslyn-analyzers/pull/3478#issuecomment-609793303

[2020-04-07 14:42] jakubch1 commented on #781
I want to try to build something on top of coverlet to check that it allows to replace stuff correctly with different implementation.

I don't understand this. Msbuild integration is internally running vstest so what is the issue?

If I understand correctly this works only for .net Core. So suggestion to use shared memory between OutProcCollector and testhost is still valid. I was checking other t

[2020-04-07 14:49] MarcoRossignoli commented on #781
The issue is that with msbuild version the flush of hits to file is done on process exists and with collectors is done by in-proc collector, so if during process exits vstest plat kill host process msbuild version doesn't flush file correctly.

At the moment yes...because I don't know why collectors wasn't compiled as netstandard2.0 by @vagisha-nidhi , but will support also netframework if we'll c

[2020-04-08 05:58] dannyBies opened #800 "Branch coverage is not showing the correct number"
I have two different situations in which I believe the reported coverage is incorrect. Please let me know if this is the expected behaviour and if/how I could get these branches covered.

**Situation 1:**

![image](https://user-images.githubusercontent.com/3967506/78748760-ec198a80-79c0-11ea-8689-18e7aa945df2.png)
[code]

I would have expected line 118, 119 and 120 to show coverage as well just li

[2020-04-08 06:55] MarcoRossignoli commented on #800
Which version/driver are you using?

[2020-04-08 07:31] dannyBies commented on #800
.NET Core sdk v3.1.201
coverlet.collector v1.2.1
coverlet.msbuild v2.8.1
Microsoft.NET.Test.Sdk 16.5.0
xunit v2.4.1
xunit.runner.visualstudio v2.4.1

[2020-04-08 07:42] MarcoRossignoli commented on #800
Ok seem an issue on instrumentation, can you try to create a simple repro?

[2020-04-08 08:01] dannyBies commented on #800
I've tried running ``` /p:CollectCoverage=true ``` and ```--collect:"XPlat Code Coverage"```. Both have the same issue.

Trying with version 2.8.0 and 1.2.0 does not fix the issue.
Downgrading to 2.7.0 and 1.1.0 resulted in:
![image](https://user-images.githubusercontent.com/3967506/78759244-779c1700-79d3-11ea-92d4-49854cdbc198.png)

which seems more reasonable. Even with the downgrade situation 2

[2020-04-08 08:20] MarcoRossignoli commented on #800
Thank's

[2020-04-08 09:18] dannyBies commented on #800
I've tried to create a repro at https://github.com/dannyBies/CoverletIssueRepro. Unfortunately it doesn't seem like I can get the issue to appear and I'm not sure why.

[2020-04-08 09:47] MarcoRossignoli commented on #800
Ok np thank's a lot for your time/help, very appreciated!

[2020-04-09 06:16] viceice commented on #794
Seeing this too, workaround:

[code]

[2020-04-09 08:17] #797 closed

[2020-04-09 08:47] MarcoRossignoli commented on #794
@Malivil can you try the workaround(temporary) and tell me if it works?

[2020-04-09 10:06] jakubch1 commented on #781
We had internal discussion with code coverage experts regarding this. We believe coverlet should use shared memory between testhost and out proc data collector and generate report inside out proc data collector. This is approach which is used in several code coverage solutions that we know. It fixes all issues with crush/fast kill of test host process.

[2020-04-09 10:20] jakubch1 opened #804 "Bad performance for roslyn project"
I was running performance comparison for roslyn tests projects. Results below. We were investigating why coverlet is much slower. You can clone https://github.com/dotnet/roslyn and retry this testing.

Few things that can be changed to improve performance:
1) initial instrumentation can be done in parallel for assemblies
2) review logic for probes and make minimal operations (definitely something

[2020-04-09 10:21] jakubch1 commented on #804
Script that you can use:

`$src = "C:\git\roslyn\src"

$projects = New-Object System.Collections.ArrayList
$nocc = New-Object System.Collections.ArrayList
$coverlet = New-Object System.Collections.ArrayList
$dynamic = New-Object System.Collections.ArrayList

function PerformTest($projectpath)
{
	Write-Output "Tests for: "
	$project = [System.IO.Path]::GetFileNameWithoutExtension($projectpath)
	$di

[2020-04-09 11:22] Malivil commented on #794
Where does that go? In the test .csproj?

[2020-04-09 11:27] viceice commented on #794
@Malivil It depends on your usage. We use the `collector`, so we add this to the `runsettings` file.

[2020-04-09 11:34] Malivil commented on #794
We use the msbuild integration as shown in the test repo: https://github.com/Malivil/CoverletAsyncRepro

[2020-04-09 11:39] MarcoRossignoli commented on #781
Maybe I wasn't clear, we don't have any problem with collectors version of coverlet, it works as expected.

The problem is with msbuild version, where there is no control on process shutdown. I try to explain better the difference between msbuild and collectors(I call "driver" the way to use coverlet runtime, for instance msbuild is a driver, collectors is a driver) run:

1) msbuild

if you want t

[2020-04-09 11:43] viceice commented on #794
You need to add it to your test csproj.

https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md

[2020-04-09 11:54] MarcoRossignoli commented on #804
I know, we never worked on performance optimization, we kept focus on features/bug until now here some perf issue https://github.com/tonerdo/coverlet/labels/tenet-performance

As I've said here https://github.com/tonerdo/coverlet/issues/777#issuecomment-608298889 I have some idea on what to do, we have some points to improve:
1) for the instrumentation phase, parallelize and profile where we spend

[2020-04-09 11:56] Malivil commented on #794
That's what I thought.

@MarcoRossignoli: This workaround behaves the same as the command-line change which I think is expected.

[2020-04-09 12:26] MarcoRossignoli commented on #794
Not clear what you mean,  `/p:ExcludeByAttribute=Obsolete` for msbuild

[2020-04-09 12:33] Malivil commented on #794
Using that switch behaves the same as if I don't use `ExcludeByAttribute` at all. I don't have anything annotated with `Obsolete` so it has no affect.

[2020-04-09 13:02] MarcoRossignoli commented on #794
Yes the test was only to understand if we're excluding something generated by compiler and also with `Obsolete` and maybe the result could be a bit different. But ok thanks for help on investigation.

[2020-04-09 13:12] Malivil commented on #794
If I use `Obsolete`, `GeneratedCodeAttribute`, or a combination of both it does not exclude the async method. If I add `CompilerGeneratedAttribute` back in to either the switch or the test .csproj then it does exclude the async method again. So it seems to be narrowed to `CompilerGeneratedAttribute` specifically.

[2020-04-09 13:37] MarcoRossignoli commented on #794
Yep, my hope was find a temporary workaround with no version downgrade, but seem not possible at the moment.

[2020-04-09 14:01] jakubch1 commented on #781
When we can have a meeting? I can do it today after 7PM or next week Wednesday or Friday after 6PM.

[2020-04-09 15:41] clairernovotny commented on #363
The latest nightly I see for coverlet.collectors was published in March 30, I don't see one from last night?

[2020-04-09 17:10] MarcoRossignoli commented on #781
@jakubch1 sorry I read now, if you want I'm here...or ok for Wednesday after 6PM.

[2020-04-09 17:24] MarcoRossignoli commented on #363
Just pushed there was an issue with pushing and also after `2.8.1` release the order now is not preserved, btw this is the package https://www.myget.org/feed/coverlet-dev/package/nuget/coverlet.msbuild/2.8.1-g4e177f0c57

[2020-04-09 17:46] clairernovotny commented on #363
Maybe we should talk versioning....

For prerelease builds, I tend to use a preview tag.

In the version.json, you can use `2.8.2-preview.{height}` and that means that every build gets a new version. When you're ready to release, you can change it to `2.8.2`, do the release, then change it to `2.8.3-preview.{height}` again.

Another thing to consider is unifying the versions in the repo to make it

[2020-04-09 17:49] clairernovotny commented on #363
Also, I'm only using `coverlet.collector` and I only see a single version there:
![image](https://user-images.githubusercontent.com/1427284/78925162-f98a4f80-7a68-11ea-998a-906ad35878b2.png)

[2020-04-09 19:19] MarcoRossignoli commented on #363
Yes this is my idea, since nightly we didn't have minor update and it worked untile now, so that was an error, thanks.

I'm not sure about it...at the moment we have 3 drivers(.net tool,msbuild,collectors) and not all version supports all features, have single version could confuse users.

[2020-04-09 20:56] clairernovotny commented on #363
FWIW, I think it could be okay to keep drivers at the same version long as what's in each is documented somewhere. If they all tend to rely on an underlying core library, then that could be what drives the main version. Totally up to you though of course.

[2020-04-09 21:02] MarcoRossignoli commented on #363
Thank's for the advice, I'll think about cc: @tonerdo

[2020-04-09 22:33] xantari opened #807 "Xunit included in the code coverage"
Generating the code coverage runsettings file as follows:

[code]

When the report is created in Azure DevOps however, the xunit assemblies are included in the code coverage report. Why?

[2020-04-10 08:14] MarcoRossignoli commented on #807
Which version are you using?
Can attach your command line?
XUnit lib should be excluded by design, coverlet skip to instrument dll if source file is not on local.

[2020-04-10 10:35] MarcoRossignoli opened #808 "Rethink hits report strategy"
After a prolific talk with @jakubch1 we could try to change hits report strategy to solve mainly two issue:

1) On collectors side remove embedded coverlet code for in-process load inside vstest repo

Possible solution: we could change tracker to report hits in a shared memory open by out-of-proc data collector.

2) Be resilient in case of "fast kill" issue on msbuild driver https://github.com/ton

[2020-04-10 10:35] MarcoRossignoli commented on #782
@jakubch1 can we close this?

[2020-04-10 10:53] xantari commented on #807
Thanks for the help!

Here is the command that was run. Note, I was able to get rid of xunit finally. It seems this filter string was the key: "[xunit.\*]*"

Apparently this filter doesn't work: [\*]xunit*

This is our .csproj, it appears it is coverlet 1.0.1, my guess is I should upgrade that? Or is that filter of xunit assemblies more a function of the vstest version that runs in Azure DevOps?

[2020-04-10 11:02] MarcoRossignoli commented on #807
You should upgrade collector lib version to `1.2.0`(the `1.2.1` has got some regression we're fixing). Feel free to close if solved.

[2020-04-10 11:07] xantari commented on #807
Testing now...

[2020-04-10 11:14] xantari commented on #807
That appears to have fixed it.

Upgraded to 1.2.0 and removed the following filter from the runsettings:

[*]xunit*,[xunit.*]*

[2020-04-10 11:14] #807 closed

[2020-04-10 11:22] xantari commented on #807
Interesting. Whatever was done in 1.2.0 also allowed me to remove the FluentValidation exclusions (it was an external assembly I have no control over from nuget).

[2020-04-10 11:36] MarcoRossignoli commented on #807
Yes, coverlet by design skip dll(also that comes with package) for what you don't have source file(.cs) in local.

[2020-04-10 14:43] bignis commented on #781
I'll chime in with my use case that I think this Issue fits well with.

I maintain a web-based business application that doesn't have very many unit tests, but has plenty of automated tests through Selenium in a web browser.  I want to assess how well these Selenium web tests cover my business logic.

If I could instrument my binaries as @jakubch1 described, I could run the Selenium tests in a bro

[2020-04-10 15:00] MarcoRossignoli commented on #794
@Malivil  we did some check, actually the behaviour is correct, we fixed a bug where `CompilerGeneratedAttribute` wasn't honored, so now correct behaviour is to exclude class with that attribute and in your case every async state machine(autogenerated class by roslyn compiler for async methods) has got that attribute.
You cannot use that filter to remove autoprops from instrumentation anymore and

[2020-04-10 15:05] Malivil commented on #794
I cannot exclude the every file that has properties in it. Looks like I'll need to remove that exclude and have my coverage drop until #328 is complete

[2020-04-10 15:11] MarcoRossignoli commented on #794
Understood, for now feel free to close this issue, I'll move that issue up in queue.

[2020-04-10 15:13] #794 closed

[2020-04-11 09:29] MarcoRossignoli commented on #363
@clairernovotny nightly should be ok I tool a look at your Rx.NET repo and I prefer leave on version also commit id so users can do fast check without nbgv tool.

[2020-04-12 03:37] VenkateshSrini opened #809 "Coverlet is not considering the excludefromCoverage attribute at method level"
Hi,
I'm using the Coverlet to measure .NET core 3.1 Web API code coverage. I have used entity framework for creating by repository. There are some methods have anonymous object as return types and hence could not be unit tested. I want those methods to be alone excluded from coverage so I used [ExlcudeFromCodeCoverage] on those methods only. But Coverlet is not considering that at all and still ge

[2020-04-12 12:33] bert2 opened #810 "Uncovered branch in compiler-generated state machine for `yield return`"
The C# compiler generates a state machine for each method that uses the `yield return` syntax. Unfortunately this state machine contains a branch that will never be visited by the execution and thus results in inaccurate branch coverage measurements.

# Repro steps

Create a minimal class library with the following code (`ClassLibrary1.cs`):

[code]

Create a minimal xUnit test project. Add the `c

[2020-04-12 22:52] ramoncarrascom opened #812 "Coverlet not detecting correctly line visits"
Hi,
I'm relatively new to Coverlet, but I'm facing an issue that has been struggling me during the last two days. Although I've tests for all lines in a class, Coverlet report doesn't show a 100% line coverage. I'm going to try to detail all the steps I've done.
First of all, you can see all the entire project here: https://github.com/ramoncarrascom/BoringGames/tree/develop

My problem is that not

[2020-04-13 07:10] MarcoRossignoli commented on #809
Thank's for repro, I'll take a look asap.

[2020-04-13 07:13] MarcoRossignoli commented on #810
Thank's for reporting this, coverlet "handle" compilers generated branch https://github.com/tonerdo/coverlet/blob/master/test/coverlet.core.tests/Samples/Samples.cs#L168, maybe here there is a coverage but, I'll take a look asap.

[2020-04-13 07:32] MarcoRossignoli commented on #812
Thank's for reporting this and for repro, I'll take a look asap.

[2020-04-13 09:12] bert2 commented on #810
That's interesting. If you turn the iterator sample from...

[code]
...into...

[code]

then the test [`GetBranchPoints_IgnoresSwitchIn_GeneratedMoveNext`](https://github.com/tonerdo/coverlet/blob/e251d23a39eee24abe1c3c4d8976cf57dceb07f9/test/coverlet.core.tests/Symbols/CecilSymbolHelperTests.cs#L249) will fail:

    Collection: [BranchPoint { Document = "D:\\DEV\\coverlet\\test\\coverlet.core.tes

[2020-04-13 09:48] MarcoRossignoli commented on #810
With only one `yield` seem no more a switch emitted, we need to fix.

[2020-04-13 10:26] MarcoRossignoli commented on #363
@clairernovotny @tmat support/tests are ok for now, does it make sense work on documentation related to https://github.com/reactiveui/refit/pull/902?

[2020-04-13 13:56] clairernovotny commented on #363
@MarcoRossignoli What documentation for that issue? Not quite following but all docs are generally useful!

[2020-04-13 15:06] MarcoRossignoli commented on #363
I mean the workaround to do to support deterministic build coverage, but it's not clear to me if we can release or if it doesn't work, related to your issue on reactive repo.

[2020-04-13 15:33] clairernovotny commented on #363
I need @tmat to take a closer look at what's going on the the VSTest case.

[2020-04-13 17:10] #785 closed

[2020-04-14 07:25] jakubch1 commented on #782
Yes. Closing it. I will check it.

[2020-04-14 07:25] #782 closed

[2020-04-14 08:49] petli commented on #781
Before going down the shared memory road have a look at this comment from the last time it was tried to see if it can be done in a way that doesn't break System.Private.CoreLib:
https://github.com/tonerdo/coverlet/pull/276#issuecomment-455182070

[2020-04-15 20:59] jrperron88 opened #817 "MSBuild Integration not throwing exit code in docker"
When running dotnet test in a dockerfile, I can see the threshold failing and throwing a text error. However, no exit code is thrown and it continues as normal.

If I use the coverlet console, exit codes get thrown correctly.

[2020-04-15 21:38] #817 closed

[2020-04-16 17:24] sungam3r commented on #357
@lkurzyniec , @MarcoRossignoli  Hi. I am trying to execute the above command but getting an error
[code]

[2020-04-16 17:30] MarcoRossignoli commented on #357
@sungam3r you need to characters on powershell take a look https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md#note-for-powershell--vsts-users

[2020-04-16 17:35] sungam3r commented on #357
Wow! Thanks. I read this section of the documentation, but for some reason I missed it.

[2020-04-16 17:49] MarcoRossignoli commented on #357
No prob

[2020-04-17 07:37] jutrera commented on #760
Hi Marco.

The issue is happening with Linq in some different ways. I will show some pictures with different code for the same method. Hope it helps.

First approach **fails**
![image](https://user-images.githubusercontent.com/5177257/79543467-cad62f80-808d-11ea-9323-919d48e50e72.png)

Remove Any() instead of Count() -> **Fails**
![image](https://user-images.githubusercontent.com/5177257/79543622-

[2020-04-17 08:01] mbright77 commented on #812
Hi!
I have a similiar problem when i have methods taking actions as in parameters.
In the following lines of code the action is not reported as covered after updating to the latest version. The action is invoked in a base class.

`  await _myService.UpdateAsync(existingObject, parentId, () =>
                       {
                           existingObject.UserID = userId;

[2020-04-17 10:03] MarcoRossignoli commented on #760
Can someone provide a repro project?

[2020-04-17 16:36] MarcoRossignoli commented on #809
@VenkateshSrini can you tell me where is these method I searched `[ExlcudeFromCodeCoverage]` inside a solution but didn't found anything.

[2020-04-17 16:47] MarcoRossignoli commented on #812
@ramoncarrascom cannot repro, I cloned your branch https://github.com/ramoncarrascom/BoringGames/tree/develop
and run
[code]
after I generated report
[code]
![image](https://user-images.githubusercontent.com/7894084/79593500-d6504780-80db-11ea-89a0-9f722de50b5d.png)

[2020-04-17 16:49] MarcoRossignoli commented on #812
Just a moment you're running 3 different test project in same folder so the last one override the others, you need to use different file name for every project o use merge feature https://github.com/tonerdo/coverlet/blob/master/Documentation/Examples/MSBuild/MergeWith/HowTo.md

[2020-04-17 21:30] ramoncarrascom commented on #812
@MarcoRossignoli , that's right, the problem was that results weren't merging!! I've followed the rules shown in the link that you've shared, and everything is working perfectly fine now.

Thank you very much for your excellent support, for your time, and for all the good work done!

[2020-04-17 21:30] #812 closed

[2020-04-19 15:05] #363 closed

[2020-04-21 15:54] PeterOeClausen opened #822 "Combine/Merge/Union/Collect results and print without running tests"
We have just begun using Coverlet for code coverage in the project I'm working on.

We have two NET CORE projects for testing, one "quick" for unit testing, and one "slow" for functional tests that queries a real database.

These two test projects run in parallel in a GitLab environment through GitLab pipeline jobs (which is like GitHub actions).

As these run in parallel, I do not believe `MergeW

[2020-04-21 17:25] MarcoRossignoli commented on #822
No this is not supported at the moment, we're discussing about adding these features to coverlet dotnet tool driver https://github.com/tonerdo/coverlet/pull/704

There is also some plan of vstest team that in future could help with this(only if you run collectors version and run in parallel in the same "test session") https://github.com/microsoft/vstest/issues/1811.

[2020-04-22 19:17] Giorgi opened #823 "Closing brace considered as not visited in async method"
In my project I have an [async method SaveChangesAsync](https://github.com/Giorgi/EntityFramework.Exceptions/blob/ad59b8358fe41f27bb8870f9dc41cae76d54c409/EntityFramework.Exceptions.Common/ExceptionProcessorStateManager.cs#L54) which is identical to the [sync version of the method](https://github.com/Giorgi/EntityFramework.Exceptions/blob/ad59b8358fe41f27bb8870f9dc41cae76d54c409/EntityFramework.Ex

[2020-04-23 07:11] MarcoRossignoli commented on #823
Thank's for reporting this

[2020-04-24 11:52] VenkateshSrini opened #824 "Coverlet is generating 0% line coverage"
Hi,
code coverage with coverlet.mbuild and .NET core 3.1 is giving issue. It is showing 0% code coverage when run using dotnet test command. The code can be been at
https://github.com/VenkateshSrini/FSEPMAPI.

The command that is used to generate code coverage is provided in runCoverage.cmd

[2020-04-24 13:47] MarcoRossignoli commented on #824
I did some test and seem you're hitting know issue with msbuild driver https://github.com/tonerdo/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test
We have an old issue that uses RavenDB with same problem https://github.com/tonerdo/coverlet/issues/342
I did a test with vstest integration throught collectors and works https://github.com/tonerdo/cove

[2020-04-24 14:16] VenkateshSrini commented on #824
Is there some work around that I can adopt to get the report. I need this to be submitted to management

[2020-04-24 14:30] MarcoRossignoli commented on #824
Yes as I've said you need to use collectors integration and not use msbuild follow guide https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md

I cloned your repo, added to test project
[code]
Run from root repo
[code]
and with report generator I generated html reports in same way.

[2020-04-24 16:15] VenkateshSrini commented on #824
Hi,
I tried it. It works well. I have only a small problem. I used the following code `dotnet test --collect:"XPlat Code Coverage" -r "_codeCoverage"` inside the _codeCoverage another directory whole name is a Guid is getting generated. It is becoming difficult to generate the reports as the GUID is unpredictable. Is there a way how we can avoid this GUID subdirectory

[2020-04-24 17:06] MarcoRossignoli commented on #824
Unfortunately not, I opened an issue on vstest repo https://github.com/microsoft/vstest/issues/2378 it's not related to coverlet.

[2020-04-25 13:21] JorTurFer opened #825 "Allow paremeters to support set the paths in reports (run test inside docker)"
When I am trying to generate cobertura report inside a docker container, the source element in the xml takes the root path inside the container

[code]

Then the filename attribute takes the full path from the container.

[code]

This paths produce error when I am trying to generate a report for example.
![image](https://user-images.githubusercontent.com/36899226/80280810-d1f0e380-8706-11ea-8893-f

[2020-04-25 17:59] MarcoRossignoli commented on #825
Only to be sure to understand well, you move report out of container and after generate the report?Or run report generation inside a docker?

[2020-04-25 18:00] MarcoRossignoli commented on #824
Feel free to close if resolved!

[2020-04-25 18:43] JorTurFer commented on #825
I run the tests inside container and with a binding mount I mové out of container to make the other steps.
Give me 1 hour and I will post an example repo with a pipeline where you can see the problem.

[2020-04-25 20:01] JorTurFer commented on #825
Hi @MarcoRossignoli ,
I created an example repository with the cases that I exposed

https://github.com/JorTurFer/coverlet-issue-example

The repository has 2 CI, one with replacements and other without them in order to be able to check the problem in the next steps. You can download the html report from each pipeline.

[2020-04-28 07:14] marsen opened #826 "Document Error"
Hi
On your site https://discoverdot.net/projects/coverlet
this link is broken
https://discoverdot.net/projects/Documentation/VSTestIntegration.md

[2020-04-28 07:42] MarcoRossignoli commented on #826
Hi @marsen that isn't "our" site, it's a site gathers(automatically) projects/blogs and in general useful information on .net ecosystem, it's not under our control, our primary guide is readme of this repo.

The right link is https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md

[2020-04-28 17:07] marsen commented on #826
learn the new things ，thank you

[2020-04-28 17:07] #826 closed

[2020-04-30 13:23] Stefanie899 opened #827 "MSBuild Integration not Cleaning Up Temp Folder?"
When coverlet runs for my solution, it generates a number of files in my `%localappdata%\Temp` folder. These files range from 50MB to 100MB, and there are ~15 each time it runs. This obviously adds up quickly given we are running tests with coverage every 2 hours (over 1GB of temp files every time).

I'm wondering if this is a bug or if we need to write a script to automate this (seems potentially

[2020-04-30 20:56] rickywiens commented on #825
Hi @MarcoRossignoli and @JorTurFer! My team has run in to a [similar problem](https://gitlab.com/gitlab-org/gitlab/-/issues/213444) with the cobertura report parsing from the coverlet library. If we could pass in a parameter that would allow us to prime the `<source>` node with the project path, and calculate the `filename` attributes based on that, it would allow us to avoid modifying the cobertu

[2020-05-01 01:12] JorTurFer commented on #825
If i am not the only whose detect the problem maybe the change is useful.  I was afread becouse i thought i am the only with problems.
I will prepare a PR with the change and de owners will decide if is mergeable or not

[2020-05-01 08:20] MarcoRossignoli commented on #825
I'm thinking about it, I'm not sure if this should ends inside coverlet, because it depends on "reports", the fix should include a specific parameter only for cobertura report because not all reports has got a place where specify base path, for instance
Opencover https://github.com/OpenCover/opencover/blob/master/samplexml/opencovertests.xml but also lcov, teamcity IIRW.

I don't have a strong opi

[2020-05-01 08:25] MarcoRossignoli commented on #827
At the moment coverlet produce a tmp hit file that is removed after tests
https://github.com/tonerdo/coverlet/blob/master/src/coverlet.msbuild.tasks/CoverageResultTask.cs#L105

and backup/restore instrumented file that should be cleaned up
https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Helpers/InstrumentationHelper.cs#L184-L231
inside backup path https://github.com/tonerdo/cover

[2020-05-01 10:43] JorTurFer commented on #825
Hi @MarcoRossignoli ,my proposal is to add a parameter with 2 values, the outside base path to override the source element and the inside base path where the the filename attribute starts from.
I am doing a PoC about this, i will push in the afternoon.
In that you can check my propose and if you like it I will conitnue from it

[2020-05-01 13:23] JorTurFer commented on #825
Hi @MarcoRossignoli, I created a PR with the PoC about this. It is just a PoC to validate the proposal. I have to add tests and complete the CoverageWrapper entry if you are agree

[2020-05-01 20:10] Mikilll94 opened #830 "Update documentation for excluding source files from code coverage"
I have problems with excluding source files from code coverage.

Here is my file structure:
App.UnitTests -- runsettings.xml, <other irrelavant files>
 App                 -- obj, < project files >

I want to exclude from code coverage the `obj` folder which is located inside the `App` folder. So I have navigated in the terminal to `App.UnitTests` folder and executed this command:

[code]

Here is

[2020-05-02 08:53] MarcoRossignoli commented on #830
Can you try to enable verbose logging as explained here and copy/paste the result? https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-integration
Is it the project OSS?A repro could be very useful in case.

[2020-05-02 11:31] Mikilll94 commented on #830
@MarcoRossignoli
Unfortunately, it is not open source. Thus, I have a question for you.

I don't understand how relative paths work. If I have a configuration like this:
[code]

What is the starting path for Coverlet when evaluating the relative path? Does Coverlet start from the same directory where `runsettings.xml` file is located?

Because in my case something is not working with relative path

[2020-05-03 08:02] MarcoRossignoli commented on #830
We need to update the guide sorry, the filter is globbing one so you don't need to add `..` relative fragment, take a look at sample on code https://github.com/tonerdo/coverlet/blob/master/test/coverlet.core.tests/Instrumentation/InstrumenterTests.cs#L290-L389
We use `Matcher` take a look at samples here https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.filesystemglobbing.matcher?vi

[2020-05-03 10:14] Mikilll94 commented on #830
@MarcoRossignoli
Ok. Thanks for the response. Yeah, the docs need to be updated because they are very misleading, i.e. here:

https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md
https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md#excluding-from-coverage

And the docs even explicitly says:

So since the relative path is not working, rig

[2020-05-03 10:17] MarcoRossignoli commented on #830
I'll keep this open until doc fix.

[2020-05-05 07:26] #830 closed

[2020-05-05 09:30] ViktorHofer commented on #736
@MarcoRossignoli I'm seeing the same issue on dotnet/runtime:

coverlet.collectors: `1.2.1`
Microsoft.NET.Test.Sdk: `16.7.0-preview-20200429-01`

[code]

cc @nohwnd in case this is data collector VSTest related.

[2020-05-05 10:33] ViktorHofer opened #834 "Coverage results aren't stable"
We (dotnet/runtime) recently switched from coverlet's global tool to `dotnet test` with the coverlet data collector. With the data collector driver I just noticed that the produce coverage results file isn't stable and varies between multiple invocations.

See the generated reports for five invocations of `C:\git\runtime\src\libraries\System.Text.RegularExpressions\tests>dotnet test -f netcoreapp5

[2020-05-05 11:09] MarcoRossignoli commented on #736
Not I know where is the problem, happeny very few time, there is a race related to process exit of test host and get coverage result of out of proc collector

[2020-05-05 11:11] ViktorHofer commented on #736
Where would be the right place to fix the race? In VSTest or here in coverlet?

[2020-05-05 11:16] MarcoRossignoli commented on #736
Coverlet for what I understood

[2020-05-05 11:18] MarcoRossignoli commented on #834
Can you attach command line/runsetting?

[2020-05-05 11:23] MarcoRossignoli commented on #736
@abe545 are running your branch fix in your projects?

[2020-05-05 11:26] MarcoRossignoli commented on #834
Could be related to other file lock issue, I'll take a look asap, bit busy week

[2020-05-05 11:45] MarcoRossignoli commented on #736
I've a non too invasive fix in mind, I'll try asap.

TL; DR;
When collectors was created we didn't take into account the `ProcessExit` callback. So sometime happens that in proc collector flush and meanwhile out of proc one try to load hits file and process exits of host process re-flush the file and so race.
We need to add a flag to tracker like `flush` and when in proc collector flush set this f

[2020-05-05 12:12] ViktorHofer commented on #834
I just compared the results with xunit.console and coverlet.console:

[code]

[xunitconsole_coverage.zip](https://github.com/coverlet-coverage/coverlet/files/4580663/xunitconsole_coverage.zip)

[2020-05-05 12:15] ViktorHofer commented on #834
So the instrumentation is working as expected as the `numSequencePoints`, `numBranchPoints`, `maxCyclomaticComplexity`, `minCyclomaticComplexity`, `numClasses` and `numMethods` values are the same.

The visited ones differ largely...

[2020-05-05 12:18] MarcoRossignoli commented on #834
Thanks for infos

[2020-05-05 12:40] ViktorHofer commented on #834
Unsure if that's really the reason. Just cleared my temp directory and test outdir and ran the command again and now get:

`<Summary numSequencePoints="10557" visitedSequencePoints="8994" numBranchPoints="4982" visitedBranchPoints="4285" sequenceCoverage="85.19" branchCoverage="86" maxCyclomaticComplexity="5476" minCyclomaticComplexity="5476" visitedClasses="54" numClasses="55" visitedMethods="796

[2020-05-05 14:15] MarcoRossignoli commented on #834
The only difference is that collectors does not rely on process exit to flush hits but using in proc collector

https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.collector/InProcDataCollection/CoverletInProcDataCollector.cs#L46

The out of proc collector do same thing as msbuild instrumentation task

https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.collec

[2020-05-05 14:21] MarcoRossignoli commented on #834
Question, is possible that same instrumented sets of files run in more than one tests?

[2020-05-05 15:06] ViktorHofer commented on #834
The instrumented assemblies are only used throughout one "test session". But this might have to do with our RemoteExecutor tooling which loads the test assembly as well.

[2020-05-05 15:39] MarcoRossignoli commented on #834
If the issue is RemoteExectutor we try to find a way to avoid process exit flush in case of collectors usage because we can rely on in-proc flush at the end of tests.

[2020-05-05 18:23] MarcoRossignoli opened #836 "Performance improvement plan"
Coverlet performance can be improved in two main areas

* Instrumentation and hits accounting/report generator phases
* Performance during test run related to "invasive" instrumentation

Possible plan:

- [ ] Create a BDN project with some tests for above main areas to have a baseline

Instrumentation and hits accounting/report generator phases

- [ ] Profile cpu/memory consumption to undestand wh

[2020-05-05 20:04] Stefanie899 commented on #827
@MarcoRossignoli It's almost exclusively the tmp hit files. Occasionally it does appear that the backup/restore instrumented files are not cleaned up but that seems to be sporadic, the tmp hit files don't ever seem to clean up correctly.

I'm using `/p:CollectCoverage=true` and the version of my `coverlet.msbuild` package is `2.6.3`

[2020-05-05 20:16] Stefanie899 commented on #827
After further testing, this appears to already be resolved in version `2.8.1`. My bad, I should have verified that first 🤦 .

[2020-05-05 20:25] MarcoRossignoli commented on #827
Glad to hear you solved!

[2020-05-06 11:45] ViktorHofer commented on #834
@MarcoRossignoli we currently support both `xunit.console` and VSTest at the moment. I plan to obsolete the former as soon as all features are on parity. Ideally we can fix the non-stable results before 7/6 (which is the dotnet/runtime infrastructure rollout date after the next one).

Do you believe https://github.com/coverlet-coverage/coverlet/pull/835 will fix this issue?

[2020-05-06 11:51] MarcoRossignoli commented on #834
Unfortunately cannot be sure until try some repro with fix on my local, next days I'll try to repro on my local your sample and come back.

cc: @tonerdo

[2020-05-06 12:39] ViktorHofer commented on #834
No. We are using coverlet.console in combination with xunit.console. That's what we want to get rid off in the future when the coverage results become stable.

[2020-05-06 13:28] MarcoRossignoli commented on #834
Ok so the drift between `xunit.console` and direct `dotnet test` is always using same coverlet engine underneath

[2020-05-06 14:28] ViktorHofer commented on #834
Sorry not sure if I follow. Are you saying that the underlying engine isn't the same?

[2020-05-06 14:47] MarcoRossignoli commented on #834
No no sorry, I wasn't clear, was a "state" it wasn't clear to me that `xunit.console` runs `coverlet.console`, I thought that the difference above were related to different coverage engine(like `xunit.console` has got something like that), my fault.
Are the same.

[2020-05-06 14:49] ViktorHofer commented on #834
Got it.

Just tried that and it doesn't help with this issue unfortunately.

[2020-05-06 14:53] MarcoRossignoli commented on #834
Can you link here the branch with vstest settings?I saw your rollback, so I can try on my local asap.

[2020-05-06 14:55] ViktorHofer commented on #834
I didn't roll anything back :) You can try it in dotnet/runtime master with:

[code]

[2020-05-06 14:58] MarcoRossignoli commented on #834
Ah I read PR above :) btw today it's hard to me, I'm a bit busy, I think during weekend I'll have more time to investigate.

[2020-05-06 14:59] ViktorHofer commented on #834
Thanks a lot :)

[2020-05-07 10:44] Ablinne commented on #736
Just to let you guys know, I have had similar problems (under windows) and traced them back to McAfee Endpoint Security 10.7. After uninstalling McAfee, everything went well. Also a downgrade to McAfee 10.6 should do the trick, will let you know when I can confirm that.

[2020-05-07 11:03] MarcoRossignoli commented on #736
That could be another reason thanks.

[2020-05-07 18:56] johnabbott72 opened #838 "Build fails in bitbucket pipeline with solution testing and merged test results"
I have been trying coverlet in my .net core 2.1 solution in bitbucket pipelines and after this step it fails and all of the reports are generated and look good...  There is no error that I can see.  I had been playing with setting threshold values to get it to move to the next end step for sonarscanner but it just stops after the last test.  Any ideas?

dotnet test --filter "FullyQualifiedName~.Te

[2020-05-08 15:27] MarcoRossignoli commented on #838
Can you share your tests csproj?Do you run this command on sln folder?

[2020-05-08 15:36] johnabbott72 commented on #838
This is being run from the sln folder. Here is the contents of csproj:
<Project Sdk="Microsoft.NET.Sdk">
    <PropertyGroup>
        <TargetFramework>netcoreapp2.1</TargetFramework>
    </PropertyGroup>
    <ItemGroup>
        <PackageReference Include="Amazon.Lambda.APIGatewayEvents" Version="1.3.0" />
        <PackageReference Include="Amazon.Lambda.Core" Version="1.1.0" />
        <PackageRefer

[2020-05-08 16:21] johnabbott72 commented on #838
Actually I have identified the problem we have a set of 16 shared tests projects that don't actually have tests in them.  I need to filter these out.  I apologize for not figuring this out earlier...

[2020-05-08 16:41] MarcoRossignoli commented on #838
No problem, you can add this attribute to non tests project https://github.com/coverlet-coverage/coverlet/blob/master/test/coverlet.tests.remoteexecutor/coverlet.tests.remoteexecutor.csproj#L8

[2020-05-08 17:06] #838 closed

[2020-05-09 16:37] Mikilll94 opened #839 "Where is method coverage?"
On the main page of coverlet Github repo it is written:

However, I have noticed that in my case only line and branch coverage is calculated. The method coverage is not calculated. I don't know if I need to configure something to enable it or maybe coverlet just doesn't support method coverage.

[2020-05-09 17:14] Mikilll94 opened #840 "Support for Visual Studio .coverage format"
Right now on Azure DevOps the pull request code coverage is supported only for Visual Studio .coverage format.

You read about that here:
https://docs.microsoft.com/en-us/azure/devops/pipelines/test/codecoverage-for-pullrequests?view=azure-devops

It would be nice if coverlet supports Visual Studio .coverage format.

[2020-05-10 08:24] MarcoRossignoli commented on #834
Marked `as-designed` found that issue is a missing switch `--collect:"XPlat Code Coverage"`

@ViktorHofer feel free to close if solved.

[2020-05-10 08:25] MarcoRossignoli commented on #839
Which report type are you using?

[2020-05-10 08:29] MarcoRossignoli commented on #840
cc: @jakubch1 do you know where I can find the format specification?

[2020-05-10 10:01] Mikilll94 commented on #839
@MarcoRossignoli
Cobertura

[2020-05-10 15:19] MarcoRossignoli commented on #839
[code]
`line-rate` and `branch-rate` 1 is 100%
This is the code that calculate data https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.core/Reporters/CoberturaReporter.cs#L68-L73

[2020-05-10 15:23] MarcoRossignoli commented on #570
We cannot use same versions because we have three way to use coverage engine, msbuild, .net tool and vstest collectors and unfortunately not all drivers supports all features so we need to diverge a bit, version you see on release is the version of "engine" that is shared between drivers that diverge in features supported.

[2020-05-10 15:23] #570 closed

[2020-05-10 15:24] MarcoRossignoli commented on #613
Close for stale conversation, feel free to re-open if needed!

[2020-05-10 15:24] #613 closed

[2020-05-10 15:25] #736 closed

[2020-05-10 15:53] #728 closed

[2020-05-10 16:02] MarcoRossignoli commented on #718
@prashanth-nani any news?Feel free to close if solved!

[2020-05-10 16:07] MarcoRossignoli commented on #725
@Cheesebaron can you try with our nightly build we fixed the issue of race condition in collectors https://github.com/coverlet-coverage/coverlet/pull/835
This is the guide of nightly https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

@svenskmand does this issue solved?

[2020-05-10 16:07] #810 closed

[2020-05-10 16:08] MarcoRossignoli commented on #732
@ColBiernot any news?Does this issue solved?

[2020-05-10 16:09] MarcoRossignoli commented on #780
@ashleybeshir any news?

[2020-05-10 16:10] MarcoRossignoli commented on #809
@VenkateshSrini any news?

[2020-05-10 16:10] Mikilll94 commented on #839
Ok. But I would expect that coverlet should output total method coverage in % as it does for line and branch coverage.

So, in this XML we have `line-rate`, `branch-rate` and additionally there should be also `method-rate`.

[2020-05-10 16:13] MarcoRossignoli commented on #525
Close for stale discussion, feel free to re-open it needed, thanks @SteveGilham for the idea on possible fix of signed instrumentation, took note.

[2020-05-10 16:13] #525 closed

[2020-05-10 16:16] MarcoRossignoli commented on #839
Cobertura format AFAIK doesn't have that attribute and format spec is not designed by us.
If you find official cobertura spec with that attribute we'll add it.

[2020-05-10 16:19] MarcoRossignoli commented on #658
Close for stale conversation, feel free to re-open if neeeded!

[2020-05-10 16:19] #658 closed

[2020-05-10 16:24] MarcoRossignoli commented on #659
Yes

If you want keep coverage for release but they are different because different IL is emitted by compiler.

You need to provide a `runsetting` file and inside `format` element include the list of formats https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md#advanced-options-supported-via-runsettings
Take a look to samples https://github.com/coverlet-cover

[2020-05-10 16:26] MarcoRossignoli commented on #721
Close for stale conversation, feel free to re-open if needed!And use collectors integration if you can https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md!

[2020-05-10 16:26] #721 closed

[2020-05-10 16:27] MarcoRossignoli commented on #822
Close for solved issue, feel free to re-open if needed!

[2020-05-10 16:27] #822 closed

[2020-05-10 16:29] MarcoRossignoli commented on #714
Close for stale conversation, feel free to re-open if needed!

[2020-05-10 16:29] #714 closed

[2020-05-10 16:30] MarcoRossignoli commented on #776
@WattsC-90 any news?Feel free to close if solved!

[2020-05-10 16:31] MarcoRossignoli commented on #824
Close because solved!Feel free to re-open if needed!

[2020-05-10 16:31] #824 closed

[2020-05-10 16:39] VenkateshSrini commented on #809
In the repository folder, there is a file called TaskRepo.cs. In that, there is a method called EditTask that has [ExcludeFromCodeCovergae]

[2020-05-10 16:45] MarcoRossignoli commented on #809
I cannot see the attribute what am I missing?
![image](https://user-images.githubusercontent.com/7894084/81505303-74f05280-92ee-11ea-9fa0-a2a30382271a.png)

[2020-05-10 16:59] VenkateshSrini commented on #809
N. I just downloaded the attached code bit I'ma able to see the same. Let me upload it once again
[TaskApi.zip](https://github.com/coverlet-coverage/coverlet/files/4606176/TaskApi.zip). please see the code below
![image](https://user-images.githubusercontent.com/1167152/81505552-ae848600-930d-11ea-81bf-fcd3117e3366.png)

[2020-05-10 17:13] Mikilll94 commented on #839
@MarcoRossignoli
Ok, thanks. I have checked the Cobertura format and it does not provide method coverage.

IMO, It would be nice to include in the docs a brief overview of all code coverage formats supported by coverlet. For every format there should be:
- short description
- supported metrics
- source link
- and maybe some other stuff

[2020-05-10 17:22] MarcoRossignoli commented on #839
Thanks for the advice we have the list inside msbuild command https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/MSBuildIntegration.md#coverage-output but I agree that a shared section on readme could be useful!
I'll keep this open for documentation

[2020-05-10 17:25] MarcoRossignoli commented on #839
Feel free to propose a PR if you want also on documentation!

[2020-05-10 23:06] PureKrome commented on #659
No probs at all.

Since I got some answers and clues to this issue, a few months ago, I've started doing coverlet coverage for `DEBUG` builds. I'm also doing a "matrix" which does both `DEBUG` and `RELEASE` builds at the same time:
- coverlet for DEBUG
- create publish artifacts for RELEASE (aka `pack`)

to do this, i'm using a powershell script which does one or the other, based on the 'configura

[2020-05-10 23:06] #659 closed

[2020-05-11 06:26] MarcoRossignoli commented on #659
Glad to hear!feel free to ask if you're in trouble!

[2020-05-11 07:16] ervinpeters opened #842 "Test Inheritance not recognized in coverage calculation?"
I had some database tests on a project, which works fine and sonarqube then recognized a test coverage around 80%. Then I moved the tests to an abstract base class to be able to vary the whole testclass setup by overriding testclass construction or testinitialization.
VS Test explorer still finds, displays and executes all the tests as expected. But the code coverage displayed in sonarcube went do

[2020-05-11 09:05] MarcoRossignoli commented on #842
Can you tell me the driver are you using msbuild/vstest/.net tool?Can  you attach command line?

[2020-05-11 15:18] ervinpeters commented on #842
invalid, it was an accidential change in csproj. Excuse the noise.

[2020-05-11 15:18] #842 closed

[2020-05-11 15:38] Cheesebaron commented on #725
@MarcoRossignoli yes. Will have a look tomorrow. Do you want me to test with coverlet nightly _and_ latest version of Test.Sdk?

[2020-05-11 15:50] MarcoRossignoli commented on #725
Yes thanks

[2020-05-11 15:52] jakubch1 commented on #840
.coverage format is not public and there is no specification for it. Probably in near future we will stop generating it and move to cobertura. So it doesn't make sense to invest into it.

[2020-05-11 16:26] MarcoRossignoli commented on #840
Thank's for the anwer.
@Mikilll94 I'm going to close this issue as Jakub said there is no sense to invest in new format.

[2020-05-11 16:26] #840 closed

[2020-05-11 22:44] daveMueller commented on #774
OK I would work on it. Could you assign it to me?

[2020-05-12 06:38] MarcoRossignoli commented on #774
Sure thanks!

[2020-05-12 08:56] reaction1989 commented on #827
@MarcoRossignoli i am hitting this with v2.8.1

I saw that you are logging warnings when you can not delete a file. Is there a way to see those warnings, or should they always be there in the console?

Sorry haven't digged to deep into this.

My problem is that my C:\Windows\temp folder is increasing 1GB per day.

[2020-05-12 13:18] Cheesebaron commented on #725
It seems to work. Tried a couple of runs with coverlet.collector version 1.3.0-preview.17.g3c55332cce and Microsoft.NET.Test.Sdk 16.6.1

[2020-05-12 14:35] MarcoRossignoli commented on #725
Great!Thanks!

[2020-05-12 17:24] santhosh-James opened #843 "Nunit and coverlet"
Is it possible to generate code coverage from Nunit functional tests?

Here the test solution and the Application under test is two different application. Does this work in coverlet? Or coverlet just handle the unit test ?

[2020-05-12 18:31] MarcoRossignoli commented on #827
We have one place where we log if we cannot remove tmp coverage file, but I shouldn't be so big https://github.com/coverlet-coverage/coverlet/blob/570cfc971b5556e6a7930a05a53c5143d988c70c/src/coverlet.msbuild.tasks/CoverageResultTask.cs#L109

Can you tell me the name of files?

[2020-05-12 18:34] MarcoRossignoli commented on #843
If you're referring to something like https://github.com/coverlet-coverage/coverlet/issues/781 no at the momento coverlet is not usable as "stand alone" so you cannot instrument dll put it on line and do coverage testing outside a classic test project.

Let me know if I understood well.

[2020-05-12 18:43] reaction1989 commented on #827
![image](https://user-images.githubusercontent.com/873751/81732760-3c3cae80-9491-11ea-87c8-805c25651b4f.png)

here is a picture from the folder

[2020-05-12 18:46] MarcoRossignoli commented on #827
Can you open one and past a piece of content?

[2020-05-12 18:51] reaction1989 commented on #827
Here it is.

I stripped the content

`<CoveragePrepareResult xmlns="http://schemas.datacontract.org/2004/07/Coverlet.Core" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
	<Identifier>b83dcf6f-2d3d-43d0-bf2b-e079a3963be6</Identifier>
	<MergeWith i:nil="true"/>
	<Module>xxx</Module>
	<Results xmlns:a="http://schemas.datacontract.org/2004/07/Coverlet.Core.Instrumentation">
	<a:InstrumenterResul

[2020-05-12 18:57] MarcoRossignoli commented on #827
Yep that is coverlet file, do you see any warning in console?Can you enable logging and check with msbuild logger viewer?Seem something related to file locking on your machine.
Guide https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration
Do you have antivirus?If so can you try to shutdown it?In past we listen some issue with antivirus or othe

[2020-05-12 19:13] reaction1989 commented on #827
Yes we have an Antivirus on that build machine. I will try to get it disabled and have a look again probably the files will get deleted :)

I do not have any warnings in my console. When disabling the antivirus does not help, i will try to active the logging over my cake build.

Already ty for your fast replies

[2020-05-12 19:16] MarcoRossignoli commented on #827
Let me know

[2020-05-13 03:32] Ahetejaz opened #844 "[Update doc only new SDK style supported]error MSB4044: The "Coverlet.MSbuild.Tasks.CoverageResultTask" task was not given a value for the required parameter "InstrumenterState"."
Hello GitHubFamily,

I m trying to use publish code coverage for Nunit test. I have created my pipeline from Azure DevOps and utilizing .Net Core (test) task to execute unit test cases and publish code coverage. However, I am getting above mentioned error.

So what all I have done:
A unit test project in VS 2019.
Few sample unit test.
From Manage Nuget, got Nunit, Nunit test adapter and code cover

[2020-05-13 06:54] MarcoRossignoli commented on #844
Usually that error happen when you're running coverlet on a 'non test project', can you try to run only on test csproj for instance `'D:\CurrentUnitTestAgent_WorkingFolder**\CodeCoverageScenario\TestProject\TestProject.csproj'` if it works you could add `<IsTestProject>false/true</IsTestProject>` to all csproj like here https://github.com/coverlet-coverage/coverlet/blob/master/test/coverlet.tests.

[2020-05-13 07:26] Ahetejaz commented on #844
Hello Marco,

Thank you for your reply.

Does it work on your local(not CI)?
Are you referring to the build and execution of test cases from Visual Studio? If yes, it does.

Why are you not using new SDK(and avoid package.config)
Well, it is not mandatory to use SDK. I would definitely try this option too. However, would use it for a copy project or a new project. Even if we use package.config pro

[2020-05-13 07:33] MarcoRossignoli commented on #844
No I mean run test/coverage on console running same command of CI, visual studio workflow is different and not integrated with coverlet.

[2020-05-13 08:10] Ahetejaz commented on #844
Hello Marco,

Thank you for your reply.

I am apologetic and admit I need to explore Unit test way more.

I tried below command from console and it worked.
![image](https://user-images.githubusercontent.com/53018241/81786892-1d501380-94b5-11ea-947e-436d67615d51.png)
![image](https://user-images.githubusercontent.com/53018241/81786990-3e186900-94b5-11ea-90cf-b815e17c381a.png)

For test execution fr

[2020-05-13 08:59] MarcoRossignoli commented on #844
you should try to run from solution root
[code]

[2020-05-13 09:09] Ahetejaz commented on #844
Hello Marco,

Thank you for your reply and for sharing the command.

I ran the command from the solution root folder.

![image](https://user-images.githubusercontent.com/53018241/81793576-69538600-94be-11ea-89b0-0a5d80de49f5.png)

Also, I would like to mention that I have added all the Nuget packages from Project level. Shall I be doing it from Solution level?

Is it mandatory that all tests shoul

[2020-05-13 09:11] MarcoRossignoli commented on #844
Mmm IIRW yes...but I'm not sure at the moment 😅 btw well see.

Can you try to run that command under csproj test folder only(not sln).

[2020-05-13 09:17] Ahetejaz commented on #844
Hello Marco,

Thank you for your reply.

From csproj test folder.

![image](https://user-images.githubusercontent.com/53018241/81794548-cd2a7e80-94bf-11ea-8938-8a319e72f956.png)

Thank you.

[2020-05-13 09:24] MarcoRossignoli commented on #844
show me content of `CodeCoverageScenaio.csproj` and also do you have some test?Take a look at sample(merge one but it's not important the sample, you can check reference and project structure) https://github.com/coverlet-coverage/coverlet/tree/master/Documentation/Examples/MSBuild/MergeWith

[2020-05-13 09:40] Ahetejaz commented on #844
Hello Marco,

Thank you for your reply.

I am looking into the link shared.

Below is the content of .csproj file:
[csproj.txt](https://github.com/coverlet-coverage/coverlet/files/4621019/csproj.txt)

Yes, I do have test in the project.
[UnitTestFileOfTheProject.txt](https://github.com/coverlet-coverage/coverlet/files/4621030/UnitTestFileOfTheProject.txt)

Also, in my pipeline I added a VSTest tas

[2020-05-13 09:46] MarcoRossignoli commented on #844
Ok but you don't reference any dll so you're not istrumenting nothing try with(always from test project folder
[code]

[2020-05-13 10:00] Ahetejaz commented on #844
Hello Marco,

Thank you.

Previously for .NETCore test task, I had below entries in Argument section.

/p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:CoverletOutput=$(Build.SourcesDirectory)/TestResults/Coverage/

I have modified it to have:
/p:CollectCoverage=true /p:IncludeTestAssembly=true  /p:CoverletOutputFormat=cobertura /p:CoverletOutput=$(Build.SourcesDirectory)/TestResults/C

[2020-05-13 10:39] MarcoRossignoli commented on #844
Does it work in your local?

[2020-05-13 11:02] Ahetejaz commented on #844
Hello Marco,

Thank you for your reply.

I have executed the commands from the developer prompt. I am getting the same error message as the release pipeline.

![image](https://user-images.githubusercontent.com/53018241/81804312-c145b900-94cd-11ea-96ad-88be3a59da18.png)

From pipeline:
##[debug]   D:\CurrentUnitTestAgent_WorkingFolder\10\s\CodeCoverageScenario\CodeCoverageScenario\CodeCoverageScena

[2020-05-13 11:08] MarcoRossignoli commented on #844
Can you share your project?Is on github?Can you zip and attach?Coverlet is used mostly on with .NET Core and new SDK style so I need to do some tests to understand if that scenario is supported.

[2020-05-13 11:34] Ahetejaz commented on #844
Hello Marco,

Thank you for your reply. Please find the zip file of the project.

[NETCORE.zip](https://github.com/coverlet-coverage/coverlet/files/4621639/NETCORE.zip)

Thank you.

[2020-05-13 11:49] MarcoRossignoli commented on #844
I'll take a look asap!

[2020-05-13 13:26] PolarbearDK opened #845 "All async methods seems to be excluded in coverlet.msbuild 2.8.1"
Just upgraded from coverlet.msbuild 2.6.3 to 2.8.1.
Report no longer shows coverage for any methods with the **async** keyword

This is the most simple example I could find in our code base:
[code]
The async methods were covered/not covered in 2.6.3.
With 2.8.1 they are ignored (grey in report).

[2020-05-14 13:01] Trejden opened #847 "Coverlet Generating empty reports"
Hello,
I'm running tests with this command:
`dotnet test -c Release --logger trx --results-directory (path to repo)\TestResults --collect:"XPlat Code Coverage" --settings (path to repo)\codecoverage.runsettings
`
the code coverage settings:
[code]

libraries referenced in unit tests:
[code]

report generated looks like this:
cobertura:
[code]
json:
`{}`

couple of notes: results are same wether or

[2020-05-14 18:00] MarcoRossignoli commented on #845
Are you using `/p:ExcludeByAttribute=CompilerGeneratedAttribute`?Possible dup of https://github.com/coverlet-coverage/coverlet/issues/794

[2020-05-14 18:03] MarcoRossignoli commented on #847
Can you try to check logs to understand if the filters are the issue? https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-integration

You should see all coverlet log starting with `[coverlet]`. Log reports all instrumented/non instrumented assemblies

[2020-05-14 18:37] MarcoRossignoli commented on #844
Did some test and I'm not sure that is supported by coverlet(never had a user with this scenario, I mean non new SDK style project). We support new SDK style with cli command `dotnet test` as first scenario(also for .NET Framework app) but I'd like to listen also opinions of other guys @tonerdo @petli

If so we should update the guide adding this requisite.

[2020-05-14 18:59] MarcoRossignoli commented on #809
Ok now I can repro, seems a bug, btw you cannot use `/p:ExcludeByAttribute="CompilerGenerated"` with new version because we fixed a bug and now you lose coverage with every async state machine generated https://github.com/coverlet-coverage/coverlet/issues/794#issuecomment-612067552

Thanks for reporting this.

[2020-05-14 20:15] tonerdo commented on #844
I initially built and tested Coverlet with the new SDK style projects. No idea how/if it works on older projects styles. It's not a scenario we intend to support

[2020-05-15 01:37] VenkateshSrini commented on #809
@MarcoRossignoli ,
But that cannot be the way forward that I loose coverage with every async statement. We need to have a standard way out of this problem. What would be your suggestion in such cases?

[2020-05-15 06:02] MarcoRossignoli commented on #809
Why are you using that attribute filter?What do you want to filter out?

[2020-05-15 06:55] MarcoRossignoli commented on #844
@Ahetejaz better if you move to new style SDK, do you need help?

[2020-05-15 07:07] MarcoRossignoli commented on #844
Docs updated https://github.com/coverlet-coverage/coverlet#quick-start

[2020-05-15 08:08] Trejden commented on #847
Hello, Thanks for response.

I've run the tests with logging enabled, and I don't see any indication of anything going wrong in there. What exactly am I looking for?

The only reference to filters in those logs:

the next log with [coverlet] is

I have also asked friends who have it working to generate some log files for comparision, will see how their logs differs.

I don't see any listing of ins

[2020-05-15 08:30] MarcoRossignoli commented on #847
You should see a log with `[coverlet]Instrumented...` with the name of the library instrumented and skipped

[2020-05-15 08:33] Trejden commented on #847
I see no such logs in there. Word "Instrumented" does not show up even once in neither of logs generated

[2020-05-15 09:39] PolarbearDK commented on #845
We do indeed have that exclution. Looks much better without it.

[2020-05-15 09:39] #845 closed

[2020-05-15 10:44] MarcoRossignoli commented on #847
I mean something like
[code]

Unable messages are ok we instrument only dll with local sources.
So do you see correct dll instrumented?

[2020-05-15 12:26] Trejden commented on #847
I do not see any of such listings in most of my log files (it creates separate file for each test project) and in one it lists only project that would be in exclude listings if I was not troubleshooting lack of coverage results.

So if I understand you correctly the core issue is that none of dll's get's actually instrumented?
What could be reason for failure to instrument most of dll's except the

[2020-05-15 13:35] MarcoRossignoli commented on #847
Every test project emits different logs and will produce one reports for every test project. If your report is empty usually is due to no dll instrumented but we can understand it looking at log file by file, the `*collector*` ones.

[2020-05-15 14:04] Trejden commented on #847
[coverletlog1.txt](https://github.com/coverlet-coverage/coverlet/files/4634813/coverletlog1.txt)
[coverletlogs2.txt](https://github.com/coverlet-coverage/coverlet/files/4634814/coverletlogs2.txt)
here are two "types" of logs I am seeing in these executions narrowed down to just [coverlet] entries and with confidential information snipped out.
in one there is irrelevant library instrumented (occurs

[2020-05-15 14:12] MarcoRossignoli commented on #847
I cannot see dll instrumented can you try to remove completely che include filters and excludeByAttribute?

[2020-05-15 14:17] Ahetejaz commented on #844
Hello Marco,

Thank you for all the help.

Yes, for the new projects (NET Core) with SDK it works fine. Let me try to update my existing test project (.NET Framework) to have a new style SDK. I would try to update the project and let you know.

I appreciate all the help.

Thank you.

[2020-05-15 14:59] MarcoRossignoli commented on #844
Feel free to close this when solved!

[2020-05-15 15:43] Trejden commented on #847
I tried removing include filter(same results), will try removing excludeByAttribute

[2020-05-15 20:43] sac80644 commented on #809
Glad I found this thread.  I was just about to report this bug.  ExcludeFromCodeCoverage attribute seems to work for non-async methods but not async in my case.

[2020-05-15 20:53] MarcoRossignoli commented on #809
Thanks for the information s

[2020-05-16 01:48] VenkateshSrini commented on #809
@MarcoRossignoli ,
As you can see I want to exclude a few methods fro test coverage as I will not be able to write a proper test for these methods. The reason is they contain a complex inline LINQ query that could not be mocked. Also, those kinds of methods are tested in  Functional tests and from coverage statistics. Hence I'm decorating my method with  ExcludeFromCodeCovarge on async method.

[2020-05-16 07:19] MarcoRossignoli commented on #809
@VenkateshSrini I understood I meant that you cannot use `CompilerGenerated` anymore as value for `/p:ExcludeByAttribute` because it will exclude also all async methods(unrelated to this bug on `ExlcudeFromCodeCoverage`), I saw it in your command line.

[2020-05-16 15:03] VenkateshSrini commented on #809
ok. So how should I go about this in the current scenario

[2020-05-16 16:08] MarcoRossignoli commented on #809
I'm fixing, for the moment you could use partials and put method you don't want into it and filter out with exclude by filename

[2020-05-16 19:33] MarcoRossignoli commented on #834
@ViktorHofer any news?have you tried nightly?when you'll confirm correct behavior of coverage I'll release official package with deterministic build support cc: @clairernovotny

[2020-05-17 19:54] danielpalme opened #850 "Deterministic build results in missing coverage"
I'm trying to setup a deterministic build with code coverage. After wasting several hours I was not able to create a working setup.

I followed this sample project:
https://github.com/coverlet-coverage/coverlet/tree/master/Documentation/Examples/MSBuild/DeterministicBuild

As soon as I enable the deterministic build in `Directory.Build.props`:
[code]

Coverage is no longer available. Output of `do

[2020-05-18 03:40] prashanth-nani commented on #718
Sorry for the delay. As this is a known issue, I'm gonna close this. Thanks a lot for pointing me to the right resources. 🙂

[2020-05-18 06:25] MarcoRossignoli commented on #718
Close for stale conversation and solved issue, feel free to reopen if needed!

[2020-05-18 06:25] #718 closed

[2020-05-18 06:52] MarcoRossignoli commented on #850
We havent released official package yet you've to use nightly https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2020-05-18 07:38] danielpalme commented on #850
Thanks. Will try the nightly build.

[2020-05-18 16:54] #850 closed

[2020-05-20 00:30] #844 closed

[2020-05-20 00:32] Ahetejaz commented on #844
Thank you @MarcoRossignoli for all the help.

It was very helpful of you to guide me and teach me how the coverlet work.

It was quite a knowledge gaining discussion and I could say I know things better than I had before coming here.

[2020-05-20 07:08] MarcoRossignoli commented on #844
Glad to hear, feel free to re-open or file a new issue if needed!

[2020-05-20 17:28] AntiPasha commented on #725
Hi, I've got the same errors, mentioned above, with both msbuild and vstest integrations. Interesting point here, the error is observed with tests written with xUnit, with NUnit everything work just fine. Maybe it's related to xunit.runner?

[2020-05-20 18:40] MarcoRossignoli commented on #725
Can you attach the error?

[2020-05-20 19:37] JustinBerger opened #852 "Missing coverage in 1.7.0"
In a .net core project running using coverlet.console 1.6.0 we get these results.
[code]
But when running in 1.7.0 (and 1.7.1) we get
[code]

Running on windows with this command
`coverlet .\tests\UnitTests\bin\Debug\netcoreapp3.1\namespace.UnitTests.dll --target "dotnet" --targetargs "test .\tests\UnitTests --no-build" --format opencover --output "c:\dev\coverage\namespace\" --exclude '[coverlet.

[2020-05-20 20:18] AntiPasha commented on #725
Hi @MarcoRossignoli please have a look at logs generated by MSBuild integration (I've just removed the sensitive names)
[code]

[2020-05-21 06:57] MarcoRossignoli commented on #725
If you run for only one csproj does this error happen?I mean run something like `dotnet test ....TestProject.csproj /p:CollectCoverage=true`

[2020-05-21 07:14] AntiPasha commented on #725
Yes, error the same. I have only one test project here. I've tried to run using different ways, by specifying `csproj`, by running `dotnet test` at solution and project folders. Interesting part here is that it fails even I specify `--no-build` switch as well (in one of linked issues I found that instrumentation will not run in this case, maybe I'm wrong)

[2020-05-21 07:39] MarcoRossignoli commented on #725
`--no-build` is not an issue...the error I see is the rollback of instrumentation, when tests end coverlet get a file with hits(from tmp) and calculate coverage, after that rollback dll to old ones(moved before IL instrumentation to another tmp folder so we can run more than one instrumentation and also we maintain dll in a original state), and seem that someone is locking files in your `bin/Debug

[2020-05-21 07:46] MarcoRossignoli commented on #852
Do you have `[ExcludeFromCoverage]` somewhere in your code, we fixed a bug on that, there was some place where it wasn't honored so with new version coverage could drop.
It's hard without a repro o a piece of code to compare, usually could be an issue if methods is async state machine(async/await), has got strange lambda expression(LINQ) or as I've said skip some attribute decorated methods.

[2020-05-21 08:46] AntiPasha commented on #725
Thank you. will have a look. Can xunit.runner or testhost lock these files? Because I have a bunch of nunit tests in different repo, they work fine. Output folder for nunit tests doesn't contain testhost.exe and dll, but for xunit does

[2020-05-21 09:31] MarcoRossignoli commented on #725
I know a bit testhost and never seen that issue, I don't know nothing about xunit runner...btw it's hard to guess...could be everything, we need to analyze with some tecnique above.

[2020-05-21 19:10] JustinBerger commented on #852
We do have exclude tags elsewhere in the project. Those seem to have been handled correctly. It just completely lost whole controller methods. I'll try to work up an example when I have a moment.

[2020-05-21 20:46] AntiPasha commented on #725
I've collected some events using Process Monitor, there no processes, except `dotnet.exe` and `testhost.exe` accessing the file. During usual test run (without coverage) there is only file open, query information and locking file with only readers by `testhost.exe`.
When coverage is run, there are a file reading, writing and locking file with only readers by **both** processes. After file is locke

[2020-05-22 17:38] Lobosque opened #853 "dotnet: 0% Coverage"
This is outputting 0% coverage in a few modules, when in fact they are definitely covered by the tests.
There is no way that the coverage is actually 0%, because the application do not work without these modules at all.
Package used is `coverlet.msbuild` latest version (2.8.1)
There is no `[ExcludeFromCoverage]` usage in the codebase
[code]

I am not sure what could be the problem here or what inf

[2020-05-22 18:26] Lobosque commented on #853
coverlet references in the msbuild.binlog file:

[code]

[2020-05-23 07:29] MarcoRossignoli commented on #853
This log saying that no hits was written to disk and so 0% coverage the reason usually are two, or there is no test or you're hitting a common msbuild issue https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test

Can you try with collectors https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTes

[2020-05-23 14:18] MarcoRossignoli commented on #725
@AntiPasha two thing, first one, can you file a new issue and attach your first and last comment?This issue is old aged and stale and I want a clean history for your one.
Second, is the behaviour the same with version `2.8.1` or `1.2.0`?I mean it's first time you use coverlet or it's a version regression?

[2020-05-23 14:18] #725 closed

[2020-05-23 14:21] MarcoRossignoli commented on #852
Also can you try to use collectors integration?Msbuild and .net tool at the moment suffer of some issue related to vstest behaviour https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md

[2020-05-23 14:23] MarcoRossignoli commented on #726
Close for stale conversation, feel free to reopen if needed.

[2020-05-23 14:23] #726 closed

[2020-05-23 14:23] MarcoRossignoli commented on #732
Closed for stale conversation, feel free to reopen if needed!

[2020-05-23 14:23] #732 closed

[2020-05-23 14:24] MarcoRossignoli commented on #780
Close for stale conversation, feel free to reopen if needed.

[2020-05-23 14:24] #780 closed

[2020-05-23 14:25] MarcoRossignoli commented on #827
@reaction1989  any news?Please can you file a new issue to avoid confusion with @Stefanie899 one?Thank you.

[2020-05-23 14:25] #827 closed

[2020-05-23 14:27] MarcoRossignoli commented on #847
Ok can you attach the logs?The issue I see is that you're not instrumenting any dll so the coverage will be null

[2020-05-23 14:39] MarcoRossignoli commented on #776
Close for stale conversation, feel free to reopen if needed.

[2020-05-23 14:39] #776 closed

[2020-05-23 21:31] eduherminio opened #854 "DeterministicBuild fix in nightly build not working"
I don't manage to get code coverage when building with `/p:ContinuousIntegrationBuild=true`.
Installed versions:

- `coverlet.collector v1.3.0-preview-0001-gfa138c0e00`
- `coverlet.msbuild v2.9.0-preview-0001-gfa138c0e00`

## Issue reproduction:

[Sample repo](https://github.com/eduherminio/SheepTools/tree/coverlet-issue) (`coverlet-issue` branch):

Works:
[code]

[Azure DevOps build with coverage

[2020-05-24 13:41] Lobosque commented on #853
Tried w/ collectors and now it gives non-zero results for the other projects.
Only problem I'll have switching is converting from `cobertura` to `opencover` - but thanks for pointing out the solution.

[2020-05-24 13:44] MarcoRossignoli commented on #853
We support `opencover` you have to provide runsetting with correct format, no need to covert by yourself

[2020-05-24 14:53] Lobosque commented on #853
Thanks for letting me know. Documentatation states only two options:

https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md
[code]

[2020-05-24 15:15] Lobosque commented on #853
I'm closing the issue as this worked seamlessly.

I am still wondering why any of my tests would take more than 100ms to exit, as I don't have any routine running after finishing the tests. Anyway I'm not gonna dive into that as the alternative worked without any downsides or comprimises.

@MarcoRossignoli thanks for the help and keep up the good work 💪 !

[2020-05-24 15:15] #853 closed

[2020-05-24 15:44] MarcoRossignoli commented on #853
Usually it's not related to test code but on "services" are you using, for instance we saw this issue very frequently with RabbitMQ, where seems(I'm not sure, didn't check) that it slows down shutdown process.

Will update the docs thanks

[2020-05-24 15:57] MarcoRossignoli commented on #854
I don't see in you branch a required file imported in all test projects(current workaround that we'll remove in future asap roslyn will support it).
Take a look at guide https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/DeterministicBuild.md
And to our sample https://github.com/coverlet-coverage/coverlet/tree/master/Documentation/Examples/VSTest/DeterministicBuild
And better

[2020-05-24 16:30] eduherminio commented on #854
Oh, it was my understanding that the nightly build already contained the fix so that the workaround could be removed.

[2020-05-24 16:37] MarcoRossignoli commented on #854
Unfortunately at the moment we need the workaround. Feel free to close if solved!

[2020-05-24 17:07] eduherminio commented on #854
Cool, thanks!

[2020-05-24 17:07] #854 closed

[2020-05-24 21:20] AntiPasha opened #857 ""The process cannot access the file, because it is being used by another process" error during attempt to collect coverage"
The error message for MSBuild intergration
[code]
The same behavior for VSTest integration
[code]
It happens all the time, when I try to collect coverage for xunit test projects (with NUnit everything works fine suddenly) using default commands, like `dotnet test --collect:"XPlat Code Coverage"` or `dotnet test /p:CollectCoverage=true`

Adding `-nr:false -m:1` arguments to MSBuild didn't help, as

[2020-05-24 21:23] AntiPasha commented on #857
I've collected some events using Process Monitor, there no processes, except `dotnet.exe` and `testhost.exe`, accessing the file. During usual test run (without coverage) there is only file open, query information and locking file with only readers by `testhost.exe`.
When coverage is run, there are a file reading, writing and locking file with only readers by both processes. After file is locked b

[2020-05-24 21:27] AntiPasha commented on #725
@MarcoRossignoli Thank you, I've created new [857](https://github.com/coverlet-coverage/coverlet/issues/857) issue fro that. It's first time, when I try to use coverlet

[2020-05-28 06:51] MarcoRossignoli commented on #834
Solved

[2020-05-28 06:51] #834 closed

[2020-05-28 06:56] MarcoRossignoli commented on #857
Can you try only with collectors and enable verbose logging and attach logs(before check if there are sensitive data inside) https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-integration?
I want to understand if vstest plat logging show some contention exception.

[2020-05-28 22:12] AntiPasha commented on #857
Hi, please find verbose log for collectors attached. Thanks for your patience
[log.host.20-05-29_01-00-26_57408_4.txt](https://github.com/coverlet-coverage/coverlet/files/4698537/log.host.20-05-29_01-00-26_57408_4.txt)
[log.txt](https://github.com/coverlet-coverage/coverlet/files/4698538/log.txt)
[log.datacollector.20-05-29_01-00-25_75553_4.txt](https://github.com/coverlet-coverage/coverlet/files/

[2020-05-29 08:18] MarcoRossignoli commented on #857
Thanks

[2020-05-29 16:18] suadev opened #859 "[Questiıon] - converlet.collector or coverlet.msbuild"
Which package do I have to add to my project? I mean, what are the differences?

When I create a new dotnet core xUnit test project, it adds coverlet.collector package automatically.

It would be better a short description on NuGet pages. ( same description for all coverlet packages)

[2020-05-30 10:05] MarcoRossignoli commented on #859
Coverlet comes in more than one flavours, msbuild task integration, vstest collectors integration and as .net tool. The coverage engine is shared but the way you use it depends on your needs. Someone wants msbuild others run as external tool and so on. Btw msbuild and .net tool sometimes suffer of know issue related to vstest default behaviour(https://github.com/coverlet-coverage/coverlet/blob/mas

[2020-05-30 11:52] #859 closed

[2020-05-31 16:20] N-Olbert opened #864 "Question: [MSTest] Is coverage supported with enabled in-assembly parallel execution"
MSTest offers the parallel execution of tests within an assembly.

According to their RFC this may cause problems with data collectors:

[Source](https://github.com/Microsoft/testfx-docs/blob/master/RFCs/004-In-Assembly-Parallel-Execution.md#notes)

In fact, I know it causes problems with TFS' built in code coverage, but I wonder if this is also the case for coverlet.

In a local test with 40 (par

[2020-06-01 08:10] Trejden commented on #847
Sorry for very late response,
After Your latest request for logs I've decided to generate new ones and I have noticed some relevant dll's finally being instrumented in the logs. Seeing progress I have deployed the scan in the pipeline (as we usually do) but the results got interpreted as empty. as I have been fiddling with generating and publishing logs from the agent, I have noticed that one of t

[2020-06-01 08:23] Trejden commented on #847
Ok it turns out my previous post is not exactly correct - cobertura reports were published after all 3 executions, the interpreted just lagged with showing them. It's only json report that's empty (or consumed as empty)

[2020-06-01 08:45] Trejden commented on #847
and another update because whole things starts to get really confusing what works where exactly and which file is a problematic.

so in overal what works:
Azure pipeline (whichever file format it uses) receives non-empty code coverage result.
Sonarqube (which claims to be reading file "coverage.cobertura.xml" receives empty coverage result

[2020-06-01 10:40] Trejden commented on #847
ok, after verifying coverage files from the pipeline it appears that whatever issue was, it no longer is a case as coverlet has just generated valid coverage files, it's just one of consumers of the reports (SonarQube) for some reason does not parse it correctly

[2020-06-01 18:14] MarcoRossignoli commented on #847
Ok so you've verified that coverlet generates non empty xml file?if you want to validate content you could try to use different generation tool like reportgenerator https://www.palmmedia.de/OpenSource/ReportGenerator

[2020-06-02 16:13] MarcoRossignoli commented on #864
The parallel execution of tests should not be a problem from coverlet perspective, xunit test run in parallel by design(one per class), and also by design we run coverage of parallel test projects. The only possible issue could be if same build artifacts (dll inside bin/debug) are used in more than one process at same time, because we gather hits in a file with name embedded inside instrumented dl

[2020-06-02 16:20] MarcoRossignoli commented on #857
I cannot repro and without stack trace of thread that blocks files it's hard to understand the reason, I've got a temporary idea to try, we could avoid to raise error in case of issue during file restoring, so at least you can get a coverage file output. Could work for the moment?The only drawback is that the files inside bin/debug will remain instrumented and so no more usable for further test ru

[2020-06-02 16:22] MarcoRossignoli commented on #857
That errors happens at the end of all coverage when we copy back original(non instrumented) files, but at that time coverage data are correctly gathered.

[2020-06-03 05:23] DaGrisa opened #865 "Unable to read beyond the end of the stream"
Hi,

every now and then we get the following error:
[code]

We have a solution with multiple projects, but this happens not always at the same project.

Coverlet version: coverlet.msbuild:2.8.1
Test SDK version: Microsoft.NET.Test.Sdk:16.5.0

I've seen issues with the same problem here, but none of the solutions worked so far.

Best regards,
Daniel

[2020-06-03 07:17] MarcoRossignoli commented on #865
You're hitting know issue https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test
You should use collectors integration https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md(released `1.3.0` version some days ago so update the reference).

[2020-06-03 08:33] N-Olbert commented on #864
@MarcoRossignoli Thanks for clarification 👍

[2020-06-03 08:33] #864 closed

[2020-06-04 16:04] bottocusbr opened #867 "No coverage for Integration Tests"
I have a dotnet core 3.1 webapp and have unit tests and integration tests setup. Coverlet works for the unit tests perfectly, but the code the integration tests are testing are being reported as not being covered at all.

The integration tests are for some controller methods which in turn call some business logic in separate project (within the same solution).

Here's the output of coverlet.consol

[2020-06-04 18:29] MarcoRossignoli commented on #867
Hits file:'C:\Users\user1\AppData\Local\Temp\myapp.Requests.Domain_9f522bf0-fe26-4bb1-b1af-eca3b0cb45b4' not found for module: 'myapp.Requests.Domain'
Hits file:'C:\Users\user1\AppData\Local\Temp\myapp.Requests.Persistence_9f522bf0-fe26-4bb1-b1af-eca3b0cb45b4' not found for module: 'myapp.Requests.Persistence'

Can you use collector integration?These messages are suspecting I think you're hitting

[2020-06-04 19:46] #774 closed

[2020-06-04 20:40] MarcoRossignoli commented on #857
@AntiPasha I'm working on a workaround/solution, can you try with this package(collector driver `dotnet test --collect:"XPlat Code Coverage"`)

nuget feed source https://f.feedz.io/marcorossignoli/coverletunofficial/nuget/index.json
package version `1.3.1-preview.6.g1f7fe02d13`

This is the feed I use for preview/investigation.

[2020-06-05 11:02] Trejden commented on #847
Yes, as of now coverlet generates non-empty xml file. Data provided seems valid. Thank You for Your assistance.

[2020-06-05 11:02] #847 closed

[2020-06-05 11:35] bottocusbr commented on #867
Thanks @MarcoRossignoli using the collector works perfectly! I also have it working on our build pipeline too.
Thanks for you help

[2020-06-05 11:36] #867 closed

[2020-06-05 11:41] ItsVeryWindy commented on #563
In case anyone wants to know, It is possible to set the format although it's a bit long winded, for example.

`DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=opencover`

[2020-06-05 11:42] AntiPasha commented on #857
@MarcoRossignoli Thanks a lot for the update, I've tried your package and it seems to work fine, I didn't seen any exceptions, report is generated in random folder under `TestResults`, but in cobertura format. I thought that `json` is default one, because I didn't use any settings

[2020-06-05 11:43] MarcoRossignoli commented on #857
For collector the default one is cobertura as explained in the guide

[2020-06-05 11:45] MarcoRossignoli commented on #857
If you confirm that amend works well I can merge and you can use nightly build until next official release

[2020-06-05 11:48] AntiPasha commented on #857
Does it work only for VSTest integration? What about msbuild one?

[2020-06-05 11:57] MarcoRossignoli commented on #857
Works for both the engine in shared, but give me some minutes...I'll upload also msbuild version so you can try and confirm.

[2020-06-05 12:03] MarcoRossignoli commented on #857
Uploaded `coverlet.msbuild.2.9.1-preview.6.g1f7fe02d13` same feeds.

BTW my advice is to use collectors because has got better integration and doesn't suffer of some issues https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test

[2020-06-05 12:07] MarcoRossignoli commented on #563
Oh, sorry I misunderstood the question...every parameters inside runsettings can be specified by using xml flat syntax, I meant that there is no `--` style parameters for collectors parameters.

@ItsVeryWindy thanks for your addition!

[2020-06-05 17:13] escalonn commented on #563
That's exactly what I was looking for. Thanks

[2020-06-05 17:34] tremblaysimon commented on #563
Really interesting! I think it should be officially documented if it's not already.

[2020-06-05 17:49] MarcoRossignoli commented on #563
Asap I'll add documentation on it, not the best way but better than nothing for now

[2020-06-05 19:28] jherby2k opened #868 "Assemblies loaded at runtime break with coverlet.collectors on MacOS / Linux"
Hi, weird issue that's only happening for me in CI (Azure Devops), and only on MacOS and Linux build machines.

I switched to using coverlet.collectors to work around the known issue, and it works fine except when add an IncludeDirectory in my runsettings which refers to assemblies loaded at runtime. This works fine under Windows, and i get code coverage results for my extension assemblies.

On Ma

[2020-06-05 20:05] AntiPasha commented on #857
@MarcoRossignoli MSBuild integration works as well, thanks in advance!

[2020-06-05 20:06] MarcoRossignoli commented on #857
Great will PR asap!

[2020-06-05 20:19] MarcoRossignoli commented on #868
Some questions:
Are the dll inside a custom dir under bin/debug?
Are you running more than one test project in parallel?

[2020-06-05 20:33] jherby2k commented on #868
the DLLs are in a totally separate folder under %LOCALAPPDATA%, although they're built as part of the same solution. Tests aren't run in parallel, no.

It's all at https://github.com/jherby2k/AudioWorks. If you click on the DEV build tags you should be able to see where its failing. The test command line is:

`/usr/bin/dotnet test /home/vsts/work/1/s/AudioWorks/AudioWorks.sln --logger trx --result

[2020-06-05 20:38] MarcoRossignoli commented on #868
Can you try to appen `-nr:false -m:1` to your command?

[2020-06-05 20:41] MarcoRossignoli commented on #868
You have more than one test project and run command from sln so every test project run in a custom process and tests run in parallel(I mean more than one project at same time) and if all are using same include directory maybe there is an issue on concurrent assembly instrumentation.

[2020-06-05 20:44] jherby2k commented on #868
the console output is sequential so i'd assume it was not in parallel, but let me try changing that.

So interestingly, i looked at the Windows output and although i get valid code coverage results for my "extensions", i do see a bunch of errors like this in the console:

' Data collector 'XPlat code coverage' message: [coverlet]Coverlet.Collector.Utilities.CoverletDataCollectorException: Coverlet

[2020-06-05 20:45] MarcoRossignoli commented on #868
Console is synched so you see one write line at time.

[2020-06-05 21:06] jherby2k commented on #868
Oh wow, okay, so this seems to be my problem *facepalm*. What out of curiosity does `-nr:false -m:1` do? You can close this i believe.

[2020-06-05 21:08] MarcoRossignoli commented on #868
`-nr:false` tell to msbuild to not reuse process for different test run
`-m:1` max parallel worker process(max tests in parallel) https://docs.microsoft.com/en-us/visualstudio/msbuild/building-multiple-projects-in-parallel-with-msbuild?view=vs-2019

[2020-06-05 21:09] MarcoRossignoli commented on #868
Feel free to close!

[2020-06-06 02:00] paul1956 opened #870 "Stopped working on Core 3.1 when core 5 SDK preview installed"
My app is Core 3.1, something is trying to find
[code]
but the is no directory below and preview 5 runtime is not even installed.
[code]

[code]

[code]

[2020-06-06 07:18] MarcoRossignoli commented on #870
Mmm I don't know if it's releated to coverlet, can you enable verbose logging https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration?

[2020-06-06 07:29] #857 closed

[2020-06-06 12:46] ajukraine opened #871 "It's not obvious that "coverlet" doesn't support coverage of code in "exe" project"
## Problem
I have following setup:

- TransportTycoon.ConsoleApp
- TransportTycoon.Tests

Console app project is defined as:
[code]

Test project is defined as:
[code]

When I run tests with  `dotnet test --collect:"XPlat Code Coverage"` I get empty test results file:
[code]

## Workaround
After I moved all code to new "classlib" project and referenced it in test project, I got nice test result re

[2020-06-06 19:06] jherby2k commented on #868
Not sure if those msbuild switches fix it or not, but I just broke the test projects out into separate steps which seems to work well.

[2020-06-06 19:06] #868 closed

[2020-06-06 20:12] paul1956 commented on #870
Coverlet is not event starting
dotnet test ./CSharpToVB.Tests.vbproj  fails with the same error.

[2020-06-06 20:12] #870 closed

[2020-06-06 20:26] MarcoRossignoli commented on #868
I think that separate steps means not overlapped instrumentation so no race condition

[2020-06-07 08:51] MarcoRossignoli commented on #871
Should be supported, I did a test using sample on repo take a look at branch https://github.com/MarcoRossignoli/coverlet/tree/issue871
If I run I get report
[code]
Are there tests inside test project?Can you enable verbose logging so we can understand what is instrumented https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-integration?

[2020-06-07 09:24] #563 closed

[2020-06-09 12:34] askpt commented on #852
I updated the coverlet.collectors to the latest version and I'm hitting some issues.
My project is dotnet core latest version and I have some [ExcludeFromCodeCoverage].

The report in the VSTS reports that most of the async methods are `Not Coverable` while the other ones are. Using Rider I'm able to get coverage of the entire solution and green lines on async methods.

[2020-06-09 13:05] MarcoRossignoli commented on #852
@askpt can you attach your command line?Could be an issue with some attribute filters maybe.

[2020-06-09 13:52] askpt commented on #852
@MarcoRossignoli sure! Here is my runsettings:
[code]

VSTS Task:
[code]

[2020-06-09 14:04] MarcoRossignoli commented on #852
You cannot use `GeneratedCodeAttribute` because for every async method roslyn compile a state maching with attribute `[GeneratedCodeAttribute]` there was a bug in filtering in past and this wasn't honored, now we fixed that.

dup of https://github.com/coverlet-coverage/coverlet/issues/794

[2020-06-10 23:53] daveMueller commented on #799
Can I  work on this? Could you assign it to me.

[2020-06-11 06:44] MarcoRossignoli commented on #799
Sure, let me know if you need help with test coverage debug, I usually work with ILSpy to inspect instrumentation on IL

[2020-06-13 18:27] josuuribe commented on #418
Hi, I have the exact same issue in Azure DevOps with the last version available, I do not use Sonnar or any other third party tool, it's easy to reproduce:

1. Use the default Azure Build Pipeline .Net Core template (like Asp.Net Core) and putting these arguments in Azure DevOps .net core task:

--no-build --configuration $(BuildConfiguration) /p:CollectCoverage=true /p:Threshold=85 /p:UseSourceLi

[2020-06-13 18:34] MarcoRossignoli opened #874 "Consolidate drivers versions"
Release workflow for coverlet is not simple due to different versions of drivers.
Now that we're ready to sign our package the things will be worse.
My proposal and after @clairernovotny's advice is to consolidate coverlet version since next release `3.0.0` to allow automatic sign/deploy from pipeline.
Sure, we have different features supported for different drivers, but we can document with a md.

[2020-06-13 18:36] MarcoRossignoli commented on #418
@josuuribe pls can you open new issue?

[2020-06-13 18:51] MarcoRossignoli commented on #852
@JustinBerger any news?

[2020-06-13 18:59] MarcoRossignoli commented on #767
We added documentation on `-r|--results-directory`

[2020-06-13 18:59] #767 closed

[2020-06-13 18:59] MarcoRossignoli commented on #865
any news?

[2020-06-13 19:08] #347 closed

[2020-06-13 19:10] MarcoRossignoli commented on #843
Close for stale conversation, feel free to close if needed!

[2020-06-13 19:10] #843 closed

[2020-06-13 19:17] MarcoRossignoli commented on #683
Close because after discussion we decided to now remove msbuild support, but maybe change hits gather strategy using memory mapped file to avoid vstest plat issue and some other trick to allow solution report merge(setup common file with msbuild target and lock file access on merge).

https://github.com/coverlet-coverage/coverlet/issues/808

[2020-06-13 19:17] #683 closed

[2020-06-13 19:23] MarcoRossignoli commented on #775
@Adam-RapidRTC any news?

[2020-06-13 20:15] FourierFormed commented on #379
I would also find this feature very useful.

[2020-06-14 05:30] DaGrisa commented on #865
Yes, thank you, now it works for us.

[2020-06-15 17:24] petli commented on #760
I've run into something similar, and have a repro project here that also shows it to be an issue with foreach:
https://github.com/petli/coverlet-issue-760-demo/blob/master/Demo/Demo/Implementation.cs

Coverage:
https://github.com/petli/coverlet-issue-760-demo/blob/master/coverage.cobertura.xml

It seems to be the combination of IEnumerable<> and the async state engine that causes coverlet to ignor

[2020-06-15 23:36] cdjc commented on #760
Zip file attached, but in short, to repro, you can create the example webapi app:
`$ dotnet new webapi`
And then add these methods to WeatherForecastController.cs:

[code]
[example_issue_760.zip](https://github.com/coverlet-coverage/coverlet/files/4783490/example_issue_760.zip)

[2020-06-16 20:04] hunyhabib commented on #654
I tried to run dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover with that test project but still no test coverage file gets published

[2020-06-18 15:52] mahesh-bennie opened #877 "Could not load file or assembly due to assembly reference mismatch error when using Coverlet.Collector"
We are encountering an assembly mismatch when utilizing Coverlet.Collector in our codebase (dotnetcore 3.1) when combined with FluentAssertions (in test projects) and Razorlight.Netcore3 (in a non test project that deals with sending out emails). More specifically, it's complaining about not being able to find a particular version of Microsoft.Extensions.Dependencymodel (which both Razorlight and

[2020-06-18 19:27] lcsanchez commented on #817
@jrperron88 Were you able to solve this? I seem to be running into a verify similar issue. Will see if I can reproduce in a small sample app.

[2020-06-18 20:04] lcsanchez commented on #817
Updating to the latest .net core sdk solved the issue for me

[2020-06-18 20:06] MarcoRossignoli commented on #877
Coverlet is using a dependency model for some corner case where it needs to load assemblies from shared framework, this is the version used
https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.core/coverlet.core.csproj#L14
https://github.com/coverlet-coverage/coverlet/blob/master/Directory.Build.targets#L6

If the reference are project->tests you shouldn't have problem on "projec

[2020-06-18 20:06] MarcoRossignoli commented on #874
ping @tonerdo

[2020-06-18 20:30] MarcoRossignoli commented on #760
thanks guys I'll take a look asap!

[2020-06-19 01:44] antoinne85 opened #878 "Include/Exclude Priority Help"
First of all, thanks to everyone who's worked to make this project what it is. Super cool stuff.

I was hoping you'd help me pin down an issue I'm having with my folder layout and includes/excludes lists.

I've got a folder/project structure similar to:
[code]

In our setup, each domain folder has its own build/test/deploy pipeline. As part of that, when we're running the pipeline for a domain, we

[2020-06-19 13:00] ffMathy opened #879 "Force specific path?"
When I run:

[code]

The output directory for the coverage files seems to be random (with a random GUID in the path). Is there a way where I can customize where these files are saved?

[2020-06-20 02:47] Cjewett opened #880 "StackOverflow exception when resolving TypeReference SqlDbType"
Hello,

I'm attempting to use the global tool to add code coverage to our code base. It's a mix of .NET Framework 4.6.1 and .NET Standard 2.0.0 as far as unit tests are concerned, and the .NET Framework projects are not SDK-style. For the purposes of this test I did move them to SDK-style projects for testing but I saw this issue both with and without SDK-style .NET Framework projects. Unfortunate

[2020-06-20 20:41] Brainman643 opened #881 "Coverlet generates empty results when DebugType is embedded and Fody is referenced"
Hello,
When property `DebugType` is `embedded` and Fody with plugin is referenced coverage results are empty.
My project:
[code]
If  `DebugType` is changed to `portable` or Fody packages are removed, then it will work.

[2020-06-21 04:40] Cjewett commented on #880
Further debugging suggests this is an issue with Mono.Cecil. It hangs when ModuleDefinition.Write(Stream stream, WriterParameters parameters) is called for one of the assemblies. Going through the motions to debug that now.

[2020-06-21 06:50] chtoucas opened #882 "Deterministic build, Coverlet throws a KeyNotFoundException when ContinuousIntegrationBuild = true."
Hello, when I try to run Coverlet (MSBuild or VSTest integration)
with `UseSourceLink = true` and `ContinuousIntegrationBuild = true`, it throws a `KeyNotFoundException`.
[code]
Here is a very simple [repository](https://github.com/chtoucas/DeterministicBuilds) that reproduces the error. The exact commands that I use are:
[code]
and
[code]
If I use `ContinuousIntegrationBuild = false`, everything

[2020-06-21 10:22] Cjewett commented on #880
At some point Cecil.Mono attempts to call ModuleDefinition.Resolve(SqlDbType) and it enters an endless loop that leads to a StackOverflow exception.

https://github.com/jbevain/cecil/blob/c1a3c199c31b76e3064316a5f24e176ca780b0af/Mono.Cecil/MetadataResolver.cs#L131

The code eventually enters that function.
module = System.Data.dll
reference = System.Data.SqlDbType

It enters the exported_types loo

[2020-06-21 14:13] bddckr opened #883 "Attribute exclusion does not work if attribute name does not end with "Attribute""
I came across the same issue as #604 and added `TestSDKAutoGeneratedCode` to my `ExcludeByAttribute` usage (I'm using the MSBuild integration).

However, it looks like coverlet assumes all attributes' type names will end with `Attribute`:
https://github.com/coverlet-coverage/coverlet/blob/f7c3fd4e3a52de4eda4d3aa26918487e23f2aaa1/src/coverlet.core/Instrumentation/Instrumenter.cs#L696-L697
That isn'

[2020-06-22 07:11] MarcoRossignoli commented on #879
Unfortunately not, it's related to VSTest platform

Dup of https://github.com/coverlet-coverage/coverlet/issues/500
I opened an issue on VSTest repo here https://github.com/microsoft/vstest/issues/2378

[2020-06-22 07:16] MarcoRossignoli commented on #881
Coverlet supposed to work with `portable` and `embedded`, can you try to remove `Fody` and set only `embedded` to understand if the issue is the pari `embedded`+`Fody`?

[2020-06-22 07:22] MarcoRossignoli commented on #880
Coverlet works only with portable pdb's

There were some similar issue with Cecil in past but we fixed that https://github.com/jbevain/cecil/issues/575
Were related to `netstandard.dll` resolution on core/.NET full.
Which version are you using?

[2020-06-22 07:36] MarcoRossignoli commented on #883
Thank's for reporting this, feel free to provide a PR with some tests if you want(not obligated at all btw).

[2020-06-22 07:38] MarcoRossignoli commented on #882
Can you confirm that if you remove `UseSourceLink = true` it works?

[2020-06-22 08:01] chtoucas commented on #882
Actually no. It works when `UseSourceLink = true`  and  `ContinuousIntegrationBuild = false`.
The only case that does not work is when `UseSourceLink = true`  and  `ContinuousIntegrationBuild = true`.

[2020-06-22 08:04] chtoucas commented on #882
Oh sorry, I think I misread your question. Yes it works fine when I remove `UserSourceLink = true` and whether I set `ContinuousIntegrationBuild` to `true` or `false`.

[2020-06-22 08:29] bddckr commented on #883
Thanks for checking in!

Will do, hopefully during the next 7 days.

[2020-06-22 09:25] MarcoRossignoli commented on #882
Yep I mean `UserSourceLink = false`(or removed) and `ContinuousIntegrationBuild = true`

[2020-06-22 09:50] chtoucas commented on #882
Just to be crystal clear, the default values for `ContinuousIntegrationBuild` and `UseSourceLink` being `false`,  the following commands succeed:
[code]
This one fails:
[code]

[2020-06-22 11:01] Brainman643 commented on #881
Yes, the issue is that `DebugType` is `embedded` and `Fody` is added.
`embedded` with `Fody` - doesn't work.
`embedded` without `Fody` - works.
`portable` with `Fody` - works.

[2020-06-22 11:57] MarcoRossignoli commented on #882
Ok the issue is source link plus deterministic build. Need to investigate further this scenario, thanks for reporting this.

[2020-06-22 11:58] MarcoRossignoli commented on #883
No probs at all, at your pace!

[2020-06-22 11:59] #879 closed

[2020-06-23 10:00] chtoucas commented on #882
Upon further investigations, I think the problem is with generate files.

If we force `DeterministicSourcePaths` to `false`, things work again.
The build won't be fully deterministic but Coverlet will work fine when using Source Link on a CI server.
[code]

[2020-06-23 13:21] Cjewett commented on #880
Updated PDBs to portable and the warnings are gone. Thanks!

.NET Standard 2.0.3.

The reference tree is .NET Framework 4.6.1 unit test project references .NET Framework 4.6.1 library. The .NET Framework 4.6.1 library references .NET Standard 2.0.3 library.

I was able to create a reproducible example here: https://github.com/Cjewett/CoverletIssue

[2020-06-23 14:35] jpdillingham opened #885 "MergeWith does not respect framework suffix in output file"
I'm testing two binaries in my pipeline with the following (truncated) options:

[code]

This produces an intermediate coverage file `coverage.netcoreapp3.1.json` and a final report `opencover.netcoreapp3.1.json`

Omitting `netcoreapp3.1` in the `MergeWith` option value leads to a result which is not merged.

My expectation would be that the output files are either produced with the framework suff

[2020-06-23 14:58] mahesh-bennie commented on #877
Hey I'll try to get a repro into a repository sometime this week.

[2020-06-24 10:13] MarcoRossignoli commented on #882
Thanks a lot for investigation!

[2020-06-24 10:26] MarcoRossignoli commented on #885
Thanks for reporting this.

[2020-06-24 10:54] tonerdo commented on #874
No idea how to enable branch protection. Any pointers?

[2020-06-24 13:56] PSanetra commented on #72
We are still facing this issue. The workarounds mentioned here did not help.

[2020-06-24 15:42] Ablinne opened #886 "Collector fails due to blocked files, propose simple fix"
Hi Everyone, I realize that a similar issue has been discussed recently, but I have some substantiated evidence about what exactly happens. In my case McAfee Adaptive Thread Protection (yikes) is blocking the instrumented modules, so that `InstrumentationHelper.RestoreOriginalModule()` fails to restore the original file even after the default 12 retries with increasing sleep intervals of 6, 12, 24

[2020-06-24 16:20] MarcoRossignoli commented on #72
@PSanetra can you file an new issue with you case?

[2020-06-25 18:57] MarcoRossignoli commented on #886
What do you think about log a warning and skip restore to avoid crash?Do you use same artifact after test/coverage?