[2018-03-13 09:58] spboyer opened #1 "Add gif to readme"
Add gif from MVP Conference presentation to readme.

[2018-03-13 15:05] tonerdo commented on #1
@spboyer will definitely do that

[2018-03-14 06:48] spboyer commented on #1
Let me know when you get this done, want to promote this...

[2018-03-21 17:46] spboyer opened #3 "Support command line options in lieu of property notation"
Use `--option` in addition to or instead of property notation `/p:`

`/p:CollectCoverage=true` -> `--collect|-c (true|false)`
`/p:CoverletOutputFormat=opencover` -> `--output|-o (json (default), lcov and opencover)`
`/p: CoverletOutputDirectory ` --> `--directory|-d`

[2018-03-21 21:50] shanselman opened #4 "Document that tests and tested assembly must be separate (no single assemblies)"
Document that tests and tested assembly must be separate (no single assemblies)

[2018-03-22 09:07] OneCyrus opened #5 "Report format support for JaCoCo"
it works quite well so far! we are using it already in VSTS/TFS. but one thing which is not so streamlined for using in VSTS/TFS are the supported output formats. Currently VSTS/TFS only supports Cobertura and JaCoCo. Supporting one of this formats would be great.

[2018-03-22 09:36] tonerdo commented on #5
@OneCyrus multiple coverage formats is definitely and improvement. Do you happen to have links where these formats are documented?

[2018-03-22 12:31] OneCyrus commented on #5
it looks like there is no proper Cobertura specification.

but may be this links help:
https://leonard.io/blog/2011/06/cobertura-sample-xml-output/
https://github.com/danielpalme/OpenCoverToCoberturaConverter

[2018-03-22 13:15] tonerdo commented on #5
Alright, will take a look. Thanks!

[2018-03-22 14:18] Structed opened #6 "No output generated"
I have installed the package to my test project, ran `dotnet test /p:CollectCoverage=true` as well as `dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover`, but no code coverage report was generated.

dotnet SDK: 1.0.4
Taregt Framework: netcoreapp1.1
xunit: 2.3.1
coverlet.msbuild: 1.0.0

[2018-03-22 14:23] atifaziz opened #7 "Incorrect coverage reporting 🐛"
The coverage report for 87135a5d0c3c5a27db83509fba01774dd20201d9 claims that [`DictionaryExtensions.cs` has 75% coverage](https://coveralls.io/builds/16102295/source?filename=/src/coverlet.core/Extensions/DictionaryExtensions.cs). It only has one method:

https://github.com/tonerdo/coverlet/blob/87135a5d0c3c5a27db83509fba01774dd20201d9/src/coverlet.core/Extensions/DictionaryExtensions.cs#L7-L14

A

[2018-03-22 14:23] tonerdo commented on #6
@Structed pls target `netcoreapp2.0` and let me know if you still don't see an output

[2018-03-22 14:24] tonerdo commented on #7
@atifaziz I have noticed this little kinks here and there. Currently trying to find the root cause, intend to have it fixed by this weekend

[2018-03-22 14:38] neurospeech opened #8 "Error when using multiple referenced libraries"
Lets say we have 3 projects.

[code]

In `AppData\Temp`, coverage is generated for "Application" but not for "Library", or even if it is generated, it fails with an error that could not find `Library_SOME_GUID` file. But there are multiple `Application_SOME_GUID` files in `AppData\Temp`.

I suspect, `Library_SOME_GUID` is written as `Application_SOME_GUID`

[2018-03-22 14:57] tonerdo commented on #8
I'll take a look shortly and try to fix it.

[2018-03-22 15:36] tonerdo commented on #5
Thanks, how about JaCoCo?

[2018-03-22 18:10] jbright commented on #8
I think that's the same issue I'm having.

[2018-03-22 19:45] OneCyrus commented on #7
we saw similar issues here. some lines between covered ones where missing where it wasn't possible to branch.

[2018-03-22 19:51] OneCyrus commented on #5
Microsoft has links to the schema definition files for both here: https://docs.microsoft.com/en-us/vsts/build-release/tasks/test/publish-code-coverage-results?view=vsts

http://cobertura.sourceforge.net/xml/coverage-04.dtd
http://www.eclemma.org/jacoco/trunk/coverage/report.dtd

[2018-03-22 19:58] OneCyrus opened #9 "multiple classes/files with same name not covered"
it looks like we don't get coverage reports for files which have same name and classes. For some APIs we we have multiple versions which only differ in a versioned namespace.. At the moment it looks like we get coverage report for the file ion namespace version1 but not in version2. Could there be some mapping issues when only the namespace is different?

[2018-03-22 21:04] SchneiderPatrick commented on #6
@tonerdo Hey :) I have the same problem targeting netcoreapp2.0.

[2018-03-22 22:35] tonerdo commented on #6
What's the output of `dotnet --info`?

[2018-03-22 23:50] tonerdo commented on #7
@OneCyrus @atifaziz This issue has been fixed in #10. It was actually a pretty straightforward fix and a good side effect is it sets the foundation for branch coverage support. This fix will be in a new NuGet package I'll release this weekend, in the future I'll setup a nightly CI package publish so improvements can get out faster.

Cheers

[2018-03-22 23:55] tonerdo commented on #6
Also, what test framework are you using?

[2018-03-23 00:19] tonerdo commented on #9
This is weird because the fully qualified name is used and since the namespace is different, it should be unique. Will take a look

[2018-03-23 07:53] SchneiderPatrick commented on #6
I also tried the latest stable version of the .net core sdk.
I used xunit and mstest. same result with both of these.

.NET Command Line Tools (2.1.300-preview1-008174)

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64

[2018-03-23 09:51] OneCyrus commented on #9
may be it's a side effect of #7. I'll keep you updated once the updated nuget package is released.

[2018-03-23 11:11] tonerdo commented on #3
This is unfortunately a limitation with MSBuild. The standard command line option format will be supported by the coverlet cli once it's release (should coincide with the general availability of [.NET Core global tools](https://surfingthecode.com/fun-with-global-tools-in-.net-core-2.1-preview/))

[2018-03-23 11:18] DominicBurford opened #12 "System.IO.FileNotFoundException: No test is available in <myassembly.dll> when run from TFS"
I am getting the error

"System.IO.FileNotFoundException: No test is available in <myassembly.dll>. Make sure test project has a nuget reference of package "Microsoft.NET.Test.Sdk" and framework version settings are appropriate and try again."

...when running a batch script from TFS that executes coverlet.

I have added a reference to the "Microsoft.NET.Test.Sdk" assembly to my project (it is add

[2018-03-23 11:30] tonerdo commented on #12
Can you try executing the tests from TFS build with coverage disabled? I ask because this doesn't seem like a coverlet issue

[2018-03-23 11:38] tonerdo commented on #6
So my only thought is Coverlet is unable to find a suitable assembly to instrument.
Couple of questions:

What's the structure of your solution?
Are your tests in the same project with the classes you're testing?
Does the assembly you're trying to get coverage for have a PDB?

[2018-03-23 12:09] DominicBurford commented on #12
I don't have code coverage enabled as we don't have the Enterprise version. I'm not using any of the TFS test tasks as I'm using **dotnet test** for all our .NET Core testing requirements including code coverage.

[2018-03-23 12:19] tonerdo commented on #4
This has been added to the README

[2018-03-23 12:19] #4 closed

[2018-03-23 12:42] lukasz-ciura-neyber commented on #6
Hi, I have similar problem, but I get error in output:

 Calculating coverage result...
C:\Users\username\.nuget\packages\coverlet.msbuild\1.0.0\build\netstandard2.0\coverlet.msbuild.targets(19,5): error : **Could not find file 'C:\Users\username\AppData\Local\Temp\ProjectName.Common_6c1a88f4-0f61-4510-827b-a26cc32ae3a4'.** [C:\Users\username\Projects\ProjectName\ProjectName\src\Tests\ProjectName.

[2018-03-23 14:02] DominicBurford commented on #12
I have managed to get this working.

If running coverlet from inside TFS you need to explicitly specify the project and suppress it from doing a build and restore.

For example

dotnet test "Project.Tests.csproj" --no-build --no-restore /p:CollectCoverage=true

[2018-03-23 14:43] tonerdo commented on #12
Hmmm...that's very weird. @OneCyrus seemed to have gotten it working without any hassles. See #5

[2018-03-23 15:28] DominicBurford commented on #12
Possibly TFS doesn't have access to the same environment as when executed from the command-line.

[2018-03-23 15:44] mihasic commented on #6
If you want to check on failing project: https://github.com/mihasic/LuceneSearch/tree/coverlet

[2018-03-23 17:07] atifaziz commented on #7
@tonerdo Thanks and looking forward to trying out the new package soon after it's up.

[2018-03-23 19:06] wlmiller commented on #8
I was having the same issue so I dug in to see what I could find - I believe it's actually two issues.

1. If the module is never hit by a test, `CoverageTracker.MarkExecuted` isn't called for that module and no hits file is created (this would be addressed by @jbright's PR).
2. `CoverageTracker` has a single static `_path` and a single list of `_markers`, which means that all the hits get written

[2018-03-23 19:33] roozbehid-ic opened #13 "use in a program without unit tests?"
Is it possible to use this in a situation that unit tests does not exist?

I have an asp.net core app and I want to measure its coverage based on its actual usage in my prod environment.

[2018-03-23 21:33] tonerdo commented on #8
@wlmiller by all means I'll love to have that PR, thanks for pointing out the issue.
You can just remove this line `if (!File.Exists(result.HitsFilePath)) { continue; }` if you're concerned about stepping on the existing PR and I also have my reservations about it

[2018-03-24 22:55] tonerdo commented on #8
This has been fixed in #14. New NuGet bits drop by Monday

[2018-03-24 22:56] tonerdo commented on #8
@wlmiller did some tests locally and found out that the implementation of `CoverageTracker.MarkExecuted` wasn't thread-safe from the onset. Your change simply brought that to light, here's the fix if you're interested https://github.com/tonerdo/coverlet/commit/c055f95f300179dd862893205cb88af53493732b

[2018-03-25 05:07] AlexanderButs opened #15 "NUnit integration issue."
Hi.

First of all thanks a lot for Your initiative to write cross platform coverage library :) I've been using OpenCover and been dreaming about cross platform analogue :)

I have NUnit test project and try to integrate coverlet, but get an error:
...
Total tests: 13. Passed: 13. Failed: 0. Skipped: 0.
Test Run Successful.
Test execution time: 1.4340 Seconds

Calculating coverage result...
C:\User

[2018-03-25 10:30] tonerdo commented on #15
@AlexanderButs thanks for opening this up. #11 fixes this issue and a new NuGet package will go out within 24 hours

[2018-03-25 16:53] sesispla opened #16 "System.BadImageFormatException when code coverage is enabled."
I am trying to add code coverage to [kubernetes-client-csharp](https://github.com/kubernetes-client/csharp/issues/16).

Desperate of not having official support from Microsoft I am giving a try to coverlet. I've created a feature branch from project's master and added Coverlet (everything fine in [Travis](https://travis-ci.org/sesispla/kubernetes-client-csharp/builds/358090639) so far.

But, as so

[2018-03-25 17:39] tonerdo commented on #16
Hi @sesispla, kindly point me to the feature branch and instructions on how to build the project and I'll take a look. Off the top of my head though, I'll say the problem comes from `Mono.Cecil` generating a bad assembly, I'm still using a beta version of `Mono.Cecil` so maybe updating it will fix this

[2018-03-25 18:17] sesispla commented on #16
Here is the branch where I am currently working at:

https://github.com/sesispla/kubernetes-client-csharp/tree/feature/codecov

Thx!

[2018-03-25 23:14] tonerdo commented on #16
A Mono.Cecil version upgrade didn't fix the issue like I hoped it will. Will have to take a closer look at figuring out that specific error message. From a quick skim though, it looks like it might have something to do with architecture. Although, I can't really be sure at this time.

[2018-03-26 05:14] jeankedotcom commented on #6
Hi, I am having the same problem as @lukasz-ciura-neyber

Using **dotnet 2.1.203**

![error](https://user-images.githubusercontent.com/8275811/37888008-4d66b6ba-30c5-11e8-9c7d-ee412250b05d.png)

![file](https://user-images.githubusercontent.com/8275811/37888009-4d828a8e-30c5-11e8-854e-e824022e8686.png)

[2018-03-26 10:08] tonerdo commented on #9
@OneCyrus you can try out the new NuGet package https://www.nuget.org/packages/coverlet.msbuild/1.0.1

[2018-03-26 10:09] tonerdo commented on #6
Try a out the new NuGet package and let me know how it goes https://www.nuget.org/packages/coverlet.msbuild/1.0.1

[2018-03-26 10:33] tonerdo commented on #7
@atifaziz New NuGet package release: https://www.nuget.org/packages/coverlet.msbuild/1.0.1

[2018-03-26 10:35] tonerdo commented on #7
@OneCyrus lemme know if the new NuGet package also fixes the issues you were seeing regarding coverage accuracy

[2018-03-26 10:38] tonerdo commented on #16
@sesispla quick question, is your assembly signed?

[2018-03-26 10:49] mihasic commented on #6
works for me, thank you

[2018-03-26 11:30] jeankedotcom commented on #6
With version 1.0.1 I get another error

![coverlet-error](https://user-images.githubusercontent.com/8275811/37903876-e0b0c4f4-30f9-11e8-8452-790f948dad70.png)

[2018-03-26 11:47] tonerdo commented on #6
@jeankedotcom I think that happens when calculating the summary result. The coverage results file should still have been generated

[2018-03-26 11:53] jeankedotcom commented on #6
@tonerdo you are right, the coverage file exists.

But if the "dotnet test" command fails it will break my CI build on GitLab. Can I disable the summary report?

[2018-03-26 12:14] tonerdo commented on #6
Hmmm... there's currently no way to disable summary, I should probably add that option. Is there a way for you to ignore that error?

[2018-03-26 12:20] jeankedotcom commented on #6
I will check if I can ignore the error.
Or maybe you could check for totalLines to be 0 in line 35 of CoverageSummary.cs.

Something like this?
[code]

[2018-03-26 13:05] StillLearnin opened #18 "Coverage results are incorrect."
I have 3 projects and 21 tests all written against `Candle.Services`
[code]

[2018-03-26 13:17] OneCyrus commented on #7
it improved here but there are still some missing parts. e.g.:

![image](https://user-images.githubusercontent.com/7747800/37908480-afd875c0-3108-11e8-877d-8d8f86596487.png)

[2018-03-26 13:18] tonerdo commented on #7
Thanks for pointing that out. Any other examples you can show?

[2018-03-26 13:33] tonerdo commented on #13
I'm pretty sure you can use it for that scenario, although coverlet doesn't support this out of the box. You'd have to checkout the code yourself and make all the necessary modifications.

[2018-03-26 13:33] #13 closed

[2018-03-26 13:35] StillLearnin commented on #18
Here's a sample:

For what it's worth, the `Get()` method is in a base class.

## Actual code being tested:
![image](https://user-images.githubusercontent.com/2912263/37909222-56b56924-30d8-11e8-8cbb-611f33eb3fb1.png)

## coverage.json relevant portion:
[code]

## Test with ListAsync() highlighted:
![image](https://user-images.githubusercontent.com/2912263/37909303-84c77fa0-30d8-11e8-8a27-93d07241

[2018-03-26 13:37] StillLearnin commented on #18
See #7 also. I started this new issue because I thought #7 might have been fixed with the previous pull requests or might be a different issue.

[2018-03-26 17:12] tonerdo commented on #18
This doesn't look like much of a #7 issue. I'm thinking it might have something to do with all async methods. Although, one of Coverlet's users did mention that it works well with async tests. Is this project open source?

[2018-03-26 18:33] StillLearnin commented on #18
Not open source but I trimmed the project down to about 1/10th its size and can still reproduce the issue. You can get the trimmed down version [here](https://github.com/StillLearnin/coverlet.troubleshooting)

[2018-03-26 18:38] StillLearnin commented on #18
I think it may be an issue with timing or memory usage because if you comment out line 16 in [Main](https://github.com/StillLearnin/coverlet.troubleshooting/blob/master/coverlet.fails/Candle.DbContext/Extensions/SeedData/Main.cs) so as to not seed postal codes, coverlet seems to work.

The other option that fixes the issue is to trim down [PostalCodesUSA.csv](https://github.com/StillLearnin/coverl

[2018-03-26 19:02] tonerdo commented on #18
Thanks for providing the repro project. I'll clone it and check things out

[2018-03-26 21:44] sesispla commented on #16
AFAIK, not yet. This is a [pending task](https://github.com/kubernetes-client/csharp/issues/70).

[2018-03-27 11:23] josephearl opened #19 "Attempted to divide by zero"
I get an error (warning?) printed when running coverlet - it looks like coverage results are still generated though:

[code]

[2018-03-27 12:07] tonerdo commented on #19
This has been fixed and will be available via a new NuGet package next Monday. See here: https://github.com/tonerdo/coverlet/issues/6#issuecomment-376134752

[2018-03-27 14:21] OneCyrus commented on #7
here's another example:

![image](https://user-images.githubusercontent.com/7747800/37973418-b4d9829e-31da-11e8-8342-81d66e5b381b.png)

it looks like it doesn't like LINQ. all the missing things I saw are related to LINQ.

[2018-03-27 14:53] tonerdo commented on #7
I'm not surprised, the IL the compiler generates for LINQ is horrendous. I'll take a closer look, thanks

[2018-03-27 14:57] #3 closed

[2018-03-27 14:57] #8 closed

[2018-03-27 14:59] #15 closed

[2018-03-27 16:11] OneCyrus commented on #9
still same issue with 1.0.1. Also tested if it depends on the other issue with the async tests. but even changing a test back to synchronous doesn't change the coverage.

[2018-03-27 17:32] tonerdo commented on #9
Noted. Will look into this next as it seems fairly easy to repro

[2018-03-27 17:40] AlexanderButs commented on #15
Thanks. It works now.

[2018-03-28 14:52] pms1969 opened #21 "Failed to resolve assembly."
Hi.  Firstly, thanks for your efforts.  By far the best approach I've seen so far in this space.

I've got a rather large solution with many interdependencies between projects.  When I run my tests, for almost all of the projects I see the following error:
[code]
obviously sanitised.

`AnotherAssembly` isn't a direct dependency of the TestProject, but is built - to the version specified, and is in

[2018-03-29 09:47] #12 closed

[2018-03-29 09:50] tonerdo commented on #21
Debug logging is something I've been hoping to add to coverlet. Do you have a simple repro project I can take a look at?

[2018-03-29 10:41] pms1969 commented on #21
Unfortunately not.  I did try to set one up, but not knowing what the problem was, meant I couldn't get the test repo into the same state as our production one. :-(  And I can't hand that over. :-s

I've added some `Console.WriteLine`s in the spots I think will give me some kind of understanding and am in the process of trying to compile and publish locally.  Will let you know how I get on.

[2018-03-29 13:29] pms1969 commented on #21
I'm not there yet, but here's an update:
It's happening on the `module.Write(stream)` line in Instrumenter: `InstrumentModule` method.

So basically inside Cecil.

I'm working on a theory.  If it pans out, I'll report back.  Otherwise, any thoughts?

[2018-03-29 13:47] tonerdo commented on #21
My best guess is that when Cecil rewrites the assembly it misses out the references but I can't be so sure. Lemme know how your theory pans out

[2018-03-29 15:01] pms1969 commented on #21
Theory didn't pan out.  Looks like it's 2 specific Assemblies that have the issue.  Ensuring that the dependency it's failing to find is instrumented first didn't do anything to improve the situation, so still stumbling around in the dark.

[2018-03-29 17:42] pms1969 commented on #21
Just opening and re-writing the assemblies with mono.cecil causes the error.  Something fishy there :-(  Might take me a while to track down.

[2018-03-30 14:08] Valeriy1991 opened #22 "Why Coverlet use custom attribute ExcludeFromCoverage instead of ExcludeFromCodeCoverage"
Hi guys!

Why Coverlet use the custom attribute `ExcludeFromCoverage` from its own namespace instead of using already exists in .NET Core attribute `ExcludeFromCodeCoverage` from namespace `System.Diagnostics.CodeAnalysis`?

To Coverlet ignore any class, I need to install the nuget package `coverlet.msbuild` in all projects with tests, right?

[2018-03-30 21:27] tonerdo commented on #22
@Valeriy1991 no, you can create a `ExcludeFromCoverage` attribute and use that. Coverlet uses the name and not the full type so anyone will work.

[2018-03-30 23:00] tonerdo commented on #9
I just tried to repro this and was unable to. I had the same class name in the same file name in two different namespaces, in two different folders and both of them were in the coverage results. Can you explain your current structure?

[2018-04-02 12:08] tonerdo commented on #18
@StillLearnin I figured out the problem. The `CoverageTracker` class writes to the hits file when the `ProcessExit` event is thrown, however, because there's so many hits to write it's unable to finish within the ~200ms window. There are a lot less hits when you comment out that line that's why it's able to finish successfully.

[2018-04-02 12:09] tonerdo commented on #18
I'm gonna look for a more efficient way to write to the hits result file

[2018-04-02 12:14] tonerdo commented on #21
Can I see the unsanitized error output?

[2018-04-02 12:51] tonerdo commented on #6
@jeankedotcom new NuGet release which should completely fix this isse: https://www.nuget.org/packages/coverlet.msbuild/1.0.2. Feel free to reopen if any more errors show up

[2018-04-02 12:51] #6 closed

[2018-04-02 12:53] tonerdo commented on #19
Fix contained in new release: https://www.nuget.org/packages/coverlet.msbuild/1.0.2

[2018-04-02 12:53] #19 closed

[2018-04-03 11:42] StillLearnin commented on #18
I'd be glad to take a look at this and open a pull request

[2018-04-03 12:15] pms1969 commented on #21
@tonerdo I could, but it's literally the same as what you see.  It's just the assembly names that were changed.

As it turns out.  I have been able to track down the error, and come up with a solution.  `mono.cecil`'s assembly resolver doesn't search the module path. Some context here: (https://github.com/jbevain/cecil/issues/306) and (https://github.com/jbevain/cecil/issues/487).  By taking the D

[2018-04-03 14:48] StillLearnin commented on #22
Is there any reason to not support `ExcludeFromCodeCoverage` as well? That would make it easier to transition to Coverlet from other products.

[2018-04-03 14:54] Valeriy1991 commented on #22
Hello! I'm still work on adding support on both attributes: `ExcludeFromCoverage` from Coverlet and `ExcludeFromCodeCoverage` from `System.Diagnostics.CodeAnalysis` in my fork.

[2018-04-03 14:57] StillLearnin commented on #22
In case you're wondering where to make the change it's right here... (in `Coverlet.Core.Instrumentation.Instrumentation`)
[code]

[2018-04-03 15:00] Valeriy1991 commented on #22
@StillLearnin thanks, I'm in the know. But first I want to add unit tests to check the current functionality (use `ExcludeFromCoverage` attribute)

[2018-04-03 15:34] tonerdo commented on #21
@pms1969 #23 has been merged in

[2018-04-03 15:34] #21 closed

[2018-04-04 09:14] tonerdo commented on #16
This error also gets thrown on Windows

[2018-04-04 13:20] pms1969 opened #25 "BUG: File locking"
My coverage script does the following:
[code]

This works perfectly well for the most part, but I see the following error randomly in different parts of the output on each run:
[code]

Any ideas?

Cheers,
Paul

**NB:** coverlet-1.0.3-beta1 is a build of the current master so as to capture the change from PR #23 and hosted in a local nuget repo.

[2018-04-04 16:02] tonerdo commented on #25
What test framework are you using?

[2018-04-04 17:07] sampwil commented on #25
I have encountered the same locking issue but it is consistent. I have xUnit tests running on TeamCity version 2017.2.2

/root/.nuget/packages/coverlet.msbuild/1.0.3-beta/build/netstandard2.0/coverlet.msbuild.targets(19,5): error : The process cannot access the file '/opt/buildagent/work/895704bd6e7179f/src/Server.Tests/bin/Debug/netcoreapp2.1/Pie.Quote.Domain.dll' because it is being used by anot

[2018-04-04 18:14] pms1969 commented on #25
@tonerdo I'm using nunit.

@sampwil  Interesting that it's working for you after that PR.

[2018-04-04 20:01] tonerdo commented on #25
@sampwil @pms1969 what operating system do you get these errors on?

[2018-04-04 20:02] spboyer opened #26 "Add option for minimum coverage / fail if under"

[2018-04-05 11:05] pms1969 commented on #25
@tonerdo I'm running in a slightly modified microsoft/dotnet container. https://hub.docker.com/r/microsoft/dotnet/  2.0-sdk.  I add in a few other things like sonar-scanner, which requires java, and a bunch of tools, but it's not far off being vanilla.

[2018-04-06 09:43] #18 closed

[2018-04-06 12:34] felipenicolini opened #29 "Improvement. Add to average return of code coverage of all lines"
Improvement. Add to average return of code coverage of all lines.
example:

project 1 | 100%
project 2 | 50%

Total coverage: 75%

[2018-04-06 14:41] tonerdo commented on #29
Why average and not total?

[2018-04-07 10:55] sesispla commented on #16
Merged to latest version from kubernetes-client-csharp and installed coverlet 1.0.2. The problem persists and is even worse. Some additional info:

1. We are using dotnet SDK 2.1.300.preview1-008174
2. Error is consistent through platforms (Windows, MacOS and Linux)
3. Now Travis-CI gets stuck and do not finish.
4. Local coverage test takes 20 minutes.
5. Test results from local tests:
dotnet 2.0

[2018-04-07 23:01] paulers commented on #29
Having totals for each project, class and/or method would be handy. On method level specifically something like ``{ total: 10, covered: 5 }`` and we can do the math ourselves. I'm currently loading the json file, going through each line result, keeping count of zeroes and non-zeroes then calculating the %.

[2018-04-08 01:12] paulers opened #30 "Unable to run in bash shell"
https://github.com/tonerdo/coverlet/blob/75a43d2a39a8733289875c3b00ebdbb64adc4385/src/coverlet.msbuild/coverlet.msbuild.props#L11

Output gets formatted with \ resulting in trying to write to a directory not supported by non-CMD terminals. Additionally, running without ``/p:CoverletOutputDirecotory`` results in `Project file does not exist` error.

Not sure how to work around this, or if it's poss

[2018-04-08 08:51] tonerdo commented on #30
Can you pls give me the details of the OS? Coverlet was developed predominantly in bash on a Mac and tested in both Powershell and Ubuntu

[2018-04-08 08:52] tonerdo commented on #29
The other output formats like `opencover` already have this information

[2018-04-09 01:02] paulers commented on #30
Sure. I tried it both inside a Jenkins installation on a Windows Server 2014 machine using git bash (managed shell script), and on Windows 10 using git bash running a script manually. Haven't tried it on an actual linux machine as I do not have access to one. I worked around it for now generating the coverage in a CMD window, then running the script inside bash shell after.

[2018-04-09 01:07] paulers commented on #29
I just used this here: https://github.com/tonerdo/coverlet/blob/6985035c1fca4b749450325e205b76acec67b6d0/src/coverlet.core/CoverageSummary.cs#L16 as a template for how many loops I needed to spin up to get to the meat of the report. Would love to get this inside the Json file, cause parsing opencover xml is... *shudder*.

[2018-04-09 02:21] VenkateshSrini opened #32 "Extension for Visual studio"
Hey,
I have seen the recent article on Hanselman about this extension. We are using .NET core extensively and we are stuck in test coverage. We are using Visual studio 2017 and using xUnit as test framework. Could you please provide us an extension for coverlet in Visual studio 2017 also. It would be good if you can provide for community, Professional and enterprises edition

[2018-04-09 06:55] pms1969 commented on #25
A simple exponential retrier?  I'm guessing the runtime hasn't finished unloading/garbage collecting/finalising/disposing of the module, but that is only a matter of time.  It would obviously need a timeout as you don't want to wait around for some dodgy code to finish cleaning up that may never actually do so.  An exponential retrier could start with a 6 milliseconds backoff with say 10 retries t

[2018-04-09 07:19] PrzemekGawron opened #33 "` Failed to resolve assembly` when running dotnet test with coverage"
When I run command
`dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover`
all test are passing and code coverage is correctly generated which is good. However returned exit code from command is 1 due to this error:

`coverlet.msbuild\1.0.2\build\netstandard2.0\coverlet.msbuild.targets(13,5): error : Failed to resolve assembly: 'Common, Version=1.1.0.0, Culture=neutral, PublicKeyTo

[2018-04-09 08:37] tonerdo commented on #25
@pms1969 by all means take a stab at this. Let's leave out logging for now and just do everything behind the scenes.

[2018-04-09 08:48] tonerdo commented on #32
This is definitely something I want to explore. I haven't built a VS extension before so will most likely need help if this needs to be done in good time

[2018-04-09 12:44] pms1969 commented on #25
@sampwil would you be able to test that PR and see if you still get the issue.  Looks like it worked locally for me, but it's always hard to tell if it has actually resolved in cases like this.  I'm having some unrelated other system issues as well, so confirmation from another source would be desirable.

[2018-04-09 22:27] tonerdo commented on #26
Functionality added in https://github.com/tonerdo/coverlet/commit/4126086c9ac12a90c14f9d250baefb4811f74d84

[2018-04-10 12:37] Valeriy1991 opened #36 "How can I union coverage results in one file?"
Hello!

I have multiple tests projects - one with unit tests and one with integration tests. How can I calculate code coverage for both projects with coverlet?

[2018-04-10 14:26] #25 closed

[2018-04-11 06:56] pms1969 opened #37 "Failed Test Coverage"
More of a question really, but I've noticed that a test run with a failed test in it does not produce any coverage summary.  Is that expected?  If so is there some way to change that behaviour?

I'm going to go and check if it does produce the coverage file. If it does produce that, it's not really an issue for me, but would be nice to have the behaviour synced.

Thanks.
Paul

[2018-04-11 08:47] tonerdo commented on #37
That's expected, because it MSBuild integrated when the test fails MSBuild terminates the process and targets supposed to run after tests are not triggered

[2018-04-11 08:48] pms1969 commented on #37
OK.  Thanks.

[2018-04-11 08:54] pms1969 opened #38 "Flag to prevent copy of assemblies"
It would be handy to have a way of preventing the file copies in situations where the build artefacts are throw away; i.e. Build systems.

File copying can take up a fair amount of time in a sufficiently large solution, and if you don't care about saving the original, there are 2 file copies that don't need to happen - the backup, and the restore.  All in all, this could have a considerable time s

[2018-04-11 09:54] pms1969 commented on #37
Actually, is there any way to change that?  We're running coverlet in our build pipeline with sonarqube.  seeing the coverage drop suddenly is going to distract everyone from the real problem which would be the test failure.  Code is still covered, even if one of the tests fail, even if it is a different from the happy path.

[2018-04-11 10:39] tonerdo commented on #37
At this point, no. When I create an alternative console tool mode for Coverlet (much like how Opencover works by default) which isn't tied to the build system, then yes.

[2018-04-11 11:54] pms1969 commented on #37
ok.  Thanks.

[2018-04-11 13:07] pms1969 opened #39 "BUG: Missing coverage"
Just noticed this in my build pipeline
[code]

Basically, ran 144 tests, but obviously failed silently when generating the coverage file.  This happened on a number of test assemblies. :-(

Any ideas what might be causing that.  I've not been able to see that happen locally.

[2018-04-11 13:41] tonerdo commented on #39
What's `.trx`?

[2018-04-11 16:34] pms1969 commented on #39
it's the logger output for dotnet test.

To run my tests, I do the following:
[code]

the --logger:trx, produces the trx output file (which is vstest output format?).  This is then picked up by sonarqube and processed to identify failed tests.

[2018-04-11 17:48] voronoipotato commented on #30
Git bash replaces forward with backward slashes a bit indiscriminately. See https://github.com/yarnpkg/yarn/issues/2785 . I have like a hundred dollar bounty on this issue if anyone's bored.

[2018-04-12 07:44] MaartenX opened #40 "Missing strong name when using nunit3testexecutor"
I'm trying to use coverlet with the NUnit3TestAdapter package. However, I get an error message telling me that coverlet.core does not have a strong name. Is it possible to sign the package?

I created the following test project:

[code]
The project contains one file, Tests.cs:
[code]
If I run the tests using `dotnet test` I get the following result:
[code]
However, when I use `/p:CollectCoverage=t

[2018-04-14 09:10] tonerdo commented on #40
Will explore signing the assembly. Thanks

[2018-04-15 00:25] brewsoftware opened #42 "Instrumentation only reported on 1 dll in build"
Hey,
  So I'm having an issue where it appears as though only the first DLL in the output build is being instrumented. We have 5 dll's being output in a linux .net core project. Coverage works for 1 dll (alphabetical first from what I can tell) but the other dll's are all being reported as 0 coverage.

Cheers,
Jason

[2018-04-15 07:51] timker opened #43 "Example using Threshold"
I assumed adding
[code]
would cause dotnet test to return a non zero result.

How do you use Threshold in project to fail the test run?

[2018-04-16 08:29] timker commented on #5
FYI in the interim for linux builds I added
[code]
from https://github.com/danielpalme/OpenCoverToCoberturaConverter

this worked for VSTS

[2018-04-16 09:25] tonerdo commented on #43
@timker you're correct! Been occupied with preparing master for a new release. A new NuGet package will go out within the next 8 hours

[2018-04-16 09:27] tonerdo commented on #42
This is the same problem in #18 which has been fixed in #27 but not yet released as NuGet package. The new release bits will drop within 8 hours from the time of this comment

[2018-04-16 13:45] tonerdo commented on #33
New NuGet released https://www.nuget.org/packages/coverlet.msbuild/1.1.0. Feel free to reopen if you still run into the issue

[2018-04-16 13:45] #33 closed

[2018-04-16 13:46] tonerdo commented on #43
New NuGet release https://www.nuget.org/packages/coverlet.msbuild/1.1.0 See https://github.com/tonerdo/coverlet/tree/v1.1.0#threshold for sample usage

[2018-04-16 13:46] #43 closed

[2018-04-16 13:47] tonerdo commented on #26
See https://github.com/tonerdo/coverlet/tree/v1.1.0#threshold

[2018-04-16 13:47] #26 closed

[2018-04-16 13:50] tonerdo commented on #42
Use latest NuGet bits https://www.nuget.org/packages/coverlet.msbuild/1.1.0

[2018-04-16 13:50] #42 closed

[2018-04-16 13:51] tonerdo commented on #5
Cobertura support available in latest NuGet bits https://www.nuget.org/packages/coverlet.msbuild/1.1.0

[2018-04-16 13:57] tonerdo commented on #7
@OneCyrus kindly use the latest NuGet bits which has branch coverage support and see if this helps fix this issue. Thanks

[2018-04-16 14:42] PrzemekGawron commented on #33
Works like a charm. Thank you!

[2018-04-16 15:31] OneCyrus opened #45 "memory allocation issue in 1.1.0"
with the new 1.1.0 version i've a memory allocation issue. i tried it with one of my smaller projects. it generates almost a 10 GB hits-file. and it looks like it would need at least that much memory. currently the system runs out of memory and the dotnet process is stuck while trying to allocate more memory.

[2018-04-16 16:11] kedigby opened #46 "Opencover Report Generator"
I've been using the report generator by danielpalme, to visualise the output from coverlet.

https://github.com/danielpalme/ReportGenerator

I get errors using this tool since upgrading from 1.0.2 to 1.1.0, I wonder if there is an error in the file being produced, I get the same error message if I try cobertura.

I have reverted back to 1.02 and the reporting tool works.

The error message from th

[2018-04-16 19:20] begoldsm opened #47 "Cobertura Report Specifies UTF-16 encoding, when it is saved as UTF-8"
This is a minor issue, but it causes other programs that read the xml file to fail with the following error:
`There is no Unicode byte order mark. Cannot switch to Unicode`, since it expects the file to actually be UTF-16, even though it is saved as UTF-8. My recommendation is to change the header declaration to either remove the encoding piece, or specify UTF-8

[2018-04-16 20:44] spboyer commented on #26
Should reopen, does not fail - https://github.com/spboyer/coverlet-test

have 83% coverage, run with 85 or 90 and still show as passed?

[2018-04-16 21:04] sampwil commented on #39
@pms1969

Once again it seems we are have some of the same issues. I think it is because we are attempting to run this in a CI/CD environment. I encountered the same no output if I have the  --no-build  and --no-restore switch. When I removed the switch I would I get the "because it is being used by another process" issue again. I discovered if I let the process build into empty directory it would

[2018-04-16 21:59] tonerdo commented on #46
Can I see the error generated when you try to run a report on the Cobertura output? I'm trying to figure out if this is a Coverlet issue

[2018-04-17 02:53] tariknz commented on #47
Getting the same issue on VSTS
[code]

[2018-04-17 07:50] xakep139 commented on #46
@tonerdo I've faced similar problem with `genhtml` (from `lcov`). Prior to coverlet 1.1.0 the coverage.info file (generated with `dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=lcov`) looks like
[code]
After updating to 1.1.0 coverage.info contains:
[code]

And with that coverage.info file I get error:
[code]

After replacing `Coverlet.Core.LineInfo` with `0`, there are no errors

[2018-04-17 09:05] kedigby commented on #46
I was wondering if it's related to the utf16 issue?

And then I double checked the error message for the Cobertura output:

`Loading report 'C:\Development\GFS_Seeker\Core.Net\Core\DataAccess.Test\coverage.xml'
 Error during reading report 'C:\Development\GFS_Seeker\Core.Net\Core\DataAccess.Test\coverage.xml': There is no Unicode byte order mark. Cannot switch to Unicode.
Initializing report build

[2018-04-17 11:59] jacogreyling opened #48 "Threshold value not working"
Hi,

I just upgraded to the latest v1.1.0 GA build. I'm using the new /p:Threshold=80 option to the build process yet the test run still returns 'successful' even if the coverage is below the threshold.

This is the command I run to build:

dotnet test --configuration Release --logger 'trx;logfilename=mstest-results.trx' /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutputDi

[2018-04-17 15:29] pms1969 commented on #39
@sampwil Thanks.  I haven't had time to circle back to this yet.  Hopefully soon.  I thought I'd managed to rid us of the "used by another process" problem.  but apparently not.  There's a newer version out, since I posted this originally, so maybe something in there fixes this.  maybe not :/  I'll just have to play again and see.

Unfortunately publishing, and rebuilding every time doesn't work f

[2018-04-17 16:13] begoldsm opened #49 "Cobertura: Some issues with the formatting that cause jenkins issues"
First of all **HUGE** thank you for doing the heavy lifting for Cobertura directly in coverlet. This is a huge time saver and reduces the complexity of report conversion for Jenkins pipeline reporting. Now for the fun part :). As part of investigating usage of this format, I found the following components need to be updated/fixed in order to get the same (BETTER!) experience that we currently get

[2018-04-17 16:16] tonerdo commented on #49
Hi @begoldsm thanks for pointing this out. I've actually already fixed it in a separate branch and will create a new NuGet release later tonight

[2018-04-17 16:26] spboyer commented on #26
I think that the expectation was to see **Threshold Failed** message or a **Test Run Fail**

[code]

OR

[code]

[2018-04-17 20:50] OneCyrus commented on #45
unfortunately it's closed source. yes, it may be due to a lot of looped data processing. 1.0.2 works on this project (though misses some lines as mentioned in other issues). does the hits-file track each hit or only the first time?

[2018-04-17 21:18] tariknz commented on #47
Looks like there is already a `Utf8StringWriter` which writes the XML as UTF-8 (being used for the OpenCoverReporter). I can create a PR if you guys are accepting.

[2018-04-17 21:24] tonerdo commented on #47
@tariknz no need. I already created a fix in a separate branch, removed the need for `Utf8StringWriter` altogether

[2018-04-17 21:27] tariknz commented on #47
Awesome, appreciate the work!

[2018-04-17 22:18] #46 closed

[2018-04-17 22:18] #47 closed

[2018-04-17 22:18] #49 closed

[2018-04-17 22:34] #48 closed

[2018-04-17 22:59] tonerdo commented on #49
New NuGet bits: https://www.nuget.org/packages/coverlet.msbuild/1.1.1

[2018-04-17 23:00] tonerdo commented on #48
New NuGet bits: https://www.nuget.org/packages/coverlet.msbuild/1.1.1

[2018-04-17 23:00] tonerdo commented on #47
New NuGet bits: https://www.nuget.org/packages/coverlet.msbuild/1.1.1

[2018-04-17 23:00] tonerdo commented on #46
New NuGet bits: https://www.nuget.org/packages/coverlet.msbuild/1.1.1

[2018-04-17 23:01] tonerdo commented on #26
New NuGet bits: https://www.nuget.org/packages/coverlet.msbuild/1.1.1

[2018-04-18 02:40] mgw854 opened #52 "Using Coverlet for acceptance test coverage"
First, not to be too patronizing, but I've loved the experience I've had with Coverlet so far while unit testing. I've introduced it into a number of projects I've worked on, and it's helping me to identify pathways that really ought to have unit tests.

That being said, there are sometimes pathways that I can't unit test. I'd like to be able to measure whether or not a suite of acceptance tests c

[2018-04-18 07:02] jacogreyling commented on #48
Thank you very much @tonerso! An error log message is exactly what I need. This will make the reason more obvious in Jenkins why it failed (vs any other build error).

[2018-04-18 11:24] Razzeee opened #53 "lcov format seems to be broken"
If you check out a generated report for `lcov` you will see stuff like this:

![image](https://user-images.githubusercontent.com/5943908/38929180-ccbc7cd0-430b-11e8-8a4a-b4fded6412e3.png)

Format should probably look more like this https://github.com/alexandrudima/vscode-lcov/blob/master/examples/fizzbuzz/coverage/lcov.info

[2018-04-18 11:26] tonerdo commented on #53
This has been fixed in the latest release: https://www.nuget.org/packages/coverlet.msbuild/1.1.1

[2018-04-18 11:31] Razzeee commented on #53
Awesome, can confirm it working. Wasn't expecing a new release after my install yesterday :)

Thank you

[2018-04-18 11:31] #53 closed

[2018-04-18 12:32] spboyer commented on #26
Perfect!

[code]

[2018-04-18 13:16] MatsJakobsson opened #54 "Cobertura empty string (path?) in GetRelativePathFromBase(?)"
First, great work! It's really great to get the Cobertura support.

Though, between 1.1.0 and 1.1.1 something happened which results in the following:

Calculating coverage result...
  Generating report './coverage.xml'
...coverlet.msbuild.targets(19,5): error : String cannot be of zero length.
...coverlet.msbuild.targets(19,5): error : Parameter name: oldValue

I only get this for 1.1.1 with cobe

[2018-04-19 11:57] GrimSmiler opened #55 "Excluding by namespace"
Hi!

Thanks for the awesome tool You built up!

A have a quick question about `ExcludeFromCoverage`.
In the documentation, You mention specifying classes. Is it possible to exclude by namespaces? Is there an example I can reference?

so would the following example be valid to exclude all test files from coverage?

[code]

[2018-04-19 14:03] jp7677 commented on #33
Just for reference, I had the same issue with some 3rd party packages, even with version 1.1.1.
Including
`<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>`
in the project file of my test project fixed it for me.

[2018-04-19 18:52] abe545 opened #56 "Is it possible to specify a directory to exclude from coverage?"
Hi, we would love to start using coverlet to generate code coverage, but we really don't want to include code that gets automatically generated in our coverage results. Since we generate it during CI, it wouldn't be feasible for us to apply attributes to every class that we want to exclude from coverage. We do, however, have a common folder in which the code gets generated.

Is there a flag we can

[2018-04-19 20:12] klassenjr opened #57 "Report on coverage.info"
If I create a coverage file in the LCOV format - how do I consume in Sonarqube.  I tried the following in my sonar-project.properties file sonar.javascript.lcov.reportPath=/coverage.info - but this seems wrong as this is a .net core cs project.  It is not being picked up by somarqube.

[2018-04-20 12:43] OneCyrus commented on #45
i guess replacing ReadAllLines with ReadLines in InstrumentationHelper should fix this.

https://medium.com/@nuno.caneco/c-file-readlines-vs-file-readalllines-4742d738064e

[2018-04-20 15:37] MarcoRossignoli opened #59 "Non invasive filtering"
@tonerdo IMHO could be great avoid attribute instrumentation for filter out/in class to test. You/We could think a command switch/json file format to pass.
However...great work compliments.

[2018-04-22 02:48] dmccaffery opened #60 "allow customization of CoverletOutput output name as to avoid overwrites when redirecting output to another path"
https://github.com/tonerdo/coverlet/blob/c04fc782af3a77426e449f2b33c4c36fa738dd28/src/coverlet.msbuild/coverlet.msbuild.props#L7

^^ should have a condition as to not overwrite user provided values.

[2018-04-22 02:55] dmccaffery commented on #60
@tonerdo : I put in a PR for this already, just in case you want to accept it ;-)

[2018-04-22 03:48] dmccaffery commented on #36
This is especially important if attempting to upload test results to VSTS, which is expecting a single summary file (and grabs the last match if using a glob pattern).

[2018-04-22 03:49] dmccaffery commented on #36
![grumble, grumble](https://user-images.githubusercontent.com/1803684/39091265-73faffe4-45a5-11e8-914f-e4ac5bc32ba8.png)

[2018-04-23 01:01] ryanmvt commented on #56
We're also using gRPC code generation which makes the attribute-based exclusion feature unrealistic.  A configuration or flag based solution would really help out here.

[2018-04-23 01:37] abe545 commented on #56
@tonerdo the syntax suggested in #55 looks like it could be a winner - if that were a globbing pattern (and we'd have to support multiple globs). My suggestion would be a semicolon separated list of globs (probably have to quote it)

[code]

I think it would need to support both absolute and relative paths. Thoughts?

[2018-04-23 08:41] tonerdo commented on #56
I totally agree! My only thought is whether to limit this feature to just whole assemblies or to extend it to allow specifying namespaces/classes/methods and how that will work.

[2018-04-23 08:56] MarcoRossignoli commented on #56
In my scenario could be very useful also to have an "include" switch(a lot of  auxiliary class i don't test). I like the idea of json config file(in addition) because we can address both. Another concern is the case with a lot of include/exclude, command line could become hard to use and i don't like the idea to organize code for coverage, again this isn't possible on existing code. My idea is to

[2018-04-23 14:46] eriklilljequist opened #62 "Q: Possible to re-use resharpers [ExcludeFromCodeCoverage]?"
I'm brand new to coverlet and are having some issues with understanding how to exclude from coverage, the Readme.MD is not self explanatory and I have been unable to find any other doc.
In my project some are working with resharper to get coverage.

Hence, 2 things:
* Example on how to exclude e.g. a class from coverage with Coverlet
* Is it possible to reuse resharpers [ExcludeFromCodeCoverage]-m

[2018-04-23 15:15] abe545 commented on #56
@tonerdo I think the easiest would be path based. This will cover the majority of the scenarios, and devs can use the attribute method to exclude methods still. I don't see a scenario where I'd want to cover *most* code generated code, but not one particular method. At the very least, I'd expect such code to be generated in its own file.

@MarcoRossignoli I think the ability to both include and ex

[2018-04-23 15:29] mgw854 commented on #62
Excluding classes from coverage is easy. Just decorate it with an attribute (either ExcludeFromCoverage or ExcludeFromCodeCoverage should work):

[code]

For HTML reports, I've had good luck with [ReportGenerator](https://github.com/danielpalme/ReportGenerator).

[2018-04-23 15:47] xtiancapil commented on #30
@paulers I was running into a similar issue going from git bash shell to my jenkins running linux and dotnet core. I ended up creating a MSBuild Response file (msbuild.rsp) and referencing that in the command line. It's a new line separated file where you can define arguments you want msbuild to use. This is what I have in mine (named coverage.rsp)
[code]
Then the command-line or your bash script

[2018-04-23 16:01] tonerdo commented on #62
Thanks for answering @mgw854. In addition @eriklilljequist, you'll need to create the `ExcludeFromCoverage` attribute somewhere in your project:

[code]

#34 contains work to support `ExcludeFromCodeCoverage` present in `System.Diagnostics.CodeAnalysis` and like you mention Resharper

[2018-04-23 16:07] eriklilljequist commented on #62
*Regarding HTML-reports:*
 Thank you, I will then continue looking into report generator.

*Regarding Coverage:*
`[ExcludeFromCoverage]` renders a compile-time error, dunno where this class is supposed to be found, not within my installed assemblies at least. `[ExcludeFromCodeCoverage]` is found in `System.Diagnostics.CodeAnalysis` but does not seem to be considered when i run dotnet test.

fyi: I

[2018-04-23 16:14] tonerdo commented on #62
@eriklilljequist like I mentioned in my last comment you'll have to add the `ExcludeFromCoverage` class to your project

[2018-04-23 16:45] ryanmvt commented on #56
@abe545 Path-based meaning everything inside the directory specified in the path, as well as all sub-directories?  That idea would be flexible enough to encompass generated code perfectly.  It also allows you to target large swaths of code or down to a single file at a time.

@tonerdo I don't think assembly-only based exclusions would be flexible enough.  It would potentially force the developer t

[2018-04-23 17:00] abe545 commented on #56
@ryanmvt yes... except I was thinking to support globbing patterns. If you don't specify any wildcards, it would indeed exclude the directory. That way, you could even do something like `**/*test*.cs` and exclude all files with the word test in the filename.

[2018-04-23 17:06] tonerdo commented on #56
@abe545 @ryanmvt all good ideas. Here's what my final thoughts are:

* Path based ignore with support for globbing patterns
* Keep `ExcludeFromCoverage` attribute for fine grained control over ignoring classes/methods

Is this a good setup?

[2018-04-23 18:40] eriklilljequist commented on #62
@tonerdo

Ok, so I'll add the `ExcludeFromCoverage` class and can work from that.

And when #34 gets merged Coverit will understand `ExcludeFromCodeCoverage` and hence be compatible with Resharper-based projects? Where-upon I can remove `ExcludeFromCoverage`?

Have I got i right?

[2018-04-23 20:43] abe545 commented on #56
@tonerdo sounds good to me

[2018-04-23 21:50] #60 closed

[2018-04-23 21:50] tonerdo commented on #62
@eriklilljequist That sounds about right. Let me know if you run into any other issues

[2018-04-23 22:00] abe545 commented on #56
My coworker @do-namely has volunteered, if nobody else wants it.

[2018-04-24 05:08] ryanmvt commented on #56
@tonerdo sounds good to me as well!  Thank you for the volunteer @abe545

[2018-04-24 06:43] MarcoRossignoli commented on #56
Thank's @abe545 @ @ido-namely

[2018-04-24 09:27] OneCyrus commented on #45
thanks for merging! Will the new release be out soon? We would like to use it in prod.

[2018-04-24 09:32] tonerdo commented on #45
I'm hoping to get a few more fixes in before I do a new release. I'm thinking this Friday, how urgent is your use?

[2018-04-24 11:09] OneCyrus commented on #45
I was just interested to see if this really fixes our problem in prod. no problem, I'll try whenever you're ready with a new release.

[2018-04-24 23:38] trickvi commented on #29
I just added this to a CI/CD process in Gitlab (so Gitlab can grab the total coverage on a pull request (called merge requests in Gitlab-land) and let reviewers know what it is (see top-right corner):
![Merge request cover](https://gitlab.com/help/user/project/pipelines/img/pipelines_test_coverage_mr_widget.png)

I ended up writing this lovely piece of incomprehensible beauty:

    dotnet test /p:

[2018-04-25 09:54] coenm commented on #56
I'm familiar with OpenCover and I've always liked the filter option it provides. Not saying Coverlet should use the same syntax and options though.

Their filter option can include or exclude by assembly name and/or by type. I know that this topic is about excluding directories but I think the problem really boils down to have fine grained control over what to include and exclude. Personally I've

[2018-04-25 20:58] arpit-nagar opened #63 "Query - Plans for expose it as Console runner"
Thanks for implementing the much-needed functionality.
Do you have any plans/timelines for implementing it as a console runner? so that we won't require adding nuget in all project and can be used as a tool to generate the coverage report.

[2018-04-26 05:02] ido-namely commented on #56
Would appreciate your comments on : https://github.com/tonerdo/coverlet/pull/64

[2018-04-26 07:27] MarcoRossignoli commented on #56
@coenm I admit I like it...

cc: @tonerdo @abe545 @ryanmvt

[2018-04-26 08:32] tonerdo commented on #63
Yes definitely. Once .NET Core 2.1 comes out of Preview and is publicly available

[2018-04-26 08:36] MarcoRossignoli commented on #56
Is there a flag we can pass to exclude the files in said folder from coverage?

i think so(IMHO anyway after some  thought on @coenm post...i think we could be more close to opencovers accepted standard, coverlet plus is cross plat support).

cc @abe545

[2018-04-26 09:00] snebjorn commented on #63
I assume that "Console runner" means dotnet global tool, if that's the case then ditto :)

[2018-04-26 12:31] MarcoRossignoli commented on #56
What if one file is excluded by the filter and the other part of a partial class isn't?

very good point...

[2018-04-26 12:36] MarcoRossignoli commented on #59
@tonerdo i close this and go on on other thread.

[2018-04-26 12:36] #59 closed

[2018-04-26 18:40] tonerdo commented on #56
We can definitely have both assembly based filtering and source file based filtering, we don't necessarily have to choose. My only thought is how we want that functionality to look like from a usability standpoint.

Right now I'm thinking of introducing 2 new properties:

Excluding sources:
[code]
@ido-namely has already made some good progress on this. Much appreciated!

Excluding assemblies:
[co

[2018-04-26 21:16] MarcoRossignoli commented on #56
@tonerdo i agree with you on single prop.

[2018-04-27 04:01] chonla opened #66 "Excluding test project from code coverage"
My coverage result shows the coverage generated from business and test projects. I have tried to add ExcludeFromCoverage attribute to all classes in test but no luck.

Here is ExcludeFromCoverage attribute class.

[code]

Any clue?

Thank you.

[2018-04-27 04:08] ido-namely commented on #56
I think I addressed all your comments and submitted some changes (let me know if I missed something).
@tonerdo I agree that we can use the same flag, I can make the necessary flag renaming.
However, I do think we will still need to have a flag to establish the parent dir for the searches (with default value of the project directory), this way you can use relative paths or absolute paths (by settin

[2018-04-27 05:06] chonla commented on #66
It seems to be my mis-configuration on sonarqube. Coverlet itself works correctly as I inspect into coverage report file.

[2018-04-27 05:06] #66 closed

[2018-04-28 09:38] #54 closed

[2018-04-28 09:46] tonerdo commented on #55
At this time you can't specify namespaces or even classes via the command line. There's an ongoing discussion in #56 to help figure this out

[2018-04-28 09:48] tonerdo commented on #30
Thanks @xtiancapil. @paulers I'll close this out now, feel free to reopen

[2018-04-28 09:48] #30 closed

[2018-04-28 11:12] chris5287 commented on #37
@tonerdo could you document this behavior somewhere, as it took us a while to work out why no coverage file was being generated (thanks for fab project!)

[2018-04-29 20:42] tonerdo commented on #56
#64 is all merged in. Will get to adding a `Filter` property for ignoring assemblies

[2018-04-29 20:47] MarcoRossignoli commented on #56
@ido-namely  thank's for PR!
@tonerdo we could discuss https://github.com/tonerdo/coverlet/issues/56#issuecomment-384231141

[2018-04-30 14:05] hunterjm opened #67 "Enhanced Branch Coverage"
## Expected Result

When running code coverage on a project, all branches in a method will be determined, and their targets will be instrumented.

## Actual Result

Currently, only sequence points that are targets of branches are instrumented.

## Proposed Solution

Implement a branch point/target search using logic similar to [OpenCover.Framework.Symbols.CecilSymbolManager](https://github.com/Ope

[2018-04-30 15:07] tonerdo commented on #67
@hunterjm Thanks for opening this issue and taking a stab at fixing it. I look forward to your PR. Cheers

[2018-05-01 02:18] Murodese opened #70 "Massive disk usage when running on .NET Core / Ubuntu"
One of our build runners is Ubuntu-based currently, building a reasonably large project (~15 projects in a single solution). Using `dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover`, I'm seeing some files created in /tmp that are fairly enormous (naming scheme `<project>_<hash>`) - one of the files covering our largest project is nearly 90gb - about 180gb for all projects comb

[2018-05-01 02:43] hunterjm commented on #70
@Murodese - That would the hits file.  It adds a new line for every sequence point hit, soon to be branch points as well.  Those must be some massive projects.  The hits file for this project is 133MB on my machine, and that's on my branch which adds additional instrumentation for better branch coverage.

@tonerdo - It might be worthwhile looking into reading and writing from a `GZipStream`.  The

[2018-05-01 08:36] tonerdo commented on #70
@hunterjm @Murodese this has already been fixed in #58. New NuGet package with the fix going out in a couple of hours

[2018-05-01 08:38] tonerdo commented on #70
On closer look, this looks like more of a disk usage thing than a RAM usage thing. Definitely need to consider your approach @hunterjm

[2018-05-01 10:29] OneCyrus commented on #70
yes, the memory problem comes later. but should be fixed in the next release. otherwise you would need 90-180GB memory as well to process this file.

the GZipStream could be a good option to solve this problem. shouldn't be too hard to implement.

[2018-05-01 11:58] nopara73 opened #72 "BUG: (Completely) Missing Coverage"
Maybe related: https://github.com/tonerdo/coverlet/issues/39

# Behavior.

![image](https://user-images.githubusercontent.com/9156103/39472085-3d11d312-4d71-11e8-8765-549932ddbd8d.png)

# What I do

1. Add coverlet.msbuild NuGet to my test project.
2. Run Tor (needed for my tests to successfully complete.)
3. Run `dotnet test /p:CollectCoverage=true`.

I also tried creating a new project and every

[2018-05-01 12:06] nopara73 commented on #72
Note: Neither the `coverage.xml`, nor the `coverage.json` files are generated.

[2018-05-01 12:27] nopara73 commented on #72
And travis (both on Linux and OSX) is even stranger:

https://travis-ci.org/zkSNACKs/WalletWasabi/jobs/373441646
https://travis-ci.org/zkSNACKs/WalletWasabi/jobs/373441646

![image](https://user-images.githubusercontent.com/9156103/39472792-b15a7a86-4d75-11e8-9b39-5b61d5e757f1.png)

[2018-05-01 15:59] nopara73 commented on #72
For the record, here are the commands for only doing one file.

[code]

[2018-05-01 18:07] hunterjm commented on #70
@tonerdo @OneCyrus - Initial take on using GZipStream is on my fork.  If I merge https://github.com/hunterjm/coverlet/pull/1, it will become a part of #69.  Otherwise, I can wait for #69 to be merged and re-target https://github.com/hunterjm/coverlet/pull/1 to master.

[2018-05-01 18:51] OneCyrus commented on #36
is there an API to hook in to once all tests are complete? i guess currently a single instance of coverlet doesn't know if it's the last time a test is called and would need to consolidate the results for every test project.

[2018-05-01 19:35] hunterjm commented on #70
@tonerdo - Agreed.  I just made the changes locally off of the #69 branch, and since the fix touches `Coverage.cs` there would be merge conflicts if I tried to open a separate PR to master.

[2018-05-01 20:46] tonerdo commented on #72
Thanks for reporting this. I'll take a look at your sample project and see if I can figure it out

[2018-05-01 20:49] #7 closed

[2018-05-01 21:06] nopara73 commented on #72
@tonerdo Thanks! I put together some build instructions for Windows so to not get stuck:

1. Get .NET Core
2. Download the Tor Experd Bundle (Not the browser.) https://www.torproject.org/download/download
3. Run `tor.exe`
4. Fire up command line:
[code]

Notes:

1. `dotnet test` takes about 3 minutes, the first time it'll take 1-2 minutes longer, because it downloads `bitcoind`. This daemon is use

[2018-05-02 13:54] basilfx commented on #40
Any update on this issue? I'm also affected by this.

[2018-05-02 22:06] tonerdo commented on #56
Thanks @ido-namely. @mathnogueira, @MarcoRossignoli, @ryanmvt, @abe545 new release here: https://www.nuget.org/packages/coverlet.msbuild/1.2.0.

@MarcoRossignoli kindly help open a new issue to track adding a `Filter` property to exclude assemblies.

Thanks everyone for the productive comments

[2018-05-02 22:06] #56 closed

[2018-05-02 22:07] tonerdo commented on #45
@OneCyrus new release https://www.nuget.org/packages/coverlet.msbuild/1.2.0

[2018-05-02 22:07] #45 closed

[2018-05-03 02:22] ido-namely opened #74 "Coverage report which contains a completely excluded project with wrong percentage, affects the threshold requirements as well"
When excluding a whole project  (using /Exclude flag, but I'm guessing after reviewing the code this could happen if using the label exclusion method as well for all project)
1. the project is still showing in the report with NaN% percentage
2. The overall percentage of the report isn't calculated correctly and/or the threshold calculations aren't not correct.

To reproduce:
`dotnet test test\cove

[2018-05-03 05:50] patros commented on #32
No need for an extension if you want to use it now in VSTS build agents. Well, this will display code coverage totals in the build summary and can fail a build if you add the threshold parameter. But it doesn't display anything in the code coverage tab.

Add a dotnet test step with the additional arguments `/p:CollectCoverage=true /p:CoverletOutputFormat=cobertura`. That will generate a coverage.x

[2018-05-03 06:09] patros opened #75 "Support for generating multiple output formats from single test run"
The back story to this is that I use VSTS for builds. There is out of the box functionality for reporting code coverage totals in the build summary when using the cobertura format. However I'd also like to use the tool [fdesjardins/coverage-viewer](https://github.com/fdesjardins/coverage-viewer) to generate a nice html report and it requires the standard json output.

I'm happy to do some work in

[2018-05-03 08:07] SteveGilham opened #76 "[F#]Type declarations in F# are shown as not covered"
This is the same issue as [OpenCover issue #615](https://github.com/OpenCover/opencover/issues/615) -- the compiler generates many functions (such as comparison operations) which show in the IL but not in the source
![615-bis](https://user-images.githubusercontent.com/7460854/39565586-69398f62-4eb0-11e8-8bc3-f584a929a6dc.png)
While I can apply a class-level exclusion (as here for OpenCover) that w

[2018-05-03 08:31] MarcoRossignoli opened #77 "Adding a Filter property to include/exclude assemblies/types"
# Rationale

Coverlet currently allow to ignore methods/classes using [attribute](https://github.com/tonerdo/coverlet#excluding-from-coverage) or specific source files using [/p:Exclude](https://github.com/tonerdo/coverlet#source-files) property.

It would be useful filter(include/exclude) assembly/types in a "similar" way of popular [OpenCovers](https://github.com/opencover/opencover/wiki/Usage#u

[2018-05-03 08:39] MarcoRossignoli commented on #77
I'll keep issue updated with our discussion!

[2018-05-03 08:46] Hugh-walsh commented on #36
We run several tests in parallel using gitlab CI so would like to take the output files and combine them to give an overall result.  Would be nice if this were possible.

[2018-05-03 10:00] patros commented on #75
@tonerdo you're welcome. I have a pending pull request with fdesjardins to add support for Windows (and a couple of other minor issues), but short of that it's pretty good.

[2018-05-03 14:39] SteveGilham opened #79 "Complex branches are reported incorrectly"
This is the same code as for [OpenCover issue 819](https://github.com/OpenCover/opencover/issues/819)
![819-bis](https://user-images.githubusercontent.com/7460854/39583240-929d0abe-4ee7-11e8-93e6-22b8280b23fe.png)
The only branch point reported for this line is
[code]
when there are five visible (seven in the underlying IL) ways of proceeding

I note in passing that the offset values here are not

[2018-05-03 14:46] SteveGilham opened #80 "Coverlet's abstraction of transparency is (inevitably) leaky"
I have a system of `UnitTest.dll` which links against `SystemUnderTest.dll` and `SampleCode.dll`; my unit test instructs the system under test to use Mono.Cecil to read symbol data for the sample code.

This fails when run under coverlet with
[code]

I'd be happy enough with a solution that went "if (running under coverlet) then (look in this deterministic named folder instead for the unaltered co

[2018-05-03 15:11] SteveGilham opened #81 "[F#]Auto-properties are not implicitly covered"
Writing unit tests for auto-properties is a futile exercise; they are essentially noise (as is the coverage or otherwise of such properties).

Auto-properties in code exercised by coverlet are marked as uncovered by default be they C#
[code]
or F#
[code]

[2018-05-03 15:39] SteveGilham opened #82 "ExcludeFromCoverage method annotation does not exclude common forms of compiler generated code"
In the following C# class I exercise the static method `Normal` and exclude pretty much everything else with `[ExcludeFromCoverage]`; the annotation takes for the simple method `Canary`, but essentially none of the other methods. In the F# code below it (linking the same coverage exclusion attribute), nested functions, lambdas and computation expressions are all still included.

![cv82](https://us

[2018-05-03 15:52] SteveGilham commented on #79
Actually, it seems that `switch` instructions are not being recognised as branches, either as in
[code]
or in F# match expressions like
[code]

[2018-05-03 16:04] SteveGilham opened #83 "Branches can be reported when they are unconditional"
In passing, I noticed that in the code in issue #82, the method `Normal` that was tested reported a branch (1 out of 1 covered).  This turns out to be a point where the IL has an unconditional jump (and thus no decision point in the control flow) that leads to the next instruction.

![83](https://user-images.githubusercontent.com/7460854/39588186-323b9472-4ef3-11e8-974b-e9bdba3c389a.png)

The IL f

[2018-05-03 20:56] joshclark opened #84 "Coverlet Coverage does not match coverage reported from Report Generator reports"
When coverlet runs on my project it reports 72.7%.  When I take the output (I used the opencover reporter) and run that through ReportGenerator, it shows the coverage as 66.7%.  If I change the output to Cobertura I get 62.2%

Opening the coverage.xml file I see this summary:

[code]
It looks like the `sequenceCoverage` attribute matches what coverlet reports.  It looks like `visitedSequencePoints

[2018-05-04 00:39] hunterjm commented on #84
See #73

[2018-05-04 04:14] hunterjm commented on #79
Branch enhancements are in #73. It uses the same logic OpenCover uses for determining branches, so it will still only report 5 vs the 7, but 5 > 1.  It also fixes the switches not showing as branches.

[2018-05-04 07:08] SteveGilham commented on #79
OpenCover does report 5 branches in this case, but they're the wrong 5.  The decompiled code looks like
[code]
and it detects cases 0, 1 and out-of-band as distinct routes to the `default` case (see [OpenCover issue #786](https://github.com/OpenCover/opencover/issues/786)) , and doesn't detect the `if` branches.

[2018-05-04 08:52] SteveGilham commented on #72
Having tried this, the first obvious problem is that there's an assembly being (indirectly) referenced that's in ~/.nuget, but is not copied locally.  That manifests as an assembly resolution failure when trying to write an instrumented assembly -- the process then just carries on obliviously.+
[code]

[2018-05-04 09:33] nopara73 commented on #72
@SteveGilham I actually tried it. Copying the assembly manually only solved the problem in `altcover`, but not in `coverlet`, it still silently fails.

[2018-05-04 12:31] roy-uijting commented on #40
+1!

[2018-05-04 15:10] JasonBock opened #85 "Excluding Assemblies"
When I used coverlet to analyze code coverage, I got this:
[code]
I don't want NUnit3.TestAdapter to show up. But I don't own this code, so I can't put attributes on their classes or exclude code files from then as I don't have that either.

Is there a way to say **only** include specific assemblies during analysis, or exclude certain ones? Either way would work (though I'd prefer the former as I

[2018-05-04 21:18] SteveGilham commented on #82
It should also come as no surprise that C#7.0 local functions are similarly not excluded even if the enclosing method is.

[2018-05-05 07:41] MarcoRossignoli commented on #85
you can join our discussion on #77

[2018-05-05 11:26] dhowe opened #86 "Fails to install in Visual Studio 2017 OSX"
Error: Could not install package 'coverlet.msbuild 1.2.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

VS2017: v7.4.3 Build 10, with NUnit
OSX: v10.13.4

[2018-05-05 15:51] tonerdo commented on #75
@patros all merge in!

[2018-05-05 15:51] #75 closed

[2018-05-05 17:17] tonerdo commented on #82
Thanks for reporting this. Definitely an oversight, will look into a fix. Any ideas you might have a welcome

[2018-05-05 19:44] #67 closed

[2018-05-05 19:48] tonerdo commented on #74
#73 fixes this

[2018-05-05 19:48] #74 closed

[2018-05-05 20:03] SteveGilham commented on #82
In the C# case, at least, the synthetic name contains the name of the lexically surrounding function in angle-brackets.  Where there isn't an overload of that method name, that will do the job. Overloads are going to be trickier to resolve.

[2018-05-05 21:08] ido-namely commented on #74
@tonerdo Is there going to be a new release soon that would include this fix?
Thanks!

[2018-05-07 04:01] patros opened #89 "Add nightly/dev pre-release package to nuget"
Not an issue, really just a nice to have. It seems this project has become quite popular already. And it would be good to be able to take advantage of new features without waiting for the next release or making a custom build.

[2018-05-07 04:06] patros opened #90 "Add html report as an output format"
Is this an option that you would like added @tonerdo? I'd be happy to do some work in this space. I quite like the reports generated by coverage-viewer. It is written in node.js so it would need to be ported over to avoid the node.js dependency.

Edit: And I just double checked the licence for coverage-viewer and it is MIT as well.

[2018-05-07 08:39] tonerdo commented on #89
This is definitely something I've been meaning to setup. Will try to get to it sometime this week

[2018-05-07 14:27] JasonBock commented on #85
Sounds good, I'll close this.

[2018-05-07 14:27] #85 closed

[2018-05-08 10:40] patros commented on #90
@hunterjm good point about having to maintain the html report generation. With a few good options maintained outside of this project the next question is whether Toni wants to include human readable output formats or to let the user choose their html generator of choice.

[2018-05-08 11:03] patros commented on #86
Can you target 4.6.1? I'm pretty sure .net standard 2.0 isn't supported in 4.6 but is in 4.6.1.

[2018-05-08 13:49] dhowe commented on #86
I believe I need to stay at 4.6 for unity...

![image](https://user-images.githubusercontent.com/737638/39761075-ada8a270-5309-11e8-8169-7af9ed307040.png)

[2018-05-08 20:42] tonerdo commented on #90
@patros I'm currently leaning towards letting the user choose their html generator of choice. But definitely something to think about

[2018-05-08 22:15] patros commented on #86
This tool is for measuring code coverage of .net core projects. So you probably need to use something else. Unfortunately the only other free open tool I know of for full framework projects is Windows only.

[2018-05-08 23:30] dhowe commented on #86
I wonder if I should be using .NET framework or .NET core  (or even .NET Standard) in the first place... As there are no unity-dependent parts of the library, I believe I can do any of these. I just need it to be compatible with unity in the end... Am I correct that changing the project type to either Core or Standard class library (assuming no Framework-specific APIs) would solve this problem wit

[2018-05-09 01:17] patros commented on #86
If I'm understanding you correctly... with your library target .net standard 1.3 or lower. You can then use it in a project targeting full framework 4.6.

Then implement your unit tests in a .net core project. That way you can reference coverlet in the unit test project and measure code coverage for the .net standard library project.

[2018-05-09 10:01] patros commented on #90
@tonerdo I'll close this issue. It can always be reopened if you start to lean the other way.

[2018-05-09 10:01] #90 closed

[2018-05-09 13:18] dhowe commented on #86
ok, so I recreated the project as .NET Core 2.0 and coverlet now works nicely (70%)... thanks for your help

[2018-05-10 04:58] patros commented on #86
No worries @dhowe

[2018-05-10 08:35] tonerdo commented on #86
So the root of the problem here is that coverlet isn't packaged as a usual library, this means that there are not binaries in the `lib` folder of the NuGet package. All Coverlet binaries go into the `build` folder. I'm guessing that's where Visual Studio for Mac hiccups. Also, I personally don't think there's anything stopping coverlet from working on the full .NET Framework, I just haven't had a

[2018-05-10 09:37] dhowe commented on #86
That would be great.
An unrelated question: what's the best way to figure out what code is not being covered? I get 70% in the summary, but looking through the JSON output isn't very helpful in this regard...

[2018-05-10 10:29] tonerdo commented on #86
It's best to use a graphical visualization tool like [ReportGenerator](https://github.com/danielpalme/ReportGenerator) with the opencover output or you can use a cloud service like Codecov or Coveralls

[2018-05-10 13:53] pwelter34 commented on #72
My project is also not getting code coverage results.  Its not covering all the dependent assemblies.  My project is located here.  https://github.com/loresoft/FluentCommand

Is there a way to setup debug local?

[2018-05-10 21:11] ahaleiii commented on #5
I am using VSTS with Cobertura format and getting results, but I can only report on lines right now. Any plans to update Cobertura to report blocks? Thanks for all your work on this!

[2018-05-11 10:04] tonerdo commented on #84
Will have a release with this fix by Monday

[2018-05-11 10:07] tonerdo commented on #40
Working to fix this over the weekend

[2018-05-11 10:09] tonerdo commented on #77
I intend to look into this over the weekend

[2018-05-11 12:17] karb0f0s opened #91 "xUnit console runner"
Hi.
We use `dotnet xunit` to run tests in our project. Is there a way to integrate `coverlet` in our pipeline?

[2018-05-11 15:21] StephenMP opened #92 "Threshold | Add Switch To Apply Threshold Based On Coverage Type"
Now that coverlet supports different coverage types (line, branch, and method), it would be awesome if we could pass in a switch along with the Threshold switch to designate which coverage style dictates the threshold. The switch could accept a comma seperated list of coverage types to check against the threshold. The default value would check all coverage types against the threshold.

I think thi

[2018-05-11 18:01] StephenMP commented on #92
It might be good to use a different delimeter than a comma. When doing some initial testing, I cannot seem to get a comma seperated string to work as a value in the switch. I keep getting `MSBUILD : error MSB1006: Property is not valid.`.

Maybe use a '+' delimeter instead.

[2018-05-13 10:07] tonerdo commented on #92
Fixed in #93

[2018-05-13 10:08] #92 closed

[2018-05-13 10:12] tonerdo commented on #91
Hi @karb0f0s, I'm not quite sure if that's possible out of the box. One method that comes to mind is to create an msbuild script that directly calls the various coverlet msbuild [targets](https://github.com/tonerdo/coverlet/blob/master/src/coverlet.msbuild/coverlet.msbuild.targets) before invoking `dotnet xunit --no-build`

[2018-05-13 10:18] tonerdo commented on #80
This is definitely something that's bound to happen. Considering that coverlet rewrites assemblies I can imagine that an assembly trying to rewrite another assembly that coverlet has already instrumented will be a problem. There are two approaches I currently see to fix this:

* #77 when fixed will allow the developer to simply ignore the assembly his code wishes to rewrite
* Update the assembly P

[2018-05-13 16:47] SteveGilham commented on #80
This affects even read-only operations that want to match IL with source (e.g. static analysis); #77, however will be an entirely satisfactory resolution

[2018-05-13 17:03] karb0f0s commented on #91
thanks for the info. hope i’ll come around with some solution and post it here

[2018-05-13 17:03] #91 closed

[2018-05-13 21:08] ptupitsyn opened #95 "Display combined coverage even when Threshold is not exceeded"
`Threshold` allows us to fail a build when coverage drops beyond certain percentage.
This percentage is combined from all modules involved.

It would be great to see this percentage even when `Threshold` is not used or exceeded.

[2018-05-14 09:18] MarcoRossignoli commented on #77
Copied from [Merged PR](https://github.com/tonerdo/coverlet/pull/94#issuecomment-388748476) comments for clarity:

I'm thinking maybe we could have also an /Include= and say that default for coverlet if attributes are missing is /Include=[*]* this could address one of my coverage scenario where i need to be sure that only 2/3 of my tens of class are covered for > 95% or fail! This may appear stran

[2018-05-14 14:04] StephenMP commented on #95
Hi @ptupitsyn, If I understand your suggestion correctly, this is already implemented, there just hasn't been a new release containing this new code yet :)

The new code will show you something like the following on every test run:

[code]

[2018-05-14 15:15] StephenMP commented on #89
This is pretty easy to do with Travis-CI and dotnet. You can generate a pre-release version number using the current DateTime and the Travis CI build number (e.g. `[Release Version]-ci-[Year][Month][Day]-[TRAVIS_BUILD_NUMBER]`). For example, let's say the current release is v1.2.0, the current date is today (May 14, 2018) and currently Travis is on build 5. That would generate the verison number o

[2018-05-14 16:07] StephenMP commented on #63
@arpit-nagar If you're building a .NET Core project with CI or CD, there is a workaround that I'm doing that allows me to not have to install the NuGet package into my test projects.

Basically, I just add the NuGet package on the fly in my build server before running the tests. For example:

[code]

When ran in my build server, the above adds Coverlet package on the fly, runs tests, and collects

[2018-05-14 16:13] StephenMP commented on #32
@VenkateshSrini What would you want the extension to do? Do you want it to just run Coverlet from Visual Studio through some menu option or something more?

[2018-05-14 18:16] ptupitsyn commented on #95
`Line`, `Branch` and `Method` details are awesome!

I am talking about something like this though:

[code]

Because when I set `/p:Threshold`, I get errors like

`Overall average coverage '63.5%' is lower than specified threshold '70%'`.
So this number, `63.5%`, is only visible when there is a Threshold error.

[2018-05-14 22:19] patros opened #96 "Documentation doesn't match current release version"
Just realised this while trying to get filter by assembly working.

[2018-05-15 02:32] brewsoftware commented on #16
Hey, we are seeing a similar behaviour with one of our projects. I am trying to diagnose to give some more information but I'm not sure where the issue is at the moment.

We are running in a microsoft/dotnet:2.0.0-sdk docker container.

[2018-05-15 09:07] tonerdo commented on #16
Hmm...this is definitely taking me for a loop. I still have a local copy of the `kubernetes-client-csharp` and I do get the same error. There have been a couple of changes to improve performance that I'm yet to release but I haven't been able to figure out the `No string associated with token` error

[2018-05-15 23:31] patros commented on #36
@aptester's suggestion works well for generating a report. But not a combined xml for VSTS unfortunately :(

[2018-05-16 22:35] patros commented on #96
You've been busy, my notifications keep filling up with coverlet related stuff :)

[2018-05-17 10:54] tonerdo commented on #96
New version released: https://www.nuget.org/packages/coverlet.msbuild/2.0.0

[2018-05-17 10:54] #96 closed

[2018-05-17 10:54] tonerdo commented on #84
New version released https://www.nuget.org/packages/coverlet.msbuild/2.0.0

[2018-05-17 10:54] #84 closed

[2018-05-17 11:01] tonerdo commented on #77
#94 merged in an released https://www.nuget.org/packages/coverlet.msbuild/2.0.0. Thanks for your patience guys

[2018-05-17 11:01] #77 closed

[2018-05-17 11:02] tonerdo commented on #80
#77 fixed and merged in. See new release here: https://www.nuget.org/packages/coverlet.msbuild/2.0.0

[2018-05-17 11:02] #80 closed

[2018-05-17 11:03] tonerdo commented on #74
@ido-namely See new release here: https://www.nuget.org/packages/coverlet.msbuild/2.0.0

[2018-05-17 11:03] tonerdo commented on #67
New release here: https://www.nuget.org/packages/coverlet.msbuild/2.0.0

[2018-05-17 11:03] tonerdo commented on #75
New release here: https://www.nuget.org/packages/coverlet.msbuild/2.0.0

[2018-05-17 11:04] tonerdo commented on #60
New release here: https://www.nuget.org/packages/coverlet.msbuild/2.0.0

[2018-05-17 11:04] tonerdo commented on #85
@JasonBock New release with fix now available: https://www.nuget.org/packages/coverlet.msbuild/2.0.0

[2018-05-17 11:05] tonerdo commented on #56
New release available here: https://www.nuget.org/packages/coverlet.msbuild/2.0.0. Thanks for your help and patience guys

[2018-05-17 11:07] tonerdo commented on #70
New release with disk usage fix - https://www.nuget.org/packages/coverlet.msbuild/2.0.0

[2018-05-17 11:07] #70 closed

[2018-05-17 11:09] tonerdo commented on #55
@GrimSmiler this can be achieved with the latest NuGet bits: https://www.nuget.org/packages/coverlet.msbuild/2.0.0. You can find more information about "filter expressions" on the README page

[2018-05-17 11:09] #55 closed

[2018-05-18 05:29] Drag13 commented on #72
I think I have related bug. On Windows all is ok, but on Linux with Travis I have 0 coverage report.

[code]

<img width="377" alt="0coverage" src="https://user-images.githubusercontent.com/8222114/40217420-4f9e3c9e-5a75-11e8-9e81-54b1ba48a2b3.PNG">

Any idea?

PackageReference Include="coverlet.msbuild" Version="2.0.0"
[Demo repository](https://github.com/Drag13/CIDemo/tree/AddCoverageBadge)
[Tra

[2018-05-18 05:39] Drag13 commented on #72
Downgrading to 1.2.0 Fixed problem. But for 2.0 it still exists

[2018-05-18 06:44] coenm commented on #72
I'm experiencing the same issue.

2.0 -> Travis = no coverage
2.0 -> Local windows => has coverage
1.2 -> Travis => has coverage

[2018-05-18 10:43] patros commented on #96
Hi @tonerdo. I raised this because it will keep happening without a dev/next-release branch that only gets merged into master when released (or some other indication to the user). It's not really an issue for someone familiar with coverlet but for new users it could cause frustration. Although I think this will largely be resolved when you have a nightly build pipeline set up.

[2018-05-18 15:07] basilfx commented on #40
I found [this work-around](https://docs.microsoft.com/en-us/dotnet/framework/app-domains/how-to-disable-the-strong-name-bypass-feature) for the time being.

[2018-05-18 15:12] basilfx opened #101 "Problems using NUnit3 TestAdapter."
Using the workaround mentioned in #40, I was able to at least run using the NUnit3 test adapter. However, I still have to blacklist/exclude inserting instrumentation code into the test adapter code, otherwise it cannot find the tests.

Now that 2.0 is available, I can call it like this: `dotnet test /p:CollectCoverage=true /p:Exclude=[NUnit3.TestAdapter]*`, which lets me run the tests (and after d

[2018-05-18 15:16] MaartenX commented on #101
The reason the results are not found is that the CoverageTracker.CurrentDomain_ProcessExit is never called when using the test adapter. I'm looking into other ways to detect the tests have finished, currently I have a workaround, I just call the method after my tests are finish using reflection.

Add the following class to your test project:

[code]

[2018-05-18 15:38] basilfx commented on #101
Thanks @MaartenX, I’ll check of this works for me as well.

[2018-05-18 15:41] basilfx commented on #101
I also think #24 is related.

[2018-05-18 16:01] basilfx commented on #101
This works for me, but I have to add it to every test project (teardown doesn’t seem to be called when it’s in a sub project).

[2018-05-18 16:24] davidparker opened #103 "is there a way to include, not just exclude?"
I have added a test project,  however I get no coverage as I reference my project as VSTS Nuget to make build just way less complicated,  However I want cover to cover the actual project.

I.E

Main folder
        Web Project
         Extensions project
        Test Extensions Project  ( references extensions on nuget, so test project works on VSTS )

Ideally    want to run test but say  -->   thi

[2018-05-18 17:14] OneCyrus commented on #9
with the changes in 1.2.0 and 2.0.0 it looks good now. thanks!

[2018-05-18 17:14] #9 closed

[2018-05-18 19:08] jcanady20 commented on #62
I was under the impression that System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute was a standard attribute, included in BCL.
I"m concerned that you have included a new Attribute that does the exact same thing.

[2018-05-18 22:28] tonerdo commented on #103
Hi @davidparker currently all assemblies are included by default. I'm still considering a possible include feature in the future but there are no concrete plans

[2018-05-18 22:32] #101 closed

[2018-05-19 00:02] davidparker commented on #103
Okay thanks for the response.   No problem.   Think im better of reverting
the nuget idea anyway   Thanks

On Fri, 18 May 2018 at 23:28, Toni Solarin-Sodara <notifications@github.com>
wrote:

[2018-05-20 19:42] StephenMP commented on #95
Oh I see what you mean. I think this is a duplicate of #29

[2018-05-22 07:47] GrimSmiler commented on #55
Thanks!

[2018-05-22 09:29] Razzeee opened #107 "Migrating to 2.0.0"
Hey there,

just a quick heads up. When I update our sources to 2.0.0, it still runs the tests and works fine locally. But if I run it on our gitlab-ci the tests run and coverage gets reported as zero percent on the commandline.

[2018-05-22 10:30] skoruba commented on #36
@tonerdo What do you think about it? Do you have any suggestions for it? Thx.

[2018-05-22 20:40] xtiancapil commented on #107
I'm seeing this also when I run on our jenkins-ci

[2018-05-24 18:51] dlkay0 commented on #107
Same results in this environment from command-line  (1.2.0 works; 2.0.0 reports zero hits)

Linux 904f5451827d 4.9.87-linuxkit-aufs #1 SMP Wed Mar 14 15:12:16 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  17.10
 OS Platform: Linux
 RID:

[2018-05-25 16:53] StephenMP commented on #103
@davidparker
Your NuGet package idea doesn't make the build process less complicated, it actually makes it more complicated. How are you testing the latest version of the code in your build process? Having a NuGet package that has to get built first before having tests ran on it is backwards.

It's less complicated to have your source code project and a test project exist in the same solution. The

[2018-05-27 01:28] #82 closed

[2018-05-27 12:35] babakarj opened #109 "Set output path"
Is there any way to set output path the same way we set **/p:CollectCoverage=true /p:CoverletOutputFormat=opencover** ?

[2018-05-28 10:42] robvanpamel opened #110 "0% coverage is being shown after running tests"
Hi,

After running my tests with Nunit I get an unexpected result from coverlet.
My folder structure is
[code]
I executed the tests from within the testprojectfolder
The result is printed below.

[code]

I'm running on a Linux Mint machine with this dotnet configuration

[code]

[2018-05-28 21:02] tonerdo commented on #110
Hi @robvanpamel can you try with the previous version of Coverlet (v1.2.0)? This seems to be a 2.0.0 issue. Let me know

[2018-05-28 21:03] tonerdo commented on #109
@babakarj sure, you can do `/p:CoverletOutput=/path/to/out.ext`

[2018-05-29 02:02] aburgett87 commented on #110
Hi @tonerdo,
I can see the issue as well, though only on Linux. Using v1.2.0 coverage results output as expected, though on 2.0.0 it's as @robvanpamel described.

Using macOS 10.13.4, both 2.0.0 and 1.2.0 work as expected.

Linux dotnet cofiguration
[code]

[2018-05-29 02:33] aburgett87 commented on #110
@tonerdo,
Interestingly, if I run my project with coverlet 2.0.0 on Linux using dotnet core 2.0.7 or 2.1-rc everything works as expected.

Linux dotnet 2.0.7 configuration
[code]
Linux dotnet configuration 2.1-rc1
[code]
FYI @robvanpamel

[2018-05-29 07:13] robvanpamel commented on #110
Hi,
For your information it is working with the 1.2 release

[2018-05-29 08:04] basilfx commented on #110
@robvanpamel Can you try to exclude NUnit3 Test Adapter assemblies: `dotnet test /p:CollectCoverage=true /p:Exclude=[NUnit3.TestAdapter]*`

[2018-06-02 20:03] Smith00101010 opened #111 "opencover and cobertura reports generated at the same time overwrite eachother"
Hi,

thank you very much for this tool, it is very useful.

I was thrilled when #75 was implemented to allow me to create opencover and cobertura reports at the same time, as different tools need different inputs.

Maybe I am overlooking something, but when I try to use it, the reports overwrite each other as they have the same file extension (.xml).

I used `/p:CoverletOutputFormat=\"opencover,co

[2018-06-03 13:51] tonerdo commented on #107
Hi @Razzeee @xtiancapil @dlkay0 did #110 fix this?

[2018-06-03 18:33] Razzeee commented on #107
#110 is an issue and thus doesn't fix stuff ;)

So you're saying I should try https://github.com/tonerdo/coverlet/issues/110#issuecomment-392688542 excluding the test adapter?

[2018-06-04 09:36] tonerdo commented on #107
@Razzeee yes that's what I meant. Sorry for not being more specific

[2018-06-04 11:33] yamac-kurtulus commented on #16
Hey, We recently solved a similar issue. The build should be in full debug mode. Make sure you are not running the test with `-c release ` option. Your default configuration might be set to release.

[2018-06-04 12:43] Razzeee commented on #107
SO I did run `dotnet test /p:CollectCoverage=true /p:Exclude=[NUnit3.TestAdapter]*` on our linux CI server and it still reports 0% with version 2.0

[2018-06-06 10:21] mikkokupsu commented on #110
I'm facing a similar problem.
I'm running below commands in .NET Docker container (2.0-sdk) and coverlet.msbuild version 2.0.0.
By removing `/p:Threshold=90`, I'm getting a coverage result. When the threshold is present, I get a 0 percentage report.

`dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=lcov /p:ThresholdType=line /p:Threshold=90 /p:CoverletOutput=./lcov Test`

`dotnet test

[2018-06-07 00:42] coryflucas opened #113 "Branch coverage with async calls"
I have a project using EF Core with async methods that shows a branch at each await call. One of the branches always shows as uncovered.  I've created a sample repo that repoduces the problem [here](https://github.com/coryflucas/CoverletExample).  You can see the branch in the [coverage report](https://github.com/coryflucas/CoverletExample/blob/master/Test/coverage.json#L38-L47) but the [reference

[2018-06-07 02:41] mgw854 commented on #113
I've noticed the same thing. My hunch (totally a guess here, so take it for what it's worth) is that the branch inserted by the compiler for awaiting code (such that you don't actually wait if the task has already completed) is being interpreted as a branch in your code.

*If* this is true, I don't think it's a meaningful distinction in 99+% of code. There are only two cases where I can think of t

[2018-06-07 14:37] tonerdo commented on #107
Thanks for the update @melih154, I'm still unable to reproduce this in Linux

[2018-06-07 23:56] andyjansson opened #114 "Error when collecting coverage"
[code]

[code]

[2018-06-08 12:36] TLogik commented on #110
I have the issue of 0% coverage even on coverlet version 1.2.0

[2018-06-08 13:54] basilfx commented on #40
@tonerdo: Any update on this?

[2018-06-10 07:53] #111 closed

[2018-06-10 22:32] sgwatgit opened #115 "Test full .NET Framework class lib using Sdk style csproj"
Hello,

Thanks for the project, I tested it out on a .net standard 2.0 class lib and it worked great out of the box.

I was wondering if my unique scenario is potentially supported.

I have converted my .NET framework class libraries, which target .NET 4.6.1 to use the Sdk `.csproj` format.

Example
[code]

So this project uses `PackageReference`, targets .net 4.6.1 and builds / runs just fine.
I

[2018-06-11 15:13] sjk07 commented on #36
i want this so bad! :wink:

[2018-06-11 15:54] andyjansson commented on #114
The issue seems to have resolved itself after deleting the package from `.nuget\packages` and doing a `dotnet restore`.

[2018-06-11 15:54] #114 closed

[2018-06-11 17:20] yamac-kurtulus opened #117 "Is it possible to get coverage by tests?"
I looked for, but couldn't find an answer. Is it possible to find information about which tests cover what part of the code? If not, do you plan to implement it?

[2018-06-11 20:28] RockfordSP commented on #115
Also having issues with a .Net Core application targeting net461, though in my case all tests run and complete successfully but no code coverage is calculated.

[code]

[2018-06-12 05:23] TLogik opened #118 "Coverage is 0% even thou tests are run - Adding more tests alleviates the problem"
I have a codebase with a lot of integration tests but only very few Unit tests.
If i run the Unit tests only i see unexpected behaviour.

**Scenario 1:**
Running only a single Unittest yields:
`
Total tests: 1. Passed: 1. Failed: 0. Skipped: 0.
Test Run Successful.
Test execution time: 1.6818 Seconds
`

| Module                 | Line | Branch | Method |
|------------------------|------|--------|-

[2018-06-12 07:04] tonerdo commented on #118
HI @TLogik, are you saying the coverage results you're getting aren't accurate?

[2018-06-12 07:14] TLogik commented on #118
Hi @tonerdo

Well that is what i am implying at least:-)
**Scenario 1** has a coverage of 0% even thou the Unittest does in fact test an input parameter. The test Asserts an exception is thrown.
I would expect some kind of decimal value, especially because **Scenario 2** that is testing if a property is set increases the coverage significantly.

[2018-06-12 07:27] tonerdo commented on #115
Hi @RockfordSP and @sgwatgit at this moment Coverlet has been tested with only .NET Core applications that target `netcoreapp` and `netstandard`. It should work with the full .NET framework with only minor adjustments but it's currently not on my immediate radar

[2018-06-12 07:31] tonerdo commented on #117
HI @yamac-kurtulus, the different output file formats contain that information. You can use https://github.com/danielpalme/ReportGenerator with the Opencover and Cobertura output formats

[2018-06-12 07:46] tonerdo commented on #36
I'm gonna explore how existing tools achieve this and see how best to implement since it's a popular ask. Will go a lot faster if I can get some help 😄

[2018-06-12 08:09] tonerdo commented on #40
Coverlet has been signed and a new release made available: https://www.nuget.org/packages/coverlet.msbuild/2.0.1

[2018-06-12 08:10] tonerdo commented on #95
Available in relase: https://www.nuget.org/packages/coverlet.msbuild/2.0.1

[2018-06-12 08:10] #95 closed

[2018-06-12 08:10] #109 closed

[2018-06-12 08:10] #103 closed

[2018-06-12 08:11] tonerdo commented on #22
Now available in https://www.nuget.org/packages/coverlet.msbuild/2.0.1

[2018-06-12 08:11] #22 closed

[2018-06-12 08:12] tonerdo commented on #62
Now available in https://www.nuget.org/packages/coverlet.msbuild/2.0.1

[2018-06-12 08:12] #62 closed

[2018-06-12 08:15] tonerdo commented on #52
Hiya @mgw854, verify that the `coverlet.core` binary is present in the same directory as the instrumented dll

[2018-06-12 22:00] dlkay0 commented on #107
@aburgett87
I switched from 2.0.5 based on ubuntu to 2.0.7 based on official [dotnet-docker:2.0.7-sdk-2.1.200](https://github.com/dotnet/dotnet-docker/blob/master/2.0/sdk/stretch/amd64/Dockerfile) and excluded NUnit3.TestAdapter (/p:Exclude=[NUnit3.TestAdapter]*) and the combination yielded a valid coverage report using coverlet 2.0.0.

I've also managed to get colored source to display.

**My iss

[2018-06-13 07:45] igor-moskvitin opened #119 "Exclude multiple filter not working as expected"
Trying to exclude from coverage few assemblies like in readme:
`dotnet test --no-build /p:Exclude=\"[coverlet.*]*,[*]Coverlet.Core*\"`,
but got
`MSBUILD : error MSB1006: Property is not valid. Switch: [*]Coverlet.Core*\`.

Also have a strange behaviour:
`dotnet test --no-build /p:Exclude="[test*]*"` - works as expected.
`dotnet test --no-build /p:Exclude=\"[test*]*\"`  - doesnt exclude `test` like

[2018-06-13 17:36] praneeth820903 opened #120 "Code Coverage Result Calculation takes longer time"
Hi,
For our project using Coverlet 2.0 to get the code coverage results, thank you for such a nice Library.
Between calculating coverage results and generating the report it takes approximately 6 minutes on average. Our average build time has gone up from 3 minutes to 11+ minutes. Is there any way in reducing the Calculating Code Coverage and Report Generation time. With 1.0 we did not have this p

[2018-06-13 17:56] latop2604 commented on #120
Not related to coverlet, but you should use `--no-restore` switch un addition to `--no-build`

[2018-06-14 04:46] igor-moskvitin commented on #119
Excuse me for stupid mistake - try to use in powershell console. It works in cmd.
For powershell this will work:
`&('dotnet') ('test', '--no-build', '/p:CollectCoverage=true', '/p:Exclude=\"[coverlet.*]*,[*]Coverlet.Core*\"')`

[2018-06-14 04:46] #119 closed

[2018-06-14 16:14] praneeth820903 commented on #120
With --no-restore there is no change in the time still it's around 6 minutes, I feel it's about how the coverage result is calculated.
2018-06-14T**15:10:46**.4316560Z Calculating coverage result...
2018-06-13T**15:16:35**.8000070Z Generating report '/build/tests/Services/UnitTests/coverage.xml'

[2018-06-14 18:17] basilfx commented on #36
I've started something [over here](https://github.com/basilfx/coverlet/commits/feature/merge_ir), which I'm  currently testing and will PR if ready. This basically allows one to merge the coverage result of one run, with an intermediate result of a previous run.

It's somewhat similar to what OpenCover offers.

Note that this will generate the 'final' report for each intermediate run, so there is

[2018-06-14 21:49] mcblair opened #121 "2.0.1 Confusion"
2.0.1 was available via nuget the other day, upgraded and it broke some of our scripts. coverage.xml is now opencover.coverage.xml.

In addition, there isn't a github release or tag - or any documentation.

I see 2.0.1 also changed coverage output (in good ways) to consider ExcludeFromCodeCoverage - this is documented in the README edit 3 days ago but not the xml file name change...

Just wonderin

[2018-06-15 12:37] tonerdo commented on #36
Awesome @basilfx, thanks a lot for the help

[2018-06-15 12:38] #29 closed

[2018-06-15 12:38] tonerdo commented on #40
@basilfx @MaartenX did 2.0.1 fix this?

[2018-06-15 12:58] tonerdo commented on #121
Hiya @mcblair, thanks for calling my attention to this and apologies for the confusion. Here are the release notes: https://github.com/tonerdo/coverlet/releases/tag/v2.0.1

[2018-06-15 12:58] #121 closed

[2018-06-15 15:07] tonerdo commented on #120
@praneeth820903 my next priority on Coverlet is improving its performance

[2018-06-17 09:07] basilfx commented on #40
Yes, this seems to work for me.

[2018-06-17 10:22] tonerdo commented on #40
Awesome. Will close this out, feel free to reopen if you encounter any more issues on this topic

[2018-06-17 10:22] #40 closed

[2018-06-18 06:38] hack2root opened #122 "Powershell with /p:ExcludeByFile do not works"
Powershell script
By adding command `/p:ExcludeByFile=\"**/MyFun*.cs,**/*Test*.cs,**/*Exception*.cs,**/*Attribute*.cs\"` to

`& dotnet test --configuration Release --no-build Build.Tests /p:CollectCoverage=true /p:CoverletOutputFormat=opencover`

I manage to break generation of the report file, if I removes `/p:ExcludeByFile=\"...\"` everything works
I tried with no success:
[code]

`/p:ExcludeByF

[2018-06-18 06:41] hack2root commented on #117
you can see it in Visual Studio 2017
![screenshot 1](https://user-images.githubusercontent.com/383256/41521676-c7c30708-72db-11e8-8612-21ed4bc940ed.png)

[2018-06-18 16:48] yamac-kurtulus commented on #117
@tonerdo,
I am using the report generator both with cobertura and opencover formats using coverlet. However it did not show it. Yes, the code-coverage from coverlet is there, however there is no information on which tests covering what parts of the code. Do I need a switch or parameter while testing? I am excluding tests from the coverage report, could this be causing a problem? Likewise, is it po

[2018-06-18 17:57] latop2604 commented on #117
FYI, It's an enterprise feature, not professional

[2018-06-18 18:13] basilfx commented on #36
The PR is here: https://github.com/tonerdo/coverlet/pull/123.

[2018-06-18 18:29] yamac-kurtulus commented on #117
@latop2604  that's even harder for me to get then, oh well :/

[2018-06-19 08:49] tonerdo commented on #36
@basilfx can you please point me to the where OpenCover documents its implementation of this feature? Thanks

[2018-06-19 08:53] tonerdo commented on #16
Ah thanks for the observation @brewsoftware. Probably doesn't make it easier to fix, but at least it points me in the right direction

[2018-06-19 08:55] tonerdo commented on #122
I'd expect this to just work since you're using a regular globbing pattern. @ido-namely can you please take a look? Thanks

[2018-06-19 10:03] basilfx commented on #36
You can find it here: https://github.com/opencover/opencover/wiki/Usage

Look for -merge output and -mergebyhash.

[2018-06-20 05:55] kimbell opened #125 "GeneratedCodeAttribute"
Tried out this functionality and love the approach.

When running the coverage through coverlet, I noticed a significant drop compared to when running under Resharper.

My project has a lot of auto-generated code for WCF and Swagger clients. These are marked with the GeneratedCodeAttribute. It would be a good idea to add this to the list of attributes that excludes code.

[2018-06-20 12:45] laurynasr opened #126 "Only .dll references are being covered"
When targeting .net framework (i.e. net471), the output type of an asp.net core application is .exe, which is then referenced by tests. Coverlet ignores everything except for .dll references: https://github.com/tonerdo/coverlet/blob/3d86243d272e92b96e04d3eaa5942c0c25d85001/src/coverlet.core/Helpers/InstrumentationHelper.cs#L18

[2018-06-20 17:11] tonerdo commented on #126
Hi @laurynasr thanks for reporting this. Will have it looked into

[2018-06-20 20:57] tonerdo commented on #125
Hi @kimbell, take a look at this https://github.com/tonerdo/coverlet#excluding-from-coverage to get an idea how to ignore your generated code. Let me know if you need any help

[2018-06-21 05:41] kimbell commented on #125
We have multiple projects and we use cake as the build system. One of our goals is to keep the cake file the same across each project so that it's easy to update things.

If we need to exclude namespaces, we would need some way of keeping that configuration external to the cake file. It's possible, but seems like a bit of a hassle. This would also mean that you would have to ensure that the code i

[2018-06-21 08:06] SwissResl opened #127 "No Coverage available, but tests ran"
When I run `dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover` I get following output:
[code]

My Code:
[code]

[2018-06-21 08:33] #127 closed

[2018-06-21 13:35] praneeth820903 commented on #120
@tonerdo Thank you

[2018-06-22 11:10] tonerdo commented on #125
Why not just exclude the generated files using the `ExcludeByFile` property? https://github.com/tonerdo/coverlet#source-files

[2018-06-22 11:26] SteveGilham opened #129 "[ExcludeFromCodeCoverage] lets through lambdas, yield return and await"
This code
[code]
with a test to exercise method `F4`.

Expect just method `F4` in the coverage file, with 100% coverage
Get 15.8% line coverage, with the lambda expressions in `F1` and generated `MoveNext` methods in the implementations of `F2` and `F3` showing uncovered.

[2018-06-22 11:42] SteveGilham opened #130 "Coverage reporting from F# lambda expressions loses branch information"
Code under test
[code]
driven by test code
[code]
run `dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover`

The report to the console is `| ClassLibrary1 | 100%   | 92.9%  | 100%   |`
The XML report, however, contains no branch points.

[2018-06-22 11:55] tonerdo commented on #130
Thanks for reporting this @SteveGilham. Quick question, is the branch information preserved in the json output format?

[2018-06-22 12:41] kimbell commented on #125
ExcludeByFile is an option, but I would still have to maintain a list for each project if I am to share the build configuration. Doable, but nice to avoid if possible.

[2018-06-22 13:38] n00j commented on #72
Have you tried adding the following to your test.csproj?
[code]
I was running into problems with coverlet not being able to locate dll's and seems to fix it.

[2018-06-22 13:59] SteveGilham commented on #130
Branches, but no lines, are present for class `ClassLibrary1.CommandLine/Usage@17` (i.e. the lambda) in the `Invoke` method; the OpenCover format has the class, but with no methods.

In both cases lines that correspond to code in the lambda are reported as belonging to the containing method `Usage`

[2018-06-22 20:42] SteveGilham commented on #129
The `async`/`await` case is the equivalent of OpenCover's [issue #779](https://github.com/OpenCover/opencover/issues/779).

[2018-06-24 19:09] varsnotwars commented on #72
@nopara73, this works correctly now after adding `<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>`
Thanks @n00j 👍

[2018-06-24 19:30] n00j commented on #72
@varnotwars no problem! It would be useful if this was added to the documentation as I believe it solves a lot of the 0% coverage issues and errors

[2018-06-25 08:23] tonerdo commented on #72
Will keep this open until I add it to the documentation, thanks @n00j

[2018-06-26 09:13] yuyixg opened #132 "Cyclomatic Complexity"
ReportGenerator Cyclomatic Complexity not involve

[2018-06-26 14:15] nickrodda opened #133 "Combinations of tests result in zero coverage"
Hi - I've just started using coverlet and the majority of our coverage tests run fine.  However - one project has close to zero coverage.  Running a small subset of the tests I am able to obtain results.  Adding additional tests results in the coverage dropping to zero.  It does not seem to matter which test is added.

I have determined that when this does **not** work, it is because CurrentDomain

[2018-06-26 14:35] petli commented on #120
I've looked at this now (since coverlet 2.0.1 was unfortunately unusable on our codebase) and have managed to cut both runtimes and analysis time dramatically.  (Unfortunately the firewall at the office blocks github SSH access, so I can't send a pull request until later tonight when I'm home on my own network.  Sorry for the tease.)

I've added a performance test that instruments a reasonably lar

[2018-06-26 23:48] tonerdo commented on #120
@petli quick question, what units are the times in? Seconds? Minutes? Hours?

[2018-06-27 08:38] petli commented on #120
@tonerdo All numbers are in seconds. Iterations is the number i put into the `InlineData` parameter to `PerformanceTest.RunTest` and thus controlled how many times the code was run through: https://github.com/tonerdo/coverlet/pull/134/files#diff-ce9987212a5f0c4a99ee1547a0731eaf

[2018-06-27 08:43] #126 closed

[2018-06-27 12:32] elvirdolic opened #135 "Index was out of range on /p:CoverletOutputFormat=\"cobertura,opencover\""
By providing multiple outputformats we get this error

dotnet test myProject.csproj --no-build --configuration release --logger trx /p:CollectCoverage=true /p:CoverletOutputFormat=\"cobertura,opencover\" /p:CoverletOutputDirectory=C:\temp\coverage --results-directory C:\temp

\coverlet.msbuild.targets(23,5): error : Index was out of range. Must be non-negative and less than the size of the collect

[2018-06-27 15:41] abe545 commented on #113
We've noticed the same thing, and I put together a repro where `await Task.CompletedTask` causes it to report a partial branch: https://github.com/abe545/CoverletAwaitBranchCoverage/tree/master

[2018-06-27 20:04] Romanx opened #136 "Cake Build Addin Contribution"
Hey there,

Thanks for the great project and all the hard work. I've been using it for my project and wanted to integrate it neatly with my exiting [cake build](https://cakebuild.net) script so I wrote an addin to do just that. You can find it here [Cake.Coverlet](https://github.com/Romanx/Cake.Coverlet)

It'd be great if you could add it to your readme so others could find it.

Thanks

[2018-06-28 08:59] tonerdo commented on #136
Awesome, thanks @Romanx. Feel free to send in a PR for that

[2018-06-28 09:01] tonerdo commented on #113
Thanks for reporting this guys. I'm currently working on general improvements to the coverage logic so will add this to the list. Thanks for the test project @abe545

[2018-06-28 09:02] tonerdo commented on #135
Woah, this is a first. Will take a look, shouldn't be too hard to fix

[2018-06-28 09:49] tonerdo commented on #133
Hi @nickrodda, quick question are you using the latest version of coverlet?

[2018-06-28 16:42] nickrodda commented on #133
Hi @tonerdo - yes I'm using the latest version.  I've found that dropping the check in MarkExecuted from 100000 to 10000 results in all of the files being written and us getting coverage again.

In the specific case I was looking at, the markers count was approx. 91k and hence it was relying on the final write in CurrentDomain_ProcessExit working properly in order to get anything.

This is making

[2018-06-29 08:59] tonerdo commented on #133
@nickrodda I'm planning on switching from writing hits to a file to instead writing it to a named pipe, so that the necessary data needed to calculate coverage is built up while the tests are running. `CurrentDomain_ProcessExit` will just be for disposing the connection. I'm hoping to have this fix in and released by next Monday

[2018-06-29 12:51] nickrodda commented on #133
@tonerdo

Great.  Just to let you know and contrary to what I said in my original post, CurrentDomain_ProcessExit does get called.  However after writing approx. 125k lines to files it exits without outputting all of the coverage.  This is why the change in the file size limit helped.

Cheers

[2018-06-29 13:22] petli commented on #133
@nickrodda, in the meantime you could give https://github.com/tonerdo/coverlet/pull/134 a go if you want to see if that helps.  It should generally write fewer lines to the files, which might mean that you don't end up hitting the file problem.

[2018-06-29 14:59] nickrodda commented on #133
@petli - thanks for that.  Will give it a go.

[2018-07-02 08:38] #136 closed

[2018-07-02 17:18] ivansams opened #138 "Unable to get started with coverlet with xUnit in a .NET Core 2.0 console application"
I would like to make use of coverlet to check unit test coverage in our .NET Core 2.0 projects, which already have a great number of xUnit unit tests.

I am following the readme carefully but the `coverage.json` file is not generated and I'm not sure why as setup is mostly automatic and there are no error messages. I apologise for getting stuck at the most basic of levels, but there must be an iss

[2018-07-03 03:17] andre-castro-garcia commented on #135
I have updated to the last version from Nuget (v2.0.1) and cannot reproduce this error in my tests.
I have executed the following command and both files are generate in folder:

`dotnet test test/ducktales.tests/ducktales.tests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=\"cobertura,opencover\" /p:CoverletOutputDirectory=coverage /p:Exclude="[NUnit3.*]*"`

My repo url:
https://bitbucket

[2018-07-03 08:56] tonerdo commented on #138
Hi @ivansams, I took a look at your repro project and noticed that your test project `CoverletCheckTests` does not have a project reference to `CoverletCheck`. This is necessary for Coverlet to be able to find the assembly to instrument

[2018-07-03 09:15] ivansams commented on #138
Sorry @tonerdo I must not have committed the code. In Step 3 I do add a reference in the xUnit project to the project under test. I have updated the repo to reflect this - could you see if it works for you now?

[2018-07-04 09:17] elvirdolic commented on #135
By using this /p:CoverletOutputFormat=\"cobertura,opencover\" it does work. But somehow on VSTS this escaping doesn't work correctly. Thx for your support!!

[2018-07-04 09:17] #135 closed

[2018-07-04 17:36] andre-castro-garcia commented on #138
@ivansams I have passed for this problem, in that case i have forgot to add 'coverlet.msbuild' package in my .csproj

I think that's the problem, add a new reference to your .csproj and run coverage again:

**Reference**
`<PackageReference Include="coverlet.msbuild" Version="2.0.1" />`

**Project File**
https://github.com/ivansams/CoverletCheck/blob/master/CoverletCheckTests/CoverletCheckTests.csp

[2018-07-04 17:49] arunprasathv opened #139 "Not finding coverageresults"
@tonerdo

After running the command, I got this message and I don't see any coverage results json file. I would expect to see the coverage results even when Test Run Failed.

dotnet test /p:CollectCoverage=true

Total tests: 32. Passed: 28. Failed: 4. Skipped: 0.
Test Run Failed.
Test execution time: 16.6057 Seconds

[2018-07-05 09:50] #120 closed

[2018-07-05 12:13] tonerdo commented on #139
Hi @arunprasathv, because of msbuild limitations the coverage task will not be executed if your tests fail and as a result no coverage result file will be generated

[2018-07-05 18:52] andre-castro-garcia commented on #139
Hi @arunprasathv,

Try this format
`/p:Exclude="[NUnit3.*]*"`

In my case I would like to exclude NUnit3TestAdapter assembly and all types.

See here:
https://bitbucket.org/andre-castro-garcia/ducktales/src

Andre Garcia

[2018-07-05 18:52] janaka commented on #138
I'm having a similar experience on macOS. .NET Core runtime 1.1 + .NET Core SDK v2.x.

[2018-07-05 18:58] janaka commented on #138
Interesting, just cloned @ivansams repo linked above, added the coverlet ref, ran the dotnet test ... command and it seems to have done more. Showing me

`Calculating coverage result...
  Generating report '/Users/janaka.abeywardhana/code-projects/CoverletCheck/CoverletCheckTests/coverage.json'`

[2018-07-05 19:35] arunprasathv commented on #139
@andre-castro-garcia In my case its a dependency and generates assembly under \bin\Debug\netcoreapp2.0,i tried this option as well but it still takes the assembly, at least i see in the report.

[2018-07-05 19:38] tonerdo commented on #138
@janaka @ivansams as @andre-castro-garcia rightly noted, coverlet isn't directly built into the `dotnet test` pipeline, you'll have to manually include it by referencing the `coverlet.msbuild` NuGet package

[2018-07-05 20:02] arunprasathv commented on #139
It works, just changed the pattern instead of NUnit3.* changed to NUnit*

[2018-07-05 21:57] arunprasathv opened #140 "Input string was not in a correct format."
@tonerdo
Getting this error on build server, works fine in local.

Command
dotnet test /p:CollectCoverage=true

Error
C:\test\.nuget\packages\coverlet.msbuild\2.0.1\build\netstandard2.0\c
overlet.msbuild.targets(23,5): error : Input string was not in a correct format.

[2018-07-05 22:59] janaka commented on #138
@tonerdo fwiw in the real project I was testing in, I did have the package referenced.

[2018-07-05 23:10] janaka commented on #138
In @ivansams project for me it seems to hang on that report generation message. Is this known to work on macOS?

[2018-07-06 09:01] ivansams commented on #138
Not sure how I missed that reference add. All working for me now. Thanks for your help all, especially @andre-castro-garcia . I'm afraid I don't know about MacOS @janaka , this is probably a different issue.

[2018-07-06 09:01] #138 closed

[2018-07-06 09:54] tonerdo commented on #138
@janaka how large is the project you're trying to get coverage for?

[2018-07-06 13:49] andre-castro-garcia commented on #139
Hi @arunprasathv,

My test project generates an assembly **Nunit3.TestAdapter.dll** to the same folder as your project (bin\Debug\netcoreapp2.0).

If i run the coverage **without a 'Exclude'** param he instrument a NUnit3 assembly as well, see:

[code]

Run coverage **with 'Exclude'** param he ignores NUnit3 assembly, see:

[code]

Another interestelly thing, i run these commands with a Git Bash,

[2018-07-06 13:53] arunprasathv commented on #140
@tonerdo This issue has been fixed without any change.. Just tried today and it worked.

[2018-07-06 13:53] #140 closed

[2018-07-06 13:56] arunprasathv commented on #139
@andre-castro-garcia This issue has been resolved.

[2018-07-06 13:56] #139 closed

[2018-07-06 17:43] tonerdo commented on #120
@roytoo, just doing some last minute checks. Will make a new release in a couple of hours

[2018-07-06 22:59] tonerdo commented on #120
@roytoo find the new release here: https://www.nuget.org/packages/coverlet.msbuild/2.1.0

[2018-07-07 00:40] latop2604 opened #142 "Class constructor not covered"
I use coverlet with opencover format and generate html with reportgenerator (as global-tool on linux 🥇 ).

But it seem no one of my constructor was reported as covered. See screenshot below.

![image](https://user-images.githubusercontent.com/2058133/42404933-7128f9d6-818e-11e8-80ab-4c6e148318ab.png)

This point aside, everything worked as expected on the first try (on osx and docker)

[2018-07-07 01:50] roytoo commented on #120
Thanks @tonerdo , I've already updated to use 2.1.0 and it is significantly faster.

Thanks to @petli as well for diagnosing and submitting the PR with the performance improvements.  I had taken a quick look last month but wasn't able to spot the O(n^2) performance issue he found.

[2018-07-07 07:14] tonerdo commented on #118
@TLogik try out the latest release https://www.nuget.org/packages/coverlet.msbuild/2.1.0, it contains performance improvements to ensure that all data is captured

[2018-07-07 11:54] petli commented on #120
Thanks @tonerdo for pushing out the new version!

[2018-07-07 18:16] praneeth820903 commented on #120
Thanks @tonerdo for pushing out the new version!

[2018-07-09 13:08] SahinOzdemir opened #144 "/p:CoverletOutputDirectory= not working"
the param /p:CoverletOutputDirectory= is still outputting the data into the root of the project.
It's regarding version 2.10 and I was wondering if this could be fixed

[2018-07-09 20:09] jp7677 commented on #144
Try this one:
`/p:CoverletOutput=path/reportfile.xml`

See the last sentence in this paragraph: https://github.com/tonerdo/coverlet/blob/master/README.md#coverage-output

[2018-07-09 22:27] janaka opened #145 "Very slow to generate coverage report"
Opening a new issue to track my problem we were discussing in #138 (you need to add the package ref).

This is the repo I've added Coverlet to https://github.com/ivansams/CoverletCheck. There's only one test but it takes 5+ minutes to output the coverage report in the terminal and say it has generated the file. On macOS. Seems to also make the process run at 100% CPU.

[2018-07-09 22:29] janaka commented on #37
+1 to running coverage even when tests fail.

[2018-07-09 22:33] janaka commented on #37
@pms1969 mind changing the title of this issue to something like "Coverage report is not generated if there are any failing tests in the run scope"

Note that if you filter test execution to one(s) that pass coverage is generated.

[2018-07-09 22:38] tonerdo commented on #145
Switch to version 2.1.0. It includes massive performance improvements

[2018-07-10 11:33] janaka commented on #145
.NET Core 2.1?

[2018-07-10 11:34] tonerdo commented on #145
No I mean coverlet: https://www.nuget.org/packages/coverlet.msbuild/2.1.0

[2018-07-10 13:33] SahinOzdemir commented on #144
Thnx! Abny idea when it will be possible to merge all coverage files from different projects into 1 file?

[2018-07-11 07:41] janaka commented on #145
Switched to coverlet 2.1.0. Still very very very slow, multiple minutes.

[2018-07-11 08:31] tonerdo commented on #145
Hmm, that's weird. How large is your project?

[2018-07-11 09:37] petli commented on #145
But I do notice it takes a few seconds between saying "Generating report..." and outputting the coverage stats.  For such a small test that should not be noticable, so there might be something there that is much exarcerbated on MacOS.

[2018-07-11 09:42] petli commented on #145
@janaka Can you try the opencover output format? That seems to be much quicker than the default coverlet JSON format.

    -p:CoverletOutputFormat=opencover

[2018-07-11 11:40] tonerdo commented on #145
Hmm... @petli perhaps it's the speed of the serialization library?

[2018-07-11 11:55] petli commented on #145
@tonerdo Newtonsoft.Json is the most commonly used JSON library (maybe even now part of standard .NET?) and it tend to be fast.

[2018-07-11 13:36] tonerdo commented on #145
Yeah, I used Jil because my Newtonsoft.Json dependency was conflicting with that of MSBuild and I didn't have much time to look into it. Will change it before the next release

[2018-07-11 14:04] andre-castro-garcia commented on #142
I have noted this on my project, the "opencover" file  format (and others) do not show the coveraged constructor lines, but he still counting these lines in the calculated report.

@latop2604 you can see this behavior on these projects:
https://sonarcloud.io/code?id=ducktales
https://bitbucket.org/andre-castro-garcia/ducktales

Coverage report:
![image](https://user-images.githubusercontent.com/35

[2018-07-11 15:03] latop2604 commented on #142
Did you try to add more line in your constructor ? I think that the line of code number will not increase.

[2018-07-11 16:54] #37 closed

[2018-07-11 17:22] Romanx opened #146 "2.1.0 output path change causes issues with Cake.Coverlet"
Hi there,

The recent update changed `CoverletOutputName` and `CoverletOutputDirectory` to be one property `CoverletOutput` which broke Cake.Coverlet which is no big problem. However the change has caused some inadvertent problems with one of the features which is transforming the filename before passing the settings to coverlet.

If you share the same coverlet settings between two distinct test r

[2018-07-11 21:50] tonerdo commented on #146
Hi @Romanx, simply end the path you provide `CoverletOuput` with `/` to specify a directory. Apologies for not documenting this, will fix in a bit

[2018-07-12 00:13] tonerdo commented on #145
@janaka I cloned the project on my Mac and the json result only takes `4s` to generate which leads me to explore the possibility of a problem specific to your machine. Either way I've changed the json library to `Newtonsoft` and report generation reduced to `0.09s`. The release with this change should go out Friday

[2018-07-12 03:11] gach87 opened #148 "Regex to get coverage results"
Hello. I'm  having trouble trying to get a regex to get coverage results from the terminal output. Can you help me with some example?.

Thanks for the wonderful project.

[2018-07-12 05:44] pms1969 commented on #37
No problem.  Will do when I get to work.

[2018-07-12 08:46] tonerdo commented on #37
@pms1969 @janaka showing coverage results even when builds fail won't be supported because of how MSBuild integrations work. MSBuild will not call the next task if the previous task returns a non-zero code. #143 introduces a global tool that doesn't have this limitation, will be released Friday

[2018-07-12 14:07] Romanx commented on #146
Hi @tonerdo,

I think i was a bit muddled in my post. It's less about the directory as we want to provide a name for example `coverlet-2018-07-12-15-06-07` but since we're providing a name we don't get the extension added by coverlet. It'd be nice if there was an option for coverlet to add the extension if one wasn't provided.

[2018-07-12 16:37] alexl0gan opened #149 "Integrate into dotnet run"
Would it be possible to integrate the coverage collection into dotnet build. I have integration tests that run on a server so would like to run

`dotnet run IntegrationServer /p:CollectCoverage=true`

and get a coverage report.

[2018-07-13 10:56] janaka commented on #145
Hmm interesting. Definitely took minutes on my MBP (actually I think I happened to try on both my 2015 MBP and 2017 MBP). When I try this next I'll push the exact repo that I'm testing with.

[2018-07-13 16:17] nickrodda commented on #133
@tonerdo @petli - just tested 2.1.0 and this issue is resolved (plus it's much faster).  Thanks

[2018-07-13 16:17] #133 closed

[2018-07-14 13:14] #142 closed

[2018-07-14 16:13] #146 closed

[2018-07-14 16:14] tonerdo commented on #144
That's currently being worked on in #123

[2018-07-14 16:14] #144 closed

[2018-07-14 16:17] #115 closed

[2018-07-16 14:57] tonerdo commented on #63
@arpit-nagar @snebjorn @StephenMP This now a mode of coverlet, find global tool package here: https://www.nuget.org/packages/coverlet.console/

[2018-07-16 14:57] #63 closed

[2018-07-16 15:03] tonerdo commented on #37
@pms1969 @janaka @chris5287 You won't have this problem when you use the .NET Core global tool https://www.nuget.org/packages/coverlet.console/

[2018-07-16 16:35] alexanderkozlenko opened #151 "Fix MSBuild property names"
MSBuild properties declared in the NuGet package should have unique names to ensure they will not intersect with the common or custom project-level properties. Here is an example of possible naming for all the used properties:

| Current | Suggested |
| --- | --- |
| `CollectCoverage` | `CoverletEnableCoverage` |
| `CoverletOutput` | `CoverletOutputPath` |
| `CoverletOutputFormat` | `CoverletOutpu

[2018-07-16 17:07] alexanderkozlenko opened #152 "A default value for the CoverletOutput MSBuild property"
I assume that a default value for the `CoverletOutput` property should not be the `$(MSBuildProjectDirectory)` but the `$(OutputPath)`. Here are a few reasons why this is a more appropriate value:

1. A code coverage report is a kind of program output, as well as binaries and XML documentation files.
2. A code coverage report will be automatically redirected to another location when the project st

[2018-07-17 23:29] lira92 opened #156 "Is there any way to execute coverlet using dotnet vstest?"
The project that I am working has multiples assemblies with tests, I saw that is only possible to execute tests in multiples assemblies with dotnet vstest command. I want to execute the tests in multiples assemblies and generate an unified code coverage file.

[2018-07-19 17:06] SteveGilham opened #159 "[F#]ExcludeFromCodeCoverage Attributes on nested types may not be honoured"
In F# code like this (which itself is an attempt to work around issue #76)
[code]
the attribute has no effect, as the type is nested inside a `module` (= `static class` ).

There is a work-around in the form of moving the annotated type outside the module.  This lets the attribute have effect at the cost of polluting the containing namespace with the intended-to-be-module-local type.

[2018-07-19 19:59] harindaka opened #160 "Is there a way to visualize what sections of the code are covered?"
How can I visualize which code lines are covered and which are not? Something similar to what you see in the link below
https://github.com/inorton/XR.Baboon

[2018-07-19 21:10] latop2604 commented on #160
For vscode see https://www.hanselman.com/blog/AutomaticUnitTestingInNETCorePlusCodeCoverageInVisualStudioCode.aspx

You can use [ReportGenerator](https://github.com/danielpalme/ReportGenerator) for Html report (and other formats)

[2018-07-23 03:10] minuz opened #161 "I there a way to output multiple formats"
Is there any way to output multiple formats?
For instance, I would like to output in cobertura and open cover formats at the same time for integration on build server.

[2018-07-23 10:14] tonerdo commented on #161
@minuz yes there is. If you're using the MSBuild package separate the formats using a comma (`,`), with the global tool specify the `--format` (or `-f`) option multiple times

[2018-07-23 10:14] #161 closed

[2018-07-23 10:14] #160 closed

[2018-07-23 22:37] minuz commented on #161
@tonerdo thanks for the quick response. However, I've tried the following:

`λ dotnet test -c Release --no-build /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura,opencover                                                                                                              `

But this is not working. If I duplicate the /p:CoverletOutputFormat, it only generates the later.

[2018-07-24 17:15] pms1969 commented on #37
@tonerdo  champion.  thank you.

[2018-07-25 19:32] danielthompson opened #162 "Coverage file missing if >0 tests fail"
Thanks for your hard work; this is a great project!

I'm using this project to collect code coverage in a TFS 2018 CI build definition, using the dotnet test 2.0 task.

The behavior I'm seeing is that if all tests succeed, the coverage output file is generated. If at least one test fails, the coverage output file is not generated.

Arguments passed to the task are:

--configuration $(BuildConfigur

[2018-07-25 19:52] tonerdo commented on #162
Hi @danielthompson this is expected behaviour. It's an MSBuild limitation that prevents the `Coverage` task from running when the previous unit test task fails. Unfortunately, I haven't found a way around it. However, you can use the global tool option which does not have this limitation

[2018-07-25 20:17] danielthompson commented on #162
I see. That's a bummer, but thanks for the explanation.

[2018-07-25 21:09] pjanotti opened #163 "Add Include option"
Per discussion https://github.com/tonerdo/coverlet/pull/141#issuecomment-403436626

[2018-07-26 19:16] pjanotti commented on #163
I will give a try at this later today (unless someone is already working on it).

[2018-07-31 21:54] Thomathan commented on #132
I assume what the OP is asking for is if cyclomatic complexity is on the road map.

I looked at the the OpenCoverReporter and CoberturaReporter and both hard code complexity to 0.

So are there any plans to add this into coverlet? NPath complexity for OpenCover too?

[2018-07-31 22:27] mbenua-mparticle opened #165 "Add support for executing coverage via SLN"
It's possible to construct a SLN that contains only test csproj files and then use that to execute all of those csprojs at once. When you then run `dotnet test all_my_tests.sln`, it will execute your test csprojs in parallel - which is an order of magnitude faster than iterating through, say, a list of all the test projects individually.

I would love to be able to collect coverage this way as wel

[2018-07-31 23:42] queen-of-code commented on #16
I'm experiencing this as well, running on Ubuntu with dotnet sdk version `2.1.302` and using the latest version of the coverlet global .net tool. Our builds/tests are specifically done as `--configuration Debug`.

We've got something like 30 test assemblies, and it's only happening with a few. I haven't dug too deeply into them as of yet to see what the commonalities might be.

[2018-08-01 11:27] rycornell commented on #161
I'm seeing the same behavior when running the tests on VSTS build server, using coverlet.msbuild version 2.0.1:

![image](https://user-images.githubusercontent.com/3660285/43519135-3e65e4e6-955c-11e8-8301-5133f2104e60.png)

[2018-08-01 11:44] tonerdo commented on #161
@minuz @rycornell  the error is as a result of a limitation with MSBuild command line parsing. You have to escape comma separated property values.

[code]

[2018-08-01 16:07] tonerdo commented on #132
@Thomathan, there are plans to add it. However, more serious bug fixes and crucial feature additions get more priority

[2018-08-01 19:27] nwoolls opened #166 "MSBuild fails if assembly being tested references Microsoft.AspNetCore.Cryptography.KeyDerivation"
MSBuild fails if the assembly being tested references `Microsoft.AspNetCore.Cryptography.KeyDerivation`. The error is:

## Steps to Reproduce

Execute from CLI:

[code]

Replace the contents of `classlib/Class1.cs` with:

[code]

Execute from CLI (should still be in `xunit-tests/` directory):

[code]

## Expected Result

[code]

## Actual Result

[code]

[2018-08-01 20:42] SteveGilham commented on #166
This is another instance of the problem underlying issue #72 -- the Cecil rewrite with instrumentation needs access to a type definition from a dependency  -- in issue #72 it was the NBitcoin assembly, and here it's  'Microsoft.AspNetCore.Cryptography.KeyDerivation, Version=2.1.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' -- but can't find it.  Unfortunately, nothing about this is logged

[2018-08-01 23:49] minuz commented on #161
@tonerdo thanks!! I wasn't aware of that! It works now!

[2018-08-01 23:56] nwoolls commented on #166
Thanks @SteveGilham - I can confirm that the work around you've provided works for the example I posted above and for the original project where we encountered the problem.

[2018-08-06 10:26] tonerdo commented on #156
@lira92 there's currently no way to generate a single result for multiple test assemblies

[2018-08-06 10:26] tonerdo commented on #156
#36 tracks the progress on merging coverage results

[2018-08-06 10:26] #156 closed

[2018-08-06 10:27] #162 closed

[2018-08-06 10:34] tonerdo commented on #165
Hi @mbenua-mparticle, thanks for reporting this and I do agree it's will be a good improvement. Currently focusing on merging coverage results and will look into this once I get that out the door

[2018-08-06 11:14] lira92 commented on #156
@tonerdo thanks.

[2018-08-06 15:11] watsonsong opened #167 "An error report when generate cobertura report"
I want to generate the cobertura format report in .netcore project:
dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura My.Test.csproj

And I get the following error:
C:\Users\asus\.nuget\packages\coverlet.msbuild\2.1.1\build\netstandard2.0\coverlet.msbuild.targets(23,5): error : Index was outside the bounds of the array.

[2018-08-08 07:14] goldytech opened #168 "Coverage report is empty when working in single assembly"
Hi,
As I'm following TDD, I had created .net core library project and reference the required the dlls like xunit and coverlet.msbuild

In the same project I added a subfolder "Logic" where my actual code to be tested, is written. Also I have used
`ExcludeFromCoverage` attribute in my unit tests class.

Now when I run `dotnet test /p CollectCoverage=true` the unit tests are run but the coverage.jso

[2018-08-08 11:58] tonerdo commented on #168
Hi @goldytech, at this time your code under test should reside in a project different from your test project

[2018-08-08 13:43] #168 closed

[2018-08-08 22:00] queen-of-code commented on #16
@tonerdo is there anything I can do to help debug? I'd love to get this resolved, as it's the last blocker I have to switching our build machines over to linux. I've tried upgrading all the relevant nuget packages. It's just one our of test assemblies that's doing it, but of course it's the biggest.

[2018-08-09 11:13] tonerdo commented on #16
@sesispla @queen-of-code sorry for taking so long to get back to this. I've done some digging and found what seems to be a string encoding issue. Some of the string constants that are injected during the instrumentation process for some reason aren't encoded accurately. While I'm still unable to find out _why_ this happens or what kind of assemblies it happens to, I'm working up an alternate appro

[2018-08-09 13:27] pjanotti commented on #16
Unrelated to this problem but related to:

I was preparing a simple and naive perf improvement using a string comparer that leveraged the likely location of diffs (the last few chars) in the strings passed to the "marker". However, it is clear that was possible to do even better by changing how the marker receives hits. In light of the comment above my initial change doesn't make sense, I will wai

[2018-08-11 15:34] tonerdo commented on #16
@sesispla @queen-of-code this issue has been fixed in the latest release: https://www.nuget.org/packages/coverlet.msbuild/2.2.1

[2018-08-13 08:48] FrankyBoy opened #170 "CoverletOutputFormat only accepts one format"
Hi!

Running as part of the `dotnet test` command ... as the documentation claims multiple output formats I wanted to try it out, added `/p:CoverletOutputFormat=json,lcov,opencover,cobertura`.

Result:

    MSBUILD : error MSB1006: Property is not valid.
    Switch: lcov

Removed, `lcov`, same result for `opencover`, removed that, same result for `cobertura`. So in short, no other format than `jso

[2018-08-13 08:54] FrankyBoy commented on #170
Further tests show: the problem is that only one format works at a time. so ` /p:CoverletOutputFormat=opencover` is fine,  `/p:CoverletOutputFormat=json,opencover` is not.

[2018-08-13 09:06] FrankyBoy commented on #170
Looking further this is a result of [how /p separates parameters](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-command-line-reference):

So msbuild interprets this as multiple properties. It appears to me that we got two solutions: escape the comma somehow, or use a different character to separate the values.

[2018-08-13 09:55] peterdeme commented on #33
Confirmed, I've got `Failed to resolve assembly: 'Microsoft.Extensions.Logging.Abstractions` error and `<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>` solved my issue, too.

[2018-08-13 10:09] tonerdo commented on #170
Take a look at the README, this is how you escape the comma

[code]

[2018-08-13 10:09] #170 closed

[2018-08-13 10:51] FrankyBoy commented on #170
That should really be mentioned in line 215 as well. The first mention is waaaay further down. Maybe there could be a generic sentence like "if you need to comma-separate stuff use escaped quotes" or so close to the top of the MSBuild paragraph (basically just moving the last paragraph up to the top).

[2018-08-13 11:34] jp7677 commented on #33
PS: An even better way than modifying your *.csprof file is to run dotnet test like
`dotnet test /p:CollectCoverage=true /p:CopyLocalLockFileAssemblies=true`

[2018-08-14 15:51] losbaltica opened #173 "Error MSB4057: The target "GenerateRestoreGraphFile" does not exist"
When I am trying to run inside latest coverlet folder

`dotnet add package coverlet.msbuild`

 I am getting the following error:

[code]

I am not sure how to resolve it as coverlet is building and testing without any issue. However, I cannot add packages to dotnet as the file GenerateRestoreGraphFile is not existing.

[2018-08-14 21:07] raphaelquati commented on #161
I'm trying to run in VSTS, but no success.

I have used:
```"/p:CollectCoverage=true /p:CoverletOutputFormat=\"cobertura,opencover\""```
It doesn't work.

![image](https://user-images.githubusercontent.com/815086/44118248-df0f1fc2-9feb-11e8-81fe-ece0a36da088.png)

Checking my private agent logs:

C:\agent\_diag\Worker_20180814-210029-utc.log
[code]

In dotnet test log (diagnostic on)
![image](http

[2018-08-14 21:13] raphaelquati commented on #161
Now it's working, with a little modification:

``` /p:CollectCoverage=true "/p:CoverletOutputFormat=\"cobertura,opencover\"" ```

[2018-08-14 21:51] tonerdo commented on #173
Hi @losbaltica I'm not familiar with what `GenerateRestoreGraphFile ` refers to or what exactly you're trying to achieve. Are you having trouble using coverlet in your unit test project?

[2018-08-14 23:48] queen-of-code commented on #16
Can confirm that this is working now (though I'm using the dotnet tool install version).

[2018-08-15 00:07] tonerdo commented on #16
@queen-of-code that's great to hear. It should work regardless of the coverlet mode (msbuild or global tool) you use

[2018-08-15 00:10] queen-of-code commented on #16
@tonerdo Now that that's cleared out the bulk, I'm able to see a few other failures. Is netcoreapp 2.0 a requirement? I didn't see it as such on the nuget package, but perhaps I missed something. I have a number of netcoreapp1.0 tests failing with
[code]

[2018-08-15 00:41] tonerdo commented on #16
@queen-of-code yeah I believe .NET Core global tools require `netcoreapp2.0` as they are deployed as framework dependent apps

[2018-08-15 07:07] losbaltica commented on #173
Hi @tonerdo, no I am just trying to add package coverlet.msbuild to dotnet. All I have done was installing coverlet to dotnet and based on readme add package. However at this step is failing and throw me "GenerateRestoreGraphFile" error.

[2018-08-15 10:34] tonerdo commented on #173
@losbaltica this sounds like a NuGet restore error. Try deleting your `obj` and `bin` directories and perform another restore operation

[2018-08-15 13:48] losbaltica commented on #173
@tonerdo  ok that fixes the issue! Cheers 👍

[2018-08-15 15:41] tonerdo commented on #173
Awesome, glad to hear that

[2018-08-15 15:41] #173 closed

[2018-08-15 16:17] safakgur opened #175 "An option to ignore deprecated types/methods"
Hi there, amazing project!

I was wondering if you would consider adding an option to ignore types/methods that are marked with `ObsoleteAttribute`. This way the functionality that is no longer maintained and is already discouraged to use wouldn't affect the coverage results.

[2018-08-16 04:29] fiuzaB opened #176 "Help building the project"
Hey there !

I got interested in messing around with the coverlet code and hopefully, help with something.
Following the steps presented in the README, I got stuck on dotnet msbuild build.proj . When I run the build, it fails while trying to do the signing:

![screen shot 2018-08-16 at 01 23 09](https://user-images.githubusercontent.com/11810770/44187583-00758900-a0f3-11e8-92b4-bacc6923bd57.png)

[2018-08-16 09:14] tonerdo commented on #176
Hi @fiuzaB, that error occurs on non-Windows devices with an older version of the .NET Core SDK. Try upgrading your .NET CLI to the latest version

[2018-08-16 20:50] queen-of-code commented on #110
I'm seeing this as well in one of my test suites. I moved to using the nuget package, just to eliminate potential variables:
[code]

[code]

I know that coverage should actually be around 60-70% - certainly not 0. Interestingly, it generates an enormous coverage.json file full of lines, but all the `Hits` are `:0`.

Is there a diagnostic logger for coverlet that I can enable?

[2018-08-16 22:03] tonerdo commented on #110
Hi @queen-of-code @robvanpamel @TLogik take a look at #72. Try adding the following line to your csproj:

[code]

Not at this time

[2018-08-17 04:41] fiuzaB commented on #176
Done. You were right. Now I can run dotnet msbuild . But now, when I try to build the whole project (using VS) a similar error pops up:
![screen shot 2018-08-17 at 01 34 05](https://user-images.githubusercontent.com/11810770/44247940-2d42a280-a1be-11e8-868c-1e361211b163.png)

This time I upgraded my IDE, but the issue remains. I even restarted the OS just in case.
Here is msbuild finished:
![scree

[2018-08-17 07:18] SteveGilham opened #177 "Coverage is overwritten if the project has multiple target frameworks"
If a system under test has multiple target frameworks,  then
[code]
runs multiple coverage runs, overwriting the coverage output each time.

This is the equivalent of [AltCover issue #31](https://github.com/SteveGilham/altcover/issues/31).

[2018-08-17 18:42] nishantkagrawal commented on #165
Is there any update on this yet?

Can I run tests against multiple projects and create a combined result?

[2018-08-17 19:03] queen-of-code commented on #110
Unfortunately no luck. I added that, and also tried switching from

[code]

[code]

Aside from making my test run exponentially slower, it didn't provide any coverage information. Just a dump full of 0% coverage-claims.

[2018-08-17 21:02] tonerdo commented on #176
Hmmm @fiuzaB you probably wanna stick to just using the command line for building the project right now. I myself develop using vscode and terminal combo

[2018-08-18 01:43] sesispla commented on #16
Coverage up and running :)

https://coveralls.io/github/sesispla/kubernetes-client-csharp

Now I have an issue with relative paths but it looks like a Coveralls.Net issue.

Thx @tonerdo!

[2018-08-19 12:30] maheshpr opened #178 "Test terminal output doesnt give total coverage %"
The Test terminal output doesn't provide total Coverage % Across all projects. currently it only provides project to project.
It would be nice to get a total % across all projects on top of existing individual %.

[2018-08-21 11:33] maheshpr commented on #148
Hi @ithepunisher ,
I am using Gitlab.com CI. The regex is not working for me.

[2018-08-22 08:27] j2ghz opened #179 "Index was out of range. VSTS"
The VSTS agent is running in docker, image: `microsoft/vsts-agent:ubuntu-16.04-standard`. The same test command works locally. I found #135 but I'm not using multiple output formats.
[code]

I tracked it up to here https://www.fuget.org/packages/coverlet.msbuild/2.2.1/build/netstandard2.0/coverlet.msbuild.tasks.dll/Coverlet.MSbuild.Tasks/CoverageResultTask?code=true#M:Coverlet.MSbuild.Tasks.Covera

[2018-08-22 10:38] joaosilvareed commented on #145
This also happens to me with this example.

[2018-08-22 16:38] #145 closed

[2018-08-22 16:42] tonerdo commented on #179
Hi @j2ghz can you try this https://github.com/tonerdo/coverlet/issues/135#issuecomment-406569641

[2018-08-22 16:45] tonerdo commented on #177
Thanks for reporting this. Will check it out

[2018-08-23 07:25] dlerps opened #182 "Multiple Excludes don't work in Powershell"
I am trying to exclude multiple things but always getting an error when executing it in powershell:
[code]
Also tried this but no luck either:
[code]

Am I doing something wrong or is this a bug?

The response is in both cases. If used alone both of them work just fine.
[code]

[2018-08-23 09:06] j2ghz commented on #179
I tried it, still fails. I do have a working branch and a broken branch.
test csproj
[code]
main csproj
[code]
I have tried reverting coverlet version upgrade, but it didn't help. Other than that the difference between the branches is I have added some tests. If none of these changes seem suspicious to you I will start reverting one by one and see which one fixes it.

[2018-08-25 21:56] tonerdo commented on #182
Try surrounding the entire property declaration in quotes
[code]

[2018-08-27 08:29] j2ghz commented on #179
It was resolved by removing these lines from the main csproj:
[code]

[2018-08-27 08:29] #179 closed

[2018-08-29 09:46] rvanmaanen commented on #182
I came here to submit the same issue. From the PowerShell window in VSCode it's not possible to separate filters with a comma, not even when surrounding the filters with double quotes:

`dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=lcov /p:CoverletOutput=./lcov.info /p:Exclude="[StackState.Core*]*,[StackState.CLI*]*"  .\StackState.Monitor.UnitTests\`

Result:

`MSBUILD : error MSB10

[2018-08-29 10:00] rvanmaanen opened #183 "Include doesn't seem to work"
Using the NuGet integration (haven't tried the global tool), I want to be able to include only the coverage from the project I'm unit testing.

I have multiple projects and multiple test projects:

- StackState.Core
- StackState.Core.UnitTests
- StackState.CLI
- StackState.Monitor
- StackState.Monitor.UnitTests

When I generate coverage for the "StackState.Monitor.UnitTests" project, without speci

[2018-08-29 12:05] rvanmaanen commented on #183
Maybe related to https://github.com/tonerdo/coverlet/issues/122 btw?

[2018-08-29 14:11] glBeatriz commented on #182
I have exactly the same issue when running 'dotnet test' in a VSTS build pipeline under a linux machine.
`dotnet test /opt/vsts/work/1/s/src/MyAppName.Tests/MyAppName.Tests.csproj --configuration release --no-build /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:CoverletOutput=/opt/vsts/work/1/s/TestResults/Coverage/ /p:Exclude=\[MyAppName.WebHost]*,[MyAppName.App]*,[MyAppName.DebugHo

[2018-08-29 16:18] dlerps commented on #182
Thanks for the suggestion. I tried it but still run into the same error

[2018-08-29 17:42] rmlira commented on #113
+1

[2018-08-29 19:06] joymon commented on #177
+1
Same issue here. Due to overwriting its difficult. Work around seems having one project / target framework. But it beat the purpose of multi targeting.

[2018-08-30 13:52] csharpsi commented on #179
I know this is closed, but for what it's worth, I was hitting this problem when setting up a new project build pipeline using an app that didn't yet have any implementation. I wanted to get the build pipeline including tests and coverage set up prior to starting work. Anyway, the reason I was getting this error was I hadn't yet referenced the app project from the test project. Adding the following

[2018-08-30 18:50] vikasillumina opened #184 "Exclude argument doesn't seem to be working"
Hi @tonerdo,

Please accept my sincere thanks for building and sharing coverlet tool to community. It helped a lot to get the code coverage for our .NET core application on linux/mac/windows.
It was very easy to set up and use.

I just ran into issue where I am trying to exclude few of the assemblies from coverage report but the exclude argument doesn't seem to honored.

Here is my command:
`dotne

[2018-08-30 18:59] latop2604 commented on #184
The filter format is like `[Assembly-Filter]Type-Filter`

So in your case it's more like `[MyTest.*.*TestHelpers]*`

And think you should escape `"`

[2018-08-30 22:50] vikasillumina commented on #184
Thanks @latop2604 for the example, I tested it locally and it worked. 👍
Sorry my bad I didn't follow the pattern as exactly its mentioned in the documentation.
Not an issue, user issue. 👍
I will try more filters on my CI. I will close this issue.

[2018-08-30 22:50] #184 closed

[2018-08-31 03:14] khairuddinniam commented on #182
Try this. Same as @tonerdo 's suggestion, but with single quotes and include escaped double quote
`'/p:Exclude=\"[*]*Examples?,[*]*Startup\"'`

[2018-09-01 08:49] tonerdo commented on #183
Hi @rvanmaanen, thanks for reporting this. I'm actually in the process of revamping the include/exclude capabilities of Coverlet. Will have some new updates within the week

[2018-09-01 15:50] tonerdo commented on #182
Hey guys, I've fiddled with this a bit and from https://github.com/Microsoft/msbuild/issues/471#issuecomment-366268743 the definitive way to fix this issue is to use `%2c` as the separator which msbuild will translate to `,`

[code]

This should do the trick for all Powershell related property parsing errors. Looking for a contributor to help add this to the README

[2018-09-01 15:53] tonerdo commented on #122
Hi @hack2root, do you get an error or does it just not work? Is your issue similar to #182?

[2018-09-01 15:54] tonerdo commented on #182
Alternatively you can try using a response file https://github.com/tonerdo/coverlet/issues/30#issuecomment-383623772

[2018-09-01 15:59] #107 closed

[2018-09-01 16:04] tonerdo commented on #110
#181 @queen-of-code completely changes the way Coverlet instruments assemblies and makes the test run orders of magnitude faster. You can see perf improvements here: https://github.com/tonerdo/coverlet/pull/181#issuecomment-415816996.

I expect this change should fix the 0% coverage issue you're all getting, should make a release in 48 hours so you can test it

[2018-09-01 16:13] tonerdo commented on #183
@rvanmaanen I tested this and `Include` seems to work just fine. Do you think you can put together a simple repro solution that I can clone? Also, while I know it's cumbersome I've provided a solution to the Powershell issue here https://github.com/tonerdo/coverlet/issues/182#issuecomment-417868403

[2018-09-01 17:01] tonerdo commented on #39
Moved discussion to #72

[2018-09-01 17:01] #39 closed

[2018-09-01 20:39] Razzeee commented on #107
It's working for us again. Using the latest version in combination with dotnet core 2.1

[2018-09-03 13:46] glBeatriz commented on #182
`/p:Exclude="[*]*Examples?%2c[*]*Startup"`
This fixes it for us as well on a VSTS build. Thanx @tonerdo!

[2018-09-03 19:05] felixfbecker opened #187 "Is it possible to generate code coverage for PowerShell cmdlets?"
I have PowerShell cmdlets written in C# that I am testing with Pester (i.e. the tests are written in PowerShell). Is there a way to use coverlet to track code coverage within the cmdlets while executing Pester tests?

[2018-09-05 11:46] glBeatriz commented on #182
@tonerdo I am willing to help with the documentation. Should I include the %2c solution as the standard way to specify multiple excludes, or is it something exclusive to Powershell (and VSTS build)?

[2018-09-05 12:05] tonerdo commented on #182
@glBeatriz thanks for volunteering. I think it's better to just add a note about Powershell under each section that involved separating property values with commas

[2018-09-05 13:39] SlowLogicBoy commented on #122
I'm having same issue. Also I use `test.targets` file for test properties:
[code]
and this doesn't work too. I've tried solutions in #182 too, in powershell, cmd and bash. (in bash instead of using `/p:` I have to use `-p:`)

[2018-09-05 19:40] Thomas-Coville commented on #33
Thanks !

This also solved an issue for me when running tests on libraries relying on  `StackExchange.Redis.StrongName`
with errors like `coverlet.msbuild.targets(7,5): error : Failed to resolve assembly: 'StackExchange.Redis.StrongName, Version=1.2.6.0`

[2018-09-05 21:32] queen-of-code commented on #110
Looking forward to it - when you cut the new release, I will test it out ASAP.

[2018-09-06 06:16] SlowLogicBoy commented on #118
I'm having similar issue. I'm using 2.2.1 coverlet.msbuild, it show that my class constructor is on 0% line coverage even though it's fully covered, and opencover shows 100% of line coverage.

[2018-09-06 10:48] #36 closed

[2018-09-07 08:19] dlerps commented on #182
@tonerdo I tried it and its working for me too. Thanks for investigating.
I leave this issue open until the documentation changes are done.

[2018-09-07 12:43] StanleyGoldman opened #188 "Empty results generating report for Octokit.Net"
👋 Greetings.

I've been playing with coverlet and I am attempting to add coverage for [GitHub Octokit.NET](http://github.com/octokit/octokit.net). Currently my attempts to generate coverage result in an empty report and no error. I'm using coverlet in another project and haven't had this problem...

[code]

What steps should I take to start debugging this issue?

[2018-09-07 18:04] tonerdo commented on #188
@StanleyGoldman here's the latest version of the console tool: https://www.nuget.org/packages/coverlet.console/1.2.0

Also I noticed you're specifying `--include [*]*` to include everything which is the default case. Try removing that and seeing if it works

[2018-09-07 18:44] henrihs opened #189 "Test run fails when `Oracle.ManagedDataAccess` is added"
First of all I want to thank you for the amazing tool you've made!

I've got this issue in a project which targets full framework (4.6.1), where the test run writes out this error during execution:

```C:\Users\user\.nuget\packages\coverlet.msbuild\2.3.0\build\netstandard2.0\coverlet.msbuild.targets(16,5): error : Invalid directory size. [C:\work\temp\demotest\demotest.csproj]```

I've been able t

[2018-09-07 18:48] tonerdo commented on #122
@SlowLogicBoy I'll like to know if you get an error or if you just notice that the files don't get excluded

[2018-09-07 18:50] tonerdo commented on #118
@SlowLogicBoy please try the new releases:

Coverlet Global Tool: https://www.nuget.org/packages/coverlet.console/1.2.0
Coverlet MSBuild: https://www.nuget.org/packages/coverlet.msbuild/2.3.0

[2018-09-07 18:51] tonerdo commented on #16
I'm closing this out now. Thanks for your patience on this everyone

[2018-09-07 18:51] #16 closed

[2018-09-07 18:55] tonerdo commented on #110
@queen-of-code The new releases are out

Coverlet Global Tool: https://www.nuget.org/packages/coverlet.console/1.2.0
Coverlet MSBuild: https://www.nuget.org/packages/coverlet.msbuild/2.3.0

Let me know if your issue gets fixed when you upgrade.
Thanks!

[2018-09-07 19:01] vikasillumina opened #190 "Is there any way to execute coverlet using dotnet vstest"
Hi @tonerdo,

I had success with using coverlet to get the coverage report for each of the test project using the dotnet test command as I described here:
https://github.com/tonerdo/coverlet/issues/184

However to save time on builds, I want to run the tests in parallel by testassemblies or xunit collection. Unfortunately dotnet test doesn't allow to run the tests in parallel however it seems we c

[2018-09-07 19:02] tonerdo commented on #189
Hey @henrihs, at this time Coverlet only works with .NET Core and not the full framework. Bringing it to the full framework is definitely something I've thought about and so far there's been very little in the way of demand/ROI.

Opencover and AltCover might be alternatives to explore

[2018-09-07 21:43] tonerdo commented on #189
Well there's nothing _technically_ stopping Coverlet from working on .NET Framework, it's just not a scenario I've tested so there are definitely gonna be some kinks here and there.

However, since `Oracle.ManagedDataAccess` is a public package I'll try to reproduce this locally and come up with a solution

[2018-09-07 21:44] StanleyGoldman commented on #188
I got it integrated in our build process using the msbuild route and it's producing the same output of..

[code]

https://ci.appveyor.com/project/github-windows/octokit-net/build/0.32.0-PullRequest.1866+8.build.2855

[2018-09-07 21:53] tonerdo commented on #188
Do you have a branch that I can pull and test locally?

[2018-09-08 00:46] StanleyGoldman commented on #188
This branch should do it for you...

https://github.com/octokit/octokit.net/tree/code-coverage

[2018-09-08 14:10] PaulTrampert commented on #167
I ran into the same issue. I did a bit of testing and it seems to only be happening when there is no coverage to report. For example, if on a new project testing an empty class lib, you exclude `[NUnit*]*`.

[2018-09-09 11:11] SteveGilham commented on #187
This is what I would try with coverlet, though no guarantees --

Given the coverlet doesn't instrument the assembly directly named, the test system would need to throw coverlet a bone by having a shim assembly project, linking to the one(s) of interest, that  takes the place of the unit-test assembly.  Then the command-line invocation

`coverlet /path/to/shim-assembly.dll --target "pwsh" --targeta

[2018-09-09 11:13] felixfbecker commented on #187
I've had success with https://github.com/lucaslorentz/minicover, which does not require the concept of a "test assembly" (it just instruments the assemblies you pass it). Feel free to close this issue, or to keep it open as a feature request.

[2018-09-09 12:32] SteveGilham commented on #189
I've had a quick look at this, and

1. It looks to be purely cosmetic with coverage of the system under test being generated OK at the end of the day
2. The latest version of Oracle.ManageDataAccess.dll (which is of course copied to the output directory for a full framework build) fails to decompile in the latest ILSpy (it raises an exception reading the debug header with an invalid length) -- thi

[2018-09-09 22:28] tonerdo commented on #110
@queen-of-code I didn't notice this before but you should try changing `DebugType` to `portable`

[2018-09-10 01:58] pjanotti commented on #188
Hi @StanleyGoldman - I took a quick look and the issue is that the projects use embedded pdbs and the `CanInstrument()` test in coverlet fails in such case. I was able to get coverage by changing the DebugType to Portable instead of embedded. A small thing to notice is that in the case of the command running against two different TFMs (netcoreapp2.0 and net452) require two distinct runs of coverle

[2018-09-10 02:28] StanleyGoldman commented on #188
@pjanotti Thanks. I thought I tried that but I apparently got turned around.

@tonerdo @pjanotti thanks for your help.

[2018-09-10 02:36] #188 closed

[2018-09-10 05:33] SlowLogicBoy commented on #122
@tonerdo Files didn't get excluded, tried various patterns for these. Exclude doesn't work also.

[2018-09-10 05:50] SlowLogicBoy commented on #118
@tonerdo It works now. Thanks.

[2018-09-10 08:50] #118 closed

[2018-09-10 08:53] tonerdo commented on #188
Thanks for your help @pjanotti, I should probably add a note about portable PDBs in the README until we can get Coverlet to work with any assembly that has debug information regardless of where it is

[2018-09-10 17:16] #52 closed

[2018-09-10 19:36] glBeatriz commented on #182
Created PR  #191 regarding this issue

[2018-09-11 09:18] rvanmaanen commented on #183
Hi, sorry for the delay! Here's a repo containing an example: https://github.com/rvanmaanen/CoverletIncludeIssues

[2018-09-12 08:05] rvanmaanen commented on #183
Is there a reason exclude takes precedence over include? Something like the following could be useful: exclude everything and then include what you want?

[code]

[2018-09-18 15:48] jherby2k opened #192 "Include non-referenced assemblies"
My library uses MEF to load "extensions" that are located in a separate directory. I'd like these assemblies instrumented as well. Is there a way to instrument assemblies that aren't project references?

[2018-09-19 00:18] queen-of-code commented on #110
Our current test suite (using dotnet test test.sln) runs in just over 1 minute. I just verified test-only numbers with the latest coverlet version, and it's at about 8.5 minutes. So it's still a significant overhead, most of which I suspect is due to running tests serially via **/*.csproj. SonarQube is involved in the build process as well, so it's certainly possible that it's leaving cruft in the

[2018-09-19 21:08] jonathann92 commented on #183
Hi are there any updates on the /p:Include= functionality? It doesn't work for me either and I'm using terminal on a mac.

[2018-09-19 21:56] gforceg commented on #170
Powershell doesn't like all these msbuild /p args. To get comma separation to work I had to use the verbatim argument marker `--%`

dotnet test --% /p:CollectCoverage=true /p:CoverletOutputFormat=\"opencover,lcov\"

[2018-09-20 07:31] LogikBlitz opened #193 "Coverage is 0 when testing only const fields"
I have a project with only a lot of const strings.
We are testing that the const strings are of course correct so there are a lot of tests.
I am using Coverlet.MsBuild 2.3.0

So every line is essentially covered but coverlet reports zero all over.
I have created a small test solution in net standard/core2.1 using xunit2 that has that exact impact.
https://gitlab.com/LogikBlitz/coverletfieldtesting

[2018-09-20 11:37] LiangZugeng opened #194 "Compiler generated classes shown in the coverage result file"
I use coverlet to analyze my .NET Core 2.1 app and it outputs cobertura format, then I use [report-generator](https://github.com/danielpalme/ReportGenerator) to convert the result file into HTML format for human reading, it's been using in our project for a while and I still haven't figured out some strange issues.

1. I have a class called BlockController, in the coverage result file I found comp

[2018-09-20 17:37] LogikBlitz commented on #193
Update.
Added a single method and tested it fully.
Now coverage is 100%.
It seems like the const field testing is not evaluated by coverlet.
See commit:
https://gitlab.com/LogikBlitz/coverletfieldtesting/tree/feature/addMethodTesting

[code]

[2018-09-21 01:47] amweiss commented on #175
I was just about to create a pull request to exclude them by default. Always doing it will be a quick change, but you're probably right that an option is a good idea. If I did that, would it be merged?

https://github.com/tonerdo/coverlet/blob/47206b0ec9cf1a561756c441e44b8eeda7d2dace/src/coverlet.core/Instrumentation/Instrumenter.cs#L384 is the easy part from a quick look.

[2018-09-21 02:13] amweiss commented on #175
See #195

[2018-09-21 09:15] balage90 opened #196 "Possibility to merge different test project results into operncover format"
Currently if i understand correctly the /p:mergeWith paramter only works in case of Json format.
I'd like to have results in opencover output due to sonarqube alanizis.

We have multiple test for different csproj,-s in our project.

e.g.: dotnet test someProject.csproj --configuration debug /p:CollectCoverage=true  /p:CoverletOutput=/TestResultOutput/Coverlet/SomeProject_Merge.xml /p:MergeWith=/Te

[2018-09-21 12:55] petli commented on #196
If you don't need a merged opencover file, but just a merged coverage report of some kind, you can use https://github.com/danielpalme/ReportGenerator to read multiple opencover.xml files and produce a single report.

[2018-09-21 12:55] petli commented on #196
If you don't need a merged opencover file, but just a merged coverage report of some kind, you can use https://github.com/danielpalme/ReportGenerator to read multiple opencover.xml files and produce a single report.

[2018-09-21 12:55] petli commented on #196
If you don't need a merged opencover file, but just a merged coverage report of some kind, you can use https://github.com/danielpalme/ReportGenerator to read multiple opencover.xml files and produce a single report.

[2018-09-24 14:44] zabomate opened #197 "Wrong source path in cobertura report with similar project name starts"
Hi there,

I have 3 project in my solution:

- DAL
- DAL.MySql
- DAL.MsSql

When I generate a cobertura report I get a report with the following `sources` part.

[code]

I think this is a mistake since this is not a common parent folder for each 3 project. I think the following line of code is responsible for that because it is checking that every modules' path  starting with the same string even

[2018-09-25 22:27] Looking-at-the-ballpark opened #198 "Missing something simple?"
Hello! I just tried the simple:

coverlet /path/to/test-assembly.dll --target "dotnet" --targetargs "test /path/to/test-project --no-build"

And I am getting "Symbols were found but are not matching the assembly".

The files are in place *.dll and *.pdb.  The paths are somehow long and I am running from a git bash (just in case this info makes a difference) My goal is to include coverlet inside a

[2018-09-26 10:38] ppumkin opened #199 "IDE Integration"
I watched your video on DOT NET CONF 18 - It was great, thank you for this because this tool is very usefull during CI/CD

I was wondering is there anyway to use the outputs to show in Visual Studio, at the minimum of the lines that are covered, with something in the margin.

That would increase productivity as usually branches are missed and finding which ones is a bit difficult.

Thanks for taki

[2018-09-26 14:48] Looking-at-the-ballpark commented on #198
The command line didn't work for me but the msbuild works like a charm. Closing it

[2018-09-26 14:48] #198 closed

[2018-09-26 15:43] Looking-at-the-ballpark opened #200 "Running in Git Bash or CentOS do not generate reports. It works on Windows 10"
I am running the following commands, after adding coverlet.msbuild:

dotnet test . /p:CollectCoverage=true
dotnet test . @coco.rsp -> coco.rsp contains just /p:CollectCoveragee=true

Following posts from other threads on Git bash and CentOS. No report is generated. But they work in Windows. Anybody found a workaround?

Runtime-> .Net Core 2.0

[2018-09-26 16:08] Looking-at-the-ballpark commented on #200
Closing this one too. It works if there are no failures

[2018-09-26 16:08] #200 closed

[2018-09-27 12:12] kallam9 opened #201 "Code Coverage report not generated with command dotnet test /p:CollectCoverage=true /p:CoverletOutput='./results/'"
Tried generating Code coverage report, But not able to generate the report
After running the command line
dotnet test /p:CollectCoverage=true /p:CoverletOutput='./results.json'

Checking in the complete project
Please let me know if I am doing anything wrong.

[2018-09-27 14:57] tonerdo commented on #199
Hey @ppumkin, I'm glad you enjoyed my talk. There's currently no IDE integration between Coverlet and Visual Studio. While I definitely think it'll be a great addition, it's currently not on my priority list. I'm more than happy to accept a PR for it though 😄

[2018-09-27 15:00] tonerdo commented on #196
Hi @balage90, you can simply merge all your coverlet json result files and output them in OpenCover format

[2018-09-27 15:06] tonerdo commented on #193
@LogikBlitz glad to see you were able to get it working. Coverlet doesn't evaluate your tests, it's not even aware of them. It simply instruments your assembly under test and leaves it at that

[2018-09-27 16:36] ppumkin commented on #199
Do you think it would be fairly manageable to do?

I am really annoyed that VS Pro does not offer something like this...

Let me know if you have an idea of how to start with this and I can have a look, no problem.

[2018-09-27 17:01] tonerdo commented on #196
Here's an example:

[code]

[2018-09-28 11:17] Nysosis opened #202 "coverlet.console isn't at 2.3.0 on nuget?"
Possibly a misunderstanding on my part on how you're versioning the two packages, but `coverlet.console` is only at 1.2.0, where as `coverlet.msbuild` is at 2.3.0.

[2018-09-28 11:54] pape77 opened #203 "/p:MergeWith does not merge but adds"
I'm testing using coverlet over a solution that has 3 test projects which i want to combine into a single .opencover.xml file

Since there's currently no direct solution for this. What I tried to do is generate the coverage for one of the test projects, output its result into an "converage.json" file and then apply a MergeWith param in the following dotnet test commands to merge into that same jso

[2018-09-28 11:58] pape77 commented on #196
I'm trying to run this but since i'm doing a dotnet test on the solution which detects what to test, it will say that the result.json file does not exist, as it doesn't create it the first time it runs the test for one of the projects in the solution :/
I'm forced to run tests for one test proj and then run the test solution with the merge param, which results in two steps and double testing a pro

[2018-09-28 12:14] pape77 commented on #203
dotnet test ./tests/ProjectName.Api.Tests/ProjectName.Api.Tests.csproj -l trx -r /results /p:CollectCoverage=true /p:CoverletOutput=/results/coverage

 dotnet test ./${SolutionName} -l trx -r /results /p:CollectCoverage=true /p:CoverletOutput=/results/coverage /p:MergeWith='/results/coverage.json'

 dotnet test ./${SolutionName} -l trx -r /results /p:CollectCoverage=true /p:CoverletOutputFormat=op

[2018-09-28 12:30] pape77 commented on #201
Silly question but did you add your project's .csproj's path to that command line?  otherwise dotnet doesn't know what to test :P

Also asuming you included the pkg in your test .csproj

[2018-09-28 13:31] ppumkin commented on #32
I have been looking into this too.

https://github.com/tonerdo/coverlet/issues/199

I would like it pickup the coverage file and just show simple green/red margins.

I kind of have a working proof of concept but its all in parts and not really hanging together very well.

Also the question is by StephenMP is a good one too. Would the extension then supersede the NuGet package somehow.. or is it an

[2018-09-28 14:10] ppumkin commented on #199
@tonerdo Could you eplain why lines is a sorted dictionary of <int,int> ?

I get that the Key is the Line.. but what is the Value

Here, Line 7 Value 19?

![image](https://user-images.githubusercontent.com/1249683/46213444-80b51e00-c330-11e8-8cdb-5600c21c7cf9.png)

[2018-09-29 14:37] LiangZugeng commented on #194
May I have some comments here?

[2018-10-01 09:06] balage90 commented on #196
Yes i exactly wanted to do something similar, so for the first project test execution generates a merge.json and then i will try to use the MergeWith parameter at the second execution where I am referencing the merge.json from the previous run. And so on with the rest of the test projects. But sitll dont know how and wen should i able to generate opencover output since the previous repots are in J

[2018-10-01 10:05] pape77 commented on #203
Update: @tonerdo  Looking into the Merging code https://github.com/tonerdo/coverlet/pull/186/commits/45bc5bc8433d07df90cbda5a6f80bfe98898d83d

I see you merge by ```Module``` key, then by ```Document``` key, etc.
In this case the Module key will be different since the dll is referenced from different paths

So the ```coverage.json``` looks like:

[code]
[code]

So module keys are different but the

[2018-10-01 12:35] pape77 commented on #203
PR made
https://github.com/tonerdo/coverlet/pull/204

[2018-10-01 12:35] pape77 commented on #203
Pr created for this https://github.com/tonerdo/coverlet/pull/204

[2018-10-01 14:54] pape77 commented on #196
@balage90 you should be able to do it in the final dotnet test excecution. So you have:

1- The first one just doing a dotnet test and generating the first coverage.json file
2- Subsequent n-1 dotnet test using the mergeWith parameter referencing the just created coverage.json file
3- Last one should also use mergeWith BUT ALSO ```/p:CoverletOutputFormat=opencover``` in order to generate the final

[2018-10-01 20:41] balage90 commented on #196
@pape77 Thanks a lot will try it out tomorrow and let you know the result.

[2018-10-01 20:59] ob-stripe opened #205 "Empty results when generating coverage for Stripe.net"
Hi! I'm one of the maintainers of the [Stripe.net](https://github.com/stripe/stripe-dotnet) library and I'm trying to add coverlet to our test pipeline. However, I can only seem to get empty results.

The test projects has two different targets `netcoreapp1.1` and `net452`. I'm focusing on `netcoreapp1.1` at the moment since my dev environment is .NET Core on a Macbook:

[code]

If I run with `--n

[2018-10-01 23:17] AdrianNg opened #206 "error MSB1009"
$ ls
bin  Controllers  obj  ReactCore.Tests.Unit.csproj  Services
$ dotnet test /p:CollectCoverage=true
MSBUILD : error MSB1009: Project file does not exist.
Switch: p:CollectCoverage=true

Hi guys, any ideas why I have this error?

Thanks,

A

[2018-10-02 08:00] Nysosis commented on #194
I've noticed this in my projects too, and seems to be occur everywhere that I'm using `async/await` tasks.

[2018-10-02 08:02] ppumkin commented on #199
OK Well I have learnt a bit more about Extension development and that Roslyn Code Analysis packages are our best friends 😄

I have managed to get a a proof of concept working
- loads the coverage.json from hard drive (currently hard coded)
-- futures: to have the extension check the default location or allow you to specify location later on
- places GreenYellow marks in the marging for the LINES o

[2018-10-02 08:38] Nysosis opened #207 "cobertura output does not match expected in jenkins plugin for method signature"
Similar to #49, the current output from cobertura format does not quite match what the jenkins plugin expects (now I'm no Java/cobertura guy, so it's possible that you're emitting correctly and the plugin is wrong, but starting here as my point of investigation).

Currently my `.ctor` signature is coming out in the XML as something like: `(MyLib.CoreLib._Core.ICachingService,MyLib.CoreLib.TaskRunn

[2018-10-02 09:09] pape77 commented on #206
It's a MS error, so try to test first before using coverlet

[2018-10-02 09:28] ppumkin commented on #199
Here is a very basic version of the extension. I have optimised it a bit so it doesnt slow down the IDE with some caching techniques. This is a very fast release for your testing convienience only and there are bugs in here.. I already thought of a few but I have limited time to work on this.

1. Install VSIX Extension
1. Run covertlet and save fiel to c:\coverlet\coverage.json
1. When coverage fi

[2018-10-02 09:51] LiangZugeng commented on #194
@petli thanks for the answer, and I don't think it's a bug in ReportGenerator, I haven't tried opencover report file and I will give it a try later.

The reason I thought it's not a issue with ReportGenerator is that I spent some time using ildasm to view the IL code of the assembly, it's not coverlet interpreting the IL code wrong, coverlet worked exactly according to the IL, but coverlet missed

[2018-10-02 20:12] ppumkin commented on #32
Published PrestoCoverage to work with Coverlet JSON files

https://marketplace.visualstudio.com/items?itemName=PiotrKula.prestocoverage

Some quick doc on how to use.

https://github.com/ppumkin/PrestoCoverage/blob/master/README.md

[2018-10-03 06:15] cternes commented on #201
Had the same issue and in my case the problem was that the package reference "coverlet.msbuild" was not properly added by Visual Studio to the *.csproj file.

I was able to solve it by manually running "dotnet add package coverlet.msbuild" in the project folder and running "dotnet test" again after it.

[2018-10-03 14:03] ppumkin commented on #32
Was using it and it really annoyed me that it did not automaticlly update. OK. So I fixed that. Now ready with version 1.10+

![2018-10-03_14-55-38](https://user-images.githubusercontent.com/1249683/46415282-dcaae880-c71c-11e8-8c4f-76de5a3d0cb6.gif)

[2018-10-03 14:36] fcallejon opened #208 "`coverlet.msbuild.targets(16,5)` Failed to resolve assembly"
Hi,

Using version: `2.3.0`.

I'm running ` dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=lcov /p:CoverletOutput=./lcov .Project.csproj`.
And suddenly started getting:
[code]

And as result:
[code]

Originally I was using 2.0.1 and started getting the same issue, but the output is:

[code]

[2018-10-03 15:06] pape77 commented on #196
@balange90 And? And? :P

[2018-10-03 19:34] AdrianNg commented on #206
run "dotnet test " works fine.
It turns out to

[2018-10-03 19:34] #206 closed

[2018-10-03 19:39] AdrianNg commented on #206
I am using bash terminal to run this.  And  "dotnet test" will no have this issue.
Then I switched to VS PM console. Now both can run.

Thank you all the same.

[2018-10-04 08:53] ppumkin commented on #199
@tonerdo Would it be OK if I could request a shameless link to my extension on your readme? I have made the extension to work exclusively with Coverlet, and I don't want to move away from it.

I think it is quite usable now.with some manual running of coverlet but I have provided sample PowerShell Scripts and easy place to drop all results during development.

The next feature I want to get workin

[2018-10-04 11:30] tonerdo commented on #199
@ppumkin this is good work and thank you! Have you considered a possibility of using Visual Studio to run coverage instead of just reading in the coverage result?

[2018-10-04 11:33] tonerdo commented on #208
Hi @fcallejon, this seems like an assembly resolve error on the part of coverlet. Try specifying `<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>` in your csproj

[2018-10-04 11:50] tonerdo commented on #205
Hi @ob-stripe, will try to reproduce it. I should mention that coverlet works this way when running without `--no-build`. The main problem to fix is the `System.IO.FileNotFoundException` that gets thrown

[2018-10-04 12:14] ob-stripe commented on #205
Ah, good to know @tonerdo -- I'll focus on trying to fix this error then.

[2018-10-04 13:40] ob-stripe commented on #205
I was able to successfully generate coverage by adding a `netcoreapp2.0` target to the tests project. Is there maybe some incompatibility when using coverlet with a `netcoreapp1.1` target?

[2018-10-04 14:42] ob-stripe commented on #205
Okay, I'm closing the issue since I was able to successfully compute coverage with a more recent version target. Thanks @tonerdo!

[2018-10-04 14:42] #205 closed

[2018-10-04 15:19] tonerdo commented on #205
@ob-stripe glad to hear that you figured it out. I don't think Coverlet works with any runtime version less than `netcoreapp2.0`

[2018-10-05 07:59] ppumkin commented on #199
@tonerdo Yes I am thinking about it.

I am not an extensions developer so I am just trying to learn how to do it.

These are ideas I have.. some help would be appreciated from an experienced extensions developer- I can do the work.

I could just run PowerShell commands.. I think I will do that as a way to push the feature out but I don't know if that is the "way" of doing this stuff.. right? Curre

[2018-10-05 14:50] fcallejon commented on #208
Hi @tonerdo, that did the trick.

Any idea why it started failing?

[2018-10-05 20:53] twcclegg commented on #110
I having what seems to be a similar issue of 0% results for code coverage using 2.3.0, however I do get coverage for 2 of the 4 projects with the .sln I'm trying to get coverage for. I do get results using 1.2.0. Happening on both centos7 and osx.

No coverage:
[code]
<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
  </PropertyGroup>

  <It

[2018-10-08 20:03] Cyberboss commented on #208
For me it was a really weird types within Microsoft.Logging.Abstractions that triggered it when I added LogLevel as a constant: https://github.com/tgstation/tgstation-server/commit/1a50a65a2678ad8ea0a2fc9aa2d3c00a6c3c4fe4

Fixed it by following the advice here: https://github.com/tonerdo/coverlet/issues/33#issuecomment-412489223

https://github.com/tgstation/tgstation-server/commit/ded9287f4e5a851

[2018-10-08 20:15] fcallejon commented on #208
Hi @Cyberboss, thanks for pointing that out.
I'm using the solution proposed by [ @tonerdo ](https://github.com/tonerdo/coverlet/issues/208#issuecomment-426985341) which does the same as `/p:CopyLocalLockFileAssemblies=true`.

I'm closing the issue now, but I'm still curious about what caused the issue in first place.

[2018-10-08 20:15] #208 closed

[2018-10-08 22:45] Cyberboss opened #210 "Spurious 'Unable to read beyond end of stream' in CI while collecting results"
https://travis-ci.org/tgstation/tgstation-server/jobs/438449753#L1156

Not sure what causes this it rarely happens and seemingly at random. Latest coverlet.console

[2018-10-09 20:56] jherby2k commented on #192
Taking a look at the code, it seems to just instrument assemblies in the same directory as the test project, minus exclusions. Would you be open to a pull request that allows one to Include additional assemblies? I’m going to start working on it regardless.

[2018-10-09 22:51] tonerdo commented on #192
@jherby2k, I'd be open to that contribution. Thanks!

[2018-10-10 14:49] Tonvengo commented on #203
When this will be pushed to coverlet.msbuild nuget package?

[2018-10-10 14:51] pape77 commented on #203
@Tonvengo Hopefully after #211 is merged! haha (otherwise the mergeWith will break)

Hopefully @tonerdo sees this first :)

[2018-10-10 14:53] pape77 commented on #203
I will reopen until it's there on the pkg

[2018-10-10 14:56] Tonvengo commented on #203
:) nice

[2018-10-10 20:53] ppumkin commented on #199
@tonerdo  Have you thought of creating a package for `Coverlet.Core` only?

That way it could be included and used from Visual Studio directly, like I am trying to do here with a VSIX - But maybe other people have other ideas too.

[2018-10-12 09:34] p10tyr opened #212 "Coverlet.Core as NuGet package."
Is it possible to offer Coverlet.Core as a NuGet package please.

This will help in development of other extensions, tools and just general consumption of your amazing tool.

As you know, I would like to include automatic code coverage in my Extension but the only way I could to that is to clone your repo and then build the Core NuGet my self and consume that.  This creates a problem that I will b

[2018-10-12 09:43] ppumkin commented on #210
Could it be that the files are cleaned up before Coverlet finishes doing its thing.

That error usually occurs when the StreamReader opens a file, it has its Length in memory then starts to stream the data... but its either 0, in very rare occasion in processes of being deleted.

For the Length to be more the length of the file is not possible unless it got modified as mentioned.

Because of this

[2018-10-12 09:47] ppumkin commented on #199
I have resolved this issue. Thanks

https://marketplace.visualstudio.com/items?itemName=PiotrKula.prestocoverage

[2018-10-12 09:47] #199 closed

[2018-10-12 09:49] ppumkin commented on #190
I am working on this with my VS Extension to do that from within VS IDE
(the feature should be available in v1.14)

https://marketplace.visualstudio.com/items?itemName=PiotrKula.prestocoverage

Otherwise you can do it using powershell scripts. run your tests then run coverlet?

[2018-10-12 18:59] tswiftma commented on #192
Yes I need the MEF capability also! I'm currently using OpenCover but need a solution that runs on linux like Coverlet. I would be happy to help test/compare coverage results.

[2018-10-13 00:43] jherby2k commented on #203
My PR #213 actually addresses this issue too, so I think we have overlap. Mine changed the merge behaviour to merge any files with the same name, regardless of path.

[2018-10-13 08:40] tonerdo commented on #212
@ppumkin what about the alternative of just wrapping `coverlet.console` instead? Opening up `Coverlet.Core` will require changing things around a little bit as all the important stuff is either internal/private

[2018-10-13 09:07] tonerdo commented on #183
@MortenChristiansen thanks for pointing that out!

[2018-10-15 08:34] ppumkin commented on #212
I did try this to use the Coverlet.Console package but I get the error

`Package 'coverlet.console 1.2.0' has a package type 'DotnetTool' that is not supported by project 'PrestoCoverage'.

This is why I downloaded your branch and pushed it into my AzureDevops and built the Coverelt.Core package hosted in my private feed. I just need to do a subset of things you are doing in the Console

So in the

[2018-10-15 17:10] NeedHack commented on #30
You can double up the slashes to escape them

[code]

[2018-10-15 18:36] jherby2k commented on #177
Workaround is just to run `dotnet test` with -`f <framework>`, grab the coverage.xml, then run it again with` -f <other_framework>`

[2018-10-16 08:44] SteveGilham commented on #193
C# `const` values are in-lined into the consuming assembly at compile time; so in the original case, where only such values are being examined, there will be nothing executed in the assembly under test.

[2018-10-16 11:50] 8 commented on #196
I am struggling with the same problem.
I've worked around that by creating an (almost) empty .json file to start with:

[code]

and then I can create a combined file like so:
[code]

Now it's only 1 run over the whole solution and I got a combined `coverage.json` - but I am stuck now converting that file to opencover without supplying a test project.

Anybody got an idea? I haven't found any strai

[2018-10-16 12:51] ppumkin commented on #32
v1.14 now runs coverlet.core in the extension. no need for dotnet tool or nuget package.

After test run completed the extension gets the test DLL and runs coverage automatically. Your covered documents will automatically be updated without the need of watching files.

The file watcher function still exists. make sure you use c:\coverlet to place your files

[2018-10-16 13:29] joeharrison714 opened #216 "Question about reporting on json output"
Hello,
Just trying to switch to coverlet fron dotcover so we can do our build fully in linux (We have a windows agent now just for code coverage). As part of the build script I am looping through each test project and outputting a coverlet json report to the artifacts folder. I then have a process that runs after the build that pulls the json files and deserializes them and I am attempting to calc

[2018-10-16 15:18] pape77 commented on #196
Hi @8 in #203 I create a opencover report.
You can replace the first run i make with your empty json file generation and it should work.
Cheers!

[2018-10-16 17:19] SamerAdra opened #217 "Coverlet fails to resolve assembly when method signature uses default parameter"
Coverlet MSBuild 2.3.0/2.3.1 fail on running with the following exception:

{userdir}\.nuget\packages\coverlet.msbuild\2.3.1\build\netstandard2.0\coverlet.msbuild.targets(7,5): error : Failed to resolve assembly: 'System.Data.SqlClient, Version=4.2.0.2, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'

I had no idea why until I rolled back my changes one by one and tracked it down to the followin

[2018-10-16 18:51] 8 commented on #196
Hi @pape77,
thanks for the reply!

I finally solved my problem doing what @petli  suggested:
1) I switched back to generating an opencover report per project in the solution by pointing coverlet at the solution file.
2) Then collect them using powershell and pass them as a single argument to reportgenerator which can handle multiple entries and combine them in a single report.

Take care,
-Martin

[2018-10-16 19:03] vlef commented on #203
Great, thanks for the feature, hopefully it gets a release soon.

However, I'm wondering, wouldn't it be an even better solution to extend this feature into some kind of /p:AggregateResultsAt that would create the first file if it doesn't exist, append all other results to it, and then finally convert it to other formats if required.

In my use case (VSTS build with multiple test projects), I coul

[2018-10-16 19:21] danielpalme commented on #194
@LiangZugeng
Please try again with the latest (pre-)release of ReportGenerator:
https://www.nuget.org/packages/ReportGenerator/4.0.0-rc11

I changed the behavior of ReportGenerator. The results of compiler generated classes are now merged into the parent class. E.g.
`EaseSource.AnDa.SMT.Web.Controllers.BlockController/<GetAll>d__2` to `EaseSource.AnDa.SMT.Web.Controllers.BlockController`

[2018-10-16 20:08] jherby2k commented on #192
@tswiftma I have a nuget package for testing this feature at https://www.myget.org/feed/audioworks/package/nuget/coverlet.msbuild, if you want to try it. Do you keep all your MEF components in a single directory, or in subdirectories?

Use either /p:IncludeDirectories="<extension_path>" or add a "\*" to the end if you want to search subdirectories.

[2018-10-16 21:08] pape77 commented on #196
@8 ah I don't use the report generator or poweshell. I want coverlet to generate the merged coverage. Then it can be used for whatever.
That's what I'm aiming for with the pr ;)

But good you found a way for your case

Cheers

[2018-10-16 21:13] pape77 commented on #203
@vlef without doubts. That was my next step, because if the file doesn't exist it fails. And it's annoying because when running a dotnet test on a solution you want it to also generate the file for the first test run.

I haven't got the time to look into that TBH. But maybe @tonerdo can take a look when he is free. Or if you find it you can also make a pr for it :)

Cheers

[2018-10-17 06:54] danielpalme commented on #194
The results of compiler generated classes are now merged into the parent class, that means that branches from the generated classes are also merged into the parent class.

[2018-10-17 08:13] danielpalme commented on #201
I have a similar problem. `coverlet.msbuild` is added to project.

When I execute `dotnet test /p:CollectCoverage=true XUnitTestProject\XUnitTestProject.csproj` the test(s) are executed successfully but no coverage is available:

[code]

Here is a minimum sample project:
[XUnitTestProject.zip](https://github.com/tonerdo/coverlet/files/2486383/XUnitTestProject.zip)

[2018-10-17 09:53] tonerdo commented on #201
@danielpalme your unit test project has no project/assembly dependencies so there's nothing for Coverlet to instrument

[2018-10-17 10:00] tonerdo commented on #203
Definitely sounds like a good idea @vlef @pape77. For starters I could just make the `MergeWith` parameter ignore when the specified file doesn't exist and just assume it's on a first run

[2018-10-17 10:08] tonerdo commented on #217
@SamerAdra that's definitely a weird problem. Try adding the following to your csproj:

```<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>```

[2018-10-17 10:11] tonerdo commented on #216
@joeharrison714 there are two alternatives I see here:

1. grep the per module coverage summary that coverlet outputs to the terminal
2. Use a different output format like opencover that already contains per module summaries. You'll need to us an XML reader for this but it should be fairly straightforward

[2018-10-17 11:43] danielpalme commented on #201
@tonerdo Thanks for the explanation. Wasn't aware of that.

[2018-10-17 13:29] petargyurov opened #218 "Exclude switch not working like other switches with MSBuild"
I have a .sh script which does the following:

`dotnet test --logger:trx //p:threshold=50 //p:threshold-type=method //p:CollectCoverage=true /p:Exclude=[Blah.Blah.Blah]*`

For every switch, apart from `Exclude` I need to escape the slashes. If I try to do the same there too, i.e.: `//p:Exclude`, I get:

[code]

I have tried all sorts of combinations with escaping slashes and escaping quotes, using

[2018-10-18 12:58] noelmcgrath opened #219 "coverlet on ubuntu"
I have run the following on ubuntu box with dotnet installed:

`dotnet tool install --global coverlet.console --version 1.2.1`

The i run
`coverlet --help`

I get the following:
`coverlet: command not found`

If I do exact same on windows I have no problem.
What do I need to do to get this working?
I do not want to add nuget package to project and use coverlet.msbuild

[2018-10-18 13:12] noelmcgrath commented on #219
I found it
[](https://github.com/dotnet/docs/blob/master/docs/core/tools/dotnet-tool-install.md)

`$HOME/.dotnet/tools`

[2018-10-18 13:13] #219 closed

[2018-10-18 18:37] vlef commented on #196
My pull request #220 is a quick fix that should allow for a way to accomplish this (see my comment), if someone's willing to test it.

[2018-10-18 18:57] vlef commented on #216
Maybe #203 is the fix the issue you are experiencing with merging?

[2018-10-18 19:54] joeharrison714 commented on #216
Yes I believe it was

[2018-10-18 21:05] Looking-at-the-ballpark opened #221 "Baffling situation"
Hello! We have been running coverlet inside a CI/CD pipeline for several weeks already. We just used the test project from one module to begin. It worked smoothly. The problem arises when a second project is added. The report for the second set has 0% across the board.

I checked the *.xml. It has all the appropriate metadata: source files, method signatures , etc, etc. So the instrumentation must

[2018-10-18 22:16] Looking-at-the-ballpark commented on #221
This also happens in PowerShell/Windows X.

[2018-10-19 15:42] tswiftma commented on #192
@jherby2k, @tonerdo,  sorry for the slow response I was flat out at work this week. I had to go back to the code and check, we actually use dependency injection. But your change allowed coverlet to see all my dependencies. I ran coverlet vs open cover (both with the same exclusions) with ReportGenerator and the results were virtually identical:

![coverlet](https://user-images.githubusercontent.co