[2019-10-03 07:14] MarcoRossignoli commented on #571
No...can you provide a repro?

[2019-10-03 07:47] MarcoRossignoli commented on #572
@queen-of-code I'm trying to repro your issue...I don't know if it's possible but are able to generate a repro(with emtpy project) but with the structure that lead to your issue?

[2019-10-03 08:38] MarcoRossignoli commented on #572
Never mind...I can repro...

[2019-10-03 10:01] MarcoRossignoli commented on #571
@queen-of-code when you update the version to 1.1.0 you need to provide runsettings file with a InProcDataCollectors config because i found and issue on vstest plat collector load and we cannot fix on our side at the moment https://github.com/tonerdo/coverlet/issues/576#issue-500327522
[code]

[2019-10-03 10:28] MarcoRossignoli commented on #572
@queen-of-code I did some check and I could try to give an alfa version of collectors package to test my idea.
If I provide a nuget package are you able to test?Do you have a private nuget server or I could give you address to my own nuget server to use.

[2019-10-03 11:45] MarcoRossignoli commented on #551
@abhiphirke any news?
Feel free to close if solved.

[2019-10-03 11:54] MarcoRossignoli commented on #482
@iron9light is this issue active yet?

[2019-10-03 11:59] MarcoRossignoli commented on #480
Close for stale discussion.
Feel free to re-open if needed.

[2019-10-03 12:01] #516 closed

[2019-10-03 12:01] MarcoRossignoli commented on #516
Close because solved...feel free to re-open if needed

[2019-10-03 12:02] MarcoRossignoli commented on #534
@eal61 any news?

[2019-10-03 15:42] MarcoRossignoli commented on #212
Re-opened for re-discussion after https://github.com/tonerdo/coverlet/pull/566 and https://github.com/tonerdo/coverlet/pull/577
Should we open core feature for stand-alone usage?

cc: @tonerdo @petli

[2019-10-04 06:06] ittennull commented on #573
Thanks, I managed to get it work as needed

[2019-10-04 06:06] #573 closed

[2019-10-04 07:24] shargon commented on #212
Of course, coverage is not only useful for testing, it could be used in other areas like fuzzing. So for me, as security auditor, it's required as stand-alone and allow it to configure it for persist the instrumentation.

[2019-10-04 08:44] MarcoRossignoli commented on #212
Interesting...if possible, can you explain better how you use instrumentation for fuzzing?

[2019-10-04 09:26] shargon commented on #212
We are developing a tool for fuzzing .net software using your library.

![image](https://user-images.githubusercontent.com/3167973/66196237-78589700-e698-11e9-9bb6-f3a6fb9a02aa.png)

Coverage is very important in modern fuzzers, because you can know if you are hitting most of the parts of the software that you want to "fuzz".

Using coverage combined with fuzzing you can be more precise with your

[2019-10-04 09:38] MarcoRossignoli commented on #212
wow...very interesting way to use coverlet...what do you think @tonerdo?

[2019-10-04 12:13] shargon commented on #212
You can see a demo with random entries here

https://www.youtube.com/watch?v=EKnMCkSQiGY&feature=youtu.be

[2019-10-04 12:26] MarcoRossignoli commented on #212
This stuff is amazing dot

[2019-10-04 17:09] jeffrutland commented on #56
greetings, over a year later here.  :)

I'm curious if any progress was made on excluding code covered by specifying namespaces in the `<Exclude>` element in the `runsettings` file.

our codebase is built in Azure DevOps, and tested with `dotnet test` - I'd like the coverage analysis to exclude generated code in specific namespaces.  the documentation seems to suggest that filtering via regex is p

[2019-10-04 17:14] MarcoRossignoli commented on #56
You could try with something like `[asm]namespace.*` it should exlude all types in the assembly under that namespace.
You can verify reading the logs, if you're using collectors you can enable and check inside vstest/test logs https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-integration

[2019-10-04 17:37] AArnott opened #578 "Collecting code coverage prevents all test discovery on net472 only"
This repros locally and in [Azure Pipelines builds](https://dev.azure.com/andrewarnott/OSS/_build/results?buildId=1843&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3).

[code]

Notice how net472 runs 0 tests and reports:
[code]

While the netcoreapp targets report non-zero results:

[code]

In fact simply comparing the output of these two commands shows that the mere collection of code coverage

[2019-10-04 21:00] jeffrutland commented on #56
is that the exact syntax required this?  I see no different results when running with that in the `<Exclude>` tag.

thanks for the log suggestion - good to know.

[2019-10-04 21:04] MarcoRossignoli commented on #56
Mmm...I'll give it a try...I never tested for namespace, but I expect that is something close to that...and I think that we should support that filter feature if missing.

[2019-10-05 07:06] MarcoRossignoli commented on #56
@jeffrutland I did some test and syntax should work...I added some test to be sure, take a look to sample https://github.com/tonerdo/coverlet/pull/579

[2019-10-05 07:59] MarcoRossignoli commented on #578
@bradwilson @onovotny  sorry for the inconvenience....I need to attach and debug the reason why on netfx+coverlet lead xunit to fail the discovering of tests(weird no issue with netcoreapp)...is there a way(guide/docs) on how attach a debugger to `dotnet test`?

[2019-10-05 12:17] AArnott commented on #578
@MarcoRossignoli The way I do it is add `Debugger.Launch()` to some early executing code in my assembly.
I tried that here, in my own test discoverer class, but it was never invoked, suggesting the problem is earlier than my code is loaded.

[2019-10-07 07:14] MarcoRossignoli opened #580 "We should avoid "standard" switch name for msbuild driver"
Usually I work with a VS command prompt.
Doing some test I found that "strange" include filter are present
[code]
I've opened an issue on cli repo https://github.com/dotnet/cli/issues/12821
At the end the issue is the name switch `Include` that is used by vs command line env and used by msbuild.

I think that we should avoid to have name that collide with "standard" switch name, for instance we sh

[2019-10-07 07:22] MarcoRossignoli commented on #525
You mean re-write with sign with some tmp key?But without original key how does runtime load the libs?You mean also update all metadata for all lib?

[2019-10-07 07:45] MarcoRossignoli commented on #578
@AArnott not sure if it's related but if I change the order of test the behaviour is different...I wonder if the issue is how custom attribute interact with xunit for net472 context.
Try this:
1) run as is
[code]

2) Move `Fact_OnMTAThread` in file Sample.cs as FIRST test and re-run
[code]
Coverage is the same but one test is found...I wonder if something goes wrong and process is killed or dead,

[2019-10-07 08:00] MarcoRossignoli commented on #578
If you run with test host log enabled you can also some difference for the two execution
[code]
No test run
[code]
One test run
[code]

[2019-10-07 08:21] SteveGilham commented on #525
With this sort of behaviour, it has to be the same key that originally strong-named the assembly, as the framework is looking for a type which has that key's thumbprint baked in.

Yes, this means that if you instrument third-party code, you're stuck -- but you probably didn't want to do that in the first place; but wWith code you built yourself, then the key or keys used should be to hand.

The pr

[2019-10-07 10:20] MarcoRossignoli commented on #378
@tonerdo @andreacassioli @alexanderkozlenko our great contributor @daveMueller started to work on this, I would like to know if we are in agreement with switches!
I think that in case we're in agreement we should provide those on msbuild and .net tool, I don't know if we can apply to collectors, to investigate.

[2019-10-07 10:36] MarcoRossignoli commented on #148
Close for stale.
Feel free to re-open if needed.

[2019-10-07 10:36] #148 closed

[2019-10-07 10:38] MarcoRossignoli commented on #489
You can follow the guide https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md rember to publish the project before.

[2019-10-07 10:38] #489 closed

[2019-10-07 10:39] MarcoRossignoli commented on #506
Dup of https://github.com/tonerdo/coverlet/issues/573#issuecomment-536593477

[2019-10-07 10:39] #506 closed

[2019-10-07 11:15] MarcoRossignoli commented on #72
close for stale...further discussion on similar issue https://github.com/dotnet/cli/issues/12705#issuecomment-535150372
With 3.0 all assets will be copied so should resolve by design this issue...for shared framework at the moment we don't have an elegant solution, only manually copy dll to output folder https://github.com/dotnet/cli/issues/12705#issuecomment-536686785

[2019-10-07 11:15] #72 closed

[2019-10-07 11:18] MarcoRossignoli commented on #284
Close for stale, related feature issue to avoid regex usage https://github.com/tonerdo/coverlet/issues/542

[2019-10-07 11:18] #284 closed

[2019-10-07 11:20] MarcoRossignoli commented on #342
Solved with usage of collectors https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md
NB at the moment there is a know issue on vstest side so to use updated version of collectors(> 1.0.0 you need to provide custom runsettings https://github.com/tonerdo/coverlet/issues/576

[2019-10-07 11:20] #342 closed

[2019-10-07 11:22] #349 closed

[2019-10-07 11:23] MarcoRossignoli commented on #349
Related issue https://github.com/dotnet/cli/issues/12705

[2019-10-07 11:26] MarcoRossignoli commented on #166
@tracker1 any news...with 3.0 you should find dll directly to output folder and it should work https://github.com/dotnet/cli/issues/12705#issuecomment-535150372

[2019-10-07 11:28] MarcoRossignoli commented on #371
Close for stale, feel free to re-open if needed!

[2019-10-07 11:28] #371 closed

[2019-10-08 23:00] queen-of-code commented on #572
If you give me a test package on a public nuget server, I can test with it no problem.

[2019-10-08 23:01] queen-of-code commented on #571
I'm testing with this now to see if it helps.

[2019-10-09 07:14] MarcoRossignoli commented on #572
Try with this `nuget.config` on root sln
[code]
`Directory.Build.targets` file on root sln folder
[code]
runsettings(bug vs test workaround) https://github.com/tonerdo/coverlet/issues/576
[code]
cspoj sample
[code]

[2019-10-09 07:40] #343 closed

[2019-10-09 07:44] MarcoRossignoli opened #584 "Unexpected branches reported for async lambda expression"
In PR https://github.com/tonerdo/coverlet/pull/583 we fixed the issue with false line coverage for lambda.
Now we report a correct line coverage, but we've unexpected uncovered branches reported.
We should try to avoid to report compiler generated branches.
Test name `Lambda_Issue343`

![Capture](https://user-images.githubusercontent.com/7894084/66461435-50db4300-ea79-11e9-9352-88de7d5075cd.PNG)

[2019-10-09 16:05] jbellmore opened #585 "Command line output, showing detailed class/method coverage"
Hello!

I have in the process of integrating coverlet into my CI builds and was wondering if there is a way to have the console output include more detailed information in the table, such as class and method level coverage?

I tried looking through the documentation but I haven't come across anything that specifies if this is possible, and if so what the cli arg would be to enable that.

I will al

[2019-10-09 17:25] MarcoRossignoli commented on #585
Glad to hear....

Unfortunatly we don't have that detail or some switch to enable it.
BTW I don't know if could  be a "usable" feature...instrumented type/method could be "a lot", btw at the moment unique solution is to parse and print "by hand" with some script.

Feel free to close the issue if I've answered to your question!And thank's for trying coverlet!

[2019-10-09 19:45] MarcoRossignoli commented on #212
ping @tonerdo @petli do you agree to put this on roadmap?

[2019-10-10 10:48] leyou240 opened #586 "NaN% in cover report"
I'm newbie to use coverlet into my ci build. And use `coverlet .\bin\Debug\whatever\whatever.dll --target "dotnet" --targetargs "test --nobuild"
`
I use it on windows works well, but unfortunately on linux where ci run show NaN% coverage and Total also get error that all is 100%. Below is generated report.

Calculating coverage result...
  Generating report '/path/coverage.json'
+--------+------+-

[2019-10-10 11:06] MarcoRossignoli commented on #586
Try to add project path

coverlet .\bin\Debug\whatever\whatever.dll --target "dotnet" --targetargs "test PROJECT PATH --nobuild"

like in a guide https://github.com/tonerdo/coverlet#global-tool

[2019-10-10 14:46] MarcoRossignoli commented on #212
thank's for share you thoughts Peter!

[2019-10-11 02:00] leyou240 commented on #586
Tests runs well except coverage results, more details shows below.

$ dotnet tool install --global coverlet.console
Tools directory '/root/.dotnet/tools' is not currently on the PATH environment variable.
If you are using bash, you can add it to your profile by running the following command:

cat << \EOF >> ~/.bash_profile
# Add .NET Core SDK tools
export PATH="$PATH:/root/.dotnet/tools"
EOF

You

[2019-10-11 06:20] MarcoRossignoli commented on #586
ok @leyou240 can you try to enable logging https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#coverlet-global-tool?
I've got some suspect, you could hit a know issue with test platform and maybe you need to use collectors(no .net tools)...but we can check from logs.

[2019-10-11 08:17] MarcoRossignoli commented on #586
I've added a new section with know issue maybe you're affected by this one https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#1-vstest-stops-process-execution-earlydotnet-test

[2019-10-11 08:53] #562 closed

[2019-10-11 08:57] MarcoRossignoli commented on #386
@tonerdo can we close this?We joined foundation so I think that unresolved points aren't fundamental.

[2019-10-11 09:03] leyou240 commented on #586
@MarcoRossignoli thx. This make sense, cause I use RabbitMQ to test.

[2019-10-11 09:21] MarcoRossignoli commented on #586
check this https://github.com/tonerdo/coverlet/issues/573#issuecomment-536593477

[2019-10-12 09:47] #290 closed

[2019-10-12 09:49] MarcoRossignoli commented on #290
Guys if someone of you can trust the feature we'll be more confident.
Will be testable with nightly build tomorrow you can follow this steps https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2019-10-14 07:53] MarcoRossignoli commented on #81
Closing because we can use `/p:ExcludeByAttribute=\"CompilerGeneratedAttribute\"`

[2019-10-14 07:55] MarcoRossignoli commented on #328
Closing because we can use `/p:ExcludeByAttribute=\"CompilerGeneratedAttribute\"`

![image](https://user-images.githubusercontent.com/7894084/66736192-ce7fc400-ee68-11e9-899b-26eb99e59ef9.png)

[2019-10-14 08:07] MarcoRossignoli commented on #521
Close for stale feel free to re-open if needed.

[2019-10-14 08:07] #521 closed

[2019-10-14 08:08] MarcoRossignoli commented on #239
Close for stale, feel free to re-open if needed.

[2019-10-14 08:08] #239 closed

[2019-10-14 08:09] MarcoRossignoli commented on #207
Close for stale, feel free to re-open if needed.

[2019-10-14 08:09] #207 closed

[2019-10-14 08:11] MarcoRossignoli commented on #352
any news?

[2019-10-14 08:33] MarcoRossignoli commented on #152
Now we support `dotnet test` with native collectors so we support `--results-directory` by design https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md#coverlet-integration-with-vstest

Yep also vstest write results to `MSBuildProjectDirectory` so to be aligned a user can pass `/p:CoverletOutput=TestResults\`

For the moment doesn't seem a great issue, I mean we have a

[2019-10-14 08:33] #152 closed

[2019-10-14 08:37] MarcoRossignoli commented on #201
Close for stale, feel free to re-open if needed.

[2019-10-14 08:37] #201 closed

[2019-10-14 08:40] MarcoRossignoli commented on #231
I think it's solved now, we should skip Moq because we cannot instrument so the issue with tampering should gone.
Feel free to re-open if needed.

[2019-10-14 08:40] #231 closed

[2019-10-14 08:41] MarcoRossignoli commented on #311
Close for stale, feel free to re-open if needed.

[2019-10-14 08:41] #311 closed

[2019-10-14 08:43] MarcoRossignoli commented on #222
Maybe you hit know issue https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#1-vstest-stops-process-execution-earlydotnet-test
I'll close for now...feel free to re-open the issue isn't solved.

[2019-10-14 08:43] #222 closed

[2019-10-14 08:46] MarcoRossignoli commented on #264
Close for stale, feel free to re-open if needed.
FYI this kind of issue could be related to know issue https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#1-vstest-stops-process-execution-earlydotnet-test

[2019-10-14 08:46] #264 closed

[2019-10-14 08:48] MarcoRossignoli commented on #551
Close for stale, feel free to re-open if needed.

[2019-10-14 08:48] #551 closed

[2019-10-14 08:49] MarcoRossignoli commented on #235
Close for stale, feel free to re-open if needed.

[2019-10-14 08:49] #235 closed

[2019-10-14 08:53] MarcoRossignoli commented on #166
Close because seem solved, I mean the above issue with reference not found.
@tracker1 feel free to open a new issue with new 3.0 case(maybe try with prod release https://dotnet.microsoft.com/download/dotnet-core/3.0).

[2019-10-14 08:53] #166 closed

[2019-10-14 08:58] MarcoRossignoli commented on #312
@ViktorHofer is this feature useful again?If so do you need it for .net tool driver?

[2019-10-14 09:50] ViktorHofer commented on #312
It's not very important for us anymore as we are moving assemblies together.

[2019-10-14 09:51] MarcoRossignoli commented on #312
Ok feel free to close!

[2019-10-14 09:52] #312 closed

[2019-10-14 13:18] NickPolyder opened #592 "[Question] [Possible Issue] exclude-by-attributes does not work for classes and globals"
Hello,
while setting up the code coverage in my code using coverlet i found the problem below.
When using `--exclude-by-attribute 'Obsolete,GeneratedCode,CompilerGenerated'`
It will not exclude files like Resource Designer files (The generated files from .resx)

The generated file is like this:
[code]

Any help or clarification will be very much appreciated.

Best,

[2019-10-14 17:29] MarcoRossignoli commented on #81
Ugh...sorry to you for my ignorance...didn't know, I'm not familiar with F# compiler.
I'm thinking to add a F# lib on tests to handle the cases.
Thank's Steve.

[2019-10-14 20:11] NickPolyder commented on #592
@MarcoRossignoli  Yes the generated report includes the files that should be removed due to the -Exclude-by-attribute parameter.
I am using .net core 2.1. I will try to create a dummy repository and provide it here when its ready.

Best,

[2019-10-14 21:00] MarcoRossignoli commented on #592
Perfect thanks a lor!

[2019-10-14 21:08] NickPolyder commented on #592
Hello @MarcoRossignoli ,
So after digging around i found why it is failing.
The short answer is that the documentation is not up to date.
The long answer is that the parameter can only ever take one attribute and if you want more than that you just copy the parameter as many times as you want.

Documentation example: `coverlet .... --exclude-by-attribute 'Obsolete,GeneratedCode,CompilerGenerated'`

[2019-10-14 21:16] MarcoRossignoli commented on #592
Yep seem a documentation issue, thanks for reporting!

[2019-10-15 07:36] #592 closed

[2019-10-15 07:56] MarcoRossignoli commented on #465
did some check...and seem that result is expected for both cases sync and async, I mean if exceptio throw code rewind and so we cannot reach end of a method.
The only "incorrect" thing that I see is the branches on emtpy catch and on throw that is autogenerated, I don't know if I we can remove those noise without risk to remove "non false positive" I'll check what we can do.
TL;DR; The issue with

[2019-10-15 08:48] MarcoRossignoli commented on #465
Compiler generated code is below, at the moment I don't know how to recognize and filter branches out without remove other possible real branches.
Move issue level from bug to enhancement, I mean branches are real there is a mismatch between c# and IL.
[code]

[2019-10-15 18:07] thomasgalliker opened #594 "Unable to instrument module: Could not load file or assembly"
I'm trying to collect code coverage from two Azure DevOps build tasks. The first task is running all 'UnitTests', the second one is running 'SystemTests'.

- task: DotNetCoreCLI@2
  displayName: 'Run UnitTests'
  inputs:
    command: test
    projects: '**/*.Tests.csproj'
    arguments: '--configuration $(buildConfiguration) -p:langversion=$(langversion) --filter Category=UnitTests /p:CollectCover

[2019-10-16 07:24] MarcoRossignoli commented on #594
Hi Thomas,

Do you repro issue also in local or only on CI?

[2019-10-16 12:52] thomasgalliker commented on #594
Hi Marco. I was spending the whole night to try to get it work - and it finally works now. I think it matters which tool I use to build the solution. The above error **only happens when I use `dotnet build`** to build the solution. Very tricky to reproduce because Visual Studio 2019 obviously uses its own build tools (based on `MSBuild`?) which definitly generates a different build output than wha

[2019-10-16 13:06] MarcoRossignoli commented on #594
yep AFAIK `dotnet build` and `msbuild` are different beast https://natemcmaster.com/blog/2017/07/05/msbuild-task-in-nuget/#full-msbuild vs https://natemcmaster.com/blog/2017/07/05/msbuild-task-in-nuget/#dotnet-msbuild

Feel free to close this issue if solved!

[2019-10-16 17:05] thomasgalliker commented on #594
Yes, well, not that I‘m new to .net but these kind of things surprise me. Thanks for your support! :-)

[2019-10-16 17:05] #594 closed

[2019-10-16 17:10] MarcoRossignoli commented on #594
Now worries!
Don't hesitate to re-open or ask if you need further support!
Happy coding!

[2019-10-17 16:00] nzain opened #595 "Unable to get coverlet to work with vstest"
I'm using `coverlet.msbuild` on several modern `netstandard2.0` nunit test projects. A simple `dotnet test Some.csproj /p:CollectCoverage=true` together with smart `Directory.Build.Targets` like this

    <?xml version="1.0" encoding="utf-8"?>
    <Project>
      <PropertyGroup>
        <CoverletOutputFormat>opencover</CoverletOutputFormat>
        <CoverletOutput>$(MSBuildThisFileDirectory)TestRe

[2019-10-18 07:50] MarcoRossignoli commented on #595
If you cannot touch project dependency I propose to use .net tool and not collectors/msbuild.
https://github.com/tonerdo/coverlet/blob/master/Documentation/GlobalTool.md#code-coverage

something like
[code]

[2019-10-18 08:14] MarcoRossignoli commented on #595
The approach you suggested is doable but ugly at the moment.
We need to provide collector libs and runsettings.
So you need to manual copy https://www.nuget.org/packages/coverlet.collector/ libs and provide a runsettings, I did it copying dlls on output build folder near to tested lib.

[code]
Runsettings
[code]

[2019-10-18 08:25] MarcoRossignoli commented on #586
any news?

[2019-10-18 11:16] nzain commented on #595
That night I thought that I might try to migrate all related projects to the new csproj format. This made `dotnet test` and coverlet coverage work, I don't have to fiddle with `vstest`, plus projects are cleaner and dependencies are transitive. Thanks for your quick response and suggestion, nevertheless!

[2019-10-18 11:16] #595 closed

[2019-10-18 11:49] flerka commented on #554
@MarcoRossignoli hi! Added pull request to implement this, please check. Thank you.

[2019-10-18 13:00] MarcoRossignoli commented on #554
Sure thank you!

[2019-10-18 13:11] #167 closed

[2019-10-19 22:16] daveMueller commented on #197
@MarcoRossignoli is it ok when I analyze this and create a pr?

[2019-10-20 06:37] MarcoRossignoli commented on #197
Yes Dave when you're working on it take a look if it's related to other Cobertura similar issues
https://github.com/tonerdo/coverlet/issues/408
https://github.com/tonerdo/coverlet/issues/413

maybe we can fix those togheter, seem related to same report elements.

[2019-10-20 10:35] desmondgc commented on #542
From my perspective, there needs to be an easy way to use the coverage output programmatically in scripts. That is, make it easy to pipe the output to another command or parse it for use in CI/CD tools to generate coverage badges or use in conditional statements. 98% of the time I just want a single value based on my preferred way of calculating coverage. Coverlet already gets very close to this b

[2019-10-21 13:55] FurstLevy opened #597 "FluentValidation with .net core 3.0 is included at unit test coverage"
Git code: https://github.com/FurstLevy/FluentValidation_Core3

### System Details

- FluentValidation version: 8.5.0
- Web Framework version: netcoreapp3.0
- coverlet.msbuild version: 2.6.3

### Issue Description
Hello.
I'm using the FluentValidation with .net core 3.0.

When get the unit test coverage it takes the FluentValidation's namespace.

But when I change from netcoreapp3.0 to netcoreapp2.

[2019-10-21 23:30] daveMueller commented on #197
Ok this could take a while. I have to figure out what was the sourcelink related problem and why @tonerdo removed/emptied the ```<source>``` tag here (#260, #356) . Also I have to set up a jenkins build server to see what the problem is here (#408). Just for reference.

[2019-10-22 07:50] MarcoRossignoli commented on #197
No worries Dave take your time and let us know...at the moment I don't have experience with Jenkins too.

[2019-10-22 07:59] MarcoRossignoli commented on #597
Try to upgrade coverlet to 2.7.0 and should fix.
TL;DR; .NET 3.0 has new default behaviour so all references are moved to output folder.
Coverlet 2.6.3 version instrument all dll in the output so in .net 3.0 is moved from nuget package cache folders to output folder. But in 2.7.0 we instrument libs only if we found local pdb+local sources so if FluentValidation has not "local source"(is not part o

[2019-10-22 11:43] FurstLevy commented on #597
I changed to version 2.7.0 and it worked perfectly

[2019-10-22 11:43] #597 closed

[2019-10-22 12:26] #554 closed

[2019-10-22 17:52] jbellmore commented on #585
Thanks for the response!

I will close the issue now, however I do think it would be a great feature to think about including in the future if possible. I have used instanbuljs/nyc before and they have a great output table that is very valuable for local development. See their website for an example:

https://istanbul.js.org/

Thanks again!

[2019-10-22 17:52] #585 closed

[2019-10-22 18:06] MarcoRossignoli commented on #585
Thanks to you for link resource!happy coding!

[2019-10-24 08:19] jaubin opened #598 "Implement threshold per solution"
Hi,

As of now we have the coverage threshold which works only on a per-test-project basis. Now let's imagine a solution which has several test projects, some are under the threshold, some are above the threshold. Globally the solution is above the threshold and this is what we want to check, while not caring about the results of individual test projects.

A possible workaround would be to put all

[2019-10-24 08:27] MarcoRossignoli commented on #598
Hi Julien, at the moment there is no way to run coverage solution wide.
You could try to manually parse output coverage file result and verify globally with a script.

dup of https://github.com/tonerdo/coverlet/issues/357
Discussion on possible solution https://github.com/tonerdo/coverlet/issues/542

Feel free to close if answered!

[2019-10-24 08:34] jaubin commented on #598
OK thank you anyway.

I hope sooner or later we can reach a solution to do so. I close the ticket as it is some kind of duplicate.

Other possible solution :
1/ do a mergeWith
2/ with command line compute the overall coverage by parsing the output file and make it above the threshold. Would this one possible ?

[2019-10-24 09:13] jaubin commented on #598
I've seen and experienced this. The only missing feature would be coverlet console eating a report and breaking if the overall coverage does not reach the threshold.

[2019-10-24 10:49] jaubin commented on #598
Another potential solution would be to give the coverlet command line a list of report file so that it does the computation, would it be possible ?

[2019-10-24 10:53] MarcoRossignoli commented on #598
Mmm I don't like partial solution...I think that we should complete solution wide coverage with this in mind.
If you need to calculate by yourself you can copy our internal code https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/CoverageResult.cs#L113

[2019-10-24 13:59] ghost opened #599 "How to programmatically collect coverage data?"
How can I get coverage when programmatically running tests (like xunit/xunit#542)?

[2019-10-24 14:04] jaubin commented on #598
Okay could do it using a for loop in a bash script, by extracting from the XML file the coverage percentage. However as of now I don't close the ticket because I guess we should get some more handy way to merge all the reports in a file and put a threshold which is only enforced by the last element.

It would be something like :
dotnet test <coverlet> /P:GlobalThreshold=80

In that case it generat

[2019-10-24 14:17] MarcoRossignoli commented on #598
It's not possible at the moment because tests could run in parallel if you run on sln so we don't have a clear way at the moment to put in relation different running test every test span custom process coverlet will be injected and produce "new file" but it doesn't know nothing about others.
TL;DR; This behaviour should be addressed if/when we'll support solution wide coverage. Again today coverle

[2019-10-24 14:20] MarcoRossignoli commented on #599
close because I think it's an error...ghost user.

[2019-10-24 14:20] #599 closed

[2019-10-24 15:16] selessshore commented on #599
Thanks for your quick reply @MarcoRossignoli! I believe this is a duplicate of #483, and further #212, right?

I see #212 was reopened recently. Did you change your mind to support this feature?

[2019-10-24 15:19] MarcoRossignoli commented on #599
yep the idea is to expose a stable package with new apis, we need to merge/fix some stuff https://github.com/tonerdo/coverlet/pull/566 https://github.com/tonerdo/coverlet/issues/576 and after that we could start with discussion on api design.

[2019-10-25 13:22] Vertigo093i commented on #560
Setting `CopyLocalLockFileAssemblies` property helped me. Though I'm on 2.1 and referencing `Microsoft.AspNetCore.App` (rather than `.All`).

[2019-10-29 15:00] Nitin5acc opened #600 "how to use coverlet as project in a solution"
Hello,

we would like to use this source code and create coverlet .net core projects in our application (sln) which can be used on other projects to check coverage.
We have taken the code from this repo and added it in our solution. However, no coverage is generated.

[2019-10-29 15:39] MarcoRossignoli commented on #600
Hi Nitin,

it's not clear to me your question...would you like to have a coverage of your test projects?
You need to follow the guide https://github.com/tonerdo/coverlet#installation
Why you download sources?

[2019-10-29 15:57] Nitin5acc commented on #600
Hello, we would not like to use coverlet as package. We want to bring source code into our solution, build the same and use that as dll to check the coverage on other projects.

[2019-10-30 13:56] MarcoRossignoli commented on #559
wait for https://github.com/tonerdo/coverlet/pull/566 to allow internal helper interfaces access.

[2019-10-30 16:06] MarcoRossignoli commented on #600
As I've said above you can copy .net tool usage https://github.com/tonerdo/coverlet/blob/master/src/coverlet.console/Program.cs#L64 we don't have an example on codebase
Maybe @Shargon can help here, they used coverlet by code.

[2019-10-30 16:11] MarcoRossignoli commented on #600
At the moment we're blocked on vstest bug, after that fix we can go on with hiding all class and design a stable api to expose internal features https://github.com/microsoft/vstest/pull/2221

[2019-10-31 02:10] shargon commented on #600
You have an example in github.com/red4sec/TuringMachine

[2019-11-02 10:39] ariksman opened #602 "Incomplete coverage result information (NaN%)"
Hello,

If I run coverlet with an explicit path to the assembly, such as:
[code]
All is fine and I receive results:
[code]

However, if I try to execute the following command:
[code]

I receive the following output:
[code]

Most likely my error is in the syntax I am using, but all bits of advice are welcomed.

I'm running this by a build script on Appveyor, with following install commands:
`dotnet

[2019-11-02 16:00] MarcoRossignoli commented on #602
Hi, in the second command you cannot pass test assembly dll but a directory path, can you try to pass correct dll path?

[2019-11-02 16:05] MarcoRossignoli commented on #600
@Nitin5acc feel free to close if solved, thanks @shargon for the sample!

[2019-11-02 22:20] Tum4ik opened #603 "The test project itself is not included into code coverage."
I have this NetStandard2.0 class library and tests for it.

![image](https://user-images.githubusercontent.com/21317790/68077606-49d0f780-fdcf-11e9-8ce9-2bf1b808db2f.png)

But when I run `dotnet test /p:CollectCoverage=true`, the test project itself is not included into code coverage.

![image](https://user-images.githubusercontent.com/21317790/68077629-90265680-fdcf-11e9-9044-76b184703144.png)

S

[2019-11-03 12:31] MarcoRossignoli commented on #603
Try with `/p:IncludeTestAssembly=true`

[2019-11-03 20:13] Tum4ik commented on #603
Perfect! Thanks.

[2019-11-03 20:13] #603 closed

[2019-11-03 20:30] Tum4ik opened #604 "AutoGeneratedProgram included into coverage"
I've included the test project itself into code coverage via `/p:IncludeTestAssembly=true`, but there is strange file generated `AutoGeneratedProgram` and it breaks the real coverage results.

Here is how it looks in the report:

![image](https://user-images.githubusercontent.com/21317790/68091497-2ff3eb00-fe89-11e9-93f9-31972abb2dd1.png)

Here are the datails:

![image](https://user-images.github

[2019-11-03 23:03] ariksman commented on #602
Sure, if my second input command is clearly a syntax error.

[2019-11-03 23:03] #602 closed

[2019-11-04 08:58] MarcoRossignoli commented on #604
yep you can exclude types using filter https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md#attributes

I think that in your case you can use ` /p:ExcludeByAttribute="TestSDKAutoGeneratedCode"`

[2019-11-04 09:58] Tum4ik commented on #604
Nice! Thanks a lot.

[2019-11-04 09:58] #604 closed

[2019-11-04 10:26] MarcoRossignoli commented on #572
@queen-of-code any news?

[2019-11-05 14:58] vchirikov commented on #482
Yep, I have same situation.

[2019-11-05 15:47] MarcoRossignoli commented on #482
@vchirikov one idea...can you try to exclude autogenerated file with filter?
https://github.com/tonerdo/coverlet/issues/482#issuecomment-508080869
https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md#source-files

for instance ` /p:ExcludeByFile=\"**/*Json.Version.cs\"`

[2019-11-06 06:01] Flash619 commented on #138
Just ran into this same issue today an @leelaprasadv comment fixed it for me. Is there a more up to date solution?

[2019-11-06 08:20] MarcoRossignoli commented on #138
If you upgrade to last version 2.7.0 should fix without any filter.

[2019-11-06 10:04] thviQit opened #605 "Import exclusions from file"
We got the idea, that it would be nice to have a file with all your source file exclusions, instead of providing a long list to the build task.
In this way, you can have the exclusions under version control and you do not have to edit your build every time you need to exclude a file.

I missed the CONTRIBUTION.md (even though it is upper case ...), so I already have an implementation, but I have r

[2019-11-06 10:20] thviQit commented on #605
You can see it here: https://github.com/thviQit/coverlet/tree/exclusions-from-file

[2019-11-06 12:03] Orwel opened #606 "Question: What is modules?"
Hi,

When I run coverlet, I have the next result :
[code]

Can you explain the module notion?
Can you detail what is Line, Branch and Method?

[2019-11-06 12:25] MarcoRossignoli commented on #605
Hi @thviQit thank's for the idea...you could open a PR without problem when you want and we can discuss on it.

First thing I'm not so "happy" is that we've at the moment 3 types of exclusion
-by types
-by file
-by attributes
so we should include all types of filters and not favour one, I mean I used a lot types filtering in my experience but never used files...depends on "usage".

the second one

[2019-11-06 12:39] MarcoRossignoli commented on #606
Hi @Orwel

Module are simpy assemlby dll files https://github.com/tonerdo/coverlet/blob/f3cce5ded8b735735ff49bf01cf7b77c505c88d2/src/coverlet.core/Helpers/InstrumentationHelper.cs#L67

Line are your source code lines of code, for instance for c# is a simple code line and are reported thank's to pdb/source mappings generated by compiler.

Branch are all "conditional branch" operation do by code(for

[2019-11-06 12:57] Orwel commented on #606
Thank you for these explanations.

[2019-11-06 12:57] #606 closed

[2019-11-06 14:08] satheeshds opened #609 "Multiple command options with "v""
When i run
`coverlet /path/to/test-assembly.dll --target "dotnet" --targetargs "test /path/to/test-project --no-build" -v normal`

console gives output

checked the doc, "v" is assigned for version as well as verbosity

[2019-11-06 14:39] MarcoRossignoli commented on #609
Should work with `--verbosity normal` , right?

[2019-11-07 13:05] vchirikov commented on #482
@MarcoRossignoli yes, with your `ExcludeByFile` works fine. Maybe it should be in readme about compability with `Nerdbank.GitVersioning`.

[2019-11-07 13:11] MarcoRossignoli commented on #482
@vchirikov it's not the "only" compatibility issue coverlet has got with other components and environment maybe we could add to "know issue" https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md

[2019-11-07 13:12] MarcoRossignoli commented on #482
@iron9light @duncanp-sonar can you tell me if issue is solved?

[2019-11-07 16:27] mrpantsuit commented on #598
Sorry, is this really true?  Following the answer to this https://stackoverflow.com/questions/53255065/dotnet-unit-test-with-coverlet-how-to-get-coverage-for-entire-solution-and-not I was able to run coverage for my entire solution.  I'm running into the same problem as @jaubin, though, in that the Threshold is being applied to each project as it is run.  I want to be able to apply the threshold t

[2019-11-07 17:11] MarcoRossignoli commented on #598
Mmm...I'm not sure to understand...at the moment with msbuild driver and
`dotnet test /p:CollectCoverage=true MergeWith.sln` (you can test using sample https://github.com/tonerdo/coverlet/tree/master/Documentation/Examples/MSBuild/MergeWith)

Msbuild create and run different instance of tasks that are overlapping, we can check this using MSBuild Binary and Structured Log Viewer.

![image](https://

[2019-11-07 18:34] mrpantsuit commented on #598
It seemed like it ran my test projects sequentially, but perhaps not.  If indeed it's running the test projects concurrently then yes, that would be problematic for aggregating test coverage data.

[2019-11-07 21:13] MarcoRossignoli commented on #598
@mrpantsuit found also an old issue with this technique https://github.com/tonerdo/coverlet/issues/357#issuecomment-490404820

[2019-11-08 09:21] MarcoRossignoli commented on #482
added to know issue https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#3-nerdbankgitversioning-and-pusesourcelinktrue-option

[2019-11-08 09:30] jeffw-wherethebitsroam commented on #560
Experiencing the same issue: .Net Core 2.2 project using xUnit 2.4.1 and coverlet.msbuild 2.7.0.

[code]

No luck with:
- Adding `Microsoft.Extensions.DependencyInjection.Abstractions` as a specific dependency
- Using `/p:CopyLocalLockFileAssemblies=true`

[2019-11-08 09:53] MarcoRossignoli commented on #560
Hi @jeffw-wherethebitsroam I've just added this issue as "know issue" I'm in contact with msbuild team(you can read linked issue) but at the moment the only solution is to manually copy missing dll to output build folder https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#4-failed-to-resolve-assembly-during-instrumentation

[2019-11-08 09:57] MarcoRossignoli commented on #560
@jeffw-wherethebitsroam the issue will be resolved by design in 3.0 maybe if your project is netstandard libs and test is 2.x you can move to 3.0 only test proj.

[2019-11-08 10:32] venkikonda opened #613 "Exclude argument is not working for dotnet test command"
Hi Team,
Greetings For The Day!!

we are using coverlet.Msbuild package to get the code coverage for .NetCore.
when i executed the  dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Exclude="[wwwroot.*]*"  command from test folder able to retrieve the coverage.xml for code module ( Models ..controllers etc) ..i am not able to exclude some folders which are having more lines

[2019-11-08 11:09] petli commented on #613
Exclude works on assembly names, which wwwroot is probably not a part of, if you need to exclude based on path you should look at ExcludeByFile according to the docs:
https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md#source-files

[2019-11-08 12:20] MarcoRossignoli commented on #613
Also you need to use last version to be sure that exclude by file works correctly 2.7.0 https://github.com/tonerdo/coverlet/pull/524

[2019-11-08 12:30] MarcoRossignoli commented on #417
@david-77 news?

[2019-11-08 12:32] MarcoRossignoli commented on #333
@tpetrina any news?

[2019-11-08 12:36] MarcoRossignoli commented on #352
Close for stale discussion, feel free to reopen if needed.

[2019-11-08 12:36] #352 closed

[2019-11-08 12:37] MarcoRossignoli commented on #575
@Rjae any news?

[2019-11-08 13:50] #333 closed

[2019-11-08 13:51] tpetrina commented on #333
Apologies for being late, it works fine!

[2019-11-08 17:21] Rjae commented on #575
My goal is to return to this at the end of next week. It hasn't left my hit
list of things to get to. Thanks Marco!

On Fri, Nov 8, 2019 at 7:37 AM Marco Rossignoli <notifications@github.com>
wrote:

[2019-11-08 18:42] jaubin commented on #598
Hi,
Yup there's an issue : if the last project does not actually contain tests global coverage is not computed at all.
    Le jeudi 7 novembre 2019 à 22:13:25 UTC+1, Marco Rossignoli <notifications@github.com> a écrit :

@mrpantsuit found also an old issue with this technique #357 (comment)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or un

[2019-11-09 03:04] venkikonda commented on #613
@MarcoRossignoli and @petli

Thanks much for your inputs on this issue.
let me try ExcludeByFiles parameter to exclude source files and will come back to you .

if you have installation link to 2.7.0 for coverlet ..please proide me that i can use it.

[2019-11-09 03:08] venkikonda commented on #613
@MarcoRossignoli and @petli

I got the package installation command ..will try and let you guys know..

dotnet add package coverlet.msbuild --version 2.7.0

[2019-11-10 01:39] daveMueller commented on #197
This isn't a problem anymore because now with #614 the source only contains the root directories. Also before it wasn't a problem anymore because in #260 the source tag was emptied and absolute paths in the filename attribute were introduced.

[2019-11-10 01:54] daveMueller commented on #408
Yes the cobertura plugin from jenkins expects a cobertura file that as a non empty source tag and relative paths in the filename attribute. This was changed to support Sourcelink in #260. In #614 I changed it back to support the jenkins plugin again and also support the Sourcelink feature. However if ```--use-source-link```-switch is true, the jenkins plugin implementation is too limited and can't

[2019-11-12 07:33] venkikonda commented on #613
@MarcoRossignoli and @petli

I have installed the latest version of coverlet-2.7.0 and tried to exclude the source folder wwwroot from the dot-net command and able to exclude from coverage.

dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:ExcludeByFile=\"../BSH.MES.CloudGateway/wwwroot/*.html,../Constants/**/*.cs,../Contollers/**/*.cs,../Exceptions/**/*.cs,../BSH.MES.Cloud

[2019-11-13 08:31] MarcoRossignoli commented on #613
@venkikonda can you enable coverlet logging so we can check if the parameter are correct.
You're using `dotnet test` so you can follow this guide https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration (msbuild integration)
with `-verbosity:diagnostic -bl:msbuild.binlog -noconsolelogger` msbuil will log a file `msbuild.binlog` and with tool http://msbui

[2019-11-13 12:41] msnelling opened #617 "TeamCity output only shows summary"
I don't see any line, branch or method level output when using under teamcity as documented [here](https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md).
I am using the following command to generate test coverage data `dotnet test UnitTests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=teamcity`

I can see in [this](https://github.com/tonerdo/coverlet/pull/4

[2019-11-13 12:42] venkikonda commented on #613
@MarcoRossignoli  - I have gone through the links provided by you but i am unable to see any exclusions in generated msbuild.binlog file.

I have used the below command ,

dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:ExcludeByFile=\"../BSH.MES.CloudGateway/wwwroot/*.html,../Constants/**/*.cs,../Contollers/**/*.cs,../Exceptions/**/*.cs,../BSH.MES.CloudGateway/wwwroot/css

[2019-11-13 13:08] MarcoRossignoli commented on #613
Try with

[code]

The filter should be one of https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.filesystemglobbing.matcher?view=dotnet-plat-ext-3.0

and from your log I don't see any file filtered, seem that filter is not correct.
![image](https://user-images.githubusercontent.com/7894084/68766374-0d976580-061f-11ea-80b6-39a710d86cd3.png)

[2019-11-13 15:12] MarcoRossignoli commented on #617
@dijitle you did that PR can you take a look?
Actually I see `CodeCoverageL` and `CodeCoverageM` can you explain why?

[2019-11-13 15:36] msnelling commented on #617
@MarcoRossignoli yes I see those values. I think this might be my misunderstanding of expected output if what you say is correct about the `CodeCoverageB, CodeCoverageL, CodeCoverageM, CodeCoverageC` lines.

[2019-11-13 16:07] MarcoRossignoli commented on #617
TeamCity should work with service message as explained https://www.jetbrains.com/help/teamcity/build-script-interaction-with-teamcity.html#Reporting-Build-Statistics
Do you see "empty" results or are these "unexpected" in values?

[2019-11-13 16:10] MarcoRossignoli commented on #617
@msnelling let me know of feel free to close if it's conform to team city specifications.

[2019-11-13 16:12] msnelling commented on #617
@MarcoRossignoli no I see the correct values, I think this was just my misunderstanding. I thought the `CodeCoverageB, CodeCoverageL, CodeCoverageM, CodeCoverageC` would give me detailed coverage like in a report.

Feel free to close the issue.

[2019-11-13 16:17] #617 closed

[2019-11-13 18:32] venkikonda commented on #613
@MarcoRossignoli
Thank you so mush for your response!
I appreciate your help on this..

I used the below filter command in the dotnet test command.
for me  "," was not worked so that i have used %2c .

dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:ExcludeByFile="**/BSH.MES.CloudGateway/wwwroot/.html%2c **/BSH.MES.CloudGateway/wwwroot/css/.css%2c **/BSH.MES.CloudGateway/w

[2019-11-14 16:04] sharwell opened #618 "IncludeTestAssembly should default to true"
I just enabled coverlet on a new repository, and the coverage reports were incomplete. The root cause turned out to be a setting `IncludeTestAssembly`, which confusingly excluded code from the coverage report even though that code was not part of any of the various exclude properties.

Test code is an essential part of a production code base, and should always be included in coverage collection. I

[2019-11-14 17:55] sharwell commented on #363
@MarcoRossignoli Here's a repro case:

1. Check out dotnet/roslyn-analyzers#3028
2. Build with `.\Build.cmd -rebuild /p:DeterministicSourcePaths=true`
3. Test with `.\Test.cmd /p:Coverage=True`

Expected results:

Coverage files in **artifacts\\coverage** have coverage information.

Actual results:

Coverage files are empty.

[2019-11-14 18:14] MarcoRossignoli commented on #618
We did this discussion a lot of times

https://github.com/tonerdo/coverlet/issues/372#issuecomment-477626872
https://github.com/tonerdo/coverlet/pull/318#issuecomment-457200404

and also on other issues...

Personally I don't have a strong opinions...I observed that a lot of users expect that test project won't be included in coverage by design, they don't see test project useful to cover but that

[2019-11-14 18:17] sharwell commented on #618
It's been a while so I forgot I was part of the discussion. 🤦‍♂

I just filed the issue since I was switching a repository from OpenCover to Coverlet and observed the unexpected lack of coverage in test code.

[2019-11-14 18:51] MarcoRossignoli commented on #363
great thank's I'll take a look asap some busy weeks!

[2019-11-15 15:56] dougiejay opened #619 "Runsettings file failing with error "Data collection : Could not find data collector 'XPlat Code Coverage""
Hi,
I can successfully run coverlet in our build tests on Azure DevOps using netcore 2.2, but as soon as I try to use a runsettings file I get an error.
Data collection : Could not find data collector 'XPlat Code Coverage'

Im using a file based on what I saw in your point 2 of Known Issues to include the datacollector information, and have made sure we have upgraded our prerequisites. The full fi

[2019-11-16 09:48] MarcoRossignoli commented on #619
First of all at the moment inproc collector version is 1.1.0 https://www.nuget.org/packages/coverlet.collector/
You can try with this sample [collectors.zip](https://github.com/tonerdo/coverlet/files/3854037/collectors.zip) launch run inside `XUnitTestProject1`

FYI there is also a preview release of vstest plat https://www.nuget.org/packages/Microsoft.NET.Test.Sdk/ if you use this version you can

[2019-11-16 10:08] MarcoRossignoli commented on #576
Fixed in https://github.com/microsoft/vstest/pull/2221

[2019-11-16 10:08] #576 closed

[2019-11-16 10:12] MarcoRossignoli opened #620 "Update know issue and docs on in proc collectors"
After merge of https://github.com/microsoft/vstest/pull/2221 we need to update guide and know issue accordingly

[2019-11-16 13:04] dougiejay commented on #619
OK so in all my test projects I added this reference:
<PackageReference Include="coverlet.msbuild" Version="2.7.0">
      <PrivateAssets>all</PrivateAssets>
      <IncludeAssets>runtime; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
    </PackageReference>
Your sample adds coverlet.collector
I will change my project and see if that fixes it.

[2019-11-16 13:18] dougiejay commented on #619
Yes that fixed the error thank you. However the runsettings file seems to still being ignored as it is not excluding the CarWebServiceReference namespace. Can you check if that part looks correct please?

[2019-11-16 13:37] dougiejay commented on #619
OK I spotted your samples for settings file and I have this working now! Thanks!

[2019-11-16 13:37] #619 closed

[2019-11-16 13:39] MarcoRossignoli commented on #619
Coverlet is used through 3 different drivers, msbuild, .net tools and vstest integration...`XPlat Code Coverage` is the way to indicate that you want to load coverlet collectors...msbuild work only with `dotnet test /p:CollectCoverage=true` check the guide https://github.com/tonerdo/coverlet#quick-start

[2019-11-16 13:43] MarcoRossignoli opened #621 "Merge Installation and Quick Start documentation"
For users is not clear the link between

coverlet.collector and vstest integration
coverlet.msbuild and dotnet test /p:CollectCoverage=true

it's better merge the two section in one...I would keep only Quick Start.

[2019-11-18 14:59] simonness commented on #290
@MarcoRossignoli @tonerdo this is exactly what we need :) Is there an ETA for when this fix will be released?

[2019-11-21 00:03] AArnott commented on #618
I would like coverage data on test projects by default, but IMO the % coverage reports should exclude the test projects. If we strive for 90% coverage on the product assembly, getting 98% on the test assembly shouldn't count toward the 90% goal on the product.

[2019-11-21 11:46] MarcoRossignoli commented on #613
@venkikonda sorry for the delay, bit busy,
for command `dotnet test /p:collectCoverage=true /p:excludebyfile="**/*.cs"` (did on root of coverlet repo)
you should see
![image](https://user-images.githubusercontent.com/7894084/69335193-a865f480-0c5c-11ea-85f1-496e6608acca.png)

So seem the filter is not correct...try with `/p:excludebyfile="**/wwwroot/*.*"` `

[2019-11-21 13:44] #197 closed

[2019-11-21 13:45] MarcoRossignoli commented on #197
thank's Dave for analysis

[2019-11-21 15:24] MarcoRossignoli commented on #290
@simonness can you try with nightly to confirm the fix?

We don't have a strict release plan at the moment(we're working on it) my idea is one release every quarter(if there are bug we'll release immediatly), so I think for the end of the year, last release 23 Sep https://github.com/tonerdo/coverlet/blob/master/Documentation/ReleasePlan.md#proposed-next-versions

[2019-11-22 09:42] #620 closed

[2019-11-22 16:18] NoahApplebaum commented on #465
I am experiencing the same problem. Doesn't seem too much like an edge case because it happens in all cases where there is a return statement before closing brackets and some opening brackets.

Why is line 20 not considered for code coverage at all but line 21 is?
Obviously there are other coverage issues in this picture, but that discrepancy jumps out at me the most.

![image](https://user-images

[2019-11-22 16:51] MarcoRossignoli commented on #465
@NoahApplebaum some questions, version of coverlet?Debug or release?Can you specify your "test" or better provide full repro(tests) with method above.

[2019-11-22 17:10] NoahApplebaum commented on #465
Updated my coverlet.msbuild and it works! Thanks @MarcoRossignoli

[2019-11-23 16:20] MarcoRossignoli commented on #363
Hi @tmat I'm working on this issue and found https://github.com/dotnet/sourcelink/issues/91#issuecomment-400787926

Btw I don't undestand why it doesn't work on current repo, I've build with
[code]
When I debug and try read debug directory for a referenced lib(from test) there is an "incomplete" path for source file inside pdb
![image](https://user-images.githubusercontent.com/7894084/69481738-0e4

[2019-11-23 19:00] tfadler opened #623 "Incorrect branch coverage with async/await test"
If I am under the wrong impression then please let me know.

But I expected scenarios like the below to have full branch coverage.

Reproduced with .net core 3.0 and coverlet 2.7.0

**Code**

[code]

**Test Code**

[code]

I run

dotnet test /p:CollectCoverage=true

And here is my contents of my coverage.json

I did not expect the branches.

In our real code base we are using /p:CoverletOutputForm

[2019-11-23 19:22] sharwell commented on #363
@MarcoRossignoli yes, the feature improves build determinism by hiding the path `D:\git\coverlet\` that can vary across build machines.

[2019-11-23 19:42] MarcoRossignoli commented on #363
Is there a standard "start with" prefix in case of deterministic build?I mean can we check `/ _/`?

[2019-11-23 19:56] sharwell commented on #363
Yes, the prefix is `/_/`.

[2019-11-23 20:08] MarcoRossignoli commented on #363
ok thank's Sam!

[2019-11-24 06:19] tmat commented on #363
It's not always `/_/` though. Each SourceRoot has a unique prefix `/_/`, `/_1/`, `/_2/`, etc. For example, when source files are linked from source packages each source package dir gets a distinct SourceRoot.

[2019-11-24 06:29] tmat commented on #363
In any case, you should not rely on a certain prefix or prefixes. Instead, read the `$(PathMap)` msbuild property that's being passed to the compiler (Csc task). This map defines mapping that the compiler applies to all paths used in the compilation (source paths, pdb path, etc.).

This is an example of a `PathMap` value for `dotnet/symreader-converter` repo, which is using source packages:

[code

[2019-11-24 06:33] sharwell commented on #363
@tmat Interesting. I never saw any path but `/_/`. It should be easy enough to use the path map though 👍

[2019-11-24 07:40] MarcoRossignoli commented on #363
We don't have always msbuild context available, coverlet could be used through vstest collectors(injected by test runtime)  and .net tool(console app that manually instrument dll after build and restore) where build is done, maybe change the path a bit to include possible 1,2 etc...I mean we should do something based only on produced artifact (pdb/dll)

[2019-11-24 19:45] tmat commented on #363
@MarcoRossignoli That's unfortunate. Other custom build targets can specify arbitrary path mapping.

Let's see if we can come up with a better solution than hard-coding some patterns. At what point do you actually need to read the source files? I'd assume you don't need to do so for the instrumentation itself. So you can produce instrumented binaries using just the pdb and the dll as inputs. Then

[2019-11-25 08:56] MarcoRossignoli commented on #623
Hi @tfadler!

Actually there is a generated state machine by c# compiler so that branch exists(c# lie)

We recently did some improvements to async/await to remove unexpected branches without risk too much https://github.com/tonerdo/coverlet/pull/549 and will be available on next release

BTW I did some test with your code and it's reported 100% to me on report generator(you can also check by yours

[2019-11-25 10:06] MarcoRossignoli commented on #363
@tmat we use source in more than one phase, I'll try to explain workflow:

Coverlet has got mainly two phase:

1) prepare modules where we instrument asm and persist a structure where we map an "index"(simple integer) to sequence points/branches candidates https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Instrumentation/Instrumenter.cs#L440-L498

We have two "hit candidates" seque

[2019-11-26 03:06] tfadler commented on #623
Many thanks @MarcoRossignoli

You are right.  I saw the branches in the result and I thought I had reproduced my issue.  That example does display correctly.

I tried and tried and I have narrowed down my real problem.

In our production code we are looping through test projects and each get a coverageresults file.  Each production code project has its own test project and some (not many) of the p

[2019-11-26 08:15] MarcoRossignoli commented on #623
Understood...if you can provide a repro could be great.
Try to check all reports file(xml) to understand if all has got a hit 1 one that branch...could be an "override" issue?One file report 1 the other 0 and 0 one is used.

[2019-11-27 11:50] priyanka1112 commented on #203
Hi, I am using coverlet 1.6.0 version and in my solution there are multiple test project but mergewith is not working

I am using below:

Coverlet "D:\Project\proj1.Test\bin\Debug\netcoreapp2.2\proj1.Test.dll" --target "dotnet" --targetargs "test "D:\Project\proj1.Test" --no-build"
Coverlet "D:\Project\proj2.Test\bin\Debug\netcoreapp2.2\proj2.Test.dll" --target "dotnet" --targetargs "test "D:\Proj

[2019-11-27 11:51] priyanka1112 opened #624 "MergeWith is not working in global tool"
Hi, I am using coverlet 1.6.0 version and in my solution there are multiple test project but mergewith is not working

I am using below:

Coverlet "D:\Project\proj1.Test\bin\Debug\netcoreapp2.2\proj1.Test.dll" --target "dotnet" --targetargs "test "D:\Project\proj1.Test" --no-build"
Coverlet "D:\Project\proj2.Test\bin\Debug\netcoreapp2.2\proj2.Test.dll" --target "dotnet" --targetargs "test "D:\Proj

[2019-11-27 12:11] MarcoRossignoli commented on #624
Can you provide a repro?I did some test with test on codebase and seem work, my workflow
[code]
And I get `C:\git\coverlet\Documentation\Examples\MSBuild\MergeWith\coverage.opencover.xml`
[code]

[2019-11-28 18:04] tfadler commented on #623
Thank you @MarcoRossignoli !

I was able to reproduce on a smaller scale.

https://github.com/tfadler/CoverletTest

I checked in the test result files and the report.

Here was my command line

[code]
![result](https://user-images.githubusercontent.com/42788888/69825944-a8bf3c00-11d6-11ea-9e8f-5727fe16ca1e.PNG)

![result2](https://user-images.githubusercontent.com/42788888/69825964-c4c2dd80-11d6-1

[2019-11-29 09:30] MarcoRossignoli commented on #623
thank's for sharing I'll take a look asap

[2019-12-02 18:51] MarcoRossignoli commented on #624
Any news?

[2019-12-02 22:05] tracker1 opened #629 "Coverage returning %NaN% for .Net Core 3 project with integrated xUnit tests"
I've created about the simplest test case I can that demonstrates the issue.  The test is in the same project as the code being tested, also I'm using git bash, but that should be immaterial.

https://github.com/tracker1/bug-dotnet-test-coverage

run-tests.sh

[code]

The output I see is as follows...

[code]

[2019-12-03 08:34] MarcoRossignoli commented on #629
By default test asm is not included in coverage you need to pass `-p:IncludeTestAssembly=true` to command line.

[2019-12-03 08:44] lkurzyniec opened #630 "For MSBuild integration multiple output formats does not work"
My unit test project contains `coverlet.msbuild` package. When I run `dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover,lcov` I received
[code]

![image](https://user-images.githubusercontent.com/5943484/70034406-6b312900-15b1-11ea-801f-51b7ff2f82e2.png)

[2019-12-03 09:31] MarcoRossignoli commented on #630
It's a know issue with escaping try with `dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=\"opencover,lcov\"`

[2019-12-03 09:32] MarcoRossignoli commented on #630
We should update documetation

[2019-12-03 09:32] MarcoRossignoli commented on #629
We should update the documentation with this flag.

[2019-12-03 09:39] MarcoRossignoli commented on #629
related issue https://github.com/tonerdo/coverlet/issues/618

[2019-12-03 09:43] #555 closed

[2019-12-03 12:26] lkurzyniec commented on #630
For CMD works fine, but for `powershell` it won't work.
![image](https://user-images.githubusercontent.com/5943484/70050968-734c9100-15d0-11ea-9827-066bb937106d.png)

[2019-12-03 12:48] #560 closed

[2019-12-03 12:50] MarcoRossignoli commented on #560
@rpatrick00  @jeffw-wherethebitsroam guys you can test this update using nightly build, if you can I'll appreciate a lot(starting from tomorrow we publish in the night) https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2019-12-03 13:04] MarcoRossignoli commented on #630
Ah ok sorry it was on guide try with `PS C:\git\coverlet> dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat="opencover%2clcov"` `%2c` is translated to comma.

[2019-12-03 13:34] lkurzyniec commented on #630
Yeap, now it works. You can close the ticket, but please remember to update the documentation.

[2019-12-03 14:43] MarcoRossignoli commented on #630
Is already present...but yes a bit cryptic and hidden

`To exclude or include multiple assemblies when using Powershell scripts or creating a .yaml file for a VSTS build %2c should be used as a separator. Msbuild will translate this symbol to ,`

[2019-12-03 14:44] #630 closed

[2019-12-03 15:38] MarcoRossignoli commented on #363
@tmat I'm trying with PathMap property on msbuild for now, some observation.

PathMap are generated and passed during "build" but "test" run after build so I don't get any PathMap data. BTW if I pass `/p:DeterministicSourcePaths=true` with `dotnet test /p:CollectCoverage=true /p:DeterministicSourcePaths=true` I get some map data, now does it make sense?Or map paths could be different from build on

[2019-12-03 16:44] tracker1 commented on #629
@MarcoRossignoli Thanks... this pushed me over the hump in getting side-by-side tests working with coverage.

https://medium.com/@tracker1/add-unit-tests-with-code-coverage-to-your-net-core-project-2367f593246c

[2019-12-03 17:34] MarcoRossignoli commented on #629
Glad to hear!
Feel free to close this issue if solved!

[2019-12-03 18:38] #629 closed

[2019-12-03 21:21] #623 closed

[2019-12-04 16:08] MarcoRossignoli commented on #609
any news?

[2019-12-04 16:41] StefanKoenigMUC opened #637 ".net core 3.1 with global installation not working"
Hi,

today we upgraded to .net core 3.1, since then coverlet does not generate coverage statistics anymore:

`Hits file:'MyLib_b975cdba-959a-4def-b0dd-cc2fbcc567ba' not found for module: 'Ariskon.PortfolioManagement.Objects'`

Do you have any idea how to fix that issue? All other output looks fine so far.

Thanks in advance,

[2019-12-04 16:46] #556 closed

[2019-12-04 16:49] MarcoRossignoli commented on #637
What driver are you using?msbuild/.net tool/vs test integration?

[2019-12-04 16:58] MarcoRossignoli commented on #534
@eal61 why ` /p:Include=[coverlet.]` you don't have to instrument coverlet lib...can you try to remove and also upgrate to version `2.7.0` if you're using older one?

[2019-12-05 07:08] StefanKoenigMUC commented on #637
´´´
coverlet \bin\Debug\netcoreapp3.0\PortfolioManagementObjectsUnitTests.dll --verbosity detailed --target "dotnet" --targetargs "test --logger "nunit;LogFilePath=../../BuildReports\-test-result.xml" PortfoliomanagementBackend\PortfolioManagementObjectsUnitTests\PortfolioManagementObjectsUnitTests.csproj --no-build" -f=cobertura --output BuildReports\Coverage\
´´´

that's how i call it, but with

[2019-12-05 07:46] MarcoRossignoli commented on #637
Ok can you attach the console log?with verbosity you should see how many libs are instrumented for coverage

[2019-12-05 09:26] MarcoRossignoli commented on #637
Ah also FYI https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#1-vstest-stops-process-execution-earlydotnet-test

[2019-12-05 09:34] StefanKoenigMUC commented on #637
[code]

i don't see the link above reflected within this output?

thanks for your help!

[2019-12-05 09:40] MarcoRossignoli commented on #637
Yes in issue 1 you get as possible warning similar to your...do your test use RabbitQ or some other third party platform that need a "initialize" and "shutdown" process?
If not can you generate a small "repro" with the issue?
If not can your try to use vstest integration?  https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md with know issue(fixed and in preview) https

[2019-12-05 09:53] StefanKoenigMUC commented on #637
aaaaah, gave me the right hint - after updating

NUnit3TestAdapter
Microsoft.NET.Test.Sdk

it's working again.

Thanks for your help!

[2019-12-05 09:54] MarcoRossignoli commented on #637
Glad to hear!Feel free to close this issue if solved!

[2019-12-05 09:56] #637 closed

[2019-12-05 22:26] #600 closed

[2019-12-06 07:40] MarcoRossignoli commented on #600
@Nitin5acc related PR https://github.com/tonerdo/coverlet/pull/628

[2019-12-06 14:53] andrei-m-code commented on #110
Just curious, is this even necessary?

[code]

[2019-12-06 16:02] MarcoRossignoli commented on #110
Needed to avoid that msbuild harness package coverlet.msbuild(also props,targets) flow to project that uses it https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

[2019-12-06 18:17] aliendev3096 opened #640 "Add support to manually select instrumented assemblies instead of project references"
Can you add support manually select instrumented assemblies instead of project references.

Say you have an app with its references assemblies in a separate folder "App" and you want to run your test from a different folder that executes code in the "App folder". This would be good for integration testing in .Net Core products.

[2019-12-06 20:24] EricStG opened #641 "In coverlet.collector, allow repeating configuration elements in runsettings"
When excluding multiple elements, the current format can make things a bit unwieldy (and makes the changes much harder to track
[code]
It would be nice if we could specify multiple items on different Exclude nodes:
[code]
Same goes for the other colon separated settings

[2019-12-07 07:59] MarcoRossignoli commented on #640
We already  have "filters" to select which asm instrument and cover https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md#advanced-options-supported-via-runsettings `Include` ...can you explain better?Which "driver" are you using msbuild(dotnet test) .net tool(coverlet) or vstest (--collect:"XPlat Code Coverage")?Can you write a sample?

[2019-12-07 08:07] MarcoRossignoli commented on #641
It's technically doable, btw I'm not a huge fan of this, to me seem more clear and compact a "command line args" format where I've all "fragments" of an options close each other, also a config become less clear(less compact).

BTW I defer to community thought and we'll wait for more "thumbs up" to consider the implementation.

Thank's fort the idea!

[2019-12-07 09:26] #621 closed

[2019-12-07 09:30] MarcoRossignoli commented on #5
Cobertura was added.

[2019-12-07 09:30] #5 closed

[2019-12-07 20:24] #177 closed

[2019-12-07 21:49] #435 closed

[2019-12-07 21:55] MarcoRossignoli commented on #149
@alexl0gan why don't create a simple test project/case that start integration test and simply use `dotnet test`?

[2019-12-08 16:08] #408 closed

[2019-12-09 03:56] abbotware opened #649 "Normalize File Paths In Generated Reports (Linux / Windows)"
I run unit tests on windows and linux.  This produces coverage report files that have different path roots:

`C:\src\build\file.cs`
vs
`\var\src\build\file.cs`

When the reports are merged it thinks there are 2 sets of functions.  Instead of 100% code coverage, i have 50% coverage.

Perhaps a new command line option is needed to normalize the path:

[code]

That way both reports will then have a n

[2019-12-09 08:06] MarcoRossignoli commented on #649
Which format are you using?

[2019-12-09 14:07] tempora-mutantur opened #650 "[coverlet] Unable to instrument module for pdbs while launching tests in multiple threads"
Hello.
We collect code coverage using coverlet.msbuild version 2.7.0. We do this on Windows Server VMs  and we launch our NUnit tests for a *.sln file using the "dotnet test MySolution.sln ..." command. This launches tests in parallel for every test project, and as I expect, this leads to such warnings:

_'[coverlet] Unable to instrument module: C:\Repositories\myproject.git\Tests\Output\UnitTests

[2019-12-09 14:34] abbotware commented on #649
Cobetrua format.  The msbuild integration tasks.

I write software that has to work on different platforms.  There are subtle differences in behavior on different OS platforms and I have caught some bugs by just running the same code on different platforms.  Sometimes this is known ahead of time, other times it is not - so I can't filter by linux /
windows.

Even if I did it would be the same func

[2019-12-09 14:39] abbotware commented on #649
Also from reading more of the Docs.. it looks like if I was using SourceLink (I am not using git so I can't) it might resolve the paths to the same file and this would not be an issue.

so in my case, I  think there are 2 options:

1. make the report merger smarter (ie use namespace / class / function to align code)
2. normalize the file names in the reports (I think this is the easier option)

ho

[2019-12-09 15:02] aliendev3096 commented on #640
I am using the the msbuild driver. I've provided my own runsettings file as suggested but then I run dotnet test --collect:"XPlat code coverage" test.dll --settings coverlet.runsettings I get the following error: Data collection : Could not find data collector 'XPlat code coverage'

I've also specified  --collect:"XPlat Code Coverage" but no luck there as well.
The nuget package is installed in my

[2019-12-09 15:21] MarcoRossignoli commented on #649
With https://github.com/tonerdo/coverlet/pull/614 in next version you could only update "sources" is you've same relative path for cs.

I don't know...seem very specific to your use case, I mean you've "same" relative path until root, there are tons of other scenario where this rule don't work.
For now if you know well your report you could simply create a script that renames fragment how you want

[2019-12-09 15:32] MarcoRossignoli commented on #640
Do you respect the requirements https://github.com/tonerdo/coverlet#requirements?
Can you attach your command line image o generate a small "repro" with the issue?
I think that's only a syntax error...I'll attach a running sample...launch `run.cmd` after unzip
[VsTestIntegration.zip](https://github.com/tonerdo/coverlet/files/3940402/VsTestIntegration.zip)

[2019-12-09 15:38] MarcoRossignoli commented on #650
Is it a warning or an error?can you copy/paste full line?
Can you provide a small repro?

[2019-12-09 15:42] aliendev3096 commented on #640
Essentially want I want to be doing is start the API on a separate process and run the tests that include filters on the assemblies used to start the API. I've switched to the dotnet global tool with this command:

coverlet tests/IntegrationTests/bin/Release/netcoreapp3.1/IntegrationTests.dll --target "dotnet" --targetargs "test tests/IntegrationTests/IntegrationTests.csproj --no-build -c Release"

[2019-12-09 15:55] tempora-mutantur commented on #650
It's a warning,

C:\Users\savanchuk\.nuget\packages\coverlet.msbuild\2.7.0\build\coverlet.msbuild.targets(7,5): warning : [coverlet] Unable to instrument module: 'C:\Repositories\repo.git\Tests\Output\UnitTests\Server.UnitTests\Server.Views.dll' because : The process cannot access the file 'C:\Repositories\repo.git\src\Server\obj\Debug\netcoreapp2.1\Server.Views.pdb' because it is being used by an

[2019-12-09 16:15] MarcoRossignoli commented on #650
Yep could be great a repro...because I did a check on code base and we open pdbs always in read mode share read so it's strange...I'd like to understand who is locking that guy.

[2019-12-09 16:19] MarcoRossignoli commented on #640
You code seem correct....net tool before instrument dll in your case `IntegrationTests.dll` and after simply invoke `dotnet test` on project without rebuild, so we should load "instrumented" libs.
Can you try to produce a small repro with this behaviour?
Also add a vebosity log so we can check what is instrumented, follow the guide https://github.com/tonerdo/coverlet/blob/master/Documentation/Trou

[2019-12-09 17:03] tempora-mutantur commented on #650
Could this be the reason?
https://github.com/tonerdo/coverlet/blob/63dbda8190c505d293c7266445143b11b02f56e9/src/coverlet.core/Helpers/InstrumentationHelper.cs#L223

[2019-12-09 17:11] MarcoRossignoli commented on #650
Could be...there are some place that could overlap, when we talk about concurrent access without a repro it's hard to find where is the issue...if you provide a repro I could understand how to fix it or what strategy take.

[2019-12-09 17:14] MarcoRossignoli commented on #650
FYI I've opened some issue on msbuild repo to understand how to tackle this kind of issue...but seem that there is no great way at the moment https://github.com/microsoft/msbuild/issues/4898 https://github.com/microsoft/msbuild/issues/4954

[2019-12-10 09:32] Adanaran opened #652 "VSTS: Visual Studio Test task integration"
I have tried getting coverlet to run using the Visual Studio Test task for a .NET Framework 4.7.2 build pipeline, consisting of NuGet restore, MSBuild, VS Test Platform Installer and VSTest. The solution is quite large and contains a range of .NET Standard, net472 and ASP.NET MVC 5 projects, making a migration to the dotnet toolchain for building and testing a non-trivial task.
The test projects a

[2019-12-10 11:27] MarcoRossignoli commented on #652
Try with sample in zip...there are three example collectors, msbuild and vstest

[issue_652.zip](https://github.com/tonerdo/coverlet/files/3944591/issue_652.zip)

[2019-12-10 11:36] MarcoRossignoli commented on #652
You can also use coverlet .net global tools https://github.com/tonerdo/coverlet#net-global-tool-guide

[code]

We instrumet dlls and after run your command...in you case vstest runner.

BTW I advice to use "collectors" version due to some issue with other two drivers(msbuild/.net tools) related to vstest engine behaviour.

[2019-12-10 11:40] MarcoRossignoli commented on #652
[code]

[2019-12-10 12:09] tempora-mutantur commented on #650
Hello, @MarcoRossignoli .

I've created this repo that reproduces the problem:
https://github.com/tempora-mutantur/coverletbugsample

Launching the build.ps1 script will run dotnet test for the  src\ClassLibrary\ClassLibrary.sln solution file.

And I see these warnings in output:

_C:\Users\savanchuk\.nuget\packages\coverlet.msbuild\2.7.0\build\coverlet.msbuild.targets(7,5): warning : [coverlet] U

[2019-12-10 12:16] MarcoRossignoli commented on #650
I see thank you

[2019-12-10 23:06] aliendev3096 commented on #640
I am going to close this issue. Coverlet obviously allows for manual select through filters.

[2019-12-10 23:06] #640 closed

[2019-12-11 00:21] thellamaboy opened #653 "Module appearing with 100% branch coverage in report after namespace is excluded"
Hello,

I'm using version 2.7.0 of your package and keep running into an issue. We have two test projects (unit test project and integration test project). Both use xunit 2.4.1 if it matters. I've been trying to exclude the integration tests from the unit test code coverage, but the best I can get is for the report to say 100% of branching logic is covered in my integration tests, which heavily sk

[2019-12-11 01:53] abbotware commented on #649
so then your saying you don't support coverage reports on linux and windows at the same time - The paths will never be the same since they use a different convention.

[2019-12-11 01:57] abbotware commented on #649
But you are right about the pre-processing script... I can do an xslt or regex replacement easy enough :-)

[2019-12-11 03:46] abbotware commented on #649
so upon doing this, the counts seem wrong - each code block is only hit 1 time even though I know each unit test was run twice! (linux and windows)

Other problems:

- the mainreport says 100% code / 50% branch - but the drill down says 100% for both
- the branch covered icon has the green / red indicator meaning that a branch was not covered

[2019-12-11 04:07] thellamaboy commented on #653
After messing around more, you want to do something along the lines of /p:Exclude=[Your.Namespace.Module]* to exclude the entire module. If you do Module.* it will think you're allowing everything at the module level itself.

[2019-12-11 04:07] #653 closed

[2019-12-11 09:31] MarcoRossignoli commented on #649
At same time no...it's first time I see a this request, but it's interesting, usually this is stuff for "post report production" related to report viewers.

Can you provide a repro?Or provide the "json" version of report?Json version is the "raw" version that we can use to troubleshoot.

[2019-12-11 13:31] abbotware commented on #649
oh wait a minute - while yes I originally requested the cmd line option in coverlet to produce normalized files... the report is being merged by dotnet-reportgenerator-cli ... so those are not problems for you :-)

[2019-12-11 22:48] anaether opened #654 ".net core 3.1 coverage usage not working anymore"
Hello guys,

Has the release of .NET CORE changed something to coverlet?
Since i updated my projects/testprojects to .NET CORE 3.1

Used command:
dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Exclude='[xunit*]*'

Packages installed for 3.1:
coverlet.collector
coverlet.msbuild
Microsoft.NET.Test.Sdk

[2019-12-12 08:28] MarcoRossignoli commented on #654
AFAIK no, can you provide more details?Can you provide a repro of issue?

[2019-12-12 11:32] jhartmann123 commented on #654
I also have that issue, but I only got it for one of our projects. It is an ASP.Net Core API project (using `Microsoft.NET.Sdk.Web` as project SDK, TargetFramework `netcoreapp3.1`). It works with a console project in the same solution (also `netcoreapp3.1`, TargetFramework `Microsoft.NET.Sdk`).

For the API project, I get the following error:
[code]

I tried to create a repro, but unfortunatly it

[2019-12-12 11:46] MarcoRossignoli commented on #654
@jhartmann123 you issue seem very similar to https://github.com/tonerdo/coverlet/issues/560 you could try the "manual copy trick" or try to use nightly build where there is an attempt to fix that issue https://github.com/tonerdo/coverlet/issues/560#issuecomment-561152895

[2019-12-12 11:49] MarcoRossignoli commented on #654
This is also on our know issue https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#4-failed-to-resolve-assembly-during-instrumentation

[2019-12-12 16:07] jhartmann123 commented on #654
Unfotunately it's not that. Tried it with coverlet.msbuild 2.7.48-g45d8d4ee42 and CopyLocalLockFileAssemblies.

- I used `CopyLocalLockFileAssemblies` when we were on core 2.2, as it was required there
- I removed it after upgrading to core 3.0. Coverage was working as expected
- The upgrade to core 3.1 basically killed the coverage for that one project (with the resolving issue mentioned above).

[2019-12-12 16:18] MarcoRossignoli commented on #654
Can you retry and check logs https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration

If you manual copy missing dll?

[2019-12-12 16:33] anaether commented on #654
Its a console application with a separated project for tests. Which informations would be helpful?

[2019-12-12 16:47] anaether commented on #654
When i run the following command:
dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Exclude='[xunit*]*'

I receive this error:
Path\Packages\coverlet.msbuild\2.7.0\build\coverlet.msbuild.targets(41,5): error MSB4044: Die Coverlet.MSbuild.Tasks.CoverageResultTask-Aufgabe hat keinen Wert für den erforderlichen InstrumenterState-Parameter erhalten.

[2019-12-12 17:21] MarcoRossignoli commented on #654
Try to add `<IsTestProject>false</IsTestProject>` to console app https://github.com/tonerdo/coverlet/blob/master/test/coverlet.testsubject/coverlet.testsubject.csproj#L6 and you can remove `/p:Exclude='[xunit*]*'` it's unuseful with last version so

`dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover`

to be sure that is not a problem of "wrong instrumented project" launch this

[2019-12-12 17:43] jhartmann123 commented on #654
Sorry for hijacking the issue - found the bug that causes mine, looks to be pretty unrelated - I'll create a new issue.

[2019-12-12 18:22] anaether commented on #654
The console app is already IsTestProject = false and the test project has the flag to true.

[2019-12-12 20:39] #650 closed

[2019-12-12 20:41] MarcoRossignoli commented on #649
@abbotware feel free to close this issue if solved from our side.

[2019-12-14 04:18] anaether commented on #654
Who has also tried to use it in .net core 3.1 and has maybe the same issue?

[2019-12-14 07:42] MarcoRossignoli commented on #654
@anaether at the moment you're the first signal this kind of issue

[2019-12-14 08:31] anaether commented on #654
I will give it later a try and create a 2 new blank projects.

[2019-12-14 08:38] MarcoRossignoli commented on #654
Yes thanks!Isolate a repro is the most useful thing to do!

[2019-12-15 19:33] abbotware commented on #649
@MarcoRossignoli  - it appears that the output files have different branch data for the same lines of code - so when merged the counts are incorrect.

in one case 1/1 branches are covered... in another case 0/2 branches are covered - for the same exact line of code!

[2019-12-15 19:40] abbotware commented on #649
I have a unit test and integration test stage - the unit tests are 'safe' to run at all times.. the integration tests may have side effects and interact with 3rd party systems...

It would make sense that in one coverage report (the unit tests) there would be some code that is never executed (the 0/2 branch) while the integration test will execute that code

[2019-12-16 09:58] MarcoRossignoli commented on #649
Are you sure to compile/run with same config (debug/release)?The only thing comes to mind is that different build config could generate different IL an different instrumentation, but to understand we should isolate that piece of code and run instrumentation/test with different config, compiler could emit different IL. Again if for instance in one test you await same code in different place it's po

[2019-12-16 14:48] abbotware commented on #649
both are release builds.. this is async/await related code.

The one thing I can think is that i am doing a `dotnet test` and in both cases it is performing a restore / build - so the binaries being tested are technically different - but for the same exact version of source code and same build settings.  (will double check though)

I could possibly make a minimal example and see if its easily repr

[2019-12-16 15:04] MarcoRossignoli commented on #649
AFAIK jitter imports and jits only code that is "used", and btw also with inlining or other optimization the "hit record" path is simply a +1 inside an array...so I don't expect missing thing due to optimization, code could be optimized but not skipped.

[2019-12-17 08:29] PureKrome commented on #654
@anaether - why are you referencing BOTH
- coverlet.collector
- coverlet.msbuild

in your `testProject.csproj` file? Shouldn't it be _one of the other_ ?

Then just do `dotnet test --collect:"XPlat Code Coverage"` as documented on the [main README here](dotnet test --collect:"XPlat Code Coverage")?

[2019-12-17 08:41] PureKrome opened #658 "Do we need to exclude the test file or is this automatically excluded?"
I'm trying to learn how to use the coverlet code coverage tool.

I usually have the following:

- 1x class library project
- 1x test project which tests that class library project

or

- 1x web api
- 1x test project which tests that web api project.

.. and my solution has multiple of these inside.

To get coverage, do I need to always exclude each test project? Or is this automatic? The prefered

[2019-12-17 08:41] MarcoRossignoli commented on #654
@PureKrome collector is referenced by default by xunit project template, so I think will be pretty common if someone want to use msbuild(for historical reason) against "preferred" way of vstest integration, btw if this wasn't the idea I agree that collector way is the best choice due to know issue https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#1-vstest-stops-process-ex

[2019-12-17 08:44] PureKrome opened #659 "Does it make any difference if the projects being tested/covered are built in DEBUG or RELEASE mode?"
Does it matter if the projects which are getting tested against, if they are built using DEBUG or RELEASE configuration?

I know the test project isn't covered so I don't care what that is built against ... but the test project tests OTHER netstandard libraries / netcore apps ... which I'm wondering if I do care about the 'configuration' setting for those.

[2019-12-17 08:46] MarcoRossignoli commented on #658
There is a open debate on it https://github.com/tonerdo/coverlet/issues/618 by design test project is excluded at the moment.

Yep the moment the only way to pass further parameters to vstest integration is runsettings file with hope to improve user experience in future.

[2019-12-17 08:49] MarcoRossignoli commented on #659
Yep the configuration changes the results because compiler could emit different IL so you can run you CI with both configuration(I advice to do that for testing reason) but you could see slightly different coverage result, check this old issue for instance https://github.com/tonerdo/coverlet/issues/389

[2019-12-17 08:55] MarcoRossignoli commented on #659
For testing perspective it's very different usually related to performance always from emitting side and also because usually in debug/checked mode you run assertion and preprocessor use `#define DEBUG` or `[Conditional("DEBUG")]`  for istance diagnostics assertion https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/System.Private.CoreLib/src/System/Diagno

[2019-12-17 08:56] PureKrome commented on #659
Thanks heaps @MarcoRossignoli for the prompt reply 👍

I sorta don't understand what you are saying though 😊

Yes -> DEBUG creates different IL compared to RELEASE. Okay, that make sense .. but what should I be using for code coverage?

I had a read over #389 and it was a bit .. technical for me 😊

So even though there's different IL, should we be testing our projects that are compiled under DEBUG

[2019-12-17 09:01] MarcoRossignoli commented on #659
DO testing DEBUG/RELEASE and check coverage report under DEBUG, btw if you've a simmetric CI where you simply pass $(configuration) as parameter won't be a problem you'll test/cover both config and it's ok. Debug report of coverage are usually more "precise" related to covered line because IL/pdb emitted by compiler is more "detailed".

[2019-12-17 09:03] MarcoRossignoli commented on #659
For instance check coverlet CI https://github.com/tonerdo/coverlet/blob/master/eng/build.yml we build test and cover in both configuration...I'll check only debug one.

[2019-12-17 09:11] MarcoRossignoli commented on #659
I mean usually debug it's enough, but suppose to have a bug where some code run only in debug mode and with that coverage percentage reach 90% but you'll find that in release mode drops under 80%...likely it's something to double check.

[2019-12-17 09:51] anaether commented on #654
@PureKrome to use both packages was just a test. Before 3.1 upgrade i only used coverlet.msbuild package.

[2019-12-17 09:58] MarcoRossignoli commented on #654
@anaether don't worry about me, take your time and do at your pace, no rush, we all have our commitments 😄

[2019-12-17 11:36] PureKrome commented on #659
Oh wow! that's ... really interesting.

## CI/CD Summary
- Run all builds and tests in `DEBUG` and `RELEASE` configurations (leveraging the `matrix` ability for this!)
- Only publish the `RELEASE` nugets.

But how is is the code coverage kicked off?
[Checking the latest build](https://dev.azure.com/tonerdo/coverlet/_build/results?buildId=582) (at the time of me posting this reply) at Azure Dev Ops

[2019-12-17 12:13] MarcoRossignoli commented on #659
Yes we use msbuild at the moment because we know that it doesn't affect by know issue, so you should use collectors if possible.

[2019-12-17 12:15] MarcoRossignoli commented on #659
For us it's also a way to test engine, we use code just build and we inject it through msbuild targets, but it's only for internal use.

[2019-12-17 12:53] PureKrome commented on #659
Okay, so if I use the `coverlet.collector` by referencing the nuget package in my test project, will that ignore that test project _by default_ ?

[2019-12-17 13:06] MarcoRossignoli commented on #659
Yep, you can follow our hello world sample https://github.com/tonerdo/coverlet/tree/master/Documentation/Examples/VSTest/HelloWorld with and without runsettings

[2019-12-17 22:32] daveMueller commented on #413
In #614 we changed the cobertura report back to using relative paths so that the jenkins plugin is working again and the source link option is still supported.
The difference is that currently the root dir of the OS is used in ```sources/source``` and not the root of the project. Most likely this could be changed but I'm not really sure how to determine the root of the project? To be precise, I'm

[2019-12-18 08:00] PureKrome commented on #618
I know i'm late to this party - so I'm trying to understand what people are thinking here.

A test method tests some _product_ assembly/method. Kewl. So why do we want coverage on a test method? The tests are there to verify the product assembly is working great. The coverage is used to make sure the product assembly is tested appropriately.

I don't see why anyone would care if a test method is .

[2019-12-18 08:03] PureKrome commented on #658
Okay - so right now, the test project is EXCLUDED by default so I _do NOT_ need to provide a runsettings file.

---

How can I know which assemblies are included by default in the coverage? Is there an easy way? Is somehting like ReportViewer or codecov.io the easiest way to view the coverage report, which should list all assemblies covered?  And via that report, you can determine which ones to ma

[2019-12-18 08:16] MarcoRossignoli commented on #413
@daveMueller I think that we shouldn't search the "root" of a project, but the algs should simply try to find longest shared absolute(per drive on win) and add to sources, the relative parts will go inside file attribute.

Report is "unrelated" to project structure and we don't know how a project will be setup, could be created runtime, could o couldn't have a sln an so on...report wants only "loc

[2019-12-18 08:24] MarcoRossignoli opened #660 "Fix integration test for .NET global tool on unix systems"
For the moment we don't test .net global tool on unix systems because we get an "access denied" exception on ubuntu.

https://github.com/tonerdo/coverlet/blob/7cad9b3f58f2414d870a4cbe248ee8c93ed558a9/test/coverlet.integration.tests/DotnetTool.cs#L22

[2019-12-18 08:36] MarcoRossignoli commented on #618
Sam's comment https://github.com/tonerdo/coverlet/pull/318#issuecomment-457223596

[2019-12-18 08:39] MarcoRossignoli commented on #658
The default included modules are referenced modules by test projects where pdb/source file are present on local disk.
You can check using coverage report tool or you can force with `Include` prop to be sure that you're instrumenting what you want or you can check what is instrumented using logging.

VSTest integration https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md

[2019-12-18 10:30] daveMueller commented on #413
@MarcoRossignoli I got it. Is it OK when I work on it?

[2019-12-18 10:34] MarcoRossignoli commented on #413
Yes thank's!

[2019-12-18 13:24] Adanaran commented on #652
The global tool does not look feasible to use when each test dll has to be supplied with the full path (>200 projects, dozens of test projects).
Switching the projetcs to use dotnet tooling is not an easy task with WPF and ASP.NET MVC 5 applications present, the dotnet tooling fails to run all of the suggested with different, mostly framework related errors.

Back to the original question: is it p

[2019-12-18 14:44] MarcoRossignoli commented on #652
@vagisha-nidhi is this possible at the moment?
I did some test with
[code]

But I get exception

[2019-12-18 14:49] Adanaran commented on #652
This is exactly what we're getting at the moment.

[2019-12-18 14:56] MarcoRossignoli commented on #652
I'm not sure if it's supported at the moment...vstest integration of coverlet is born inside dotnet core toolchain but maybe there is a way to load collectors in a "old way".

[2019-12-19 03:31] anaether commented on #654
@PureKrome If my build would be only visual studio then it would be okey. I use coverlet test with my gitlab ci on my gitlab instance my projects and to extract analysis informations with sonarqube.

[2019-12-19 04:00] PureKrome commented on #654
@anaether same here - I'm using AppVeyor and AzureDevOps for CI.

Looking at the documentation here, the command is `dotnet test --collect:"XPlat Code Coverage"` for using the VSTest integration (which to me is another name of "the Collector").

so ... do you still need both, then?

Disclaimer: i may have all of this, wrong :(

[2019-12-19 05:38] vagisha-nidhi commented on #652
This is not possible at the moment. There is a bug vstest.console and it is unable to load the collector. @MarcoRossignoli Can you create an issue on vstest so that we can track this?

[2019-12-19 08:34] MarcoRossignoli commented on #654
I'll try to clarify sorry for the confusion.

the reference to `coverlet.collector` is needed in case of `dotnet test --collect:"XPlat Code Coverage"` , as you can see it's a "collector", a way inside vstest engine https://github.com/microsoft/vstest to collect data from testing process. VsTest engine didn't have a way to do coverage in a xplat way, the only open product in the market was coverlet

[2019-12-20 08:45] StefanOssendorf commented on #624
I try to use MergeWith with the VS-Integration but no luck so far. Is this related or should I create a new issue?

Some mor infos:
I get the files per test-project but not a merged one. I have derived an example from your HelloWorld-Docu solution with two test projects and a settings file. [https://github.com/StefanOssendorf/Coverlet_Mwe_MergeWithNotWorking](url)

[2019-12-20 09:04] MarcoRossignoli commented on #624
Please open a new issue this one is related to .net tool a different workflow

[2019-12-20 09:23] StefanOssendorf opened #662 "MergeWith in `dotnet test` is not working con vstest integration(collectors)"
When I try to use the runsettings file to merge the results of our ~40 Test projects the merge file is not created.

[Here](https://github.com/StefanOssendorf/Coverlet_Mwe_MergeWithNotWorking) is a mwe with two test projects and a runsettings-file. The mwe is derived from the HelloWorld-Documentation project.

I have tried several path-combinations (only merged-file, relative path, absolute path)

[2019-12-20 12:46] MarcoRossignoli commented on #662
Thank's @StefanOssendorf for reporting this, there is a bug `MergeWith` doesn't work as expected on collectors.

[2019-12-20 13:00] MarcoRossignoli commented on #662
For the moment you could merge report directly to report viewer if supported.

[2019-12-20 15:10] MarcoRossignoli commented on #662
After some investigation I found the problem, I'll try to explain:

at the moment merge functionality is based on fact that full path of output report file is know and can be specified as we can see from msbuild sample https://github.com/tonerdo/coverlet/blob/master/Documentation/Examples/MSBuild/MergeWith/HowTo.md

with `/p:CoverletOutput` we know what report path will be and so we can merge file

[2019-12-20 18:18] ranouf opened #665 "How to exclude a website?"
Hi,

I have a folder "./src/client/" which is an angular project.
I tried many ways to execute the dotnet test command but I always get the same error:

Include only the test project.
dotnet test   /p:CollectCoverage=true   /p:CoverletOutputFormat=cobertura /p:Include="[My.*.tests?]*"

Exclude folder client
dotnet test   /p:CollectCoverage=true   /p:CoverletOutputFormat=cobertura /p:ExcludeByFile=

[2019-12-21 08:16] #413 closed

[2019-12-21 08:53] MarcoRossignoli commented on #665
Hi Cedric,

I'm not sure that is an issue related to "coverlet". Coverlet doesn't build project but instrument artifacts generated by compilation(dlls) so I don't know if I can help, it seem something unrelated to instrumentation but related to build. Include/Exclude parameters are only used to include/skip file(dll) from instrumentation.

Let me know if I understood the problem or if you can prov

[2019-12-21 08:55] MarcoRossignoli commented on #662
sorry @StefanOssendorf for the inconvenience vstest integration is pretty new so we don't have all use-cases at the moment.

[2019-12-21 12:36] PureKrome commented on #654
Wow - kewl! great reply ... there's a lot of info to try and understand so I'm going to have a go at summarising what I've just read to confirm my understanding.

- `coverlet.collector` is used to get coverage data when the `--collect:"XPlat Code Coverage"` argument is used with `dotnet test`
- you do NOT need to use the `--collect` parameter to collection coverage data. If that's the case, then y

[2019-12-22 12:56] StefanOssendorf commented on #662
@MarcoRossignoli No problem. Thank you for your very detailed explanation and investigation to this issue.
But on the other hand I can achieve the merge with the MSBuild integration, right?

Just for some context: We are using coverlet in our Azure Pipeline to get the code coverage of our 40+ test projects. The inconvinient thing is, the upload of those 40+ result files take ~8minutes. But after a

[2019-12-22 12:59] StefanOssendorf commented on #662
Since this issue is a "by vstest design not fixable" I'll close it now.

[2019-12-22 14:57] MarcoRossignoli commented on #662
Yes take a look at our samples!

We'll keep this issue open for future reference.

[2019-12-22 15:33] abbotware commented on #649
@MarcoRossignoli - I had a thought - this might be a compiler issue - in one case the code is being built via the linux SDK and the other windows SDK.

I am setting the SDK version via global.json so it does use the same version of the SDK, but perhaps there really is some difference in the generated IL.

I will grab the assemblies and inspect the generated IL.

The libraries are net standard, and

[2019-12-22 15:41] abbotware commented on #649
I never liked doing a dotnet test where the I was building the assemblies (since I know I am not actually 'testing' the binaries being shipped)

It might be more work on my part - but If the unit tests consume the nugets (instead of building) -
1. would I still get valid code coverage?
2. If I ensure one OS builds the nugets, will this normalize the paths be normalized ( the reason I opened this i

[2019-12-22 16:04] MarcoRossignoli commented on #649
I would say not...btw only IL inspection can answer. I mean roslyn is a cross compiler so I expect same output IL.

Yes this is the correct way to do...to speedup ci usually you can do separate steps like
[code]

would I still get valid code coverage?
If I ensure one OS builds the nugets, will this normalize the paths ( the reason I opened this issue! :-) )

You shouldn't do this for coverage, you

[2019-12-22 16:26] MarcoRossignoli commented on #654
Yep

when I say msbuild I mean msbuild tasks injected when you run `dotnet test` thank's to reference to `coverlet.msbuild` that imports props/targets to msbuild pipeline.

Yep

Yep vstest is the general purpose way to say `Visual Studio Test Platform` that is the runner and engine that powers test explorer and vstest.console. Actually when you run `dotnet test` underneath you're running dotnet co

[2019-12-22 17:03] abbotware commented on #649
The IL looks the same - I compared one of the functions with different branch counts across 4 variations: Windows vs  Linux and unit test vs Integration test

right now with manually updating the paths - the report files merge together nicely -

the only issue is the branch count is different on the async / await code so perhaps the next release will address this?

[2019-12-22 17:07] MarcoRossignoli commented on #649
Yes we have nightly build https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

The other way is to try to repro with similar code.

[2019-12-22 17:56] abbotware commented on #649
trying to isolate the code see snippet below:

OK some good news?  I am looking at one of the functions that had a problem and now at least the total branch counts match!  I am still only getting 50% coverage - but perhaps it really is only 50%?

take the following code for example:

[code]

FYI - with the nightly build - using the msbuild version

1. it seems the output file path patterns have ch

[2019-12-22 18:14] abbotware commented on #649
Also - looks like https://github.com/tonerdo/coverlet/pull/661  actually does the path normalization? :-)

[2019-12-22 18:25] abbotware commented on #649
for the above code, here is the associated IL Code

[il code.txt](https://github.com/tonerdo/coverlet/files/3992832/il.code.txt)

[2019-12-22 19:03] MarcoRossignoli commented on #649
We did some change on file generation to allow multi-target name generation...how do you run code?Can you attach your commandline?

[2019-12-22 19:05] MarcoRossignoli commented on #649
Where do you see 50%?On ConfigureAwait line?

[2019-12-22 20:29] abbotware commented on #649
![image](https://user-images.githubusercontent.com/2100564/71326948-e494ab00-24cf-11ea-9983-76f243e33dcd.png)

[2019-12-22 20:32] abbotware commented on #649
`dotnet test $Source --filter $TestFilter -f $Framework -c $Configuration /p:NetCoreSdk=$NetCoreSdk --logger:"trx;LogFileName=$TrxFile" --results-directory:$TestResultsPath /p:CoverletOutputFormat=cobertura /p:CoverletOutput=$TestResultsPath$CoverageDataFile /p:CollectCoverage=true /p:ExcludeByAttribute="Obsolete%2cGeneratedCodeAttribute%2cCompilerGeneratedAttribute" -nodeReuse:false`

[2019-12-22 20:57] abbotware opened #667 "Don't Append Framework to File if -f is Specified"
my output file name is being mangled when I specify -f (for framework)

in the below use case it is only running the one framework not multiple

`dotnet test $Source --filter $TestFilter -f $Framework -c $Configuration /p:NetCoreSdk=$NetCoreSdk --logger:"trx;LogFileName=$TrxFile" --results-directory:$TestResultsPath /p:CoverletOutputFormat=cobertura /p:CoverletOutput=$TestResultsPath$CoverageDataF

[2019-12-23 10:18] MarcoRossignoli commented on #649
@abbotware  for file naming issue I fixed to be back-compat, please tomorrow can you try nightly?

No we keep you file name if specified file name has got extension.

Unfortunately this is not a bug, if you're using TargetFramewoks we cannot know if you're passing `-f` and we have only the knowledge that this is a multitarget project and we're "building" that specific version.

[2019-12-23 10:21] MarcoRossignoli commented on #649
From this report seem that for left one no test are running on that part of code, for right one seem an issue with using+async await+ConfigureAwait, I'll try to understand if new using syntax changed a bit code generated(maybe some new null check are emitted)

If you can isolate a simple sample(out of your classes) that show this behaviour could be very helpful.

[2019-12-23 10:39] MarcoRossignoli commented on #649
@abbotware please can you open a new issue to track https://github.com/tonerdo/coverlet/issues/649#issuecomment-568300617?

[2019-12-23 11:04] MarcoRossignoli commented on #667
Sorry I meant the coverage issue https://github.com/tonerdo/coverlet/issues/649#issuecomment-568300617

not the `-f` that isn't a bug, but a correct behaviour

[2019-12-23 11:04] #667 closed

[2019-12-23 11:05] MarcoRossignoli commented on #667
The "append file type extension" was fixed in https://github.com/tonerdo/coverlet/pull/668

[2019-12-23 12:56] abbotware opened #669 "Coverage Issue - New Using + Async/Await + ConfigureAwait"
found during #649, this combination of code seems to have incorrect reports

[code]

here is the final report output:

![image](https://user-images.githubusercontent.com/2100564/71359011-f0787f80-2558-11ea-8a77-0cf8343e987e.png)

here is the diff of the coverage xml:
![image](https://user-images.githubusercontent.com/2100564/71359027-fcfcd800-2558-11ea-9e2f-942bb4a04fff.png)

left side = unit test

[2019-12-23 12:56] #649 closed

[2019-12-23 18:55] MarcoRossignoli commented on #669
Thank's for reporting this

[2019-12-26 00:41] jmoralesv opened #670 "ExcludeFromCodeCoverage attribute is ignored in an static class in a ASP.NET Core 3.1 project"
Hi all,
I'm facing an issue when using Coverlet in a ASP.NET Core 3.1 project. I can see that a static class, which has a static void method, is not being excluded from code coverage, although both the class and the method have the ExcludeFromCodeCoverage attribute applied, from the namespace `System.Diagnostics.CodeAnalysis`.

This static method is an extension method referenced by the Startup cl

[2019-12-27 14:20] MarcoRossignoli commented on #670
Thank's @jmoralesv for reporting this, we'll take a look ASAP.

[2019-12-30 03:31] farzadmf commented on #262
For future visitors, [this SO answer](https://stackoverflow.com/a/56281108/3646201) was very useful, which basically removes the redundant step of running the tests for a second time.
Basically, the solution is to output two formats, something like this in bash:
[code]

[2019-12-30 21:47] MarcoRossignoli commented on #262
@farzadmf it works only if you run test sequentially, check this thread https://github.com/tonerdo/coverlet/issues/598#issuecomment-551174529

[2019-12-31 06:03] nmarun commented on #560
Copying the file manually works.. any idea on how to copy the dll from a NuGet package?

[2019-12-31 09:16] nmarun commented on #560
Nevermind. For now, I'm doing a dotnet publish and copying the required file to the appropriate location. Things are working fine.

[2019-12-31 09:55] MarcoRossignoli commented on #560
@nmarun ok, if you want to try without publishing you can try to dogfood highly build that help to fix this issue https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2019-12-31 10:34] lkurzyniec commented on #357
I have tried the solution suggested by @joemey and it works, but only for `json`, but it does not for `opencover`.

For this command `dotnet test /p:CollectCoverage=true /p:CoverletOutput="../coverage.json" /p:MergeWith="../coverage.json" /maxcpucount:1 /p:CoverletOutputFormat="opencover"`
I received:
[code]
So it counts coverage for the first project and saves it into `json`, but for the second p

[2019-12-31 12:29] farzadmf commented on #262
Oh wow @MarcoRossignoli , that's a good point (and a tricky one)
Just wondering: isn't the sequential (or parallel) run a potential problem with `mergeWith` anyways?

[2019-12-31 13:48] MarcoRossignoli commented on #262
With sequential execution you'll append one result at time so at the end you'll have all results merged, very similar to https://github.com/tonerdo/coverlet/blob/master/Documentation/Examples.md#msbuild-integration

[2019-12-31 13:55] MarcoRossignoli commented on #262
BTW the "by design" usage should be run one `dotnet test` for every test project and merge at the end, I know it not great from usage perspective, but msbuild engine doesn't handle solutions (sln) but projects(csproj) so at the moment there is no great way to synch parallel project builds, I mean when you run `dotnet test` on a solution actually you'll run one for every test projects in parallel,

[2020-01-02 21:05] MarcoRossignoli commented on #357
@lkurzyniec can you try to run same command  but with `/p:CoverletOutputFormat="opencover,json"` parameter?

Yes I did same sample on our "sample" section https://github.com/tonerdo/coverlet/blob/master/Documentation/Examples/MSBuild/MergeWith/HowTo.md , you can clone repo and test solution

[2020-01-02 21:11] MarcoRossignoli commented on #357
For reference link msbuild task sync discussion https://github.com/microsoft/msbuild/issues/4898

[2020-01-02 21:20] MarcoRossignoli commented on #598
Close for dup

[2020-01-02 21:20] #598 closed

[2020-01-02 22:02] jdanielbioc opened #672 "coverlet.collector is missing dependencies"
Unlisted dependency on old version of FileSystemGlobbing is causing problems starting a project in built in 3.1.

Unhandled exception. System.IO.FileLoadException: Could not load file or assembly 'Microsoft.Extensions.FileSystemGlobbing, Version=3.1.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The located assembly's manifest definition does not match the assembly reference. (0x80131040)

[2020-01-02 23:02] MarcoRossignoli commented on #672
Hi  @jdanielbioc the issue is not clear to me, this exception seem unrelated to Coverlet, I mean coverlet instruments users asm before run test, can you attach the command line you used to run test?

[2020-01-02 23:10] MarcoRossignoli commented on #417
close for stale conversation, feel free to re-open if needed.

[2020-01-02 23:10] #417 closed

[2020-01-02 23:12] MarcoRossignoli commented on #473
Close for stale conversation, feel free to re-open if needed.

[2020-01-02 23:12] #473 closed

[2020-01-02 23:13] MarcoRossignoli commented on #482
close for stale conversation, feel free to re-open if needed.

[2020-01-02 23:13] #482 closed

[2020-01-02 23:13] MarcoRossignoli commented on #494
Close for stale conversation, feel free to re-open if needed.

[2020-01-02 23:13] #494 closed

[2020-01-02 23:15] MarcoRossignoli commented on #534
Close for stale conversation, feel free to re-open if needed.

[2020-01-02 23:15] #534 closed

[2020-01-02 23:15] MarcoRossignoli commented on #571
@queen-of-code any news?

[2020-01-02 23:17] MarcoRossignoli commented on #578
@AArnott any news?

[2020-01-02 23:20] MarcoRossignoli commented on #586
Close for stale conversation(I think that the issue here is the know issue due to RabbitMQ slow shutdown), feel free to re-open if needed.

[2020-01-02 23:20] #586 closed

[2020-01-02 23:23] MarcoRossignoli commented on #624
@priyanka1112 any news on this?

[2020-01-02 23:26] MarcoRossignoli commented on #654
@anaether any on this?

[2020-01-02 23:39] AArnott commented on #578
I didn't realize you were waiting on me. It looked like you were calling out results of your investigation as you went. What would you like me to do to help? Reordering test methods isn't an acceptable workaround IMO. I mean, sure I could do that, but isn't this a general problem?

[2020-01-03 00:38] anaether commented on #654
@MarcoRossignoli i will try your steps in the days of the next week. This week i dont have time to check it.

[2020-01-03 00:41] PureKrome commented on #654
@MarcoRossignoli I'm wondering if the README should be slightly tweaked with some of this info. I mean, if I was totally confused (which is _very_ common for me) .. then so might others .. and your answers (above) are really really helpful. Maybe ... I could try a PR with some minor changes/additions to the README?

[2020-01-03 10:14] MarcoRossignoli commented on #654
@PureKrome sure feel free to do a PR, we could update the "how it works" section below the workflow https://github.com/tonerdo/coverlet#How-It-Works

[2020-01-03 10:57] MarcoRossignoli commented on #578
Sure I'm not saying that, but I wonder if this strange behaviour ring a bell  to you to help to understand better, coverlet only instrument asm adding some "register hit" static method on line and branches.
BTW I'll try to debug xunit adapter where the test are discovered.

[2020-01-03 11:46] lukos opened #673 "MissingMethodException: Method not found"
This is the same error as #456 but I am unsure about the cause in my case.

I am using a dockerfile based on bionic 2.2, which should be DotNetCore 2.2.8 according to [docker](https://hub.docker.com/_/microsoft-dotnet-core-runtime/) but when I run dotnet test, I get the error:

[code]

I have installed the nuget package for coverlet at v1.1.0 and the test execution command line tool is 16.0.1

[2020-01-03 12:05] MarcoRossignoli commented on #673
You should upgrade `Microsoft.NET.Test.Sdk` reference in your test project https://github.com/tonerdo/coverlet#requirements

[2020-01-03 12:06] MarcoRossignoli commented on #673
Also there is at the moment a know issue on vstest plat that fails to load coverlet collectors https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#2-upgrade-coverletcollector-to-version--100

[2020-01-03 12:25] lukos commented on #673
@MarcoRossignoli `Microsoft.NET.Test.Sdk` was already at 16.4, which was above requirements. I also tried upgrading to 16.5.0-preview but have the same problem.

It doesn't appear to be the known issue since coverlet is loading and attempting to read something. I will try using a run file to see if that changes anything.

Thanks

[2020-01-03 12:56] MarcoRossignoli commented on #673
@lukos can you confirm that all it's ok out of docker?I mean if you run on your local does it work?

[2020-01-03 13:10] lkurzyniec commented on #357
Unfortunately, it doesn't work
[code]
What's interesting here is that it generate json two times:
[code]

[2020-01-03 13:11] lukos commented on #673
Yes, when I run it locally, it runs fine and outputs the cobertura file. An obvious difference I can see is that my local dotnet exe is 16.3.0 as opposed to 16.0.1 in the docker image so I will see if I can update that as part of the docker build.

[2020-01-03 13:28] MarcoRossignoli commented on #357
Try with
[code]
Similar to https://stackoverflow.com/questions/53255065/dotnet-unit-test-with-coverlet-how-to-get-coverage-for-entire-solution-and-not/56281108#56281108 but with `-m:1`

[2020-01-03 13:41] MarcoRossignoli commented on #673
That could be the issue cc: @vagisha-nidhi for confirmation

[2020-01-03 14:07] AArnott commented on #578
OK, thanks. Ya, none of what you've discovered causes any root cause ideas to come to mind.

[2020-01-03 14:21] MarcoRossignoli commented on #578
Ok ok no prob, thank's.

[2020-01-03 14:31] lukos commented on #673
I just found another github issue about the 2.2 image not containing the correct CLI tools version and a massive complicated discussion about the complexity of docker images with multiple SDK/runtime combinations. I think for now, the only way forward for me is to upgrade the project to 3.1, which will probably work OK but has other implications since all of our projects are currently 2.2 and I do

[2020-01-03 14:31] #673 closed

[2020-01-03 15:44] MarcoRossignoli commented on #673
Ok feel free to re-open if needed.

[2020-01-03 16:58] MarcoRossignoli commented on #670
@jmoralesv the code inside the static method with attribute applied has got some async/await code?

[2020-01-03 20:33] jdanielbioc commented on #672
Marco,

Sorry if I was unclear coverlet was in the test project as you suggested, but after publishing everything the main project was unable to run due to the old version of FileSystemGlobbing that coverlet had loaded into the test project.

Regards,
Jeremy

From: Marco Rossignoli <notifications@github.com>
Sent: Thursday, January 2, 2020 6:03 PM
To: tonerdo/coverlet <coverlet@noreply.github.com>

[2020-01-03 21:12] MarcoRossignoli commented on #672
Can you attach you command line?
When you say publishing you mean `dotnet publish` and after `dotnet vstest lib.dll`?

[2020-01-03 22:40] jdanielbioc commented on #672
We ran “dotnet clean” followed by “dotnet publish -o app/publish” at the level of the solution file. When the test project references coverlet.collector app/publish has the wrong version of the file globbing dll. We are not looking to fix that, just the incorrect display of dependencies on nuget.org which made it harder to track down this as the cause.

JEREMY DANIEL
SENIOR PRODUCT DEVELOPER
Biocl

[2020-01-03 22:42] jmoralesv commented on #670
Hi @MarcoRossignoli ,
Yes, the static method is actually an extension method for `IApplicationBuilder`, and it resembles the following code snippet:

[code]
The extra attribute `[ExcludeFromCodeCoverage]` in the static method shouldn't be required, I added just to confirm that Coverlet is also ignoring it even though it is defined at the class level.

I checked issue #129 and I think it could be t

[2020-01-03 22:57] MarcoRossignoli commented on #672
Yup when publishing all files are moved to target directory(also coverlet nuget package files) so globbing dll is overwrite. I'm wondering why you don't run test without publishing, only using `dotnet test --collect:"XPlat Code Coverage"` from root(where sln file is placed) or from csproj folder, in this way Coverlet files are not copied to output and globbing dll shouldn't be overwrite.

[2020-01-03 23:10] MarcoRossignoli commented on #670
I have to repro but I think that it's the same issue, static class is present because the async/await state machine is generated inside that class by compiler.

[2020-01-04 03:05] jmoralesv commented on #670
Hi @MarcoRossignoli ,
I can try creating a new ASP.NET Core 3.1 Web API project and add the extension method and the static class there, but that would take some time.

I agree with you, it's the same issue, having async/await code with static methods or classes makes Coverlet ignore the `[ExcludeFromCodeCoverage]` attribute.

[2020-01-04 10:18] MarcoRossignoli commented on #670
Don't worry your code fragment is enough to me

[2020-01-05 15:37] jmoralesv commented on #670
Hi @MarcoRossignoli,
Thank you, I'm looking forward to seeing the issue fixed in the next version of Coverlet 👍

[2020-01-05 15:39] MarcoRossignoli commented on #670
Sure thing!

[2020-01-05 20:27] MarcoRossignoli commented on #670
@jmoralesv I did a repro and the issue is "related" to the other, btw for now I'll leave this open because I don't know if the fix will work with "nested" async machine state.

![image](https://user-images.githubusercontent.com/7894084/71785564-6244d480-3001-11ea-8bf3-ede8b5d1b7c7.png)

For now you can remove that file from coverage using filters,

[code]
`ExcludeByAttribute` exclude by attribute

[2020-01-05 20:59] MarcoRossignoli commented on #672
You're right, unfortunatly coverlet is packed as `build` assets https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets because it runs before and after tests(imports props and target files) and is not consumed as a lib so nuget ui doesn't show any dependencies because all files are "embedded" and also because it's not a consumed "d

[2020-01-06 07:30] martincostello opened #678 "coverlet.msbuild 2.8.0 does not combine coverage when using MergeWith"
Dependabot pushed a number of updates to coverlet.msbuild to repositories I maintain just now to bump from 2.7.0 to 2.8.0, and for projects where code coverage is aggregated together using the `MergeWith` MSBuild property, the stats are no longer being combined.

Here's such an example PR: https://github.com/justeat/httpclient-interception/pull/171

This is causing builds to fail as their minimum

[2020-01-06 16:17] MarcoRossignoli commented on #678
The issue seem different...from this version coverlet generate different name for different target framwork issue https://github.com/tonerdo/coverlet/issues/177 so there is a possibility that you expect file merging between different project but now coverlet generate different file name

'C:\projects\httpclient-interception\artifacts\coverage.netcoreapp3.1.json'
'C:\projects\httpclient-interceptio

[2020-01-06 16:43] MarcoRossignoli commented on #678
You've two project one with multiple target frameworks and the other with single

https://github.com/justeat/httpclient-interception/blob/195c8a0f22423f23919f5043db024d75bd404bcd/src/HttpClientInterception/JustEat.HttpClientInterception.csproj#L13
https://github.com/justeat/httpclient-interception/blob/195c8a0f22423f23919f5043db024d75bd404bcd/samples/SampleApp.Tests/SampleApp.Tests.csproj#L4

If y

[2020-01-06 17:33] #672 closed

[2020-01-06 18:47] martincostello commented on #678
That's correct, as that's always been the behaviour previously.

Thanks for explaining what's wrong and how to fix it - it's unfortunate that this breaking change to the behaviour was made in a minor release and/or didn't require a command-line flag to enable, though.

[2020-01-06 18:50] EricStG commented on #641
Another option would be to allow line breaks or whitespace between each item, this way we can still split it on multiple lines:
[code]

[2020-01-06 18:57] MarcoRossignoli commented on #641
Does it works?Have you tried?

[2020-01-06 19:00] MarcoRossignoli commented on #678
Actually it was a bug 🙂 exploited as a normal usage, if you check the issue related you can show what other users had to do as workaround.

BTW let me know if it's all ok or need further help, sorry for the inconvenience Martin!

[2020-01-06 19:03] MarcoRossignoli commented on #678
Feel free to close if solved!

[2020-01-06 19:03] EricStG commented on #641
It doesn't work, but it should be easy enough to make it work

[2020-01-06 19:05] martincostello commented on #678
I've gotten all my dependabot PRs fixed-up manually now - thanks for the assistance!

[2020-01-06 19:05] #678 closed

[2020-01-06 19:05] MarcoRossignoli commented on #678
And thanks for the advice we'll keep more attention on versioning (related to missing breaking behavior)!

[2020-01-06 19:13] MarcoRossignoli commented on #641
Can you attach the error?Is msbuild error or coverlet error?

[2020-01-06 19:58] EricStG commented on #641
Sorry, when I said it doesn't work, I meant the exclusions are not being applied. I can't see any errors in the output.

[2020-01-06 20:14] MarcoRossignoli commented on #641
Ah ok... I'll take a look to understand what's going on

[2020-01-06 20:23] EricStG commented on #641
I think adding `?.Trim() after the `Split` at https://github.com/tonerdo/coverlet/blob/f24b9d567cb84c314cde46dd336f1919db73c5e4/src/coverlet.collector/DataCollection/CoverletSettingsParser.cs#L130 would do it

[2020-01-06 20:45] MarcoRossignoli commented on #641
Yup could work, would you like to offer a PR?
If you don't want no problem, I'll work on it!

[2020-01-06 20:46] EricStG commented on #641
I sure can

[2020-01-06 20:50] MarcoRossignoli commented on #641
Check here and let me know if something is not clear https://github.com/tonerdo/coverlet/blob/master/CONTRIBUTING.md

[2020-01-07 00:17] daveMueller commented on #559
@MarcoRossignoli Could you explain this in a bit more detail. I'm not sure if I get it right. Just inject ILogger and log a message in this catch block?

[2020-01-07 08:06] MarcoRossignoli commented on #559
Yup Dave, this class is the core of instrumentation and sometimes it's very useful log behaviour, so for now the work here is only flow `ILogger` and add some trace here.

[2020-01-07 11:47] roryprimrose commented on #678
Just to clarify, the fix to get a single merged code coverage file using 2.8.0 in a multi-target framework unit test project is to change it so it targets a single framework. If that is the case, then we forgo the ability to unit test against all our target frameworks for the sake of a single coverage output. This is a bad outcome unless I'm misunderstanding the situation.

My scenario is that I h

[2020-01-07 13:28] MarcoRossignoli commented on #678
Hi @roryprimrose, some question and thoughts:

I'd like to understand better your scenario and how you evaluate coverage. In case of merging different runtime how do you understand if the coverage is correct, decrease or increase?
I mean if I remove for instance netcoreapp2.1 test coverage (for a mistake) but on netcoreapp3.1 the coverage is in place yet...how do you understand that you're shippin

[2020-01-08 08:07] PureKrome commented on #659
Hi again @MarcoRossignoli - I'm back here trying to get this working once more.

### TL;DR;
I'm not getting any summary of results, listed to the terminal.

### Info:
So i'm trying to learn off [your repo azure-pipelines.yml](https://github.com/tonerdo/coverlet/blob/master/eng/azure-pipelines.yml) file. In it you have various OS flavours and are doing both DEBUG and RELEASE builds. Great.

In all

[2020-01-08 09:20] MarcoRossignoli commented on #659
Simply printing results to console is not supported for collectors for the moment.

Collectors are a totally different beast than .net tool and msbuild, we don't have complete control of workflow but we're injected inside the vstest engine.
BTW I'll open a new issue to understand if/how we can show reports on console like .net tools and msbuild.

[2020-01-08 09:23] MarcoRossignoli opened #681 "Show coverage summary on terminal"
Today at the end of the tests msbuil/.net tool drivers show a table with coverage result on console.
For instance:
[code]

This is not supported at the moment for vstest collectors integration.

cc: @vagisha-nidhi  @PureKrome

[2020-01-08 09:27] MarcoRossignoli opened #682 "Add `Threshold` feature to vstest collectors integration"
Today with .net tool/msbuild you can specify a coverage threshold below which it fails the build.

https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md#threshold

This is not supported on vstest collector integration

cc: @vagisha-nidhi

[2020-01-08 09:51] MarcoRossignoli commented on #525
@StefanKoenigMUC any news?

Feel free to close if no more useful.

[2020-01-08 09:54] MarcoRossignoli commented on #613
@venkikonda  any news?

[2020-01-08 09:56] MarcoRossignoli commented on #609
Close for stale conversation.

Feel free to re-open if needed.

[2020-01-08 09:56] #609 closed

[2020-01-08 11:30] PureKrome commented on #659
Kewl thanks - much appreciated.

**Q1:** So even though there's no output to the terminal (reported separately in #681) it still creates the coverage xml file ... which means we could still use a 3rd party tool to help interegate the coverage results (e.g. codecov.io or ReportGenerator), right?

**Q2:** Secondly, in your azure pipelines for this repo, you so DEBUG and RELEASE. How do you only get

[2020-01-08 19:42] lkurzyniec commented on #357
@MarcoRossignoli That works fine! In my case, it gives me solution wide results.

### Summarize
cmd command
[code]
gives me the same results as following two commands
[code]

![image](https://user-images.githubusercontent.com/5943484/72009978-43d81680-3257-11ea-995e-c5f67386d308.png)

[2020-01-08 20:16] MarcoRossignoli commented on #357
Glad to hear!

[2020-01-09 02:21] roryprimrose commented on #678
@MarcoRossignoli Thanks for the quick reply. I agree with you that your solution is technically correct and that the interpretation of coverage per framework should really be handled by the reporting tool.

The current restriction is that the GitHub action for coveralls only accepts a single coverage file. Best I can tell they don't support multi-target coverage probably because it is a very .net

[2020-01-09 08:34] MarcoRossignoli commented on #678
Yep, btw you'll lose all other new/future fixes

Ok they don't support multitarget but you can send more than one file with github action so you can use new coverlet version and have the old behaviour https://github.com/marketplace/actions/coveralls-github-action `parallel` options should allow it.

I don't think that there is in the market such a report, because there aren't coverage file format

[2020-01-09 08:41] MarcoRossignoli commented on #678
@roryprimrose found also this issue on coverallsapp https://github.com/coverallsapp/github-action/issues/18 he resolved using Codecov https://docs.codecov.io/docs/merging-reports

[2020-01-09 10:31] petli commented on #678
A reflection somewhat from the side here is that a lot of these issues around merging, thresholds etc comes from attempts to do coverage collection and analysis being as a single build step. A more unixy way of looking at it is that coverage gets collected during unit tests and written to files, and a separate tool is then run to analyse the coverage in whichever way the user needs. These tools ca

[2020-01-09 10:51] MarcoRossignoli commented on #678
Eh...this is my "dream"...I'm working on [vstest](https://github.com/microsoft/vstest) side to understand well what missing there, for instance fail on threshold, show data on console etc...that environment lack of some support, but ms team seem available to accomodate our needs.
BTW there are a lot of users that are confortable with msbuild and I'm not sure(need to verify) vstest can run also all

[2020-01-09 11:05] petli commented on #678
I mean that a 3.x version could be the vstest+coverlet cmd line only, with 2.x remaining as a legacy branch for those who wish to keep using coverlet as-is with msbuild . But no new merging or analysis features would be added to 2.x, all that would go into 3.x.  Existing users aren't disrupted, but when they have new needs they have to take the effort of updating their toolchains to 3.x.

[2020-01-09 11:12] MarcoRossignoli commented on #678
At the moment we've three different version https://github.com/tonerdo/coverlet/blob/master/Documentation/Changelog.md#packages

We could simply stop to release msbuild(flow only important core fix related to coverage alg and increase only fix part of semver 2.8.X) and move coverlet.console to 2.0(with new commands) and keep collectors with current versioning schema.

[2020-01-09 11:20] petli commented on #678
Sorry, I used sloppy version numbers, forgetting that semver means that they don't necessarily go in sync in the different components. This direction would thus only be about coverlet.console 2.0?

[2020-01-09 11:21] MarcoRossignoli commented on #678
Yep

And yep 😄  will do

[2020-01-09 11:44] MarcoRossignoli opened #683 "Shutdown msbuild driver innovations?"
Started from https://github.com/tonerdo/coverlet/issues/678#issuecomment-571585508

@petli comment

A reflection somewhat from the side here is that a lot of these issues around merging, thresholds etc comes from attempts to do coverage collection and analysis being as a single build step. A more unixy way of looking at it is that coverage gets collected during unit tests and written to files, and

[2020-01-09 11:45] MarcoRossignoli commented on #683
Eh...this is my "dream"...I'm working on [vstest](https://github.com/microsoft/vstest) side to understand well what missing there, for instance fail on threshold, show data on console etc...that environment lack of some support, but ms team seem available to accomodate our needs.
BTW there are a lot of users that are confortable with msbuild and I'm not sure(need to verify) vstest can run also all

[2020-01-09 11:46] MarcoRossignoli commented on #683
We could simply stop to release msbuild(flow only important core fix related to coverage alg and increase only fix part of semver 2.8.X) and move coverlet.console to 2.0(with new commands) and keep collectors with current versioning schema.

[2020-01-09 11:50] MarcoRossignoli commented on #683
I opened an issue on vstest repo https://github.com/microsoft/vstest/issues/2299

[2020-01-09 15:53] ckarcz commented on #262
here is a cross platform powershell script i created that finds unit test projects and generates merged coverlet format report and a final output report in cobertura format, but should work with any format. it's not perfect, but can be a good starting point for a more powerful script (checking error codes etc). it then generates a report using reportgenerator.

fwiw, i've also seen Cake integratio

[2020-01-09 16:02] MarcoRossignoli commented on #262
@ckarcz doesn't https://github.com/tonerdo/coverlet/blob/master/Documentation/Examples/MSBuild/MergeWith/HowTo.md works for you?

[2020-01-09 18:14] ckarcz commented on #262
@MarcoRossignoli that would work but i cannot get msbuild to accept the multiple values for the
```/p:CoverletOutputFormat``` parameter when executing in powershell.

i have tired all sorts of combinations of
```/p:CoverletOutputFormat=\"cobertura,json\"```

if you know of a way that would be most excellent 👍

[2020-01-09 18:36] ckarcz commented on #262
found a way around the issue i was having via [this msbuild issue](https://github.com/microsoft/msbuild/issues/471#issuecomment-366268743).

this is how you would need to do it in powershell:
```/p:"CoverletOutputFormat=json%2ccobertura"```

i have updated my [gist](https://gist.github.com/ckarcz/180a9ddfd9bfe33b1e68e1634c0e599e#gistcomment-3132710) with a comment with the improved version.

if yo

[2020-01-09 18:44] MarcoRossignoli commented on #262
There is on documentation...but maybe too hidden https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md#note-for-powershell--vsts-users

[2020-01-09 19:12] danielpalme commented on #678
Yes _Azure DevOps_ also uses _ReportGenerator_ internally to generate the coverage report.
Merging several files was always supported by _ReportGenerator_. You can give it a try.

[2020-01-09 21:45] cheenamalhotra opened #684 "Coverlet Console does not work with --filter"
I'm trying to calculate code coverage with Coverlet Console, by using below command:

`coverlet "bin\<path>\Product.dll" --target "dotnet" --targetargs "test src\<path>\Product.Tests.csproj --no-build -v n --filter category!=category1&category!=failing&category!=category3" --output "bin\TestResults" -f cobertura`

Tests run but the filters are not applied even if providing 1 filter at a time, but

[2020-01-09 22:47] ckarcz commented on #203
I have a unit-test-per-project structure and also having this issue. Coverlet replaces the correct coverage for an assembly with the coverage of the assembly in the current test assembly, instead of a merging coverage.

I am able to work around it by running coverlet per project and then letting report-generator do the merging, which it _seems_ it does correctly.

here is a gist that may help you

[2020-01-10 01:57] reverseark commented on #572
Just to report we hit exactly the same issue and search engine leads me here. Version of collector package is 1.2.0. It is not an easy repro though, probably once every 20-30 runs.

I read through this thread. The MaxCpuCount not respected by dotnet test issue has been well discussed [here](https://github.com/Microsoft/vstest/issues/1966).

I also saw the description about what is happening behind

[2020-01-10 04:35] rpatrick00 commented on #560
coverlet.msbuild 2.8.0 fixed the issue in all but one of my projects.  I updated them while migrating them to Dotnet Core 3.1 today.  Haven't been able to determine what makes this one project different than all of the others yet...

[2020-01-10 07:41] MarcoRossignoli commented on #572
I think that issue is referred to fact that max cpu count is ignored if used inside runsettings, that is the artifact that vstest load and use to run tests, `-m:1` options must be passed to msbuild so out of runsettings, you can try our sample and see that in one case test are parallel and in the other case is sequential https://github.com/tonerdo/coverlet/blob/master/Documentation/Examples/MSBuil

[2020-01-10 08:25] MarcoRossignoli commented on #572
@reverseark can you try the same sample of https://github.com/tonerdo/coverlet/issues/572#issuecomment-539871519 and use a tmp patched version of coverlet?
My suspect is that in some case the issue with big solution with a lot of projects there is a race between process host closing and out of process collectors that read file, I did a tmp patch https://github.com/tonerdo/coverlet/issues/572#issue

[2020-01-10 08:41] MarcoRossignoli commented on #560
Thank's @rpatrick00 could be something related to https://github.com/tonerdo/coverlet/pull/655 we're investigating...could be great if you provide another repro to understand if we're on right path and the issue is the same, at you pace no rush.
This is an hard nut to crack 😞 a lot of cases.

[2020-01-10 08:44] MarcoRossignoli commented on #262
@ckarcz does it work?

[2020-01-10 08:45] MarcoRossignoli commented on #203
Other that @ckarcz you can try with https://github.com/tonerdo/coverlet/blob/master/Documentation/Examples/MSBuild/MergeWith/HowTo.md

[2020-01-10 09:46] MarcoRossignoli commented on #684
Hi Cheena,

can tell me SO?
I did some test on win and I cannot repro the issue.

This is my test, can you try on you side?
[issue_684.zip](https://github.com/tonerdo/coverlet/files/4044952/issue_684.zip)

Is this an open source project that I can debug?

[2020-01-10 10:11] MarcoRossignoli commented on #684
Same result on my WSL

[2020-01-10 17:10] cheenamalhotra commented on #684
Hi Marco,

I'm a bit surprised this issue isn't happening again, I'm also running on Windows.
But thanks for the repro and looking into it. I'll reach back if I see this issue again!

[2020-01-10 18:12] MarcoRossignoli commented on #684
Keep this open until we'll be sure that is not a coverlet issue, my experience on this stuff teached me that small difference could be great one :smiley:

[2020-01-10 18:14] MarcoRossignoli commented on #684
Ops sorry misread is instead of isn't!

Feel free to re-open if needed!

[2020-01-10 18:14] #684 closed

[2020-01-11 03:44] ckarcz commented on #262
@MarcoRossignoli it did in fact work, but the merge overwrites the results of a library with the coverage of the subsequent test project coverage, as per issue #203

[2020-01-11 03:47] ckarcz commented on #203
@MarcoRossignoli i did that but still had the coverage results of a library replaced with a subsequent collection/merge, resulting in zero coverage for that library. same as @priyanka1112 describes. the merge should merge the result data, not just the result xml nodes in the files.

[2020-01-11 08:01] MarcoRossignoli commented on #203
Can you provide a simple repro?I'm not sure to understand where is the problem.

[2020-01-11 08:03] MarcoRossignoli commented on #262
@ckarcz asked also on the other thread can you provide a repro, also better in a new issue?

[2020-01-11 08:14] MarcoRossignoli opened #686 "Add collector test for every SDK shipped with project templates"
Follow up discussion https://github.com/dotnet/test-templates/pull/78#issuecomment-573234571

The idea is to move collectors test in a base class and add a property with sdk version and add one class of test for every template sdk released + last preview something like:

[code]

/cc: @singhsarab @nohwnd @shyamnamboodiripad @AbhitejJohn

[2020-01-11 10:55] #686 closed

[2020-01-12 15:27] HarelM commented on #654
I've tried to read this thread and understand what has changed since my upgrade to .net core 3.1 but got confused.
I'm using the following command to generate `lcov` coverage file:
`dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=lcov /p:Exclude=`"[IsraelHiking.Common]*`" --logger trx`
Can be found here:
https://github.com/IsraelHikingMap/Site/blob/ef8b4edf5cb55a23591ef70de0ea4bd6530b9

[2020-01-12 16:28] MarcoRossignoli commented on #654
@HarelM I don't see any ref to coverlet coverage in your csproj

https://github.com/IsraelHikingMap/Site/blob/master/Tests/IsraelHiking.API.Tests/IsraelHiking.API.Tests.csproj
https://github.com/IsraelHikingMap/Site/blob/master/Tests/IsraelHiking.DataAccess.Tests/IsraelHiking.DataAccess.Tests.csproj

If I search coverlet in your repo https://github.com/IsraelHikingMap/Site/search?q=coverlet&type=C

[2020-01-12 18:10] HarelM commented on #654
Thanks!! I swear it used to work without this reference, I have no clue how, but it did.
Anyway, adding the NuGet dependencies seems to solve the issue locally, I'll check-in and see if I get my coverage back.
I'll try to keep the vstest in mind in case I run into more issues.
Thanks for the super quick response and detailed answer. Keep up the good work!

[2020-01-12 18:31] MarcoRossignoli commented on #654
Maybe some inherited deps props/targets

[2020-01-12 23:04] PureKrome commented on #683
I would like to +1 the obsoleting of the msbuild collector. Having 1/2 <-> 1 year time window is plenty of time to have it flagged as `obsolete` IMO.

Reasons: makes it 'easier' to learn how to consume/use this library.

Of course, the vstest collector needs to be feature parity with msbuild collector.

Also, while we're speaking of collectors ... I'd also vote for a name change for the vstest col

[2020-01-13 21:00] SteveGilham opened #689 "Inconsistent behaviour with nested types and function values"
In upgrading to collector v1.2 from v1.1 I noticed that code like
[code]
started registering as uncovered. I'm assuming that this is part of the lambda aliasing change in PR #583, and it's triggering because each line compiles to a form with 4 extra classes, and one of those has an unattributed `Invoke()` method that executes only when the event is actually fired.

Proceeding to exclude this not r

[2020-01-13 21:47] SteveGilham opened #690 "Simple `if` expression coverage not recorded in some cases"
This is another change in behaviour observed when upgrading the collector to v1.2, but I don't have a simple cut-down version of this -- it stops when I remove any significant amounts of code.

Consider [this function](https://github.com/SteveGilham/altcover/blob/221a60bed4c5d73b58103395de58231da8eb72f9/AltCover.Recorder/Base.fs#L156-L159)
[code]
with [unit tests](https://github.com/SteveGilham/al

[2020-01-13 22:08] MarcoRossignoli commented on #689
Thanks for reporting this

[2020-01-13 22:08] MarcoRossignoli commented on #690
Thanks for reporting this

[2020-01-14 09:13] SteveGilham commented on #689
In a similar C# case  the same behaviour is observed.

Example code
[CoverletNested.zip](https://github.com/tonerdo/coverlet/files/4058276/CoverletNested.zip)

To repro
`dotnet test  --settings ./coverletArgs.runsettings --configuration Debug --framework netcoreapp3.1`
in the `TestNested` folder

[2020-01-14 09:36] MarcoRossignoli commented on #689
Thank's a lot for the repro Steve!

[2020-01-14 11:24] SteveGilham commented on #690
False alarm -- while trying to cut this down to a simple repro today, I spotted the subtle mistake I'd made.

[2020-01-14 11:24] #690 closed

[2020-01-14 11:25] MarcoRossignoli commented on #690
Thank's for the investigation!

[2020-01-14 11:48] MarcoRossignoli commented on #662
@StefanOssendorf out contributor @pape77 found a clever way to use merge with vstest, run tests sequentially and override merge one take a look maybe could help https://github.com/tonerdo/coverlet/pull/225#issuecomment-573896446

[2020-01-14 13:58] patricksadowski commented on #681
Does VSTest signal the end of the entire test run (like an event)? Each data collector could then do one last action.

[2020-01-14 14:05] MarcoRossignoli commented on #681
No AFAIK...this is the biggest issue for coverlet for a lot of features like merging...we don't have a way to synch between parallel tests run. I'm in contact with vstest team to undestand if there is a solution, but I think that at the moment the only place is inside `dotnet` cli out of vstest control, btw this is my speculation, we'll see.

[2020-01-14 14:08] MarcoRossignoli commented on #681
For this issue I had a fast conversation with  team member and seem that we could inject a custom logger https://github.com/microsoft/vstest-docs/blob/master/docs/report.md

[2020-01-14 15:59] #129 closed

[2020-01-14 15:59] #670 closed

[2020-01-14 22:22] PureKrome commented on #681
Thanks @MarcoRossignoli for working on this issue ASAP. this is the biggest blocker for us, using the vstest collector.

[2020-01-15 07:58] MarcoRossignoli commented on #681
@PureKrome why?Can you tell me how you use terminal data?

[2020-01-15 08:01] PureKrome commented on #681
Sure, either when:
- doing localhost development (to get an idea of the coverage early on)
- CI/CD server (e.g. Azure DevOps or AppVeyor).

using the command line (eg. dotnet test ..) creates a file which I can't read easily. Just seeing the ascii art chart after that command is a great first and easy step into seeing some quick steps.

It's a blocker because it's slowing me down when coding. I do

[2020-01-15 08:06] #641 closed

[2020-01-15 08:16] MarcoRossignoli commented on #681
Ok for local dev you can use ReportGenerator with simple script https://github.com/danielpalme/ReportGenerator

[2020-01-15 13:58] MarcoRossignoli opened #693 "Warning NU5127 msbuild for collectors packages"
We're hiding a warning during collectors pack https://github.com/tonerdo/coverlet/blob/master/src/coverlet.collector/coverlet.collector.csproj#L17
External issue https://github.com/NuGet/Home/issues/8941

[2020-01-17 15:52] moikot commented on #669
I've got the same issue.

[2020-01-17 16:05] MarcoRossignoli commented on #669
@moikot can provide a "repro"?

[2020-01-17 16:38] moikot commented on #669
Please find it here https://github.com/moikot/async-await-coverage

[2020-01-17 16:48] MarcoRossignoli commented on #669
Great thank's I'll take a look asap.

[2020-01-19 21:48] tonerdo commented on #683
Many thanks for driving this @MarcoRossignoli and @petli. Removing support for msbuild is gonna be a big change especially because it's still the most used flavour. I'm not against going in this direction, but I think this is something that needs to be carefully thought through. Here are some of my thoughts/concerns:

* We still need to give the collector feature parity with msbuild if we want tha

[2020-01-19 23:56] daveMueller commented on #559
I'm currently working on this and think about the message to be logged?
Actually I'm also a bit confused why ```true``` is returned when the provider throws. How is instrumentation working when the source can't be found?

[2020-01-20 08:20] MarcoRossignoli commented on #559
A warning like "BadImageFormatException during MetadataReaderProvider.FromPortablePdbStream in PortablePdbHasLocalSource, unable to check if module has got local source"

That is only the procedure to automatically exclude dll that we're "SURE" that we cannot instrument, it's a new feature and wasn't present in past, so my idea is to "preserve" old semantic and go on like the check doesn't exist.

[2020-01-20 09:23] MarcoRossignoli commented on #683
I started this issue with `Shutdown` but it was a bit provocative, my real idea was flow only core lib updated(mainly coverage improvements) and does not invest any more effort on it(new switch parameter or complex feat fix like with misused merge https://stackoverflow.com/questions/53255065/dotnet-unit-test-with-coverlet-how-to-get-coverage-for-entire-solution-and-not).

Yes this was my idea for

[2020-01-20 11:13] petli commented on #683
The biggest problem I see with vstest now is that it's difficult to keep track of the output files unless wrapping the usage in a script that sets up a clean output directory (see https://github.com/ncalc/ncalc-async/blob/master/test/NCalcAsync.Tests/run-code-coverage.ps1 e.g.)

I see a role for the tool here to run tests on a solution or one or more projects, capturing the reports in a temporary

[2020-01-20 11:17] MarcoRossignoli commented on #683
You mean launch a command uses collectors(maybe some new verb) and at the end(I need to understand when how the first dotnet process know when all it's end and exits, I think that are all child process) do merge/check thresholds etc...

[2020-01-20 14:13] petli commented on #683
Yes, it could take command line flags or an existing runsettings file and then:

1. Create a temp directory for output files
2. Create a temp runsettings file that encodes the union of settings and points to the temp directory for the output files
3. Runs the specified tests with the vstest collector and the temp runsettings file
4. Processes the output files in the temp directory according to the

[2020-01-20 14:13] #689 closed

[2020-01-20 15:35] MarcoRossignoli commented on #683
Personally I'm not convinced of "coverlet" command for run all ceremony. I don't like the idea to "hide" `dotnet test` command to users. That commands could change in future and we have to follow all changes every release.
I prefer add to tool features not supported by design. I'd like more granular approach and a dev pick up what he wants i.e.:

Scenario: I've only one test proj
[code]
Scenario:

[2020-01-20 22:40] LeMorrow commented on #669
Having the same problem with my repo. Coverage dropped from 100% to 93% without any changes in source code.

See https://coveralls.io/builds/28220011 (repo: https://github.com/LeMorrow/APOD.Net/tree/develop)
Not sure exactly what information you need from me, let me know how I can help :)

[2020-01-21 09:12] MarcoRossignoli commented on #669
@LeMorrow can you isolate a small repro the @moikot one(where I'm investigating) seem without ConfigureAwait.

[2020-01-21 10:27] adrianhara commented on #345
It would be great to have such an option in coverlet console. Imagine you have a lot of tests which take a long time to run. With the current approach a build pipeline would have to run tests twice (once the tests + once coverlet) to ensure the build breaks if any tests fail. If coverlet would expose an option to allow breaking the build if any tests fail, then the tests could be run just once as

[2020-01-21 10:55] ViktorHofer commented on #345
The issue with that approach is that you aren't testing what you're shipping. Coverlet instruments the source assemblies so that the IL Code is different (mainly larger). Even though this probably doesn't cause issues in most cases, there could be different behaviors in time critical scenarios / races.

[2020-01-21 11:29] MarcoRossignoli commented on #345
Confirm @ViktorHofer concern happen sometime https://github.com/tonerdo/coverlet/issues/511#issuecomment-519446983

[2020-01-21 11:31] adrianhara commented on #345
It's a valid point and for sure the option is not for everyone, but it would still be nice to have it :smile_cat:

[2020-01-21 15:21] petli commented on #683
I mostly agree, but there is one issue I see with

The user need to make sure the results directory doesn't contain coverage files from an old run. Maybe this requirement is ok since the tool verb will primarily be used in build steps or scripts or interactively when trying to get coverage testing running in the first place, but it could cause confusion if used repeatedly by interactive users.

[2020-01-21 15:24] MarcoRossignoli commented on #669
Guys I found the issue...I'PR a fix asap.

[2020-01-21 15:41] MarcoRossignoli commented on #683
Yes, could happen...btw the issue today is present for official `dotnet test ...--results-directory:C:\SolutionResults` I mean if someone wants coverage or stuff under that folder vstest will add random guid to not override repeated runs, but if I want interactively run and generate I need to use some `/**/`(for instance for reportgenerator) and the issue is still here, right?
Peter let me know if

[2020-01-21 16:01] petli commented on #683
Yes, the issue exists today, but is handled by the ability of the msbuild/coverlet.console collectors to merge coverage files for non-parallel test runs.  Though a similar situation exists there, if accidentially merging a new test run into the coverage file for an old run.

The reason I suggested a `coverlet test` command is to hide that messiness from the user, instead of having to always clean

[2020-01-21 16:05] MarcoRossignoli commented on #683
Clear, @tonerdo what do you think?

[2020-01-22 09:50] #669 closed

[2020-01-22 09:54] MarcoRossignoli commented on #669
Hi devs please can you try the master version using our nightly build and tell me if works as expected? https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md tomorrow fix PR will land inside packages!

Thank's a lot for helping coverlet!

[2020-01-22 11:15] MarcoRossignoli commented on #575
@Rjae any news?

[2020-01-22 11:16] MarcoRossignoli commented on #665
@ranouf  any news?
Feel free to close if solved.

[2020-01-22 11:17] MarcoRossignoli commented on #624
Close for stale conversation after two ping.
Feel free to re-open if needed.

[2020-01-22 11:17] #624 closed

[2020-01-22 11:20] MarcoRossignoli commented on #571
Close for stale conversation.
Feel free to re-open if needed!

[2020-01-22 11:20] #571 closed

[2020-01-22 14:31] JimBobSquarePants opened #700 "Coverage is inconsistent following Xunit upgrade."
### Issue
Following upgrade to xunit 2.4.1 from 2.3.1 in the ImageSharp repo certain tests do not run and no coverage is calculated.

For example.

Baseline coverage **83.79%**
https://github.com/SixLabors/ImageSharp/runs/398717930#step:11:424

Following upgrade **63.28%**
https://github.com/SixLabors/ImageSharp/runs/402256993#step:11:399

As you can see from the hosted report an entire section of

[2020-01-22 15:41] MarcoRossignoli commented on #700
Some question,
Are you using msbuild integration(msbuild /p:CollectCoverage=true) or vstest integration(dotnet test --collect:"XPlat Code Coverage")?
Do you see difference in "number of test ran"?I mean xunit shows a different number of test found between two version?
Do you see difference in a particular tfm?(I'm working on a similar issue but only for net472 https://github.com/tonerdo/coverlet/i

[2020-01-23 04:42] JimBobSquarePants commented on #700
Hi @MarcoRossignoli thanks for getting back so swiftly.

I'm using it via the following command.

[code]
The post upgrade runs an additional two unit tests, non of which are related to the missing coverage results.

Running the same tests in Debug leads to a result of **48.25%** which again, I know to be inaccurate. (I run in Release as it means 10min shorter build times.)
https://github.com/SixLa

[2020-01-23 06:06] moikot commented on #669
I will be able to try in a couple of days.

[2020-01-23 10:19] roostaamir opened #701 "Add possibility to give warning coverage is below the threshold instead of just failing the build"
Currently there is a possibility to specify a threshold for the coverage result and if the coverage percentage is below the threshold, then the build fails

We have a requirement in our project to just give warnings when coverage is lower than the threshold (instead of failing it). Therefore, I think it could be a good idea to add an option to the threshold functionality to specify whether the bui

[2020-01-23 10:58] MarcoRossignoli commented on #701
Thank's for the advice, we'll wait to see thumb up and comment from community.

[2020-01-23 13:16] soroshsabz commented on #480
I have an [open source project in GitHub](https://github.com/BSVN/Commons/pull/10), and we have problem to reporting testing result from issue https://github.com/Romanx/Cake.Coverlet/issues/30 , we install Coverlet.MSBuild to Test project, but we got this error in [appveyor](https://ci.appveyor.com/project/soroshsabz/commons/builds/30308724) . did you can any help, please reopen this issue @MarcoR

[2020-01-23 14:06] roostaamir commented on #701
I'm working on a local version of the change myself. Can I do a pull request for this or should I wait for thumbs ups?

[2020-01-23 14:31] MarcoRossignoli commented on #701
It depends, are you adding one more switch?

[2020-01-23 14:44] #480 closed

[2020-01-23 14:47] MarcoRossignoli commented on #480
@soroshsabz seem not related to coverlet I did some test with your project you need to update some ref to run nunit test with `dotnet test`

https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-nunit#creating-the-test-project

![image](https://user-images.githubusercontent.com/7894084/72994485-79eccd00-3df7-11ea-8db5-199ca6102885.png)

run
[code]

![image](https://user-images.git

[2020-01-23 15:03] MarcoRossignoli commented on #700
With `2.8.0` and `2.3.1` all is ok?To be sure that is related to xunit interaction.
Unrelated if you can you should move to collectors https://github.com/tonerdo/coverlet#vstest-integration-preferred-due-to-know-issue

[2020-01-23 15:27] roostaamir commented on #701
Yes.

[2020-01-23 15:32] MarcoRossignoli commented on #701
Can you update top issue with the proposal idea?So we can talk about.

[2020-01-23 15:53] soroshsabz commented on #480
Thanks you very much :) @MarcoRossignoli

[2020-01-23 15:56] MarcoRossignoli commented on #480
You're welcome!

[2020-01-23 15:57] MarcoRossignoli commented on #480
Ah @soroshsabz if you can use vstest integration that is better than msbuild https://github.com/tonerdo/coverlet#vstest-integration-preferred-due-to-know-issue if you're in trouble let me know.

[2020-01-23 16:12] roostaamir commented on #701
Sure. I will add a snippet tonight

[2020-01-24 03:02] JimBobSquarePants commented on #700
Yeah OK with both of those versions.
Baseline coverage **83.79%**
https://github.com/SixLabors/ImageSharp/runs/398717930#step:11:424

I'll have a look at migrating across. I saw you're planning to drop MSBuild support.

[2020-01-24 09:47] MarcoRossignoli commented on #700
"Drop" is heavy we've a lot of users on it, but the idea is to move(at our pace) to maintain only integration with vstest collector to avoid know issue(behaviour of vstest engine) and have a less drift between drivers feature(we need to keep a set of feats, threshold check and merge on all), but we're in the discussion stage.

[2020-01-24 10:50] JimBobSquarePants commented on #700
Thanks, I had a play around locally with the collector. It generated a report (how do you set the output file and location btw? The options are different) but not an output to the console.

Having a quick look at the relevant sections in the report though with my limited experience it looked like the results were the same as MSBuild and incorrect.

[2020-01-24 11:31] MarcoRossignoli commented on #700
Ok thank's for the test, I noticed that the two ci above uses different file format, the correct one xml(opencover or cobertura)
[code]
and the second one(where you see strange percentage) lcov,
[code]

 is this ok?If you run using opencover/cobertura with new xunit version the percentage drops again?(to exclude a report generator bug)

Collectors are pretty new and we're porting msbuild/.net tool

[2020-01-24 20:10] moikot commented on #669
@MarcoRossignoli I tested my project using master, it seems like the coverage is calculated properly. Thank you for your prompt fix!

[2020-01-24 20:16] MarcoRossignoli commented on #669
Glad to hear thank you very much for the test and for using coverlet!

[2020-01-24 23:31] JimBobSquarePants commented on #700
I just ran the test locally using the opencover output with the following results.

[code]

[code]

So it looks like this is even worse.

I'm not precious about the output format at all as long as Coveralls supports it. The switch was made because it was a 10mb difference in output file size.

[2020-01-24 23:33] MarcoRossignoli commented on #700
Ok tomorrow I'll go on with the investigation... thanks for the support!

[2020-01-25 04:07] saucecontrol commented on #578
I'm getting similar results with this project:  https://github.com/saucecontrol/Blake2Fast/tree/azure-coverage

What I've found is that when I run locally, I get correct results with netfx target on 32-bit

[code]

with the following runsettings:

[code]

However, if I switch to `<TargetPlatform>x64</TargetPlatform>`, I get 0% coverage.

On Azure Pipelines, I get 0% coverage under either config.

[2020-01-25 07:34] MarcoRossignoli commented on #578
Thanks for the info, I'm on it at the moment maybe it's also related to another similar issue #700

[2020-01-25 07:47] JimBobSquarePants commented on #700
I don't know if this helps but I just ran coverage analysis via Visual Studio on the code which returned the result 83.79% which is what I would expect.

![image](https://user-images.githubusercontent.com/385879/73117867-279ae000-3fa0-11ea-987b-f17ae3d1f752.png)

[james_MJÖLNIR 2020-01-25 18_19_36.coverage.txt](https://github.com/tonerdo/coverlet/files/4111710/james_MJOLNIR.2020-01-25.18_19_36.cov

[2020-01-25 07:49] saucecontrol commented on #578
Great, thanks!  Mine doesn't look the same as #700, and actually it might not be the same as this one either.  My tests aren't failing to run, only to generate correct coverage.

netfx 32-bit results:

[code]

netfx 64-bit results

[code]

This is from a local run.  Again, it reports 0% under both configs when I run it in Azure Pipelines.

By the way, I've tried both the default collector and cove

[2020-01-25 07:56] MarcoRossignoli commented on #700
Thank's I don't know how coverage in vs works. Btw this/next days I'll work on this and hope is also related to the other similar one 🤞

[2020-01-25 08:05] MarcoRossignoli commented on #578
Ok thank's!

[2020-01-25 08:29] JimBobSquarePants commented on #700
Much appreciated. Best of luck!

[2020-01-25 08:43] MarcoRossignoli commented on #700
@JimBobSquarePants I get some exception if I move to 2.4.1 ` System.ArgumentException : GenericArguments[0], 'SixLabors.ImageSharp.Color', on 'Void Generic_To[TDestPixel](TDestPixel)' violates the constraint of type 'TDestPixel'.`

I think is related to ``

Can I use this branch to repro https://github.com/SixLabors/ImageSharp/compare/af/improve-tests?

[2020-01-25 08:52] JimBobSquarePants commented on #700
You can use the master branch now. We've just merged the PR containing that branch.

[2020-01-25 09:12] MarcoRossignoli commented on #700
Mmm I need also the previous version your new packages config does not allow come back to old xunit to compare because remote executor wants 2.4.1 asserts lib, BTW to be close to CI I've cloned two time with and without PR for now

[2020-01-25 09:24] JimBobSquarePants commented on #700
No problem. Here's a branch to use.

https://github.com/SixLabors/ImageSharp/tree/js/coverlet-comparison-do-not-delete

[2020-01-25 09:28] MarcoRossignoli commented on #700
Great thank's!

[2020-01-25 14:27] MarcoRossignoli commented on #578
@saucecontrol can you try to use collectors? the 0% issue usually is related to know issue with msbuild

https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#1-vstest-stops-process-execution-earlydotnet-test

For now if you use a collector with version greater than 1.0.0(last is 1.2.0) you need also to use preview sdk test plat

https://github.com/tonerdo/coverlet/blob/maste

[2020-01-25 18:10] MarcoRossignoli commented on #683
Added draf on new verbs https://github.com/tonerdo/coverlet/pull/704 please take a look!

[2020-01-25 18:27] saucecontrol commented on #578
I've tried coverlet.collectors before with no change in behavior, so I rolled back to the simpler config.  I have just tried again with the latest version(s), and no change.  I updated my `azure-coverage` branch with the collectors config in case you have time to look it over.

I'm running tests with the following cmdline

[code]

Is there something I'm missing?

Also, I'm happy to create a new is

[2020-01-25 18:41] MarcoRossignoli commented on #578
Better create a new issue seem a different issue BTW this is our hello word sample  https://github.com/tonerdo/coverlet/tree/master/Documentation/Examples/VSTest/HelloWorld

[2020-01-25 18:49] saucecontrol opened #705 "0% coverage reported on netfx target"
Migrating this issue over from https://github.com/tonerdo/coverlet/issues/578 comments

When running tests locally, I get correct results with netfx target on 32-bit

[code]

with the following runsettings:

[code]

However, if I switch to `<TargetPlatform>x64</TargetPlatform>`, I get 0% coverage.

On Azure Pipelines, I get 0% coverage under either config.

The netcore targets are correct no matte

[2020-01-25 18:50] saucecontrol commented on #578
Ha, no problem 😄.  I appreciate you looking into it.

Created a new issue https://github.com/tonerdo/coverlet/issues/705

[2020-01-25 19:07] saucecontrol commented on #705
@MarcoRossignoli  I created my collector config based on an older version of the workaround doc.  I see current examples omit the `InProcDataCollectionRunSettings` element from the config.  Is that something that's built in to the newer `Microsoft.NET.Test.Sdk` versions?

I'm also not understanding the connection between the `DataCollectors` element in the runsettings and the `--collect` arg on th

[2020-01-25 20:35] LeMorrow commented on #669
Sorry for the late reply. I'm still seeing this issue after trying `2.8.6-g8cb1ebc0da`.

This is in the context of a GitHub Actions workflow (specifically, [this one](https://github.com/LeMorrow/APOD.Net/actions/runs/31386873/workflow))
[code]

The coverage remained the same for the commit, as you can see here on coveralls: https://coveralls.io/builds/28326307.

An example of where this error stil

[2020-01-26 17:05] MarcoRossignoli commented on #700
Fixed in https://github.com/SixLabors/ImageSharp/pull/1094 wasn't xunit issue but https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#1-vstest-stops-process-execution-earlydotnet-test

[2020-01-26 17:05] #700 closed

[2020-01-27 15:17] MarcoRossignoli commented on #669
@LeMorrow  cloned and debugged your sample, I cannot push a sample PR because I don't have permission on worfklow
[code]
BTW this is my version of `ApodTests.csproj`
[code]
On root solution add a file named `Nuget.Config`
[code]
Add a runsettings file under `ApodTests` folder like
[code]
Final patch to `build.yml`
[code]
In this way you're using collectors and not msbuild version, collectors are t

[2020-01-27 15:42] LeMorrow commented on #669
@MarcoRossignoli Thank you, I will try using collectors and get back to you within a few days.

[2020-01-27 19:39] MarcoRossignoli commented on #705
Yes in-process collector is injected automatically when we use `--collect:"XPlat Code Coverage"` since .NET Core SDK v2.2.401.

Yes, when you pass --collect:"XPlat Code Coverage" OutOfProc and InProc collectors will be loaded using coverlet.collector.dll you reference. The settings file is needed to specify non default options and they flow to OutOfProc collector.

There is a bug in vstest on inpr

[2020-01-27 21:25] MarcoRossignoli commented on #705
@saucecontrol I've updated vstest guide with more details https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md

[2020-01-27 21:57] roostaamir commented on #701
Sorry for the delay. This weekend was not my best.

So here's how I wanted to tackle this problem. First I would introduce a new `CommandOption` for the console to accept. Something like this:

`CommandOption thresholdAction = app.Option("--threshold-action", "The action to take when coverage is the below the threshold value. Defaults to stop the build", CommandOptionType.SingleValue);`

Then I wo

[2020-01-28 10:26] MarcoRossignoli commented on #701
@roostaamir look fine to me, if you work on this you should also add same new switch to msbuild version https://github.com/tonerdo/coverlet/blob/master/src/coverlet.msbuild.tasks/CoverageResultTask.cs#L214

[2020-01-28 22:48] LeMorrow commented on #669
@MarcoRossignoli Hello, the problem for me with using collectors is that I can't get a predicatble path to the `coverage.info` (unless I'm missing something). They end up in `coverage/very-long-hash-number/coverage.info`. Example: `coverage/d0d865aa-43cb-4b9c-8ca6-bf24c61d84fd/coverage.info`.
This is after adding a `ResultsDirectory` to the `.runsettings`.
[code]

To use https://github.com/coveral

[2020-01-29 08:36] aalmada opened #714 "0 byte coverage.info"
I'm trying to upload the coverage report to _coveralls.io_ using _GitHub Actions_.

I'm using the [coverallsapp/github-action](https://github.com/coverallsapp/github-action/) action which supports the `lcov` report format.

I'm executing the folowing:

`dotnet test ./NetFabric.Hyperlinq.UnitTests/NetFabric.Hyperlinq.UnitTests.csproj -f:netcoreapp3.0 -p:CollectCoverage=true -p:CoverletOutputFormat=

[2020-01-29 10:07] MarcoRossignoli commented on #669
Ok you can use msbuild version but you could hit https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#1-vstest-stops-process-execution-earlydotnet-test
So you could ad a simple script that move file to fixed folder before load to coveralls and open an issue on that repo to support glob pattern.

[2020-01-29 10:29] MarcoRossignoli commented on #714
Hi Antão come back asap. BTW I cloned and I cannot compile with
[code]
Fresh repo

[2020-01-29 11:02] MarcoRossignoli commented on #714
You should upgrade coverlet to `2.8.0` or better use collectors https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md the only bad thing is that generated coverage file is not in a stable folder name because vstest put file in `Folder/guid/file.lcov` so you have to move file in a fixed folder for coveralls(or open a issue on that repo for glob pattern support)

Second

[2020-01-29 19:42] saucecontrol commented on #705
Thanks again for looking into this and for the doc update.  That clears some things up for sure.  From what I can see, at worst I had some redundant config values set.  I don't see anything different in your example than what I've tried.

However, AFAIK if you don't specify otherwise, the tests run in 32-bit mode, which has been working for me all along on my local machine.  I'll give it a shot ag

[2020-01-29 20:16] MarcoRossignoli commented on #705
I'll force x64 asap and come back!You're right I didn't do that test.

[2020-01-29 21:02] saucecontrol commented on #705
Cool, let me know.  I'm actually not sure if the failure I see locally in x64 has anything in common with the CI failure; it was jus the only way I could get it to fail reliably locally.  If you're not able to identify anything, I'll see if I can get some good logs from CI with the current versions of everything since that's the problem I'm actually trying to solve.

[2020-01-29 22:40] LeMorrow commented on #669
Adding a script that moves the files was a good call, I got it working and the problems with new using and async/await with ConfigureAwait disappeared :)

For future reference if anyone encounters the problem, take a look at the relevant files below.

`build.yml` (GitHub Workflow)
[code]

`ApodTests.csproj`
[code]

`.runsettings` in the root test folder (with `ApodTests.csproj`)
[code]

And finall

[2020-01-29 22:41] MarcoRossignoli commented on #705
I can repro with collectors and it happens only for net46(resolve issue on test host), next days I'll try to understand if happens also with msbuid.

[2020-01-29 22:43] MarcoRossignoli commented on #669
Glad to hear...thank you for the documentation

[2020-01-29 23:00] aalmada commented on #714
@MarcoRossignoli Thank you so much for going into all this trouble.

There's no urgency. Today I won't have time to test all your suggestions.

I'd love to try the collectors. It makes it so much simpler.

[2020-01-29 23:14] MarcoRossignoli commented on #714
For collector is the same filter story!

[2020-01-30 01:18] przerull opened #717 "Zero Coverage Reported coverlet.msbuild"
So I run

`dotnet test /p:CollectCoverage=true /p:CoverletOutput=./coverage_report/raw_coverage_results.xml /p:CoverletOutputFormat=cobertura`

I see that my tests ran successfully

[code]

But my resulting file (.\coverage_report\raw_coverage_results.xml) ends up having no information. Just the following:

[code]

Here's my result of `dotnet list package`

[code]

I have a feeling this may have t

[2020-01-30 09:36] robertlarkins commented on #357
Not sure if this should be a separate question, or asked here, but is it possible to do solution wide coverage using the coverlet .Net global tool? I'm using coverlet in Azure Pipelines and would like it to be system agnostic (Linux, Windows, Mac). The task I'm running looks like this:
[code]
But could it target a directory and run all tests projects under that directory? Or target a solution file

[2020-01-30 10:32] MarcoRossignoli commented on #717
Maybe you're hitting https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#1-vstest-stops-process-execution-earlydotnet-test
Can you try to use collectors https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md?

[2020-01-30 10:36] MarcoRossignoli commented on #357
Why don't use collectors https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md? Why .NET tool?

Coverlet is cross platform and works cross plat for every "drivers" you're using https://github.com/tonerdo/coverlet#quick-start but the collectors is the preferred way to consume due to integration with vstest platform and you can run command on sln(it generates one coverag

[2020-01-30 15:47] przerull commented on #717
Hey thanks for the quick response.

I attempted to use collectors by installing coverlet.collector then running `dotnet test --collect:"XPlat Code Coverage"`

The xml file was produced in the TestResults\guid folder but it had the same results as when I used coverlet.msbuild.

I also updated Microsoft.NET.Test.Sdk to 16.5.0-preview-20200116-01 and still got the same result

[code]

[2020-01-30 15:49] MarcoRossignoli commented on #717
Can you share a repro?Or project is on github?

[2020-01-30 15:50] MarcoRossignoli commented on #717
You can try to enable logs and check if the lib you want to instrument is skipped for some reason https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration

[2020-01-30 16:04] FreedCapybara commented on #584
For what it's worth, I'm seeing this on a non-lambda:
![coverlet](https://user-images.githubusercontent.com/7003723/73466234-95079180-434f-11ea-812c-8df851fadc48.png)

which works if I de-asyncify the code:
![fixed](https://user-images.githubusercontent.com/7003723/73466739-4d353a00-4350-11ea-9de1-284ef738dda5.png)

(coverlet.msbuild 2.8.0)

[2020-01-30 16:06] MarcoRossignoli commented on #584
Should be fixed now on master can you try with nightly build https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md?

[2020-01-30 16:06] MarcoRossignoli commented on #584
Fixed in https://github.com/tonerdo/coverlet/pull/702

[2020-01-30 16:06] #584 closed

[2020-01-30 16:06] FreedCapybara commented on #584
That's okay, I belive you -- I'll just wait 👍

[2020-01-30 16:07] MarcoRossignoli commented on #584
cc: @matteoerigozzi

[2020-01-30 16:14] matteoerigozzi commented on #584
I agree, should be solved

[2020-01-30 16:30] przerull commented on #717
Ah the log.datacollector.datetimestamp.txt file appears to provide some useful information.

I filtered out for coverlet messages, and only included the ones I thought were immediately relevent

[code]

Now in the root folder of the project of the assembly I'm trying to test, there is a common.cs file (lower cased).  It's interesting that the c# files which weren't generated due to use of xaml don

[2020-01-30 16:42] MarcoRossignoli commented on #717
you need to skip that source from coverage like https://github.com/tonerdo/coverlet/issues/714#issuecomment-579704498

[2020-01-30 17:14] przerull commented on #717
Ah, thanks again for the help.  You're doing an outstanding job supporting this tool.

I reviewed the code and yes, my common.cs file uses [Fody/PropertyChanged](https://github.com/Fody/PropertyChanged), which injects code into some of the classes in that file to deal with OnPropertyChanged events, making it autogenerated.

It makes perfect sense. Trying to measure coverage on code which gets modi

[2020-01-30 17:14] #717 closed

[2020-01-30 17:23] MarcoRossignoli commented on #717
Glad to hear! thanks for using coverlet!

[2020-01-30 17:55] AlexDenton opened #718 "Failed to get coverage result: Unable to read beyond the end of the stream"
Despite following the recommendation of using the following command:

`dotnet test --collect:"XPlat Code Coverage"`

Because of this known issue https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#1-vstest-stops-process-execution-earlydotnet-test

I still seem to be getting the same issue.

[code]

Is it expected that by using this method I should never get the `Unable to r

[2020-01-30 23:45] robertlarkins commented on #357
At this stage I was only using coverlet as part of the Azure Pipeline, so didn't think the test projects should know or depend on it. I just tried installing coverlet as a nuget package, but as the test project targets netcoreapp3.1 the following errors were produced:
[code]

[2020-01-31 04:39] robertlarkins commented on #357
So I added coverlet.collector as a NuGet package and got it going for a single test project with this:
[code]
But this produces a separate coverage.cobertura.xml file per test project (each in there own guid directory). In this Azure Pipelines context how would I get the individual test results merged together so that a single code coverage publish can be done?

[2020-01-31 08:00] lkurzyniec commented on #357
@robertlarkins my suggestion would be to read both this [article](https://github.com/tonerdo/coverlet/blob/master/Documentation/Examples/MSBuild/MergeWith/HowTo.md) and whole this thread. Then try to achieve solution-wide results locally. After that move your solution to Azure DevOps.

[2020-01-31 08:08] robertlarkins commented on #357
@lkurzyniec Will attempt and see how I get on.

[2020-01-31 12:03] MarcoRossignoli commented on #357
At the moment I've removed from documentation `Merge` support for collectors because we're working on better approach https://github.com/tonerdo/coverlet/pull/704(merge works well only for sequential tests), because as is doesn't work(vstest generates different filenames as you can see).

Actually that parameters is "hidden" but usable, so if you want be sure to not hit https://github.com/tonerdo/

[2020-01-31 16:05] MarcoRossignoli commented on #718
No

Are you sure to setup all correctly? https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md
If so can you share your test project csproj?

[2020-01-31 16:37] AArnott commented on #347
I'm hitting this again, and the workaround doesn't apply, because the test method itself explicitly creates an appdomain and uses shadow copying in order to test that the assembly behaves properly in those conditions.
The only thing I can think of is to exclude this test method from a code coverage run, and then run the test in isolation without the `/p:collectcoverage=true` switch.

[2020-01-31 16:48] MarcoRossignoli commented on #347
Thank's for reporting this Andrew, strongname is applied on your assembly?Do you have the key?
We had an interesting conversation with @SteveGilham on it https://github.com/tonerdo/coverlet/issues/525#issuecomment-524635110 and new Cecil seem supports strong naming on write.
Another thinking is to avoid to support/follow/fix netfx issues and focus on future of .net core and vstest integration.

[2020-01-31 16:50] AArnott commented on #347
Yes, we fully strong name sign as part of the build, so if your instrumenting step could refresh the signature that would work.
.NET Framework is still a force to be reckoned with in my universe. It's a tad early to dismiss it at the moment. That said, I've applied the workaround, which isn't too bad, so if you don't want to deal with it, that's OK.

[2020-01-31 17:01] MarcoRossignoli commented on #347
Thank's for your opinion, it's very appreciated really.
I'm reading/listening on media the trends rumors and I don't have a strong opinion today.
We have a pair of issue on netfx and I'm a "bit" alone at the moment, so my idea is to work more on "default/expected coverlet enviroment", it's the default .net core cross code coverage tool AFAIK and it's the build-in choice for `dotnet test` so I'm pu

[2020-02-02 04:29] abbotware commented on #669
@MarcoRossignoli  - when will this be released?

[2020-02-02 13:48] roostaamir commented on #701
@MarcoRossignoli I'm finished with my pull request about this:
https://github.com/tonerdo/coverlet/pull/720

The only thing I did not know about was the versioning of the package. Please lift the version however you see fit :)

[2020-02-03 13:08] MarcoRossignoli commented on #669
Usually we release every three months so new version is expected at the end of March. We do intermediate release only for serious bug for Instance when fails to run or for security reasons. You can use nightly feed until new release!

[2020-02-04 03:29] AlexDenton commented on #718
It's been working well on build agents so I think it maybe something with my local setup. I'll see if I can reproduce tomorrow.

[2020-02-04 07:26] MarcoRossignoli commented on #718
Be sure to update test sdk package to preview (for now) like in the sample on guide otherwise in process collector won't be loaded and you'll could hit that issue

[2020-02-04 16:58] red8888 opened #721 "What is the latest version with 2.1 support?"
I get this error when trying to install in container **mcr.microsoft.com/dotnet/core/sdk:2.1**

error NU1202: Package coverlet.console 1.7.0 is not compatible with netcoreapp2.1 (.NETCoreApp,Version=v2.1) / any. Package coverlet.console 1.7.0 supports: netcoreapp2.2 (.NETCoreApp,Version=v2.2) / any

what is the latest version of coverlet that supports 2.1? So I dont have to roll back versions unti

[2020-02-04 17:54] red8888 commented on #721
For anyone else that has to support 2.1 the latest version I was able to install on **mcr.microsoft.com/dotnet/core/sdk:2.1** was:

**1.4.1**

[2020-02-05 08:16] MarcoRossignoli commented on #721
@red8888 thank's for "investingating" by yourself.

One question why don't use collectors integration(target from 2.0 and is the preferred way to do coverage today)?

[2020-02-05 15:22] svenskmand commented on #22
Hi :)

I cannot get this to work. If I include the `ExcludeByAttribute` property in my `*.Tests.csproj` file and add a property `GeneratedCode` to my generated code project then Coverlet still computes coverage for the generated code. Similarly if I add the property `ExcludeFromCoverage` to my generated code project coverage is again still computed for the project.

Here is my `*.Tests.csproj` fil

[2020-02-05 15:26] MarcoRossignoli commented on #22
@svenskmand please open new issue, we'll discuss there.

[2020-02-05 15:29] svenskmand opened #722 "Coverage exclusion does not seem to work :("
Hi :)

I cannot get coverage exclusion as described [here](https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md#excluding-from-coverage) to work. If I include the `ExcludeByAttribute` property in my `*.Tests.csproj` file and add a property `GeneratedCode` to my generated code project then Coverlet still computes coverage for the generated code. Similarly if I add the

[2020-02-05 15:30] svenskmand commented on #22
Ok, thanks :) I have opened a new issue [here](https://github.com/tonerdo/coverlet/issues/722).

[2020-02-05 15:44] MarcoRossignoli commented on #722
What do you mean for "property"?

Do you want to skip coverage for all compiled assembly?I mean you generate all code of one project and you want to exlude that lib(generated.dll) from coverage?

[2020-02-05 16:34] svenskmand commented on #722
I have a project that only consists of files generated from a ProtoBuf speciation. I want to exclude that project from code coverage. I tried doing that by adding properties/attributes to the `PropertyGroup` partb of my `ProtoBuf.csproj` file. Unfortunately none of my attempts worked. The way I am reading the documentation I am doing it correctly, or can you see what I am doing wrong?

[2020-02-05 16:41] MarcoRossignoli commented on #722
If you want to exclude all project(generated.dll) you can simply add an assembly level attribute(you create a custom file and add to it, will be compiled) `System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage` like in our test sample https://github.com/tonerdo/coverlet/blob/master/test/coverlet.tests.projectsample.excludedbyattribute/SampleClass.cs

Coverlet will skip to instrument that assembl

[2020-02-05 16:44] MarcoRossignoli commented on #722
You don't have to update csproj for the dll `ProtoBuf.csproj`, so remove

[code]

Coverlet get parameters from console `/p:...` or from test csproj.

BTW I advice to use collectors integration https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md
This doesn't change the `System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage` story, will work in the same way.

[2020-02-05 16:48] svenskmand commented on #722
Ok, cool I will try that. I am not very familiar with MSBuild, so from the documentation I throught I should add a property to my MSBuild project file since the documentation was already taking about passing properties to MSBuild when calling `dotnet test` to exclude stuff from having coverage measured.

[2020-02-05 16:56] MarcoRossignoli commented on #722
No worries, let me know...you can check our hello word samples https://github.com/tonerdo/coverlet/tree/master/Documentation/Examples

If your project is oss I can land on your repo and take a look.

[2020-02-05 16:59] MarcoRossignoli commented on #722
Feel free to ask I'll drive you to goal.

[2020-02-06 08:44] svenskmand commented on #722
I now added a file `coverage.cs` to my ProtoBuf project with the following content:
[code]
and now that project is not included in the coverage :) Thanks for the help :D

I think that it would clear up the [documentation](https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md#excluding-from-coverage), if a more explicit explanation is added for how to ignore a class/mo

[2020-02-06 08:47] MarcoRossignoli commented on #722
Glad to head!
Thank you for the advice.

Feel free to close if solved!

[2020-02-06 09:36] #722 closed

[2020-02-07 11:44] svenskmand commented on #722
I just want to give a small update to this that I just discovered. You do not have to create a C# file with the attribute above, the same thing can be done in the `csproj` file like this:
[code]

[2020-02-07 11:53] MarcoRossignoli commented on #722
Oh yes you're right!

[2020-02-07 16:04] acgritt opened #724 "Lambdas in a method marked ExcludeForCodeCoverage are showing up in report"
**Issue:**
Code that is in a function that has the `[ExcludeFromCodeCoverage]` attribute but contains a lambda is getting picked up in the coverage when it should not be due to the attribute.

![image](https://user-images.githubusercontent.com/10471937/74043382-e25ab300-498e-11ea-82fa-84b7398e0135.png)

**Toolset:**
- .NET Core: 3.1
- Coverlet.Collector: 1.2.0
- ReportGenerator: 4.4.6
- Command: `

[2020-02-08 12:22] MarcoRossignoli commented on #724
Should be fixed on master, can you try with our nightly build https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md?

[2020-02-08 12:24] MarcoRossignoli commented on #724
cc: @matteoerigozzi

[2020-02-08 14:15] svenskmand opened #725 "Dll files opened by multiple processes during dotnet test"
When I run `dotnet test /p:CollectCoverage=true`

I get the following exceptions that some dll files built by the project are opened by multiple processes:
[code]

This is my `dotnet --info`:
[code]
If I remove the coverage option then the command runs fine. I do not understand why this has started happening.

[2020-02-08 15:58] rshelby5 opened #726 "Docker RUN with coverlet.msbuild 2.7 shows NaN%"
This used to work but now for some odd reason it is not. Running this command.

`RUN dotnet test -c Release /AttestationService.Test/AttestationService.Test.csproj --logger "junit;LogFilePath=/unit-test-results/unit-test-report.xml" --results-directory /unit-test-results /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutput=/code-coverage-results/CodeCoverage`

Using this pac

[2020-02-08 16:03] matteoerigozzi commented on #724
I agree. Should be fixed

[2020-02-10 07:29] daveMueller opened #728 "Refactore DependencyInjection"
While working on #697, #727 that should close #559 we decided to refactor the static dependency injection container located in core into separated container for each driver. This includes

- [x] Add service to msbuild
- [x] Add service to console
- [x] Add service to collectors
- [x] Add service to tests
- [x] remove ```DependencyInjection```from core
- [x] remove ```DependencyInjectionExtensions`

[2020-02-10 09:17] MarcoRossignoli commented on #725
Some question:

Do you have only one test project?
Are you running command on solution file?
Can you try with `dotnet test /p:CollectCoverage=true -m:1`?

[2020-02-10 09:19] MarcoRossignoli commented on #726
Likely you're hitting know msbuild issue https://github.com/tonerdo/coverlet/blob/master/Documentation/KnowIssues.md#1-vstest-stops-process-execution-earlydotnet-test

can you try with collectors?
https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md

[2020-02-10 09:28] MarcoRossignoli commented on #725
Advice: if possible you should use vstest integration https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md

[2020-02-10 09:42] svenskmand commented on #725
Hi Marco :)

I just run the tests from the command line. I do not use Visual Studio, I use Visual Studio Code as my editor, but I run the tests from the command line using `dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=\"lcov\" /p:CoverletOutput=\"./Datahub/lcov.info\"`

When I just run `dotnet test` it works, so it has something to do with the options `/p:CollectCoverage=true /p:Cov

[2020-02-10 09:44] MarcoRossignoli commented on #725
Intermittent nature is expected on parallel test/build try with this:

[code]

[2020-02-10 09:50] svenskmand commented on #725
I tried `dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=\"lcov\" /p:CoverletOutput=\"./Datahub/lcov.info\" /nodeReuse:false -m:1` which works, but currently the command that did not work before, i.e. `dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=\"lcov\" /p:CoverletOutput=\"./Datahub/lcov.info\"` also works.

I is possible to pass the options `/nodeReuse:false -m:1` as

[2020-02-10 09:52] svenskmand commented on #725
Also I googled a little bit about running tests in parallel when searching for solutions to the problem and I found this flag `/p:ParallelizeTestCollections=false` does that do the same as `/nodeReuse:false -m:1`?

[2020-02-10 09:58] MarcoRossignoli commented on #725
Yes as I said it's possible because the nature of issue is "randomic" if for some timing reason who is using that dll free the lib before restoring issue doesn't bubble up...the flag `/nodeReuse:false -m:1` said to msbuild to build and run tests sequentially and to not reuse the build hosting process. ParallelizeTestCollections seem an xunit settings to serialize tests...but the issue doesn't seem

[2020-02-10 10:12] svenskmand commented on #725
The `-m` (`--maxcpucount`) should be the property `MSBuildNodeCount` according to [the link](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-reserved-and-well-known-properties?view=vs-2019) and I think that `nodeReuse` should be the property `NodeReuse` according to [the link](https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-2013/hh727536(v%3Dvs.120)).

I

[2020-02-10 10:18] MarcoRossignoli commented on #725
It occour in coverlet but it's related to how build/test run. Coverlet restore all instrumented libs at the end of tests, we use an msbuild task(in this case) so seem that also if task should start at the end of tests someone(msbuild/test process) has got that dll loaded and doesn't allow to coverlet to restore(copy) files back.

You could try with vstest integration, maybe solve the issue because

[2020-02-10 17:08] acgritt commented on #724
The nightly build does fix the issue.

[2020-02-10 17:08] #724 closed

[2020-02-11 09:41] olivier-spinelli commented on #363
@tmat Did you (Roslyn team?) consider systematically embedding the $(PathMap) as as either a standardized assembly attribute or as a resource (with a special name)?

[2020-02-11 10:47] Cheesebaron commented on #725
We have this issue as well. It happens intermittenly in Azure DevOps. However, when I run locally it happens _every_ time.

I tried adding both `-m:1` and `/nodeReuse:false` but that doesn't seem to help.

The command I am running looks something like:

[code]

Tried with `dotnet vstest` but it can't seem to find the data collector, even though I specify it and give it the same CodeCoverage.runset

[2020-02-11 10:53] MarcoRossignoli commented on #725
It's possible have a repro?Are one of these project OSS?I remember another user with same issue but I cannot repro in my local so it's hard to understand.

Can you try with my custom patched version? https://github.com/tonerdo/coverlet/issues/572#issuecomment-539871519

[2020-02-11 10:57] Cheesebaron commented on #725
@MarcoRossignoli it is unfortunately not OSS

[2020-02-11 11:00] Cheesebaron commented on #725
OK! Just tried something. Lowered the version of `Microsoft.NET.Test.Sdk` from 16.5.0 to 16.4.0 and now it doesn't fail _every_ time on on my machine anymore. Will investigate a little more.

[2020-02-11 12:15] MarcoRossignoli commented on #725
I've got a suspect...can you try with my patched version? https://github.com/tonerdo/coverlet/issues/572#issuecomment-539871519

[2020-02-11 12:19] Cheesebaron commented on #725
@MarcoRossignoli yep, on it now.

[2020-02-11 12:36] MarcoRossignoli commented on #725
Please try removing InProc sections on xml and add `--diag:log.txt` and re-run, check that on log file *host* there is some row with [coverlet] prefix, I want to understand of you're loading inproc collector correctly

[2020-02-12 15:08] Cheesebaron commented on #725
Yes, the host log file contains this:

[code]

[2020-02-13 08:40] MarcoRossignoli commented on #725
Seem ok...the errors are [logged](https://github.com/tonerdo/coverlet/blob/master/src/coverlet.collector/InProcDataCollection/CoverletInProcDataCollector.cs#L78) so are not a problem, the essential part is
[code]

Double check....if you only update to official 1.2.0 does it work or start to fail?

[2020-02-13 11:33] pinkfloydx33 commented on #159
Having the same issue with private nested classes in C#. For example we have some `DebuggerTypeProxy` related classes that we annotate with `ExcludeFromCodeCoverage`, but it is not actually excluded. Moving to a non-nested class (and polluting the namespace) does correct the issue.

[2020-02-13 11:54] MarcoRossignoli commented on #159
This should be fixed on master dup of https://github.com/tonerdo/coverlet/issues/724

[2020-02-13 23:20] kaosborn opened #729 "Misreport of uncovered branch on first line of iterators"
Below is an example from a minimal program that reproduces an issue where Coverlet misreports an uncovered branch on the first line of iterators.

https://github.com/kaosborn/TestBench/blob/8ff5350eb16069523ba73b4521a5490371379101/Sequences/Numbers.cs#L7-L12

And the test case:

https://github.com/kaosborn/TestBench/blob/8ff5350eb16069523ba73b4521a5490371379101/Test/TestSequences.cs#L9-L20

In thi

[2020-02-14 09:06] MarcoRossignoli commented on #729
Which version/driver type of coverlet are you using?

[2020-02-14 09:08] MarcoRossignoli commented on #729
@matteoerigozzi what do you think?IIRW there was an issue on enumerator fixed on master...

[2020-02-14 10:16] kaosborn commented on #729
coverlet.collector v1.2.0; coverlet.msbuild v2.8.0; Microsoft.NET.Test.Sdk 16.4.0; MSTest.TestAdapter v2.0.0; MSTest.TestFramework v2.0.0

Right, the trivial project referenced above. This issue also dings the stats on two of my other "real" projects.

[2020-02-14 10:22] MarcoRossignoli commented on #729
Remember if you're using collector you need to reference updated version of `Microsoft.NET.Test.Sdk` https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md

BTW is not related to issue is reported.

[2020-02-14 19:48] zmhh opened #730 "Coverage Incorrect for Async Method using Linq"
Latest of everything:
[code]

If an async method uses Linq, coverage for all lines except the linq line(s) will be missing. Thus all other lines in the method are implied as uncoverable.

The following solution reproduces the issue and has the output file which shows the issue.

[CoverletExample.zip](https://github.com/tonerdo/coverlet/files/4206504/CoverletExample.zip)

To reproduce, perform the