[2019-05-22 06:11] vagisha-nidhi commented on #395
@MarcoRossignoli @tonerdo  dotnet sdk version 2.2.300 has been released. You can download it from [https://dotnet.microsoft.com/download/dotnet-core/2.2](https://dotnet.microsoft.com/download/dotnet-core/2.2) and try it out. Then we should be able to release the nuget.

[2019-05-22 07:54] MarcoRossignoli commented on #417
`dotnet test` doesn't know about coverlet, we inject custom target and instrumentation will be triggered by `CollectCoverage=true` prop https://github.com/tonerdo/coverlet/blob/master/src/coverlet.msbuild.tasks/coverlet.msbuild.targets#L8
Default is false https://github.com/tonerdo/coverlet/blob/master/src/coverlet.msbuild.tasks/coverlet.msbuild.props#L3

Can you provide simple repro or simple ste

[2019-05-22 08:16] MarcoRossignoli commented on #395
I'll do test ASAP, I found also an issue, on coverlet.core we use Newtownsoft.Json 9.x.x but this version has got a bug and doesn't use converter in a correct way...we didn't hit issue on test because seem that msbuil load version 10.x.x and not referenced one. What does vstest runner load?I'll upgrade to 10.x.x on next PR(I'm working on custom runner for instrumentation tests)

[2019-05-22 09:36] MarcoRossignoli commented on #395
@vagisha-nidhi @tonerdo doing some tests:
* ok for `--collect:"XPlat Code Coverage"` also report is ok.
[code]

* issue with `coverletArgs.runsettings`
[code]
[code]

Doing some investigation.

[2019-05-22 10:15] vagisha-nidhi commented on #395
@MarcoRossignoli Rooted down the cause. This is happening because of the * character in  `<IncludeDirectory>../dir1/*,../dir2/,</IncludeDirectory>`.  It fails to combine the path here [https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Helpers/InstrumentationHelper.cs#L47](https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Helpers/InstrumentationHelper.cs#L47) conside

[2019-05-22 10:31] MarcoRossignoli commented on #395
@vagisha-nidhi strange...I didn't passed that param...I'm using an empty on like
[code]

[2019-05-22 10:34] MarcoRossignoli commented on #395
@vagisha-nidhi never mind...I used wrong settings, your analysis it's correct.

[2019-05-22 10:36] vagisha-nidhi commented on #395
Yeah. First of all, we should update the documentation so that nobody faces it if they are directly using the runsetings from what written in the documentation.

[2019-05-22 11:00] vagisha-nidhi commented on #395
@MarcoRossignoli Also, dotnet vstest scenario won't work with this release of sdk. It will be available with the next release.

[2019-05-22 11:05] MarcoRossignoli commented on #395
@vagisha-nidhi let me do some other tests to undestand why that config works in past...after that I'll update the docs.

[2019-05-22 11:49] ViceIce commented on #357
*Directory.Build.props:*
[code]

*Directory.Build.targets:*
[code]

[2019-05-22 12:59] MarcoRossignoli commented on #395
My tests are ok, some logs
[code]
Simple test code:
[code]
Report
![image](https://user-images.githubusercontent.com/7894084/58176131-e9774f00-7ca1-11e9-8421-5fc596e764b7.png)

I think that we could publish cc: @tonerdo @vagisha-nidhi

[2019-05-22 13:34] david-77 commented on #417
Thanks for your help, it's complicated to communicate a sample of the code right now. So I give you the steps I realised.
It's have a .net core 2.2 application using Xunit 2.4.1.
I open the project in Visual Code, and open the terminal view. I go to the project's root directory "cd Repos\Services\AService.Tests" and then I submit the following command :
`PS C:\Repos\NeoGO\PM_M_Service\PM_M_Service

[2019-05-22 13:54] vagisha-nidhi commented on #395
Great! Once this is released, I can add its reference to the unit test csproj template.

[2019-05-22 16:01] tonerdo commented on #395
Awesome. Will make a release within 24 hours

[2019-05-22 16:10] MarcoRossignoli commented on #395
@vagisha-nidhi before add reference I would like to do some tests with nuget package...only to be sure that all it's ok.

[2019-05-22 16:12] vagisha-nidhi commented on #395
@MarcoRossignoli Sure. Let me know abour that.

[2019-05-22 17:05] MarcoRossignoli commented on #395
@tonerdo just a moment maybe we missed one features from collectors
@vagisha-nidhi do we need to notify threshold fails?
On msbuild and console we do it i.e.
https://github.com/tonerdo/coverlet/blob/master/src/coverlet.msbuild.tasks/CoverageResultTask.cs#L124
https://github.com/tonerdo/coverlet/blob/master/src/coverlet.console/Program.cs#L143

But no on collector https://github.com/tonerdo/coverle

[2019-05-23 03:15] vagisha-nidhi commented on #395
@MarcoRossignoli @tonerdo
Yeah we missed this. I can take this up as follow up enhancement. But since `dotnet test --collect:"XPlat code coverage"` is an entirely new switch and not going via any existing coverlet invocation points, the feature shouldn't impact customers in a negative way even if not present. If we are able to release a beta version also, we could get early feedback on what more n

[2019-05-23 06:00] vagisha-nidhi commented on #395
@MarcoRossignoli
So I had a discussion regarding this. It might not be possible to just throw an exception and fail a test run in test platform using the datacollector. I will have to look deeper into it if we need any changes on the test platform side for failing a test run if a datacollector tells to. Aborting test run will not be a good option. I would not like to block the release based on thi

[2019-05-23 06:08] MarcoRossignoli commented on #395
@vagisha-nidhi @tonerdo if it's not "fully supported" by test plat at the moment I'm ok with release this version, we'll support it in future based on user feedback, we can release package!

[2019-05-23 07:25] MarcoRossignoli commented on #417
@david-77 can you try to produce verbose logging to understand well what's happening https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration

[2019-05-24 06:13] vagisha-nidhi commented on #395
@tonerdo @MarcoRossignoli I think we can go ahead with releasing the nuget. I have done some testing from my side as well.

[2019-05-24 08:43] MarcoRossignoli opened #421 "Use solution wide Directory.Build.targets to keep references in sync"
Could be useful keep in sync references(i.e. newtosoft etc...) between all project using `Directory.Build.targets` files.

Sample https://www.strathweb.com/2018/07/solution-wide-nuget-package-version-handling-with-msbuild-15/

cc: @tonerdo

[2019-05-24 10:17] MarcoRossignoli commented on #395
:shipit:

[2019-05-24 11:37] tonerdo commented on #395
@vagisha-nidhi @MarcoRossignoli do you think I should release it as a pre-release beta or is stable enough for a `v1.0.0`?

[2019-05-24 11:41] MarcoRossignoli commented on #395
One step a time?`1.0.0.0-beta1`?

[2019-05-24 12:23] vagisha-nidhi commented on #395
@tonerdo @MarcoRossignoli  A beta package is good enough for people to get their hands on. Plus we'll be able to know if there is any major issue that we should fix right away.

[2019-05-24 12:55] MarcoRossignoli commented on #403
Per offline discussion...I take this for first part, generate packages and upload to some nuget server, I'll try to setup private service for dev. cc: @tonerdo

[2019-05-26 21:13] tonerdo commented on #403
Nightly feed: https://www.myget.org/feed/Packages/coverlet-dev

[2019-05-26 21:57] MarcoRossignoli commented on #403
Index path https://www.myget.org/F/coverlet-dev/api/v3/index.json

[2019-05-27 00:50] AArnott opened #431 "Coverlet.Collector.nuspec puts files in the wrong folder"
The checked in Coverlet.Collector.nuspec file is missing this tag:
[code]
which I'm guessing *should* be there since in fact it is present in the .csproj file, but not in the checked in nuspec file.

Also: all the files included in the package are placed under the `build\netcoreapp2.0` folder, which will make the NuGet package only able to install into other .NET Core 2.0+ projects. But since this

[2019-05-27 00:51] AArnott commented on #431
I'm preparing a fix for these issues, which also eliminates the checked in nuspec file so that you don't have two files to maintain -- just the csproj.

[2019-05-27 01:15] AArnott opened #433 "build.proj results in building projects repeatedly"
When using build.proj, the dotnet build, dotnet test, and dotnet pack commands are all used in succession, and each one builds the projects.

We could fix this by adding `--no-build` in front of the non-build commands, but then the build will fail if the user tries to build just the test target and the build hasn't been done (or is out of date).

The best way to fix this would be to either make bu

[2019-05-27 03:26] AArnott commented on #433
After #434 and #430 are merged, I believe the only thing left is to just delete build.proj and adjust the build yml file to run `dotnet` directly. For artifact collection, `dotnet pack -c $(BuildConfiguration)` should be all you need. But for purposes of building and testing everything, and since it's useful to see package restore as a separate step in Azure Pipelines so you can see how your build

[2019-05-27 09:16] MarcoRossignoli commented on #433
We should update also docs with new command to build/test repo i.e.
[code]
cc: @tonerdo

[2019-05-27 09:38] MarcoRossignoli opened #435 "Consolidate infra artifacts under repo root or eng folder"
At the end of all "refactor" of "builds" we should decide if move all "files"(yaml and scripts) under eng[ineering] folder or simply in root repo.

cc: @tonerdo @AArnott

[2019-05-27 10:29] MarcoRossignoli commented on #403
closed in https://github.com/tonerdo/coverlet/pull/425

[2019-05-27 14:34] AArnott commented on #435
I'm a fan of keeping relatively few files in the root of the repo. In fact I keep a `src` folder in each of my repos where *all* solution-related assets reside. I leave the root of the repo for READMEs and other common interest files. I won't push that too hard here though, since I might be moving `version.json` and `global.json` back to the root of my repos for practical convenience reasons.

I u

[2019-05-27 15:34] MarcoRossignoli commented on #403
Sorry re-open we'll close when documentation will be up-to-da

[2019-05-27 16:14] MarcoRossignoli commented on #403
@AArnott I did some check on nighly build and it works...there is one problem we would have a correct order inside vs on `Latest prerelease` at the moment are ordered in an alphabetic way.
Do we need to use git height?
I would like to have something like `1.0.0-{height}-gxxxxxxxxxx` in this way we should have a correct order and we update every offical release semver of nightly.
What do you think?

[2019-05-27 16:25] AArnott commented on #403
Absolutely. Nb.gv can help you here. Do you want semver v1 compatible or go for v2?

[2019-05-27 16:48] AArnott commented on #403
I'll go ahead and ask this too. Why nightly? Why not just published everything from your CI?

[2019-05-27 17:11] MarcoRossignoli commented on #403
I think we go for v2 but wait @tonerdo confirmation

The idea is to release a new "beta" package version every day we have new "commit" on master.
We publish a package to https://www.myget.org/F/coverlet-dev/api/v3/index.json and let users to try "fix" ASAP because as today we don't have a "rigorous" release plan(we're talking about it off line but for now it's TBD)
At the moment we did(as you see

[2019-05-27 18:07] AArnott commented on #403
No reason for the git hash to be part of your package versions. Those are only added to guarantee uniqueness when building in anything other than your shipping branch(es). Your "nightly" build would presumably come from master, so you wouldn't need the hash. It can instead be a git height based  integer, which will ensure you get the ordering right, which you voiced a concern about.

I don't think

[2019-05-27 18:22] MarcoRossignoli commented on #403
How we can know which `heighted` release refer to which master commit for troubleshooting?

[2019-05-27 18:40] AArnott commented on #403
1. Call `nbgv get-commits <version>` where `<version>` is the 3 or 4 integer version from the package or the assembly file version. See [`nbgv`](https://github.com/AArnott/Nerdbank.GitVersioning/blob/master/doc/nbgv-cli.md).
1. Work backwards through the releases in Azure Pipelines to find the version number that matches and look up the commit that the build was based on.

[2019-05-27 18:41] AArnott opened #438 "Set cloud build number based on official build version"
See [cloud build considerations](https://github.com/AArnott/Nerdbank.GitVersioning/blob/master/doc/cloudbuild.md) for options.

In this repo you have 3 unique version.json files, which begs the question of which version you consider to be "official" or most broadly applicable that you'd want to use as the cloud build number.

[2019-05-27 18:54] MarcoRossignoli commented on #403
Thank's @AArnott for advice!

[2019-05-27 20:02] MarcoRossignoli commented on #438
At the moment are all three "official" we are  treating three package as "separate" product with some difference, we have different feature support between console(dotnet tool) msbuild and collector usage.

[2019-05-27 20:40] AArnott commented on #438
Interesting. Do you intend to continue with 3 distinct versions of packages shipping from each commit?
If so, the a cloud build number probably would be more confusing than anything and you can Won't Fix this.

And FYI, when you want to translate a version number back into a commit, you'll need to specify the path to the project whose version you're starting from:
[code]

[2019-05-27 20:47] AArnott commented on #403
Actually, `nbgv get-commits` isn't going to work well for you since you specify 3 version integers instead of the recommended 2. This is something that I should fix up and filed https://github.com/AArnott/Nerdbank.GitVersioning/issues/340 to track.

In the meantime, how do you feel about moving your versioning to a major.minor.height pattern?

[2019-05-27 20:59] MarcoRossignoli commented on #438
I think so, but maybe @tonerdo can answer better than me he published coverlet before I started to help.
Personally I don't mind for now keep three product separated, as I've said they are "different product" with different features, they share a core lib but with different "supported features", for instance we could fix a collector without touch core lib in that case we bump only collector versio

[2019-05-28 07:49] MarcoRossignoli commented on #403
I'm fixing "nightly release" with new versioning, I think could work for coverlet we could move only major.minor by hand and use automatic height for PATCH, I like it.
After that I'll move nightly release to release pipeline and will remove ps script to have a clean and simple workflow.
When nightly release will be ok(stable) and we feel ok with "new model"(we moved to AZP few time ago, I use AZP

[2019-05-28 14:59] #431 closed

[2019-05-28 15:03] #418 closed

[2019-05-28 15:23] AArnott commented on #403
I've fixed it so it works great in your repo even with a.b.c versions specified in version.json. Those fixes were long overdue and are available in `nbgv` version 3.0.15-beta (pushing to nuget.org in moments), which you can install like this:

[code]

That said, it sounds like you're considering removing the PATCH version from version.json, leaving just major.minor, which serves a lot of folks wel

[2019-05-29 05:47] AArnott opened #444 "Cloud and local builds occasionally fail with "no dependencies nor content""
There seems to be at least one project that occasionally fails to pack. I don't yet know why, but thought I'd file a bug to track when it showed up [in Azure Pipelines](https://dev.azure.com/tonerdo/coverlet/_build/results?buildId=112&view=logs&jobId=37bec900-c686-5858-5c69-ce96aeb4a5fe&taskId=c1643131-9f71-5236-b3f8-6b62b8cc1e19&lineStart=145&lineEnd=145&colStart=1&colEnd=277) as well.

[2019-05-29 06:00] AArnott commented on #444
It turns out this is due to the snupkg symbols package work I've been doing. I'll keep working on it myself since it doesn't impact the shared repo, but is simply blocking #442

[2019-05-29 06:00] #444 closed

[2019-05-29 07:44] vagisha-nidhi commented on #395
@tonerdo @MarcoRossignoli
Is there an ETA on the release of coverlet.collector nuget? I would like to help if any contribution is needed from my end.

[2019-05-29 08:57] MarcoRossignoli commented on #395
Green light to me we've nightly https://www.myget.org/feed/coverlet-dev/package/nuget/coverlet.collector (no perfect yet but enough in case of issue, we're fixing version to be more user friendly inside VS)
We can release a "beta" @tonerdo, current steps:
Now we're using https://github.com/AArnott/Nerdbank.GitVersioning (thank's @@AArnott) first manual pre-release(for now we're working on AZP auto

[2019-05-29 10:44] boldt opened #449 "Issues with NUnit"
I cannot get coverlet running. I added via NuGet:

* NUnit: 3.12.0
* NUnit.ConsoleRunner: 3.10.0
* NUnit3TestAdapter: 3.13.0
* coverlet.msbuild: 2.6.1

I ran my build and test as follows:

[code]

I'm getting the "strong name" issue, see #338 (partly German log):

[code]

In #338. two workarounds are desribed:

a) Downgrade to **2.4.0**
b) Add `/p:Exclude="[xunit.*]*"`

## Workaround a) Downgrade

[2019-05-29 11:56] MarcoRossignoli commented on #449
Can you try this https://github.com/tonerdo/coverlet/issues/347?

[2019-05-29 12:00] boldt commented on #449
I just switched to 2.5.1 and it works now with `dotnet test --no-build /p:CollectCoverage=true`:

![grafik](https://user-images.githubusercontent.com/750793/58555467-d4f30380-8219-11e9-9eb5-5cf4ba15c902.png)

[2019-05-29 12:01] MarcoRossignoli commented on #449
Ok, please can you try last version with verbose logging to understand what's happen? https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration

[2019-05-29 12:29] boldt commented on #449
I swicthed back to 2.6.1 and it works now even without `/p:Exclude="[xunit.*]*"`. I also do not have the "strong name"-error anymore and it prints out percentages (two digits instead of one):

![grafik](https://user-images.githubusercontent.com/750793/58556877-4ed8bc00-821d-11e9-8339-f8d849a539bd.png)

No clue what's different. I still have the following warning:

[code]

[2019-05-29 12:36] MarcoRossignoli commented on #449
Yes we rounded percetages https://github.com/tonerdo/coverlet/pull/397
And for warning issue we fixed in master version https://github.com/tonerdo/coverlet/pull/406 because is a false "negative" is module is not "tested"

You could try our nightly build to understand if it's fixed https://www.myget.org/feed/coverlet-dev/package/nuget/coverlet.msbuild/2.6.1-g0dd56242f2

[2019-05-29 12:40] MarcoRossignoli commented on #449
You can fix verbosity with `-v:q` for msbuild(https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test?tabs=netcore21)
and with `-v quiet` for dotnet tool(console) https://github.com/tonerdo/coverlet#global-tool

[2019-05-29 12:41] MarcoRossignoli commented on #449
Feel free to close this issue if your issue is resolved.

[2019-05-29 12:43] MarcoRossignoli commented on #449
Ah for 0% coverage is possible you hit a know transient bug https://github.com/tonerdo/coverlet/issues/110 we'll resolve ASAP with new collector features https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md (near to release).

[2019-05-29 12:56] MarcoRossignoli commented on #418
@dbolin you can try our nightly build, it should fix your issue https://www.myget.org/feed/coverlet-dev/package/nuget/coverlet.msbuild/2.6.1-g0dd56242f2

[2019-05-29 15:34] boldt commented on #449
I will check the Nightly on Monday.

[2019-05-29 15:36] MarcoRossignoli commented on #449
Sure let us know!

[2019-05-30 03:07] #438 closed

[2019-05-30 20:21] Chocrates commented on #408
@tonerdo  Any guidance on how to fix this if someone has some free time?

[2019-05-30 21:33] queen-of-code commented on #110
@tonerdo I've downloaded the nightly build of the collector package (1.0.0-gbaad0091a5) and am running locally with the Microsoft.Sdk.Test version of 16.1.1. Interestingly, I can now locally repro my test modules that get 0% coverage, but -- _they do still get 0% coverage_. I have confirmed that my normally-working test modules do report coverage correctly using the collector.

[2019-05-31 06:59] MarcoRossignoli commented on #403
Only to track simple links at the moment we don't have the gallery enabled

https://www.myget.org/feed/coverlet-dev/package/nuget/coverlet.msbuild
https://www.myget.org/feed/coverlet-dev/package/nuget/coverlet.collector
https://www.myget.org/feed/coverlet-dev/package/nuget/coverlet.console

[2019-05-31 07:07] MarcoRossignoli commented on #110
@queen-of-code thank's for testing our nightly...a the moment we've to fix "visual studio dropdown order" so for the moment to test with latest follow this step:
Go to https://www.myget.org/feed/coverlet-dev/package/nuget/coverlet.collector
Go to end of page and check "Last updated" column and chose the correct one
![image](https://user-images.githubusercontent.com/7894084/58687743-ca07b280-8382-1

[2019-05-31 07:58] vagisha-nidhi commented on #110
@MarcoRossignoli We release Microsoft.Net.Test.Sdk with along with test platform [https://www.nuget.org/packages/Microsoft.NET.Test.Sdk/](https://www.nuget.org/packages/Microsoft.NET.Test.Sdk/). So this will have the same version as that of test platform. A specific version of test platform is then inserted into [dotnet cli](https://github.com/dotnet/cli) for use by .NET core command line tools fo

[2019-05-31 08:08] MarcoRossignoli commented on #110
@vagisha-nidhi thank's for explanation.

[2019-05-31 11:23] MarcoRossignoli commented on #408
@Chocrates I think we need to restore this https://github.com/tonerdo/coverlet/commit/de558c5f62b46d30fb2ba15231e50fc7f41877f7#diff-a906069a8e87f7612b1e0b40fe0e38e6 to generate something similar to https://gist.github.com/apetro/fcfffb8c4cdab2c1061d#file-coverage-xml-L5 what do you think @tonerdo?

[2019-05-31 11:34] MarcoRossignoli commented on #413
FYI https://github.com/tonerdo/coverlet/issues/408#issuecomment-497674737

[2019-06-06 17:12] AdmiringWorm opened #452 "Upgrading coverlet.msbuild to 2.6.2 fails builds on travis that worked with earlier versions"
I was trying to upgrade the `coverlet.msbuild` on a few of my projects, only to find out that the new version fails with a type conversion exception.

The builds that fail when trying to generate the coverage report are all running on travis (both linux and osx, and both is failing) with .NET Core 2.1.603 installed.

Here is the exception/stack trace that gets outputted to the console

<details>
<

[2019-06-06 17:41] tonerdo commented on #452
@MarcoRossignoli can you pls help out? Thanks!

[2019-06-06 17:51] MarcoRossignoli commented on #452
@AdmiringWorm can you try to upgrade Newtonsoft.Json to last version on tests project?

[2019-06-07 03:53] AdmiringWorm commented on #452
@MarcoRossignoli I added a reference to the latest version of `Newtonsoft.Json` (version 12.0.2), unfortunately this did not help and exactly the same error was reported.

[2019-06-07 05:22] MarcoRossignoli commented on #452
Please try to "update" also all newtonsoft reference for all solution.

Can you also attach result of  `dotnet --info`

[2019-06-07 05:25] MarcoRossignoli commented on #452
Is the project OSS so I can in case repro locally?

[2019-06-07 05:25] AdmiringWorm commented on #452
@MarcoRossignoli I didn't have any existing references for `Newtonsoft.Json`, so there is no additional references to update.

[code]

[2019-06-07 05:27] AdmiringWorm commented on #452
yes, it is open source: https://github.com/cake-contrib/Cake.Codecov

The updating of coverlet.msbuild is only in the following PR though: https://github.com/cake-contrib/Cake.Codecov/pull/43

[2019-06-07 05:27] MarcoRossignoli commented on #452
Ok I'll try to repro locally

[2019-06-07 05:30] MarcoRossignoli commented on #452
For now can you try to use dotnet tool or collectors, I'm curious to know if hit same issue...if you cannot don't worry!

[2019-06-07 06:27] MarcoRossignoli commented on #452
@AdmiringWorm FYI https://github.com/MarcoRossignoli/coverlet#vstest-integration

[2019-06-07 13:38] onovotny opened #456 "Missing method with vstest integration"
Hi,

I'm trying to use the VSTest integration and getting the following:

[code]

I'm using the .NET Core 3 SDK Preview 6  3.0.100-preview6-012262.

The test project has the following:
[code]

I also tried with `Microsoft.NET.Test.SDK` `16.2.0-preview-20190606-02`, which was just published 5 hours ago.

[2019-06-07 13:45] onovotny commented on #395
I'm hitting a missing method exception when I try to use it, details here: https://github.com/tonerdo/coverlet/issues/456

[2019-06-07 13:50] MarcoRossignoli commented on #456
https://github.com/tonerdo/coverlet/blob/master/README.md#vstest-integration `Note: You need to be running .NET Core SDK v2.2.300 and above` I hitted same error on testing with old sdk

[2019-06-07 13:54] onovotny commented on #456
@MarcoRossignoli I would assume that the latest nightly of 3.0 preview 6 would have the bits? It's newer than 2.2.300.

[2019-06-07 13:55] MarcoRossignoli commented on #456
Ah you're right completely missed that line...it's friday time to take a break...cc: @vagisha-nidhi that wrote collector.

[2019-06-07 14:03] onovotny commented on #395
One other thing -- from a docs perspective, the `MergeWith` parameter is confusing to me. What should the value be? An absolute path? Something relative? How/when do I use it?

I think that's an important parameter and it could help to make it more clear with some concrete examples.

[2019-06-07 14:15] MarcoRossignoli commented on #452
@AdmiringWorm I get same issue using your .net sdk version...can you try with more recent?Or setting travis to use more recent SDK(`2.2.x`)?

[2019-06-07 14:20] ViktorHofer commented on #456
AFAIK the change in 2.2.300 hasn't flow into 3.x yet

[2019-06-07 14:45] MarcoRossignoli opened #457 "Improve `MergeWith` documentation"
Moved from https://github.com/tonerdo/coverlet/issues/395

@onovotny's comment

One other thing -- from a docs perspective, the MergeWith parameter is confusing to me. What should the value be? An absolute path? Something relative? How/when do I use it?

I think that's an important parameter and it could help to make it more clear with some concrete examples.

[2019-06-07 14:46] MarcoRossignoli commented on #395
I think that's an important parameter and it could help to make it more clear with some concrete examples.

@onovotny thank's for the feedback I opened a new issue https://github.com/tonerdo/coverlet/issues/457, feel free to open new issue if find lack in documentations.

[2019-06-07 14:49] MarcoRossignoli commented on #449
@boldt we released new version https://www.nuget.org/packages/coverlet.msbuild/ let me know.

[2019-06-07 14:52] MarcoRossignoli commented on #110
We released first version of collector https://github.com/tonerdo/coverlet#vstest-integration this should fix 0% coverage issue.
Let us know.

[2019-06-07 15:11] AdmiringWorm commented on #452
I noticed you opened a pull request for bumping the .net core version, I was just about to do that now (was working on something else, so couldn't do it until now).

[2019-06-07 15:21] AdmiringWorm commented on #452
@MarcoRossignoli updating the sdk to `2.2.300` did indeed fix the issue on travis.

[2019-06-07 15:22] MarcoRossignoli commented on #452
I did a PR on your repo https://github.com/cake-contrib/Cake.Codecov/pull/44

[2019-06-07 15:26] MarcoRossignoli commented on #452
@AdmiringWorm can you use new coverlet dotnet tool until we fix?
Seem that some .net skd load old version Newtosoft.Json that doesn't support conventers in a right way.

[2019-06-07 15:37] AdmiringWorm commented on #452
@MarcoRossignoli I could do that of course, but I believe I rather will skip the `2.6.2` version, and wait for the next one instead.

I would need to implement my own custom logic if I change to the dotnet tool, which I don't really have the time to do right now (currently using Cake.Coverlet during build, but it only supports debug builds when running the dotnet tool).

[2019-06-07 15:44] MarcoRossignoli commented on #452
Fair, sorry for the inconvenience :( I'll work on a fix asap.

[2019-06-07 15:52] AdmiringWorm commented on #452
No worries, I would probably never have noticed this if it weren't for dependabot (I am lousy with updating dependencies manually, so it is good to rely on bots).

[2019-06-09 04:34] vagisha-nidhi commented on #456
@ViktorHofer is correct. The 2.2.300 changes haven't flown into 3.x Preview 6.
@MarcoRossignoli
[code]
Should this message be replaced with something more informative (like using the correct sdk version)?

cc: @cltshivash

[2019-06-09 09:52] jmezach commented on #110
@MarcoRossignoli I'm still seeing 0% coverage on my project (see also #342) with the new VSTest integration package.

[2019-06-09 10:40] vagisha-nidhi commented on #110
@MarcoRossignoli To pick up inproc datacollector, there had to be changes in test platform in [https://github.com/microsoft/vstest/pull/2020](https://github.com/microsoft/vstest/pull/2020) specifying inproc collector dll name(which was done after finalizing the coverlet PR). This has not gone in 2.2.300 which might be the reason that inproc datacollector is not picked up.

[2019-06-09 11:36] tonerdo commented on #110
@queen-of-code @jmezach from https://github.com/tonerdo/coverlet/issues/110#issuecomment-500202344 it looks like we'll need to wait for the next release of the dotnet sdk so that https://github.com/tonerdo/coverlet/issues/110#issuecomment-463268787 doesn't happen anymore

[2019-06-09 12:29] prayzzz commented on #110
I'm also experiencing the 0% issue using the latest coverlet releases and .NET Code SDK 2.2.300

https://github.com/tonerdo/coverlet/issues/110#issuecomment-500202344 pointed me to the cause. I'm using a Socket to mock a Telnet server. Somehow this breaks coverlet.

I created https://github.com/prayzzz/coverlet-110-repro to reproduce the issue.

[2019-06-09 13:21] MarcoRossignoli commented on #110
thank's @vagisha-nidhi for the info...so for now VSTests runs only `Outproc Datacollector`?

[2019-06-09 13:33] MarcoRossignoli commented on #456
@vagisha-nidhi yes I agree this error is a bit cryptic. Maybe improve with some advice(catch `MissingMethodException` and output message like `Method not found, make sure to use .NET core SDK version >= 2.2.300` and flow real exc as inner) if we aren't sure that this kind of exception raise only in case of unsupported sdk.

[2019-06-09 14:54] MarcoRossignoli opened #459 "Improve exception message for sdk that doesn't support collectors"
Moved from https://github.com/tonerdo/coverlet/issues/456#issuecomment-500184354

 @vagisha-nidhi's comment
[code]
Should this message be replaced with something more informative (like using the correct sdk version)?

cc: @cltshivash @vagisha-nidhi @tonerdo

[2019-06-09 14:54] MarcoRossignoli commented on #459
@vagisha-nidhi yes I agree this error is a bit cryptic. Maybe improve with some advice(catch `MissingMethodException` and output message like `Method not found, make sure to use .NET core SDK version >= 2.2.300` and flow real exc as inner) if we aren't sure that this kind of exception raise only in case of unsupported sdk.

[2019-06-09 14:56] MarcoRossignoli commented on #456
@onovotny close issue because the question has been anwered by @vagisha-nidhi `The 2.2.300 changes haven't flown into 3.x Preview 6.`

[2019-06-09 14:56] #456 closed

[2019-06-10 09:25] vagisha-nidhi commented on #110
@MarcoRossignoli Yes. Inproc will be picked up only when the bits contains these changes [https://github.com/microsoft/vstest/pull/2020](https://github.com/microsoft/vstest/pull/2020)

I have released vstest with this, but this will flow into dotnet sdk 2.2.4 only.

[2019-06-10 10:42] vagisha-nidhi commented on #395
@MarcoRossignoli @tonerdo
As specified in [https://github.com/tonerdo/coverlet/issues/110#issuecomment-500202344](https://github.com/tonerdo/coverlet/issues/110#issuecomment-500202344), the inproc dll name changes will flow into the next sdk release.

Also, to pick up inproc datacollector, we had changes in test host that comes via
`<PackageReference Include="Microsoft.NET.Test.Sdk" Version="16.1.

[2019-06-10 11:16] MarcoRossignoli commented on #395
Clear...recap to run in/out collectors we need to run >=2.2.300 SDK and reference test sdk >= 16.1.0

[2019-06-10 11:40] vagisha-nidhi commented on #395
@MarcoRossignoli
Also, I have been trying out things with xunit/nunit and I found this [https://github.com/tonerdo/coverlet/issues/361#issuecomment-470044541](https://github.com/tonerdo/coverlet/issues/361#issuecomment-470044541). This would be a bad experience for any first user, if a test run crashes with --collect:"Xplat code coverage".

Should we add `[xunit*]*` to default exclude filter here

[2019-06-10 11:41] onovotny commented on #395
I think the more 80% likely defaults and "right thing" should be defaulted, fwiw

[2019-06-10 12:12] MarcoRossignoli commented on #395
I'll move to new issue with my thoughts.

[2019-06-10 12:15] MarcoRossignoli commented on #433
fixed https://github.com/tonerdo/coverlet/pull/434 https://github.com/tonerdo/coverlet/pull/422

[2019-06-10 12:15] #433 closed

[2019-06-10 12:19] MarcoRossignoli opened #461 "Add `[xunit*]*` to default excluded modules filter"
@vagisha-nidhi's comment

Also, I have been trying out things with xunit/nunit and I found this [https://github.com/tonerdo/coverlet/issues/361#issuecomment-470044541](https://github.com/tonerdo/coverlet/issues/361#issuecomment-470044541). This would be a bad experience for any first user, if a test run crashes with --collect:"Xplat code coverage".

Should we add `[xunit*]*` to default exclude fil

[2019-06-10 12:33] MarcoRossignoli commented on #461
I agree with `I think the more 80% likely defaults and "right thing" should be defaulted, fwiw, so I'd say yes.`
Btw are we sure that the right solution is to hard-code in a "immutable" list of filters? https://github.com/tonerdo/coverlet/blob/87f4dda3de7d215c23185c91288254c1c8468c42/src/coverlet.collector/DataCollection/CoverletSettingsParser.cs#L122
If for some reason someone need to instrument

[2019-06-10 12:47] onovotny commented on #461
Is it an immutable list or a default? If I specify exclude filters in config, does it replace or augment what's in code?

[2019-06-10 12:58] MarcoRossignoli commented on #461
If we add to constants we can only augment filter.
Maybe we could add default filters if no excluded specified, in this way we "only" handle gracefully simplest use.

[2019-06-10 13:08] onovotny commented on #461
I think that's fair -- The constants/defaults can be documented, but if people want to specify their own, they shouldn't expect a union of config and code, I'd think

[2019-06-10 13:16] MarcoRossignoli commented on #461
@vagisha-nidhi @tonerdo thoughts?If we reach an agreement I could create a PR, we should add to core lib to have same behaviour with tool/msbuild.

[2019-06-10 13:20] JSkimming commented on #452
I've had exactly the same issue, happy to help with testing when #458 is ready.

Here's the affected PRs

- JSkimming/tesla-net#51
- JSkimming/abioc#87
- JSkimming/Castle.Core.AsyncInterceptor#68
- AutoTestNET/AutoTest.ArgumentNullException#43

[2019-06-10 13:23] MarcoRossignoli commented on #452
@JSkimming as soon as @tonerdo do review/merge you'll can test with nightly build, thank's for help!

[2019-06-10 13:25] vagisha-nidhi commented on #461
@MarcoRossignoli
I agree with specifying the defaults when no exclude has been explicitly given. If user wants to specify their own list, they can very well refer to documentation to see if they want to union the defaults.
But `[coverlet.*]*` should always be defaulted otherwise `dotnet vstest` won't work?

[2019-06-10 13:29] MarcoRossignoli commented on #461
It's a question or a statement?

[2019-06-10 13:38] vagisha-nidhi commented on #461
Statement. We should not rely on user to add this since it is known that dotnet vstest won't work without the filter

[2019-06-10 13:40] MarcoRossignoli commented on #461
Yup we keep our module in default exclusion filters.

[2019-06-10 13:41] vagisha-nidhi commented on #461
Then we are okay with this change.

[2019-06-10 13:53] MarcoRossignoli commented on #461
@onovotny at the moment we exclude by default test assembly, added back in https://github.com/tonerdo/coverlet/pull/376 after some discussions

[2019-06-10 18:56] #461 closed

[2019-06-11 07:53] MarcoRossignoli commented on #461
@vagisha-nidhi you can test with nightly if you want https://www.myget.org/feed/coverlet-dev/package/nuget/coverlet.collector/1.0.33-g66a0119867

[2019-06-11 09:02] boldt commented on #449
The warning is gone. Thanks.

[2019-06-11 09:02] #449 closed

[2019-06-11 10:53] boldt opened #463 "Wrong percentages within ReportGenerator"
# Setup

* nUnit (3.12.0)
* coverlet.msbuild (2.6.2)
* ReportGenerator (4.1.8)

## My toolchain

[code]

# Issue

In ReportGenerator I see 966600% instead of 96%:

![grafik](https://user-images.githubusercontent.com/750793/59027791-3d656480-885a-11e9-96e3-663553bbd94e.png)

This is how it looks in the `coverage.cobertura.xml`:

[code]
## Related bug report

I already created a bug report at Report

[2019-06-11 14:17] MarcoRossignoli commented on #463
Thank's for reporting

[2019-06-11 14:54] bgoerdt opened #465 "Closing bracket uncovered in try-catch statement when exception is re-thrown in catch"
The closing bracket is showing up as uncovered when I re-throw an exception from a `catch` statement. Is this expected behavior? The closing bracket is technically unreachable code, and it prevents me from reaching 100% coverage on the method when coverlet says it is uncovered by a test.

[code]

[2019-06-11 15:35] MarcoRossignoli commented on #465
Can you produce a simple repro?
Coverlet results are based on generated pdb(where we don't have control), to understand if it's a bug we would need a repro.

[2019-06-11 16:22] brpratt commented on #465
This only seems to be an issue when there is an `await` inside the catch block. Here is a repro:

https://github.com/brpratt/CoverletAwaitThrowInsideCatch

From the [generated code](https://sharplab.io/#v2:CYLg1APgAgTAjAWAFBQAwAIpwKwG5nJQDMmM6AogB4CGAtgA4A2ApsgN7LpeYlQAcmAGwAeAJYA7AC4A+dAAVqAJwDOzAILKAnuIDGACgDKkxRIDm6ZcYCU6Ttw5JuT9Mc13n6Bx49QA7OglJADoFFWY9S0UrfEdvAF93Zx1qSR0AC0SnL28nKABOISCAEWZGa

[2019-06-11 16:37] MarcoRossignoli commented on #465
Thank's for repro...I'll let you know what I discover.

[2019-06-11 19:04] vncoelho commented on #452
The same happens in NEO repo:

https://github.com/neo-project/neo/blob/6de8997a020088fe44c933a93ffb389c2605cdd9/.travis.yml

[code]

[2019-06-11 19:08] MarcoRossignoli commented on #417
@david-77 any news?

[2019-06-11 19:10] MarcoRossignoli commented on #452
for now if "possible" one solution is to pin sdk to use on CI to `2.2.300` using maybe a `global.json`

[2019-06-11 19:13] vncoelho commented on #452
I am quite bad in these Travis integrations, @MarcoRossignoli.
However, thanks for the recommendation and your attention.

If you have any example for me to update the script. ahueahuea

[2019-06-11 19:37] MarcoRossignoli commented on #452
@vncoelho if you can change https://github.com/neo-project/neo/blob/master/.travis.yml#L11 to `2.2.300`

[2019-06-11 19:45] vncoelho commented on #452
Working, @MarcoRossignoli, thanks! "Your first commit" on  Neo Project...aehuahuea

[2019-06-11 19:46] MarcoRossignoli commented on #452
Glad to hear!

[2019-06-11 20:02] boldt commented on #463
Thanks for the very quick fixing. Please let me know, when it's released officially.

[2019-06-11 20:21] MarcoRossignoli commented on #463
@boldt after merge you can use nightly build with fix, at the moment I don't know if we plan to release official so quick cc: @tonerdo

[2019-06-11 20:29] MarcoRossignoli commented on #230
@andrewtyped I cannot repro, can you help me to understand what I'm missing?
[code]

[2019-06-11 20:31] MarcoRossignoli commented on #230
Never mind...found it, I missed cobertura format.

[2019-06-11 20:33] MarcoRossignoli commented on #230
Close because fixed with newer version...works with 2.6.2
[code]

[2019-06-11 20:33] #230 closed

[2019-06-12 03:01] dannyBies commented on #110
I'm also experiencing this issue. I'm using coverlet.msbuild 2.6.2, xunit 2.4.1 and xunit.runner.visualstudio 2.4.1. Unfortunately none of the workarounds seem to work.

[2019-06-12 03:13] AArnott opened #466 "Test run fails on netcoreapp1.0 targeted tests"
When running tests on linux (in Azure Pipelines at least) with code coverage turned on...

[code]

The [build log](https://dev.azure.com/andrewarnott/OSS/_build/results?buildId=1384&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3) shows this failure when the tests run on .NET Core 1.0:

[code]

[2019-06-12 07:28] MarcoRossignoli commented on #466
Yes I did some check and the issue seem mainly 2 packages
`Mono.Cecil 0.10.1`
`Microsoft.Extensions.FileSystemGlobbing 2.0.1`

that are supported only on `netstandard2.0` and collector tfm is `netcoreapp2.0`

@vagisha-nidhi is there are reason to not build collector lib for `netstandard2.0`?
If so we could update guide to report that minimal support is `netstandard2.0` runtimes.

[2019-06-12 07:38] vagisha-nidhi commented on #466
@MarcoRossignoli There seems no particular reason that I can recall. Can you try making it `netstandard2.0` and see if everything works?

[2019-06-12 07:44] vagisha-nidhi commented on #466
@MarcoRossignoli Although the coverlet integration for now will be working for only .NET Core projects, that may be the reason of not making this `netstandard` targeted.

[2019-06-12 07:58] MarcoRossignoli commented on #466
Fair I agree, is there a plan to support netfx?

[2019-06-12 08:05] vagisha-nidhi commented on #466
cc: @cltshivash @pbora

[2019-06-12 08:24] MarcoRossignoli commented on #452
@dannyBies have tried upgrading sdk build version(if you can)?

[2019-06-12 10:30] sasivishnu commented on #408
@MarcoRossignoli I will have some time this week. I will get those old code back and see how it looks now. @tonerdo can review it after that.

[2019-06-12 10:55] MarcoRossignoli commented on #408
@sasivishnu sure great thank's I found PR on jenkins with file sample https://github.com/jenkinsci/cobertura-plugin/commit/a024c9843ef42709058fcf4a253b9343de8ef546#diff-3977dd8133a406a118384c6775e016d2
This is the jenkins issue https://issues.jenkins-ci.org/browse/JENKINS-16252

Seem that on sources we need to add drive root i.e. C:\ on win and /... on linux and in filename the relative path.

[2019-06-12 11:21] vagisha-nidhi commented on #461
@MarcoRossignoli This works great!
@tonerdo Also if it is possible to get `coverlet.collector 1.0.1` with the fix gone in, I should be able to add that to dotnet core csproj templates.

[2019-06-12 11:59] MarcoRossignoli commented on #461
@tonerdo if can take a look at
https://github.com/tonerdo/coverlet/pull/458 <- affect a lot of users
https://github.com/tonerdo/coverlet/pull/464
We could release all packages with PATCH bumped by 1

[2019-06-12 14:17] AArnott commented on #466
I just checked, and [Mono.Cecil](https://www.nuget.org/packages/Mono.Cecil) actually targets netstandard1.3. Why do you say it requires netstandard2.0?

Also, an older version of [Microsoft.Extensions.FileSystemGlobbing](https://www.nuget.org/packages/Microsoft.Extensions.FileSystemGlobbing/1.1.1) supports netstandard1.3 as well.

So *maybe* .NET Core 1.0 could be supported?

[2019-06-12 14:38] MarcoRossignoli commented on #466
We use version https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/coverlet.core.csproj#L19 https://www.nuget.org/packages/Microsoft.Extensions.FileSystemGlobbing/2.0.1 for FileSystemGlobbing
For Cecil you're right...I misread...btw I retry because I get error on build moving to 1.0

[2019-06-12 15:01] MarcoRossignoli commented on #466
@AArnott maybe with some updates we could support on netstandard1.3 with downgrade to FileSystemGlobbing and removing `ExcludeFromCodeCoverageAttribute` usage on tracker template and skip "by hand".
[code]

[2019-06-12 23:18] dannyBies commented on #452
Unfortunately I can't and do not have the time to properly investigate more. For now I'll downgrade to an earlier version, thanks for the help!

[2019-06-13 12:06] david-77 commented on #417
Hi Marco,

Thank you for asking for news.
Sorry I did not have enough time to try the verdbose loging with my tests.
I hope coming back next week with some news.

[2019-06-13 12:09] MarcoRossignoli commented on #417
Meantime we also released a new version and added new way to consume Coverlet throught vstest collector!Take a look at guide!

[2019-06-14 02:44] tai-yi opened #468 "No coverage available on dotnetcore sdk3.0 preview 6"
Version info:
coverlet.msbuild : 2.6.2
DotNetCore Sdk : 3.0.100-preview6-012264

[2019-06-14 10:57] Harvzor opened #469 "Module ignored/skipped if EntityFramework enum with default value is used in method"
I made a repo showing the error: https://github.com/Harvzor/coverlet-enum-test

How to reproduce:

1. clone https://github.com/Harvzor/coverlet-enum-test
2. run `dotnet build`
3. run `coverlet ./Tests/bin/Debug/netcoreapp2.1/Tests.dll --target "dotnet" --targetargs "test ./Tests/Tests.csproj --no-build" --format opencover`

Expected output:

[code]

Actual output:

[code]

In the actual input, the

[2019-06-14 17:34] MarcoRossignoli commented on #468
Dup https://github.com/tonerdo/coverlet/issues/456#issuecomment-500184354

[2019-06-14 17:37] MarcoRossignoli commented on #468
Sorry maybe misread, can you provide more info?
What does "no coverage available"?
If you are talking about collector it doesn't available yet on preview...msbuild and tool should work.

[2019-06-14 17:41] MarcoRossignoli commented on #469
Can you try with last version 1.5.2 https://www.nuget.org/packages/coverlet.console/?

[2019-06-14 17:47] MarcoRossignoli commented on #371
@loning are you experiencing issue again or we can close this?

[2019-06-14 17:52] loning commented on #371
I have downgrade to 2.5.1，not test any more

Marco Rossignoli <notifications@github.com>于2019年6月15日 周六01:47写道：

--

*Regards & Best wishes,*

*Loning*

*Blog: http://loning.cnblogs.com <http://loning.cnblogs.com>*

[2019-06-14 19:42] keithwillcode commented on #33
Is using `/p:CopyLocalLockFileAssemblies=true` the prescribed way to fix this error? Any plans/thoughts on a fix that wouldn't require using this parameter?

[2019-06-15 00:16] tai-yi commented on #468
Console output coverage 0 after run command 'dotnet test', but dotnetcore3.0 preview 5 works fine.

[2019-06-15 21:04] #416 closed

[2019-06-16 19:47] AArnott opened #471 "Code coverage breaks strong-name signature, causing test failure on .NET Framework"
When my repo strong-name signs its assemblies and I execute a test run with code coverage on .NET Framework, `dotnet test` ultimately fails because when it shadow-copies the assembly, the strong-name signature is checked and found to be invalid.
I wonder if this is because the code coverage changes the IL in the assembly, thus invalidating its signature.

Is this a known issue? If not, I can provi

[2019-06-16 22:01] IIFE opened #472 "Global tool solution-wide coverage"
Hi,

Is there a way specify a wild card with the global tool so that coverage for multiple test assemblies can be generated at once? Basically a solution-wide option?

Thanks

[2019-06-17 07:47] Harvzor commented on #469
Updated my dotnet version to `2.2` and updated coverlet to `1.5.2`, I'm getting a useful message from the report now:

[code]

The issue looks related to https://github.com/tonerdo/coverlet/issues/21.

[2019-06-17 08:03] MarcoRossignoli commented on #471
Is a dup of https://github.com/tonerdo/coverlet/issues/347?

[2019-06-17 08:04] MarcoRossignoli commented on #472
At the moment we do not support solution wide coverage, you can follow thread https://github.com/tonerdo/coverlet/issues/357

[2019-06-17 08:04] #472 closed

[2019-06-17 08:52] MarcoRossignoli commented on #469
@Harvzor I found the issue...at the moment Cecil resolver does not search on "nuget package" cache.
Update you test project with `<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>`
[code]
So `Microsoft.EntityFrameworkCore` libs will be copied in output folder and correctly loaded by cecil(we add "test lib path" as probing path).
I advice to exclude also microsoft/xunit lib from instr

[2019-06-17 08:58] MarcoRossignoli commented on #468
Can you create a simple repro?It's hard to understand if the issue is related to something inside preview 6 or inside coverlet.
Something like https://github.com/Harvzor/coverlet-enum-test

[2019-06-17 09:29] Harvzor commented on #469
Thanks I can confirm that adding `<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>` worked:

https://github.com/Harvzor/coverlet-enum-test/commit/64e6d2beecb27826936da7786409906a87e1c6e3

Thanks for the extra advice too!

[2019-06-17 09:29] #469 closed

[2019-06-17 11:50] mmvohra opened #473 "Coverlet file not generating"
I am unable to generate the response.json file in my project directory by writing the same command or Is it generate result file only for success test results?. Please help.

[2019-06-17 12:07] AArnott commented on #471
Yes. Thanks.

[2019-06-17 12:07] #471 closed

[2019-06-17 12:19] MarcoRossignoli commented on #473
Hi @mmvohra can tell us which "way" are you using?
.NET tool, msbuild or collector?And can you attach your command and explain more or less the structure of your project?
Could be useful also if you attach you screen snapshot.

[2019-06-17 14:42] tai-yi commented on #468
Sorry for mistake, set with wrong `Exclude` property.
Thanks for your support.

[2019-06-17 14:42] #468 closed

[2019-06-17 14:43] MarcoRossignoli commented on #468
No worries!

[2019-06-17 19:34] SteveGilham commented on #452
Another data-point displaying the same symptoms : upgrading dependencies starting from https://github.com/SteveGilham/altcover/commit/a7f42444e3f46ac1f1fd4f7104b4e00bb6e5b17a

This builds on SDK 2.1.503 as the highest version that's both documented as on AppVeyor and comes with just naturally upgrading Visual Studio.

With Cecil 0.10.3 and coverlet.msbuild 2.6.1 -> 2.6.2, all is well, but upgradin

[2019-06-17 19:39] tonerdo commented on #461
@MarcoRossignoli will take a look at the PRs and work on getting them merged in today

[2019-06-17 19:40] #452 closed

[2019-06-17 19:41] #463 closed

[2019-06-17 20:57] AArnott commented on #347
The workaround I've used is to drop [this app.config file](https://github.com/AArnott/Library.Template/blob/master/src/Library.Tests/app.config) into the test directory, which prevents xunit shadow copying.

If coverlet fundamentally has to change the assembly being instrumented, I don't see an alternative. But I wonder why this is necessary, as I think other coverage tools don't require this. Do

[2019-06-17 21:02] onovotny commented on #347
@AArnott that config file works for .NET Framework based tests, but I don't believe it is used for the .NET Core-based ones. The RunSettings/ command-line parameter I mention above does work though.

[2019-06-17 22:44] AArnott commented on #347
That doesn't matter. This failure doesn't occur in .NET Core anyway because .NET Core never validates signatures on strong name assemblies. So a .NET Framework-only workaround is all that's required.

[2019-06-18 03:45] AArnott opened #474 "How to merge several result files together?"
Due to https://github.com/AArnott/Library.Template/issues/2 and the various doc and product bugs linked from it, it seems the best workaround for now would be if we could merge several `coverage.cobertura.xml` files into just one in order to pass it to the [`PublishCodeCoverageResults`](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-code-coverage-results?view=azure-devo

[2019-06-18 08:07] JSkimming commented on #452
### TL;DR

PR #458 has fixed the issue I was experiencing.

### Summary

I've just taken the [nightly build](https://github.com/tonerdo/coverlet/blob/fe775360460a6855e0492b28cb41a2b5f2d9b0d3/Documentation/ConsumeNightlyBuild.md) in this PR JSkimming/Castle.Core.AsyncInterceptor#72 and all the tests now pass where previously I had this issue.

Nice work @MarcoRossignoli 👍

[2019-06-18 08:23] MarcoRossignoli commented on #474
AFAIK it's a bit tricky today...we can only merge [coverlet json format](https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md#merging-results)...so we need to generate all json result and merge togheter and at the end merge and change format.
For coverlet repo for instance:
[code]
You'll need to run commands in a sequential way to avoid race.

@tonerdo do you have be

[2019-06-18 13:16] mmvohra commented on #473
Hi,
I have install Coverlet using package manager console by "Install-Package coverlet.msbuild -Version 2.6.2"
and after that I ran "dotnet test /p:CollectCoverage=true" command in my Integration test project.
The tests are running but the file is not generating.

[2019-06-18 13:25] MarcoRossignoli commented on #473
Can you provide a simple repro? Similar to https://github.com/Harvzor/coverlet-enum-test

[2019-06-19 04:56] mmvohra commented on #473
Got it @MarcoRossignoli .
Thank You for your guidance.

[2019-06-19 11:57] MarcoRossignoli commented on #347
Uh...I'm curious to know how do they do without touch asm, if you've more detail or some docs share please.

[2019-06-19 12:43] AArnott commented on #347
Here's one introductory link : http://blog.monstuff.com/archives/000058.html

[2019-06-20 00:44] queen-of-code commented on #110
Out of curiosity @vagisha-nidhi are these changes in the dotnet 3 preview sdk yet?

[2019-06-21 11:32] danielpalme commented on #474
Alternative:
[ReportGenerator](https://github.com/danielpalme/ReportGenerator) can merge several _Cobertura_ files and generate one result file.
It also generates HTML reports which might be useful for visualization.

[2019-06-21 11:44] MarcoRossignoli commented on #474
Nice!
Thank's @danielpalme!

[2019-06-21 12:46] AArnott commented on #474
Thanks!
Ironically the HTML reports produced by ReportGenerator appears to be what Azure DevOps is already using internally and showing off in the build coverage tab. It's too bad it doesn't use that tool to also merge the files for the summary tab. Maybe they'll respond to [my feedback](https://developercommunity.visualstudio.com/content/problem/611463/publishcodecoverageresults-task-doesnt-consi

[2019-06-21 13:56] danielpalme commented on #474
@AArnott
Correct, Azure DevOps is already using it internally.
But you can do the following:

- Install the _ReportGenerator_ extension: https://marketplace.visualstudio.com/items?itemName=Palmmedia.reportgenerator
- Configure the _ReportGenerator_ task to produce HTML and Cobertura (this is the default)
- Configure the _Publish code coverage results_ task and point it to the HTML files directory

[2019-06-21 14:28] AArnott commented on #474
Thanks, @danielpalme. I'm definitely seeing improvements here in https://github.com/AArnott/Library.Template/pull/6 where code coverage from multiple target framework test runs is now merged in ADO. :smile:

But I have a twist on the overall requirement: I run tests on 3 agents (Mac, Linux and Windows). Since ADO only shows *one* code coverage report, I want all these merged. I've arranged for all

[2019-06-21 14:46] AArnott commented on #474
It looks like for now I'll have to settle for publishing a report from just one of the agents.

[2019-06-21 14:56] AArnott commented on #474
Is there a way to get the report files to contain only *relative* paths to source files instead of absolute paths? If so, I could get this to work and merge reports across agents.

[2019-06-21 15:14] MarcoRossignoli commented on #474
For cobertura we've an open issue https://github.com/tonerdo/coverlet/issues/408#issuecomment-501222651

Do you mean use this format https://issues.jenkins-ci.org/secure/attachment/23019/coverage.xml?Check sources and filename fields.

[2019-06-21 15:22] AArnott commented on #474
Yes, the filename field (and I guess the sources field, although that's empty on my local machine). I'm sure absolute filenames are useful in some contexts, but if we can use relative paths then we can unify across agents.

The cobertura issue you linked to looks like it's refining *absolute* paths rather than switching to relative. Or am I reading it wrong?

[2019-06-21 15:24] MarcoRossignoli commented on #474
When you say relative path...relative to what?csproj?

[2019-06-21 15:34] AArnott commented on #474
The repo root (or whatever I might specify). Some common root that can be reproduced across machines.

So imagine changing it like this:

[code]

Then when passing the report to the tool, `/Users/apetro/code/github_jasig` would either be the working directory or specified via a command line switch so that the tool knows how to create absolute paths as necessary to access the files.

Since *all* th

[2019-06-21 15:46] danielpalme commented on #474
Relative path are not necessarily easy to achieve.

In your case a script should do the job to remove the absolute path(s):

Example:
[code]

[2019-06-21 15:53] MarcoRossignoli commented on #474
We could try to fix a rule which states that for reports with base+relative source path discovery we setup base on repo root.
But also with this rule...how we can calculate "repo root" for every source system(we can do it for git...but for other)?Should we add a new switch for reports `--report-sourcefiles-base-path`?

I'm not sure that write a reports that expect a base+relative path discovery bu

[2019-06-21 15:59] AArnott commented on #474
Yes, that's a concern with putting relative paths in these files, to be sure. If the merge tool could take a separate base path argument for each report file, then it could internally recognize and replace each absolute path with a new absolute path appropriate for the target machine. Feel free to close this issue if you don't expect the merge tool will support such a feature internally.

For now,

[2019-06-21 16:07] MarcoRossignoli commented on #474
After https://github.com/tonerdo/coverlet/issues/408 you'll have maybe a worste scenario i.e.

[code]
You'll need to normalize not only filenames but also sources.

[2019-06-21 16:19] AArnott commented on #474
hmmmm.. What is sources used for? What would I need to substitute?

[2019-06-21 16:49] MarcoRossignoli commented on #474
@danielpalme can confirm or correct me(I'm not so fluent on reports yet)..but that sources are a list of base path, that seem cause some issue on Jenkins if it missing

[2019-06-21 16:52] AArnott commented on #474
Well, if that is a collection of "base paths" (and if they can include directories) then if each report were originally created with its own base path, along with absolute paths everywhere else, then the reports wouldn't break any existing tooling. But the merge tool could then consider the base path for each input report and thereby convert each absolute path into a relative path at least long en

[2019-06-21 17:03] MarcoRossignoli commented on #474
Yep should work!

[2019-06-21 17:39] danielpalme commented on #474
That's also my interpretation.
_ReportGenerator_ iterates through the source paths and combines them with the filename to get the full path of the file on disk.

[2019-06-21 17:59] AArnott commented on #474
Cool. So it sounds like this problem (which I just finished working around myself with search-and-replace) will Just Work soon, once those sources tags are filled in by the collector? Sweet.
If that's already tracked then by other issues, please feel free to close this one.

[2019-06-21 18:49] MarcoRossignoli commented on #474
If that's already tracked then by other issues, please feel free to close this one.

Yes if we'll fix it in a correct way...I mean if we generate same "relative paths" and only different base for every agent script should only amend the bases. Something more complex than simple put root in sources(to simply fix Jenkins issue that need almost one source) and the rest on filename. We need to find th

[2019-06-21 18:49] #474 closed

[2019-06-24 18:23] onovotny commented on #456
Update for anyone following along -- the 16.1.1 vstest runner has been merged into the latest .NET Core 3 Preview 7 nightlies, so this works now.

[2019-06-24 18:31] MarcoRossignoli commented on #456
Thanks for info Oren!

[2019-06-25 07:37] AlexTeixeira commented on #346
Same issue for me.

+-------------------------------+------+--------+--------+
| Module                        | Line | Branch | Method |
+-------------------------------+------+--------+--------+
| GardenDynamics.Infrastructure | 100% | 100%   | 100%   |
+-------------------------------+------+--------+--------+
| GardenDynamics.Domain         | 100% | 100%   | 100%   |
+-------------------------

[2019-06-25 20:32] onovotny opened #475 "Coverlet crashes VSTest"
I'm getting errors when I'm trying to use the vstest integration to coverlet.

This is with the 2.2.300 SDK.

[code]

To repro:

- clone https://github.com/xunit/visualstudio.xunit
- checkout the `coverlet` branch
- from a VS Command prompt, go to the `/test/test.xunit.runner.visualstudio` directory
- run `msbuild /restore` to build the test project (and the project it's testing). You'll need the

[2019-06-25 21:43] ViktorHofer commented on #312
Reopening as this is now pops up again. We want to use the source link information embedded in the assemblies/pdbs and write it into the report but only for non live building assets like System.Private.CoreLib.

cc @MarcoRossignoli

[2019-06-26 09:19] MarcoRossignoli commented on #312
I prefer non breaking changes approach so new filter args works well to me cc: @tonerdo

[2019-06-26 09:49] MarcoRossignoli commented on #475
I cannot repro I get a different issue seem I don't find collector(in other netcoreapp projects it works) but I also get tests abort.
[code]
Btw it's strange I mean I it cannot find collector should ignore coverage and go on with test...so that output seem maybe unrelated to coverlet
@vagisha-nidhi do you have any idea?

[2019-06-26 10:48] vagisha-nidhi commented on #475
@MarcoRossignoli We set the collector path in coverlet.collector.targets which is in the build folder inside the nuget. Is it possible that since you are setting --no-build, this path is not set and hence collector is not discovered?

[2019-06-26 10:56] MarcoRossignoli commented on #475
Mmm the same without `--no-build`
[code]

[2019-06-26 11:02] vagisha-nidhi commented on #475
@MarcoRossignoli This seems like .NETFramework dll
`C:\git\visualstudio.xunit\test\test.xunit.runner.visualstudio\bin\Debug\net46\test.xunit.runner.visualstudio.dll(.NETFramework,Version=v4.6)`

[2019-06-26 11:03] MarcoRossignoli commented on #475
Yes is a netfx lib...xplat collector doesn't support full .net right?
Is this the issue?

[2019-06-26 11:04] vagisha-nidhi commented on #475
@MarcoRossignoli Yes. At present collector only supports .net core

[2019-06-26 11:05] MarcoRossignoli commented on #475
cc: @onovotny

[2019-06-26 11:06] MarcoRossignoli commented on #475
@vagisha-nidhi can you confirm that the issue is the same for issue text https://github.com/tonerdo/coverlet/issues/475#issue-460627092?

[2019-06-26 12:01] onovotny commented on #475
I'm a bit confused since I was able to get the collector to work with .NET Framework with Ix Async:

https://dev.azure.com/dotnet/Rx.NET/_build/results?buildId=18615&view=logs&jobId=12f1170f-54f2-53f3-20dd-22fc7dff55f9&taskId=63465373-886e-5c09-88f2-acc826db3ddc&lineStart=59

[2019-06-26 12:52] onovotny opened #476 "Coverlet assumes coverage of 3rd party files with embedded ppdb"
Hi,

Looking here: https://dev.azure.com/dotnet/ReactiveUI/_build/results?buildId=18689&view=codecoverage-tab

I see that it's trying to measure coverage of System.Reactive. Rx has embedded ppdb's in it. I'm assuming Coverlet assumes to measure coverage if it finds a pdb, but many 3rd party libraries have embedded ones.

Is there a way to better detect this so people don't have to have large amoun

[2019-06-26 13:06] vagisha-nidhi commented on #475
@MarcoRossignoli @onovotny I'll try to repro the issue and get back.

[2019-06-26 13:16] MarcoRossignoli commented on #475
thank's a lot @vagisha-nidhi!

[2019-06-26 14:10] vagisha-nidhi commented on #475
@onovotny
So I have looked at this. In your runsettings you define both data collectors "CodeCoverage" and "Xplat Code coverage"
I tried both, and both of them are aborting the run. I don't have an RCA on the CodeCoverage one but for xplat code coverage, here's my analysis.

In test.xunit.runner.visualstudio, there's a condition
[code]
This is causing it to refer to old objectmodel which does not

[2019-06-26 14:25] MarcoRossignoli commented on #476
AFAIK we instrument also with embedded pdb https://github.com/tonerdo/coverlet/blob/f64337e74ef605b3ad3d9a7d304e02274c4383a6/src/coverlet.core/Helpers/InstrumentationHelper.cs#L82
When coverlet is not able to instrument you should see a warning in console https://github.com/tonerdo/coverlet/blob/09f91f2afa623dbd011acac8a10f6023d9513812/src/coverlet.core/Instrumentation/Instrumenter.cs#L61
Can you

[2019-06-26 14:26] onovotny commented on #476
My point is that I don't want it to instrument/include coverage for those third parties.

[2019-06-26 14:27] MarcoRossignoli commented on #476
Mmm how do coverlet know that are "third parties"?

[2019-06-26 14:28] onovotny commented on #475
I'm not sure if I can use a later object model? As this is a VS adapter for xunit, it has to run in both VS 2017 and VS 2019.

[2019-06-26 14:35] MarcoRossignoli commented on #476
Maybe there is a way to filter out 0% asm cc: @danielpalme

[2019-06-26 14:41] onovotny commented on #476
Is there a way for it to detect if the source files are present for it (based on the pdb data)? That could be the most fool-proof method.

[2019-06-26 14:56] MarcoRossignoli commented on #476
We could take a look...maybe could be some interaction with source link switch cc: @tonerdo

[2019-06-26 14:58] onovotny commented on #476
Where in the code base does that processing happen?

[2019-06-26 15:06] MarcoRossignoli commented on #476
Instrument check https://github.com/tonerdo/coverlet/blob/5a139b200f7bf51c21660b93f41906f4571c971b/src/coverlet.core/Coverage.cs#L96
Source link data gathering https://github.com/tonerdo/coverlet/blob/09f91f2afa623dbd011acac8a10f6023d9513812/src/coverlet.core/Instrumentation/Instrumenter.cs#L108
Get source link https://github.com/tonerdo/coverlet/blob/5a139b200f7bf51c21660b93f41906f4571c971b/src/c

[2019-06-26 15:08] onovotny commented on #476
Thanks. For this option, I don't think sourcelink is relevant. That provides a path to map the local file to some other web location. In this case, all we need to check is if the local file exists.

[2019-06-26 15:33] MarcoRossignoli commented on #476
I thought that with embedded pdb+sourcelink we can generate report also for third party lib, but I didn't go deep on that part of coverlet yet so my idea was likely wrong.

[2019-06-26 15:35] onovotny commented on #476
In theory you could, if you downloaded the source files from sourcelink. That said, I would expect that most people are interested in coverage of their own code, not of external things. That's why I'd suggest that be the default, and possibly enable coverage of external code as an option.

[2019-06-26 15:39] MarcoRossignoli commented on #476
@tonerdo a pair of question to go on with this
1) You wrote source link integration...is your original idea allow to generate report also for 3d party libs?
I mean report generator download file from web thanks to https://github.com/tonerdo/coverlet/blob/5a139b200f7bf51c21660b93f41906f4571c971b/src/coverlet.core/Coverage.cs#L246
2) What do you think about the idea of

[2019-06-26 15:45] vagisha-nidhi commented on #475
@onovotny The objectmodel should be back compat. You can give this a try. Coverlet integration has a dependency on the newer versions.

[2019-06-26 16:59] onovotny commented on #475
Okay, yes, that was the cause. Just wish that vstest output a stacktrace instead of an unhelpful crash :)

[2019-06-26 16:59] #475 closed

[2019-06-26 17:02] MarcoRossignoli commented on #475
Thank's for your time @vagisha-nidhi!

[2019-06-26 18:32] danielpalme commented on #476
You can specify filters in ReportGenerator, but you have to supply the name of the assembly.
There is no way to filter based on coverage.

[2019-06-27 05:12] dlplenin commented on #346
Hi @tonerdo @MarcoRossignoli
I did a fork just to check how Average is working.
Could you take a look at: https://github.com/dlplenin/coverlet
I did minor changes to calculate avegare based on average from all projects. Im not sure if it is ok only to modify `CalculateLineCoverage(Modules modules)` functions.
If it is right, only a change in CoverageResult.cs is needed (just to keep same logic, be

[2019-06-27 08:22] MarcoRossignoli commented on #346
Diego feel free to open a PR with your changes we'll discuss solutions directly there otherwise there is a risk to fill issue thread and will be less clear what is the problem.
Thanks for your effort here!

[2019-06-27 09:32] tonerdo commented on #476
@MarcoRossignoli @onovotny

I mean report generator download file from web thanks to

Not really. It was meant to allow coverage reports to always link to the specific version of the source code.

This is actually a good idea. Although I'll take it a step further and not instrument to begin with

We'll need to update this method https://github.com/tonerdo/coverlet/blob/d5d0a0b59c4d52ab759711e2e0a5

[2019-06-27 10:23] MarcoRossignoli commented on #476
Thank's Toni!

[2019-06-27 16:45] ardalis commented on #165
Merging results seems to have been done 10 months ago. Now would like to be able to specify a single output file for a .sln so that I can run this from solution root:
[code]
This would:
- Discover all tests
- Run all tests
- Collect coverage for all tests (and maybe drop the results into their respective folders as it does today)
- **New** Merge all test results into `CoverageResult.json` specifie

[2019-06-27 22:13] d-pardo commented on #110
Just fyi... In my case, the problema was when run coverlet into a docker and use NLog. I was getting 0% and no error was raised.
In my tests I added this line `LogManager.Configuration = new NLog.Config.LoggingConfiguration();` and now it is working.

[2019-06-27 22:14] dlplenin commented on #110
Just fyi... In my case, the problema was when run coverlet into a docker and use NLog. I was getting 0% and no error was raised.
In my tests I added this line `LogManager.Configuration = new NLog.Config.LoggingConfiguration();` and now it is working.

[2019-06-29 13:24] farhad-taran-cko opened #480 ""Coverlet.MSbuild.Tasks.CoverageResultTask" task was not given a value for the required parameter "InstrumenterState""
Hello,

I have setup a post build event in my shared test library, this library has not tests but is referenced by all my test projects, I did this because I want to automatically generate the reports every-time the projects are built.

[code]

however I am getting the following error when I try to build the solution and the build hangs:

`C:\...\packages\coverlet.msbuild\2.6.2\build\coverlet.msbu

[2019-06-30 10:53] yhvicey commented on #480
I worked around this by combining [Traversal SDK](https://github.com/microsoft/MSBuildSdks/tree/master/src/Traversal) and conditional switch. You can use `dirs.proj` file to put all your needed project on a build tree and let the sdk handle the traversal. Then, with your conditional switch property, I guess you can workaround this problem. My conditional switch looks like below:

[code]

[2019-06-30 15:59] farhad-taran-cko commented on #480
@yhvicey thanks for your response, any chance you could send me an example including the traversal snippet?

[2019-06-30 16:03] #388 closed

[2019-06-30 16:07] #403 closed

[2019-06-30 16:27] yhvicey commented on #480
Imaging we have a project folder like below:

[code]

Your first `dirs.proj` will look like below:

[code]

Your second `dirs.proj` will look like below:

[code]

And you can use this pattern recursively. I guess the root cause here is this coverlet version (2.6.2 in my case) cannot handle non-test project properly, so we have to avoid making coverlet available for those non-test projects, like yo

[2019-07-01 08:15] MarcoRossignoli commented on #480
thank's @yhvicey for help!
@farhad-taran-cko let know us if it works!

[2019-07-02 17:14] iron9light opened #482 "dotnet test with coverlet failed when UseSourceLink"
SonarSource/sonar-scanner-msbuild#756
My repo: https://github.com/iron9light/HOCON.Json
It CI with Azure pipelines.
When I add `/p:UseSourceLink=true` for dotnet test, it will not generate valid coverage file (opencover format) (sonar cannot get coverage info from the output coverage file).
When removed `/p:UseSourceLink=true` everything works fine.
coverlet.msbuild version: 2.6.3

[2019-07-03 07:46] MarcoRossignoli commented on #482
Can you provide more details?What does "non valid" mean?

[2019-07-03 07:54] MarcoRossignoli commented on #482
I cannot repro
[code]

[2019-07-03 08:04] MarcoRossignoli commented on #473
@mmvohra any news?

[2019-07-03 11:06] iron9light commented on #482
If you read SonarSource/sonar-scanner-msbuild#756 . You will found that, I got similar output as yours.
The problem is, if I enabled `/p:UseSourceLink=true`, the sonarcloud will not show the coverage info.
But if I disabled it, I can see the coverage info in sonarcloud.
I will change my azure pipelines and output the content of the coverage file for both cases.

[2019-07-03 11:50] MarcoRossignoli commented on #482
It's a bit different you got strange average https://github.com/SonarSource/sonar-scanner-msbuild/issues/756#issuecomment-507647800 right?

[2019-07-03 12:41] iron9light commented on #482
w/ UseSourceLink (see "Print opencover")
https://iron9light.visualstudio.com/github/_build/results?buildId=106
[code]
w/o UseSourceLink
https://iron9light.visualstudio.com/github/_build/results?buildId=107
[code]
@MarcoRossignoli Is the result correct?
@duncanp-sonar I think it's not a issue of coverlet. It just becouse sonar don't support sourcelink file path.

[2019-07-03 12:47] MarcoRossignoli commented on #482
@iron9light I'm not a great source link expert but I think you need to setup your project to support it https://github.com/dotnet/sourcelink#using-source-link-in-net-projects

[2019-07-03 12:54] MarcoRossignoli commented on #482
The strange thing I see is that `obj/Release/netstandard2.0/Hocon.Json.Version.cs` that I don't found on your repo.

[2019-07-03 13:13] MarcoRossignoli commented on #482
@AArnott do you have any idea?That file seem nbgv tmp file generated.

[2019-07-03 13:14] iron9light commented on #482
The version file is generated by [Nerdbank.GitVersioning](https://github.com/AArnott/Nerdbank.GitVersioning).

[2019-07-03 13:23] duncanp-sonar commented on #482
@iron9light I've removed the Sonar tasks from my copy of your build .yml and done a couple more tests. The links below are to the Azure DevOps build logs.
1) [with UseSourceLink](https://dev.azure.com/duncanp-test/AzureCoverageBug_HOCON/_build/results?buildId=257&view=logs&jobId=12f1170f-54f2-53f3-20dd-22fc7dff55f9&taskId=2b20c7d0-7587-5b0f-aadc-b456e6f0b807&lineStart=1601&lineEnd=1601&colStart=1&

[2019-07-03 13:29] MarcoRossignoli commented on #482
@duncanp-sonar that error seem https://github.com/tonerdo/coverlet/issues/418 but I cannot repro on my local after cloning `HOCON.Json` repo.
Seem that the issue here are 2
1) You get exception that I/we cannot repro
2) Coverlet generates nbgv autogenerated file.

[2019-07-03 13:42] duncanp-sonar commented on #482
Hi @MarcoRossignoli. Yep, looks like there are a couple of different issues.

Re (1): those failing builds were on MS-hosted agents (`Hosted Windows 2019 with VS2019`).
If it would help, I can make you an admin on the Azure DevOps project I created to do the testing. If that would be useful let me know your Azure DevOps account and I'll send you an invite.

Re: #418: I did point @iron9light at thi

[2019-07-04 02:38] iron9light commented on #482
I'm using Hosted Windows 2019 with VS2019 for my azure pipelines.
I was using 2.6.2 and now 2.6.3, but I do not get an error for dotnet test.

[2019-07-04 12:53] Lutando opened #483 "How could one use coverlet when running from a console application"
Is it possible to run coverlet from a console test app like illustrated [here](https://github.com/xunit/samples.xunit/blob/master/TestRunner/Program.cs) and if so could I be pointed in the right direction on where to look?

We have some custom tests that are written in a similar fashion to the above example for various reasons.

Any help appreciated :)

[2019-07-04 13:57] MarcoRossignoli commented on #483
dup of https://github.com/tonerdo/coverlet/issues/212

At the moment we don't offer "official supported package" to use coverlet engine, you can find reasons on thread.

[2019-07-04 13:57] #483 closed

[2019-07-04 13:57] ambujs opened #484 "netcoreapp1.1 support?"
Hello, just wondering if I should be able to use this package on a netcoreapp1.1 project?
I'm trying to run:
 `dotnet test  ./dh.SR.WebApi.www.Test/dh.SR.WebApi.www.Test.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=opencover`

but getting this error:
` Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The system cannot find

[2019-07-08 07:25] MarcoRossignoli commented on #484
dup of https://github.com/tonerdo/coverlet/issues/466 at the moment we support `netstandard2.0`
to support `netcoreapp1.1` we need to do some updates and downgrade to `netstandardard1.3`

[2019-07-08 07:26] MarcoRossignoli commented on #484
Feel free to reopen or move on discussion on other thread.

[2019-07-08 07:26] #484 closed

[2019-07-08 07:38] MarcoRossignoli commented on #466
@AArnott following up https://twitter.com/aarnott/status/1147714360757719041 I wonder if make sense for coverlet support framework out of LTS.
It's true that coverage is a "cross" activity and support old code could be a plus, maybe multitargeting.

cc: @tonerdo

[2019-07-08 12:44] NazmiAltun commented on #110
Downgrading  coverlet.msbuild version from  2.6.3 to  2.0.0 fixed the issue for me. Is there any better workaround/fix for this issue?

[2019-07-08 13:14] AArnott commented on #466
I'm planning to cut support for it from my libraries at this point.

[2019-07-08 13:26] MarcoRossignoli commented on #110
see https://github.com/tonerdo/coverlet/issues/110#issuecomment-500351644

@NazmiAltun we need to wait for sdk 2.2.4 to use new collectors that should solve this issue.

[2019-07-08 17:16] NazmiAltun commented on #110
@MarcoRossignoli oops, missed that comment. Thanks, i will be following it.

[2019-07-08 18:31] Stefanie899 opened #485 "Coverage Report not Generated When Running through VS 2019 Test Explorer -- coverlet.collector"
This issue is occurring when using `coverlet.collector v1.0.0`. Essentially coverage reports are generated when I run tests through the command line, but when running through the Test Explorer, coverage reports are not generated.

I have set up a .runsettings file which essentially just describes which format to use and some custom exclusions I need for my project:

[code]

I have selected this .r

[2019-07-09 07:51] MarcoRossignoli commented on #485
@vagisha-nidhi any ideas?
Seem related to VS integration

[2019-07-09 09:41] stumpyfr opened #486 "invalid Exclude parameter"
Hi,

trying to add more filter to the Exclude option but soon as I am trying to add a second one, separated by comma as indicated in the doc, I got this error:

[code]

corverlet version: 2.6.3

[2019-07-09 09:50] stumpyfr commented on #486
ok...msbuild doesn't handle well `,`, we are in 2019 :).
If you encode it `%2c`, it's working well:
[code]

Thanks to https://github.com/Microsoft/msbuild/issues/471

[2019-07-09 09:50] #486 closed

[2019-07-09 11:18] vagisha-nidhi commented on #485
@MarcoRossignoli @Stefanie899 Yes the issue is related to VS integration.
Any custom datacollector path is not automatically known when running via VS. In dotnet test, this happens because we set the test adapter path to find the datacollector in the targets file [https://github.com/tonerdo/coverlet/blob/master/src/coverlet.collector/build/netstandard1.0/coverlet.collector.targets](https://github.

[2019-07-09 11:27] MarcoRossignoli commented on #485
Thanks Vagisha for investigation, can you link here issue from vstest repo for @Stefanie899?
I'm going to close this because unrelated to Coverlet.

[2019-07-09 11:27] #485 closed

[2019-07-09 12:10] MarcoRossignoli commented on #486
FYI https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md#note-for-powershell--vsts-users

[2019-07-09 12:16] stumpyfr commented on #486
And now feeling stupid :).
Thanks!

[2019-07-09 12:23] MarcoRossignoli commented on #486
Actually it's not so clear on guide, it's under `Note for Powershell / VSTS users` maybe we should make it clearer.

[2019-07-09 12:29] stumpyfr commented on #486
Cannot confirm right now but I think I try and got the same error on CMD too, so not only Powershell but "Windows"

[2019-07-11 09:06] tonerdo commented on #466
I'm on board with cutting out support for < netstandard2.0

[2019-07-11 09:09] MarcoRossignoli commented on #466
So I think that we can close this for the moment.

[2019-07-11 23:45] #466 closed

[2019-07-13 05:37] vixo777 commented on #110
Hello all, on the same codebase I get 0% coverage when running all tests, but if I run only selected tests (a subset of the entire test project) I start getting coverage readings. I was able to isolate the test that seems to cause the whole set to zero-out the coverage reading. I read comments above about having to wait for sdk 2.2.4, but, are there known code patterns that would cause coverlet no

[2019-07-14 15:24] murugaratham opened #488 "access to path is denied on mac OSX"
Hi,

I'm running on OSX with dotnet core 2.2 installed, i can generate the coverage when i do `sudo`, when i don't, i'm getting:

[code]

This is the script i'm executing

[code]

Is sudo required?

[2019-07-15 00:18] murugaratham commented on #488
Sorry to waste anyone's time, but i've ran the script with sudo the first time round and caused the file to be only accessible by root. After cleaning the files and reran without sudo, it works perfectly fine.

[2019-07-15 00:18] #488 closed

[2019-07-15 15:47] TFTomSun opened #489 "use coverlet with binary based tests using dotnet vstest"
is there a possibility to use coverlet with dotnet vstest (not to confuse with dotnet test)?
dotnet vstest takes test assemblies as parameters.

btw. i tried to add the switch --collector:"XPlat Code Coverage" but i got the message that the collector couldn't be found. How do i need to publish my test assembly to make it available?

[2019-07-15 22:34] tonerdo commented on #489
@TFTomSun what version of the .NET CLI are you using?

[2019-07-16 04:20] TFTomSun commented on #489
@tonerdo 3.0 preview-6
I found another way, I used the coverlet global tool instead in conjuction with dotnet vstest. Works fine.

[2019-07-16 10:32] MarcoRossignoli commented on #489
I think could be related to https://github.com/tonerdo/coverlet/issues/456#issuecomment-500184354

[2019-07-16 11:48] molszews opened #490 "Output multiple formats when executed via vstest (coverletArgs.runsettings)"
Hey, is there a way to output multiple attachments with coverage results in different formats when VSTest integration is used?
Settings parser right now takes the first format defined from .runsettings file: https://github.com/tonerdo/coverlet/blob/66a01198679f8d2c0e79d1fe1955d1e5553abecc/src/coverlet.collector/DataCollection/CoverletSettingsParser.cs#L88

[2019-07-16 12:27] iron9light commented on #357
@joemey how does `MergeWith` work with multiple `CoverletOutputFormat`?

[2019-07-16 13:21] MarcoRossignoli commented on #357
@iron9light take a look at https://github.com/tonerdo/coverlet/issues/474

[2019-07-16 13:24] MarcoRossignoli commented on #490
cc: @vagisha-nidhi

[2019-07-16 18:28] jkoritzinsky opened #491 "Running coverlet global tool over dotnet build intermittently fails to open file when calculating coverage"
In my project https://github.com/SharpGenTools/SharpGenTools I've recently switched to using Coverlet for my code-coverage instrumentation. I've been encountering an intermittent issue where the Coverlet global tool is unable to open the hits file since it is being used by another process.

This only happens when I'm using the Coverlet global tool to instrument my MSBuild tasks while running `dotn

[2019-07-16 18:46] jkoritzinsky commented on #491
Sometimes you'll get a different crash (with the same exception) when the instrumentation tracker in MSBuild loses the race and can't access the hits file to save the data on the shutdown of the `dotnet.exe` process. I also have a minidump saved for this scenario.

[2019-07-17 16:51] ardalis commented on #170
@gforceg Thanks! That verbatim operator for powershell needs to be prominent in the docs for this, @tonerdo, please!

[2019-07-17 20:04] Lutando opened #492 "exclude is not working with coverlet console"
When running
`--format 'opencover' --include "[Foo],[Foo.Bar]" --exclude "[xunit*]*,[Foo.TestHelpers]"` as part of my coverlet command (using the cli tool). I still tend to get all of the coverage results for xunit and `Foo.TestHelpers` ie :

[code]

I am using OSX, I have looked through some of the issues related to supplying the correct exclude filter and I have tried all the solutions that have

[2019-07-17 20:27] Lutando commented on #492
With the increased log level I do indeed see

[code]
[code]

[2019-07-17 20:53] Lutando commented on #492
Sorry false alarm. Looked at the command line util that coverlet.console uses and to specify multiples you just flag each argument the same.

soln: `coverlet 'path/to/assembly.dll' --target 'dotnet' --targetargs 'path/to/assembly.dll' --format 'opencover' --include "[Foo]" --include "[Foo.Bar]" --exclude "[xunit*]*" --exclude "[Foo.TestHelpers*]*" --verbosity detailed`

[2019-07-17 20:53] #492 closed

[2019-07-18 04:26] Lutando commented on #483
If anybody passes by

If all you want to do is see how running assembly `Foo` covers Assembly `Bar`. A does not have to be a test assembly, as in, it does not have to be a test runner application, it can be any runnable .net application. If `Foo` is a console app you can do:

`coverlet /path/to/Foo.dll --target "dotnet" --targetargs "run /path/to/Bar --no-build"`
where `Foo` is a standard console

[2019-07-18 07:24] MarcoRossignoli commented on #81
At the moment we can achieve this using [`ExcludeByAttribute`](https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md#excluding-from-coverage) thank's to https://github.com/tonerdo/coverlet/pull/477#issuecomment-512515625

[2019-07-20 21:08] vixo777 commented on #110
Continuing to get more info on the 0% coverage, I'm running coverlet.console on the debugger, with references to the coverlet.core project. I added traces to ModuleTrackerTemplate class and I can see calls to RecordHit and Registering the Unload Events. However, the UnloadModule method doesn't seem to be called for the tests for which I get 0% coverage. The only other thing I see is a lonely messa

[2019-07-22 04:59] vagisha-nidhi commented on #490
We need to look at if we can get multiple attachments from datacollectors to test platform.
cc: @cltshivash @PBoraMSFT

[2019-07-22 06:31] vagisha-nidhi commented on #490
@MarcoRossignoli Multiple attachments support is present in datacollectors.
We just need to get the logic of creating reports out of Coverage Manager and do something like this [https://github.com/tonerdo/coverlet/blob/09f91f2afa623dbd011acac8a10f6023d9513812/src/coverlet.msbuild.tasks/CoverageResultTask.cs#L99](https://github.com/tonerdo/coverlet/blob/09f91f2afa623dbd011acac8a10f6023d9513812/src/

[2019-07-22 13:20] yauhenyaulampyeu commented on #284
\| ?Total +\| +(\d+.\d+|\d+)%
works fine

[2019-07-22 14:49] TFTomSun opened #494 "Coverlet cli on Alpine Linux not working"
I get the following output on alpine linux:

For the same project on windows i get the following output

I can see no issues, but coverlet seems not to collect coverage data on the alpine linux. Is there a possibility to get more log information?

[2019-07-23 13:22] cbroxton commented on #491
Could you post some more info about the error you're getting? I think we're getting an error which sounds similar to what you described in our Azure Devops pipeline, see below...

`2019-07-23T12:53:55.0463811Z Test Run Successful.
2019-07-23T12:53:55.0481876Z Test execution time: 30.7144 Seconds
2019-07-23T12:53:55.1195193Z
2019-07-23T12:53:55.1377050Z Calculating coverage result...
2019-07-23T12:

[2019-07-23 21:06] MarcoRossignoli opened #496 "Improve tests"
We should add a test to cover https://github.com/tonerdo/coverlet/pull/495

cc: @ViktorHofer @tonerdo

[2019-07-23 21:13] MarcoRossignoli commented on #494
Have you tried with https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md?

[2019-07-23 21:19] MarcoRossignoli commented on #491
I don't know if they are same problem, we have a know issue for `Unable to read..." https://github.com/tonerdo/coverlet/issues/110 that should be fixed by collectors, I'm OOF at the moment I'll take a look next week, sorry for the delay guys and thanks for help on investigation

[2019-07-24 00:15] jkoritzinsky commented on #491
The issue that I found seemed to be caused by the fact that `dotnet build` defaults to parallel builds. The following two things happened:

- The MSBuild nodes don't shut down immediately and coverlet isn't resilient to a subprocess writing the hits file when the main program ends (the first issue I mentioned)
- The coverlet instrumenting isn't resilient to the same assembly being loaded multiple

[2019-07-24 07:50] TFTomSun commented on #494
I got the following output:

I wonder why my API and Test assembly are not instrumented. And what does Excluded module filter '[xunit*]*' mean ?

[2019-07-24 07:57] TFTomSun commented on #494
Maybe the reason is that I restore the test using another project. To make the test run i have to copy the some json files

[code]

[2019-07-24 08:27] TFTomSun commented on #494
The output with detailed verbosity on windows:

[2019-07-24 09:31] hughbe opened #497 "Possible regression from 2.6.0 to 2.6.2: Could not convert string '{"Line":57,"Ordinal":0}' to dictionary key type 'Coverlet.Core.Instrumentation.BranchKey'"
at Newtonsoft.Json.Serialization.JsonSerializerInternalReader.PopulateDictionary(IDictionary dictionary, JsonReader reader, JsonDictionaryContract contract, JsonProperty containerProperty, String id)
   at Newtonsoft.Json.Serialization.JsonSerializerInternalReader.CreateObject(JsonReader reader, Type objectType, JsonContract contract, JsonProperty member, JsonContainerContract containerContract, J

[2019-07-24 09:40] hughbe commented on #497
See https://github.com/dotnet/winforms/pull/1248

[2019-07-24 10:32] cbroxton commented on #491
Thanks for that, I've added the -m:1 flag to the dotnet build step of our Azure Devops pipeline and based on initial tests it seems to have solved the issue. I couldn't find any docs on how exactly that flag works though.

[2019-07-24 14:49] ViktorHofer commented on #496
I think it makes sense to look at the current coverage of all the instrumentation methods and flick holes.

[2019-07-24 15:53] MarcoRossignoli commented on #497
Dup https://github.com/tonerdo/coverlet/pull/458

Try to upgrade to 2.6.3

[2019-07-25 08:55] hughbe commented on #497
Great! Thanks so much

[2019-07-25 08:55] #497 closed

[2019-07-25 13:45] embarrassedmilk commented on #342
@jmezach did you work around this problem by any chance? I'm using 2.6.3 atm and issue still seems to be there

[2019-07-25 16:48] paul1956 opened #499 "With VB WinForms on CoreFX and XUnit I don't get a summary"
dotnet test --collect:"XPlat Code Coverage"
Run from test directory

I do get results in TestExplorer directory.

[2019-07-26 07:16] KerbalSpike commented on #268
Not sure if this is still relevant to your case, but I've struggled with the same issue for a few days until I realized, that the solution is really simple: just use a relative path for /:pCoverletOutput

Here is the relevant yaml snippet from our pipeline:
[code]
So this runs dotnet test for all '***.Test.csproj**' projects in the solution and generates the coverage output inside the source direc

[2019-07-26 11:53] olivier-spinelli commented on #290
This should be supported. May this issue be reopened? (And eventually handled... this should not be too complicated to implement.)

[2019-07-26 13:50] MarcoRossignoli commented on #268
@Blackbaud-ChristiSchneider do the @KerbalSpike work around works in your case?

[2019-07-26 16:41] Stefanie899 opened #500 "Unable to specify output directory when using VSTest integration?"
In the MSBuild integration of Coverlet, you can specify the output directory (and/or file) using -p:CoverletOutput='./result/'.

Am I correct that this feature is not available in the VSTest integration? And if so, are there any technical reasons why this can't be implemented into the VSTest integration?

[2019-07-26 21:03] paul1956 opened #501 "Any information on using Newtonsoft to deserialize the results"
I would like to be able to display colorized source but I am having trouble turning the Json result test into an object I can work with.

[2019-07-26 21:06] #501 closed

[2019-07-26 21:07] paul1956 commented on #501
Sorry I was doing something wrong in my invocation.

[2019-07-27 04:26] paul1956 opened #502 "No coverage for VB Solution"
Invoke from Developer Prompt, Core3.0 Project
[code]

[2019-07-27 04:34] david-driscoll opened #503 "Coverage works locally but returns `∞%` when running on Azure Pipelines or Appveyor"
I'm currently running into a strange problem, which may be related to using the latest .NET Core 3 Preview. (I don't know for sure).

On my computers coverage comes back for all the expected modules instrumented, but when running on a CI environment  no modules get instrumented and I'm not able to determine why.

Locally I get:
![image](https://user-images.githubusercontent.com/1269157/61989949-65

[2019-07-27 07:46] MarcoRossignoli commented on #500
cc: @vagisha-nidhi

[2019-07-27 07:47] MarcoRossignoli commented on #499
Do you mean console output?

[2019-07-27 07:49] MarcoRossignoli commented on #502
Weird. Can you try to enable logs https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration
Is this a oss project that I can repro?

[2019-07-27 08:06] MarcoRossignoli commented on #503
![Capture](https://user-images.githubusercontent.com/7894084/61991836-135c4180-b056-11e9-89cb-99650ceae347.PNG)

I compared the two binlog, and the only difference I see is that on CI you're in release, can you confirm that libs are present on release folders(`Rocket.Surgery.Nuke.dll` etc...)?

[2019-07-27 08:14] #346 closed

[2019-07-27 14:36] david-driscoll commented on #503
Yeah, the files are there (I added them as an artifact to be published)
https://rocketsurgeonsguild.visualstudio.com/Libraries/_build/results?buildId=1815&view=artifacts

Attached is the output from the build above.
[1815.zip](https://github.com/tonerdo/coverlet/files/3438259/1815.zip)

This is where I just get really confused.  I've tried using `IncludeDirectory` as well, but that doesn't seem to

[2019-07-27 17:19] david-driscoll commented on #503
Oh and another note I also tried using the new collector package, and that gave me the exact same behavior

[2019-07-27 21:22] paul1956 commented on #502
When I expanded to include everything I am seeing coverage of lines, branches and methods for Xunit.execution.dotnet.dll.

[2019-07-27 21:25] paul1956 commented on #502
Yes the project is on GitHub, I will update to include the Coverlet commands.
https://github.com/paul1956/CSharpToVB

[2019-07-27 21:38] paul1956 commented on #499
Yes I get console output just not a coverage summary
[code]

[2019-07-27 23:16] paul1956 commented on #502
@MarcoRossignoli Windows 10 doesn't like the log viewer thinks its a virus.

[2019-07-27 23:37] gmarokov commented on #284
None of the above regex did the trick for me. What actually helped `Total.*?(\d+(?:\.\d+)?)%`

[2019-07-28 07:37] paul1956 opened #504 "Question Is there a defination of the BranchInfo Fields"
BranchInfo Offset and EndOffset are almost always 2 apart and Path and Ordinal are usually 0 and when they are not I don't know what they mean. I am trying to color code source, lines work as expected.

[2019-07-28 17:17] StevenTCramer commented on #491
@cbroxton I'm hitting the same issue.  Can you explain what you mean but adding the -m:1 flag?

Adding it where?  I am looking at the docs and it doesn't seem to exist.

[2019-07-28 17:35] MarcoRossignoli commented on #491
`-m:1` forces sequential builds using only one cpu

some infos https://docs.microsoft.com/en-us/visualstudio/msbuild/building-multiple-projects-in-parallel-with-msbuild?view=vs-2019

[2019-07-28 17:50] StevenTCramer commented on #491
The process cannot access the file 'C:\agent\_work\6\s\test\TestApp.EndToEnd.Tests\bin\Debug\netcoreapp3.0\BlazorState.dll' because it is being used by another process.

Still happens with the maxcpucount set to 1

If anyone cares to review.... https://timewarpenterprises.visualstudio.com/Blazor-State/_build/results?buildId=593
without coverlet they all pass.

[2019-07-29 06:37] fkucuk commented on #480
for the record, I've faced the same error, and I've realized that I've had added coverlet nuget to business projects. When I removed it, it's been fixed.

[2019-07-29 09:01] paul1956 commented on #502
Using the command below from the solution directory
[code]
The results are below

[msbuild.zip](https://github.com/tonerdo/coverlet/files/3441125/msbuild.zip)
[msbuild.ProjectImports.zip]
(https://github.com/tonerdo/coverlet/files/3441122/msbuild.ProjectImports.zip)
[coverage.zip](https://github.com/tonerdo/coverlet/files/3441135/coverage.zip)
[code]

[2019-07-29 09:14] MarcoRossignoli commented on #502
Thank's for repro...I'll do a check ASAP.

[2019-07-29 15:14] MarcoRossignoli commented on #499
At the moment we don't print anything for collectors.
@vagisha-nidhi have you got some requests(issue) about it in your VSTest repo?

[2019-07-29 15:32] MarcoRossignoli commented on #502
Can you try to run `dotnet --info` from `C:\git\CSharpToVB` folder? I cannot rebuild and I'd like to know which version of core are you running.

[2019-07-29 16:03] MarcoRossignoli commented on #503
Can you attach coverlet generated(all 4 files) files from CI?I'd like to understand what is inside those files.

![image](https://user-images.githubusercontent.com/7894084/62063441-1f4d2c80-b22b-11e9-89df-6ad0f0bdce3d.png)

[2019-07-29 17:47] paul1956 commented on #502
[code]

[2019-07-29 17:49] paul1956 commented on #499
@MarcoRossignoli I am not requesting it, I thought it might be rated to not getting any collection on VB applications. I will close this.

[2019-07-30 05:23] fkucuk opened #506 "Coverage is not calculated if there is rabbitmq used"
First of all, thanks a lot for this great tool.

I am testing my REST Api by following Microsofts this guide: https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.2

In this guide, I am extending dotnet.core's WebApplicationFactory:
[code]

My sample repo is here: https://github.com/fkucuk/shared/tree/master/CoverletCoverageIssue

In the startup of my application I

[2019-07-30 07:29] jeffanders opened #507 "Coverage does not distinguish between property getters and setters"
Coverlet doesn't appear to differentiate between property getter and setters when calculating coverage.

For example, given a project with only this simple class:
[code]

And the test project only has the following test:
[code]

The test passes, the property is read via it's getter, the setter is not called (i.e. the exception is not thrown) yet the coverage report says 100% coverage.  I expected

[2019-07-30 07:56] jeffanders commented on #507
I think I have identified the issue.  The coverage is limited to line level.  If I change that implementation to:
[code]
Then this works as expected. But it is definitely a gotcha, particularly when using expression bodies for getters/setters as they can often fit on one line. Not sure if this is already documented somewhere but if not it is probably worth documenting as it could give a false sens

[2019-07-30 08:12] MarcoRossignoli commented on #506
I cannot repro, I mean if I start test startup code run and I don't have correct rabbit configuration and get exceptions. How you run in "mock" mode?
[code]
Can you also try to enable logging to undestand what is instrumented? https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration

[2019-07-30 08:26] jeffanders commented on #507
While it is probably fair that the line coverage percentage is 100% I still think the method coverage percentage is misleading.  I expected getters and setters to be treated as separate methods regardless of how many lines they are implemented over.

I suspected that this wasn't specific to property getters/setters but rather a general limitation of only recognising at most one method per line.  I

[2019-07-30 09:34] MarcoRossignoli commented on #507
@jeffanders understood your observation, but at the moment the way coverlet generate hits is instrumenting code using pdb(lines of code) and IL, coverlet "links" portion of code reported by pdb(for instance line 10-15) with IL op codes section(ie 10 opcode...)...we record if test hitted that portion inserting a "record call"(static method call) inside that block and we account for that 5 lines. Pd

[2019-07-30 12:40] fkucuk commented on #506
hey @MarcoRossignoli thanks for trying. You need a real rabbit server and change the [configuration file](https://github.com/fkucuk/shared/blob/master/CoverletCoverageIssue/CoverletIssueRaiser/appsettings.Development.json) properly.

I've masked my settings, so you get error.

[2019-07-30 12:47] MarcoRossignoli commented on #506
Ok so your tests run mocked by `WebApplicationFactory` but only if there is a rabbit server?

[2019-07-30 12:58] fkucuk commented on #506
No ;)
I can fake/mock rabbit server by using its InMemory feature, with the following [code](https://github.com/fkucuk/shared/blob/dbf1f3393b31e331805332b7a5093076c26ff804/CoverletCoverageIssue/ApiTests/TestWebApplicationFactory.cs#L17):

[code]

And it works perfectly fine. I mean, the coverage is calculated.

But If I don't use fake/mock of the rabbit. I mean, if I access the real rabbitmq serve

[2019-07-30 13:00] jeffanders commented on #507
@MarcoRossignoli I am literally just getting started with code coverage and Coverlet looked like a great tool to get started with, so I am not familiar with what other tools can do.  I was just genuinely surprised by that behaviour as it was literally *THE* first test I was writing in Coverlet and was genuinely expecting a 50% coverage.

I think that technical limitation is fine and understandable

[2019-07-30 13:11] MarcoRossignoli commented on #507
Sure every idea/discussion are welcome here!
We can say that at the moment coverlet account "line by line" as you can see on code https://github.com/tonerdo/coverlet/blob/4d61d296e3bd93d52f5eeaaff5b30bd8c0536c67/src/coverlet.core/CoverageSummary.cs#L7

[2019-07-31 00:47] #499 closed

[2019-07-31 00:50] jeffanders commented on #507
Thanks @MarcoRossignoli for providing the reference to that code, it was enlightening to take a look at how this is being reported and how Coverlet is working at a line level in general.

Now that I have a bit more of an idea of what is going on under the covers, I think an analyzer would be overkill. I have a more straight forward idea. Basically I think Coverlet could do the following:
1. If the

[2019-07-31 05:53] paul1956 commented on #502
@MarcoRossignoli do you need anything else?

[2019-07-31 06:23] fkucuk commented on #506
I have tried with the global tool, unfortunately, the result is the same.

I've also run the tests with the following command:
`dotnet test -c debug /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Include=[coverlet.*]* -verbosity:diagnostic -bl:realmsbuild.binlog -noconsolelogger` for two versions of my code.

I've set [isRabbitFake = true](https://github.com/fkucuk/shared/blob/dbf1f3

[2019-07-31 08:27] MarcoRossignoli commented on #502
I cannot compile/run test...I don't undestand if the issue is that the project is missing something(or my setup) o other
[code]

[2019-07-31 10:25] dorgold commented on #282
Did anyone find a workaround to keep the attributes in the same order?

[2019-07-31 10:40] MarcoRossignoli commented on #282
@dorgold I opened a PR to upgrade Cecil lib https://github.com/tonerdo/coverlet/pull/508 to avoid reordering...you can use nightly untill next release https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2019-07-31 10:45] #282 closed

[2019-07-31 10:48] dorgold commented on #282
Thanks @MarcoRossignoli!
Just found a workaround till then, i'll use the Order property of ActionFilterAttribute:
https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-2.2#overriding-the-default-order

[2019-07-31 10:51] MarcoRossignoli commented on #282
Great also better!

[2019-07-31 10:51] MarcoRossignoli commented on #507
I understood your idea, we can keep open this issue to understand if there is a community interest on this feature.

[2019-07-31 11:25] SteveGilham commented on #504
Ordinal is a zero-based numbering of branches within a method
Path indicates which exit from a branch -- usually 0 or 1, but for a n-way switch should be 0 to (n-1)
Offset is the IL offset of the branch instruction within the method
EndOffset is the IL offset of the destination

[2019-07-31 11:28] jeffanders commented on #507
Is this something you would consider a pull request for?  Not sure if I have the time for it any time soon and have only just started to look at the underlying code. But assuming I can find time and can figure out the inner workings appropriately I am willing to try and give back via a pull request.

I was thinking about this a bit more and I believe there is also aliasing issues with lambdas and

[2019-07-31 12:47] SteveGilham commented on #507
The sequence point information in the .pdb gives start line/column and end line/column information, which would distinguish the two sections of code in the original report, were it all flowed through to the final report.

However, even when you have unvisited code points correctly recorded in whatever raw file, many reporting tools will take any coverage of a line as complete coverage of that line

[2019-07-31 17:29] paul1956 commented on #502
Sorry, it's not Master (which is frameworks based) it's Core3.0, https://github.com/paul1956/CSharpToVB/tree/Core3.0. I didn't realize that I broke Master doing a bug fix, thanks for pointing that out.

[2019-07-31 18:02] paul1956 commented on #504
Thanks

[2019-07-31 18:02] #504 closed

[2019-07-31 18:24] MarcoRossignoli commented on #502
Great tomorrow I'll give another try

[2019-07-31 22:53] paul1956 commented on #502
I found this https://github.com/Microsoft/msbuild/issues/2221, which seems to apply to the issue you were seeing but I can't reproduce it. Since I don't actually use that resource I will delete it and upload a newer version for Core3.0.

[2019-08-01 06:55] MarcoRossignoli commented on #504
thank's @SteveGilham for the answer!

[2019-08-01 07:04] MarcoRossignoli commented on #507
@SteveGilham you've more experience than me on coverage, do you know if exists around some coverage plat with this level o details?I mean instrumenting runtime+report tool?

[2019-08-01 08:26] MarcoRossignoli commented on #502
@paul1956 again issue
[code]
Seem that there are some dependencies to build project.

[2019-08-01 08:40] joanhardguy commented on #284
In my case, what separates the decimals from integers is a comma, so  What actually helped me si `Total.*?(\d+(?:\,\d+)?)%`

[2019-08-01 10:08] jeffanders commented on #507
@SteveGilham After some digging I can see this is a limitation in the downstream reporting tools (for example the Cobertura format is line based).  It seems a reasonable approach given the limitations in consumers of the output.

I still think there is a solution for this for those developers who care about this (i.e. it would only apply the stricter concept of coverage when using ```/p:CoverletNo

[2019-08-01 10:30] MarcoRossignoli commented on #507
FYI I was working on a lambda coverage issue context https://github.com/tonerdo/coverlet/pull/369

[2019-08-01 12:33] jeffanders commented on #507
@MarcoRossignoli There definitely seems to be some overlap (no pun intended) with this issue and #369 and your work on it. It looks like your work already improves the situation for lambdas at the very least (and presumably anonymous delegates). I have subscribed to that other issue and once it is complete/merged I will see if I have time/inclination at that point to circle back to this issue, see

[2019-08-01 13:56] MarcoRossignoli commented on #507
Thanks to all for share ideas/knowledge

[2019-08-01 15:08] SteveGilham commented on #507
@MarcoRossignoli The original NCover 1.x recorded start/end line/colum in its XML report, and for viewing classic NCover reports, the NCoverExplorer tool would show this level of detail
![2019-08-01](https://user-images.githubusercontent.com/7460854/62304190-64fd3580-b475-11e9-83d4-637e4ddd615c.png)
and its coverage percentages are of the sequence points rather than lines (as is the summary emitte

[2019-08-04 01:05] paul1956 commented on #502
I have deleted VB_CountAll and made the rest of the tests skip if Roslyn Source is not found. There should still be 100+ tests

[2019-08-04 16:37] onovotny commented on #476
@tonerdo any luck here?

We're seeing users get confused by this leading to unexpected errors: https://github.com/dotnet/reactive/issues/984

[2019-08-05 10:25] aalmada commented on #476
I can find in the coverage report when it considers unwanted 3rd party libraries but, in this case, no report was being generated. I was getting the following cryptic error message:

_System.IO.FileLoadException : Could not load file or assembly 'System.Interactive, Version=4.0.0.0, Culture=neutral, PublicKeyToken=94bc3704cddfc263' or one of its dependencies. Strong name signature could not be ver

[2019-08-05 10:31] MarcoRossignoli commented on #476
@aalmada just open a PR to solve the issue https://github.com/tonerdo/coverlet/pull/510 the idea si to skip instrumentation for modules with embedded pdb without local source available.

[2019-08-06 00:11] david-driscoll commented on #503
Sorry for the delay, I was out on vacation with super slow internet!

Attached is the coverage output (including the empty report)
[Coverage - Windows.zip](https://github.com/tonerdo/coverlet/files/3469783/Coverage.-.Windows.zip)

[2019-08-06 12:38] MarcoRossignoli commented on #502
@paul1956 I got some numbers you got it?
[code]

[2019-08-06 12:49] MarcoRossignoli commented on #494
I noticed a small difference in paths

[code]

That `/calculator.api/_out/` vs `calculator.api_out\test_out\` could be related?

[2019-08-06 12:59] MarcoRossignoli commented on #503
Can you try to add `/p:IncludeDirectory=c:\...` to command and add the directory where dlls should be?

[2019-08-06 17:37] clairernovotny opened #511 "Coverage causes hangs"
Hi,

When adding coverage for .NET Framework, it's causing hangs. It works fine on .NET Core:
https://dev.azure.com/onovotny/GitBuilds/_build/results?buildId=2203&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9

This commit has the changes:
https://github.com/onovotny/bc-csharp/commit/5ddb17530b4175ce31092ac671d2ed496c2ecd06

Here's the command that fails, when on .NET Framework: https://github.c

[2019-08-07 07:50] paul1956 commented on #502
Did you change anything? there were 3 options in CodeCoverage.cmd VSTest, MSBuild and dotnet Test, what you used is not any of them. The only thing I am testing is  VB.CodeConverter, the rest are UI routines or HashLibrary from Roslyn. Your numbers are reasonable coverage without Roslyn Source.

[2019-08-07 08:30] MarcoRossignoli commented on #502
I'm using msbuild, I mean when you run dotnet test and pass CollectCoverage=true you're using msbuild integration(in your CSharpToVB.Tests.vbproj file)
[code]
So I didn't change anything. Only run above command line from root repo dir.

[2019-08-07 09:00] MarcoRossignoli commented on #511
Hi Oren,
I did some check and it's related to instrumentation, that test seem a performance test comparison https://github.com/onovotny/bc-csharp/blob/netstandard/crypto/test/src/math/ec/test/ECPointPerformanceTest.cs#L21 that lead to a lot of call to [instrumentation code](https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Instrumentation/ModuleTrackerTemplate.cs#L68)

![image](htt

[2019-08-07 11:47] onovotny commented on #511
I think there may be other things going too as it's sometimes affectint the test itself:

[code]

Not every run, but more than once.

[2019-08-07 12:07] onovotny commented on #511
Those errors shouldn't be happening based on those code paths, it seems like Coverlet may be interfering with the normal code flow.

[2019-08-07 12:14] MarcoRossignoli commented on #511
You mean more than one time in same CI loop(to undestand if could be related to instrumenting more than once problem)?
I don't know what tests does...could be related to IL "instrumentations"?Coverlet injects a static class per module(`ModuleTrackerTemplate`) and a static call `RecordSingleHit/RecordHit` to it for every sequence/branch point.

[2019-08-07 12:16] onovotny commented on #511
I mean running it from the command line different times. It's non deterministic.

[2019-08-07 12:18] MarcoRossignoli commented on #511
Can you try to "cleanup"(git -fdx) between tests and check if it happens?

[2019-08-07 12:23] onovotny commented on #511
Will try. In the interim, even with the `ExcludeFromCodeCoverage` attribute and SingleHit=true, `TestSumOfTwoMultipliesComplete` appears to take a very long time and isn't completing.

[2019-08-07 12:28] onovotny commented on #511
Hmm....running twice without a clean does appear to trigger the errors. Seems like it's over-instrumenting or breaking something that way?

[2019-08-07 12:28] MarcoRossignoli commented on #511
IIRW we had some issue where libs were instrumented more than once leading to weird results.

[2019-08-07 12:32] jkotas commented on #511
This is small-enough method to be inlined by JIT without any hints. I do not expect that aggressive inlining would help anything here.

[2019-08-07 12:38] MarcoRossignoli commented on #511
At the moment we don't check if module is already instrumented(maybe we could try to check if module tracker is present)

[2019-08-07 12:38] onovotny commented on #511
Spoke too soon, even after a clean, I got an error:

[code]

[2019-08-07 12:45] MarcoRossignoli commented on #511
Tell me where you put `ExcludeFromCodeCoverage` I would try to repro on my local(of if you've branch/commit to clone).

[2019-08-07 12:49] onovotny commented on #511
I tried it on ECAlgorithmsTest.cs on the `TestSumOfTwoMultipliesComplete` method. It's in `crypto\test\src\math\ec\test`

[2019-08-07 12:50] onovotny commented on #511
Looks like it takes 8.2 minutes on my machine to complete (with SingleHit = true and no ExcludeFromCodeCoverage attributes set). Still a significant issue given that it takes 1.5 minutes without any coverage.

[2019-08-07 13:00] MarcoRossignoli commented on #511
I'll try to understand what's going on, thank's for quick infos!

[2019-08-07 13:04] onovotny commented on #511
Perf isn't the only issue. I'm concerned about the random failures it injects.

![image](https://user-images.githubusercontent.com/1427284/62624957-445c3200-b8f2-11e9-9a7f-215905bd5e79.png)

Locally, after 8.3 min, it passed one platform but something failed on another. Started with a clean repo.

Same thing on Azure Pipelines happened to pass completely this time. https://dev.azure.com/onovotny/G

[2019-08-07 13:06] MarcoRossignoli commented on #511
I'll try to repro asap

[2019-08-07 13:11] onovotny commented on #511
In CmsTestUtil, the property getters call Init() on the objects they create, so that by the time GenerateKeyPair() is called, the local `parameters` variable should always be set. Something appears to be interfering in there.

[2019-08-07 14:47] MarcoRossignoli commented on #511
Oren can you try to add `-m:1` only to exclude another know issue

[2019-08-07 16:16] onovotny commented on #511
It repro's with -`m:1`:

It's not every time, it took 3-4 runs to make it happen, each starting with a clean repo

![image](https://user-images.githubusercontent.com/1427284/62639229-1d5f2980-b90d-11e9-81d8-767096f10655.png)

[2019-08-07 17:40] MarcoRossignoli commented on #511
I'll try to reproduce and also compare instrumented vs non instrumented IL

It first time I see an issue like that, maybe instrumentation change execution order that generates some bug ( race etc..)

[2019-08-07 17:45] paul1956 commented on #502
OH, I added that when the other 2 failed methods, that might have been the issue..

[2019-08-08 05:19] david-driscoll commented on #503
Attached is the latest attempt.  I thought maybe it was because dotnet core 2.1 wasn't installed (2.2 and 3.0-p7 were installed)

The command that was run was: `dotnet test D:\a\1\s\Nuke.sln --configuration Release --logger trx --no-build --no-restore --results-directory d:\a\1\a\test --settings D:\a\1\s\test\coverlet.runsettings /property:CollectCoverage=True /property:CoverageDirectory=d:\a\1\c

[2019-08-08 07:55] MarcoRossignoli commented on #503
@david-driscoll sorry for the new ask...could you add also `-verbosity:diagnostic` I want to compare coverlet log with files in dir...sorry.

[2019-08-08 08:03] Nusserdt opened #513 "run coverlet as global tool with vstest"
I try to run coverlet as global tool with vstest. My command line is:

`coverlet {path to test .dll} --target "dotnet" --targetargs "vstest {path to test .dll} --logger:trx" --format cobertura --threshold 80 --verbosity detailed`

coverlet response:
[code]

for every single referenced assemblies that coverlet collect before:
[code]

**coverlet version:** Cross platform .NET Core code coverage tool

[2019-08-08 09:39] MarcoRossignoli commented on #511
@onovotny I did a lot of test on 2 different machine yesterday evening 4/5 time x machine, and no luck...I cannot repro, my command was
[code]
runsettings
[code]
Can you check that my config it's the same as yours?

This is the instrumentation of `Init()` on `RsaKeyPairGenerator`
![image](https://user-images.githubusercontent.com/7894084/62690297-c456ca80-b9cc-11e9-8179-735ebb19e859.png)

I've one

[2019-08-08 09:58] MarcoRossignoli commented on #513
We've [issue](https://github.com/tonerdo/coverlet/issues/110) with Unload event https://github.com/tonerdo/coverlet/blob/5a139b200f7bf51c21660b93f41906f4571c971b/src/coverlet.core/Coverage.cs#L231 that will be resolved with collectos.

But before some question(maybe silly)
1) Do you run tests that include that libs?
2) Same result with `test` tools(no vstest) https://github.com/tonerdo/coverlet#gl

[2019-08-08 12:21] #421 closed

[2019-08-09 06:47] Nusserdt commented on #513
Hello @MarcoRossignoli thanks for your response.

1.) No, most of them (>100) looks like indirect depedencies, if there is an option to analyse only direct depedencies, I would prefer that.
2.) Yes I get the same results with `coverlet {path to test .dll} --target "dotnet" --targetargs "test {path to test .dll} --logger:trx" --format cobertura --threshold 80 --verbosity detailed` and `coverlet {pa

[2019-08-09 07:52] MarcoRossignoli commented on #513
The issue could be related to this...if you don't use that libs you should exclude from coverage...we don't have at the moment a way to exclude "unused" dll.
We've some on going work on it(actually stale) https://github.com/tonerdo/coverlet/pull/225

[2019-08-09 11:15] Nusserdt commented on #513
That means I have to create a list with all _unused_ .dll and pass them in a array to the `--exclude-by-file`  variable? For example:

`--exclude-by-file @("Pom2.dll", "Services.dll")`

[2019-08-09 11:17] MarcoRossignoli commented on #513
Global tool filter sample are here https://github.com/tonerdo/coverlet/blob/master/Documentation/GlobalTool.md#filters

[2019-08-09 22:28] eegabeeva commented on #473
Hi, @MarcoRossignoli!

I'm having the same issue as @mmvohra and I've been reading posts the whole afternoon on what could cause it. Mostly they say that my test project must have a reference to the tested assembly, but I already verified that.

I created a new project from the AspNetCore template in VS2017 and added an XUnit test project referencing it. I didn't add any line of code besides creat

[2019-08-09 22:32] david-driscoll commented on #503
@MarcoRossignoli no problem!  I really appreciate you taking the time, I know this a strange issue and I'm assume somehow it's my fault... but I don't know where I've messed up.

Coverage artifacts:
https://rocketsurgeonsguild.visualstudio.com/Libraries/_build/results?buildId=2004&view=results
[Coverage - Windows.zip](https://github.com/tonerdo/coverlet/files/3488197/Coverage.-.Windows.zip)
[Logs

[2019-08-10 03:04] david-driscoll commented on #503
@MarcoRossignoli thanks for your help but after reflecting and thinking I did something wrong, I discorvered the problem and I appear to have a fix.

The problem was caused by a `props` file that had defined `ContinuousIntegrationBuild` and set it to `true`.  This then causes `DeterministicSourcePaths` to be set to `true` which is what causes the problem where it doesn't pick up the files!  If I r

[2019-08-10 03:04] #503 closed

[2019-08-10 07:17] MarcoRossignoli commented on #503
Don't worry the important thing is resolve the issue...I didn't check configs of project I missed that!BTW learned new case useful for future 😄

[2019-08-10 07:26] MarcoRossignoli commented on #473
@mmvohra @eegabeeva I did a check on last repro provided and seem that the issue is the way you add reference to coverlet.
You have to add reference to "test" projects not to other project. For instance in @eegabeeva sample I did:
[code]

[2019-08-12 10:15] Nusserdt commented on #513
@MarcoRossignoli I try to switch to coverlet **Version 1.2.0.0** and remarkable is that the coverlet execution stops immediately with the message:

`Symbols were found but are not matching the assembly`

What should that tell me?

[2019-08-12 10:37] MarcoRossignoli commented on #513
Mmm can you take a screenshot of command line?I don't understand if it's related to coverlet (seem that pdb are not aligned with compilation, try also to run `git clean -fdx` from repo root before)

[2019-08-12 11:51] Nusserdt commented on #513
@MarcoRossignoli Sorry that I have to mask some parts.

![image](https://user-images.githubusercontent.com/35678990/62862897-90024780-bd07-11e9-8adc-d1aedc340c70.png)

**I try both:**
`coverlet UnitTests.dll --target "vstest.console" --targetargs "project\Release\UnitTests.dll --settings:C:\Users\user\Desktop\CoverageTests\TestSettings.runsettings --logger:trx" --format cobertura --threshold 80`

[2019-08-12 12:02] MarcoRossignoli commented on #513
Can you add coverlet logs? https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#coverlet-global-tool

[2019-08-12 12:03] MarcoRossignoli commented on #513
Have installed `dotnet tool install --global coverlet.console --version 1.5.3`?

[2019-08-12 14:02] eegabeeva commented on #473
Thank you, @MarcoRossignoli ! That worked for my repro project, but it didnt work for the actual test project.

I had already added the reference to `coverlet.msbuild` through VS2017 interface (as I had for the repro project) but I added again using the command line as you suggest above. A `grep` shows I have the reference in my test project, but when I run `dotnet test /p:CollectCoverage=true` I

[2019-08-12 14:06] MarcoRossignoli commented on #473
Can you enable log and check if dlls are instrumented? https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration

[2019-08-12 16:46] eegabeeva commented on #473
It seems so. Shoudl I look for something else (sorry, it's my first time looking at these logs).

![Annotation 2019-08-12 134234](https://user-images.githubusercontent.com/3358706/62882050-73660f80-bd07-11e9-942d-33fc865b2b1c.png)

[2019-08-12 17:24] MarcoRossignoli commented on #473
Can you copy/paste top left sentence that start with `Message Task "Coverlet.MsBuild.Tasks.InstrumentationTask" skipped, dut to false...`

[2019-08-12 17:45] eegabeeva commented on #473
[code]

The same message appears when run from the test project directory.

![Annotation 2019-08-12 144251](https://user-images.githubusercontent.com/3358706/62885536-81b82980-bd0f-11e9-9f46-f10569e41d22.png)

[2019-08-13 05:26] Nusserdt commented on #513
@MarcoRossignoli How you know it before coverlet 1.2.0.0 returns on

`UnitTests.dll --target "dotnet" --targetargs "test UnitTests.dll --no-build" --verbosity detailed`

--> `Unrecognized option '--verbosity'`

So I do that with `coverlet.console --version 1.5.3` and the detailed verbosity log is splitted in 3 parts:

**1. Part** Excluded module filter '[xunit*]*'

- for each dll of these over 100

[2019-08-13 05:50] mmercan commented on #110
I am having the same issue, this happened after I added a middleware. (I tested with coverlet.msbuild 2.6.3 and 2.6.1)
when I dig in a little, I end up finding a single line in the middleware causing the coverage to fail.
and I am having similar issues when I use Optional Parameters in Methods too.

if (result != null && result.Principal != null && context != null)
{
    context.User = result.Prin

[2019-08-13 07:26] MarcoRossignoli commented on #513
Ok so I infer that this is a .NET framework project(no core) written in vb.
Can you try to use filter(`--include`) https://github.com/tonerdo/coverlet/blob/master/Documentation/GlobalTool.md#filters to include only your dll(and exclude references that could lead to problems) and make sure that all dll are present in bin\Debug|Release folder?

[2019-08-13 10:50] Nusserdt commented on #513
@MarcoRossignoli One question for my general understanding. Which dll should be include for coverlet? All references I found inside the Project References?

![image](https://user-images.githubusercontent.com/35678990/62935674-01093400-bdc8-11e9-9187-43469b0670ae.png)

Is it important also include System References?

![image](https://user-images.githubusercontent.com/35678990/62935706-1bdba880-bdc8

[2019-08-13 11:02] MarcoRossignoli commented on #513
You should include only "your code" for instance suppose to have 3 project A,B,C that generates assemblies A.dll B.dll C.dll and suppose that B and C are libs and A is a WinForm project references B/C and System.Windows.Form(and other system libs). You've also a test project called D.dll.
In this case you should add coverlet package to D and run with filter `--include "[A]*,[B]*,[C]*"` in this way

[2019-08-13 16:57] arpymastro opened #516 "Test coverage average coming as infinity"
We use coverlet with all our .NET Core projects(APIs, Libraries) and it works just fine for us.

Recently we have created one .NET Standard library and I have added .NET Core 2.2 xUnit test project in it with 2 tests. We have added coverlet.msbuild 2.5.1 nuget package to calculate the code coverage -

`dotnet test -c Release --logger TRX /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p

[2019-08-14 05:50] Nusserdt commented on #513
@MarcoRossignoli thanks a lot for you explanation, that helps a lot. I think I found something importent about this issue. First of all, I understand now that my particular UnitTest project only works with **vstest/vstest.console**. **test** or **mstest** fails and don't work. (I have a kind of an idea why, but it's hard to explain)

---

so running
`vstest.console Project.UnitTests.dll /Logger:tr

[2019-08-14 08:47] MarcoRossignoli commented on #513
I think you can try with `coverlet Project.UnitTests.dll --target "vstest.console" --targetargs "Project.UnitTests.dll /Logger:trx" --verbosity detailed --include "[Project]*"`
Dotnet tool run `--target` as process and pass `--targetargs`  `https://github.com/tonerdo/coverlet/blob/master/src/coverlet.console/Program.cs#L80` and before instrument `module`(`Project.UnitTests.dll`) and when process c

[2019-08-14 08:55] MarcoRossignoli commented on #516
Can you try with last version https://www.nuget.org/packages/coverlet.msbuild/ 2.6.3?

[2019-08-14 08:56] MarcoRossignoli commented on #502
Paul any news?Can we close?

[2019-08-14 08:57] MarcoRossignoli commented on #500
cc @vagisha-nidhi @PBoraMSFT @cltshivash

[2019-08-14 09:30] Nusserdt commented on #513
@MarcoRossignoli with:
`coverlet Project.UnitTests.dll --target "vstest.console" --targetargs "Project.UnitTests.dll /Logger:trx" --verbosity detailed --include "[Project]*"
`
I get the error message (in red):
`**The system cannot find the specified file.**`

After **Step 1** I think. Coverlet intrument/exclude the dlls before

![image](https://user-images.githubusercontent.com/35678990/63010432-a

[2019-08-14 09:50] MarcoRossignoli commented on #513
Did some test on my repro...it works(missed .exe)
[code]

[2019-08-14 10:05] vagisha-nidhi commented on #500
@MarcoRossignoli You can specify the results directory by using `dotnet test --results-directory:"e:\resDir"`. The coverage file will be by default generated in the results directory specified. This can be even given in the runsettings.
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test?tabs=netcore21
https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-do

[2019-08-14 10:11] MarcoRossignoli commented on #500
Great thanks for the answer!
@Stefanie899 can we close this?

[2019-08-14 11:31] Nusserdt commented on #513
@MarcoRossignoli tears in my eyes. That was the missing part of the puzzle.

Finally
coverlet Project.UnitTests.dll --target "vstest.console.exe" --targetargs "Project.UnitTests.dll /Logger:trx" --verbosity detailed --include "[Project]*"
works well and returns solid results.

`+---------+--------+--------+--------+
|         | Line   | Branch | Method |
+---------+--------+--------+--------+
| To

[2019-08-14 11:40] MarcoRossignoli commented on #513
Glad to hear!Feel free to close the issue!

Credits goes to all contributors and to @tonerdo's idea.

[2019-08-14 11:47] #513 closed

[2019-08-14 13:35] #476 closed

[2019-08-14 17:57] Stefanie899 commented on #500
@MarcoRossignoli that doesn't quite replicate the behavior of the MSBuild integration. The value I found in the original behavior is that you can specify the directory and that is the root directory where the coverage report will be output (this way it would just overwrite the same file, instead of creating a bunch of coverage reports)

In this case, using `... --results-directory:"./Path/"` it st

[2019-08-15 03:57] paul1956 commented on #502
Using either command below gives me full coverage for everything I want.
[code]
Don't know what changed but everything works

[2019-08-15 03:57] #502 closed

[2019-08-15 07:22] Nusserdt opened #520 "Read out single and summary coverage(without Regex)"
I have the issue that I need to read out the coverage results from coverlet. Is it possible to get the values of single and summary coverage of the results in a practical way (without using string or regex operations)?

**Example:**
![image](https://user-images.githubusercontent.com/35678990/63079269-39cb1980-bf3e-11e9-89fd-efaf1228be20.png)

[code]

[2019-08-15 07:42] itsryankwon opened #521 "Data collection: Could not find data collector 'XPlat Code Coverage""
Hello,

I can't show code due to it being for the company I work for but basically I am getting this error:

Data collection : Could not find data collector 'XPlat Code Coverage'

I saw this error on another post but I don't think my cause is the same.

What I'm doing to get this message:

`dotnet vstest Tests.dll --collect:"XPlat Code Coverage"` or
`dotnet vstest Tests.dll --collect:"XPlat Code C

[2019-08-16 20:02] MarcoRossignoli commented on #520
dup https://github.com/tonerdo/coverlet/issues/148 https://github.com/tonerdo/coverlet/issues/284

At the moment we don't have a way to extract that values.

[2019-08-16 20:06] MarcoRossignoli commented on #521
Can you try with `test` and not `vstest`?

[2019-08-16 20:14] MarcoRossignoli commented on #520
Question...why do you need to extract that values?

[2019-08-17 05:12] Nusserdt commented on #520
@MarcoRossignoli Thanks a lot for your response. We want to extract the values to generate a historical view for the code coverage over all commits. Coverlet should run inside a buildpipeline on a Azure DevOps Server and should make a warning when the coverage get lower the the historical results registrated before. There fore I need to extract for example the single coverage of a Test-Assembly an

[2019-08-19 06:12] vagisha-nidhi commented on #521
@MarcoRossignoli What is the sdk version on your local machine?

[2019-08-19 06:20] vagisha-nidhi commented on #521
In case of `dotnet vstest`, we the coverlet.collector will be picked from the output directory(where the test dll resides). So in general, for dynamic code coverage also, we follow the pattern that first we do a `dotnet publish` which puts code coverage datacollector and the test dlls in the publish directory and then we run the tests from there.
The XPlat Code Coverage should run the same way.
Pl

[2019-08-19 07:14] MarcoRossignoli commented on #521
@vagisha-nidhi confirm that works.
@itsryankwon can you try to publish before?Something like:
[code]

[2019-08-19 09:08] MarcoRossignoli commented on #500
@vagisha-nidhi I think that GUID it's by design and it's not removable...right?

[2019-08-19 10:28] maxoizs commented on #480
in my case after getting that error, I've installed MS.Net.Test.Sdk which cleared the error so in my test project package I do have
`coverlet.msbuild` version="2.6.3"
`Microsoft.NET.Test.Sdk` version="16.2.0"
`Microsoft.CodeCoverage` version="16.2.0"  --- which a dependency of Sdk

  <

[2019-08-19 12:45] CodesharpJonas opened #523 "Coverlet does not generate code coverage"
### Main Error

After running tests coverlet generates empty cobertura xml file on my build agent

### Agent
Azure Devops - Hosted Agent

### Issue Description

I'm following a SO post to generate a cobertura code coverage report on a .Net Full Framework 4.7.1.

https://stackoverflow.com/questions/54627918/view-code-coverage-report-on-azure-devops-portal/54738732#54738732

I'm using coverlet to ru

[2019-08-19 12:51] MarcoRossignoli commented on #523
Seem very similar to https://github.com/tonerdo/coverlet/issues/503#issuecomment-520112616 can you take a look if it works for you?

[2019-08-19 13:35] CodesharpJonas commented on #523
It does look very similar indeed! One difference though is that I'm using 'dotnet vstest' rather than 'dotnet test', I'm not sure if that's a big difference or not?

I'm not familiar with props files, the few I can find in the source code does not include the mentioned attributes. I'm working with a new client so I'm not a 100% familiar with their setup yet so it's not impossible that it could be

[2019-08-19 13:41] MarcoRossignoli commented on #523
Can you try to add verbose logging https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#coverlet-global-tool?

[2019-08-19 14:12] CodesharpJonas commented on #523
It seems my build server still has version 1.4.1 of coverlet, which doesn't have the verbosity option. Trying to figure out why 1.5.3 doesn't get installed. Will get back when I have that detailed output!

Thanks for taking your time btw :)

[2019-08-19 14:33] CodesharpJonas commented on #523
I managed to get the detailed output, but in truth it doesn't seem to show alot

[code]

When I run the same command locally on my machine it outputs alot more, it starts with

`'Instrumented module: C:\Users\jonver\source\repos\sloop\Source\Server.Net\ActivityCalendarSvc\ActivityCalendar.Test\bin\Debug\ActivityCalendar.API.dll'`

Which is the main part of the application. So for some reason it do

[2019-08-19 14:43] MarcoRossignoli commented on #523
Mmm I'm again conviced that the issue is the same of links above are you sure that `DeterministicSourcePaths` option is not enabled for some reason? https://github.com/dotnet/sourcelink/blob/71c29afff2601faba28a894f10f3315dcd40a58d/docs/README.md#deterministicsourcepaths

[2019-08-19 14:50] MarcoRossignoli commented on #523
cc: @david-driscoll maybe could help(I never hit this issue in my projects related to ci)

[2019-08-19 16:10] abbotware commented on #349
Thanks!  I can confirm that using

`/p:CopyLocalLockFileAssemblies=true`

works!

[2019-08-19 16:33] MarcoRossignoli commented on #349
@abbotware feel free to close this issue if solved!
Thanks a lot @zmhh for help!

[2019-08-19 17:14] CodesharpJonas commented on #523
As I understand the DeterministicSourcePaths or ContinuousIntegrationBuild attributes would be in a props file? Is there any other way these attributes could be set?

I'm building using a msbuild task (not dotnet command) that looks like this:

[code]

[2019-08-19 17:17] abbotware commented on #349
I think this should be added to the docs (if it is not already there) as I think this is a common issue.

[2019-08-19 17:20] abbotware commented on #349
Shouldnt this doc be updated with a small blurb about this additional command line parameter?
https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md

[2019-08-19 18:09] MarcoRossignoli commented on #523
Why `/p:DebugSymbols=false`?Coverlet need pdb to instrument dll, could be related to issue?

[2019-08-19 18:26] MarcoRossignoli commented on #349
After some search I found other issue like this...btw I would like to try to understand if it's possible understand when/if that parameters is needed and maybe tell to user on output.
So I'd like to repro on my local...someone can provide a repro of issue?

[2019-08-19 18:28] MarcoRossignoli commented on #480
@farhad-taran-cko any news?

[2019-08-19 18:48] MarcoRossignoli commented on #473
Checking the log seem that build fail, can you see "Build failed" and under DoubleWrites?Can you expand that node?

[2019-08-19 20:12] CodesharpJonas commented on #523
You were on to something!
When I removed/replaced all three of these parameters "/p:DebugSymbols=false /p:DebugType=None /p:GenerateDocumentation=false" woth "/p:DebugType=pdbonly /p:GenerateDocumentation=true" it worked!!

Thank you!!

Now I just need the client to approve these changes to the build... lets hope those parameters weren't there for a good reason!

[2019-08-19 20:43] MarcoRossignoli commented on #523
Glad to hear!
I think that the idea is to build and generate artifacts for release to production(without pdb), you could combine that value with presence or not of "CollectCoverage".
Feel free to close this issue if resolved!

[2019-08-19 21:01] abbotware commented on #349
well for me, i have a project that references this nuget:  Microsoft.Azure.ServiceBus

The following error appears without CopyLocalLockFileAssemblies=true

`[coverlet] Unable to instrument module: ..\UnitTests\bin\Debug\netcoreapp2.1\Core.Messaging.dll because : Failed to resolve assembly: 'Microsoft.Azure.ServiceBus, Version=3.4.0.0, Culture=neutral, PublicKeyToken=7e34167dcc6d6d8c' [..\UnitTest

[2019-08-20 04:15] #520 closed

[2019-08-20 04:17] Nusserdt commented on #520
@MarcoRossignoli found a solution thats works for me. I found out that all these information can easily extract from the report. Thanks for all.

[2019-08-20 06:44] CodesharpJonas commented on #523
I reverted some of my earlier changes to find exactly what or what combinations of parameters to msbuild that did the trick. It turned out it was "/p:DebugType=pdbonly" that was the solution. "/p:DebugSymbols=false" doesnt seem to have made any difference, it works with it set to false.

Once again, thanks for your help!

[2019-08-20 06:44] #523 closed

[2019-08-20 06:54] MarcoRossignoli commented on #520
Great!

[2019-08-20 06:56] MarcoRossignoli commented on #523
Well done!

[2019-08-20 10:06] MarcoRossignoli commented on #521
@itsryankwon  can you confirm that solution works for you?
If so feel free to close this issue.

[2019-08-20 11:37] StefanKoenigMUC opened #525 "Global Coverlet - nunit-console could not load file or assembly"
Hi all,

i've just started to add coverage testing to some of our testing-suites, until now everything worked out fine - but i'm failing during my latest project.

My current test is executed with the following command (pretty straight forward):
`nunit-console.exe  Deploy\Test.Project.Integration.InMemory.Test.dll /xml=guiservice-nunit-result.xml`

so i execute it by using global coverlet by usage

[2019-08-20 12:42] MarcoRossignoli commented on #525
seem a dup of https://github.com/tonerdo/coverlet/issues/347 can you try solutions?

[2019-08-24 17:07] paul1956 opened #528 "Question: Mapping Branchinfo to Source"
Is there any support for mapping BranchInfo information back to source, currently it maps to IL. Lines map to source but Offset is IL.

[2019-08-25 02:52] tracker1 commented on #166
Using .Net Core 3 preview 8.  Neither of the property options mentioned are working.

[code]

MyProject.Test.csproj

[code]

[2019-08-25 14:35] SteveGilham commented on #525
From version 0.11 of Mono.Cecil (released in the last few days), strong naming on write is now supported in the .net core library (as part of a move from .netstandard1.3 to .netstandard2.0) , so it would be possible to thread a strong-name key or keys through the process, to restore the assembly name, presuming that the appropriate ones are available.

Because assembly-named type references appear

[2019-08-25 15:13] SteveGilham commented on #528
Root cause is that the debug information used to map back to the source is interested in statements, so gives line information for those.  At that level branches are but an implementation detail of how one gets from one statement to another.

One way or another, getting a line number involves finding the statement which spans the branch instruction and using its line information; in `coverlet`, th

[2019-08-28 10:29] tonerdo commented on #476
@onovotny can you try with the latest nightly build to see if things work as expected?

[2019-08-28 19:09] MarcoRossignoli opened #529 "Skip instrumentation for external pdb with no local sources"
Follow up https://github.com/tonerdo/coverlet/pull/519#issuecomment-525854352

cc @tonerdo

[2019-08-29 16:04] aaronhudon-ts commented on #167
@xtiancapil I believe I'm running into this with my auto-gen protobuf files as well.  How do you exclude them?

[2019-08-29 18:20] Rjae commented on #113
I don't know if this is old news, but I think I figured out a way through. By adding a simple continuation I was able to get Coverlet to consider all branches hit. For example:

`return await _service.SendAsync(command).ContinueWith(x => x.Result);`

I hope that helps others.

[2019-08-29 18:50] MarcoRossignoli commented on #113
Thanks @Rjae for the comment...can you provide a repro of the issue (I mean a piece of code without continuation that leads to invalid async branch coverage)

[2019-08-29 18:58] MarcoRossignoli commented on #516
@arpymastro any news?

[2019-08-30 15:50] markwest51 opened #530 "multiple excludes doesn't seem to work"
hi

2 things really, using .Net Core 2.1, Dev Ops and MSBuild

We have a test project that for some reason seems to be included in the code coverage report whereas other test projects seems to be fine, not sure why this.

Trying to exclude this project along with a class library one that is used to generate test data
we apply the following parameter

/p:Exclude=\"[*.TestFramework*]*,[*]XXX.XXXX.Se

[2019-08-30 19:33] Rjae commented on #113
Sure thing bro...literally the same line without the *ContinueWith*. So...

`return await _service.SendAsync(command);`

I've used same approach in several more lines with same success.

[2019-08-30 20:22] MarcoRossignoli commented on #113
Thanks I'll take a look asap

[2019-08-30 20:25] Rjae commented on #113
Wow...thanks! Additional "discovery": ContinueWith does not appear to solve the coverage reporting for Task (void) lines, only for Task<T> lines.

[2019-08-31 07:45] MarcoRossignoli commented on #166
@tracker1 is your project a standard asp.net core one?I would like to repro your issue

[2019-08-31 07:48] MarcoRossignoli commented on #530
Some questions... which version of coverlet are you using?
Can you try to enable logging to understand what's happening? https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md

[2019-08-31 07:49] MarcoRossignoli commented on #528
Thanks Steve!
@paul1956 if your question is answered feel free to close the issue

[2019-08-31 11:14] Rjae commented on #113
BTW, I'm looking for a temporary ignore for these cases. I've tried following attribute-excludes: `GeneratedCodeAttribute,CompilerGeneratedAttribute,AsyncStateMachineAttribute` but no luck. @MarcoRossignoli if you know a way to ignore these cases from analysis I'd be interested to know.

[2019-08-31 12:41] MarcoRossignoli commented on #113
@Rjae add `CompilerGeneratedAttribute` should work on next version thank's to https://github.com/tonerdo/coverlet/pull/477 but it was merged on 3 July and last verson was released 1 July.
For the moment you can try to doogfood coverlet using this guide https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md
When we'll release next version you can revert.
Sorry but for

[2019-08-31 22:09] Rjae commented on #113
@MarcoRossignoli again, thanks! Will watch for async fix.

[2019-09-01 21:29] markwest51 commented on #530
version is 2.6.3, will enable logging tomorrow once i get into work

[2019-09-03 14:53] MarcoRossignoli commented on #529
@onovotny seem that external pdb isn't an issue because pdb path is mapped to build drive, so also if it's in local won't be instrumented.

![image](https://user-images.githubusercontent.com/7894084/64184155-55558000-ce6b-11e9-84be-33858750fef5.png)

[2019-09-04 12:41] Blaatschaap commented on #516
@MarcoRossignoli I have the same issue, using 2.6.3.

I also have the issue that my coverage xml's are basically empty.

Jenkins console output:"
+ dotnet test /var/jenkins_home/workspace/Build/XUnitTestProject1.csproj /p:CollectCoverage=true /p:CoverletOutput=/var/jenkins_home/workspace/Build/TestResults/ /p:CoverletOutputFormat=cobertura --logger trx;LogFileName=UnitTests.trx --collect:XPlat Cod

[2019-09-04 12:45] MarcoRossignoli commented on #516
@Blaatschaap do you get same result if you run in local or is related only to ci?

[2019-09-04 12:46] Blaatschaap commented on #516
@MarcoRossignoli I get the same result running locally

[2019-09-04 12:47] MarcoRossignoli commented on #516
can you attach you command?

[2019-09-04 12:48] Blaatschaap commented on #516
dotnet test /var/jenkins_home/workspace/Build/XUnitTestProject1.csproj /p:CollectCoverage=true /p:CoverletOutput=/var/jenkins_home/workspace/Build/TestResults/ /p:CoverletOutputFormat=cobertura --logger trx;LogFileName=UnitTests.trx --collect:XPlat Code Coverage

[2019-09-04 12:49] MarcoRossignoli commented on #516
Sorry but you command are using collector and above you said 2.6.3 msbuild version...are you using msbuild or collector?

[2019-09-04 12:50] Blaatschaap commented on #516
I have both in the project (collection version 1.0.1)

[2019-09-04 12:51] MarcoRossignoli commented on #516
mmm not sure if could lead to overlapped issue can you try with only collector like https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md#coverlet-integration-with-vstest

[2019-09-04 13:00] Blaatschaap commented on #516
+ dotnet publish
Microsoft (R) Build Engine version 16.2.32702+c4012a063 for .NET Core
Copyright (C) Microsoft Corporation. All rights reserved.

  Restore completed in 64.06 ms for /var/jenkins_home/workspace/Build/XUnitTestProject1.csproj.
  XUnitTestProject1 -> /var/jenkins_home/workspace/Build/bin/Debug/netcoreapp2.2/XUnitTestProject1.dll
  XUnitTestProject1 -> /var/jenkins_home/workspace/Buil

[2019-09-04 13:01] MarcoRossignoli commented on #516
Collector doesn't print anything in console...is it the file empty?

[2019-09-04 13:02] Blaatschaap commented on #516
the file is empty yes, and indeed, the table stopped showing in console

[2019-09-04 13:04] MarcoRossignoli commented on #516
Can you try with msbuild(the core instrumentation is the same but logs are more verbose) https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration?
Before ask for a "repro" code we could try to undestand with logs what is instrumented.

[2019-09-04 13:07] Blaatschaap commented on #516
+ dotnet test /var/jenkins_home/workspace/Build/XUnitTestProject1.csproj -c debug /p:CollectCoverage=true /p:CoverletOutput=/var/jenkins_home/workspace/Build/TestResults/ /p:CoverletOutputFormat=cobertura -verbosity:diagnostic -bl:msbuild.binlog -noconsolelogger --logger trx;LogFileName=UnitTests.trx
/usr/share/dotnet/sdk/2.2.401/MSBuild.dll -noconsolelogger -nologo -bl:msbuild.binlog -distributed

[2019-09-04 13:08] Blaatschaap commented on #516
I could create a git repo for the current code, but it's a very simple factorial test project

[2019-09-04 13:09] MarcoRossignoli commented on #516
if you can zip and attach project...ah and tell me `dotnet --info`

[2019-09-04 13:11] Blaatschaap commented on #516
[XUnitTestProject1.zip](https://github.com/tonerdo/coverlet/files/3574627/XUnitTestProject1.zip)

.NET Core SDK (reflecting any global.json):
 Version:   2.2.401
 Commit:    729b316c13

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.401\

Host (useful for support):
  Version: 2.2.6
  Co

[2019-09-04 13:20] MarcoRossignoli commented on #516
Ah now it's clear...you have test and code in test project that is excluded by default...you have to use a switch like:
`dotnet test /p:CollectCoverage=true /p:IncludeTestAssembly=true`

[2019-09-04 13:24] Blaatschaap commented on #516
wow, okay. That fixed it. Can't believe it is caused by using a project too simple though

[2019-09-04 13:28] MarcoRossignoli commented on #516
It's been a long debate with a lot of discussion if include or not test project by default...https://github.com/tonerdo/coverlet/pull/376 https://github.com/tonerdo/coverlet/pull/318#issuecomment-457223596

[2019-09-04 14:19] #496 closed

[2019-09-04 18:36] tracker1 commented on #166
@MarcoRossignoli yes, I'm pretty sure I started with the dotnet new asp.net core template with core 3 preview 6, and upgraded to 8.

[2019-09-05 08:09] MarcoRossignoli commented on #166
@tracker1 I cannot repro in my local...can you attach your sample or put it in your repo so I can clone e test?

[2019-09-05 18:31] tracker1 commented on #166
@MarcoRossignoli I'll try to get it stripped out enough to be able to demo in a private repo and share it with you.

[2019-09-06 10:23] #122 closed

[2019-09-06 13:14] eal61 opened #534 ".Net Framework compatibility"
Hi, I have a question/need for some general knowledge surrounding coverlets compatibility with .NET Framework.

I'm receiving an error when attempting to generate code coverage for a test project that references Microsoft.ReportViewer.WebForms. The error is occurring because coverlet is looking in the .NET Core sdk folder for the necessary dll, and it's not there. The assembly is present elsewhere

[2019-09-06 13:19] MarcoRossignoli commented on #534
could be a dup can you try with https://github.com/tonerdo/coverlet/issues/72#issuecomment-399445565?

[2019-09-06 13:43] MarcoRossignoli commented on #72
Hi guys I saw a lot of activity on this issue..I would like to know if this issue is still relevant, if so I would like to repro on my local and in case fix or update documentation accordingly.
Do you have some repro that still fails?

[2019-09-06 13:48] MarcoRossignoli commented on #110
@vagisha-nidhi can you confirm that last release of sdk 2.2.401(runtime 2.2.6) inject inproc data collector?

[2019-09-06 14:31] eal61 commented on #534
No luck with that unfortunately. The reference to ReportViewer is about 3 levels down and the assembly is in the gac.. Realizing this is probably more of a dotnet build question(?) Running a dotnet build with more verbosity to hopefully get something more to work with.

[2019-09-06 14:49] MarcoRossignoli commented on #534
Can you provide a simple repro that generates that issue?I'd like to go deep on this issue and understand well the issue and maybe provide a solution.

[2019-09-06 15:37] eal61 commented on #534
I can try - I'll follow up on this in a bit!

[2019-09-06 15:46] MarcoRossignoli commented on #534
Are you using this package? https://www.nuget.org/packages/Microsoft.ReportViewer.WebForms/

[2019-09-06 15:57] queen-of-code commented on #110
I can confirm that at least some of my issues were FIXED in this combo of
releases. Thank you all for your effort here!

On Fri, Sep 6, 2019 at 6:48 AM Marco Rossignoli <notifications@github.com>
wrote:

[2019-09-06 16:00] MarcoRossignoli commented on #110
Glad to hear thank's @queen-of-code for info.

I'll update docs to reflect this.
I'll close this issue after @vagisha-nidhi double confirm!

[2019-09-06 17:45] eal61 commented on #534
Using an older version - 9.0.21022.227
It's a 2008 Redistributable version of Report Viewer, found here: https://www.microsoft.com/en-us/download/details.aspx?id=577

In our solution we run our tests through visual studio using xunit.runner.visualstudio.2.4.1
We do not currently collect test coverage stats in any form..

Working on a repro now!

[2019-09-06 19:08] eal61 commented on #534
Hi @MarcoRossignoli please check out my sample repro here: https://github.com/eal61/framework_reportviewer_repro

[2019-09-06 19:58] MarcoRossignoli commented on #534
Sure I'll check asap and let you know!

[2019-09-06 20:13] MarcoRossignoli commented on #534
Ok try this...tell to msbuild to move asm on target folder
![image](https://user-images.githubusercontent.com/7894084/64457570-4123b400-d0f3-11e9-88a9-ac4226fc3ec6.png)
And after
[code]
We need to filter out `Microsoft.ReportViewer.WebForms.dll` and xunit lib to avoid noise in warning(we skip to instrument dll with no local pdb).

[2019-09-06 20:17] MarcoRossignoli commented on #534
You can also run coverlet as tool if you want e use every runner you need take a look to https://github.com/tonerdo/coverlet/issues/513#issuecomment-521180471

[2019-09-09 10:31] gilescope commented on #226
Good start. Would be great to get an in-depth view that was on parity with the other formats.
Seems TC has service message support for sucking in a file:
##teamcity[importData type='dotNetCoverage' tool='<tool name>' path='<path to the results file>']
where tool name can be partcover, ncover or ncover3.

[2019-09-09 13:29] MarcoRossignoli commented on #534
@eal61 news?

[2019-09-09 13:52] eal61 commented on #534
Your suggestion above fixes my build when I run dotnet build. When I run the dotnet test command it appears that the build finishes, but then code coverage isn't collected. Nothing is happening and when I cancel the process I get an error stemming from InstrumentationTask, similar to #340

Not sure why this is happening, especially since it seems that that issue should be resolved at this point

[2019-09-09 14:18] eal61 commented on #534
For context, here is the sequence of errors I'm getting. I'm not able to reproduce in the repro I attached earlier..

`Build started, please wait...
Build completed.
`
there is a long pause between these outputs, and then I attempt to kill the process
`
Attempting to cancel the build...
Attempting to cancel the build...
Attempting to cancel the build...
Attempting to cancel the build...
Attempting

[2019-09-09 14:18] MarcoRossignoli commented on #534
Weir...I need to repro to understand what's happening...or you could try to enable logging https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration

[2019-09-09 14:19] eal61 commented on #534
I can try to enable logging

[2019-09-09 14:47] eal61 commented on #534
I deleted the bin folder in my test project and re-ran the dotnet test command. All tests were run successfully, but the coverage report is empty. Ran with logging enabled and I'm looking at the binlog now

[2019-09-09 15:54] eal61 commented on #534
Do you have any recommendations on what to look for in the msbuild.binlog file? looking at the [coverlet] tagged messages but nothing is jumping out at me

[2019-09-09 15:57] MarcoRossignoli commented on #534
Mmm [coverlet] it's ok...if file is empty and log doesn't report nothing about coverlet seem like no instrumentation at all happened...can you try to share command line and project structure?

[2019-09-09 16:13] eal61 commented on #534
currently using the suggested command from the troubleshooting page. opencover.coverage.xml is 1KB and it just reports zeroes across the board.

**dotnet --info:**

.NET Core SDK (reflecting any global.json):
 Version:   2.2.107
 Commit:    2212cac826

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\do

[2019-09-09 16:17] eal61 commented on #534
tried with /p:IncludeTestAssembly=true as well (suggested in #516 ) and got the same output

[2019-09-09 18:25] Reptarsrage commented on #226
@gilescope You should open a new issue that can be tracked/prioritized by the code owners, if you haven't done that already.

[2019-09-10 08:53] MarcoRossignoli commented on #534
It's hard understand without a repro 😞 you can reach me on gitter chat and we can try with remote support if you want.

[2019-09-10 15:57] arohithr8 opened #539 "/p:MergeWith is not working"
Trying to merge code coverage of two test projects:
steps followed:
1) dotnet add package coverlet.msbuild

2) dotnet add package coverlet.collector

3) Generating code coverage for 1st project:
dotnet test PackService/PackServiceUnitTest/PackServiceUnitTest.csproj --configuration Test -l:trx;LogFileName=UnitTestOutput1.xml /p:CollectCoverage=true /p:CoverletOutput=CoverageResults/

4) Generating

[2019-09-11 09:49] #457 closed

[2019-09-11 09:50] MarcoRossignoli commented on #539
You need to place json file in same folder...you're using relative so will be relative to csproj folder and you're in two different folder `PackServiceUnitTest` and `PackDomainLayerTest` try with ` /p:CoverletOutput=../CoverageResults/` and you can omit json format in last command `/p:CoverletOutputFormat="opencover"`.
You don't need to add `coverlet.collector` because you're using `/p:CollectCove

[2019-09-11 14:48] AmirSasson commented on #110
I am having the same problem.
Code covarage is 0%
without any error or clue what is wrong.
using dotnet core version 2.2.402 ,coverlet version 2.6.3,
any way to get a clue what is wrong?
[code]

[2019-09-11 15:03] MarcoRossignoli commented on #110
@AmirSasson you're using msbuild integration...you should try collectors to understand if this is the correct issue you're experiencing https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md

[2019-09-12 07:13] AmirSasson commented on #110
hi @MarcoRossignoli , i tried the vstest integration using the collectors.
running ` dotnet test --collect:"XPlat Code Coverage"`
i still giving me **zero** coverage.
### does it matter if use **xunit** and not "mstest"?
(**btw** i was using msbuild integration cause it had out of the box minimum threshold that i have enforced in our CI).
i wonder if there is an error that i can see to understand

[2019-09-12 07:19] MarcoRossignoli commented on #240
I think you're talking about test report not coverage...seem that for coverage BitBucket supports
`coverage.format - supported formats are JACOCO (xml), COBERTURA (xml) and LCOV. Default value is LCOV.`
Coverlet already supports lcov e cubertura.
https://bitbucket.org/atlassian/bitbucket-code-coverage/src/master/code-coverage-maven-plugin/

Feel free to reopen if I misunderstood.

[2019-09-12 07:19] #240 closed

[2019-09-12 07:28] MarcoRossignoli commented on #238
@seesharper can you tell me if this issue existing yet?Try last version please we support embedded and non embedded pdb at the moment.

[2019-09-12 07:28] #528 closed

[2019-09-12 07:35] MarcoRossignoli commented on #110
@AmirSasson you mean `dotnet vstest --collect:"XPlat Code Coverage"`?

[2019-09-12 07:40] MarcoRossignoli commented on #239
Could be a dup of https://github.com/tonerdo/coverlet/issues/110 can you try with collectors?

[2019-09-12 07:46] MarcoRossignoli commented on #289
Doesn't seem an issue with coverlet...I read from log lines
[code]
So seem that file are correctly readed and cobertura coverage file is ok.

Feel free to reopen if I misunderstood.

[2019-09-12 07:46] #289 closed

[2019-09-12 07:50] AmirSasson commented on #110
hi @MarcoRossignoli **GOOD NEWS**
### I have managed to solve this.
apparently i had a running thread that probably was still running when the code coverage was calculated.
and now that i wait for it in the Test Fixture Dispose method, all starting to work out!
i still dont understand how the average is so low. (but this is another problem)
**thanks for your help.**
if someone experience the same,

[2019-09-13 07:41] MarcoRossignoli commented on #352
@NicoDujde at the moment we don't have a way to put threshold on single module...you could extract from console output(if you're using msbuild/dotnet tool) with regex  https://github.com/tonerdo/coverlet/issues/148 https://github.com/tonerdo/coverlet/issues/284 and write a script to validate your numbers.

[2019-09-13 07:56] MarcoRossignoli opened #542 "Save json with coverage output"
We've some issue related to the possibility to read coverage output and use it.
At the moment there are only 2 way
1) Manually calculate throught reports data https://github.com/tonerdo/coverlet/issues/520#issuecomment-522846008
2) Or use RegEx to extrapolate numbers https://github.com/tonerdo/coverlet/issues/148 https://github.com/tonerdo/coverlet/issues/284

I wonder if could be useful add a swi

[2019-09-13 12:50] #529 closed

[2019-09-13 12:53] MarcoRossignoli opened #543 "Complete IFileSystem injection"
On PR https://github.com/tonerdo/coverlet/pull/538 we added injection for file system access to allow testing.
For now we've implemented only `Exists` https://github.com/tonerdo/coverlet/blob/master/src/coverlet.core/Helpers/FileSystem.cs
Define and implement all other methods and apply on callers

cc: @tonerdo @petli

[2019-09-13 17:06] NicoDujde commented on #352
Would Include="[Module1]*" set the Total/Threshold based on that Module only?

I have not been successful understanding the use of Include yet.

i.e.:
dotnet test -c Release Module1_Test.csproj /p:Include="[Module1]*" /p:Threshold="80" /p:ThresholdType="line" /p:ThresholdStat="total" /p:CollectCoverage=true

[2019-09-13 17:27] MarcoRossignoli commented on #352
Include mean instrument only that module/types and in that case parameters should applies to only that module

[2019-09-13 17:55] NicoDujde commented on #352
Thank you. I got it to work locally and I am getting the expected behavior.

Unfortunately, when run on Jenkins, the Include parameter seems to be ignored. I need to play with the Jenkins script and see if adding ' or " and escaping them work.

Thank you for the prompt responses

[2019-09-13 18:29] MarcoRossignoli commented on #352
@NicoDujde some similar issue https://github.com/tonerdo/coverlet/issues/182 let me know how you resolve that maybe I could add "jenkins" escaping to guide(we already have one for poweshell)

[2019-09-14 03:33] Rjae commented on #110
@MarcoRossignoli I just finished configuring a GH Actions workflow. All is well except my 100% coverage solution is reported as 0% running under GH Actions. The same project running on Travis (xenial) and local (Windows) is reported as 100%.

I've tried 2.2.108, 204, 401, 402 - along with 2.6.3. I tried all the workarounds listed on this thread, no luck. If you're aware of any other fixes I may tr

[2019-09-14 06:58] MarcoRossignoli commented on #110
@Rjae you should try with [collectors](https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md) and version SDK v2.2.401 or newer sdk, the issue could be related to vs test platform that kill process before hit files are written and could be dependant on ci machine load.

[2019-09-14 08:38] #490 closed

[2019-09-14 08:45] MarcoRossignoli commented on #165
close because dup of https://github.com/tonerdo/coverlet/issues/357
For merge there is new sample in documentation https://github.com/tonerdo/coverlet/blob/master/Documentation/Examples.md

[2019-09-14 08:45] #165 closed

[2019-09-14 22:14] AArnott opened #544 "/p:CollectCoverage=true causes all test discovery to fail when class derives from XUnitVerifier"
**Repro**
Unzip: [mytestlib.zip](https://github.com/tonerdo/coverlet/files/3613186/mytestlib.zip)
Within the unzipped directory, run:

[code]

Notice how the one test method runs successfully the first time. But when code coverage is enabled, no tests are discovered at all.

I suspect an exception is being thrown during the code coverage instrumentation. Perhaps the `XunitVerifier` class I'm using

[2019-09-14 22:14] AArnott commented on #544
@sharwell owns the `XunitVerifier` class I believe.

[2019-09-15 23:19] Rjae commented on #110
Thanks @MarcoRossignoli I'm giving collectors a shot right now. Getting

[code]

My runsettings file:

[code]

I've followed the doc - but must be missing something. I'll keep digging and update thread here.

[2019-09-15 23:27] Rjae commented on #110
Force rebuild was necessary, so locally all good. Will use in GH workflow now and update thread with results.

[2019-09-16 00:10] Rjae commented on #110
Sadly, switching to collector did not resolve issue. Again, works locally (both collector and msbuild), on Travis, and on Jenkins.

[2019-09-16 07:33] MarcoRossignoli commented on #544
Hi @AArnott, yep the issue is the instrumentation of `Microsoft.CodeAnalysis.Testing.Verifiers.XUnit.dll`
For now you can fix with filters
[code]
BTW next release should solve without any action we'll skip non instrumentable dll(embedded or external pdb with no local source), I did a test with master(tomorrow you can use nightly, I just fixed the nightly build).
Future result will be:
[code]

[2019-09-16 08:04] PaleNeutron opened #547 "Can't output multiple files in vstest"
After set

[code]
3 formats in settings file as example in docs, only the first format file will be output.

BTW, how can we specific the output file path here?

[2019-09-16 08:12] MarcoRossignoli commented on #547
dup of https://github.com/tonerdo/coverlet/issues/490
will be present in next release https://github.com/tonerdo/coverlet/pull/533
for now you can use nightly build(not today but tomorrow I just fixed an issue and we're back by one week)  https://github.com/tonerdo/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2019-09-16 08:19] MarcoRossignoli commented on #547
And you can specify output in this way https://github.com/tonerdo/coverlet/issues/500#issuecomment-521185050

[2019-09-16 08:19] #547 closed

[2019-09-16 08:20] MarcoRossignoli commented on #547
Feel free to reopen if needed.

[2019-09-16 08:22] MarcoRossignoli commented on #544
I moved from warning to verbose because xunit wil warning every time.

[2019-09-16 08:29] MarcoRossignoli commented on #110
@Rjae can you try to enable coverlet logging? [msbuild](https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration) [collectors](https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-integration)

[2019-09-16 08:31] MarcoRossignoli commented on #500
ping @vagisha-nidhi

[2019-09-16 11:07] vagisha-nidhi commented on #500
@MarcoRossignoli yes, the GUID is by design and its not removable.

[2019-09-16 11:19] MarcoRossignoli commented on #500
@Stefanie899 I'm going to close after Vagisha's confirmation, this is non something that coverlet can solve, maybe a try on vstest repo.

[2019-09-17 09:20] abhiphirke opened #551 "Coverlet.Console does not seem to work"
I am trying to use Coverlet.Console 1.5.3 which does not seem to work. With multiple simple test projects (using .Net Core 2.2.107) having different coverage stats and straightforward configuration, I am always getting:

1. empty coverage.json

2. coverage.opencover.xml as:
<?xml version="1.0" encoding="utf-8"?>
<CoverageSession>
  <Summary numSequencePoints="0" visitedSequencePoints="0" numBranch

[2019-09-17 09:37] MarcoRossignoli commented on #551
Why you don't use 2.6.3?

[2019-09-17 09:38] MarcoRossignoli commented on #551
Can you attach the command line you're using?

[2019-09-17 14:14] AArnott commented on #544
Thanks! The exclude workaround worked for me and I'll go with that for now.

[2019-09-17 14:14] #544 closed

[2019-09-17 14:16] sharwell commented on #544
@MarcoRossignoli Why is it saying there is an embedded PDB without source files? The source files are part of the embedded PDB.

[2019-09-17 14:22] MarcoRossignoli commented on #544
Maybe the message is not so clear...I mean "embedded pdb without local source files," local is about local hard drive...if sources are not on pc running test we skip.

[2019-09-17 21:04] lucasteles commented on #117
Hi, any update about this? this feature is very usefull and we cant use it today

[2019-09-18 07:21] MarcoRossignoli commented on #117
I'm not sure that is possible with current file format FWIK coverage format fail save only branches/sequence points visited but we don't know who is the test top caller.
I think that this feature should integrate with test platform(i.e. xunit).
I don't know how vs do it, maybe @vagisha-nidhi can help here or can direct us to correct team.

[2019-09-18 07:56] MarcoRossignoli opened #554 "Add extension `GetService<T>` to DependencyInjection for better readability"
Add extension to `Coverlet.Core.DependencyInjection`ot  cleanup a bit the code, something like
[code]
And update the callers.
NB. We could use `Microsoft.Extensions.DependencyInjection.Abstractions` but we want avoid to have too much transitive/reference.

[2019-09-18 08:30] MarcoRossignoli opened #555 "We should strong name coverlet.collector.dll"
Now that we've in place injection it's easy that some internal types that lives in core have to be used(injected) in collectors code.
To do that we have 2 way, expose type or apply internals visible to attribute.
I prefer second way but to be clean/safe we should add signed assemblies.

Is there a reason to not sign coverlet.collector.dll?

cc: @vagisha-nidhi for vs test side

[2019-09-18 12:25] aleksandrshvets commented on #530
Seems to be related to [ms build issue](https://github.com/Microsoft/msbuild/issues/2999). Provided workaround works for me: /p:Exclude="[Org.Assembly1.\*]\*%2c[Org.Assembly2.\*]\*"

[2019-09-18 12:32] MarcoRossignoli opened #556 "Remove temporary instrumenter state file"
We removed statics using msbuild output parameter

https://github.com/tonerdo/coverlet/blob/2aa8ed683c80ae3c10f0e32d5900621e894d783e/src/coverlet.msbuild.tasks/InstrumentationTask.cs#L112

After the read we should remove that tmp file

https://github.com/tonerdo/coverlet/blob/2aa8ed683c80ae3c10f0e32d5900621e894d783e/src/coverlet.msbuild.tasks/CoverageResultTask.cs#L84

cc: @tonerdo @petli

[2019-09-18 12:36] MarcoRossignoli commented on #530
Thank's @aleksandrshvets for tip @markwest51 do you have news?

[2019-09-18 17:40] MarcoRossignoli opened #557 "Rethink SkipEmbeddedPpdbWithoutLocalSource and SkipPpdbWithoutLocalSource tests, are flaky on CI"
Seem that these two tests are flaky on CI, we should rewrite.
Seem that sometimes on ci `coverlet.core.pdb` is locked, maybe this is loaded and used also by other test especially by cecil, and we don't know how cecil open pdb.

Ideas:
SkipEmbeddedPpdbWithoutLocalSource: Create a custom test project for instance coverlet.core.tests.sample.csproj and add a reference to coverlet.core.tests.
Test [def

[2019-09-19 14:36] MarcoRossignoli opened #559 "Flow `ILogger` to InstrumentationHelper"
We should flow the logger to instrumentation helper and emit important log  warning here

https://github.com/tonerdo/coverlet/blob/82a920864a157bfaa9417540a20a4c03b336f1d0/src/coverlet.core/Helpers/InstrumentationHelper.cs#L155-L159

cc: @tonerdo @petli

[2019-09-20 12:55] MarcoRossignoli commented on #539
@arohithr8 any news?
Feel free to close if resolved.

[2019-09-20 12:56] MarcoRossignoli commented on #521
@itsryankwon  any news?
Feel free to close if resolved.

[2019-09-20 12:58] MarcoRossignoli commented on #473
@eegabeeva  any news?
Feel free to close if resolved.

[2019-09-20 12:58] MarcoRossignoli commented on #212
Close this issue for the moment to cleanup a bit.

[2019-09-20 13:00] MarcoRossignoli commented on #151
Close as-designed.

[2019-09-20 13:00] #151 closed

[2019-09-20 13:05] MarcoRossignoli commented on #152
@vagisha-nidhi can you tell us where/how vs test "calculate" output path for coverage on collectors?We could align with it.

[2019-09-20 13:06] MarcoRossignoli commented on #333
@tpetrina any news?
Feel free to close if resolved.

[2019-09-20 13:07] MarcoRossignoli commented on #417
@david-77 any news?
Feel free to close if resolved.

[2019-09-20 13:10] MarcoRossignoli commented on #371
Seem a problem with concurrent msbuild test runs, you could also try with https://github.com/tonerdo/coverlet/issues/491#issuecomment-514429285 that slow down test but could work.

[2019-09-20 13:12] MarcoRossignoli commented on #491
@StevenTCramer any news?
Close this issue as solved, I mean with a workaround on coverlet issue with parallel instrumentation/test run
This will be likely resolved if we complete https://github.com/tonerdo/coverlet/issues/357

[2019-09-20 13:12] #491 closed

[2019-09-20 13:15] david-77 commented on #417
Hello Maro,

Really sorry I totally forgot this.

In fact it's not resolved yet, i'll give it another try soon.

Thanks again for your job ;)

----- Mail original -----

De: "Marco Rossignoli" <notifications@github.com>
À: "tonerdo/coverlet" <coverlet@noreply.github.com>
Cc: "david-77" <david.dosantos@free.fr>, "Mention" <mention@noreply.github.com>
Envoyé: Vendredi 20 Septembre 2019 15:07:23
Obje

[2019-09-20 16:22] rpatrick00 opened #560 "Failed to resolve assembly"
I have a .Net Core 2.2 project using xUnit 2.4.0, the SonarScanner for MSBuild 4.7.1, and coverlet.msbuild 2.6.3 to measure code coverage of my unit tests.  The project also uses Nest 6.4.0 (Elasticsearch high-level client for C#) and other related packages.  The code and unit tests all work fine without the coverlet.msbuild package dependency.

When I add the coverlet.msbuild package dependency t

[2019-09-21 08:17] #543 closed

[2019-09-21 08:26] MarcoRossignoli commented on #560
Can you try to add include filter https://github.com/tonerdo/coverlet/blob/master/Documentation/MSBuildIntegration.md#filters?
There is an issue with transitive reference that are not moved to target output folder...but sometimes the issue is the instrumentation of unuseful lib that fire that load.
If error persist are you able to repro in a small project?So maybe we can find out a solution(someth

[2019-09-21 19:06] tonerdo commented on #555
I believe coverlet.msbuild.tasks.dll is already strongly named

[2019-09-21 20:26] MarcoRossignoli commented on #555
Uh you're right...

[2019-09-22 12:46] rpatrick00 commented on #560
I added the exclude filter and while it changed the output, the problem remains.  I will continue trying to create a sample project...

[code]

[2019-09-22 16:45] MarcoRossignoli commented on #560
Could be very useful a repro!

[2019-09-22 21:33] ruimaciel opened #562 "v5.2.0 was released without a ChangeLog"
I've received a notification that coverlet 5.2.0 was released, but when I tried to check what changed  It would be nice if the project included a changelog and distributed it as part of a release.

[2019-09-23 04:14] escalonn opened #563 "coverlet.collector format: possible to specify without runsettings file?"
[This section of the docs](https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md#default) suggests that it's possible to set the Format option without needing a runsettings file. (Possibly with a runsettings command line argument after `--` ?)

If so, provide an example.

If not, please clarify in the docs that changing any options, including format, requires a runsett

[2019-09-23 05:00] vagisha-nidhi commented on #555
@MarcoRossignoli You can sign the dll. For the inproc collector to be picked up, we'll have to make a small change similar to https://github.com/microsoft/vstest/pull/2020/files on the vstest side.

[2019-09-23 07:13] MarcoRossignoli commented on #562
Hi @ruimaciel,
you're right...I'll list asap on this issue the change log.
I'll work on it to have a changelog file for future release.

[2019-09-23 07:29] MarcoRossignoli commented on #563
Sorry @escalonn maybe the guide is not clear...we mean that the format parameter is the only "default" parameter passed and the default format is cobertura.

I agree with you users experience with runsettings is not so great.
We talked a bit in past with vstest team(on our side we cannot do nothing for it) cc: @vagisha-nidhi to understand if there are plan by vstest team to improve user experience

[2019-09-23 07:51] MarcoRossignoli commented on #562
These are the "main" fix/new features if you want to see all new commit between the two version run

git log --oneline f24b9d567cb84c314cde46dd336f1919db73c5e4 e1593359497fdfe6befbb86304b8f4e09a656d14

[Feature][Collectors]Output multiple formats https://github.com/tonerdo/coverlet/pull/533
[Bug fix]Fix exclude by files https://github.com/tonerdo/coverlet/pull/524
[Feature]Skip instrumentation of

[2019-09-23 07:58] MarcoRossignoli commented on #562
Or better @tonerdo can you update the release https://github.com/tonerdo/coverlet/releases with my above list?

[2019-09-23 08:50] #387 closed

[2019-09-23 08:53] MarcoRossignoli commented on #110
I'm going to close this issue as resolved by in-proc collectors.
If case of issue you can enable collectors logging through https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-integration

[2019-09-23 08:53] #110 closed

[2019-09-23 09:00] #113 closed

[2019-09-23 10:29] #557 closed

[2019-09-23 14:37] MarcoRossignoli commented on #395
Done

[2019-09-23 14:37] #395 closed

[2019-09-23 15:27] rpatrick00 commented on #560
OK, I have a reproducer that *should* work outside of our environment.  Since it still is loosely based on our business application, I have added you as a collaborator to the private GitHub project.  Let me know if you need anything else.

[2019-09-23 15:28] MarcoRossignoli commented on #560
I see thank's I'll take a look asap.

[2019-09-23 15:57] MarcoRossignoli commented on #560
@rpatrick00 I found the issue...at the moment I don't have a fix, it's related to how cecil(library that we use to instrument dll) load transitive reference.
I'll come back if found something, for now you should use the workaround of copy dll on target folder, in that way cecil found lib without problem.

[2019-09-23 15:58] rpatrick00 commented on #560
Thanks!

[2019-09-23 16:00] MarcoRossignoli commented on #560
Thank's to you for repro!

[2019-09-25 10:52] oherik commented on #379
I would also like to request this feature. It would be very valuable for me to have, since my team has a specified a minimum test coverage for both lines and branches (with different percentages for each type).

[2019-09-25 11:33] MarcoRossignoli commented on #379
cc: @tonerdo https://github.com/tonerdo/coverlet/pull/385#issuecomment-515797242

[2019-09-25 13:59] safakgur commented on #175
#233 and #477 resolved this, thank you @amweiss.

[2019-09-25 13:59] #175 closed

[2019-09-25 17:06] tpetrina commented on #333
I'll try again with the problematic project, but lately things seem more stable. Good job!

[2019-09-25 17:09] arohithr8 commented on #539
@MarcoRossignoli thanks for the response and sorry I didn't find time to work on it.will try and close it if resolved.

[2019-09-25 21:08] arohithr8 commented on #539
@MarcoRossignoli I made the changes you mentioned and its working. Thank you!!

commands:
dotnet test PackService/PackServiceUnitTest/PackServiceUnitTest.csproj --configuration Test -l:trx;LogFileName=UnitTestOutput1.xml /p:CollectCoverage=true /p:CoverletOutput=../CoverageResults/

dotnet test PackService/PackDomainLayerTest/PackDomainLayerTest.csproj --configuration Test -l:trx;LogFileName=UnitT

[2019-09-25 21:08] #539 closed

[2019-09-25 21:09] MarcoRossignoli commented on #539
Great!Happy coding!

[2019-09-26 21:39] markwest51 commented on #530
apologies, did not get any notification.  Yes this resolves the issue, have been told by a fellow developer at work today that it does exclude multiple libraries using %2c.  Some reason the other issue of having a test project appear in coverage seems to have gone during further changes in the solution, not sure why but it looks good now

[2019-09-26 21:39] #530 closed

[2019-09-27 06:30] MarcoRossignoli commented on #530
Glad to hear, thanks @aleksandrshvets for solving!

[2019-09-27 08:17] ruimaciel commented on #562
Thanks for looking into this issue.  Meanwhile, how about adding a ChangeLog to the repo?  Here's a link that provides [a specification for a ChangeLog format/workflow](https://keepachangelog.com/en/1.0.0/)

[2019-09-27 08:27] MarcoRossignoli commented on #562
Thank's for the interest and infos, added to backlog.

[2019-09-27 18:00] tonerdo commented on #562
@ruimaciel thanks for pointing that out. I was in a hurry to get a new release out (we had gone a while without one) and didn't have time to do enough due diligence to write a changelog. Thanks for the list @MarcoRossignoli, I'll update it shortly

[2019-09-27 18:52] johnradke opened #570 "Version numbers don't match up"
Latest release (according to https://github.com/tonerdo/coverlet/releases) was 5.2.0, but the corresponding nuget packages are variously 1.1, 1.6, and 2.7. Can we make the package versions line up with the github release version?

That way there's less confusion whether a new feature has made it into a given nuget package version. Thanks!

[2019-09-27 22:36] queen-of-code opened #571 "Using runsettings means sometimes missing coverage info"
I've traced down a harrowing issue with missing code coverage on our build server down to the use of runsettings vs directly invoking the cross-plat coverage via the dotnet test command line.

The repro is very simple for our DLL - of SPECIAL note is that this is the same csproj + test csproj combo that previously was not reporting code coverage before the recent advent of collectors. MOST of our

[2019-09-27 23:15] queen-of-code opened #572 "Running coverlet on a sln results in fatal exception"
This is a new regression in dotnet core 3 - we did not encounter this issue using coverlet collectors in 2.2.401. I have something like 40 test csproj files in `mycode.sln`.

When I run `dotnet test mycode.sln --collect:"XPlat Code Coverage"`

I inevitably at some point in the run will get
[code]

Pretty clearly it's contending over the same tmp file for coverage info. FWIW, this is much more like

[2019-09-28 04:48] ittennull opened #573 "Zero coverage in .net core 3 when using MassTransit"
I installed .net sdk 3.0.100, now I have zero coverage if I include MassTransit. My system:
[code]
Here is a sample with reproducible bug: https://gitlab.com/ittennull/coverletdemo
There is one test:
[code]
If I build the solution and run it like this:
[code]

If I comment out `service.StartMassTransit();` then
[code]

[2019-09-28 07:14] MarcoRossignoli commented on #570
@tonerdo what do you think?I don't know the history of release number.

[2019-09-28 07:20] MarcoRossignoli commented on #572
Run coverage on sln is not supported at the moment https://github.com/tonerdo/coverlet/issues/357
It's likely a different run sequence due to new version...can you try with https://github.com/tonerdo/coverlet/issues/491#issuecomment-515780876

[2019-09-28 07:25] MarcoRossignoli commented on #573
Could be a dup of https://github.com/tonerdo/coverlet/issues/506 but thak's for repro...now I can test on my local.

[2019-09-28 07:39] MarcoRossignoli commented on #571
@queen-of-code can you provide a repro?
I did some test on my local with and without runsettings but I cannot repro.
My repro with your settings  [issue571.zip](https://github.com/tonerdo/coverlet/files/3665202/issue571.zip)

[2019-09-28 07:44] MarcoRossignoli commented on #571
Oh one more thing you should upgrade collector to new version https://www.nuget.org/packages/coverlet.collector/

[2019-09-28 08:11] MarcoRossignoli commented on #210
Close thank's to new collectors https://github.com/tonerdo/coverlet#requirements

[2019-09-28 08:11] #210 closed

[2019-09-28 08:21] MarcoRossignoli commented on #86
@dhowe any news?
Feel free to close if solved.

[2019-09-28 08:23] #86 closed

[2019-09-28 08:26] MarcoRossignoli commented on #125
You can now use `p:ExcludeByAttribute` feature https://github.com/tonerdo/coverlet/blob/589e210e740bbf243cb0e57acbff7bf4e1ea8a66/Documentation/MSBuildIntegration.md#attributes

[2019-09-28 08:26] #125 closed

[2019-09-28 08:30] MarcoRossignoli commented on #130
possible dup of https://github.com/tonerdo/coverlet/issues/343

[2019-09-28 08:32] MarcoRossignoli commented on #129
Possible related to https://github.com/tonerdo/coverlet/issues/343

[2019-09-28 08:36] MarcoRossignoli commented on #189
This should be resolved in last version where we skip to instrument dll without pdb or local sources(embedded or not).
Feel free to reopen if needed.

[2019-09-28 08:36] #189 closed

[2019-09-28 08:40] MarcoRossignoli commented on #190
I think that this doesn't work...coverlet instrumet dll injecting a static class with embedded tmp hits file(where we collect covered line/branch) if you run in "parallel" there is a chance that hit file will be accessed concurrently, this will lead to exception for concurrent access.
I think that we resolve this issue when we'll tackle https://github.com/tonerdo/coverlet/issues/357

As @ppumkin a

[2019-09-28 08:40] #190 closed

[2019-09-28 08:48] MarcoRossignoli commented on #572
Ah if you can repro and attach could be great!

[2019-09-28 08:54] MarcoRossignoli commented on #193
Close because solved.

[2019-09-28 08:54] #193 closed

[2019-09-28 08:56] MarcoRossignoli commented on #216
Close because solved by merge with...new sample section if you're in throuble https://github.com/tonerdo/coverlet/blob/master/Documentation/Examples.md

[2019-09-28 08:56] #216 closed

[2019-09-28 08:59] MarcoRossignoli commented on #194
closed because solved in part on report generator and in part with last update on async/await accounting https://github.com/tonerdo/coverlet/pull/549

[2019-09-28 08:59] #194 closed

[2019-09-28 09:01] MarcoRossignoli commented on #222
@Looking-at-the-ballpark any news?

[2019-09-28 09:03] MarcoRossignoli commented on #235
@lurumad any news?

[2019-09-28 09:07] MarcoRossignoli commented on #237
Did a test with last version and it works.
Feel free to reopen if problem persist, in case if you can provide a repro could be great.

[2019-09-28 09:07] #237 closed

[2019-09-28 09:10] MarcoRossignoli commented on #269
@pape77 is this issue still here?

[2019-09-28 09:11] MarcoRossignoli commented on #270
Close because answered, I agree with Toni, there are tools for this kind of analysis.

[2019-09-28 09:11] #270 closed

[2019-09-28 09:13] MarcoRossignoli commented on #201
@kallam9  any news?
Feel free to close please if solved.

[2019-09-28 09:14] MarcoRossignoli commented on #264
Guys is this issue solved?

[2019-09-28 09:16] MarcoRossignoli commented on #231
@tliebl can you try with last version?

[2019-09-28 09:17] MarcoRossignoli commented on #229
close for dup

[2019-09-28 09:17] #229 closed

[2019-09-28 09:20] MarcoRossignoli commented on #202
I agree with @tonerdo and I'll add some though, it's also possible that the features(i.e. new switch) will be supported on different "drivers"(msbuild/console/collectors) in different version due to technical/dev time reasons. Core fix are aligned btw.

Close because answered.

[2019-09-28 09:20] #202 closed

[2019-09-28 09:33] MarcoRossignoli commented on #311
You could also try with
[code]
or
[code]
BTW in last .net core version 3.0 the build move all packages reference to output folder no more load from global packages location https://github.com/dotnet/cli/issues/12705#issuecomment-535150372

Feel free to close if solved please!

[2019-09-28 09:37] MarcoRossignoli commented on #279
close for dup, we track issue there https://github.com/tonerdo/coverlet/issues/279#issuecomment-449708572

[2019-09-28 09:37] #279 closed

[2019-09-28 09:38] #296 closed

[2019-09-28 09:39] MarcoRossignoli commented on #296
Feel free to re-open if needed

[2019-09-28 09:41] MarcoRossignoli commented on #218
@petargyurov have you solved?
Thank's @danielloganking for the advice!
Feel free to close if solved.

[2019-09-28 09:44] MarcoRossignoli commented on #148
can you try with the tips here https://github.com/tonerdo/coverlet/issues/284?
I've open a issue for this problem if you want say something https://github.com/tonerdo/coverlet/issues/542

Feel free to close if solved.

[2019-09-28 10:08] MarcoRossignoli opened #574 ".NET Foundation Maturity Ladder"
Should we propose Coverlet to some ladder?

https://github.com/dotnet-foundation/project-maturity-model

A sample https://github.com/dotnet-foundation/project-maturity-model/pull/15

cc: @tonerdo @petli

[2019-09-28 15:33] Rjae commented on #110
@MarcoRossignoli I finally had time to enable logging (see attached). Not knowing coverlet code yet, I mostly skimmed through. I did notice many socket exceptions in host log. Please let me know if there is something else I may try.
[Logs.zip](https://github.com/tonerdo/coverlet/files/3665658/Logs.zip)

[2019-09-28 16:20] MarcoRossignoli commented on #110
@Rjae can you open new issue(I'm oof at the moment) with copy paste from this thread so we can go on there,.this issue is completed.

[2019-09-28 17:12] Rjae opened #575 "0% Coverage Reported in GitHub Workflow"
@MarcoRossignoli I just finished configuring a GH Actions workflow. All is well except my 100% coverage solution is reported as 0% running under GH Actions. The same project running on Travis (xenial) and local (Windows) is reported as 100%.

I've tried 2.2.108, 204, 401, 402 - along with 2.6.3. I tried all the workarounds listed on this thread, no luck. If you're aware of any other fixes I may tr

[2019-09-28 17:13] Rjae commented on #575
_Originally posted by @MarcoRossignoli in https://github.com/tonerdo/coverlet/issues/110#issuecomment-531455943_

[2019-09-28 17:14] Rjae commented on #575
Thanks @MarcoRossignoli I'm giving collectors a shot right now. Getting

[code]

My runsettings file:

[code]

I've followed the doc - but must be missing something. I'll keep digging and update thread here.

[2019-09-28 17:15] Rjae commented on #575
_Originally posted by @MarcoRossignoli in https://github.com/tonerdo/coverlet/issues/110#issuecomment-531685466_

[2019-09-28 17:16] Rjae commented on #575
@MarcoRossignoli I finally had time to enable logging (see attached). Not knowing coverlet code yet, I mostly skimmed through. I did notice many socket exceptions in host log. Please let me know if there is something else I may try.
[Logs.zip](https://github.com/tonerdo/coverlet/files/3665658/Logs.zip)

[2019-09-28 18:30] MarcoRossignoli commented on #575
Thanks I'll take a look at logs asap

[2019-09-28 18:32] MarcoRossignoli commented on #494
@TFTomSun any news?

[2019-09-30 07:55] MarcoRossignoli commented on #575
@Rjae can you try to upgrade to versione 1.1.0 https://www.nuget.org/packages/coverlet.collector/
attach your ci script(as above but with command for collectors+runsetting file)
and re-enable logs https://github.com/tonerdo/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-integration and attach

If you can try also with nightly could be great we have new logs in place but with on-m

[2019-09-30 10:48] petargyurov commented on #218
@MarcoRossignoli It's been a while since I had to use this but as I recall I did not find a way to fix it.

[2019-09-30 12:02] MarcoRossignoli commented on #218
I did some test and it works on my local(ubuntu)
`test.sh` script
[code]
Output
[code]
My test proj
[code]
the same with
[code]

You should try with last version.
I'll close for the moment, feel free to re-open if needed.

[2019-09-30 12:02] #218 closed

[2019-09-30 12:05] MarcoRossignoli commented on #335
I tried to work on this but I don't have enough permission.

[2019-09-30 14:40] MarcoRossignoli commented on #573
@ittennull I found the issue.
It's a know issue of interaction between vstest and exit process.
To solve you have to use "collectors" and not dotnet tool.
Again during debug I found also a possible bug on vstest platform(dotnet test) so you need to pass a custom "runsetting" file.
Try with this:
1) reference collectors
[code]
2) Add custom runsetting file in the same place where you run test comma

[2019-09-30 14:48] MarcoRossignoli opened #576 "Coverlet in-process collector is not loaded for version > 1.0.0"
During some [debugging session](https://github.com/tonerdo/coverlet/issues/573) for a user I found that if we update collector version > 1.0.0 the collector isn't loaded.
We can see the exception from logs:
[code]
Run settings above(injected) wants to load version 1.0.0.0. but at the moment we are on 1.1.0.0
For now the workaround is override inproc version
[code]
Issue raise with all runtime vers

[2019-09-30 15:01] Looking-at-the-ballpark commented on #222
No. I got moved to another project. I will try again as soon I have the bandwidth and I will update the thread

[2019-09-30 15:03] #459 closed

[2019-09-30 15:05] MarcoRossignoli commented on #222
After read your issue I think you should use new collectors to avoid issue with process exit and interaction with vstest plat.

[2019-09-30 15:06] MarcoRossignoli commented on #575
@Rjae you should try this https://github.com/tonerdo/coverlet/issues/573#issuecomment-536593477
It's possible that you're hitting same issue.

[2019-09-30 15:16] MarcoRossignoli commented on #183
this bug is solved I did a test with last version 2.7.0 and this is my result of repro.
[code]
I'm going to close...feel free to reopen if needed.

[2019-09-30 15:16] #183 closed

[2019-10-01 05:21] dmitry-semenov-rtl commented on #573
Yes, it works as you suggested.
Is there a way to do it without adding <PackageReference Include="coverlet.collector" Version="1.1.0" /> to csproj?

[2019-10-01 07:13] MarcoRossignoli commented on #573
What does it mean?
VsTest platform must find and load collectors so the ref to `<PackageReference Include="coverlet.collector" Version="1.1.0" />` is mandatory and it's the default for new dotnet xunit template
[code]
All other reference to coverlet are unuseful.
And the BEST WAY TO USE COVERLET TODAY is through collectors because they're fully integrated inside vstest pipeline.
Collectors are you

[2019-10-01 10:32] dmitry-semenov-rtl commented on #573
Ok, sounds clear. I asked because previously we didn't reference any collectors from test csproj files and `coverlet` dotnet tool somehow just worked. I got it that now it's mandatory. I will try to update our pipelines using new rules

[2019-10-01 10:36] MarcoRossignoli commented on #573
TL;DR;

Yep, coverlet tool is a simple wrapper on core instrumentation steps https://github.com/tonerdo/coverlet#how-it-works
Actually tool instrument dll and run some "user choice runner" i.e. `test` and when that process exits we collect coverage.
So the issue with test platform remains, collectors is the unique way to tell to test plat "don'k kill me just wait that I've finished my job".

[2019-10-01 19:34] bhales42 commented on #290
This would be useful.  I usually execute unit tests and coverage multiple ways: IDE, command line, etc.  Declaring this in an assembly attribute would apply to all methods.

[2019-10-02 07:58] MarcoRossignoli commented on #290
@tonerdo I re-opened this issue, I think we should support this behaviour because it's a default for most coverage tools.
If you don't agree please let me know.
@petli what do you think?

[2019-10-02 08:00] MarcoRossignoli commented on #574
Closed for the moment https://dotnetfoundation.org/blog/2019/09/30/rethinking-project-maturity-as-a-community-process

[2019-10-02 08:00] #574 closed

[2019-10-03 04:50] queen-of-code commented on #572
It's absolutely possible that two test sessions writing in parallel have a shared DLL between them that they are reporting coverage on. I'll try with -m:1 and report back.

[2019-10-03 05:29] queen-of-code commented on #572
Looks like doing m:1 has sort-of fixed it, with the downside that it took our test run went from 7 minutes to closer to 23 minutes - which is not great. If the naming on that temporary file is any indication, then it's a large common base-library DLL used by nearly all of the application packages in some way or another. So it's likely that it's contending quite a lot.

[2019-10-03 05:45] queen-of-code commented on #571
I'll try an upgrade. But are you at least able to repro the two very different formats regardless of coverage numbers? Because that's a clean + easy repro for me and should be the same for you.

[2019-10-03 07:11] MarcoRossignoli commented on #572
This is expected...m1 block msbuild to run on only one node.

Can you try to run coverage for every test project?i.e.
[code]
I want to understand if there is a workaround to avoid dll sharing, I mean every test rebuild and use a local copy of lib and run in custom process, if works at the end we can merge result https://github.com/tonerdo/coverlet/blob/master/Documentation/Examples.md

I'm aware t