[2020-06-26 06:49] #883 closed

[2020-06-26 07:02] MarcoRossignoli commented on #881
@Brainman643 is this resolved?Seem an issue related to how `Fody` re-write IL for embedded version, maybe it write non portable embedded pdb?

[2020-06-26 07:18] Ablinne commented on #886
In my case it would be ok to have a warning instead of an error, but in the general case I think it should be considered an error if the artifact is modified by a coverage collection. So if the behaviour warning/error could be configured, this would also be a solution to my problem.

The way delay time (initialSleepSeconds) and number of retries (RetryAttempts) work together is effectively a "time

[2020-06-26 07:25] MarcoRossignoli commented on #886
Understood you point...fair, I need to think a bit more about(the update is a bit more complex we need to add it to all drivers not only collectors and update guide, I'm bit reclutant on adding new parameters, but this time could be a solution), add param could work.

[2020-06-28 14:22] DanielPohlmann commented on #844
Hello, install package Microsoft.NET.Test.Sdk solve error MSB4044: The "Coverlet.MSbuild.Tasks.CoverageResultTask" task was not given a value for the required parameter "InstrumenterState".

[2020-06-29 00:46] robertlarkins opened #889 "Where should coverlet.runsettings be located?"
What is the recommended practice for where coverlet.runsettings file(s) live in a solution? Should there be a single coverlet.runsettings that sits at the root of the solution and is applied to *all* projects, or a coverlet.runsettings in each project?

The way I see it is having it at the solution level means that nothing special has to be done to find coverlet.runsettings in each project when ru

[2020-06-29 07:01] MarcoRossignoli commented on #889
It depends...if you've only one configuration for every test project your settings is ok...the only drawback is that if you need some custom settings(filtering etc...) for some test project in future you'll need to create a new one inside test folder. BTW there is no "standard" so is up to you.
Usually I organize my project in folders like
[code]

So root of tests folder for share and a custom one

[2020-06-29 07:29] MarcoRossignoli commented on #874
@tonerdo added protected branch for master https://github.com/coverlet-coverage/coverlet/settings/branches 1 approver no direct push allowed to master also for admin.

[2020-06-29 07:34] #889 closed

[2020-07-01 13:55] nZeus commented on #201
In our caseafter the upgrade of dontet core sdk to 3.1.301 it stopped working.

Upgrade of `coverlet.msbuild` from version `2.4.*` to `2.9.*` solved the issue

[2020-07-05 19:05] diegofox2 opened #890 "Coverlet doesn't track coverage of method that throws exception"
Hi guys, thanks for maintaining this wonderful tool to measure code coverage.

In this image, you can see the coverage result for an IF statement that throws an exception inside when a condition happens.

![Partial Coverage](https://user-images.githubusercontent.com/7718960/86540046-23240d00-bed8-11ea-844e-f95a9bb9d82d.JPG)

And I have these test methods that fully cover the method AddSkillRequire

[2020-07-06 19:30] gep13 commented on #882
@MarcoRossignoli as requested on Twitter here:

https://twitter.com/MarcoRossignoli/status/1280043730960093184

I have updated my build to no longer pass in `/p:UseSourceLink=true` and I can confirm that the build that was failing, is now succeeding, and coverage reports are now successfully being pushed to codecov.io, where they were failing before.

Thanks for the tip.  Let me know if there is a

[2020-07-06 19:37] MarcoRossignoli commented on #882
Thanks for the test!

[2020-07-07 08:13] manishi2V commented on #523
According to question @CodesharpJonas is using coverlet tool. I am using same tool to get coverage and having same issue. My requirement is to use only test dll but not csproj. Is there a way to do same?
I tried to use p:DebugType but as this option is not available with coverlet.exe so I am not able to use it.

[2020-07-07 08:51] MarcoRossignoli commented on #523
This option is not related to coverlet .net tool but it's a setting during project build. It's a msbuild parameter https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-properties?view=vs-2019

[2020-07-07 08:55] MarcoRossignoli commented on #890
Thanks for reporting, could be a bug, need some investigation. Are you able to generate a repro?

[2020-07-08 17:37] SruthiSyamala-Wellsky commented on #516
Hi
I am getting same result after I included "/p:IncludeTestAssembly=true"  ---- .xml file is empty.
![tempsnip](https://user-images.githubusercontent.com/66686521/86951911-cca51180-c117-11ea-8ef0-ed54aacc8eff.png)

This is what I'm running:   dotnet test ./Tests/**--filter "**" /p:CollectCoverage=true /p:IncludeTestAssembly=true /p:CoverletOutputFormat=cobertura --logger trx

 I am getting correc

[2020-07-08 18:38] SruthiSyamala-Wellsky commented on #516
I opened this ticket. Can you see my post?

[2020-07-08 20:44] orbus-dkreivenas commented on #718
Hello, I wanted to reopen this issue as we are experiencing the same problem using the collectors. Our package version are the following:
- coverlet.collectors 1.3.0
- Microsoft.NET.Test.Sdk 16.6.1
- Tests projects target netcoreapp2.2
- dotnet sdk 3.1.301
- Microsoft Test Execution Command Line Tool Version 16.6.0 (displayed in the test logs)

We run the tests by running `dotnet test {CS Project}

[2020-07-09 09:02] manishi2V opened #892 "Unable to get coverage of Referenced dll"
Hello Folks,

I am trying to get coverage of a dll file. I am able to get coverage using "Collect coverage" tool where I am able to use runsettings file like below where I have mentioned dll name but I didn't found an option in coverlet where I can specify a dll file.
[code]

I am using following command using coverlet...
`dotnet test "myproject.csproj" /p:DebugType=pdbonly p:CollectCoverage=true

[2020-07-09 10:08] MarcoRossignoli commented on #718
Pls can you open a new issue with same infos?

[2020-07-09 10:17] orbus-dkreivenas opened #893 "Coverlet Collectors intermittently fail to collect coverage results"
Hello, we are experiencing a problem using the collectors. Our package version are the following:
- coverlet.collectors 1.3.0
- Microsoft.NET.Test.Sdk 16.6.1
- Tests projects target netcoreapp2.2
- dotnet sdk 3.1.301
- Microsoft Test Execution Command Line Tool Version 16.6.0 (displayed in the test logs)

We run the tests by running `dotnet test {CS Project} --no-build --no-restore --logger trx --

[2020-07-09 13:44] saitejkuralla opened #894 "Unable to read beyond the end of the stream"
**Please provide me the precise answer for this, I have seen many issues related and there is no precise answer for this**

**Note**

1) I am using **Coverlet.MSBuild** : the latest version which is 2.9.0
2) I was not able to reproduce in my local machine. I see this error only in Azure Build pipeline.
3)  Cmd used : **dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /maxcpuco

[2020-07-09 20:56] diegofox2 commented on #890
Hi @MarcoRossignoli

I'm sorry but I don't know what do you mean with "generate a repro". Can you elaborate, please?

[2020-07-10 07:28] MarcoRossignoli commented on #894
Seem you're hitting know issue https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test
You should try with collectors integration https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md

[2020-07-10 07:32] MarcoRossignoli commented on #893
net472 is not supported with collectors https://github.com/coverlet-coverage/coverlet/issues/705#issuecomment-586733191
Btw that error is strange on collectors, can you enable logging and attach(warning: take a look at logs before send becasue it contains libs names and could expose secrets)?
https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-inte

[2020-07-10 07:38] MarcoRossignoli commented on #892
Seem you're using two drivers at same time, take a look at guide for collectors https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md `p:CollectCoverage=true` is for msbuild integration not for collectors
Here you can find an hello world sample https://github.com/coverlet-coverage/coverlet/tree/master/Documentation/Examples/VSTest/HelloWorld
Your filter shoul

[2020-07-10 07:42] MarcoRossignoli commented on #890
I mean create a simple app that reproduce the issue so we can investigate with a real sample, you can create a sample repo and link here like this sample of other guy https://github.com/chtoucas/DeterministicBuilds

[2020-07-10 07:46] MarcoRossignoli commented on #882
Thanks @chtoucas can repro on my local, I'll take a look asap, sorry guys but are very busy months I'm near prod release on my daily job so you know what I mean 🙏

[2020-07-10 08:24] manishi2V commented on #892
Hi @MarcoRossignoli Thank you for your response. This works in my local machine however still not working when try to deploy in Azure

[2020-07-10 10:36] MarcoRossignoli commented on #892
Can you copy paste output?

[2020-07-10 10:42] manishi2V commented on #892
Which output are you talking about? I am getting an empty result.

[2020-07-10 10:45] manishi2V commented on #892
<img width="213" alt="empty" src="https://user-images.githubusercontent.com/12082065/87146420-8cd15c00-c2c8-11ea-96c3-4ff2e9aa5f64.png">

[2020-07-10 14:04] orbus-dkreivenas commented on #893
I have tried running the `dotnet test {CS Project} --no-build --no-restore --logger trx --collect "XPlat Code Coverage"` for a net472 and the coverage result was collected. It is a SDK style project targeting the net472 framework.

Here are the logs:
[log.datacollector.20-07-10_14-52-23_42566_4.zip](https://github.com/coverlet-coverage/coverlet/files/4903517/log.datacollector.20-07-10_14-52-23_425

[2020-07-10 14:43] MarcoRossignoli commented on #892
I mean enable logs in CI and download to check https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-integration

[2020-07-10 15:54] manishi2V commented on #892
I have attached log file for your reference.
I used below command

`dotnet test --collect:"XPlat Code Coverage" --settings ParallelRunsettings.Runsettings --diag:log.txt `

I also included runsettings file and coverage report. In order to insert attachments with this mail I made runsettings file as a text file.

My test case coverage should display  ***_Controller.dll assembly as well in report.

[2020-07-11 07:41] MarcoRossignoli commented on #892
I see this line in logs, you should setup portable pdb in you build, coverlet supports only portable pdb.
https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-properties?view=vs-2019
[code]

The runsettings you've attached doesn't work with coverlet, that is settings for default .NET Framework build-in coverage, for .NET Core(cross plat coverage) you need to use another sec

[2020-07-11 07:50] MarcoRossignoli commented on #893
Coverlet collectors atm are no supported in .NET Framework, only .NET Core

TL;DR;

As you can see in log `log.host.20-07-10_14-52-30_81650_4.txt` there are a lot of fails in type resolution
[code]
This means that in-process coverlet collector is not loaded in test process because coverlet lib is compiled for netcoreapp and not for netxxx app. When in-process collector is not loaded "sometimes"(ra

[2020-07-11 15:11] #882 closed

[2020-07-11 15:12] MarcoRossignoli commented on #882
Hi guys can someone of you give it a try using our nightly(tomorrow we release every midnight)? https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2020-07-11 15:29] MarcoRossignoli commented on #878
If you include only your desired lib something like `[DomainB*]*` you should get coverage only for all asm start with `DomainB`

[2020-07-11 15:33] MarcoRossignoli commented on #885
One question, in your `csproj` are you using more than one tfm version? https://docs.microsoft.com/en-us/dotnet/standard/frameworks#how-to-specify-target-frameworks

I mean `<TargetFramework>netcoreapp3.1</TargetFramework>` or `<TargetFrameworks>netcoreapp3.1</TargetFrameworks>`

[2020-07-11 15:34] MarcoRossignoli commented on #852
Closed for stale conversation, feel free to re-open if needed.

[2020-07-11 15:34] #852 closed

[2020-07-11 15:35] MarcoRossignoli commented on #871
Any news?

[2020-07-11 15:48] MarcoRossignoli commented on #880
I think you should move your project to `net472` as reported in netstandard guide there are some issue with `net461` and `netstandard2.0`

https://docs.microsoft.com/en-us/dotnet/standard/net-standard#net-implementation-support
[code]
I did a test with your repo project moving to  `net472` and it works
![image](https://user-images.githubusercontent.com/7894084/87228014-ba88d480-c39e-11ea-93fd-f44e

[2020-07-11 15:49] jpdillingham commented on #885
There's just `netcoreapp3.1`, but the enclosing node is `TargetFrameworks`.  The project is here: https://github.com/jpdillingham/Soulseek.NET/blob/master/tests/Soulseek.Tests.Unit/Soulseek.Tests.Unit.csproj

Worth noting is that I've never edited this file manually, so the plural node must be the default behavior.

[2020-07-11 16:08] MarcoRossignoli commented on #890
@diegofox2 I did some test but cannot repro in my local, this is my test https://github.com/coverlet-coverage/coverlet/compare/master...MarcoRossignoli:issue_890 and result
![image](https://user-images.githubusercontent.com/7894084/87228427-7519d680-c3a1-11ea-9315-6392319cbaf9.png)

[2020-07-11 16:23] MarcoRossignoli commented on #823
@Giorgi are you running coverage in `Release` if so you should run in `Debug` because compiler emits different metadata in pdb and it's not accurate with lines.
If you're running in `debug` I needs repro to understand because I did some tests in my local but I cannot see the issue https://github.com/coverlet-coverage/coverlet/compare/master...MarcoRossignoli:issue_823

![image](https://user-images

[2020-07-11 17:00] MarcoRossignoli commented on #760
Atm I can repro with @petli repro https://github.com/coverlet-coverage/coverlet/issues/760#issuecomment-644265756

[2020-07-11 17:54] MarcoRossignoli commented on #885
I did a tests and seem that default is `TargetFramework` you should update to it if you don't have more tfm.
![image](https://user-images.githubusercontent.com/7894084/87230423-553ddf00-c3b0-11ea-93ed-9b97f41a4a78.png)

[2020-07-11 17:56] MarcoRossignoli commented on #885
Feel free to close of solved!

[2020-07-11 19:24] #760 closed

[2020-07-11 19:25] MarcoRossignoli commented on #760
Hi guys can someone of you give it a try using our nightly(tomorrow we release every midnight)? https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2020-07-11 20:34] gep13 commented on #882
@MarcoRossignoli we (or rather @AdmiringWorm) have a test ready to go.  We will execute this once the latest nightly version is available.  Thanks for looking into this, really appreciate it!

[2020-07-12 00:41] AdmiringWorm commented on #882
@MarcoRossignoli just finished the tests I had set up, and everything seems to work as it should with the latest nightly.

Tried both with and without the workaround mentioned [here](https://github.com/coverlet-coverage/coverlet/issues/882#issuecomment-657125519).
Without the workaround, no error would be shown, but the generated report would be empty (I expected that to happen).
With the workarou

[2020-07-12 03:14] jpdillingham commented on #885
Thanks, changing both .csproj files to use `TargetFramework` instead of `TargetFrameworks` corrected the issue.  This must have been an artifact of the upgrade from 2.1 to 3.1.

[2020-07-12 03:14] #885 closed

[2020-07-12 06:57] chtoucas commented on #882
Thanks a lot @MarcoRossignoli! I tried with two repositories, one being rather complex, and everything works fine with either coverlet.msbuild or coverlet.collector, and with `ContinuousIntegrationBuild` and `UseSourceLink` being set to `true` or `false`.

By the way, we still need to patch `CoverletGetPathMap` when `DeterministicSourcePaths` or `ContinuousIntegrationBuild` is set to `true`. This

[2020-07-12 08:02] MarcoRossignoli commented on #882
cc: @clairernovotny

[2020-07-12 15:06] MarcoRossignoli commented on #328
Not at the moment
https://github.com/OpenCover/opencover/blob/67980c8132b1d574beb1feaa7d269c9dca47b812/main/OpenCover.Framework/Symbols/CecilSymbolManager.cs#L328

[2020-07-12 17:25] kevin-montrose opened #898 "Exclude lines & branches that come after calls to methods with [DoesNotReturn]"
It'd be nice to be able to exclude lines, like `return;`, that follow methods that contractually never return from coverage.  The BCL already ships with the [`DoesNotReturnAttribute`](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.codeanalysis.doesnotreturnattribute) that could be used to indicate this.

I stumble across this a lot when using the "throw helper"-pattern.  An example

[2020-07-12 19:55] gep13 commented on #882
@MarcoRossignoli do you have any estimate as to when you will be looking to publish a new version to NuGet.org? Thanks

[2020-07-12 20:25] Giorgi commented on #823
I switched to Debug mode but the result is the same: [https://coveralls.io/builds/32010193/source?filename=C%2Fprojects%2Fentityframework-exceptions%2FEntityFramework.Exceptions.Common%2FExceptionProcessorStateManager.cs#L71](https://coveralls.io/builds/32010193/source?filename=C%2Fprojects%2Fentityframework-exceptions%2FEntityFramework.Exceptions.Common%2FExceptionProcessorStateManager.cs#L71)

A

[2020-07-13 02:53] diegofox2 commented on #890
Ok, I will create it tomorrow. Thank you!

[2020-07-13 08:13] orbus-dkreivenas commented on #893
So is it possible to resolve this using coverlet.msbuild package for the .NET Framework or the only way is to upgrade to .NET Core ?

[2020-07-13 09:38] MarcoRossignoli commented on #893
You can use msbuild but you could incour in same issue https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test
So atm there is no way 😞 btw I'm in contact with MS guys to fix it cc: @nohwnd

[2020-07-13 09:40] orbus-dkreivenas commented on #893
Thanks for the help. I will keep track on this as we do have projects we can't move to .NET Core. So closing this.

[2020-07-13 09:40] #893 closed

[2020-07-13 09:48] MarcoRossignoli commented on #898
Thank's for reporting this, we have to understand if makes sense from coverage perspective, I mean that IL is emitted and not covered.
Also need to understand if make sense add a C# only feature, coverlet can instrument every IL code(we test/debug and develop using c# btw, so actually we're used to fix roslyn related compiler tricks cached delegates, async state machine etc...).

[2020-07-13 09:54] MarcoRossignoli commented on #893
Keep an eye on this issue https://github.com/coverlet-coverage/coverlet/issues/705#issuecomment-586733191 where we track that issue.

[2020-07-13 11:50] saitejkuralla commented on #894
@MarcoRossignoli : Will give a try thank you

[2020-07-13 12:09] MarcoRossignoli commented on #882
We planned to release evey quarter, this time we release before for deterministic feature, we could release a fix or a new version as planned(I've a PR ready with a new feat also `--skipautoprops`).
I need to talk to @tonerdo (we have some versions change planned) but not clear agreement yet .
https://github.com/coverlet-coverage/coverlet/issues/874
https://github.com/coverlet-coverage/coverlet/bl

[2020-07-13 13:03] clairernovotny commented on #882
There are two issues that 300 fixed:

1. the need for the workarounds in for the generated files
2. enabling the base targets to return the `SourceRoot` items so the coverlet target workarounds aren't needed.

@MarcoRossignoli were you able to update coverlet to use the built-in target to get the `SourceRoot` items instead of requiring people to add something to their directory targets?

[2020-07-13 13:09] MarcoRossignoli commented on #882
Will take a look asap.

[2020-07-13 13:10] MarcoRossignoli opened #900 "Remove deterministic build feature hack for 3.1.300+ SDK"
Ref issue https://github.com/coverlet-coverage/coverlet/issues/882#issuecomment-657547636

[2020-07-13 13:23] NatMarchand opened #901 "Unable to get coverage when running tests with Microsoft.AspNetCore.Mvc.Testing"
Hello there,
I have an issue with a simple repro solution:
Three projects :
- WebApp (netcoreapp3.1 with aspnetcore, very simple api)
- Business (netstandard2.0 with only one static class/method)
- Tests (netcoreapp3.1 with xunit and two tests)

The first test instantiate my api controller executes the method and assert on the result.
The second one do almost the same but by instantiating the whol

[2020-07-13 15:07] manishi2V commented on #892
Hi @MarcoRossignoli I do as per your instructions and set all my projects portable and I saw inside log files and not getting `[coverlet]BadImageFormatException` in logs.
I also removed my code to use runsettings file but still I'm not able to get coverage.
Please find this log file...
[log.datacollector.20-07-13_14-58-20_17787_4.txt](https://github.com/coverlet-coverage/coverlet/files/4913313/log

[2020-07-14 06:51] MarcoRossignoli commented on #892
Hi @manishi2V you cannot pass parameter with `/p:` if you're using collectors, you can only pass using runsettings or flat xml to command line, take a look at guide and to our hello world sample

https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md
https://github.com/coverlet-coverage/coverlet/tree/master/Documentation/Examples/VSTest/HelloWorld

[2020-07-14 06:54] MarcoRossignoli commented on #823
Yep it's ok compiler emit pdb also with that line.

I need a repro to understand, I cannot repro on my local(as you can see above) 😞

[2020-07-14 06:58] MarcoRossignoli commented on #901
Could be related to known issue https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test
Can you try with collectors integration? https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md

It it doesn't work please can you provide the solution so I can test on my local?

[2020-07-14 15:09] NatMarchand commented on #901
After checking, it does work  with collector. Unfortunately, I picked the msbuild way because I needed the mergewith. Do you have any update about supporting MergeWith with collector ?

[2020-07-14 21:06] MarcoRossignoli commented on #901
We're working on some solutions, but I don't have eta at the moment, btw you can use a trick used by one of our user https://github.com/coverlet-coverage/coverlet/pull/225#issuecomment-573896446

Also check if your coverage report generator can merge files like reportgenerator.

[2020-07-14 21:13] NatMarchand commented on #901
Yep, I’ve already seen it. Might try tomorrow but not a huge fan of this workaround as it complicates my pipeline and might not integrate well with the dotnet test task I use (working on azure devops).
For the report, I know that Azure Devops merges them but I’m not sure for Sonarqube.

[2020-07-14 22:24] Cjewett commented on #880
Thanks! I'll test some of upgrade scenarios and report back.

[2020-07-14 22:35] Giorgi commented on #823
For the repro I don't think I can do better than the current repo that I have at [https://github.com/Giorgi/EntityFramework.Exceptions/](https://github.com/Giorgi/EntityFramework.Exceptions/)

[2020-07-14 23:36] kevin-montrose commented on #898
I think of it as analogous to `[ExcludeFromCoverage]`, it's something code opts-in to because there's some additional information that can't (or shouldn't) be inferred.  I think it'd be unreasonable to expect coverlet to automatically detect that called methods never return, unless some future version of .NET adds a `never` type or something.

I'm tempted to take a swing at PR'ing it, even if all

[2020-07-15 04:05] manishi2V commented on #892
Hi @MarcoRossignoli I tried that approach but still issue is same

[2020-07-15 06:36] MarcoRossignoli commented on #892
Can you attach `--diag=log.txt` to command and send logs so we can see what's happening?

[2020-07-15 06:52] MarcoRossignoli commented on #823
Coverlet is language agnostic, I mean doesn't know if source code is C# F# or some other language that can compile in IL code, so we don't do any assumption on it, we work at IL level and simply map sequence point/branches with "line: reported on pdb.

Oh sorry I messed up this issue with another didn't see the repro 😅

[2020-07-15 06:57] MarcoRossignoli commented on #901
I undestand you 😞

You can follow our changelog and roadmap(expected, btw could change), atm we don't use the board because coverlet is OSS and it's not easy do long term planning

https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Changelog.md
https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Roadmap.md

[2020-07-15 07:10] MarcoRossignoli commented on #898
I think you're right and I agree, actually that members are inside `System.Diagnostics.CodeAnalysis` and not `Microsoft.CodeAnalysis.CSharp` so it's not language related, I don't know how complex is at the momet, but we could stop to instrument all sequence/branches after a call with method decorated like that.
It's not high priority but I keep this open for future implementation.
Thank's Kevin!
I

[2020-07-15 13:22] Ablinne commented on #886
Anything I can do for this to make progress?

[2020-07-15 16:22] MarcoRossignoli commented on #886
For the moment could be a good idea move error to warning, you could try to update code
here https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.core/Helpers/InstrumentationHelper.cs#L206
and https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.core/Helpers/InstrumentationHelper.cs#L234

adding a try/catch(exception) and logging a warning to avoid exception wil

[2020-07-16 13:16] manishi2V commented on #892
[log.datacollector.20-07-16_12-24-05_41267_4.txt](https://github.com/coverlet-coverage/coverlet/files/4931712/log.datacollector.20-07-16_12-24-05_41267_4.txt)
[log (1).txt](https://github.com/coverlet-coverage/coverlet/files/4931713/log.1.txt)
[log.host.20-07-16_12-05-47_82080_4.txt](https://github.com/coverlet-coverage/coverlet/files/4931714/log.host.20-07-16_12-05-47_82080_4.txt)

[2020-07-16 14:03] gparissis opened #902 "Class contrsuctor - Line not covered"
I am having a problem to understand why the constructor's line is not showing as covered.
Below is the class

[code]

And the test

[code]
After running coverlet command

[code]
an XML file is created, as expected.

But when i check the XML contents i see that for the constructor's the line reports zero hits.

[code]
You can see that hits on line number 12 is zero.

I am wondering why is this happ

[2020-07-16 14:11] gparissis commented on #902
After further testing when i included a test, that was testing the scenario where a negative number was passed to the constructor, thus causing the constructor to raise the exception, the line was included in coverage results.

Now the generated line contains the below:

[code]

Is this normal?

[2020-07-16 17:46] #901 closed

[2020-07-17 07:30] manishi2V commented on #892
I have seen following lines in logs ...
The type "Coverlet.Collector.DataCollection.CoverletCoverageCollector" defined in "coverlet.collector.dll" does not have ExtensionUri attribute.

[logs.datacollector.20-07-17_12-59-01_22289_4.txt](https://github.com/coverlet-coverage/coverlet/files/4936342/logs.datacollector.20-07-17_12-59-01_22289_4.txt)

[2020-07-17 09:22] MarcoRossignoli commented on #892
The strange thing is that there is no dll instrumented(`Include module` log), are you testing code inside a test project?
[code]
If so you have to pass a flag to instrument also a test project https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md#advanced-options-supported-via-runsettings `<IncludeTestAssembly>true</IncludeTestAssembly>`

[2020-07-17 09:32] manishi2V commented on #892
I am using

dotnet test EngineCommon.Test.dll --collect:"XPlat Code Coverage" command

However when I run this command in my local repository, then I am able to get coverage but strange thing is that I am not getting this in my deployed location.

In my deployed location however dotnet test EngineCommon.Test.dll --collect:"Code Coverage" command works

[2020-07-17 09:35] MarcoRossignoli commented on #892
It's not clear what you mean for "in my deployed location"...are you talking about CI?

[2020-07-17 09:37] manishi2V commented on #892
Yes. I am taking about CI Pipeline of Azure

[2020-07-17 09:38] manishi2V commented on #892
I tried to set <IncludeTestAssembly>true</IncludeTestAssembly> but still having same issue

[2020-07-17 09:54] MarcoRossignoli commented on #892
It's not a problem(never seen or noticed that, maybe is there since start I'll take a look but it's unrelated to your issue) collector is loaded correctly the issue is that doesn't find any dll to instrument, in that log we have to see the name of instrumented assemblies, try to enable log in your local(the working one) and compare logs you'll see that the libs are instrumented.

[2020-07-17 10:22] MarcoRossignoli commented on #902
From coverage perspective it's ok 😄 I mean you didn't cover che exception case, btw try something like that and remote exception test I want to understand if it's related to lambda closure
[code]
Put statements in different lines

[2020-07-17 13:43] gparissis commented on #902
Yes @MarcoRossignoli you are correct. The lambda statements should be put in different lines and now correctly marks only the last lambda with the exception, as not visited. Thinking about it after we resolve the issue, it makes sense that coverlet didn't count the line initially as visited, when both lambda were in the same line. Because not all cases were tested.

Thank you for the tip.

[2020-07-17 13:50] MarcoRossignoli commented on #902
Feel free to close if solved!

[2020-07-17 14:03] #902 closed

[2020-07-19 13:35] sungam3r opened #903 "Switch expression 100% coverage"
Please see https://github.com/danielpalme/ReportGenerator/issues/362

[2020-07-19 13:37] sungam3r commented on #903
[code]

[2020-07-19 13:39] sungam3r commented on #903
![изображение](https://user-images.githubusercontent.com/21261007/87876108-76b94f00-c9de-11ea-906f-ce61c20c63ea.png)

[2020-07-19 20:35] diegofox2 commented on #890
Ok, as far I can see the problem is that I have two test projects generating cobertura files, and in the CoverletOutput directory the second file replaces the first one. That is why I never see the coverage of the first one.
I was reading that exists the parameter /`p:MergeWith` but is is not valid for cobertura files. Am I right?

[2020-07-19 21:32] tonerdo commented on #903
@sungam3r maybe you can post the actual code as a comment so that it's easier to copy/paste a repro

[2020-07-19 21:46] sungam3r commented on #903
Full repro (actual code) [here](https://github.com/danielpalme/ReportGenerator/issues/362#issuecomment-660644441). Small C# project with one class + 1 test + bat script to perform coverage.

[2020-07-19 21:47] tonerdo commented on #874
@MarcoRossignoli one question. What happens when we have to make a patch to a single driver, do we have to update the version numbers of the other drivers as well?

[2020-07-19 21:51] tonerdo commented on #890
@diegofox2 yeah. `/p:MergwWith` can only be used with Coverlet's own native format

[2020-07-19 22:02] tonerdo commented on #898
If it's just to add special handling of the `DoesNotReturnAttribute`, I think that's something we should do transparently and document. Adding support for the "throw helper"-pattern is as @MarcoRossignoli a C#-ism and is out of scope of this project

[2020-07-19 22:19] tonerdo commented on #836
I'd like to get started on benchmarking the instrumentation portion.. If no one else has already started on it.

[2020-07-19 22:32] tonerdo commented on #836
We should add the exploration of P/Invoking of platform specific memory mapping APIs to the list

[2020-07-20 00:05] kevin-montrose commented on #898
Agreed, anyone using the throw helper pattern should just use the attribute explicitly.

I took a whack at an implementation in #904, though there are a fair number of open questions.  I haven't yet run it on my original project due to lack of time (I'm hoping to do that in the near future), but there are some simple test methods.

[2020-07-20 01:01] diegofox2 commented on #890
Ok, thank you guys and sorry for consuming your time. One last question: is this possible to contribute to adding a feature that lets convert converlet native format into cobertura format? @tonerdo @MarcoRossignoli

[2020-07-20 02:39] diegofox2 commented on #890
I'm sorry, I downloaded your source code and after analyzing deeper the documentation, I realized that what I want to do is already available.
In this [document](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Examples/MSBuild/MergeWith/HowTo.md), you explain how to use parameter `p:MergeWith` .

This is the original example:

`dotnet test /p:CollectCoverage=true  /p:Coverl

[2020-07-20 02:39] #890 closed

[2020-07-20 07:07] MarcoRossignoli commented on #874
Yep, if we consolidate we'll lose the "per driver patch" and we should release all drivers every time we fix one.
This is the "only" drawaback.

[2020-07-20 07:14] MarcoRossignoli commented on #836
You for this reason https://github.com/coverlet-coverage/coverlet/issues/808

[2020-07-20 12:36] mattbzhang opened #906 "Is it possible to use coverlet to get coverage of API testing"
We have a restful API written in .NET core. We heavily depend on API testing to make sure the quality is good. We are thinking to get code coverage of those API test cases.

what we want to achieve is：
- instrument the source code of our restful API during build
- run all the API test cases
- get the code coverage

From the document, I see coverlet instruments assemblies before test run. So I thin

[2020-07-20 16:19] AdamDotNet commented on #760
@MarcoRossignoli - Nightly version
[code]
fixes the issue I was seeing with
[code]
Thank you for your effort! Looking forward to a Nuget.org release.

[2020-07-20 20:39] MarcoRossignoli commented on #760
Glad to hear that, thanks for the test!

[2020-07-21 10:11] a-jackson opened #907 "Incorrect branch coverage with await ValueTask"
Awaiting a ValueTask shows an uncovered branch. I made a test project to show the difference between a ValueTask and a Task.
![image](https://user-images.githubusercontent.com/2199309/88040280-936d9800-cb40-11ea-8fc9-9a0bf236bff8.png)
Task is not showing any branches while ValueTask is showing 2 branches and one of the uncovered.

The source of the test project is [here](https://github.com/a-jacks

[2020-07-21 11:02] rochanuno opened #908 "0% coverage reported after adding Optimizely SDK 3.5"
While  developing a web api that  uses the [Optimizely SDK](https://github.com/optimizely/csharp-sdk)   the code coverage metric stopped working, reporting  0%

I've got the same results using either `--collect:"XPlat Code Coverage"` or `/p:CollectCoverage=true`
I've tested the same project with [Rider](https://www.jetbrains.com/rider/)  and  the coverage results are correct.

1. Before using Opti

[2020-07-21 12:05] manishi2V opened #909 "Why there is a difference in line coverage of coverlet version 1.0.1 and >1.0.1"
I am getting two different coverage results for same assembly in version 1.0.1 and >1.0.1 of coverlet.

You can see differences in these files

<img width="328" alt="Coverage using version 1 0" src="https://user-images.githubusercontent.com/12082065/88052790-6ccb5380-cb78-11ea-8b41-47c3ca982cac.PNG">
<img width="344" alt="Coverage using version 1 2" src="https://user-images.githubusercontent.com/1

[2020-07-22 06:58] MarcoRossignoli commented on #906
It's not a supported scenatio at the moment you can follow discussion on feat here https://github.com/coverlet-coverage/coverlet/issues/781

[2020-07-22 07:01] mattbzhang commented on #906
Thank you very much for your reply. I will follow that ticket.

[2020-07-22 07:02] MarcoRossignoli commented on #907
Thanks for reporting this!

[2020-07-22 07:05] MarcoRossignoli commented on #908
Thanks for reporting this!

[2020-07-22 07:09] MarcoRossignoli commented on #909
You should move to last version `1.3.0` https://www.nuget.org/packages/coverlet.collector/
It's normal have some difference between versions, every release we fix also coverage bugs where for instance we skip to measure some corner case code. Coverlet work at IL level(not c#) so sometimes we have to handle complex case where compiler generate IL code non comparable with C# one that lead to coverag

[2020-07-22 07:11] #906 closed

[2020-07-22 10:57] #909 closed

[2020-07-22 22:16] michaelakin opened #911 "Can't figure out command line for coverlet global tool"
I  am using the following two commands to try and generate a file in the opencover format so I can use the ReportGenerator and generate a coverage report locally.

[code]

This does not seem to work and I cannot figure out the syntax.
Here are the problems I am encountering:

- It shows zero percent coverage.
- There is only one file in the Coverage folder.
- it does not seem to be excluding the S

[2020-07-23 06:19] MarcoRossignoli commented on #911
Checking your logs there are a problem with hits file...that `hits file...not found` tell us that no hits are collected during tests, issue can be two:
1) you're not running any tests
2) you're suffering by know issue https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test

Can you try to enable verbose logging https:

[2020-07-24 16:29] Cjewett commented on #880
@MarcoRossignoli So upgrading the test repo did work and I noticed a lot of the assemblies in the output folder for 461 were not in 4.7.2 or 4.8. When upgrading my companies source that was not the case though and it still looped into a stackoverflow exception. I'm trying to figure out reproduce steps but it's difficult because all of our unit test projects are 80+ project solutions.

This all see

[2020-07-24 18:04] MarcoRossignoli commented on #880
I don't know if it's possible, I think that coverlet was born primary for .NET core app, we never had issue like your in past so I wonder if there are other solution.

Btw cc: @tonerdo to know what he thinks about

[2020-07-24 19:08] michaelakin commented on #911
I tried to enable the detailed verobisity and I get:
```Unexpected value 'detailed' for option 'verbosity'```

On the collectors, nothing I have seen so far will let me specify where the files go and to merge multiple project files into one so I can see the coverage percent for the solution.

[2020-07-24 19:21] MarcoRossignoli commented on #911
For collectors the way to get logs is https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#collectors-integration

At the moment collectors doesn't provide a way to merge reports as is. There are two workaround, first use report tools like reportgenerator (it accepts a list of reports and merge together) the secondo is a script trick https://github.com/tonerdo

[2020-07-24 20:12] Cjewett commented on #880
@MarcoRossignoli  Thanks for continuing this conversation. I've updated https://github.com/Cjewett/CoverletIssue with net48 reproduce steps. SqlDbType seems to resolve correctly now but SqlBulkCopyOptions does not and results in an endless loop. I'm going to mess around with Mono.Cecil and try to figure out how the NET_CORE symbol is set.

[2020-07-24 22:48] Cjewett commented on #880
@MarcoRossignoli  I was able to duplicate Coverlet.Console as a .NET Framework tool with some minor adjustments and it ran without hitting an endless loop. The resulting coverage looked okay but I'll need to run it against larger projects.

Cecil.Mono seems to define NET_CORE based on this property: https://github.com/jbevain/cecil/blob/5e37f44535e0753ff3e4dbdef4ef148ca8bb09e0/Directory.Build.prop

[2020-07-27 07:18] balasun3 commented on #732
@MarcoRossignoli, I tried and  still getting the empty result files, Can you suggest to get respone on coverage%

[2020-07-27 07:19] MarcoRossignoli commented on #732
@balasun3 please can you open a new issue?

[2020-07-27 07:32] balasun3 opened #913 "Coverlet - Xunit code coverage returns"
I took the sample source, and included Coverlet but i get the coverage generating as empty files, ANy thoughts from your end.

[2020-07-29 06:03] agray commented on #718
Please reopen.  Getting the same error.
dotnet version: 3.1.302

Command:
`bat "${env.DOTNET_EXE} test MyTestProject.csproj --no-restore -c Release /p:CollectCoverage=true /p:CoverletOutput=${env.WORKSPACE}/${env.UT_RESULTS} /p:CoverletOutputFormat=opencover /p:Threshold=50 /p:ThresholdType=branch /p:ThresholdStat=Average /p:Exclude=[*Test*]*"`

[2020-07-29 07:10] MarcoRossignoli commented on #718
@agray you should try to use collector integration that is a known issue for msbuild integration https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test

[2020-07-29 12:04] itsurkan opened #914 "Incorrect branch coverage with await using"
If use 'using' statement only branch coverate is 100%
![image](https://user-images.githubusercontent.com/6732323/88797872-af121780-d1ac-11ea-9c1e-4aef9332187f.png)

If use 'await using' branch coverage is 50%
![image](https://user-images.githubusercontent.com/6732323/88797975-d10b9a00-d1ac-11ea-9467-d81724a099c4.png)
But they should be the same

[2020-07-29 16:16] pedramrezaei commented on #290
I still see the same issue in VS 2019 with collector v.1.3.0. Can someone help?

[2020-07-29 16:26] pedramrezaei opened #915 "[assembly: ExcludeFromCodeCoverage] doesn't seem to work on an xunit project in VS 2019"
[code]

Running the code analysis from inside VS still includes my test assembly that should have been excluded.

[2020-07-30 12:09] emmanuelbenitez opened #916 "Tests Failed with .Net Framework 4.8 and Code Coverage"
Based on the github repository [Be.Stateless.Extensions](https://github.com/emmanuelbenitez/Be.Stateless.Extensions),

## When the tests runs without code coverage ##
### Command ###
`dotnet test --no-build `
###Command###
[code]

## When the tests runs withcode coverage ##
### Command ###
`dotnet test --no-build /p:CollectCoverage=true `
###Command###
[code]

Additionnally, I checked the assembly

[2020-07-30 14:58] StefanOssendorf opened #917 "VSTest integration: Is ExcludeByAttribute supported?"
Hey guys,

is the option ExcludeByAttribute supported by the VSTest integreation?
The [documentation](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md) does not list it as supported but the example file below includes the option.

I am asking because I have weird results when using it. When I add `<ExcludeByAttribute>GeneratedCodeAttribute,CompilerGenera

[2020-08-01 08:38] ajukraine commented on #871
@MarcoRossignoli sorry for not being around. I just ran the `dotnet test --collect:"XPlat Code Coverage"` for sample project (which has no tests at all, right?). And it didn't produce any outpur (even no file). But it is expected, because project has no tests.

[2020-08-01 08:40] ajukraine commented on #871
Okay, my bad. I should have cloned whole solution.

[2020-08-01 09:43] ajukraine commented on #871
Okay, I tried to reproduce for the last 1 or 2 hours, but can't. The only thing which has changed since then is that I updated dotnet SDK. Sorry for wasting your time... That is some kind of a miracle :)

[2020-08-01 09:43] #871 closed

[2020-08-02 11:45] MarcoRossignoli commented on #871
No worries, glad to hear you solved...feel free to reopen if needed!

[2020-08-02 11:47] MarcoRossignoli commented on #290
@pedramrezaei can you open a new issue?Do you want to skip all assembly?

[2020-08-03 15:54] eddynaka opened #918 "Zero code coverage when running on GHActions"
Hi,

I have created a pipeline in GHActions that tests all projects. I have one specific project that targets only net452 and net46. Just this project doesn't seem to output the correct values when running on GHActions.

When I execute the command locally (windows), it does output normally.

Below the command:
`dotnet test --collect:"XPlat Code Coverage" --results-directory:"TestResults" --configu

[2020-08-03 15:56] eddynaka commented on #918
Just forgot to say: using the latest version of coverlet.collector:
[code]

[2020-08-03 16:42] eddynaka commented on #918
I saw that this isn't supported for .netframework. Do u have a plan to support it?

[2020-08-03 17:39] #328 closed

[2020-08-04 06:25] Cjewett commented on #880
@MarcoRossignoli  Thoughts on the previous reply? I'm likely to fork and package a .NET Framework version of the tool for my company to use but it would be nice if it was just baked in to the project directly.

[2020-08-04 07:02] MarcoRossignoli commented on #880
I don't think we'll ship a version specific for .NET Framework, we're using .NET standard refs to avoid this.
In past we had a similar issue, so I would debug your new sample with `SqlBulkCopyOptions` loops to understand where is the problem(seem something like past issue where a wrong netstandard lib is loaded and type is not found so retry forever).
Can you confirm that https://github.com/Cjewet

[2020-08-04 07:14] Cjewett commented on #880
@MarcoRossignoli  Yes, that project has the repro.

[2020-08-04 10:54] Happypig375 opened #920 "0% code coverage with netcoreapp3.1, coverlet.collector 1.3.1-preview.23.g2cfe8ea110, and ContinuousIntegrationBuild"
Source: https://github.com/verybadcat/CSharpMath/tree/3f81533565329363aef14c8e45a5e67c2a7d6b1d
Run `dotnet test CSharpMath.Evaluation.Tests --collect:"XPlat Code Coverage" -c Release -r .testcoverage` and observe that the result `.testcoverage/[GUID]/coverage.cobertura.xml` only consists of
[code]

Removing
https://github.com/verybadcat/CSharpMath/blob/3f81533565329363aef14c8e45a5e67c2a7d6b1d/Dire

[2020-08-04 10:58] Happypig375 commented on #920
https://github.com/coverlet-coverage/coverlet/issues/882 claims to fix this but I am using the latest nightly and this still fails to create a report.

[2020-08-04 11:02] Happypig375 commented on #920
or should I be using the MSBuild version?

[2020-08-04 11:07] Happypig375 commented on #920
Closing as dupe of https://github.com/coverlet-coverage/coverlet/issues/882#issuecomment-657183552

[2020-08-04 11:07] #920 closed

[2020-08-04 19:05] svengeance commented on #328
For reference I was able to use this today effectively, as the overall coverage % wasn't valuable to me while I was unable to skip such trivial code.

So thank you, this was wonderful timing.

[2020-08-05 14:23] MarcoRossignoli commented on #913
Can you elaborate?Which sample have you used?One of our?

https://github.com/coverlet-coverage/coverlet/tree/master/Documentation/Examples/VSTest/HelloWorld

[2020-08-05 14:23] MarcoRossignoli commented on #914
Which version are you using?

[2020-08-05 14:25] MarcoRossignoli commented on #915
What does in VS 2019 mean?Coverlet is not integrated in visual studio you can only run by console and use output artifacts(coverage formats) to generate a report using one of report generator in the market(reportGenerator etc...)

[2020-08-05 14:29] MarcoRossignoli commented on #916
It's a know issue can you try with provided solution? https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#5-tests-fail-if-assembly-is-strong-named

[2020-08-06 07:34] emmanuelbenitez commented on #916
Thanks for the response. The solution works partially because the tests runs but the code coverage is still 0%. Is it normal?

[code]

[2020-08-06 07:46] MarcoRossignoli commented on #916
Can you enable log and attach result https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration

Maybe you're hitting another known issue with msbuild integration. Pay attention to msbuild log could contain sensitive data, I need only `[coverlet]` prefix logs

[2020-08-06 08:38] emmanuelbenitez commented on #916
Please find in attacchment the log (in a zip): [msbuild.binlog.zip](https://github.com/coverlet-coverage/coverlet/files/5033616/msbuild.binlog.zip)

I executed the following command:
`dotnet test --no-build /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Include=[coverlet.*]* -verbosity:diagnostic -bl:msbuild.binlog -noconsolelogger -- RunConfiguration.DisableAppDomain=true`

And the

[2020-08-08 09:24] MarcoRossignoli commented on #916
`/p:Include=[coverlet.*]* ` seems wrong...you need to pass your lib I think something like `/p:Include=[Be.Stateless.Extensions*]*`
As you can see you're filtering it out
![image](https://user-images.githubusercontent.com/7894084/89706855-bf26b580-d969-11ea-9381-0f41eece784a.png)

[2020-08-08 09:58] uioporqwerty opened #921 "coverlet global tool error code 1 with passing threshold"
I've tried many different variations and I'm at wits end on this one. I have the following task in azure pipelines:

[code]

The log is as follows:

[code]

So it passes the line requirement method, but the cmd still returns exit code 1. Why is that? Is this a Coverlet issue? Is this a dotnet test issue?

[2020-08-08 10:22] #921 closed

[2020-08-10 08:25] emmanuelbenitez commented on #916
Thanks for the feedback after reading the documentation I understand the usage of this parameter.

I used the following commands:
[code]

In the
[msbuild.binlog](https://github.com/coverlet-coverage/coverlet/files/5049718/msbuild.binlog.zip), I found the following reason why the module is not included:
[code]

Please let know if you need more information.

[2020-08-10 08:30] MarcoRossignoli commented on #916
Can you ensure you're using portable pdb?You can verify on property of project https://github.com/coverlet-coverage/coverlet/issues/880#issuecomment-647336037

[2020-08-10 08:39] emmanuelbenitez commented on #916
Yes, it is set as documented in the comment

[2020-08-10 08:42] MarcoRossignoli commented on #916
The issue here is strange...coverlet canno instrument asm without local source file(because we need to have every source code line of asm) in this case we cannot find a strange file named `C:\Users\FGM519\AppData\Local\Temp\.NETFramework,Version=v4.8.AssemblyAttributes.cs` on local disk where you're building/testing...do you have any idea on that file?

[2020-08-10 17:01] safv12 commented on #732
I'm having the same problem running the tests in debug mode. Did you solve the problem @ColBiernot?

[2020-08-14 03:12] 944332213 opened #922 "The type of dependency injection does not recognize coverage"
I have reproduce successfully
For details, see: <https://github.com/944332213/Coverlet.Console.TestProject#the-current-conclusion>
source code: <https://raw.githubusercontent.com/944332213/Coverlet.Console.TestProject/master/README.md#the-current-conclusion>

----

I have removed a description of the original problem that is not clear enough (see history if you need to), and please see the descrip

[2020-08-14 08:48] nehaoberoi26 opened #923 "Risk Hotspot functionality similar to OpenCover"
Do we have a risk hotspot functionality similar o OpenCover code coverage tool, It generated report with Hotspot risk

https://www.palmmedia.de/Blog/2017/12/6/reportgenerator-new-release-with-risk-hotspots-analysis

When I create report from coverlet(format=opencover) and report generator it gives report, but dont have any risk hotspot.

Example
![image](https://user-images.githubusercontent.com/5

[2020-08-14 10:40] tonerdo commented on #923
@nehaoberoi26 can you please shed more light on what risk hotspot is and how it's calculated?

[2020-08-14 11:02] tonerdo commented on #918
@eddynaka support for the .NET Framework isn't prioritiezed at this time

[2020-08-14 11:06] nehaoberoi26 commented on #923
It is a functionality avaibale in Opencover tool, you can have a look at https://www.palmmedia.de/Blog/2017/12/6/reportgenerator-new-release-with-risk-hotspots-analysis#:~:text=Summary%20report%20enhancements,more%20metrics%20exceed%20certain%20thresholds.&text=You%20can%20adjust%20those%20metrics%20in%20ReportGenerator.exe.

Not sure how it is calculated but it give some risk analysis at the top

[2020-08-14 11:07] eddynaka commented on #918
i see...i changed temporary to "Code Coverage" flag.

Thank you.

[2020-08-14 11:07] #918 closed

[2020-08-14 11:16] nehaoberoi26 commented on #923
If I generate report from coverlet + report generator it doesn't give these risk hotspot details, but If I use opencover tool it generates risk hotspot with a report generator tool

[2020-08-14 16:06] mwasson74 opened #924 "[Question] - FileNotFoundException - Microsoft.Extensions.DependencyInjection, Version=2.2.0.0"
When running the command `"C:\Program Files\dotnet\dotnet.exe" test C:\Users\ND57\source\repos\SCPWebAPI\Scp.Web.Integration.Tests\bin\Release\netcoreapp3.1\win-x86\Scp.Web.Integration.Tests.dll --logger trx --results-directory C:\temp\ND57 --configuration Release --runtime win-x86 --no-build --settings CodeCoverage.runsettings "--collect:XPlat Code Coverage"` I am getting a FileNotFoundException

[2020-08-17 07:57] MarcoRossignoli commented on #917
Hi @StefanOssendorf sorry for late response I was on vacation.

Yes `ExcludeByAttribute` is supported and we have to update guide. Param ref https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.collector/DataCollection/CoverletSettings.cs#L44

This happens because you cannot use `CompilerGeneratedAttribute` because every `async/await` code you use in your code will be trimmed out

[2020-08-17 08:03] MarcoRossignoli commented on #924
Can you try with this? https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#4-failed-to-resolve-assembly-during-instrumentation

[2020-08-17 09:03] 944332213 commented on #922
I have reproduced the problem and changed the instructions

[2020-08-17 13:35] petli commented on #923
Try outputing OpenCover format files from coverlet instead of the default format (cobertura?). I use OpenCover formats in the project I'm using coverlet for, and get the risk hotspots in the reportgenerator output.

[2020-08-17 13:55] mwasson74 commented on #924
@MarcoRossignoli, thank you for your response! I added the attribute to my project file and it didn't work. I have attached my project file for your review. [Scp.Web.Integration.Tests.csproj.txt](https://github.com/coverlet-coverage/coverlet/files/5084657/Scp.Web.Integration.Tests.csproj.txt)

[2020-08-17 15:58] adimosh opened #925 "Coverlet.collector won't allow build to finish"
coverlet.collector 1.3.0 NuGet package added to a unit tests project based on xunit.

The package is added via DirectoryBuild.targets.

If I builds via:
[code]
...then the build appears to hang for a long time on the unit tests project. Task Csc just hangs and uses uses a lot of CPU. I am not certain whether or not it ever finishes, but after two hours I cancelled the task and killed the processes

[2020-08-18 06:05] NehaOberoi92 commented on #923
@petli : Thanks, may be in my code there are no risk hotspot so it was not showing, I tried another code with opencover format and it works. Thanks

[2020-08-18 07:04] adimosh commented on #925
Closing this, as it appears that coverlet.collector is not the main cause, but just a contributor to the problem.

[2020-08-18 07:04] #925 closed

[2020-08-18 08:52] #923 closed

[2020-08-18 09:52] 944332213 commented on #922
I found the reason.

The problem `HostingAbstractionsHostBuilderExtensions.Start(this IHostBuilder hostBuilder);`, just change it to `IHostBuilder.Build();`.Using `Program.CreateHostBuilder(new string[0]).ConfigureWebHost(webBuilder => { }).Build();` replace `Program.CreateHostBuilder(new string[0]).ConfigureWebHost(webBuilder => { }).Start();`.I can't explain the deeper reason, if anyone knows, p

[2020-08-18 09:53] 944332213 commented on #922
If no one answers my question, I will close it after a while.Thank you for your time.

[2020-08-19 11:44] joacar opened #926 "[Questions] Runsettings file not honored"
# Issue(s)

1. runsettings exclusions are ignored. `ExcludeFromCodeCoverage` attribute works fine but I really like to exclude by file, namespace, module, attribute from one place. Adding attribute is cumbersome when there is auto-generated file.
2. Multiple output files are created
    * `artifacts/test/<guid>/coverage.opencover.xml` - This read from `CodeCoverage.runsettings::Format`
    * `arti

[2020-08-20 03:17] chris1248 opened #927 "coverlet fails with NUnit"
Brand new to coverlet here: I have a simple .net core console app:

[code]

Try to run my NUnit tests with coverlet:
[code]
and I get coverage.cobertura.xml file, but it is empty:
[code]
If I try passing in the msbuild property to dotnet:
[code]
Then no coverage file is created anywhere, and the output shows nothing either:

Seems like coverlet doesn't work with nunit

[2020-08-20 06:55] MarcoRossignoli commented on #926
`runsettings` works only for collectors(vstest plat) integration not with msbuild integration `-p:CollectCoverage=true`

Follow our `hello world` sample inside repo https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Examples/VSTest/HelloWorld/HowTo.md

As you can see from home readme coverlet comes in three flavours

VSTest engine integration `--collect:"Xplat Code Coverage`
M

[2020-08-20 06:59] MarcoRossignoli commented on #927
Are you doing coverage of "test" project?Or you have two project test/src?
If you're using only test project(to do a PoC) you have to include test project in coverage with option `IncludeTestAssembly` depends on coverage you're using, msbuild/vstest integration

https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md search for `IncludeTestAssembly`
https://git

[2020-08-20 07:02] MarcoRossignoli commented on #924
Can you try to add `<PackageReference Include="Microsoft.Extensions.DependencyInjection" Version="2.2.0" />` to your test project?

[2020-08-20 07:06] MarcoRossignoli commented on #924
Can you run `dotnet --info` on machine that raise error?

[2020-08-20 12:43] mwasson74 commented on #924
This happens on both my development machine and our build server so I will include both.

[dotnet_info_BuildServer.txt](https://github.com/coverlet-coverage/coverlet/files/5103056/dotnet_info_BuildServer.txt)
[dotnet_info_DevMachine.txt](https://github.com/coverlet-coverage/coverlet/files/5103057/dotnet_info_DevMachine.txt)

[2020-08-20 15:12] chris1248 commented on #927
I have my unit tests and project bound together in the one project. I didn't make a separate "Test" project.

[2020-08-20 15:14] MarcoRossignoli commented on #927
Ok you need to pass above parameters, we don't instrument test project by design.

[2020-08-20 15:40] chris1248 commented on #927
Not sure what you mean by test project, but that's ok. I got it to work by doing the following:
1. I created a xml file to hold various settings called **coverage-settings.xml**
[code]
Then I ran it like this:
[code]
Which ran the tests and output five different types of results. The key was to include the XML element: **<IncludeTestAssembly>true</IncludeTestAssembly>** which has to be set to true

[2020-08-20 15:40] #927 closed

[2020-08-20 17:45] MarcoRossignoli commented on #927
I meant that usually users has got projects with tests inside that reference types to test, so `dotnet test` entry point will be test project. By design coverlet doesn't instrument `entry point` to avoid to mix test coverage result with real type to test(code for production)

[2020-08-23 04:30] micheleissa opened #929 "No match found error when excluding multiple namespaces"
Hi,
As suggested by @MarcoRossignoli  I'm opening this issue after the short conversation on #56
When trying to use Exclude filter in MSBuild task integration to exclude more than one namespace I get some errors:
[code]

[2020-08-24 16:48] mwasson74 commented on #924
@MarcoRossignoli, a colleague of mine took a look at my issue and we are blaming it on a build configuration issue for now. If I run into this again, I will get you a repro solution.

Thanks again for your continued help!

[2020-08-24 19:45] MarcoRossignoli commented on #924
Ok, feel free to close this if solved and reopen if needed!

[2020-08-24 19:47] ming-tsai opened #930 "[Bug] Coverlet is not counting the model properties"
Hi there,
I'm using `coverlet.msbuild` to generate the coverlet and publish to SonarScanner, recently I upgrade **v2.7.0** to **v2.9.0**, but on v2.9.0 is not counting the model properties.

#### Evidence
**v2.9.0**
![image](https://user-images.githubusercontent.com/37890026/91088469-10000480-e620-11ea-94c4-3009cb1cc146.png)
**v2.7.0**
![image](https://user-images.githubusercontent.com/37890026/91

[2020-08-24 19:49] mwasson74 commented on #924
I didn't solve it necessarily but we are blaming this one on us not doing something correctly for now and will re-open if needed. Thanks!

[2020-08-24 19:49] #924 closed

[2020-08-24 19:52] MarcoRossignoli commented on #924
Ok thanks, only to keep our issue list short as possible, less noise, thanks a lot for using coverlet and again feel free to reopen if needed, better with a repro, sometimes is very hard do troubleshooting without repro.

[2020-08-25 08:18] goyzhang opened #931 "Method coverage based on access level?"
Is it possible to limit the method coverage to public methods only? In case I just want to make sure public interfaces are always covered so I can set the threshold to 100%

[2020-08-25 08:54] pkErbynn opened #933 "Fix typo under the section, "Excluding From Coverage""
Consider comma(**,**) separation after

in

You can ignore a method an entire class or assembly from code coverage by creating and applying the ExcludeFromCodeCoverage attribute present in the System.Diagnostics.CodeAnalysis namespace.

[2020-08-25 11:28] mabead opened #934 "/p:CoverletOutput does not use specified value"
I run tests on an assembly using this command:

I then see this in the output:

[code]

As you can see, it writes result in the file `coverage.netcoreapp3.1.xml` instead of the file that I requested (`coverage.xml`)

I am using `coverlet.msbuild` version 2.9.0

[2020-08-25 11:39] mabead commented on #934
I have replaced `<TargetFrameworks>netcoreapp3.1</TargetFrameworks>` by `<TargetFramework>netcoreapp3.1</TargetFramework>` in my csproj and it now fails differently:

[code]

This looks like a breaking change in 2.9.0. Could you please let me know how to disable this threshold check?

[2020-08-25 13:31] petli commented on #930
This has been fixed in master (#328 #912) and will be included in the next release.

[2020-08-25 14:55] ming-tsai commented on #930
Hi @petli, thanks

[2020-08-25 15:19] petli commented on #930
Do you have any date planned already, @MarcoRossignoli ?

[2020-08-25 15:34] MarcoRossignoli commented on #930
No atm...we need to talk about versions alignment cc: @tonerdo https://github.com/coverlet-coverage/coverlet/issues/874 and maybe if we've room we could fix this https://github.com/coverlet-coverage/coverlet/issues/900
We should also merge this new feat https://github.com/coverlet-coverage/coverlet/pull/904

[2020-08-25 15:40] MarcoRossignoli commented on #933
Thanks, feel free to propose a PR with doc fix!(not obligated at all).

[2020-08-25 15:41] MarcoRossignoli commented on #931
No coverlet doesn't support this feature, also I don't know if there are coverage tool that works in that way, do you have some names?Just for curiosity.

[2020-08-25 15:45] MarcoRossignoli commented on #930
BTW no sure that the issue here is related to that new feature...the new feat will exclude autoprops.

@ming-tsai can you attach your command line?

[2020-08-25 15:51] MarcoRossignoli commented on #929
Seems related to escaping of double quotes...I don't know z shell but that error `zsh: no matches found:` looks like a shell error not a coverlet error.
Can you take a deep look on quotes escaping on that particular shell?We had similar issue with power shell https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/MSBuildIntegration.md#note-for-powershell--vsts-users
If you find a

[2020-08-25 15:57] MarcoRossignoli commented on #934
Can you try to clean the workspace and nuget packages?
`Threshold` is provided by default in props import https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.msbuild.tasks/coverlet.msbuild.props#L15
And used by task https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.msbuild.tasks/coverlet.msbuild.targets#L64

So I do not expect that strange error(no other use

[2020-08-25 17:27] ming-tsai commented on #930
Hi @MarcoRossignoli,
This the command that I use to generate the coverage.
[code]

[2020-08-25 17:32] MarcoRossignoli commented on #930
Can you try with `2.8.1`?

[2020-08-25 18:12] ming-tsai commented on #930
Same than `2.9.0` and I get these warnings
[code]

[2020-08-25 18:53] micheleissa commented on #929
The same issue happens on AZDO pipeline so it has nothing to do with ```zsh```
how do you suggest running msbuild based on the readme md you linked?

[2020-08-26 02:43] goyzhang commented on #931
Nope, I don't really know any, I used some GUI based code coverage tool and recently try to migrate to coverlet😋.

In my case I build a bunch of psedo tests that only make fake calls to the library public interfaces to ensure that the interface is backward compatible. So I want it to be 100% for public methods only and CI can reject if the interface is broken. The real test cases for functionaliti

[2020-08-26 02:43] #931 closed

[2020-08-26 07:44] MarcoRossignoli commented on #929
Try to do a test with local sample

Clone this repo and go to https://github.com/coverlet-coverage/coverlet/tree/master/Documentation/Examples/MSBuild/MergeWith
Run this command to exclude all `ClassLibrary2` namespace from tests
[code]
We'll get 0% of coverage(that lib has got only one class for sample), in this case I ran on win terminal so without any escape.

[2020-08-26 08:08] MarcoRossignoli commented on #930
Warnings are ok, but for your problem we need a repro because is not expected, we got similar issue on `2.9.0` because we fixed a bug on `ExcludeByAttribute` feature https://github.com/coverlet-coverage/coverlet/issues/794#issuecomment-612067552 but your command line seems ok.

[2020-08-26 09:18] 944332213 commented on #922
In fact.If you are going to use Testserver.createclient (), you can never avoid ihost.start ().My current approach is to keep this part of the code as a separate project to avoid affecting coverage scans of other code.

[2020-08-26 11:02] mabead commented on #934
After a `git clean -dfx` and `dotnet nuget locals all --clear`, everything works as expected. 🤷

Thanks for your help @MarcoRossignoli

[2020-08-26 11:02] #934 closed

[2020-08-26 11:21] MarcoRossignoli commented on #934
Glad to hear!

[2020-08-26 11:24] goyzhang commented on #931
It's possible, however, indirectly if only the JSON test reports can provide access level.

[2020-08-26 11:47] MarcoRossignoli commented on #931
Json report is an internal format, we should also provide a way to calculate coverage/convert to standard format, at the moment you can cleanup file using reflection on assembly (check accessibility) and removing non public members

[2020-08-26 12:39] ming-tsai commented on #930
Hi @MarcoRossignoli,
I will try to create a example repo and publish to here.

[2020-08-26 13:24] micheleissa commented on #929
Ok, I will try to run the sample and report back here.
Here are the AZDO tasks I'm using per Microsoft documentation [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/dotnet-core?view=azure-devops) Collect code coverage metrics with Coverlet section
So I removed ```configuration``` flag and got somewhere, in the log attached line 1386 you see the following error
[code]
I fo

[2020-08-26 13:37] petli commented on #929
zsh escaping is similar to sh or bash, you can find a maybe too detailed documentation here e.g.:
http://zsh.sourceforge.net/Guide/zshguide05.html

Double quotes usually disables globbing, but in your example there is `\"` which means that the quoting is escaped.  It will then treat `*` as a globbing pattern, which fails since it of course doesn't match any files. You can try just removing the bac

[2020-08-26 13:38] micheleissa commented on #929
That is what I get when I run the sample
![Result](https://user-images.githubusercontent.com/16201881/91310323-587e0600-e777-11ea-8c71-e6c8b822ac9b.jpg)

[2020-08-26 14:59] MarcoRossignoli commented on #929
ok that error is not related to coverlet it's related to sourcelinks, copy/paste only `MergeWith` folder in another folder and re-run.

[2020-08-26 15:43] micheleissa commented on #929
@MarcoRossignoli  here you go, wonder why for me it says 100%
![image](https://user-images.githubusercontent.com/16201881/91325503-e6162180-e788-11ea-863f-7b9dc41e4f1d.png)

[2020-08-26 15:50] MarcoRossignoli commented on #929
Enable log and check if filter is passed correctly https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration

[2020-08-26 16:50] micheleissa commented on #929
Attached, it seems to be that it was passed correctly
<img width="1187" alt="Screen Shot 2020-08-26 at 11 48 46 AM" src="https://user-images.githubusercontent.com/16201881/91332832-5f664200-e792-11ea-9bfe-ddc604dcd5d6.png">

[2020-08-26 16:52] MarcoRossignoli commented on #929
Can you attach that `Hits file...` comment pls?

[2020-08-26 16:58] micheleissa commented on #929
I'm sorry I'm not following what is ```Hits file...```

[2020-08-26 17:00] MarcoRossignoli commented on #929
Sorry to you 😓 in left logging box last line of logs [coverlet] is something start with `Hit file:/var...` can you copy/paste all sentence?

[2020-08-26 17:02] micheleissa commented on #929
[code]
I'm trying to find where is that file located on mac
Does it get deleted after the tests are done?

[2020-08-26 17:03] micheleissa commented on #929
@MarcoRossignoli Also I wanna say thank you for the tremendous efforts you guys put in this tool :)

[2020-08-26 17:21] MarcoRossignoli commented on #929
Ok it's ok we skipped libs so no coverage file created...btw seems ok..I need to understand if that 100% is related to some round issue, can you attach `coverage.json` here?Should be "empty"

[2020-08-26 18:07] micheleissa commented on #929
Had to change the extension so GitHub allows me to upload and yes it is empty.
[coverage.txt](https://github.com/coverlet-coverage/coverlet/files/5131511/coverage.txt)

[2020-08-26 18:21] MarcoRossignoli commented on #929
Ok it's working as expected, I'll take a look to console output to understand the difference.
Feel free to close if issue is solved!

[2020-08-26 18:28] micheleissa commented on #929
But the issue is not resolved, I'm still not able to use comma separated exclusion list of namespaces. I attached above AZDO log.

[2020-08-26 18:42] MarcoRossignoli commented on #929
Oh sorry again take a look at escape syntax like our build https://github.com/coverlet-coverage/coverlet/blob/master/eng/build.yml

[2020-08-26 18:56] Tum4ik opened #936 "Switch expression 0% coverage"
I use **coverlet.msbuild** v2.9.0.
I use "dotnet test" task in Azure DevOps:
![image](https://user-images.githubusercontent.com/21317790/91344140-353e6f80-e7e6-11ea-94b5-6e1cc2f58f8b.png)

Somehow the execution of the switch expression is skipped, but that is impossible. The switch expression is executed for sure in my code flow.

![image](https://user-images.githubusercontent.com/21317790/9134437

[2020-08-26 20:37] MHacker9404 opened #937 "Error MSB4181 VSTestTask returned false but did not log error"
When a test throws an uncaught exception - coverlet fails to provide the coverage report.  I've created a repo that reproduces this error message:
Microsoft.TestPlatform.targets(32,5): error MSB4181: The "Microsoft.TestPlatform.Build.Tasks.VSTestTask" task returned false but did not log an error.

[https://github.com/MHacker9404/coverlet-demo](repo)

[2020-08-27 05:01] micheleissa commented on #929
Thanks, it finally worked with ```%2c``` suggestion and yes the test task works

[2020-08-27 05:07] #929 closed

[2020-08-27 06:21] MarcoRossignoli commented on #929
Glad to hear!

[2020-08-27 06:33] BloodSeaker opened #938 "Code coverage exclude: local OK, Azure DevOps => not OK"
Hi,

I am writing a .NET Core 3.1 web api and have a unit test project to run my unit test.
Everything is being done in Visual Studio Professional 2019 (latest update).

In my unit test project (xUnit) I have following references to have coverlet working
[code]

When I run locally, my excludes do work (I want to exclude everything with Models in the namespace)
`dotnet test /p:CollectCoverage=true

[2020-08-27 06:56] MarcoRossignoli commented on #936
Thanks for reporting this, seems related to new c# pattern matching.

[2020-08-27 07:18] MarcoRossignoli commented on #937
I think it's a dup of https://github.com/microsoft/vstest/issues/2384 unrelated to coverlet(it rely on  vstest platform collectors integrations).
Pls add a message on that issue.

[2020-08-27 07:23] MarcoRossignoli commented on #938
Can you try to remove ` from argument in yaml?Similar to our test task

https://github.com/coverlet-coverage/coverlet/blob/master/eng/build.yml#L21

[2020-08-27 07:31] BloodSeaker commented on #938
Hi thanks for your quick reply
I just did another test and now I noticed something weird

Locally, I am using reportgenerator version 4 something.
Azure Devops is loading in a version 1.x :/ Stupid Azure DevOps.
I am manually adding ReportGenerator task now, that should do the trick

[2020-08-27 07:31] #938 closed

[2020-08-27 07:33] MarcoRossignoli commented on #938
Ok feel free to reopen if needed!

[2020-08-27 10:08] MHacker9404 commented on #937
Got it - tanks

Phil Boyd

From: Marco Rossignoli <notifications@github.com>
Sent: Thursday, August 27, 2020 03:19
To: coverlet-coverage/coverlet <coverlet@noreply.github.com>
Cc: Phil Boyd <phil.boyd@live.com>; Author <author@noreply.github.com>
Subject: Re: [coverlet-coverage/coverlet] Error MSB4181 VSTestTask returned false but did not log error (#937)

I think it's a dup of microsoft/vstest#23

[2020-08-27 14:16] pedramrezaei commented on #915
Ah... totally posted this to the wrong forum.

[2020-08-27 14:16] #915 closed

[2020-08-27 15:15] MarcoRossignoli commented on #937
I'm going to close for the moment, we have the other issue already open on vstest

[2020-08-27 15:15] #937 closed

[2020-08-27 22:09] ming-tsai commented on #930
Hi @MarcoRossignoli,
Let me attach the example repo.
**v2.7.0**
![image](https://user-images.githubusercontent.com/37890026/91499832-33c98180-e890-11ea-957f-63cdf469a46c.png)
**v2.9.0**
![image](https://user-images.githubusercontent.com/37890026/91499855-3fb54380-e890-11ea-8221-418a9b8f22cb.png)

**Project**
[Example.zip](https://github.com/coverlet-coverage/coverlet/files/5138983/Example.zip)

[2020-08-28 19:12] Malivil commented on #936
It's definitely related to the new switch pattern. I have that in a few places in my code too running the same coverlet.msbuild version

[2020-08-30 00:52] gitfool commented on #900
@MarcoRossignoli I'd also love to see this fixed and published in a stable version.

[2020-08-30 15:15] gimlichael opened #940 "Coverlet does not generate code coverage when having a dependency to Microsoft.SourceLink.GitHub"
### Main Error
After running tests coverlet generates empty cobertura xml file on my build agent

### Agent
Azure Devops - Hosted Agent

### Issue Description

After a long time of diagnostics in regards to this problem, it turns out, that code coverage does not work when having a dependency to Microsoft.SourceLink.GitHub currently in 1.0.0.

**Yaml build step (that works when leaving out SourceLi

[2020-08-30 19:14] gimlichael commented on #940
It looked like i solved the problem by doing some thorough searching on your Github; turns out this (combined with a lot of effort) actually solves the problem: https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/DeterministicBuild.md

Any timeline for a fix that does not require workarounds?

Keep up the good work; i really enjoy having coverlet as part of my quality workflow.

[2020-08-31 06:57] MarcoRossignoli commented on #940
Follow this issue it's on plan as next todo...bit busy time at the moment https://github.com/coverlet-coverage/coverlet/issues/900#issuecomment-683361312

Feel free to close this and follow there, thx!

[2020-08-31 12:55] ming-tsai commented on #930
Hi @MarcoRossignoli,
Any updates?

[2020-08-31 13:20] MarcoRossignoli commented on #930
Sorry @ming-tsai I'm bit busy these days...I'll think to work on it in the weekend 🙇

[2020-08-31 13:51] #940 closed

[2020-09-02 00:35] hiranya911 opened #941 "The type initializer for 'Coverlet.Core.Instrumentation.NetstandardAwareAssemblyResolver' threw an exception"
Recently migrated to a new machine where I cannot seem to get code coverage tools working.

OS: Mac OS
Platform: .NET Core
[code]

Test output:
[code]

[2020-09-02 00:49] hiranya911 commented on #941
Downgrading to .NET Core 2.x seemed to have fixed the issue. Is this a known issue with .NET Core 3.x?

[2020-09-02 07:00] MarcoRossignoli commented on #941
I see `coverlet.msbuild/2.6.3` version, can you try with last one `2.9.0` https://www.nuget.org/packages/coverlet.msbuild/?

[2020-09-02 07:01] MarcoRossignoli commented on #903
Dup of https://github.com/coverlet-coverage/coverlet/issues/936 I think it's an issue related to new pattern matching

[2020-09-02 09:49] dozer75 opened #942 "Code coverage returns NAN%"
I have seen some reports of this here, but they doesn't have any solutions due to inactivity, so I'll try again.

I have a test project using coverlet, but whenever I try to run either ```dotnet test /p:CollectCoverage=true``` or the ```coverlet``` command I get the following result and an empty coverlet file.

[code]

I have referenced both coverlet.collector and coverlet.msbuild packages in my p

[2020-09-02 19:21] arunswarnam commented on #187
@felixfbecker I am a newbie trying to get code coverage report for my Cmdlet code written in C# and I am using Pester for unit tests. I tried looking at minicover based on your suggestion but couldn't get it working. Is there a reference that gives a gist of steps to incorporate minicover.

Sorry if this question is not relevant to this repo. Posting it here for the context.

[2020-09-02 19:32] felixfbecker commented on #187
@arunswarnam here's where I used it: https://github.com/felixfbecker/PSKubectl/blob/master/ci/Invoke-Tests.ps1
The coverage report gets uploaded to Codecov.

[2020-09-02 19:53] hiranya911 commented on #941
Hi @MarcoRossignoli. How do I get `dotnet` CLI to pick up a specific version of `coverlet.msbuild`? Is there any configuration that I can set?

[2020-09-02 20:01] hiranya911 commented on #941
Turns out same version of `coverlet.msbuild` works fine when used in .NET Core 2.1:

[code]

[2020-09-02 20:36] dozer75 commented on #942
I actually got this on a another project this evening, and I did some brute-force comment/uncomment troubleshooting and I found the issue.

The solutions I have problem with has a ```Directory.Build.props``` file to keep common configuration for all projects within the solution. And in this file I have ```<ContinuousIntegrationBuild>true</ContinuousIntegrationBuild>``` since I am building NuGet pa

[2020-09-03 06:48] MarcoRossignoli commented on #941
Should be with simple `dotnet add package` https://docs.microsoft.com/en-us/nuget/consume-packages/install-use-packages-dotnet-cli#update-a-package

[code]

Mmm strange, no other users reported issue with 3.1, also you run
[code]
But I expect something like
[code]
Are you using "standard installation runtime" or some other way?For instance some portable runtime in some portable folder?

[2020-09-03 06:52] MarcoRossignoli commented on #942
Source link is supported and also deterministic build(at the moment with some workaround) https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/DeterministicBuild.md

Can you enable also logging to understand if you're suffering of know issue(https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test) o

[2020-09-03 06:56] gitfool opened #943 "Prerelease versions in nightly feed should use semver 2.0"
The current version scheme is causing an [issue](https://github.com/dependabot/dependabot-core/issues/1972#issuecomment-686288214) with Dependabot:
[code]
Prerelease versions in nightly feed should use [semver 2.0](https://semver.org/spec/v2.0.0.html) ([NuGet support](https://devblogs.microsoft.com/nuget/supporting-semver-2-0-0/#build-metadata)). See coverlet [package history](https://www.myget.or

[2020-09-03 07:19] MarcoRossignoli commented on #943
Thanks for reporting this, we're using nerdbank for versioning the nightly, I need to check deeper.

https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.collector/version.json

[2020-09-03 09:06] gitfool commented on #943
@MarcoRossignoli This difference in behavior can be seen in the build logs for the same commit [6479f62](https://github.com/coverlet-coverage/coverlet/tree/6479f627e4dc89d8ef13f3143ab85e4240719e4b) ([standard](https://dev.azure.com/tonerdo/coverlet/_build/results?buildId=1160&view=logs&j=37bec900-c686-5858-5c69-ce96aeb4a5fe&t=5fe90df0-0d12-5e09-64c9-79d0f26d08c4&l=22)) ([nightly](https://dev.azure

[2020-09-03 09:14] gitfool commented on #943
Yes, the git sha would be removed from the visible NuGet package version for a "public release".

[2020-09-03 15:41] dozer75 commented on #942
The DeterministicBuild suggestion for custom Target, so that solved my issue, thanks. Maybe add some comment somewhere that the NAN% issue may be related to that?

Do you still want logs for this issue, or shall we close this issue?

[2020-09-03 15:45] MarcoRossignoli commented on #942
Close the issue pls

Unfortunately is not the reason, there are also other known issues https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md

[2020-09-03 15:46] dozer75 commented on #942
Ok, closing.

[2020-09-03 19:50] kblok opened #944 "Coverage being generated only with a filter argument"
I'm trying to setup coverage on [playwright-sharp](https://github.com/hardkoded/playwright-sharp).
I added this to the csproj:

[code]

It seems to be working with these command arguments:
[code]

But it doesn't work without the filter argument:
[code]

Note: The full test suite is over 1,000 tests that could take over 5 minutes.

Ideas?

[2020-09-04 10:13] MarcoRossignoli commented on #944
What does mean "doesn't work"?Are the process pending?It's slow?Can you try to run in local?Instrumentation is invasive and sometimes slow down a lot tests, we have some issue related to this for instance https://github.com/coverlet-coverage/coverlet/issues/777

[2020-09-04 12:41] kblok commented on #944
With the filter argument, I'm getting the `Calculating coverage result...`, `Generating report` and the tiny report and the end, and the file is being generated.
Without that argument, I'm getting none of that.

These are the outputs with `/clp:PerformanceSummary`
[out-with-filter.txt](https://github.com/coverlet-coverage/coverlet/files/5174824/out-with-filter.txt)
[out-with-no-filter.txt](https:/

[2020-09-04 12:49] MarcoRossignoli commented on #944
Can you enable logging and attach result(be sure to not expose sensible data)? https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration

[2020-09-04 15:24] kblok commented on #944
I can't do that on macOS, right?

[2020-09-05 07:59] MarcoRossignoli commented on #944
`dotnet test` command should work also on macOS, I don't know if msbuildlog is cross plat.

[2020-09-05 08:00] MarcoRossignoli commented on #944
Oh seems to work on it https://github.com/KirillOsenkov/MSBuildStructuredLog#running-the-avalonia-version-on-mac

[2020-09-05 09:38] MarcoRossignoli opened #946 "Add some integration tests for new [DoesNotReturn] feat"
@kevin-montrose did a great job on it https://github.com/coverlet-coverage/coverlet/pull/904 and added also some tests

https://github.com/coverlet-coverage/coverlet/blob/master/test/coverlet.core.tests/Instrumentation/InstrumenterTests.cs#L647
https://github.com/coverlet-coverage/coverlet/blob/master/test/coverlet.core.tests/Samples/Instrumentation.DoesNotReturn.cs

We should add also some integr

[2020-09-05 17:02] MarcoRossignoli commented on #898
Closed in https://github.com/coverlet-coverage/coverlet/pull/904

[2020-09-05 17:02] #898 closed

[2020-09-07 16:16] sergiusignacius opened #947 "Compute full coverage from partial results"
Hey everyone,

In my current setup, we run `dotnet test` for individual DLLs (we parallelize test execution that way). Is there a way to pick up partial coverage results from running tests for a single DLL and compute full coverage from each of the smaller ones?

Thank you,
Sérgio

[2020-09-08 05:33] Happypig375 commented on #947
You can use https://github.com/danielpalme/ReportGenerator which can combine several test result files into one.

[2020-09-08 13:17] MarcoRossignoli commented on #947
Hi @sergiusignacius if you're using msbuild integration you can use `MergeWith` https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Examples/MSBuild/MergeWith/HowTo.md
Other drivers .NET tool and collectors doesn't have this feat yet.
As @Happypig375 said you can also use other tools like ReportGenerator.

[2020-09-08 15:49] sergiusignacius commented on #947
Thanks @Happypig375 and @MarcoRossignoli these are great! We are indeed using msbuild and I had one last question: in trying to run `dotnet test` for a single DLL, the parameters we should use end up not being recognized:

[code]

I do not get the same behavior when running `dotnet test` on a project or on a solution. Is this expected?

Thanks yet again!

[2020-09-08 15:55] Happypig375 commented on #947
`dotnet test` doesn't support msbuild arguments. You must either use coverlet.collector or do a `dotnet build` before `dotnet test --no-build`.

[2020-09-08 16:26] MarcoRossignoli commented on #947
Can you elaborate better?Can you attach all command line?

[2020-09-08 16:30] sergiusignacius commented on #947
Yup:
```dotnet test .\bin\x64\...\test.dll /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:Exclude="[xunit*]\*"```

[2020-09-08 16:39] MarcoRossignoli commented on #947
Oh now it's clear...yes as @Happypig375 said you cannot do that using artifact because msbuild integration inject coverage during build.

So follow Hadrian's advice or use collectors https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md

[2020-09-08 19:24] hiranya911 commented on #941
With v2.9.0 of the coverlet.msbuild package I seem to get a successful build (on .NET 3.1).

[code]

So this may be an issue with v2.6.0 on new version of .NET Core.

I'm running a pretty standard installation.

[code]

[2020-09-09 08:13] MarcoRossignoli commented on #941
Ok use last version 2.6.3 is pretty old 7/1/2019

Feel free to close if solved.

[2020-09-09 09:07] petli commented on #874
In case you're waiting on my opinion here, I think this all looks good.

[2020-09-09 18:49] cruikshj commented on #857
I do not think this has been released yet.  Is there a release with this fix coming soon?

[2020-09-09 18:56] wdolek commented on #942
@MarcoRossignoli Just spent whole day trying to figure out why Coverlet works locally and not when running on GitLab Actions. I guess this is great candidate for another "Known issue" - it didn't really strike me I should look into "Deterministic build", I was iterating over other pages, tried adding/removing arguments, even lost my confidence in putting together shell commands.

Anyway, @dozer75

[2020-09-09 19:23] MarcoRossignoli commented on #942
I'll add to known issue!

[2020-09-09 19:58] MarcoRossignoli commented on #857
We should be near new release, we're discussing new versioning schema and after we'll release.

cc: @tonerdo

[2020-09-10 07:18] wdolek commented on #942
@MarcoRossignoli added to docs (#948), I believe this could be enough for others to navigate to proper place in documentation.

[2020-09-10 20:23] wdolek commented on #936
@MarcoRossignoli Since my code suffers from this _issue_ I decided to look at it. I started with additional method in `Samples.cs` and test for it, but I'm bit puzzled by what IL I see. For reason I don't understand, I'm getting two additional branches before and after switch itself - ending up with total 8 branch points.

I'm not getting that on [Sharplab](https://sharplab.io/#v2:C4LglgNgNAJiDUAf

[2020-09-10 20:37] arunswarnam commented on #187
Thank you @felixfbecker. It helped!

[2020-09-11 07:02] MarcoRossignoli commented on #936
Can you try in release to see if it disappears?that branch could be needed for debuggers, for instance to put on it a breakpoint

[2020-09-11 20:00] wdolek commented on #936
@MarcoRossignoli You are right, I'm not getting those conditions in Release build. Also I think I might have some compiler options on, so that would explain why I didn't see it there before.

Anyway, I grabbed instrumented copy of method with switch expression and I **do** see instrumentation hits there just fine.

[code]

Problem is not in instrumentation itself (luckily, because it is still good

[2020-09-12 07:10] MarcoRossignoli commented on #936
You should try to add a tmp test like https://github.com/coverlet-coverage/coverlet/blob/master/test/coverlet.core.tests/Coverage/CoverageTests.SelectionStatements.cs#L14 and use `FunctionExecutor.RunInProcess` instead of `FunctionExecutor.Run`, with your sample you can live debug all instumentation and at the end you can only show like reportgenerator outcome here https://github.com/coverlet-cove

[2020-09-12 08:13] MarcoRossignoli commented on #781
@jakubch1 I did some attempt with the .NET tool idea and seems to work(with a caveat)
We can leverage .NET tool version to start a normal startup server process instead to `dotnet test`.
For instance suppose to have a normal asp.net core app in a folder named `C:\git\coverletissue\FunctionalTests\RestApi`

1) Build app
[code]
2) Start dotnet process using coverlet .NET tool driver
[code]
This comm

[2020-09-12 20:51] alexthornton1 commented on #907
I took a crack at fixing this, based on the suggestion by @a-jackson, and that seems to do the trick.

[2020-09-12 21:52] alexthornton1 commented on #914
Out of curiosity, I checked whether my attempted fix of #907 would also address this.  It appears the answer to that is "no".  I started with this example:

[code]

I tried this test (similar to what I added in #907, according to patterns of what was already there):

[code]

Without my #907 fix, there were eight branch points found.  With my #907 fix, there were six branch points found.

So, at th

[2020-09-13 00:03] alexthornton1 commented on #914
I took a crack at this one today, too.  The #914 fix depends on the #907 fix, but I'll create a separate pull request for the #914 fix.  (I can close the pull request for #907 and combine them into one, if you prefer.)

[2020-09-13 00:11] alexthornton1 commented on #914
Working in Debug mode, but not Release mode.  Live and learn!  I'll investigate.

[2020-09-13 02:30] alexthornton1 commented on #914
Fixed (I hope!) in 61e0d9f.

[2020-09-14 07:56] tkukushkin commented on #650
@MarcoRossignoli this issue is still reproducable on coverlet.console 1.7.0.0. We get such error:

[code]

[2020-09-14 08:04] MarcoRossignoli commented on #650
@tkukushkin can you open another issue please this is very old, also can you take a look if you're some antivirus active and in case shutdown for testing?

[2020-09-14 11:18] tkukushkin opened #950 "Coverlet fails on concurrent runs"
Hello!

We write functional tests on python and want to collect coverage from our dotnet applications. Tests start several instances of same dll with different parameters. We used dotcover before and everything was fine. But with coverlet we get such error:
[code]

coverlet.console version: 1.7.0.0

[2020-09-14 12:09] MarcoRossignoli commented on #950
Can you explain how you use coverlet command?Run parallel(on same test file) `coverlet xxx` won't work because file is instrumented and restored at every test run so you'll get concurrent access to same dll during instrumentation.

[2020-09-14 12:09] ming-tsai commented on #930
Hiya 👋,
Any update?

[2020-09-14 12:49] tkukushkin commented on #950
Dll is always the same.
[code]
Maybe there is some workaround for our case?

[2020-09-14 13:03] MarcoRossignoli commented on #950
mmm at the moment no...you need to run tasks in a sequential way. Or use some other way like collectors and run all different test project in parallel, are you running on .NET Framework or .NET Core?

I don't know ho dotcover works, just for curiosity can you attach dotcover run script?

[2020-09-14 13:14] tkukushkin commented on #950
We run .NET Core, but our dll is not test suite, we run real application under coverage, tests written on Python, one test can use several instances of application (for example one instance can be web, second instance can be rabbitmq consumer). After all we merge reports from all application runs in single report.

Our dotcover command:
[code]

[2020-09-14 14:16] MarcoRossignoli commented on #950
You could try something like that https://github.com/coverlet-coverage/coverlet/issues/781#issuecomment-691442083
But with different copy of artifacts

[2020-09-14 14:29] tkukushkin commented on #950
What do you mean by "different copy of artifacts"?

[2020-09-14 14:49] MarcoRossignoli commented on #950
Build one time...move artifacts in different folders fold1/fold2/fold3 and run in parallel `coverlet fold1...` `coverlet fold2...` etc... to avoid concurrent file access on instrumentation.

[2020-09-14 14:58] tkukushkin commented on #950
OK, I understand, thanks!

[2020-09-14 18:36] MarcoRossignoli commented on #930
@ming-tsai Sorry for the delay, busy times I'll take a look asap

[2020-09-14 18:37] ming-tsai commented on #930
Ok @MarcoRossignoli, let me know when has any update

[2020-09-14 18:42] MarcoRossignoli commented on #930
Thanks for the patience and sorry!

[2020-09-14 18:48] #941 closed

[2020-09-14 20:20] ming-tsai commented on #930
Don't worry 🧐, I will use v2.7.0 until fix this issue

[2020-09-15 07:58] #950 closed

[2020-09-15 21:15] wdolek commented on #936
@MarcoRossignoli I spent some time trying to understand what's going on and I have to give up (for now).

### What I tried:
As I wrote before, I can see `switch` between two `if`s (in Debug). If I was following code correctly, `Coverage.CalculateCoverage` behaves somehow expectable - except it gets 0 hits from preceding `if` and marks everything not reached because that `if` spans over exact same

[2020-09-16 13:23] MarcoRossignoli commented on #936
@wdolek every idea/thought is welcome and will help everyone will move on this, thanks a lot for your effort!I'm bit busy but I'll take a look asap and I'll start from your analysis, so many many thanks!

[2020-09-17 15:23] TimHess opened #951 "File path issue with ProjectReference + SourceLink"
Hello,

We're using coverlet in our project and we've been experiencing one of the known issues with the msbuild integration, so I'm working on switching to collectors in [this PR](https://github.com/SteeltoeOSS/Steeltoe/pull/437). Almost everything is working correctly now, except that when tests run with a .NET Framework target and project references are involved, the path for files in the refer

[2020-09-17 15:32] costin-zaharia-sonarsource commented on #936
We hit this problem also on our side. It can be easily reproducible:
[code]

[2020-09-17 20:25] TimHess commented on #951
I was able to get past this issue by setting `<DebugType>full</DebugType>`, which resulted in all file paths in the report showing a local path on the build agent's file system.

I don't know that I care if the code coverage report shows a local path on the build server or the SourceLink path, so long as files don't show up twice. I am interested in hearing if there's a way that it _should_ work o

[2020-09-18 07:39] MarcoRossignoli commented on #951
Thank's for reporting this.

Do you get this issue only on .NET Framework?No issues on .NET Core?

[2020-09-18 12:13] wdolek commented on #936
Not that it changes anything, just be aware that those short switches are actually compiled to bunch of simple `if`s - still, in Debug, all that is sandwiched between empty ifs, where one spans across whole method - which is weird.

@MarcoRossignoli I'm looking forward to see what's wrong here 🤞

[2020-09-18 14:41] TimHess commented on #951
That's correct - on that branch of that repo, most tests run for `net461`, `netcoreapp2.1` and `netcoreapp3.1`. I isolated the issue by just running the tests in Common.sln to get to that conclusion.

I made a [repro](https://github.com/TimHess/FilePathsRepro) that _was_ failing the same way but I must have made some inadvertent change and now it all seems to be working and showing the sourcelink

[2020-09-21 19:39] mcallaghan-bsm commented on #681
This issue has strained on me for an hour.  Due to https://github.com/coverlet-coverage/coverlet#vstest-integration-preferred-due-to-known-issue-supports-only-net-core-application, we have been exploring `vstest` instead of `msbuild` for code coverage.

To my dismay, same as op, there is seemingly no way today to get a simple `reST` (https://thomas-cokelaer.info/tutorials/sphinx/rest_syntax.html)

[2020-09-21 21:45] gitfool commented on #681
@mcallaghan-bsm I went through the same hoops - using a vstest "collector", then report generator for a text summary, and finally scrape the output for GitLab CI. AFAIK, this is the best way until coverlet collector hooks into collector logging to generate the text summary itself.

[2020-09-21 22:53] tonerdo commented on #874
@MarcoRossignoli I'm willing to allow this since it better answers the question "What feature set of coverlet am I currently using?". Feel free to implement this in the next release

[2020-09-21 23:01] PureKrome commented on #681
@mcallaghan-bsm and @gitfool - wow! as a workaround, that's great!!! painful ... but great!

[2020-09-22 09:34] patricksadowski commented on #681
We use an another approach with the coverlet vstest collector on GitLab. Coverlet is configured to output the results as opencover format. After the test run a script extracts the coverage from the report and prints it to console.
[code]

[2020-09-23 12:59] daveMueller commented on #946
I would work on this but I got a questions on how this works. Currently in the test (https://github.com/coverlet-coverage/coverlet/blob/master/test/coverlet.core.tests/Instrumentation/InstrumenterTests.cs#L647) the ```notReachableLines``` are not instrumented even when there is no ```DoesNotReturnAttributes```.
What ever ```DoesNotReturnAttributes``` parameter I pass to the constructor (https://gi

[2020-09-23 13:01] MarcoRossignoli commented on #946
By defauilt `DoesNotReturnAttribute` is always added https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.core/Instrumentation/Instrumenter.cs#L83

New feat allows  also to add new users defined attributes

[2020-09-23 13:10] daveMueller commented on #946
Ahh ok thanks. I didn't check what happens in ```PrepareAttributes(...)``` :see_no_evil:. You can assign this me then.

[2020-09-23 13:11] MarcoRossignoli commented on #946
No worries, thanks!(I know I have your PR on queue)

[2020-09-23 22:51] daveMueller commented on #946
@MarcoRossignoli Could you take a peek at https://github.com/daveMueller/coverlet/blob/946_Integration_Tests/test/coverlet.core.tests/Coverage/CoverageTests.DoesNotReturn.cs.
Is this what you intended? When using the samples in ```Instrumentation.DoesNotReturn.cs``` it doesn't really make sense to pass a ```doesNotReturnAttribute``` to the instrumenter because it defaults to ```DoesNotReturnAttrib

[2020-09-24 11:36] wilbe2013 commented on #781
Hi everyone.

We try to following some instructions were discussed here, but we don't got good results.

We need get coverage of an assembly .exe(Window form .Net framework 4.6.1 ), in a test project with appium(windows driver), is a UI test project, but we don't know how get coverage of that assembly .exe(we launch .exe from that test)

That Windows form app have reference to other assemblies(.dl

[2020-09-24 13:24] MarcoRossignoli commented on #781
Coverlet supports only IL ECMA-335 (.NET) code coverage, we don't support unmanaged environment.

[2020-09-24 15:54] Pankraty commented on #914
We have the same issue and I've prepared a simple repro. Hope it will be useful

[code]
**Expected behavior:** treat TestClass as having 100% test coverage both by lines and by conditions.

**Current behavior:**
This line has 5 out of 10 branches covered:
[code]

This line has 1 of 2 branches covered:
[code]

----
The command line I use is
[code]

Target framework is netcoreapp3.1
Coverlet.MsBuild

[2020-09-24 19:54] MarcoRossignoli commented on #946
Yep we can for now avoid to add the attributes overload to test class, we use build-in `DoesNotReturnAttribute`

[2020-09-24 22:49] FortuneN opened #953 "Visual Studio Addin Contribution"
Hello,

I have been working on a Visual Studio extension that is powered by coverlet.
The goal of the extension to visualize coverlet output inside VS while you code and run tests.
It is free and open source.

- [View in Github](https://github.com/FortuneN/FineCodeCoverage)
- [View in Visual Studio Marketplace](https://marketplace.visualstudio.com/items?itemName=FortuneNgwenya.FineCodeCoverage)

I

[2020-09-25 08:23] MarcoRossignoli commented on #914
Thanks for the repro

[2020-09-25 08:28] MarcoRossignoli commented on #953
Great!

Feel free to update readme with a PR, we'll do some tests with your extension!

cc: @tonerdo @petli

[2020-09-25 09:16] StefanOssendorf commented on #917
Sorry for my way too late response.
Yeah the `CompilerGeneratedAttribute` makes sense. Should have seen that.
Thanks for the link to 497. The skip autoproperties option is awesome. 👍🏻

[2020-09-25 10:49] wilbe2013 commented on #781
HI @MarcoRossignoli , that mean even if i exclude that assembly(.dll in c++) i can't get the coverage with the others assemblies?

[2020-09-25 10:56] MarcoRossignoli commented on #781
No for .NET assemblies should work, are you sure that process after test closes gracefully and not with a kill process?coverlet store data in a processExit event, if process close without that event there is a possibility of missing data coverage, are you able to provide a repro?

[2020-09-25 21:24] ffMathy opened #955 "Document -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=opencover"
I didn't know this option existed: `-- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=opencover` in the commandline variant. It's not documented. It should be shown in the docs.

[2020-09-25 21:33] mateusdemboski opened #956 "Failing to collect code coverage when using .NET Core Fakes preview"
Hello guys! I'm facing a problem here probably related to the `coverlet.collector` package.

I have a .NET Core project for unit tests using the Fakes preview and vstest, but when I try to collect the coverage from the application, an exception is thrown on the method that uses fakes.
Can this be an issue on the coverlet library?

output runing the `vstest.console Extensions.Net.Http.UnitTests.dll

[2020-09-25 22:06] ffMathy opened #957 "Include code coverage for test projects too"
Right now when I generate code coverage reports, my test projects are not listed in the coverage. How come?

Is there a way to include the tests themselves in the coverage?

The reason I am asking is because I am building an integration that needs to detect the execution path for each test, and see what lines of code the given test is affected by.

[2020-09-25 22:15] ffMathy commented on #957
Figured it out.

[2020-09-25 22:15] #957 closed

[2020-09-26 13:53] #953 closed

[2020-09-28 10:24] chungvtran opened #958 "coverlet hang"
Hi everyone,

I have issue when run: dotnet test --no-build /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura
It hang due to it cannot access some pdb file.
I'm using Nunit and the project is .Net 4.7.2

(Inner Exception # 7) System.IO.IOException: The process cannot access file '...\xxx.pdb' because it is being used by another process.

![Screen Shot 2020-09-28 at 5 13 45 PM](https://user

[2020-09-28 15:24] StefanOssendorf commented on #955
Hi. This is documented [here](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md#passing-runsettings-arguments-through-commandline).

[2020-09-29 14:06] StefanOssendorf opened #959 "VSTest integration does not respect SkipAutoProps setting"
Hi,
the VSTest integration does not ignore auto properties during code coverage.
You can finde [here](https://github.com/StefanOssendorf/mwe-coverlet-skipAutoProps-not-working-as-expected) a MWE with a folder where I have generated a report from the coverage file (coverage.cobertura.xml in the linked rep).

According to this [VSTest integration doc](https://github.com/coverlet-coverage/coverlet/bl

[2020-09-30 11:11] ulrichb commented on #328
As of _coverlet.collector 1.3.0_ this still doesn't seem to work:

![image](https://user-images.githubusercontent.com/388796/94678129-50892700-031e-11eb-9467-037e6c929e12.png)

My config:
[code]

[2020-09-30 11:13] ulrichb commented on #328
... oh just saw that #912 has't been released yet. Right?

[2020-10-01 01:32] Malivil commented on #959
This was asked for in #328 and merged in #912 on August 3rd
The last release was in May so this feature hasn't been included in a release yet

I'm looking forward to it too =)

[2020-10-01 07:22] StefanOssendorf commented on #959
Well... I am embarassed now 😅.
Thanks for pointing that out!

[2020-10-01 07:22] #959 closed

[2020-10-01 19:50] MarcoRossignoli commented on #328
Right 😁

[2020-10-02 09:31] FortuneN opened #961 "Unrecognized option '--skipautoprops'"
When trying to use the **--skipautoprops** option i get the message **Unrecognized option '--skipautoprops'**
coverlet.console v1.7.2

The option is documented here : https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/GlobalTool.md

[2020-10-02 09:42] FortuneN opened #962 "Unrecognized option '--does-not-return-attribute'"
When trying to use the **--does-not-return-attribute** option i get the message **Unrecognized option '--does-not-return-attribute'**
coverlet.console v1.7.2

The option is documented here : https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/GlobalTool.md

[2020-10-02 10:43] petli commented on #962
There hasn't yet been a regular release including that feature (see https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Changelog.md).

[2020-10-02 10:43] #962 closed

[2020-10-02 10:44] petli commented on #961
There hasn't yet been a regular release including that feature (see https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Changelog.md).

[2020-10-02 10:44] #961 closed

[2020-10-02 19:50] TimHess commented on #951
It turns out my workaround isn't a real solution as now nuget.org won't validate the symbols package, so I'm back to trying to figure this out again.

Here are the steps to see the issue in the Steeltoe codebase:
[code]

I was pretty sure the issue only happened with `net461`, but today it looks like it's happening for `netcoreapp3.1`  also. `netcoreapp2.1` doesn't seem to have the issue, but I'm

[2020-10-02 20:07] TimHess commented on #951
Here are some logs in case they can help
[logs.zip](https://github.com/coverlet-coverage/coverlet/files/5320047/logs.zip)

[2020-10-03 12:07] MarcoRossignoli commented on #955
Yep is the documentation!
Thanks!

[2020-10-03 12:07] #955 closed

[2020-10-03 12:10] MarcoRossignoli commented on #956
Hi @mateusdemboski,

`/Collect:"Code Coverage"` is not the way to run coverlet the switch to run coverlet is `--collect:"XPlat Code Coverage"`

@jakubch1 do you have any idea?

[2020-10-03 12:13] #956 closed

[2020-10-03 12:15] MarcoRossignoli commented on #958
Which version are you using?
Do you have antivirus running? If so can you try to shutdown? Sometimes they interfere with instrumentation backup/restore

[2020-10-03 12:18] #946 closed

[2020-10-03 12:23] MarcoRossignoli commented on #907
closed in https://github.com/coverlet-coverage/coverlet/pull/949

[2020-10-03 12:23] #907 closed

[2020-10-03 13:21] MarcoRossignoli commented on #878
Close for stale conversation, feel free to reopen if needed!

[2020-10-03 13:21] #878 closed

[2020-10-03 13:21] MarcoRossignoli commented on #881
Close for stale conversation, feel free to reopen if needed!

[2020-10-03 13:21] #881 closed

[2020-10-03 13:23] MarcoRossignoli commented on #886
Closing for now, we'll re-open if others will hit this issue, no more thumbs up here.

[2020-10-03 13:23] #886 closed

[2020-10-03 13:24] MarcoRossignoli commented on #892
close for stale conversation, feel free to reopen if needed!

[2020-10-03 13:24] #892 closed

[2020-10-03 13:25] MarcoRossignoli commented on #911
close for stale conversation, feel free to reopen if needed!

[2020-10-03 13:25] #911 closed

[2020-10-03 13:26] MarcoRossignoli commented on #913
Close for stale conversation feel free to reopen if needed!

[2020-10-03 13:26] #913 closed

[2020-10-03 13:32] MarcoRossignoli commented on #936
other repro https://github.com/danielpalme/ReportGenerator/issues/362#issuecomment-660644441

[2020-10-03 13:32] #903 closed

[2020-10-03 14:11] mateusdemboski commented on #956
Thank you for the answer @MarcoRossignoli!
The same issue occurred when I change the collect parameter to "XPlat Code Coverage".
I will open an issue on the vstest repo!

[2020-10-03 14:19] MarcoRossignoli commented on #956
Ok let us know if is something related to coverlet...but from first glance seems not a coverage issue.

[2020-10-03 14:28] MarcoRossignoli commented on #943
Got it, we could public like a release `/p:PublicRelease=true` and have a sem 2 conformance `coverlet.console.3.0.0-preview.0.nupkg`  https://semver.org/#spec-item-9

cc: @tonerdo @petli

[2020-10-03 14:32] MarcoRossignoli commented on #943
@AArnott is possible have `+` instead of `.`  on non public release version?

` "version": "3.0.0-preview.{height}",` generates something like `1.3.1-preview.24.g6479f627e4` and to be semVer 2 should be `1.3.1-preview.24+g6479f627e4`

[2020-10-03 16:05] MarcoRossignoli commented on #936
After some investigation I found the issue is similar to lambda closure, compiler for new switch pattern emits overlapped sequence point, so we need to understand how to do correct accounting

![image](https://user-images.githubusercontent.com/7894084/94996116-edf48d00-05a2-11eb-9d40-1bd90bd69399.png)

[2020-10-03 22:11] AArnott commented on #943
@MarcoRossignoli Yes, you can make NB.GV generate semver 2-compliant NuGet package versions by adding this to your version.json file:

[code]

[2020-10-03 22:24] AArnott commented on #943
Oh, I misunderstood the question. I think the answer is no.
The reason being that PublicRelease=false is meant to be used on topic branches -- not your default or servicing branches. As such, there can be no assumption of linear versioning as topic branches may have the same height but different content. If we were to include the git commit ID as `+buildMetadata` then both topic branches may build

[2020-10-04 07:51] MarcoRossignoli commented on #943
@AArnott thanks a lot for the clarification, @gitfool do you agree with Andrew?
If so feel free to close this, pre-release versioning seems ok as is(missed the two pre-release info on docs)

[2020-10-04 08:20] gitfool commented on #943
@MarcoRossignoli yes, I linked to the Dependabot issues above, but for some reason thought switching to using metadata for the git sha would help as it would be stripped. However, a quick look at the relevant [Dependabot source](https://github.com/dependabot/dependabot-core/blob/089b6974508610ffa05fe9f44f41123cd6c3f72c/nuget/lib/dependabot/nuget/version.rb#L60-L81) confirms that the prerelease par

[2020-10-04 08:21] #943 closed

[2020-10-04 13:53] AArnott commented on #943
@gitfool The [linked Dependabot issue](https://github.com/dependabot/dependabot-core/issues/2310) is about build metadata. I don't see in the issue description any mention of the bug in its -prerelease identifier sorting. Is there a separate issue for that or are you interested in filing one?

[2020-10-04 19:11] gitfool commented on #943
@AArnott yes, the first issue I referred to was [semver 2.0 versions not handled correctly for nuget pre-release dependencies](https://github.com/dependabot/dependabot-core/issues/1972).

[2020-10-05 06:10] jakubch1 commented on #956
@mateusdemboski is it running without issues when code coverage is disabled?

Regarding dynamic code coverage (--collect "Code Coverage") we are building support for .Fakes currently. It should be available in 16.9 release of Visual Studio. You can check demo of this functionality here: https://devblogs.microsoft.com/visualstudio/visual-studio-2019-v16-8-preview-3-1/

Related feedback ticket: http

[2020-10-05 14:04] ojamte commented on #877
I think that this problem affects me as well. I am using the assembly `Microsoft.Extensions.FileSystemGlobbing.dll` and the wrong version ends up in the `ArtifactStagingDirectory`.
In TFS build, the working directory on the build agent has version `3.100.820.42004`, that is the one I need.
After build, the `ArtifactStagingDirectory` contains version `2.0.1.18051`.

I scanned all the nuget folders,

[2020-10-05 16:45] mateusdemboski commented on #956
Hello @jakubch1, thank you for your answer!

Until now we haven't any problem running vsteste when code coverage is disabled!
So we disabled the code coverage step from our pipeline and we will wait for the VS 16.9 to enable it again.

Tanks for the support of all! 😄

[2020-10-06 02:33] chungvtran-clearwave commented on #958
Hi @MarcoRossignoli,

Thanks for your reply.

I dont' have antivirus running. I also tried to restart the machine but it doesn't work.
I have several test projects but the issue only happen with that one unit test project.
I see that there are 2 instances of dotnet access that pdb file. I tried to set disable parallel test but it still didn't work.

Regards,

[2020-10-06 02:35] chungvtran commented on #958
Hi @MarcoRossignoli,

Thanks for your reply.

I dont' have antivirus running. I also tried to restart the machine but it doesn't work.
I have several test projects but the issue only happen with that one unit test project.
I see that there are 2 instances of dotnet access that pdb file. I tried to set disable parallel test but it still didn't work.

Regards,

[2020-10-06 14:17] clairernovotny commented on #951
Couple thoughts:

1. Can you use either `embedded` or `portable` PDB types? I prefer embedded as no separate snupkg is needed.
2. Use the coverlet.collectors package reference and the 16.7+ MSTest SDK. You'll also need this in your targets until Coverlet updates to use the built-in target: https://github.com/dotnet/reactive/blob/main/Rx.NET/Source/Directory.build.targets#L45-L53
3. You can see how

[2020-10-06 15:31] clairernovotny commented on #900
You should be able to depend on `InitializeSourceRootMappedPaths` to return the `SourceRoot` items directly.
https://github.com/dotnet/roslyn/blob/c64d1e3a7b3e2b6d5a71ca4ceb5848bcd79a0970/src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets#L186-L202

[2020-10-06 15:44] MarcoRossignoli commented on #900
Some notes for version checking https://github.com/novotnyllc/MSBuildSdkExtras/blob/master/Source/MSBuild.Sdk.Extras/Build/RIDs.targets#L145-L151

[2020-10-06 19:33] clairernovotny commented on #951
Coverlet should be getting the map for each project reference here to generate a multi map of project reference to local location:
https://github.com/coverlet-coverage/coverlet/blob/8cf2b3cfde83e042b306cbd1de34828511214283/src/coverlet.collector/build/netstandard1.0/coverlet.collector.targets#L25-L32

Is there a `CoverletSourceRootsMapping` file in your output directory that you can attach here?

[2020-10-06 19:36] TimHess commented on #951
I don't see one

[2020-10-06 19:44] TimHess commented on #951
I was looking in the wrong output and search failed me... found one
[CoverletSourceRootsMapping.zip](https://github.com/coverlet-coverage/coverlet/files/5336303/CoverletSourceRootsMapping.zip)

[2020-10-06 20:19] TimHess commented on #951
OK, so I found something else weird.. This looks like it's happening in test runs for Steeltoe.Common.Net, but _not_ Steeltoe.Common.Http. These both target netstandard2.0, have tests running the same target frameworks and both depend on the same base library... I have no idea what could be different between the two that would cause this behavior to be different

Here are my latest `CoverletSource

[2020-10-07 06:19] FortuneN opened #963 "Does Coverlet ONLY support SDK-style projects"
Is this statement still true?

I ask because it is specified in the README and yet :

- I've tested with a .Net framework (not sdk style) project and it works (Good job!!!)
- It is said that it _NOW_ works in this issue  (May 13, 2019)  -> https://github.com/coverlet-coverage/coverlet/issues/115

I'm using the cli tool (not sure if this makes any difference)

[2020-10-08 16:54] mrcoymeeks commented on #789
Apologize for commenting on a closed issue, but had a related question that might be appropriate to ask here.

I'm able to exclude by namespace using the above runsettings example as a template but I'm only able to get the first exclude to work.  I'd like to exclude multiple namespaces, like this:

[code]

The above results in only Fake.Namespace1 being excluded from the report.  Syntactically, is

[2020-10-09 07:46] MarcoRossignoli commented on #789
Hi @mrcoymeeks you should add namespaces with a comma `,` like in the documentation sample https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md

[code]

[2020-10-09 07:49] MarcoRossignoli commented on #958
Are you running parallel test on the same dlls?

Can you copy/paste the `dotnet` arguments(maybe using something like process explorer) to understand if you're sharing same test folder between more than one tests for some reason.

[2020-10-09 09:06] agentq15 opened #964 "coverlet.console works locally but generates NaN% in Cloud build"
We have a .NET Framework project.
When I run this powershell script locally everything works as expected, but in Azure Devops it only generates NaN%

`$coverlet = "$pwd\coverlet.exe"
& $coverlet $unitTestFile --target "dotnet" --targetargs "test $($unitTestFile) --no-build" --format "cobertura"  --verbosity detailed
gci -Recurse |
?{ $_.Name -eq "coverage.cobertura.xml"} |
%{ &"$pwd\reportgenerato

[2020-10-10 01:24] phaniva commented on #825
@JorTurFer , what are you using to generate the report? I dont know if you looked at [ReportGenerator](https://github.com/danielpalme/ReportGenerator). It has an option to supply sourcedirs as a parameter. I have used your example and was able to generate html report outside of docker with ReportGenerator by supplying sourcedirs parameter.

I tend to agree with @MarcoRossignoli that this feature i

[2020-10-11 08:12] MarcoRossignoli commented on #963
In past we had some issue for some .NET Framework scenario, so if it works in your case ok, but in case of issue related to project style we won't fix to support old style.
So we thought to be "strong" in that statement, also because we'll follow the .NET 5/future roadmap of .NET ecosystem and we'll prioritize .NET "Core" runtimes.

[2020-10-11 08:15] MarcoRossignoli commented on #964
Likely you're hitting a known issue https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test
Can you try with collectors https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md?

[2020-10-11 08:35] agentq15 commented on #964
Collector only works for .NET Core but we use .NET Framework. Any other suggestions?

[2020-10-11 08:59] MarcoRossignoli commented on #964
It depends on project(sometimes it works thanks to same type forward between core/netfx), have you tried?

[2020-10-11 21:49] mrcoymeeks commented on #789
@MarcoRossignoli just what I was looking for, thank you!

[2020-10-12 07:05] agentq15 commented on #964
Tried now and have added the package but I get this
`Data collection : Unable to find a datacollector with friendly name 'XPlat Code Coverage'.
Data collection : Could not find data collector 'XPlat Code Coverage'`
Don't know if I'm doing something wrong.

[2020-10-12 07:13] MarcoRossignoli commented on #964
Can you attach the command line pls?

[2020-10-12 07:20] agentq15 commented on #964
This  doesn't do anything
` dotnet test --collect:"XPlat Code Coverage"`

So this is what got me the message above:
`dotnet vstest <path>\Test\bin\Debug\SDS.App.Test.dll --collect:"XPlat Code Coverage"`

[2020-10-12 07:23] MarcoRossignoli commented on #964
Are you using new project style or old one? https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk?view=vs-2019

[2020-10-12 07:24] MarcoRossignoli commented on #963
Close because answered, feel free to reopen if needed.

[2020-10-12 07:24] #963 closed

[2020-10-12 07:28] agentq15 commented on #964
Old style, unfortunately

[2020-10-12 07:54] MarcoRossignoli commented on #964
Ah coverlet is fully supported only on new project style, apologize but for now you need to wait for this fix https://github.com/microsoft/vstest/issues/2278#issuecomment-586640772
There is a known issue where vstest plat kill test process early and won't let coverlet to gather the hits on files. The only way to fix it is to use collectors that are integrated in vstest pipeline an so vstest plat w

[2020-10-12 08:52] fahadabdulaziz commented on #936
Hello,
Is there any estimate when this issue cloud be resolved or at least workaround.

Thanks

[2020-10-12 09:44] MarcoRossignoli commented on #936
I don't have ETA but I have some ideas that it's better than nothing 😄  I'll try to fix asap!
I apologize for the delay.

[2020-10-12 10:28] fahadabdulaziz commented on #936
Thank you , hope you all the best 👍

[2020-10-12 14:06] danielpalme opened #966 "Coverage of async methods"
I found a case where coverage of an async method is wrong.
I created a minimal repro using `coverlet.collector` 1.3.0.

[code]

The method `ExcecuteInner()` gets executed, but only the `if` statements shows up in coverage results, the other lines are missing:
![image](https://user-images.githubusercontent.com/859606/95754937-0b60df80-0ca4-11eb-8606-e4e815c71dce.png)

If I simplify the `if` stateme

[2020-10-12 14:23] petli commented on #966
This looks very similar to #760 which has been fixed by #896, but not released yet.

[2020-10-12 17:06] mikeblakeuk opened #967 "Why isn't the Azure DevOps build using CodeCoverage?"
Why isn't the Azure DevOps build using CodeCoverage?

https://docs.microsoft.com/en-us/azure/devops/pipelines/test/review-code-coverage-results?view=azure-devops

![image](https://user-images.githubusercontent.com/1986660/95772984-88488500-0cb5-11eb-8f40-939fa516537c.png)

[2020-10-13 08:49] #966 closed

[2020-10-13 16:59] TimHess commented on #951
@clairernovotny do you have any time to look into this, or a direction to point me in to help get this figured out? I have another release I need to ship soon and I need this resolved somehow first

[2020-10-13 17:08] clairernovotny commented on #951
The coverlet team is going to need to look into it. In the interim, what I did when coverlet had issues with deterministic builds was to do the build/pack first, then run the build/dotnet test command with /p:ContinuousIntegrationBuild=false to make it build with local paths for the tests.

[2020-10-13 17:38] MarcoRossignoli commented on #951
Sorry @TimHess for the delay and thanks a lot @clairernovotny for the help 🙇

@TimHess can you confirm that this is a way to repro https://github.com/coverlet-coverage/coverlet/issues/951#issuecomment-702927248 ?

I'll take a look this week

[2020-10-13 17:44] #900 closed

[2020-10-13 17:46] MarcoRossignoli commented on #900
@gitfool pls can you try(tomorrow, we build at midnight) to test with nightly removing the workaround to confirm that with sdk >= 3.1.100 the workaround is not needed anymore? https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/ConsumeNightlyBuild.md

[2020-10-13 19:47] TimHess commented on #951
No problem @MarcoRossignoli - yes, the steps above are consistently reproducing the problem for me

[2020-10-13 21:27] MarcoRossignoli commented on #951
Did some investigation and you're suffering of 3 different issue:
1) you have to pass `--collect:"XPlat Code Coverage"` always on command line or the in process collector won't be injected, if it's not injected you'll suffer again of msbuild known issue so no hit file will be persisted and with no hit file no translation of local file name to source link ones. It's on guide https://github.com/cove

[2020-10-13 21:28] MarcoRossignoli commented on #951
related issue https://github.com/coverlet-coverage/coverlet/issues/705#issuecomment-586733191

[2020-10-13 21:46] MarcoRossignoli commented on #967
I apologize, I don't understand the question, can you elaborate more?

[2020-10-14 00:21] gitfool commented on #900
@MarcoRossignoli it's now midnight (GMT) but I don't see a new preview for [coverlet.collector](https://www.myget.org/feed/coverlet-dev/package/nuget/coverlet.collector). I guess I need to wait another day?

[2020-10-14 07:21] MarcoRossignoli commented on #900
Oh issue with myget quota https://dev.azure.com/tonerdo/coverlet/_build/results?buildId=1197&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=7dae026f-9e99-5d65-075e-3f7579577f94 cc: @tonerdo can you cleanup all version older than last month?

@clairernovotny is there some unlimited nuget feed service provided by foundation?Or what is the most used way by other?

@gitfool I attach here master pa

[2020-10-14 08:11] gitfool commented on #900
@MarcoRossignoli it works!

Specifically, I removed the `Directory.Build.targets` workaround so `coverlet.collector` `1.3.1-preview.27.gdd2237a3be` reported no coverage; then I bumped it to `1.3.1-preview.34` via local NuGet source and it reported coverage as expected. 🎉

[2020-10-14 08:14] MarcoRossignoli commented on #900
Great thanks a lot for your time! Really appreciated!

[2020-10-14 08:15] gitfool commented on #900
You're welcome. If you don't mind me asking, will we see this in a _stable_ release soonish?

[2020-10-14 08:18] MarcoRossignoli commented on #900
Is on plan...but I don't have ETA atm, my desire is to fix other 3 nasty issues and align versions to 3.0.0

Simple ones https://github.com/coverlet-coverage/coverlet/issues/874 https://github.com/coverlet-coverage/coverlet/issues/705 (waiting for vstest team answer)
Complex https://github.com/coverlet-coverage/coverlet/issues/936 every new c# compiler release we have some pain on new pattern

[2020-10-14 12:11] clairernovotny commented on #900
We recommend moving away from MyGet. Artifacts/Pipelines is free for opens source projects so you can use your own account or we can set you up on the .NET Foundation one.

[2020-10-14 12:21] MarcoRossignoli commented on #900
OK thanks!

[2020-10-14 12:23] MarcoRossignoli opened #969 "Move nightly to AzDo"
Move nightly out of myget https://github.com/coverlet-coverage/coverlet/issues/900#issuecomment-708359611

@tonerdo can you enable Artifacts/Pipelines for coverlet AzDo pipeline account?

At the moment the master version are uploaded to my "debug" feed https://f.feedz.io/marcorossignoli/coverletunofficial/nuget/index.json

[2020-10-14 13:37] #951 closed

[2020-10-14 15:31] TimHess commented on #951
Thanks for digging in @MarcoRossignoli!

1. Ah, I forgot that in the repro steps... for what it's worth, our build process has had that this whole time
2. I'm not seeing that version in that feed
3. I'll look into the version upgrade there

[2020-10-14 15:34] MarcoRossignoli commented on #951
We merged today so will be in next coverlet release https://github.com/coverlet-coverage/coverlet/pull/970

For now try with custom build on unofficial and let me know.

[2020-10-14 16:47] #874 closed

[2020-10-14 16:48] MarcoRossignoli commented on #705
closed in https://github.com/coverlet-coverage/coverlet/pull/970

[2020-10-14 16:49] #705 closed

[2020-10-14 20:12] TimHess commented on #951
Ah, the tooling wasn't respecting the change I made the config file (so it wasn't actually looking at that feed when it should have been), that's why I couldn't find that version, sorry about that confusion. The custom build works, and we'll likely include the DiagnosticSource update in our next version, Thank you very much!

[2020-10-14 20:23] TimHess commented on #967
Your builds _are_ running code coverage, but [they aren't publishing the reports](https://dev.azure.com/tonerdo/coverlet/_build/results?buildId=1202&view=codecoverage-tab)...

[2020-10-14 21:32] MarcoRossignoli commented on #967
Ah the question was related to our build?can you confirm @mikeblakeuk ?

[2020-10-14 21:33] MarcoRossignoli commented on #951
Glad to hear that 🤗!

[2020-10-15 10:13] mikeblakeuk commented on #967
Yes - https://dev.azure.com/tonerdo/coverlet/_build/results?buildId=1202&view=results
a) You should use the DevOps code coverage support that lets you download and open the code coverage in Visual Studio.
b) You should use Coverlet reporting to show the code coverage within the DevOps build directly

[2020-10-15 10:58] MarcoRossignoli commented on #967
Thanks for the advice, we used to check on console usually, but we'll improve using AzDo!

[2020-10-15 13:15] mikeblakeuk commented on #967
It would be nice when developer have a PR, they check the coverage
![image](https://user-images.githubusercontent.com/1986660/96131312-ee6d1c00-0ef0-11eb-928e-6d8c000e5480.png)

[2020-10-17 19:59] caghand opened #972 "Failed to get coverage result: Unable to read beyond the end of the stream"
This is a follow-up to issue #718.
We are seeing this issue *even* when using the DataCollector integration ("XPlat Code Coverage").
But it only happens for a .csproj file that has 6500 tests. :)
And it happens once every 5 runs, approximately.

Our package versions:
- Microsoft.NET.Test.Sdk: 16.7.1
- coverlet.collector: 1.3.0

[2020-10-18 14:40] fahadabdulaziz commented on #972
I also get this error:
`
2020-10-18T14:30:16.9285616Z Test Run Successful.
2020-10-18T14:30:16.9285973Z Total tests: 446
2020-10-18T14:30:16.9286228Z      Passed: 446
2020-10-18T14:30:16.9288973Z  Total time: 7.6951 Seconds
2020-10-18T14:30:16.9447417Z
2020-10-18T14:30:16.9447938Z Calculating coverage result...
2020-10-18T14:30:17.3136217Z C:\WINDOWS\ServiceProfiles\NetworkService\.nuget\packages\

[2020-10-18 18:38] caghand commented on #972
@fahadabdulaziz, your situation is a known issue in the *msbuild* integration, addressed in issue #718.  *This* issue is dedicated to investigating the situation where it happens in the *DataCollector* integration (*without* any msbuild integration).

[2020-10-18 20:26] fahadabdulaziz commented on #972
@caghand oh thanks for clarifying that, and sorry for the interruption :-)

[2020-10-19 09:17] MarcoRossignoli commented on #972
@fahadabdulaziz is your project .NET Framework or .NET Core?

[2020-10-19 09:31] caghand commented on #972
Hi @MarcoRossignoli, our project is in .NET Core 3.1.
*But* we are *not* passing "XPlat Code Coverage" on the command line.  We are passing it via a ".runsettings" file.
Our command line looks like this:
`dotnet test <path_to_csproj_file> --no-build --verbosity normal --configuration "$(BuildConfiguration)" /property:Platform="$(BuildPlatform)" --settings test.runsettings`
And test.runsettings con

[2020-10-19 10:38] MarcoRossignoli commented on #972
Yep without passing it to command line in process collector won't be injected(and you'll hit same issue as msbuild), we use runsettings only to pass parameters to coverlet.
This is second time I see this misuse, can you file an issue on https://github.com/microsoft/vstest so I can understand how to fix?

It's on guide https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIn

[2020-10-19 18:45] caghand commented on #972
Thanks for the info!  I have filed an issue about it here: https://github.com/microsoft/vstest/issues/2599 (I hope I explained it correctly there! :))
I think your documentation is pretty clear.  And my first impression was just like you intended: The ".runsettings" file contains DataCollector settings, and the command-line contains which DataCollectors to activate.  But then I noticed an unexpect

[2020-10-19 18:45] #972 closed

[2020-10-21 11:11] aviita commented on #357
Still having issues in getting merge results and allowing to run ReportGenerator from that. Following is the `dotnet test` command I am trying to run. Using coverlet 2.9.0 in my test projects. Getting the merge results works fine untill I add that last part regarding output format. But if I only output the default json I cannot get the ReportGenerator to produce anything valid. And if I use other

[2020-10-21 11:14] aviita commented on #357
And I have tried different variations of this string, all resulting to error of some sort with command above:
[code]

[2020-10-21 11:21] aviita commented on #357
And found my problem, so I am not supposed to put the json file, but only a path to `CoverletOutput` param. Defining json file likely caused coverlet xml to be written to the json file:
[code]

[2020-10-22 00:22] tonerdo commented on #969
@MarcoRossignoli, took a while but I finally figured out how to do it

[2020-10-22 00:25] tonerdo commented on #969
I also created a new feed "coverlet-nightly"

[2020-10-22 01:01] gitfool commented on #969
@tonerdo please post the new link to use for nightly packages so I switch to it. 😄

[2020-10-22 06:11] MarcoRossignoli commented on #969
Super great!I'll update guide asap!
Thanks al lot!

[2020-10-22 15:41] ffMathy opened #973 "Get coverage per test"
Using `coverlet.core`, is it possible to get a "parent line" for a specific hit, to determine the call stack of the covered line?

I want to use that to figure out which tests ran through a specific line.

[2020-10-22 18:04] ffMathy commented on #973
I tried going through the code, but it's a bit too hard to figure out how to debug it properly. Is there a way to debug the tests in the project somehow?

[2020-10-22 19:29] ffMathy commented on #973
Or perhaps it would be nice to just be able to tell what tests ran through a specific line.

[2020-10-23 08:25] mohandass17 opened #974 "Coverlet shows %NAN% average test result in linux server. But in windows its working fine."
Hi Team,
 I am using coverlet for code coverage in my application. While I am running test command in windows its working fine. But in **Linux its showing 100% and **%NAN%** as average**. I tried both test project and solution file in test command both giving the same error.  I am attaching the error screenshot and sample project.
Linux Output
![MicrosoftTeams-image](https://user-images.githubuser

[2020-10-23 09:11] petli commented on #973
I've been curious about getting per-test coverage reports since the file formats tend to support it, but it would require a fair bit of redesign of the hit collection and a challenge to do it efficiently. Right now there is a single `int[]` per module that the hits are recorded into.

My rough idea of what's necessary to do to create this is that you have to change how methods are instrumented so

[2020-10-23 09:14] petli commented on #973
You could do this by scripting your test runs.  `dotnet test -t` lists the tests in a project and iterate over them in a script, and then your script can run test by test by running `dotnet test --filter "$testname" --other-parameters-as-needed-to-get-coverage`.  This will not be very efficient, of course.

[2020-10-23 10:06] ffMathy commented on #973
@petli if I modified `CoverletCoverageCollector` to do what it does right now for every session, to doing it after every run instead, would that have a huge performance penalty?

And would that work for per-test coverage technically?

[2020-10-23 10:11] petli commented on #973
I don't know much about the collector architecture, but it's a good point to investigate that.  May not need any of the call stack analysis or hit array per test, if the array can be fetched and reset between each test instead.  That requires that tests are not run in parallel, but that should be a reasonable restriction.

[2020-10-23 13:08] ffMathy commented on #973
Yeah, that's a reasonable restriction for me.

I'm building a tool that can run only affected tests in dotnet, from looking at your GIT changed files.

[2020-10-23 13:13] ffMathy commented on #973
Is it possible to reset between each test right now? Or is that something I should add?

I'd love to contribute on this.

[2020-10-23 13:19] ffMathy opened #975 "Contribution guide?"
I would love to contribute to this library, but I don't know where to start, or how to "debug" my changes. I tried cloning the repo and running tests, but many of the integration tests fail, and I don't know why.

An explainer in the `README.md` would be good.

[2020-10-23 13:41] MarcoRossignoli commented on #973
@ffMathy can you elaborate better your scenario?

Collectors could a way and I agree with @petli on the complexity related to redesign current implementation to support this, also we should try to avoid inprocess collectors if possible to avoid the needs of too much config for injection(not so user friendly with runsettings), at the moment in process collectors is embedded inside vstest platform a

[2020-10-23 13:45] MarcoRossignoli commented on #974
Likely you're hitting known issue https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test it's a randomic issue.

Can you try with collectors? https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md

[2020-10-23 14:14] MarcoRossignoli commented on #975
I would love to contribute to this library

Hi @ffMathy! At the moment we don't have a great documentation on how to debug stuff so I try to help here with some guidelines(It was on our roadmap):

We have like every other project a lot of unit testing for every part of the application, btw sometimes to understand why some code is not reported correctly we need to run a sort of "integration" test t

[2020-10-24 06:38] ffMathy commented on #973
I want to build a CLI that internally runs tests for you serially (non-parallel) that have been affected by your GIT changes, based on previous coverage.

That's why I want to be able to see what tests ran through a specific line of code.

See the examples given in my other issue here: https://github.com/dotnet/aspnetcore/issues/25194

[2020-10-24 06:41] ffMathy commented on #973
@MarcoRossignoli what do you think about what @petli said here:

Can you point me in the right direction of implementing such reset functionality, or perhaps how to do it?

As I mentioned earlier, I am running all tests serially one at a time, so there is no parallelism.

[2020-10-24 07:53] MarcoRossignoli commented on #973
If I understood well your tool idea is:

1) Run my tests and create a baseline
2) Update code
3) Run only tests where I updated code reading the mapping 'test name' -> lines covered by that test in last run(from/to ranges)

If you want to use coverlet this could be implemented with collectors, specifically with in-process one because it provides [TestStart/TestEnd](https://github.com/coverlet-cove

[2020-10-24 07:54] MarcoRossignoli commented on #973
cc: @tonerdo

[2020-10-24 08:26] InKahootz opened #976 "Setting BaseIntermediateOutputPath or IntermediateOutputPath MSBuild properties in WPF projects causes instrumentation to fail."
I've debugged this quite a bit and the problem is simple. But I'm not sure if I need to take it up here or somewhere in the dotnet repos.

Minimal repro is simple.
1. New solution
2. New WPF (netcore) project
3. New Test project (added coverlet.msbuild too)
4. Create directory.build.props in the solution folder.

[code]

Commands and whether it instrumented correctly.
❌  `> dotnet test /p:CollectC

[2020-10-24 14:41] ffMathy commented on #973
@MarcoRossignoli thank you for that elaborate explanation! However, I still do have some questions.

When would be a good time for a call? I think that's a great idea!

My timezone is UTC+1 though.

Also, how do we make the call? Skype? Discord? Whereby? Zoom?

[2020-10-26 00:54] ffMathy commented on #973
I found a way to get it working I think - I'll have a PR ready soon.

[2020-10-26 10:25] MarcoRossignoli commented on #973
DM on twitter we'll arrange a call on skype https://twitter.com/MarcoRossignoli

[2020-10-27 10:26] MarcoRossignoli commented on #976
When you say metadata you mean data inside pdb?Or you mean this line https://github.com/coverlet-coverage/coverlet/blob/59a3bdbfc889cf969e0265c9dce37ecf095b143b/src/coverlet.core/Helpers/InstrumentationHelper.cs#L167?

[2020-10-27 20:10] sungam3r commented on #942
@MarcoRossignoli Hi, I need your help. I try to solve this issue in my [build](https://github.com/graphql-dotnet/parser/pull/89) but I can't do it even after 100 times. I read the documentation, known issues, all this stuff, but I still have NAN% and empty coverage file:
![изображение](https://user-images.githubusercontent.com/21261007/97356552-7cf67b80-18a9-11eb-9afe-26a26358ba8e.png)

[Here](htt

[2020-10-28 00:10] InKahootz commented on #976
I mean the data from the pdb. You get the document handle, then the doc, and then use the metadatareader to return the docs file path.

The sourceroottranslator doesn’t contain any mapped paths so it doesn’t morph it.

If I could exclude xaml files, then that would be a temporary workaround until the issue is really fixed by the msbuild team. I’ve seen other issues semi-related while researching.

[2020-10-28 08:01] #942 closed

[2020-10-28 08:06] MarcoRossignoli commented on #942
@sungam3r can you file a new issue(this was solved I forgot to close)?
Does it work in your local build(on your pc)?You should use collectors integrator(your project seem netcoreapp so it's fully supported) https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md

[2020-10-28 08:08] MarcoRossignoli commented on #976
Can you link here external issues(msbuild team)?Usually if it's an external issue we link the issue and label as `tracking-external-issue`.

[2020-10-28 11:16] sungam3r opened #982 "Code coverage returns NAN% (empty lcov.info file)"
Relates to #942

@MarcoRossignoli Hi, I need your help. I try to solve this issue in my [build](https://github.com/graphql-dotnet/parser/pull/89) but I can't do it even after 100 times. I read the documentation, known issues, all this stuff, but I still have NAN% and empty coverage file:
![изображение](https://user-images.githubusercontent.com/21261007/97356552-7cf67b80-18a9-11eb-9afe-26a26358ba8e

[2020-10-28 14:40] InKahootz commented on #976
Sorry, I should I clarified that I highly suspect it's msbuild system or roslyn compilation engine, but not 100% confirmed. I don't have an issue tracking it as of this moment.

I will find the correct repo to file an issue in.

Were you able to repro and see the document path metadata in the PDB?

[2020-10-28 15:15] InKahootz commented on #976
Here's a pic of the PDB metadata document table (program is dotPeek).

`BaseIntermediateOutputPath` not set.
![image](https://user-images.githubusercontent.com/1909698/97455976-c9c06d80-190e-11eb-8035-d99c21c81ee9.png)

`BaseIntermediateOutputPath` set.
![image](https://user-images.githubusercontent.com/1909698/97456022-d5139900-190e-11eb-936c-56df9cbfb8a1.png)

[2020-10-30 11:20] sungam3r opened #983 "0% coverage for one-line method"
[code]

[code]

**One of** my tests:
[code]

Results:
[code]

0% line coverage for the first method 😕 , 100% line coverage for the second. Both 100% branch coverage.

And this happens in any method that delegates control through an overload call with a lambda.

[2020-10-30 11:52] sungam3r commented on #983
That was my fault. The lambda was not really called.

[2020-10-30 11:52] #983 closed

[2020-10-31 08:19] MarcoRossignoli commented on #982
![image](https://user-images.githubusercontent.com/7894084/97774664-1cda3080-1b5a-11eb-9f02-78d38b8a67c6.png)

Seem that your filter is wrong, try with `[GraphQL-Parser]*` if you take a look at coverlet output you're not instrumenting anything so no results

[2020-10-31 11:49] sungam3r commented on #982
@MarcoRossignoli  Thank you **VERY VERY** much! I was hoping that everything would be solved simply, and that's how it happened. Just my typo. I finally was able to get test coverage https://coveralls.io/builds/34609689

Although I had to resort to this [workaround](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/DeterministicBuild.md#workaround-only-for-net-core-sdk--31100

[2020-10-31 11:59] MarcoRossignoli commented on #982
It's fixed on master, it'll be part of next release

[2020-10-31 12:59] sungam3r commented on #982
Thank you again.

[2020-10-31 12:59] #982 closed

[2020-11-01 15:41] Totot0 commented on #914
Hello,

I have the same problem with testing a await method. Sonar tells me that the method is partially covered.
I am using coverlet.collector version 1.2.0
When this is resolved

[2020-11-02 06:24] InKahootz commented on #976
Okay, after digging into the Roslyn compiler and seeing the root issue was actually due to the pragma paths in the generated WPF .g.cs files; it seems like this has been filed in the appropriate places already.

See initial bug report: https://github.com/dotnet/wpf/issues/1718
A fix was merged in here: https://github.com/dotnet/wpf/pull/3120
But was reverted: https://github.com/dotnet/wpf/pull/363

[2020-11-02 13:16] CraigChamberlain opened #984 ".NET core SDK only outputting cobertura format"
I have found several examples as follows which work fine:

    dotnet test --collect:"XPlat Code Coverage"

However, I've also read that the following should work

    dotnet test  /p:CollectCoverage=true /p:CoverletOutputFormat=opencover

As I'm trying to output opencover format to upload to Coveralls.io it would be great if I could export in another format.

[2020-11-02 13:26] CraigChamberlain commented on #984
Found an example [here.](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md#coverlet-options-supported-by-vstest-integration):

    dotnet test --collect:"XPlat Code Coverage" --DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=json,cobertura,lcov,teamcity,opencover

However this seems to suggest it does not support the sdk versio

[2020-11-02 13:40] petli commented on #984
Look carefully at the example, it has a space between `--` and the format parameter:

    dotnet test --collect:"XPlat Code Coverage" -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=json,cobertura,lcov,teamcity,opencover

`--` on its own is used to separate parameters to the `dotnet test` command and parameters to the test framework.

[2020-11-02 14:35] CraigChamberlain commented on #984
Hell of a spot.  Thanks so much.  Working a charm now.

C

On Mon, 2 Nov 2020 at 13:40, Peter Liljenberg <notifications@github.com>
wrote:

--
*Craig Chamberlain | **IT Services*
{tel: 07526825153}
{web: www.craigchamberlain.it}

[2020-11-02 15:29] petli commented on #984
Good to hear!

[2020-11-02 15:29] #984 closed

[2020-11-02 23:54] daveMueller commented on #936
@MarcoRossignoli Can I help here somehow? I just took a peek at the IL and see an additional branch point and a sequence point that spans over multiple lines. I guess we could try to find a match for the switch pattern and  ignore the branch point. Still this doesn't seem to be enough.

[2020-11-03 08:41] MarcoRossignoli commented on #936
My idea was bit different, we could count in different way here ~ https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.core/Coverage.cs#L384

We could create some structure to keep the actual accounted line for every sequence, try to explain better, suppose to have 3 overlapped sequence record similar to nested closure or switch:

1 sequence start line 10 end line 18 -> 10 hit
2

[2020-11-03 21:33] AArnott opened #985 "Code coverage rewrite of dll/pdb make crash/hang DMPs less diagnosable"
When my tests hang or crash in Azure Pipelines, I collect a DMP of the test process along with all the dll's and pdb's so I can analyze the failure on my dev box. However the VS debugger tells me that the PDB doesn't match the dll in memory. But debugger tools also tell me the dll and pdb on disk that I have match.

After a few hours of painstaking investigation, @auott and I found that it was cod

[2020-11-03 23:55] daveMueller commented on #936
Yes OK I got it. I will try this and get back to you when I'm facing some issues.

[2020-11-04 11:05] petli commented on #985
If possible I'd recommend running a pure unit test run without code coverage enabled and then a second run that collects code coverage. That way any issues that code coverage measurement may throw up will not give you false errors on the unit tests themselves, and also ensures that you can analyse test failures on unmodified DLLs.

[2020-11-04 15:26] AArnott commented on #985
I *may* have to do that, but as many of our repos take several minutes to run tests, I'd rather not have to run them twice.
Also, they're not all entirely stable, as much as I'd like them to be (thus the DMP analysis being important). So running them twice just gives them twice the chance to fail, but only half the chance to analyze those failures.

[2020-11-05 11:13] tavisca-vkapoor opened #986 "Coverlet doesnot excludes cshtml files from coverage"
Coverlet.MsBuild:- 2.6.3
Framework Used:- .Net Core 2.1
Platform : Linux

Tried below commands

1. dotnet2.1 test csprojfilename /p:CollectCoverage=true /p:CoverletOutputFormat=opencover --logger "trx;LogFileName=TestResults.trx" /p:ExcludeByFile="\**/demo.services.host/Views/**/\*.cshtml\"

2. dotnet2.1 test csprojfilename /p:CollectCoverage=true /p:CoverletOutputFormat=opencover  --logger "trx;L

[2020-11-05 17:18] MarcoRossignoli commented on #985
We could add an argument to specify the backup folder and use it here https://github.com/coverlet-coverage/coverlet/blob/master/src/coverlet.core/Helpers/InstrumentationHelper.cs#L185

cc: @tonerdo what do you think?

[2020-11-05 17:27] MarcoRossignoli commented on #986
What version of coverlet you want to use?It's not clear you said Coverlet Console version:- 1.7.2 but used dotnet test as command

The console sample is https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/GlobalTool.md#code-coverage

[2020-11-05 18:01] tavisca-vkapoor commented on #986
Hey Marco,

Sorry for the wrong details
Things i have used are below
Coverlet.MsBuild:- 2.6.3
Framework Used:- .Net Core 2.1
Platform : Linux

I have also updated the details in original issue.
remaining commands are correct and will remain same.

In the dotnet command, all the files are getting excluded except the cshtml files.

[2020-11-05 18:05] MarcoRossignoli commented on #986
Coverlet instrument only dll assemblies...we cannot instrument any other file, what do you mean for "skip cshtml files"?

[2020-11-05 18:18] tavisca-vkapoor commented on #986
yes, you are right coverlet instruments only dll assemblies. But when we run the code coverage command , module containing the front end files ( .cshtml ) is shown in the report with 0% coverage.
Assembly name:- Demo.Services.Host
Folder containing the frontend files:- Demo.Services.Host.Views

After running the command the output displayed:-
+--------------------------------------------------+---

[2020-11-05 19:13] MarcoRossignoli commented on #986
I think you could use filtering like `[demo.services.host.Views]*`

[2020-11-06 04:59] tavisca-vkapoor commented on #986
Hey Marco, tried the command and working successfully. Thanks for helping out.

[2020-11-06 04:59] #986 closed

[2020-11-06 08:42] MarcoRossignoli commented on #986
Glad to hear!

[2020-11-06 10:42] petli commented on #985
It sounds good, I think.

An extension of that thought: would it be possible to _always_ run the coverage test from a new folder containing instrumented DLLs (and all the ones they depend on, I reckon), rather than replacing the original files in the first place? I don't know if that's possible to do in the vstest or msbuild drivers, though.

[2020-11-06 11:01] MarcoRossignoli commented on #985
I think we could add a switch for "do not restore to unistrumented dll/pdb" and during the "instrumentation" phase did a simple check if the tracker is present inside a dll. Should be fast using reflection only dll load.
So after first run no instrumentation will be done but run test/get report only.

[2020-11-07 20:09] saucecontrol commented on #705
@MarcoRossignoli I'm just now trying to test that fix, but the latest nightly build I see on MyGet is from August.  Are those published somewhere else now?

[2020-11-08 00:57] daveMueller commented on #936
I rapidly prototyped this and at a first glimpse it seemed to work out.

![image](https://user-images.githubusercontent.com/19378678/98453961-40573980-215f-11eb-9e96-9e21f66a008a.png)

Then I tested a bit with ```value``` and  ```switch``` in separate rows and it immediately failed.

![image](https://user-images.githubusercontent.com/19378678/98454032-1d795500-2160-11eb-9566-324a602965bd.png)

Wha

[2020-11-08 07:55] MarcoRossignoli commented on #936
Can you share your test branch so I can clone and debug?

Btw the switch coverage seems good, right? I mean the case are correctly reported?

Does it work with all other tests?

We can try to release a first version with the "correct branch coverage" because it's not so important that last sequence (for the moment). And after try to skip compiler injected branches.

Can you try to run in release?

[2020-11-08 19:53] phaniva opened #987 "Running tests for coverlet hangs"
I downloaded latest code for coverlet and tried to run the tests following instructions in contribution guide.

I am using Windows 10 with dotnet core 3.1 sdk. I have tried with disabling antivirus as well.
The tests kick off but appear to get stuck in the middle without any progress. It always gets stuck at after the below output.
Appreciate any help.

A total of 1 test files matched the specifie

[2020-11-08 23:28] daveMueller commented on #936
Sure but this is really early stage (https://github.com/daveMueller/coverlet/tree/936_SwitchExpression).

Yes cases are correctly reported.

Up to now I didn't test too much. I don't know if I broke something and if the other unit tests are still green.

See next answer.

I checked the IL of the release and this compiler injected branchpoint is gone. Now the result of the implementation is also lo

[2020-11-09 13:12] MarcoRossignoli commented on #936
Usually I ask to do coverage in debug because pdb is more precise/rich but with it there are also more false/true positive/negative. So my opinion here for now is that it's hard have a very precise % on coverage and usually a dev should check % but also take a look at report of branches/lines to understand the needs of more tests. In case of switch I prefer a correct branch cases coverage that a f

[2020-11-09 13:17] MarcoRossignoli commented on #705
Yep we're a bit in trouble with nightly we're moving to AzDo but I'm a bit busy at the moment so sorry, for now you can try on my personal unofficial feeds I use for tmp fixing/test https://f.feedz.io/marcorossignoli/coverletunofficial/nuget/index.json

Last version should work on netfx.

Let me know!
If you're in trouble I can load tmp version for your need. Sorry again.

[2020-11-09 13:59] MarcoRossignoli commented on #987
Thanks for reporting this!

[2020-11-09 14:19] #987 closed

[2020-11-09 14:20] MarcoRossignoli opened #989 "Fix hanging tests"
In https://github.com/coverlet-coverage/coverlet/pull/988 we disabled some tests because are using `System.Console.ReadKey()` and hang during tests.

cc: @daveMueller

[2020-11-09 14:44] MarcoRossignoli commented on #969
@tonerdo when you have time you should fix this script because you have to generate a PAT to authenticate to feeds, some infos

https://docs.microsoft.com/en-us/azure/devops/artifacts/get-started-nuget?view=azure-devops#publish-a-nuget-package-by-using-the-nuget-cli
script to update https://github.com/coverlet-coverage/coverlet/blob/master/eng/nightly.ps1

[2020-11-09 14:45] MarcoRossignoli commented on #969
FYI @saucecontrol

[2020-11-09 19:57] saucecontrol commented on #705
It's no problem at all.  I just wanted to try it out before 3.0 lands since I had a free minute.  Tried the private feed 3.0.0-preview.1, and it's working great now.  Thanks much!

[2020-11-09 21:04] MarcoRossignoli commented on #705
Glad to hear that!

[2020-11-10 07:46] MarcoRossignoli commented on #930
@ming-tsai I cannot repro with your sample
![image](https://user-images.githubusercontent.com/7894084/98644711-308f4f00-2331-11eb-95d2-83af349f6da3.png)
Can you verify that my setup/command line is like your?

[2020-11-10 07:55] MarcoRossignoli commented on #877
Hi guys, can you confirm the private assets configuration for coverlet packages like
[code]
I did a test and also after publish I cannot see nothing related to coverlet in publish folder, can you attach the publish command line?

[2020-11-10 08:15] MarcoRossignoli commented on #357
@aviita sorry for the delay, glad to hear you solve your problem.

[2020-11-10 08:21] MarcoRossignoli commented on #976
Thanks a lot for the investigation!
I'm going to mark external issue.
Feel free to close when will be fixed on runtime.

[2020-11-11 13:46] ming-tsai commented on #930
Hi @MarcoRossignoli, I'm going to test in my pc

[2020-11-11 20:35] jherby2k commented on #969
How can we consume these nightlies? The link in README.md still points to MyGet.

[2020-11-11 20:42] MarcoRossignoli commented on #969
@jherby2k at the moment we're in the middle of movement to new feed for nighty and we don't have a master version available

[2020-11-11 20:44] MarcoRossignoli commented on #969
@jherby2k for now you can use my unofficial feed used for testing is the most updated around https://f.feedz.io/marcorossignoli/coverletunofficial/nuget/index.json

[2020-11-14 14:09] rubberduck203 opened #992 "C# 9 record types show as a miss"
As you can see on line 32, my tests are running the `PathCount` constructor (and are elsewhere calling both getters), but is being registered as a miss.

<img width="1128" alt="image" src="https://user-images.githubusercontent.com/2716800/99148863-3dc17c00-2658-11eb-836c-454d3f0e8183.png">

https://codecov.io/gh/rubberduck203/GitNStats/src/116f2b93ef887097a8c0aac8b2ef7978b2905bb1/src/gitnstats.cor

[2020-11-14 21:09] arabelaa opened #993 "VSTest with coverlet collector fails"
I have a .NETCore 3.1 test project with  `"Microsoft.NET.Test.Sdk" 16.7.1` of and `"coverlet.collector" 1.3.0`.

I am getting an exception when running tests using VSTest (I can't switch to dotnet test approach, unfortunatly - there is a strong requirement to stick to vstest)

`vstest.console.exe --collect:"XPlat Code Coverage"  C:\Projects\test\Web.Tests\bin\Debug\Web.Tests.dll /TestAdapterPath:C

[2020-11-15 22:55] tonerdo commented on #992
Looks like we should be looking for patterns that suggest a record declaration and ignoring that automatically. Haven't had a chance to test Coverlet with .NET 5, but a small repro project will be appreciated

[2020-11-15 23:06] tonerdo commented on #969
Having some auth trouble. Should figure this out soon

[2020-11-15 23:29] paul1956 opened #994 "No errors and results after upgrading project to .Net 5.0.100"
I just upgraded from 3.1.9. to 5.0.1 and instead of results I get below.
[code]
The full project is https://github.com/paul1956/CSharpToVB

[2020-11-16 02:21] rubberduck203 commented on #992
This is as minimal as I could think to make it.
The unit test creates an instance of the record and accesses its property.

This is the console output

[code]

[coverlet-records-repro.zip](https://github.com/coverlet-coverage/coverlet/files/5543717/coverlet-records-repro.zip)

[2020-11-16 09:26] arabelaa commented on #993
I opened an issue on microsoft/vstest repo - https://github.com/microsoft/vstest/issues/2637

[2020-11-16 10:58] MarcoRossignoli commented on #969
np thanks!

[2020-11-16 11:17] MarcoRossignoli commented on #993
Do you have net4x target framework on your projects?

Can you try with the temporary version on my "debug" feed? https://f.feedz.io/marcorossignoli/coverletunofficial/nuget/index.json

[2020-11-16 11:19] arabelaa commented on #993
I added the Framework parameter -`-Framework:".NETCoreApp,Version=v3.1"`

and now I am getting
[code]

[2020-11-16 11:23] MarcoRossignoli commented on #993
The error above seem related to .NET Framework test process that tries to load .NET Core coverlet collectors. This is not supported in coverlet until version `3.0.0`(not released yet).

[2020-11-16 17:18] arabelaa commented on #993
I  used the nuget from the suggested feed https://f.feedz.io/marcorossignoli/coverletunofficial/nuget/index.json and I no longer see the exception.

But now I have other errors with datacollector.exe (our tests create a kestrel process and we assert the response we get from the API)

[code]

[2020-11-16 19:23] arabelaa commented on #993
Looking over https://github.com/coverlet-coverage/coverlet/pull/991 I realized that you don't support API tests (integration tests) coverage. And this will be released in `3.0.0` release. But it still feel strange to see this errors.

[2020-11-16 23:39] daveMueller commented on #936
I got a question regarding coverage of a simple if statement. Has the line coverage for the ```else``` keyword always been 'Not coverable'?

![image](https://user-images.githubusercontent.com/19378678/99319651-2fe34500-286a-11eb-93af-18c65631413a.png)

I ask this because with my current implementation the test ```Lambda_Issue343``` fails. The test requires the ```else``` keyword to be hit. I perso

[2020-11-17 07:33] MarcoRossignoli commented on #936
If it expected in test i think it was hit, you should try to understand why, I don't remember overlapped sequences but my memory could fail. Thanks a lot for the effort Dave.

[2020-11-17 08:35] MarcoRossignoli commented on #993
Seems that there is an issue resolving one assembly `System.Threading.Tasks, Version=4.1.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a`
You app is not a .NET Core one so coverlet cannot try to resolve browsing SDK installed on machine, can you try to copy that assembly on publish folder?

Last error on `GetValueOrDefault()` is a warning no prob for it.

[2020-11-17 11:07] paul1956 commented on #994
This issue was seems caused by changes in Framework names that Visual Studio did but CLI had issues with

[2020-11-17 11:07] #994 closed

[2020-11-17 19:53] eduherminio commented on #900
@MarcoRossignoli Please let us know as soon as you have any ETA for the next stable version.

[2020-11-18 15:08] MarcoRossignoli commented on #936
@daveMueller some more info on this, we can skip generated sequence/branches looking for this pattern https://github.com/dotnet/roslyn/blob/master/docs/compilers/CSharp/Expression%20Breakpoints.md

[2020-11-20 12:06] arabelaa commented on #993
Our app is a .NET Core application. The problem is that the system under test is an API which is hosted in kestrel. And this is not yet supported by coverlet. Do you have a release date for `3.0.0` version?

[2020-11-20 19:06] ming-tsai commented on #930
Hi @MarcoRossignoli, sorry for the late response, you should change the package `coverlet.msbuild` to version `2.9.0` on the Example.Test project.
[code]
Upgrading to `v2.9.0`
![image](https://user-images.githubusercontent.com/37890026/99839907-e46ab880-2b41-11eb-8c0a-cfa8bbad3541.png)

[2020-11-20 19:10] xJom commented on #857
Good thread! I think we are on the same problem here. I managed to install the coverlet.collector.1.3.1-preview.6.g1f7fe02d13, but I can't seem to find the coverlet.msbuild.2.9.1-preview.6.g1f7fe02d13. Did you update to another preview?

[2020-11-20 19:15] ming-tsai commented on #930
Hi @MarcoRossignoli, sorry for the late response, my output is the same as yours but I'm sure that it **is not counting the model properties**.
The v2.7.0 coverage is 100% but on the v2.9.0 is 84%.
Why the previous version is counting and the new version is not? and what should I do with this type of unit test?

[2020-11-20 19:30] MarcoRossignoli commented on #930
I'll take another deep look to understand the counting difference, I'm pretty sure that the culprit is some accounting fix

[2020-11-20 19:33] xJom commented on #857
Maybe I need the coverlet.msbuild, because I have a single test in a single class, causing this lockup, every time, it is not even intermittent for me. Currently, it is not open source code. I will see if I can produce an open example from the code.

The output is:
`
 ---> (Inner Exception #11) System.IO.IOException: The process cannot access the file 'C:\Jenkins\workspace\SharedUI\SharedUI-develo

[2020-11-20 19:37] MarcoRossignoli commented on #857
@xJom I apologize but we're in the middle of nightly migration and at the moment you can try with my unofficial feed I use to debug https://f.feedz.io/marcorossignoli/coverletunofficial/nuget/index.json

Keep the eyes on  https://github.com/coverlet-coverage/coverlet/issues/969

[2020-11-21 15:12] xJom commented on #857
Thanks! I managed to run it with 3.0.0-preview.9 for both coverlet.msbuild and coverlet.collector, but still one file is locking up.
I have run it with both Process Monitor and search for locks in the ProcessExplorer - but I find nothing.

I also run with all parameters:

`dotnet test /nodeReuse:false -m:1 .\XUnit.Coverlet.Collector.csproj /p:ParallelizeTestCollections=false /p:CopyLocalLockFileAs

[2020-11-22 12:31] MarcoRossignoli commented on #857
Strange...keep me informed on it, also pls in case open a new issue this is boiled.

[2020-11-22 12:35] MarcoRossignoli commented on #993
It depends, if the test process opens a port and there some call on it, should work. I mean a scenario like `dotnet test` where the test open port and some client inside test call on that port should work with no problem. Can you describe your scenario?

[2020-11-22 17:49] Anderman opened #996 "Unable to read beyond the end of the stream"
I use the latest versions but still have this error

### cmd
`dotnet.exe test --logger trx --results-directory ...\ --configuration release /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura
`
### Error
[code]
.csproj
[code]

[2020-11-22 19:16] arabelaa commented on #993
Our test process launches a dotnet process using `ProcessStartInfo.Start ` with some launchSettings arguments
[code]

[2020-11-23 16:48] MarcoRossignoli commented on #996
You're suffering of known issue, you should use collectors https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/KnownIssues.md#1-vstest-stops-process-execution-earlydotnet-test

[2020-11-23 16:54] MarcoRossignoli commented on #993
Ok if the process hosts instrumented assemblies should work..I mean if test keep the process alive and shutdown at the end and the `ProcessExit` will fire hits should be collected. Btw it's hard to understand without a complete picture, if you can create a "repro" I can take a look.

[2020-11-23 17:14] xJom opened #997 "Exception: The process cannot access file because it is being used by another process"
Running a test, where UUT has an explicit dependency to an Interface-dll, and the test has an implicit dependency to the same Interface-dll, the data collector cannot access this dll, after calculating coverage.

I have tried the 1.2.0 as well as the latest 3.0.0-preview.9 (for both coverlet.msbuild and coverlet.collector).

The command I run has been enhanced with all previous tips in #857 :
dotn

[2020-11-23 18:59] heaths opened #998 "Unable to instrument module because : Input string was not in a correct format"
Using VSTest integration, we generate coverage reports for our primarily netstandard2.0-targeting assemblies. However, for a subset of assemblies (seemingly the first in a directory listing per service directory, e.g. in https://github.com/azure/azure-sdk-for-net: Azure.Core under sdk/core and Azure.Security.KeyVault.Administration in sdk/keyvault) diagnostic lots on the CI (Azure Pipelines) show

[2020-11-23 19:43] heaths commented on #998
After debugging into this, I found the problem. We have a few classes that put generic params in the file name with curly braces like so (it's a shared file several projects inport):

[code]

This causes a problem with the code in `coverlet.collector.dll!Coverlet.Collector.Utilities.TestPlatformEqtTrace.Verbose(string format, object[] args)`:

[code]

We can rename our files to workaround this, bu

[2020-11-23 19:47] Anderman commented on #996
I use collector integration already see csproj
[code]

[2020-11-23 20:50] MarcoRossignoli commented on #996
Follow this guide to use collectors https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md

The command you're using is for msbuild integration that suffer of known issue above.

[2020-11-23 22:03] heaths commented on #998
Of note, SA1649 when enabled expects file names for generic classes to either elide the type param(s) or use `{T}`. The https://github.com/dotnet/runtime repo disabled SA1649 (we'd rather not, so instead I disabled those warnings for affected files) and more commonly uses `OfT`.

[2020-11-25 07:46] jakubch1 commented on #956
@mateusdemboski please try to reference from your test project https://www.nuget.org/packages/Microsoft.CodeCoverage/16.9.0-preview-20201123-03.  It contains logic to get code coverage for Fakes .NET Core projects.

If it will not help you can try also updating your pipeline to install https://www.nuget.org/packages/Microsoft.TestPlatform/16.9.0-preview-20201123-03 (by adding `Visual Studio test p

[2020-11-25 12:24] arabelaa commented on #993
The test project has integration tests (that call a web application - which is hosted in IIS or Kestrel depending on a configuration).

First question: Is IIS scenario supported? There is a configuration in .runsettings that allows to collect from childProcesses.
[code]
For Kestrel we start the process when the test starts. Something along this lines
[code]

When running
` .\vstest.console.exe /se

[2020-11-25 14:47] pkruk2 opened #1001 "Unable to collect coverage from exe .net framework application"
Hello,

Is it possible to collect application coverage from .net framework executable (console application)?

For example I have created new .net framework 4.7.2 project in Visual Studio and tried to collect coverage using the approach described in [Code Coverage for integration tests and end-to-end tests](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/GlobalTool.md#code-c

[2020-11-26 08:05] MarcoRossignoli commented on #997
To filter out that asm you need to use a runsetting file for collectors, take a look at guide

https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md#advanced-options-supported-via-runsettings

[code]
Please enable also the logging so we can take a look at filtered dll https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#c

[2020-11-26 08:39] MarcoRossignoli commented on #993
Can you share `/diag` files(be sure to not share secrets)
Can you also enable tracker logger to understand how hits are collected https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#enable-injected-tracker-log

Will be supported but not through `dotnet test` command you should publish file somewhere and after use .NET tool to spin up process that host asm to

[2020-11-26 08:48] MarcoRossignoli commented on #998
Hi @heaths thanks a lot for the investigation. We should fix with a replace.

[2020-11-26 08:56] #998 closed

[2020-11-26 09:17] MarcoRossignoli commented on #1001
That feature will be in next release, for not try with

[code]
And set pdb type to portable
![image](https://user-images.githubusercontent.com/7894084/100331463-7e15e800-2fd0-11eb-886e-6a2d68368c8b.png)
[code]

[2020-11-26 10:02] pkruk2 commented on #1001
Thanks, it works like that.

Do you mean support for Full PDBs ? Or something else?

[2020-11-26 10:18] pkrukp opened #1002 "coverlet.exe / application coverage: exception "application does not have a console or when console input has been redirected""
Hello,

I tried to collect application coverage (`coverlet.exe`) from a simple .net core 3.1 console application which reads from standard input (`Console.ReadKey()`). I got an exception. It looks like coverlet.exe does not provide/pass/redirect standard input to the executed program.

The error I got was:

[code]

Attaching the console2 project for your convenience:
[console2.zip](https://github.

[2020-11-26 10:25] MarcoRossignoli commented on #1001
No I mean the possibility to pass as first argument a directory and not a file

[2020-11-26 10:25] MarcoRossignoli commented on #1001
Coverlet uses cecil that support only portable pdb

[2020-11-26 10:33] pkruk2 commented on #1001
I'm pretty sure mono.cecil supports both full and portabl pdb formats? Unless they removed full pdb format support recently (which would be weird...)

[2020-11-26 11:35] MarcoRossignoli commented on #1001
Sorry, I think you're right we support only portable because we use `MetadataReaderProvider.FromPortablePdbImage` to open pdb. I didn't know why at the moment, I started to contribute to coverlet after that.

[2020-11-26 11:58] MarcoRossignoli commented on #1001
So for the moment we support only portable pdb and there is no plan to support full.

[2020-11-26 12:44] MarcoRossignoli commented on #1002
Thanks for reporting this

[2020-11-26 13:02] xJom commented on #997
Yes!
That worked. (And it works with 2.9.1 and 3.0.0-preview.9 both.)
Thank you very much.

[2020-11-26 13:02] #997 closed

[2020-11-26 13:06] MarcoRossignoli commented on #997
Glad to hear that!

[2020-11-26 13:17] MarcoRossignoli commented on #936
@daveMueller how is going with this?Let me know if you're busy so I can go on based on your idea and Jakub hint to skip first branche.

[2020-11-26 14:07] pkruk2 commented on #1001
ok thanks

[2020-11-26 14:52] MarcoRossignoli commented on #1001
Feel free to close if solved

[2020-11-26 14:57] pkruk2 commented on #1001
Well I'd prefer if there was support for Full PDB format. If not, at least documenting this would be useful. From this point of view, I'd prefer to keep this open as "please add full pdb support" or "please document limitation" issue. But if you choose to close it anyway, I'll accept and won't reopen it ;)

[2020-11-26 15:05] MarcoRossignoli commented on #1001
Pls open a new issue for that and I'll tag as requested "feature" and we'll wait for some thumbs up. It's first time we get a request like that but maybe other guys from community need it.

[2020-11-26 15:05] #1001 closed

[2020-11-26 15:11] pkrukp opened #1003 "Please add support for "Full PDB" format"
Currently only Portable PDB format is supported (even though Mono.Cecil should support both). Because of this, collecting coverage from .NET Framework projects is not possible (they use Full PDB by default).

See #1001 for details.

[2020-11-26 15:18] MarcoRossignoli commented on #1003
Clarification, it's possible only changing the debugging information to portable pdb

![image](https://user-images.githubusercontent.com/7894084/100367705-e8e01700-3002-11eb-866a-166b2de2e45b.png)

[2020-11-27 09:49] arabelaa commented on #993
Let me see if I got this right.

If I have a .NET Core app hosted in IIS(w3wp.exe)/kestrel and I have a suite of integration tests I should be able to collect code coverage using coverlet (the preview version which support .netstandard targetframework) - because the IIS process has the dll&pdb and they are available for instrumentation - even if the IIS process was no started by the test process.

[2020-11-27 12:05] MarcoRossignoli commented on #993
Ok thanks for help on investigation...I see only 2 asm instrumented
[code]
And a lot of resolution errors
[code]
Also I don't see in-process collector loaded(host log file).

Are you able to provide a similar repo?I think it's a corner case and need to investigate further.
Or you can try with beta package and `coverlet` tool https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=

[2020-11-27 12:43] JoeMarkov opened #1005 "Include in the documentation how to uninstall coverlet"
I am not able to find how to uninstall coverlet from my system and from my default test templates.

Coverlet does not show up here:

dotnet tool list -g
dotnet tool list

I wish the documentation in the readme.md included this information

[2020-11-27 14:02] MarcoRossignoli commented on #1005
We linked .NET tools guide on readme https://github.com/coverlet-coverage/coverlet#net-global-tool-guide-suffers-of-possible-known-issue if you got to official MS guide you can see standard uninstall command https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools#uninstall-a-tool

[2020-11-27 22:10] arabelaa commented on #993
Thanks for looking into it.

I've attached a simplified example [Scenario.zip](https://github.com/coverlet-coverage/coverlet/files/5609622/Scenario.zip) that reproduces the issue. In `IntegrationTests ` project is visible how I am testing the API using dotnet process (using vstest).

`.\vstest.console.exe /settings:C:\source\repos\Scenario\IntegrationTests\CodeCoverage.runsettings  C:\source\repos

[2020-11-28 08:04] MarcoRossignoli commented on #993
Thanks for repro, I'll take a look asap.

[2020-11-28 23:44] daveMueller commented on #936
@MarcoRossignoli  sorry was a bit busy lately on work. I've prepared PR today but then I've seen your PR and I also think this is the best and quickest solution. I add my thoughts to your PR.

[2020-11-29 16:15] subramaniamb commented on #560
@MarcoRossignoli
I have a Xamarin Forms project which has unit tests written using NUnit targetting .Net Core 3.1. While trying to build the Azure pipeline for the project I am getting a similar error but for a different assembly. Please find below the logs

[code]
Any help is to resolve the issue is highly appreciated. Thanks.

[2020-11-29 16:21] subramaniamb commented on #560
@MarcoRossignoli
I have a Xamarin Forms project which has unit tests written using NUnit targeting .Net Core 3.1. While trying to build the Azure pipeline for the project I am getting a similar error but for a different assembly. Please find below the logs

[code]

[2020-11-30 08:10] MarcoRossignoli commented on #560
@subramaniamb can you open a new issue pls, at first glance seem a different issue, the log seems not related to assembly resolution.

[2020-11-30 10:47] subramaniamb opened #1007 "Unable to instrument module"
I have a Xamarin Forms project which has unit tests written using NUnit targeting .Net Core 3.1. I am unable to get the code coverage generated due to an error/warning. Please find below the logs

[code]

[2020-11-30 10:49] subramaniamb commented on #560
Really appreciate your quick response. [New Issue](https://github.com/coverlet-coverage/coverlet/issues/1007) raised.

[2020-11-30 11:30] JimBobSquarePants commented on #900
Is there a `1.3.1-preview.34` available to anyone else?

[2020-11-30 11:33] MarcoRossignoli commented on #900
We're in the middle of nightly update(https://github.com/coverlet-coverage/coverlet/issues/969) so for the moment the last version is on my tmp feed https://f.feedz.io/marcorossignoli/coverletunofficial/nuget/index.json

[2020-11-30 11:36] JimBobSquarePants commented on #900
Thanks!

[2020-11-30 11:38] MarcoRossignoli commented on #900
Also we consolidate all versions to `3.0.0`(since next release).

[2020-11-30 13:07] mohandass17 commented on #974
Hi ,
I used VSTEST, but that also giving empty coverage file.
I have already included **Microsoft.NET.Test.Sdk** already in the project. Problem in linux Jenkins CI. from visual studio I am getting proper result.
![Empty_Coverage](https://user-images.githubusercontent.com/20855295/100613765-e7944000-32c9-11eb-970f-91e894e46207.jpg)

[2020-11-30 14:46] StefH commented on #900
Hello @MarcoRossignoli , is it possible that you already provide a 3.0.0-preview on NuGet ?

[2020-12-01 13:02] subramaniamb commented on #1007
@MarcoRossignoli : I am kind of stuck with this issue. It would be really helpful if you can take a look at this issue. Thanks.

[2020-12-06 12:50] Confuzed opened #1008 "DeterministicBuild workaround doc version misleading"
## The Problem

I have been trying to work out why my coverage reports were empty when my project is built by GitHub actions. Searching the issues and doc's here I did find the information about the Deterministic workaround ([here](https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/DeterministicBuild.md)). Initially I dismissed the workaround because it states in the title **'

[2020-12-09 14:07] 151812117 opened #1009 "Possibility to support diff coverage"
Hi, is there any possibility to support counting coverage of changed code(including the code that is changed or added ) instead of overall code?
Thanks.

[2020-12-09 15:34] tonyhallett opened #1010 "NuGet coverlet.console does not reflect the repository"
https://www.nuget.org/packages/coverlet.console/ has a dependency on coverlet.core.

The source code for coverlet.console and coverlet.core which it depends on have both been updated since 30/5.

For instance

https://github.com/coverlet-coverage/coverlet/commit/f76078771dba9f6f4ab7c83ab39b57439e9c2274 fixed attribute exclusions.

Before the fix if the custom attribute class did not end with Attri

[2020-12-09 15:40] petli commented on #1009
https://danielpalme.github.io/ReportGenerator/ can create graphs showing the evolution of code coverage by keeping track of previous reports and adding to that history for each run. SonarQube can also show coverage on new code as part of its report on the code health.

I'd recommend looking into adding tools like that to your scripts, since what's new code depends a lot on the context and is not t

[2020-12-10 23:32] pedrofernandesfilho opened #1011 "How mark a csproj to be ignored on collect code coverage?"
Is there a way to mark in csproj to be ignored in the collection?

Maybe with some csproj entry like
[code]

[2020-12-12 16:43] #936 closed

[2020-12-12 16:51] MarcoRossignoli commented on #1008
The issue is that documentation reflect master version, at the moment deterministic workaround is needed for version < 3.1.00 and also there was a bug, fixed on master.

https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Changelog.md#fixed

Take a look at fixed and added section

[2020-12-12 16:53] tonyhallett commented on #1011
Yes.

The correct method is to apply the ExcludeFromCodeCoverage attribute to the assembly, although unfortunately this will not work for .NET Framework as the AttributeUsage does not include Assembly.

The documentation isn't clear that this is possible for all 3 drivers, it only mentions it for the global tool and MSBuild integration

https://github.com/coverlet-coverage/coverlet/blob/master/Doc

[2020-12-12 16:56] MarcoRossignoli commented on #1009
I agree with @petli, I think that compare different coverage session or "elaborate the coverage result" is out of scope of basic "coverage generator tool".
Also because the features of a tool like that has got a lot of possible scenario, ui etc...

[2020-12-12 17:06] #1010 closed

[2020-12-12 17:10] tonyhallett commented on #1008
@MarcoRossignoli when are you releasing v3 proposed for 1/7 ?  It is misleading/confusing when the docs mention features that are only present in nightly.

[2020-12-12 17:32] MarcoRossignoli commented on #1008
I apologize, you're right, past months were a bit chaotic for me and I hadn't enough time to take care of coverlet. Sorry, sometimes OSS has got this kind of problem.
Anyway, I'd like to push new version to official before end of year, I'd like to understand if I can fix also https://github.com/coverlet-coverage/coverlet/issues/992 before that deadline because is a new feature used a lot today.

P

[2020-12-12 17:37] MarcoRossignoli commented on #1011
All three drivers supports filters, so you can pass it(exclude filter) to exclude an assembly from coverage, for instance with runsettings for collectors driver:

`<Exclude>[coverlet.*.tests?]*,[*]Coverlet.Core*</Exclude>`

https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md#advanced-options-supported-via-runsettings

[2020-12-12 17:40] MarcoRossignoli commented on #1011
It should work as is because `nameof` produces the name https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/nameof

[2020-12-12 17:45] MarcoRossignoli commented on #1011
Anyway I think there is a bug for the assembly level exclusion attribute as you pointed out @tonyhallett can you file a new issue for that?

[2020-12-12 17:49] Confuzed commented on #1008
@MarcoRossignoli Obviously the view that consumers will have of the repository is the head of the default branch, so its better when that reflects the latest release rather than the "in development" version. A frustrating situation, but common on GitHub! 🙄

Thank you for the feedback. I'll leave my workaround in place until the next release is available. You can close this issue if you don't inten

[2020-12-12 17:59] MarcoRossignoli commented on #1008
Yep I know, here we were a bit late with the planning so it's our fault. Usually we release after big updates/fix so documentation is not out of synch for much time.

I'll close this for now because I don't have fix to do and I prefer keep backlog clean.

Thanks a lot for your advice and sorry for the "frustration", but thanks for use coverlet!

[2020-12-12 17:59] #1008 closed

[2020-12-12 18:36] tonyhallett commented on #1011
Sorry wasn't referring to the nameof. Should have linked to IsExcludeAttribute which Name checks.

[2020-12-12 18:38] tonyhallett commented on #1011
If I don't get the chance tomorrow I will make a pull request Monday.

[2020-12-12 18:52] MarcoRossignoli commented on #1007
the warning for `Xamarin.Forms.Core.dll` shouldn't be an issue...you don't have source file of that so it's ok that coverlet skip it, it's a warning not an error.
Can you add some logging and attach here?Be sure to not share secrets sometimes it appears in logging
This is the guide https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Troubleshooting.md#msbuild-integration

Also

[2020-12-12 23:16] pedrofernandesfilho commented on #1011
@tonyhallett, thanks by explanation about Assembly Attribute. It worked for me.

[2020-12-14 10:38] tonyhallett opened #1013 "Assembly level attribute exclusion not available to .NET Framework and not extensible"
As per https://github.com/coverlet-coverage/coverlet/issues/1011#issuecomment-743790588

The code needs to follow the same exclusion as for types and methods.

[2020-12-14 23:07] chaoticsoftware opened #1015 "Feature Request: New dotnet tool command for merging results in standalone mode"
N.B. Alert! :)
I just started looking into adopting coverlet for our code coverage purpose. We run tests across many different modules not only with parallelism within the test job, but also across several different jobs running in parallel in our pipeline. Having to run tests in serial would be a huge (and unacceptable) blow back to our pipeline latency. Aside from that, I've noticed from several

[2020-12-15 01:54] QuantifEye opened #1016 "All branches in fixed statement not covered."
I am not sure if this is a bug, or if I am misunderstanding how fixed works.

Here is an example of Report and xml.

![image](https://user-images.githubusercontent.com/20110673/102157577-bd0bc080-3e4d-11eb-977e-a1e027204c12.png)

[code]

[2020-12-15 07:30] subramaniamb commented on #1007
@MarcoRossignoli : I think I figured out the root cause for the issue. If I change the build configuration from Release to Debug, it is working. Any idea why?

[2020-12-15 09:26] petli commented on #1015
You can solve this now by configuring Coverlet to output e.g. cobertura or opencover files instead of it's own format, and then use https://github.com/danielpalme/ReportGenerator to merge them into a single result (as well as applying additional filtering of the results if desired).

(It has been discussed to add separate merge steps, but I can't find the issue for that now.)

[2020-12-15 15:43] fahadabdulaziz commented on #936
@MarcoRossignoli I see this issue is fixed, when do you think we can get the update?

Thank you

[2020-12-15 15:50] MarcoRossignoli commented on #936
Asap, I would try to fix one last issue in record, but if won't work we plan to release before end of year

[2020-12-15 15:53] fahadabdulaziz commented on #936
Thank you.. 👍

[2020-12-15 17:16] tonerdo commented on #1009
Closing this out since there's no further action left to be taken

[2020-12-15 17:16] #1009 closed

[2020-12-15 17:20] tonerdo commented on #1007
@subramaniamb it's a lot more ideal to run code coverage in Debug mode because that is when the structure of the compiled code most resembles the source code. In Release mode, applied optimizations could drastically deviate from the source code

[2020-12-15 17:24] tonerdo commented on #1005
@JoeMarkov, in addition, you'd have to look at Microsoft documentation to figure out how to remove (if possible) Coverlet from the default test templates

[2020-12-15 17:34] tonerdo commented on #1002
I'm not sure if this is something we want to support. My expectation for a console test runner is that it runs to completion in a non-interactive way. I don't think I'll classify it as a bug

[2020-12-15 17:38] MarcoRossignoli commented on #1005
I don't think it's possible remove coverlet from default .NETCore xunit test template cc: @nohwnd

[2020-12-15 17:57] MarcoRossignoli commented on #1015
FYI @jakubch1

[2020-12-15 18:24] chaoticsoftware commented on #1015
Thanks for the suggestion. I agree. Certainly it is possible to do so. There are a couple of things that I'd say to that, which in my opinion makes the flow less than ideal:

1. I need to get the report generator from marketplace and depending on the organization that could mean trouble going through approval process. Not an engineering problem, but a very real one in practice.

2. You already hav

[2020-12-15 18:51] MarcoRossignoli commented on #1015
This was the discussion https://github.com/coverlet-coverage/coverlet/issues/683#issuecomment-576325784

Report generator is used also by AzDo https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/sprint-150-update#cobertura-code-coverage-report-updates
FYI if you need some proof in your approval process

[2020-12-16 08:19] pkruk2 commented on #1002
I thought it simply collects coverage from executed application...

[2020-12-16 08:38] MarcoRossignoli commented on #1002
Since next version we allow e2e test coverage, so maybe also a console app that accepts input could be a use case, what do you think @tonerdo?

[2020-12-16 09:54] hello-ccchen commented on #1007
@MarcoRossignoli I have the same issue for net5.0 as well. 😭

[2020-12-16 10:33] JoeMarkov commented on #1005
oh, its part of the official test template? Perhaps that why I was confused why it was added to my projects and why I wanted to remove it. I though the installer of coverlet injected itself into my standard xunit templates....

[2020-12-16 11:55] jakubch1 commented on #1015
As part of this: https://github.com/microsoft/vstest/issues/1811 effort we will also add extensibility for other data collectors (for example coverlet). Then we also want to onboard coverlet to this logic.

At the end running `dotnet test --collect "XPlat Code Coverage"` should generate 1 coverage report with merged information even when running in parallel.

[2020-12-16 13:37] dcs3spp opened #1019 "Using VSTest How Is It Possible To Display Code Coverage In Console Output So That Gitlab CI And Equivalent CI Servers Can Parse The Output To Produce A Coverage Badge?"
Hi,

Is it possible to get coverage displayed in console output logs when using VSTest? I am using GitLab CI server. This allows developers to parse console output from a pipeline test job to produce a coverage badge.

My current VSTest command and coverlet settings are displayed below:

**VSTest**
[code]

**Coverlet run settings**
[code]

This outputs coverage cobertura files in TestResults file

[2020-12-16 15:46] chaoticsoftware commented on #1015
Thanks @jakubch1 - what is the current timeline on delivering the work? When is 16.9.0?

Also I'm assuming that it would mean reports from a single `dotnet test` would be merged into one file, but if I run multiple instances as in parallel Azure Pipeline jobs for instance, I'd still need to merge myself. Any chance that this utility would be made available for external use too?

[2020-12-16 15:55] pkruk2 commented on #1002
Do you know  when the next version will be available?

[2020-12-16 16:00] petli commented on #1019
The VSTest approach (which is recommended especially in CI situations due to limiations with the msbuild or CLI drivers) cannot output a summary, though perhaps the extensions to VSTest mentioned in the discussion around #1015 might make that possible.

In the meantime, if you already process the files with ReportGenerator you can maybe use one of the several summary report types or the badge repo

[2020-12-16 17:13] dcs3spp commented on #1019
Thanks @petli,

In process of investigating reportgenerator with Badges and TextSummary.
Like the idea of [#1015](https://github.com/coverlet-coverage/coverlet/issues/1015)....

Many thanks, appreciated :)

[2020-12-16 17:13] #1019 closed

[2020-12-17 01:28] ming-tsai commented on #930
Hi @MarcoRossignoli, please update the labels

[2020-12-17 15:46] tonerdo commented on #1002
I prefer to spend more time optimizing for the common case which is usually non-interactive runs in CI servers. Even when using the integration test feature

[2020-12-17 20:33] tonerdo commented on #969
Nightly build feed is now on Azure DevOps: https://pkgs.dev.azure.com/tonerdo/coverlet/_packaging/coverlet-nightly/nuget/v3/index.json

[2020-12-17 21:00] #1013 closed

[2020-12-17 21:46] MarcoRossignoli commented on #969
Great thanks a lot Toni, I'll update the link on guide, keep this issue open until that.

[2020-12-17 22:20] tonerdo commented on #969
@MarcoRossignoli I already have a PR out with the pipeline and documentation updates: https://github.com/coverlet-coverage/coverlet/pull/1020

[2020-12-18 04:53] #969 closed

[2020-12-18 07:05] MarcoRossignoli commented on #1002
Moved to enhancement

@pkruk2 the idea is to release within end of the year.

[2020-12-18 07:39] jakubch1 commented on #1015
Adding @cvpoienaru who is working on the change.

[2020-12-18 10:11] PovilasAtPoq commented on #914
Any forecast when could this be fixed?

I've just literally stumbled upon same issue, that using `await using` creates multiple branches, and google brought me here :)

[2020-12-18 12:52] AbedhBabu opened #1021 "Coverlet is displaying the coverage as zero."
We are using Coverlet to find the code coverage of our application. The UI automation tests are executed via an external tool called Rapise. After execution from TeamCity, the coverage is displaying as zero.

https://www.inflectra.com/Rapise/

Rapise is a tool used to automate Desktop/Windows applications.
SesVSUnit.dll is used to integrate the Rapise test suite with Visual Studio and from Visual

[2020-12-18 23:44] NerdBrez commented on #775
Any update about this issue?

[2020-12-18 23:56] daveMueller commented on #775
@NerdBrez Are you facing the same issue with cobertura report? Could you create a small repro?

[2020-12-19 00:18] NerdBrez commented on #775
Yes, I'm trying to generate a report on my xUnit test. The test project references an .Net framework 4.7.2 web application and performs 8 tests on some MVC controllers.
The tests pass but then coverlet raises the errors when generating the reports:

**dotnet test lqe.web.test --framework net472 --no-build  /p:CollectCoverage=true  /p:CoverletOutput=../TestResults/Coverage/ /p:MergeWith="../TestRes

[2020-12-20 14:37] MarcoRossignoli commented on #1021
Can you elaborate more?Can you write the command line command you're using?

[2020-12-20 14:39] MarcoRossignoli commented on #1005
@JoeMarkov I confirm that coverlet is injected by design to xunit template project.

I'm going to close this as-designed.

Feel free to reopen if needed.

[2020-12-20 14:39] #1005 closed

[2020-12-20 14:41] MarcoRossignoli commented on #1011
I'm going to close this as solved.

Feel free to reopen if needed.

[2020-12-20 14:41] #1011 closed

[2020-12-20 14:43] MarcoRossignoli commented on #1007
@subramaniamb @hello-ccchen  have you tried with collectors driver?

[2020-12-21 01:09] daveMueller commented on #775
Ok thanks. @NerdBrez can you share/attach your project to this issue? Or at least the parts that lead to this issue (maybe the controllers and the tests or so). Otherwise I will try to set up a sample to reproduce this.

[2020-12-21 08:20] jt4000 opened #1024 "About Coverlet"
Hello,

1.
What is the purpose to use this tool?

2.
What benefit can you use when you install Coverlet?

3.
What context is it relevant to use Coverlet? Any example?

Thank you!

[2020-12-21 12:49] Adityanr commented on #1021
These are the commands we have used @AbedhBabu @MarcoRossignoli 👍

1) Using Dotnet Test with Coverlet output: "C:\Program Files\dotnet\dotnet.exe" test UISDKStyle.csproj --configuration Release --no-build --verbosity Normal /property:CollectCoverage=True /property:CoverletOutput=UISDKStyle.opencover.xml /property:CoverletOutputFormat=opencover

2) Using Coverlet.exe directly: C:\Users\abedh\.dotne